In [24]:
import pandas as pd
import numpy as np
import time
from datetime import datetime
import sys
import csv
import os

In [25]:
df = pd.read_csv('out.csv', skiprows=1 ,names=['username', 'query_date', 'report_name', 'doc', 'start_date', 'end_date', 'is_period'])
# df = pd.read_csv('out.csv')

In [26]:
df.head()

,username,query_date,report_name,doc,start_date,end_date,is_period
0,001713,2017-02-10,001713,ODS_UNB_0460,2016-08-31,2016-08-31,True
1,calvin,2017-02-10,calvin,ODS_PA_0500_P,2016-11-30,2016-11-30,True
2,calvin,2017-02-10,calvin,ODS_FIN_0573,NaN,9999-12-31,True
3,user1,2017-02-10,user1,ODS_POS_0990,NaN,9999-12-31,True
4,user1,2017-02-10,user1,ODS_POS_0990,NaN,9999-12-31,True

In [27]:
df.shape

(32323, 7)

In [28]:
# for total data
cwd = os.getcwd()
TotalFolderpath = '/Total_statistic/'
folderName = cwd + TotalFolderpath

if not os.path.exists(folderName):
    os.makedirs(folderName)

user = df['username'].value_counts(0)
doc = df['doc'].value_counts(0)
user_query_date = df['query_date'].value_counts(0)

user.to_csv(folderName + 'user_statistic.csv')
doc.to_csv(folderName + 'doc_statistic.csv')
user_query_date.to_csv(folderName + 'query_date_statistic.csv')

In [29]:
# for different type data
each_user = user.axes[0]
each_doc = doc.axes[0]

In [30]:
def check_file_path_exist(csvName):
    if not os.path.exists(os.path.dirname(csvName)):
        try:
            os.makedirs(os.path.dirname(csvName))
        except OSError as exc: # Guard against race condition
            if exc.errno != errno.EEXIST:
                raise

In [73]:
# for user type
cwd = os.getcwd()
UserFolderpath = '/User_statistic/'
UserClinkFolderpath = '/UserClick_statistic/'

csvFinalName = '_statistic.csv'
UserQueryCSV = 'UserQueryData_statistic.csv'
UserClinkCSV = 'UserClickDoc_statistic.csv'
UserEachDayQueryCSV = 'QueryDoc_statistic.csv'
UserEachDayQueryAllCSV = 'QueryDocAll_statistic.csv'

for user_i in each_user:
    
    csvName = cwd + UserFolderpath + str(user_i) + csvFinalName
    check_file_path_exist(csvName)
    userDF = df.loc[df['username'] == user_i]
    userDF.to_csv(csvName)
    
    # prase for each user : click doc counter for all time
    csvClickDocName = cwd + UserFolderpath + str(user_i)  + '/' + UserClinkCSV
    check_file_path_exist(csvClickDocName)
    userDF_Doc_counter = userDF['doc'].value_counts(0)
    userDF_Doc_counter.to_csv(csvClickDocName)
    
    # prase for each user : click doc counter for each day
    csvQueryDate = cwd + UserFolderpath + str(user_i) + '/' + UserQueryCSV
    check_file_path_exist(csvQueryDate)
    userDF_each_date = userDF['query_date'].value_counts(0)
    userDF_each_date.to_csv(csvQueryDate)
    
    # prase for each user : click each doc counter for each day
    
    user_each_data = userDF_each_date.axes[0]
    for user_each_data_i in user_each_data:
        # save all query data in each date
        userDF_each_data_doc = userDF.loc[userDF['query_date'] == user_each_data_i]
        csvEachDayQueryAllDoc = cwd + UserFolderpath + str(user_i) + '/' + str(user_each_data_i) + '/' + UserEachDayQueryAllCSV
        check_file_path_exist(csvEachDayQueryAllDoc)
        userDF_each_data_doc.to_csv(csvEachDayQueryAllDoc)
        print(userDF_each_data_doc)
        praseuserDF = 

        # save query doc data couter in each date
        user_each_data_doc_query = userDF_each_data_doc['doc'].value_counts(0)
        csvEachDayQueryDoc = cwd + UserFolderpath + str(user_i) + '/' + str(user_each_data_i) + '/' + UserEachDayQueryCSV
        check_file_path_exist(csvEachDayQueryDoc)
        user_each_data_doc_query.to_csv(csvEachDayQueryDoc)
#         print(user_each_data_doc_query)

        each_data_doc = user_each_data_doc_query.axes[0]
#         for each_data_doc_i in each_data_doc:
#             print(each_data_doc)

      username  query_date report_name           doc  start_date    end_date  \
21279     mPOS  2017-04-05        mPOS     report001         NaN         NaN
21280     mPOS  2017-04-05        mPOS  FMT_POS_0130  2015-04-05  2015-04-05
21281     mPOS  2017-04-05        mPOS     report001         NaN         NaN
21282     mPOS  2017-04-05        mPOS  FMT_POS_0130         NaN         NaN
21286     mPOS  2017-04-05        mPOS     report001         NaN         NaN
21287     mPOS  2017-04-05        mPOS     report001         NaN         NaN
21288     mPOS  2017-04-05        mPOS     report001         NaN         NaN
21289     mPOS  2017-04-05        mPOS     report001         NaN         NaN
21290     mPOS  2017-04-05        mPOS     report001         NaN         NaN
21291     mPOS  2017-04-05        mPOS     report001         NaN         NaN
21294     mPOS  2017-04-05        mPOS  FMT_POS_0130  2015-04-05  2015-04-05
21295     mPOS  2017-04-05        mPOS     report001         NaN         NaN
21296     mPOS  2017-04-05        mPOS     report001         NaN         NaN
21298     mPOS  2017-04-05        mPOS   FMT_PA_0710         NaN         NaN
21300     mPOS  2017-04-05        mPOS  FMT_POS_0130  2015-04-05  2015-04-05
21301     mPOS  2017-04-05        mPOS     report001         NaN         NaN
21302     mPOS  2017-04-05        mPOS     report001         NaN         NaN
21303     mPOS  2017-04-05        mPOS     report001         NaN         NaN
21304     mPOS  2017-04-05        mPOS     report001         NaN         NaN
21305     mPOS  2017-04-05        mPOS     report001         NaN         NaN
21306     mPOS  2017-04-05        mPOS     report001         NaN         NaN
21307     mPOS  2017-04-05        mPOS     report001         NaN         NaN
21308     mPOS  2017-04-05        mPOS     report001         NaN         NaN
21319     mPOS  2017-04-05        mPOS  FMT_POS_0130  2015-04-05  2015-04-05
21320     mPOS  2017-04-05        mPOS  FMT_POS_0130  2015-04-05  2015-04-05
21323     mPOS  2017-04-05        mPOS     report001         NaN         NaN
21324     mPOS  2017-04-05        mPOS     report001         NaN         NaN
21325     mPOS  2017-04-05        mPOS     report001         NaN         NaN
21326     mPOS  2017-04-05        mPOS  FMT_UNB_0361         NaN         NaN
21327     mPOS  2017-04-05        mPOS  FMT_UNB_0120         NaN         NaN
...        ...         ...         ...           ...         ...         ...
25824     mPOS  2017-04-05        mPOS   FMT_PA_0980  2015-04-05  2015-04-05
25825     mPOS  2017-04-05        mPOS   FMT_PA_0910  2015-04-05  2015-04-05
25826     mPOS  2017-04-05        mPOS   FMT_PA_0750  2015-04-05  2015-04-05
25827     mPOS  2017-04-05        mPOS  FMT_POS_1670  2015-04-05  2015-04-05
25828     mPOS  2017-04-05        mPOS   FMT_SC_6840  2015-04-05  2015-04-05
25829     mPOS  2017-04-05        mPOS   FMT_SC_6850  2015-04-05  2015-04-05
25830     mPOS  2017-04-05        mPOS  FMT_POS_0130  2015-04-05  2015-04-05
25831     mPOS  2017-04-05        mPOS  FMT_POS_0040  2015-04-05  2015-04-05
25832     mPOS  2017-04-05        mPOS   FMT_PA_0980  2015-04-05  2015-04-05
25833     mPOS  2017-04-05        mPOS   FMT_PA_0910  2015-04-05  2015-04-05
25834     mPOS  2017-04-05        mPOS   FMT_PA_0750  2015-04-05  2015-04-05
25835     mPOS  2017-04-05        mPOS  FMT_POS_1670  2015-04-05  2015-04-05
25836     mPOS  2017-04-05        mPOS   FMT_SC_6840  2015-04-05  2015-04-05
25837     mPOS  2017-04-05        mPOS   FMT_SC_6850  2015-04-05  2015-04-05
25838     mPOS  2017-04-05        mPOS  FMT_POS_0130  2015-04-05  2015-04-05
25839     mPOS  2017-04-05        mPOS  FMT_POS_0040  2015-04-05  2015-04-05
25840     mPOS  2017-04-05        mPOS   FMT_PA_0980  2015-04-05  2015-04-05
25841     mPOS  2017-04-05        mPOS   FMT_PA_0910  2015-04-05  2015-04-05
25842     mPOS  2017-04-05        mPOS   FMT_PA_0750  2015-04-05  2015-04-05
25843     mPOS  2017-04-05        mPOS  FMT_POS_1670  2015-04-05  2015-04-05
25844     mPOS  2017-04-05        mPOS   FMT_SC_6840  2015-04-05  2015-04-05
25845     mPOS  2017-04-05        mPOS   FMT_SC_6850  2015-04-05  2015-04-05
25846     mPOS  2017-04-05        mPOS  FMT_POS_0130  2015-04-05  2015-04-05
25847     mPOS  2017-04-05        mPOS  FMT_POS_0040  2015-04-05  2015-04-05
25848     mPOS  2017-04-05        mPOS   FMT_PA_0980  2015-04-05  2015-04-05
25849     mPOS  2017-04-05        mPOS   FMT_PA_0910  2015-04-05  2015-04-05
25850     mPOS  2017-04-05        mPOS   FMT_PA_0750  2015-04-05  2015-04-05
25851     mPOS  2017-04-05        mPOS  FMT_POS_1670  2015-04-05  2015-04-05
25852     mPOS  2017-04-05        mPOS   FMT_SC_6840  2015-04-05  2015-04-05
25853     mPOS  2017-04-05        mPOS   FMT_SC_6850  2015-04-05  2015-04-05

      is_period
21279      True
21280      True
21281      True
21282      True
21286      True
21287      True
21288      True
21289      True
21290      True
21291      True
21294      True
21295      True
21296      True
21298      True
21300      True
21301      True
21302      True
21303      True
21304      True
21305      True
21306      True
21307      True
21308      True
21319      True
21320      True
21323      True
21324      True
21325      True
21326      True
21327      True
...         ...
25824      True
25825      True
25826      True
25827      True
25828      True
25829      True
25830      True
25831      True
25832      True
25833      True
25834      True
25835      True
25836      True
25837      True
25838      True
25839      True
25840      True
25841      True
25842      True
25843      True
25844      True
25845      True
25846      True
25847      True
25848      True
25849      True
25850      True
25851      True
25852      True
25853      True

[2500 rows x 7 columns]
QQ
      username  query_date report_name           doc  start_date    end_date  \
22794     mPOS  2017-04-10        mPOS  FMT_POS_0190  2015-04-10  2017-04-10
22795     mPOS  2017-04-10        mPOS  FMT_POS_0090  2015-04-10  2017-04-10
22796     mPOS  2017-04-10        mPOS  FMT_POS_0180  2015-04-10  2017-04-10
22797     mPOS  2017-04-10        mPOS     report001         NaN         NaN
22798     mPOS  2017-04-10        mPOS     report001         NaN         NaN
22799     mPOS  2017-04-10        mPOS     report001         NaN         NaN
22800     mPOS  2017-04-10        mPOS     report001         NaN         NaN
22801     mPOS  2017-04-10        mPOS     report001         NaN         NaN
22802     mPOS  2017-04-10        mPOS     report001         NaN         NaN
22803     mPOS  2017-04-10        mPOS     report001         NaN         NaN
22804     mPOS  2017-04-10        mPOS  FMT_POS_0070         NaN         NaN
22805     mPOS  2017-04-10        mPOS  FMT_POS_0080         NaN         NaN
22806     mPOS  2017-04-10        mPOS  FMT_POS_0090         NaN         NaN
22807     mPOS  2017-04-10        mPOS  FMT_POS_0060         NaN         NaN
22808     mPOS  2017-04-10        mPOS  FMT_POS_0310         NaN         NaN
22809     mPOS  2017-04-10        mPOS  FMT_POS_0100         NaN         NaN
22810     mPOS  2017-04-10        mPOS  FMT_POS_0110         NaN         NaN
22811     mPOS  2017-04-10        mPOS  FMT_POS_0340         NaN         NaN
22812     mPOS  2017-04-10        mPOS  FMT_POS_0130         NaN         NaN
22813     mPOS  2017-04-10        mPOS  FMT_POS_0470         NaN         NaN
22814     mPOS  2017-04-10        mPOS  FMT_POS_0150         NaN         NaN
22815     mPOS  2017-04-10        mPOS  FMT_POS_0360         NaN         NaN
22816     mPOS  2017-04-10        mPOS  FMT_POS_0180         NaN         NaN
22817     mPOS  2017-04-10        mPOS  FMT_POS_0270         NaN         NaN
22818     mPOS  2017-04-10        mPOS  FMT_POS_0290         NaN         NaN
22819     mPOS  2017-04-10        mPOS  FMT_POS_0320         NaN         NaN
22820     mPOS  2017-04-10        mPOS  FMT_POS_1570         NaN         NaN
22821     mPOS  2017-04-10        mPOS  FMT_POS_7210         NaN         NaN
22822     mPOS  2017-04-10        mPOS  FMT_POS_7220         NaN         NaN
22823     mPOS  2017-04-10        mPOS  FMT_POS_7230         NaN         NaN
...        ...         ...         ...           ...         ...         ...
28745     mPOS  2017-04-10        mPOS   FMT_PA_0790         NaN         NaN
28746     mPOS  2017-04-10        mPOS   FMT_PA_0710         NaN         NaN
28749     mPOS  2017-04-10        mPOS  FMT_UNB_0091  2015-04-10  2017-04-10
28750     mPOS  2017-04-10        mPOS     report001         NaN         NaN
28751     mPOS  2017-04-10        mPOS     report001         NaN         NaN
28752     mPOS  2017-04-10        mPOS     report001         NaN         NaN
28753     mPOS  2017-04-10        mPOS     report001         NaN         NaN
28754     mPOS  2017-04-10        mPOS     report001         NaN         NaN
28755     mPOS  2017-04-10        mPOS     report001         NaN         NaN
28756     mPOS  2017-04-10        mPOS     report001         NaN         NaN
28757     mPOS  2017-04-10        mPOS     report001         NaN         NaN
28758     mPOS  2017-04-10        mPOS     report001         NaN         NaN
28759     mPOS  2017-04-10        mPOS     report001         NaN         NaN
28760     mPOS  2017-04-10        mPOS     report001         NaN         NaN
28761     mPOS  2017-04-10        mPOS     report001         NaN         NaN
28762     mPOS  2017-04-10        mPOS     report001         NaN         NaN
28763     mPOS  2017-04-10        mPOS     report001         NaN         NaN
28764     mPOS  2017-04-10        mPOS     report001         NaN         NaN
28765     mPOS  2017-04-10        mPOS     report001         NaN         NaN
28766     mPOS  2017-04-10        mPOS     report001         NaN         NaN
28767     mPOS  2017-04-10        mPOS     report001         NaN         NaN
28768     mPOS  2017-04-10        mPOS   FMT_POS_190         NaN         NaN
28771     mPOS  2017-04-10        mPOS   FMT_POS_190         NaN         NaN
28772     mPOS  2017-04-10        mPOS   FMT_POS_190         NaN         NaN
28773     mPOS  2017-04-10        mPOS   FMT_POS_190         NaN         NaN
28775     mPOS  2017-04-10        mPOS   FMT_POS_190         NaN         NaN
28776     mPOS  2017-04-10        mPOS   FMT_POS_190         NaN         NaN
28778     mPOS  2017-04-10        mPOS   FMT_POS_190         NaN         NaN
28779     mPOS  2017-04-10        mPOS   FMT_POS_190         NaN         NaN
28780     mPOS  2017-04-10        mPOS   FMT_POS_190         NaN         NaN

      is_period
22794      True
22795      True
22796      True
22797      True
22798      True
22799      True
22800      True
22801      True
22802      True
22803      True
22804      True
22805      True
22806      True
22807      True
22808      True
22809      True
22810      True
22811      True
22812      True
22813      True
22814      True
22815      True
22816      True
22817      True
22818      True
22819      True
22820      True
22821      True
22822      True
22823      True
...         ...
28745      True
28746      True
28749      True
28750      True
28751      True
28752      True
28753      True
28754      True
28755      True
28756      True
28757      True
28758      True
28759      True
28760      True
28761      True
28762      True
28763      True
28764      True
28765      True
28766      True
28767      True
28768      True
28771      True
28772      True
28773      True
28775      True
28776      True
28778      True
28779      True
28780      True

[1461 rows x 7 columns]
QQ
     username  query_date report_name           doc start_date end_date  \
1763     mPOS  2017-02-17        mPOS  FMT_POS_0070        NaN      NaN
1764     mPOS  2017-02-17        mPOS  FMT_POS_0080        NaN      NaN
1765     mPOS  2017-02-17        mPOS  FMT_POS_0090        NaN      NaN
1766     mPOS  2017-02-17        mPOS  FMT_POS_0310        NaN      NaN
1767     mPOS  2017-02-17        mPOS  FMT_POS_0100        NaN      NaN
1768     mPOS  2017-02-17        mPOS  FMT_POS_0110        NaN      NaN
1769     mPOS  2017-02-17        mPOS  FMT_POS_0340        NaN      NaN
1770     mPOS  2017-02-17        mPOS  FMT_POS_0130        NaN      NaN
1771     mPOS  2017-02-17        mPOS  FMT_POS_0470        NaN      NaN
1772     mPOS  2017-02-17        mPOS  FMT_POS_0150        NaN      NaN
1773     mPOS  2017-02-17        mPOS  FMT_POS_0360        NaN      NaN
1774     mPOS  2017-02-17        mPOS  FMT_POS_0180        NaN      NaN
1775     mPOS  2017-02-17        mPOS  FMT_POS_0270        NaN      NaN
1776     mPOS  2017-02-17        mPOS  FMT_POS_0290        NaN      NaN
1777     mPOS  2017-02-17        mPOS  FMT_POS_0320        NaN      NaN
1778     mPOS  2017-02-17        mPOS  FMT_POS_1570        NaN      NaN
1779     mPOS  2017-02-17        mPOS  FMT_POS_7210        NaN      NaN
1780     mPOS  2017-02-17        mPOS  FMT_POS_7220        NaN      NaN
1781     mPOS  2017-02-17        mPOS  FMT_POS_7230        NaN      NaN
1782     mPOS  2017-02-17        mPOS  ODS_POS_1670        NaN      NaN
1783     mPOS  2017-02-17        mPOS  ODS_POS_7160        NaN      NaN
1784     mPOS  2017-02-17        mPOS   FMT_PA_0850        NaN      NaN
1785     mPOS  2017-02-17        mPOS   FMT_PA_0851        NaN      NaN
1786     mPOS  2017-02-17        mPOS   FMT_PA_0852        NaN      NaN
1787     mPOS  2017-02-17        mPOS   FMT_PA_0853        NaN      NaN
1788     mPOS  2017-02-17        mPOS   FMT_PA_0854        NaN      NaN
1789     mPOS  2017-02-17        mPOS   FMT_PA_0855        NaN      NaN
1790     mPOS  2017-02-17        mPOS   FMT_PA_0930        NaN      NaN
1791     mPOS  2017-02-17        mPOS   FMT_PA_0750        NaN      NaN
1792     mPOS  2017-02-17        mPOS   FMT_PA_0780        NaN      NaN
...       ...         ...         ...           ...        ...      ...
6431     mPOS  2017-02-17        mPOS  ODS_POS_0060        NaN      NaN
6432     mPOS  2017-02-17        mPOS  FMT_POS_0310        NaN      NaN
6433     mPOS  2017-02-17        mPOS  FMT_POS_0100        NaN      NaN
6434     mPOS  2017-02-17        mPOS  FMT_POS_0110        NaN      NaN
6435     mPOS  2017-02-17        mPOS  FMT_POS_0340        NaN      NaN
6436     mPOS  2017-02-17        mPOS  FMT_POS_0130        NaN      NaN
6437     mPOS  2017-02-17        mPOS  FMT_POS_0470        NaN      NaN
6438     mPOS  2017-02-17        mPOS  FMT_POS_0150        NaN      NaN
6439     mPOS  2017-02-17        mPOS  FMT_POS_0360        NaN      NaN
6440     mPOS  2017-02-17        mPOS  FMT_POS_0180        NaN      NaN
6441     mPOS  2017-02-17        mPOS  FMT_POS_0270        NaN      NaN
6442     mPOS  2017-02-17        mPOS  FMT_POS_0290        NaN      NaN
6443     mPOS  2017-02-17        mPOS  FMT_POS_0320        NaN      NaN
6444     mPOS  2017-02-17        mPOS  FMT_POS_1570        NaN      NaN
6445     mPOS  2017-02-17        mPOS  FMT_POS_7210        NaN      NaN
6446     mPOS  2017-02-17        mPOS  FMT_POS_7220        NaN      NaN
6447     mPOS  2017-02-17        mPOS  FMT_POS_7230        NaN      NaN
6448     mPOS  2017-02-17        mPOS  ODS_POS_1670        NaN      NaN
6449     mPOS  2017-02-17        mPOS  ODS_POS_7160        NaN      NaN
6450     mPOS  2017-02-17        mPOS   FMT_PA_0850        NaN      NaN
6451     mPOS  2017-02-17        mPOS   FMT_PA_0851        NaN      NaN
6452     mPOS  2017-02-17        mPOS   FMT_PA_0852        NaN      NaN
6453     mPOS  2017-02-17        mPOS   FMT_PA_0853        NaN      NaN
6454     mPOS  2017-02-17        mPOS   FMT_PA_0854        NaN      NaN
6455     mPOS  2017-02-17        mPOS   FMT_PA_0855        NaN      NaN
6456     mPOS  2017-02-17        mPOS   FMT_PA_0930        NaN      NaN
6457     mPOS  2017-02-17        mPOS   FMT_PA_0750        NaN      NaN
6458     mPOS  2017-02-17        mPOS   FMT_PA_0780        NaN      NaN
6459     mPOS  2017-02-17        mPOS   FMT_PA_0790        NaN      NaN
6460     mPOS  2017-02-17        mPOS   FMT_PA_0710        NaN      NaN

     is_period
1763      True
1764      True
1765      True
1766      True
1767      True
1768      True
1769      True
1770      True
1771      True
1772      True
1773      True
1774      True
1775      True
1776      True
1777      True
1778      True
1779      True
1780      True
1781      True
1782      True
1783      True
1784      True
1785      True
1786      True
1787      True
1788      True
1789      True
1790      True
1791      True
1792      True
...        ...
6431      True
6432      True
6433      True
6434      True
6435      True
6436      True
6437      True
6438      True
6439      True
6440      True
6441      True
6442      True
6443      True
6444      True
6445      True
6446      True
6447      True
6448      True
6449      True
6450      True
6451      True
6452      True
6453      True
6454      True
6455      True
6456      True
6457      True
6458      True
6459      True
6460      True

[1361 rows x 7 columns]
QQ
      username  query_date report_name           doc start_date end_date  \
14690     mPOS  2017-03-24        mPOS  FMT_POS_0290        NaN      NaN
14691     mPOS  2017-03-24        mPOS  FMT_POS_0290        NaN      NaN
14692     mPOS  2017-03-24        mPOS  FMT_POS_0290        NaN      NaN
14693     mPOS  2017-03-24        mPOS  FMT_POS_0290        NaN      NaN
14694     mPOS  2017-03-24        mPOS  FMT_POS_0290        NaN      NaN
14695     mPOS  2017-03-24        mPOS  FMT_POS_0290        NaN      NaN
14696     mPOS  2017-03-24        mPOS  FMT_POS_0360        NaN      NaN
14697     mPOS  2017-03-24        mPOS  FMT_POS_0470        NaN      NaN
14698     mPOS  2017-03-24        mPOS  FMT_POS_0360        NaN      NaN
14787     mPOS  2017-03-24        mPOS  FMT_POS_0180        NaN      NaN
14800     mPOS  2017-03-24        mPOS  FMT_POS_0070        NaN      NaN
14801     mPOS  2017-03-24        mPOS  FMT_POS_0080        NaN      NaN
14802     mPOS  2017-03-24        mPOS  FMT_POS_0090        NaN      NaN
14803     mPOS  2017-03-24        mPOS  FMT_POS_0060        NaN      NaN
14804     mPOS  2017-03-24        mPOS  FMT_POS_0310        NaN      NaN
14805     mPOS  2017-03-24        mPOS  FMT_POS_0100        NaN      NaN
14806     mPOS  2017-03-24        mPOS  FMT_POS_0110        NaN      NaN
14807     mPOS  2017-03-24        mPOS  FMT_POS_0340        NaN      NaN
14808     mPOS  2017-03-24        mPOS  FMT_POS_0130        NaN      NaN
14809     mPOS  2017-03-24        mPOS  FMT_POS_0470        NaN      NaN
14810     mPOS  2017-03-24        mPOS  FMT_POS_0150        NaN      NaN
14811     mPOS  2017-03-24        mPOS  FMT_POS_0360        NaN      NaN
14812     mPOS  2017-03-24        mPOS  FMT_POS_0180        NaN      NaN
14813     mPOS  2017-03-24        mPOS  FMT_POS_0270        NaN      NaN
14814     mPOS  2017-03-24        mPOS  FMT_POS_0290        NaN      NaN
14815     mPOS  2017-03-24        mPOS  FMT_POS_0320        NaN      NaN
14816     mPOS  2017-03-24        mPOS  FMT_POS_1570        NaN      NaN
14817     mPOS  2017-03-24        mPOS  FMT_POS_7210        NaN      NaN
14818     mPOS  2017-03-24        mPOS  FMT_POS_7220        NaN      NaN
14819     mPOS  2017-03-24        mPOS  FMT_POS_7230        NaN      NaN
...        ...         ...         ...           ...        ...      ...
16997     mPOS  2017-03-24        mPOS   FMT_PA_0850        NaN      NaN
16998     mPOS  2017-03-24        mPOS  FMT_POS_1670        NaN      NaN
16999     mPOS  2017-03-24        mPOS   FMT_PA_0851        NaN      NaN
17000     mPOS  2017-03-24        mPOS   FMT_PA_0852        NaN      NaN
17001     mPOS  2017-03-24        mPOS   FMT_PA_0853        NaN      NaN
17002     mPOS  2017-03-24        mPOS   FMT_PA_0854        NaN      NaN
17003     mPOS  2017-03-24        mPOS   FMT_PA_0855        NaN      NaN
17004     mPOS  2017-03-24        mPOS   FMT_PA_0930        NaN      NaN

[477 rows x 7 columns]
QQ
      username  query_date report_name           doc  start_date    end_date  \
30368     mPOS  2017-04-20        mPOS  FMT_UNB_0670         NaN         NaN
30369     mPOS  2017-04-20        mPOS  FMT_UNB_0670         NaN         NaN
30371     mPOS  2017-04-20        mPOS  FMT_UNB_0670         NaN         NaN
30450     mPOS  2017-04-20        mPOS  FMT_POS_0190         NaN         NaN
30585     mPOS  2017-04-20        mPOS  FMT_UNB_0370         NaN         NaN
30593     mPOS  2017-04-20        mPOS  FMT_UNB_0120         NaN         NaN
30603     mPOS  2017-04-20        mPOS  FMT_UNB_0310         NaN         NaN
30941     mPOS  2017-04-20        mPOS  FMT_UNB_0670         NaN         NaN
30943     mPOS  2017-04-20        mPOS  FMT_UNB_0670         NaN         NaN
31242     mPOS  2017-04-20        mPOS  FMT_POS_0060  2014-04-19  2014-04-19
31243     mPOS  2017-04-20        mPOS  FMT_POS_0060  2014-04-19  2014-04-19
31244     mPOS  2017-04-20        mPOS  FMT_POS_0060  2014-04-19  2014-04-19
31245     mPOS  2017-04-20        mPOS  FMT_POS_0060  2014-04-20  2017-04-20
31248     mPOS  2017-04-20        mPOS  FMT_POS_0060  2014-04-20  2017-04-20
31253     mPOS  2017-04-20        mPOS  FMT_POS_0060  2014-04-19  2014-04-19
31254     mPOS  2017-04-20        mPOS  FMT_POS_0060  2014-04-19  2017-04-19
31258     mPOS  2017-04-20        mPOS  FMT_POS_0060  2014-04-19  2017-04-19
31260     mPOS  2017-04-20        mPOS  FMT_POS_0060  2014-04-19  2017-04-19
31385     mPOS  2017-04-20        mPOS  FMT_UNB_0370         NaN         NaN
31399     mPOS  2017-04-20        mPOS  FMT_POS_0060  2014-04-19  2017-04-19
31400     mPOS  2017-04-20        mPOS  FMT_POS_0060  2014-04-19  2017-04-19
31408     mPOS  2017-04-20        mPOS  FMT_POS_0060  2014-04-19  2017-04-19
31646     mPOS  2017-04-20        mPOS     report001         NaN         NaN
31647     mPOS  2017-04-20        mPOS     report001         NaN         NaN
31648     mPOS  2017-04-20        mPOS     report001         NaN         NaN
31649     mPOS  2017-04-20        mPOS     report001         NaN         NaN
31650     mPOS  2017-04-20        mPOS     report001         NaN         NaN
31651     mPOS  2017-04-20        mPOS     report001         NaN         NaN
31652     mPOS  2017-04-20        mPOS     report001         NaN         NaN
31653     mPOS  2017-04-20        mPOS     report001         NaN         NaN
...        ...         ...         ...           ...         ...         ...
32265     mPOS  2017-04-20        mPOS   FMT_PA_0930         NaN         NaN
32266     mPOS  2017-04-20        mPOS   FMT_PA_0780         NaN         NaN
32267     mPOS  2017-04-20        mPOS   FMT_PA_0790         NaN         NaN
32268     mPOS  2017-04-20        mPOS   FMT_PA_0710         NaN         NaN
32269     mPOS  2017-04-20        mPOS  FMT_POS_1670         NaN         NaN
32271     mPOS  2017-04-20        mPOS  FMT_POS_0060  2014-04-20  2017-04-20
32277     mPOS  2017-04-20        mPOS  FMT_POS_0060  2014-04-19  2014-04-19
32283     mPOS  2017-04-20        mPOS  FMT_POS_0060  2014-04-20  2017-04-20
32284     mPOS  2017-04-20        mPOS     report001         NaN         NaN
32285     mPOS  2017-04-20        mPOS     report001         NaN         NaN
32286     mPOS  2017-04-20        mPOS     report001         NaN         NaN
32287     mPOS  2017-04-20        mPOS     report001         NaN         NaN
32288     mPOS  2017-04-20        mPOS     report001         NaN         NaN
32289     mPOS  2017-04-20        mPOS     report001         NaN         NaN
32290     mPOS  2017-04-20        mPOS     report001         NaN         NaN
32291     mPOS  2017-04-20        mPOS     report001         NaN         NaN
32292     mPOS  2017-04-20        mPOS     report001         NaN         NaN
32293     mPOS  2017-04-20        mPOS     report001         NaN         NaN
32294     mPOS  2017-04-20        mPOS     report001         NaN         NaN
32295     mPOS  2017-04-20        mPOS     report001         NaN         NaN
32296     mPOS  2017-04-20        mPOS     report001         NaN         NaN
32297     mPOS  2017-04-20        mPOS     report001         NaN         NaN
32298     mPOS  2017-04-20        mPOS     report001         NaN         NaN
32299     mPOS  2017-04-20        mPOS     report001         NaN         NaN
32300     mPOS  2017-04-20        mPOS     report001         NaN         NaN
32301     mPOS  2017-04-20        mPOS     report001         NaN         NaN
32302     mPOS  2017-04-20        mPOS     report001         NaN         NaN
32303     mPOS  2017-04-20        mPOS     report001         NaN         NaN
32307     mPOS  2017-04-20        mPOS  FMT_POS_0060  2014-04-19  2017-04-19
32311     mPOS  2017-04-20        mPOS  FMT_UNB_0370         NaN         NaN

      is_period
30368      True
30369      True
30371      True
30450      True
30585      True
30593      True
30603      True
30941      True
30943      True
31242      True
31243      True
31244      True
31245      True
31248      True
31253      True
31254      True
31258      True
31260      True
31385      True
31399      True
31400      True
31408      True
31646      True
31647      True
31648      True
31649      True
31650      True
31651      True
31652      True
31653      True
...         ...
32265      True
32266      True
32267      True
32268      True
32269      True
32271      True
32277      True
32283      True
32284      True
32285      True
32286      True
32287      True
32288      True
32289      True
32290      True
32291      True
32292      True
32293      True
32294      True
32295      True
32296      True
32297      True
32298      True
32299      True
32300      True
32301      True
32302      True
32303      True
32307      True
32311      True

[475 rows x 7 columns]
QQ
      username  query_date report_name           doc  start_date    end_date  \
26265     mPOS  2017-04-11        mPOS   FMT_POS_190         NaN         NaN
26266     mPOS  2017-04-11        mPOS   FMT_POS_190         NaN         NaN
26267     mPOS  2017-04-11        mPOS   FMT_POS_190         NaN         NaN
26268     mPOS  2017-04-11        mPOS   FMT_POS_190         NaN         NaN
26269     mPOS  2017-04-11        mPOS   FMT_POS_190         NaN         NaN
26318     mPOS  2017-04-11        mPOS  FMT_POS_0190  2014-04-11  2017-04-11
26319     mPOS  2017-04-11        mPOS  FMT_POS_0190  2014-04-11  2017-04-11
26320     mPOS  2017-04-11        mPOS  FMT_POS_0190  2014-04-11  2017-04-11
26322     mPOS  2017-04-11        mPOS  FMT_POS_0190  2014-04-11  2017-04-11
26324     mPOS  2017-04-11        mPOS  FMT_POS_0190  2014-04-11  2017-04-11
26325     mPOS  2017-04-11        mPOS  FMT_POS_0190  2014-04-11  2017-04-11
26326     mPOS  2017-04-11        mPOS  FMT_POS_0070  2014-04-11  2017-04-11
26327     mPOS  2017-04-11        mPOS  FMT_POS_0080  2014-04-11  2017-04-11
26328     mPOS  2017-04-11        mPOS  FMT_POS_0090  2014-04-11  2017-04-11
26329     mPOS  2017-04-11        mPOS  FMT_POS_0060  2014-04-11  2017-04-11
26330     mPOS  2017-04-11        mPOS  FMT_POS_0310  2014-04-11  2017-04-11
26331     mPOS  2017-04-11        mPOS  FMT_POS_0100  2014-04-11  2017-04-11
26332     mPOS  2017-04-11        mPOS  FMT_POS_0110  2014-04-11  2017-04-11
26333     mPOS  2017-04-11        mPOS  FMT_POS_0340  2014-04-11  2017-04-11
26334     mPOS  2017-04-11        mPOS  FMT_POS_0130  2014-04-11  2017-04-11
26335     mPOS  2017-04-11        mPOS  FMT_POS_0470  2014-04-11  2017-04-11
26336     mPOS  2017-04-11        mPOS  FMT_POS_0150  2014-04-11  2017-04-11
26337     mPOS  2017-04-11        mPOS  FMT_POS_0360  2014-04-11  2017-04-11
26338     mPOS  2017-04-11        mPOS  FMT_POS_0180  2014-04-11  2017-04-11
26339     mPOS  2017-04-11        mPOS  FMT_POS_0270  2014-04-11  2017-04-11
26340     mPOS  2017-04-11        mPOS  FMT_POS_0290  2014-04-11  2017-04-11
26341     mPOS  2017-04-11        mPOS  FMT_POS_0320  2014-04-11  2017-04-11
26342     mPOS  2017-04-11        mPOS  FMT_POS_1570  2014-04-11  2017-04-11
26343     mPOS  2017-04-11        mPOS  FMT_POS_7210  2014-04-11  2017-04-11
26344     mPOS  2017-04-11        mPOS  FMT_POS_7220  2014-04-11  2017-04-11
...        ...         ...         ...           ...         ...         ...
27638     mPOS  2017-04-11        mPOS  FMT_POS_0150  2015-04-11  2017-04-11
27639     mPOS  2017-04-11        mPOS  FMT_POS_0360  2015-04-11  2017-04-11
27640     mPOS  2017-04-11        mPOS  FMT_POS_0180  2015-04-11  2017-04-11
27641     mPOS  2017-04-11        mPOS  FMT_POS_0270  2015-04-11  2017-04-11
27642     mPOS  2017-04-11        mPOS  FMT_POS_0290  2015-04-11  2017-04-11
27643     mPOS  2017-04-11        mPOS  FMT_POS_0320  2015-04-11  2017-04-11
27644     mPOS  2017-04-11        mPOS  FMT_POS_1570  2015-04-11  2017-04-11
27645     mPOS  2017-04-11        mPOS  FMT_POS_7210  2015-04-11  2017-04-11
27646     mPOS  2017-04-11        mPOS  FMT_POS_7220  2015-04-11  2017-04-11
27647     mPOS  2017-04-11        mPOS  FMT_POS_7230  2015-04-11  2017-04-11
27648     mPOS  2017-04-11        mPOS  FMT_POS_1670  2015-04-11  2017-04-11
27649     mPOS  2017-04-11        mPOS   FMT_PA_0850  2015-04-11  2017-04-11
27650     mPOS  2017-04-11        mPOS   FMT_PA_0851  2015-04-11  2017-04-11
27651     mPOS  2017-04-11        mPOS   FMT_PA_0852  2015-04-11  2017-04-11
27652     mPOS  2017-04-11        mPOS   FMT_PA_0853  2015-04-11  2017-04-11
27653     mPOS  2017-04-11        mPOS   FMT_PA_0854  2015-04-11  2017-04-11
27654     mPOS  2017-04-11        mPOS   FMT_PA_0855  2015-04-11  2017-04-11
27655     mPOS  2017-04-11        mPOS   FMT_PA_0930  2015-04-11  2017-04-11
27656     mPOS  2017-04-11        mPOS   FMT_PA_0780  2015-04-11  2017-04-11
27657     mPOS  2017-04-11        mPOS   FMT_PA_0790  2015-04-11  2017-04-11
27658     mPOS  2017-04-11        mPOS   FMT_PA_0710  2015-04-11  2017-04-11
27662     mPOS  2017-04-11        mPOS   FMT_POS_190         NaN         NaN
27663     mPOS  2017-04-11        mPOS   FMT_POS_190         NaN         NaN
27673     mPOS  2017-04-11        mPOS   FMT_POS_190         NaN         NaN
27674     mPOS  2017-04-11        mPOS   FMT_POS_190         NaN         NaN
27702     mPOS  2017-04-11        mPOS   FMT_POS_190         NaN         NaN
27703     mPOS  2017-04-11        mPOS  FMT_POS_0190  2015-04-11  2017-04-11
27704     mPOS  2017-04-11        mPOS  FMT_POS_0190  2014-04-11  2017-04-11
27735     mPOS  2017-04-11        mPOS  FMT_POS_0190         NaN         NaN
27736     mPOS  2017-04-11        mPOS  FMT_POS_0190         NaN         NaN

      is_period
26265      True
26266      True
26267      True
26268      True
26269      True
26318      True
26319      True
26320      True
26322      True
26324      True
26325      True
26326      True
26327      True
26328      True
26329      True
26330      True
26331      True
26332      True
26333      True
26334      True
26335      True
26336      True
26337      True
26338      True
26339      True
26340      True
26341      True
26342      True
26343      True
26344      True
...         ...
27638      True
27639      True
27640      True
27641      True
27642      True
27643      True
27644      True
27645      True
27646      True
27647      True
27648      True
27649      True
27650      True
27651      True
27652      True
27653      True
27654      True
27655      True
27656      True
27657      True
27658      True
27662      True
27663      True
27673      True
27674      True
27702      True
27703      True
27704      True
27735      True
27736      True

[460 rows x 7 columns]
QQ
      username  query_date report_name           doc start_date end_date  \
17511     mPOS  2017-03-31        mPOS     report001        NaN      NaN
17512     mPOS  2017-03-31        mPOS     report001        NaN      NaN
17513     mPOS  2017-03-31        mPOS     report001        NaN      NaN
17514     mPOS  2017-03-31        mPOS     report001        NaN      NaN
17515     mPOS  2017-03-31        mPOS     report001        NaN      NaN
17516     mPOS  2017-03-31        mPOS     report001        NaN      NaN
17517     mPOS  2017-03-31        mPOS     report001        NaN      NaN
17518     mPOS  2017-03-31        mPOS     report001        NaN      NaN
17519     mPOS  2017-03-31        mPOS     report001        NaN      NaN
17523     mPOS  2017-03-31        mPOS     report001        NaN      NaN
17524     mPOS  2017-03-31        mPOS     report001        NaN      NaN
17525     mPOS  2017-03-31        mPOS     report001        NaN      NaN
17526     mPOS  2017-03-31        mPOS     report001        NaN      NaN
17527     mPOS  2017-03-31        mPOS     report001        NaN      NaN
17528     mPOS  2017-03-31        mPOS     report001        NaN      NaN
17529     mPOS  2017-03-31        mPOS     report001        NaN      NaN
17530     mPOS  2017-03-31        mPOS     report001        NaN      NaN
17531     mPOS  2017-03-31        mPOS     report001        NaN      NaN
17532     mPOS  2017-03-31        mPOS     report001        NaN      NaN
17533     mPOS  2017-03-31        mPOS     report001        NaN      NaN
17534     mPOS  2017-03-31        mPOS     report001        NaN      NaN
17536     mPOS  2017-03-31        mPOS  FMT_POS_0190        NaN      NaN
17553     mPOS  2017-03-31        mPOS  FMT_POS_0070        NaN      NaN
17554     mPOS  2017-03-31        mPOS  FMT_POS_0080        NaN      NaN
17555     mPOS  2017-03-31        mPOS  FMT_POS_0090        NaN      NaN
17556     mPOS  2017-03-31        mPOS  FMT_POS_0060        NaN      NaN
17557     mPOS  2017-03-31        mPOS  FMT_POS_0310        NaN      NaN
17558     mPOS  2017-03-31        mPOS  FMT_POS_0100        NaN      NaN
17559     mPOS  2017-03-31        mPOS  FMT_POS_0110        NaN      NaN
17560     mPOS  2017-03-31        mPOS  FMT_POS_0340        NaN      NaN
...        ...         ...         ...           ...        ...      ...
21082     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21083     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21084     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21085     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21086     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21098     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21099     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21100     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21101     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21102     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21103     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21104     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21105     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21106     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21107     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21108     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21109     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21111     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21112     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21113     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21132     mPOS  2017-03-31        mPOS  FMT_POS_0190        NaN      NaN
21133     mPOS  2017-03-31        mPOS  FMT_POS_0190        NaN      NaN
21134     mPOS  2017-03-31        mPOS  FMT_POS_0190        NaN      NaN
21135     mPOS  2017-03-31        mPOS  FMT_POS_0190        NaN      NaN
21149     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21150     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21151     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21152     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21153     mPOS  2017-03-31        mPOS     report001        NaN      NaN
21154     mPOS  2017-03-31        mPOS     report001        NaN      NaN

      is_period
17511      True
17512      True
17513      True
17514      True
17515      True
17516      True
17517      True
17518      True
17519      True
17523      True
17524      True
17525      True
17526      True
17527      True
17528      True
17529      True
17530      True
17531      True
17532      True
17533      True
17534      True
17536      True
17553      True
17554      True
17555      True
17556      True
17557      True
17558      True
17559      True
17560      True
...         ...
21082      True
21083      True
21084      True
21085      True
21086      True
21098      True
21099      True
21100      True
21101      True
21102      True
21103      True
21104      True
21105      True
21106      True
21107      True
21108      True
21109      True
21111      True
21112      True
21113      True
21132      True
21133      True
21134      True
21135      True
21149      True
21150      True
21151      True
21152      True
21153      True
21154      True

[455 rows x 7 columns]
QQ
      username  query_date report_name           doc start_date end_date  \
17499     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17500     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17501     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17502     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17503     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17504     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17507     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17508     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17509     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17627     mPOS  2017-03-30        mPOS   FMT_PA_0710        NaN      NaN
17698     mPOS  2017-03-30        mPOS  FMT_UNB_0650        NaN      NaN
17701     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17702     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17730     mPOS  2017-03-30        mPOS  FMT_UNB_0201        NaN      NaN
17732     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17733     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17734     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17735     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17742     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17743     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17744     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17745     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17747     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17748     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17754     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17755     mPOS  2017-03-30        mPOS     report001        NaN      NaN
17756     mPOS  2017-03-30        mPOS  FMT_POS_0070        NaN      NaN
17757     mPOS  2017-03-30        mPOS  FMT_POS_0080        NaN      NaN
17758     mPOS  2017-03-30        mPOS  FMT_POS_0090        NaN      NaN
17759     mPOS  2017-03-30        mPOS  FMT_POS_0060        NaN      NaN
...        ...         ...         ...           ...        ...      ...
20959     mPOS  2017-03-30        mPOS  FMT_POS_0150        NaN      NaN
20960     mPOS  2017-03-30        mPOS  FMT_POS_0360        NaN      NaN
20961     mPOS  2017-03-30        mPOS  FMT_POS_0180        NaN      NaN
20962     mPOS  2017-03-30        mPOS  FMT_POS_0270        NaN      NaN
20963     mPOS  2017-03-30        mPOS  FMT_POS_0290        NaN      NaN
20964     mPOS  2017-03-30        mPOS  FMT_POS_0320        NaN      NaN

     username  query_date report_name           doc start_date end_date  \
4291     mPOS  2017-03-02        mPOS  FMT_POS_0070        NaN      NaN
4292     mPOS  2017-03-02        mPOS  FMT_POS_0080        NaN      NaN
4293     mPOS  2017-03-02        mPOS  FMT_POS_0090        NaN      NaN
4294     mPOS  2017-03-02        mPOS  FMT_POS_0310        NaN      NaN
4295     mPOS  2017-03-02        mPOS  FMT_POS_0060        NaN      NaN
4296     mPOS  2017-03-02        mPOS  FMT_POS_0100        NaN      NaN
4297     mPOS  2017-03-02        mPOS  FMT_POS_0110        NaN      NaN
4298     mPOS  2017-03-02        mPOS  FMT_POS_0340        NaN      NaN
4299     mPOS  2017-03-02        mPOS  FMT_POS_0130        NaN      NaN
4300     mPOS  2017-03-02        mPOS  FMT_POS_0470        NaN      NaN
4301     mPOS  2017-03-02        mPOS  FMT_POS_0150        NaN      NaN
4302     mPOS  2017-03-02        mPOS  FMT_POS_0360        NaN      NaN
4303     mPOS  2017-03-02        mPOS  FMT_POS_0180        NaN      NaN
4304     mPOS  2017-03-02        mPOS  FMT_POS_0270        NaN      NaN
4305     mPOS  2017-03-02        mPOS  FMT_POS_0290        NaN      NaN
4306     mPOS  2017-03-02        mPOS  FMT_POS_0320        NaN      NaN
4307     mPOS  2017-03-02        mPOS  FMT_POS_1570        NaN      NaN
4308     mPOS  2017-03-02        mPOS  FMT_POS_7210        NaN      NaN
4309     mPOS  2017-03-02        mPOS  FMT_POS_7220        NaN      NaN
4310     mPOS  2017-03-02        mPOS  FMT_POS_7230        NaN      NaN
4311     mPOS  2017-03-02        mPOS   FMT_PA_0850        NaN      NaN
4312     mPOS  2017-03-02        mPOS  FMT_POS_1670        NaN      NaN
4313     mPOS  2017-03-02        mPOS   FMT_PA_0851        NaN      NaN
4314     mPOS  2017-03-02        mPOS   FMT_PA_0852        NaN      NaN
4315     mPOS  2017-03-02        mPOS   FMT_PA_0853        NaN      NaN
4316     mPOS  2017-03-02        mPOS   FMT_PA_0854        NaN      NaN
4317     mPOS  2017-03-02        mPOS   FMT_PA_0855        NaN      NaN
4318     mPOS  2017-03-02        mPOS   FMT_PA_0930        NaN      NaN
4319     mPOS  2017-03-02        mPOS   FMT_PA_0750        NaN      NaN
4320     mPOS  2017-03-02        mPOS   FMT_PA_0780        NaN      NaN
...       ...         ...         ...           ...        ...      ...
8439     mPOS  2017-03-02        mPOS  FMT_POS_0070        NaN      NaN
8440     mPOS  2017-03-02        mPOS  FMT_POS_0080        NaN      NaN
8441     mPOS  2017-03-02        mPOS  FMT_POS_0090        NaN      NaN
8442     mPOS  2017-03-02        mPOS  FMT_POS_0310        NaN      NaN
8443     mPOS  2017-03-02        mPOS  FMT_POS_0100        NaN      NaN
8444     mPOS  2017-03-02        mPOS  FMT_POS_0110        NaN      NaN
8445     mPOS  2017-03-02        mPOS  FMT_POS_0340        NaN      NaN
8446     mPOS  2017-03-02        mPOS  FMT_POS_0130        NaN      NaN
8447     mPOS  2017-03-02        mPOS  FMT_POS_0470        NaN      NaN
8448     mPOS  2017-03-02        mPOS  FMT_POS_0150        NaN      NaN
8449     mPOS  2017-03-02        mPOS  FMT_POS_0360        NaN      NaN
8450     mPOS  2017-03-02        mPOS  FMT_POS_0180        NaN      NaN
8451     mPOS  2017-03-02        mPOS  FMT_POS_0270        NaN      NaN
8452     mPOS  2017-03-02        mPOS  FMT_POS_0290        NaN      NaN
8453     mPOS  2017-03-02        mPOS  FMT_POS_0320        NaN      NaN
8454     mPOS  2017-03-02        mPOS  FMT_POS_1570        NaN      NaN
8455     mPOS  2017-03-02        mPOS  FMT_POS_7210        NaN      NaN
8456     mPOS  2017-03-02        mPOS  FMT_POS_7220        NaN      NaN
8457     mPOS  2017-03-02        mPOS  FMT_POS_7230        NaN      NaN
8458     mPOS  2017-03-02        mPOS   FMT_PA_0850        NaN      NaN
8459     mPOS  2017-03-02        mPOS   FMT_PA_0851        NaN      NaN
8460     mPOS  2017-03-02        mPOS   FMT_PA_0852        NaN      NaN
8461     mPOS  2017-03-02        mPOS   FMT_PA_0853        NaN      NaN
8462     mPOS  2017-03-02        mPOS   FMT_PA_0854        NaN      NaN
8463     mPOS  2017-03-02        mPOS   FMT_PA_0855        NaN      NaN
8464     mPOS  2017-03-02        mPOS   FMT_PA_0930        NaN      NaN
8465     mPOS  2017-03-02        mPOS   FMT_PA_0750        NaN      NaN
8466     mPOS  2017-03-02        mPOS   FMT_PA_0780        NaN      NaN
8467     mPOS  2017-03-02        mPOS   FMT_PA_0790        NaN      NaN
8468     mPOS  2017-03-02        mPOS   FMT_PA_0710        NaN      NaN

     is_period
4291      True
4292      True
4293      True
4294      True
4295      True
4296      True
4297      True
4298      True
4299      True
4300      True
4301      True
4302      True
4303      True
4304      True
4305      True
4306      True
4307      True
4308      True
4309      True
4310      True
4311      True
4312      True
4313      True
4314      True
4315      True
4316      True
4317      True
4318      True
4319      True
4320      True
...        ...
8439      True
8440      True
8441      True
8442      True
8443      True
8444      True
8445      True
8446      True
8447      True
8448      True
8449      True
8450      True
8451      True
8452      True
8453      True
8454      True
8455      True
8456      True
8457      True
8458      True
8459      True
8460      True
8461      True
8462      True
8463      True
8464      True
8465      True
8466      True
8467      True
8468      True

[264 rows x 7 columns]
QQ
      username  query_date report_name           doc start_date end_date  \
21336     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21337     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21340     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21341     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21357     mPOS  2017-04-06        mPOS   FMT_PA_0710        NaN      NaN
21408     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21409     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21488     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21489     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21490     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21492     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21494     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21495     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21496     mPOS  2017-04-06        mPOS  FMT_UNB_0670        NaN      NaN
21502     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21521     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21525     mPOS  2017-04-06        mPOS  FMT_UNB_0660        NaN      NaN
21527     mPOS  2017-04-06        mPOS  FMT_UNB_0670        NaN      NaN
21539     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21540     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21541     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21542     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21543     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21637     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21640     mPOS  2017-04-06        mPOS  FMT_UNB_0091        NaN      NaN
21641     mPOS  2017-04-06        mPOS  FMT_UNB_0091        NaN      NaN
21686     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21687     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21688     mPOS  2017-04-06        mPOS     report001        NaN      NaN
21691     mPOS  2017-04-06        mPOS     report001        NaN      NaN
...        ...         ...         ...           ...        ...      ...
25353     mPOS  2017-04-06        mPOS  FMT_POS_0060        NaN      NaN
25354     mPOS  2017-04-06        mPOS  FMT_POS_0310        NaN      NaN
25355     mPOS  2017-04-06        mPOS  FMT_POS_0100        NaN      NaN
25356     mPOS  2017-04-06        mPOS  FMT_POS_0110        NaN      NaN
25357     mPOS  2017-04-06        mPOS  FMT_POS_0340        NaN      NaN
25358     mPOS  2017-04-06        mPOS  FMT_POS_0130        NaN      NaN
25359     mPOS  2017-04-06        mPOS  FMT_POS_0470        NaN      NaN
25360     mPOS  2017-04-06        mPOS  FMT_POS_0150        NaN      NaN
25361     mPOS  2017-04-06        mPOS  FMT_POS_0360        NaN      NaN
25362     mPOS  2017-04-06        mPOS  FMT_POS_0180        NaN      NaN
25363     mPOS  2017-04-06        mPOS  FMT_POS_0270        NaN      NaN
25364     mPOS  2017-04-06        mPOS  FMT_POS_0290        NaN      NaN
25365     mPOS  2017-04-06        mPOS  FMT_POS_0320        NaN      NaN
25366     mPOS  2017-04-06        mPOS  FMT_POS_1570        NaN      NaN
25367     mPOS  2017-04-06        mPOS  FMT_POS_7210        NaN      NaN
25368     mPOS  2017-04-06        mPOS  FMT_POS_7220        NaN      NaN
25369     mPOS  2017-04-06        mPOS  FMT_POS_7230        NaN      NaN
25370     mPOS  2017-04-06        mPOS  FMT_POS_1670        NaN      NaN
25371     mPOS  2017-04-06        mPOS   FMT_PA_0850        NaN      NaN
25372     mPOS  2017-04-06        mPOS   FMT_PA_0851        NaN      NaN
25373     mPOS  2017-04-06        mPOS   FMT_PA_0852        NaN      NaN
25374     mPOS  2017-04-06        mPOS   FMT_PA_0853        NaN      NaN
25375     mPOS  2017-04-06        mPOS   FMT_PA_0854        NaN      NaN
25376     mPOS  2017-04-06        mPOS   FMT_PA_0855        NaN      NaN
25377     mPOS  2017-04-06        mPOS   FMT_PA_0930        NaN      NaN
25378     mPOS  2017-04-06        mPOS   FMT_PA_0750        NaN      NaN
25379     mPOS  2017-04-06        mPOS   FMT_PA_0780        NaN      NaN
25380     mPOS  2017-04-06        mPOS   FMT_PA_0790        NaN      NaN
25381     mPOS  2017-04-06        mPOS   FMT_PA_0710        NaN      NaN
25438     mPOS  2017-04-06        mPOS  FMT_POS_0020        NaN      NaN

      is_period
21336      True
21337      True
21340      True
21341      True
21357      True
21408      True
21409      True
21488      True
21489      True
21490      True
21492      True
21494      True
21495      True
21496      True
21502      True
21521      True
21525      True
21527      True
21539      True
21540      True
21541      True
21542      True
21543      True
21637      True
21640      True
21641      True
21686      True
21687      True
21688      True
21691      True
...         ...
25353      True
25354      True
25355      True
25356      True
25357      True
25358      True
25359      True
25360      True
25361      True
25362      True
25363      True
25364      True
25365      True
25366      True
25367      True
25368      True
25369      True
25370      True
25371      True
25372      True
25373      True
25374      True
25375      True
25376      True
25377      True
25378      True
25379      True
25380      True
25381      True
25438      True

[255 rows x 7 columns]
QQ
     username  query_date report_name           doc start_date end_date  \
252      mPOS  2017-02-09        mPOS   FMT_POS_190        NaN      NaN
253      mPOS  2017-02-09        mPOS   FMT_POS_190        NaN      NaN
254      mPOS  2017-02-09        mPOS   FMT_POS_190        NaN      NaN
255      mPOS  2017-02-09        mPOS   FMT_POS_190        NaN      NaN
256      mPOS  2017-02-09        mPOS   FMT_POS_190        NaN      NaN
257      mPOS  2017-02-09        mPOS   FMT_POS_190        NaN      NaN
460      mPOS  2017-02-09        mPOS  FMT_CLM_0010        NaN      NaN
475      mPOS  2017-02-09        mPOS  FMT_POS_0070        NaN      NaN
476      mPOS  2017-02-09        mPOS  FMT_POS_0080        NaN      NaN
477      mPOS  2017-02-09        mPOS  FMT_POS_0090        NaN      NaN
478      mPOS  2017-02-09        mPOS  ODS_POS_0060        NaN      NaN
479      mPOS  2017-02-09        mPOS  FMT_POS_0310        NaN      NaN
480      mPOS  2017-02-09        mPOS  FMT_POS_0100        NaN      NaN
481      mPOS  2017-02-09        mPOS  FMT_POS_0110        NaN      NaN
482      mPOS  2017-02-09        mPOS  FMT_POS_0340        NaN      NaN
483      mPOS  2017-02-09        mPOS  FMT_POS_0130        NaN      NaN
484      mPOS  2017-02-09        mPOS  FMT_POS_0470        NaN      NaN
485      mPOS  2017-02-09        mPOS  FMT_POS_0150        NaN      NaN
486      mPOS  2017-02-09        mPOS  FMT_POS_0360        NaN      NaN
487      mPOS  2017-02-09        mPOS  FMT_POS_0180        NaN      NaN
488      mPOS  2017-02-09        mPOS  FMT_POS_0270        NaN      NaN
489      mPOS  2017-02-09        mPOS  FMT_POS_0290        NaN      NaN
490      mPOS  2017-02-09        mPOS  FMT_POS_0320        NaN      NaN
491      mPOS  2017-02-09        mPOS  FMT_POS_1570        NaN      NaN
492      mPOS  2017-02-09        mPOS  FMT_POS_7210        NaN      NaN
493      mPOS  2017-02-09        mPOS  FMT_POS_7220        NaN      NaN
494      mPOS  2017-02-09        mPOS  FMT_POS_7230        NaN      NaN
495      mPOS  2017-02-09        mPOS  ODS_POS_1670        NaN      NaN
496      mPOS  2017-02-09        mPOS  ODS_POS_7160        NaN      NaN
497      mPOS  2017-02-09        mPOS   FMT_PA_0850        NaN      NaN
...       ...         ...         ...           ...        ...      ...
6355     mPOS  2017-02-09        mPOS  FMT_POS_0100        NaN      NaN
6356     mPOS  2017-02-09        mPOS  FMT_POS_0110        NaN      NaN
6357     mPOS  2017-02-09        mPOS  FMT_POS_0340        NaN      NaN
6358     mPOS  2017-02-09        mPOS  FMT_POS_0130        NaN      NaN
6359     mPOS  2017-02-09        mPOS  FMT_POS_0470        NaN      NaN
6360     mPOS  2017-02-09        mPOS  FMT_POS_0150        NaN      NaN
6361     mPOS  2017-02-09        mPOS  FMT_POS_0360        NaN      NaN
6362     mPOS  2017-02-09        mPOS  FMT_POS_0180        NaN      NaN
6363     mPOS  2017-02-09        mPOS  FMT_POS_0270        NaN      NaN
6364     mPOS  2017-02-09        mPOS  FMT_POS_0290        NaN      NaN
6365     mPOS  2017-02-09        mPOS  FMT_POS_0320        NaN      NaN
6366     mPOS  2017-02-09        mPOS  FMT_POS_1570        NaN      NaN
6367     mPOS  2017-02-09        mPOS  FMT_POS_7210        NaN      NaN
6368     mPOS  2017-02-09        mPOS  FMT_POS_7220        NaN      NaN
6369     mPOS  2017-02-09        mPOS  FMT_POS_7230        NaN      NaN
6370     mPOS  2017-02-09        mPOS  ODS_POS_1670        NaN      NaN
6371     mPOS  2017-02-09        mPOS  ODS_POS_7160        NaN      NaN
6372     mPOS  2017-02-09        mPOS   FMT_PA_0850        NaN      NaN
6373     mPOS  2017-02-09        mPOS   FMT_PA_0851        NaN      NaN
6374     mPOS  2017-02-09        mPOS   FMT_PA_0852        NaN      NaN
6375     mPOS  2017-02-09        mPOS   FMT_PA_0853        NaN      NaN
6376     mPOS  2017-02-09        mPOS   FMT_PA_0854        NaN      NaN
6377     mPOS  2017-02-09        mPOS   FMT_PA_0855        NaN      NaN
6378     mPOS  2017-02-09        mPOS   FMT_PA_0930        NaN      NaN
6379     mPOS  2017-02-09        mPOS   FMT_PA_0750        NaN      NaN
6380     mPOS  2017-02-09        mPOS   FMT_PA_0780        NaN      NaN
6381     mPOS  2017-02-09        mPOS   FMT_PA_0790        NaN      NaN
6382     mPOS  2017-02-09        mPOS   FMT_PA_0710        NaN      NaN
7061     mPOS  2017-02-09        mPOS   FMT_POS_190        NaN      NaN
7065     mPOS  2017-02-09        mPOS  FMT_CLM_0020        NaN      NaN

     is_period
252       True
253       True
254       True
255       True
256       True
257       True
460       True
475       True
476       True
477       True
478       True
479       True
480       True
481       True
482       True
483       True
484       True
485       True
486       True
487       True
488       True
489       True
490       True
491       True
492       True
493       True
494       True
495       True
496       True
497       True
...        ...
6355      True
6356      True
6357      True
6358      True
6359      True
6360      True
6361      True
6362      True
6363      True
6364      True
6365      True
6366      True
6367      True
6368      True
6369      True
6370      True
6371      True
6372      True
6373      True
6374      True
6375      True
6376      True
6377      True
6378      True
6379      True
6380      True
6381      True
6382      True
7061      True
7065      True

[252 rows x 7 columns]
QQ
      username  query_date report_name           doc start_date end_date  \
12228     mPOS  2017-03-16        mPOS     report001        NaN      NaN
12676     mPOS  2017-03-16        mPOS  FMT_POS_0070        NaN      NaN
12677     mPOS  2017-03-16        mPOS  FMT_POS_0080        NaN      NaN
12678     mPOS  2017-03-16        mPOS  FMT_POS_0090        NaN      NaN
12679     mPOS  2017-03-16        mPOS  FMT_POS_0310        NaN      NaN
12680     mPOS  2017-03-16        mPOS  FMT_POS_0060        NaN      NaN
12681     mPOS  2017-03-16        mPOS  FMT_POS_0100        NaN      NaN
12682     mPOS  2017-03-16        mPOS  FMT_POS_0110        NaN      NaN
12683     mPOS  2017-03-16        mPOS  FMT_POS_0340        NaN      NaN
12684     mPOS  2017-03-16        mPOS  FMT_POS_0130        NaN      NaN
12685     mPOS  2017-03-16        mPOS  FMT_POS_0470        NaN      NaN
12686     mPOS  2017-03-16        mPOS  FMT_POS_0150        NaN      NaN
12687     mPOS  2017-03-16        mPOS  FMT_POS_0360        NaN      NaN
12688     mPOS  2017-03-16        mPOS  FMT_POS_0180        NaN      NaN
12689     mPOS  2017-03-16        mPOS  FMT_POS_0270        NaN      NaN
12690     mPOS  2017-03-16        mPOS  FMT_POS_0290        NaN      NaN
12691     mPOS  2017-03-16        mPOS  FMT_POS_0320        NaN      NaN
12692     mPOS  2017-03-16        mPOS  FMT_POS_1570        NaN      NaN
12693     mPOS  2017-03-16        mPOS  FMT_POS_7210        NaN      NaN
12694     mPOS  2017-03-16        mPOS  FMT_POS_7220        NaN      NaN
12695     mPOS  2017-03-16        mPOS  FMT_POS_7230        NaN      NaN
12696     mPOS  2017-03-16        mPOS   FMT_PA_0850        NaN      NaN
12697     mPOS  2017-03-16        mPOS  FMT_POS_1670        NaN      NaN
12698     mPOS  2017-03-16        mPOS   FMT_PA_0851        NaN      NaN
12699     mPOS  2017-03-16        mPOS   FMT_PA_0852        NaN      NaN
12700     mPOS  2017-03-16        mPOS   FMT_PA_0853        NaN      NaN
12701     mPOS  2017-03-16        mPOS   FMT_PA_0854        NaN      NaN
12702     mPOS  2017-03-16        mPOS   FMT_PA_0855        NaN      NaN
12703     mPOS  2017-03-16        mPOS   FMT_PA_0930        NaN      NaN
12704     mPOS  2017-03-16        mPOS   FMT_PA_0750        NaN      NaN
...        ...         ...         ...           ...        ...      ...
13299     mPOS  2017-03-16        mPOS   FMT_PA_0710        NaN      NaN
13301     mPOS  2017-03-16        mPOS     report001        NaN      NaN
13302     mPOS  2017-03-16        mPOS  FMT_POS_0190        NaN      NaN
13303     mPOS  2017-03-16        mPOS  FMT_POS_0190        NaN      NaN
13317     mPOS  2017-03-16        mPOS  FMT_UNB_0300        NaN      NaN
13342     mPOS  2017-03-16        mPOS     report001        NaN      NaN
13343     mPOS  2017-03-16        mPOS     report001        NaN      NaN
13344     mPOS  2017-03-16        mPOS     report001        NaN      NaN
13363     mPOS  2017-03-16        mPOS     report001        NaN      NaN
13365     mPOS  2017-03-16        mPOS     report001        NaN      NaN
13366     mPOS  2017-03-16        mPOS     report001        NaN      NaN
13375     mPOS  2017-03-16        mPOS     report001        NaN      NaN
13376     mPOS  2017-03-16        mPOS     report001        NaN      NaN
13380     mPOS  2017-03-16        mPOS     report001        NaN      NaN
13381     mPOS  2017-03-16        mPOS     report001        NaN      NaN
13382     mPOS  2017-03-16        mPOS     report001        NaN      NaN
13383     mPOS  2017-03-16        mPOS     report001        NaN      NaN

      username  query_date report_name           doc start_date end_date  \
24413     mPOS  2017-04-08        mPOS  FMT_POS_0070        NaN      NaN
24414     mPOS  2017-04-08        mPOS  FMT_POS_0080        NaN      NaN
24415     mPOS  2017-04-08        mPOS  FMT_POS_0090        NaN      NaN
24416     mPOS  2017-04-08        mPOS  FMT_POS_0060        NaN      NaN
24417     mPOS  2017-04-08        mPOS  FMT_POS_0310        NaN      NaN
24418     mPOS  2017-04-08        mPOS  FMT_POS_0100        NaN      NaN
24419     mPOS  2017-04-08        mPOS  FMT_POS_0110        NaN      NaN
24420     mPOS  2017-04-08        mPOS  FMT_POS_0340        NaN      NaN
24421     mPOS  2017-04-08        mPOS  FMT_POS_0130        NaN      NaN
24422     mPOS  2017-04-08        mPOS  FMT_POS_0470        NaN      NaN
24423     mPOS  2017-04-08        mPOS  FMT_POS_0150        NaN      NaN
24424     mPOS  2017-04-08        mPOS  FMT_POS_0360        NaN      NaN
24425     mPOS  2017-04-08        mPOS  FMT_POS_0180        NaN      NaN
24426     mPOS  2017-04-08        mPOS  FMT_POS_0270        NaN      NaN
24427     mPOS  2017-04-08        mPOS  FMT_POS_0290        NaN      NaN
24428     mPOS  2017-04-08        mPOS  FMT_POS_0320        NaN      NaN
24429     mPOS  2017-04-08        mPOS  FMT_POS_1570        NaN      NaN
24430     mPOS  2017-04-08        mPOS  FMT_POS_7210        NaN      NaN
24431     mPOS  2017-04-08        mPOS  FMT_POS_7220        NaN      NaN
24432     mPOS  2017-04-08        mPOS  FMT_POS_7230        NaN      NaN
24433     mPOS  2017-04-08        mPOS  FMT_POS_1670        NaN      NaN
24434     mPOS  2017-04-08        mPOS   FMT_PA_0850        NaN      NaN
24435     mPOS  2017-04-08        mPOS   FMT_PA_0851        NaN      NaN
24436     mPOS  2017-04-08        mPOS   FMT_PA_0852        NaN      NaN
24437     mPOS  2017-04-08        mPOS   FMT_PA_0853        NaN      NaN
24438     mPOS  2017-04-08        mPOS   FMT_PA_0854        NaN      NaN
24439     mPOS  2017-04-08        mPOS   FMT_PA_0855        NaN      NaN
24440     mPOS  2017-04-08        mPOS   FMT_PA_0930        NaN      NaN
24441     mPOS  2017-04-08        mPOS   FMT_PA_0750        NaN      NaN
24442     mPOS  2017-04-08        mPOS   FMT_PA_0780        NaN      NaN
...        ...         ...         ...           ...        ...      ...
25575     mPOS  2017-04-08        mPOS  FMT_POS_0060        NaN      NaN
25576     mPOS  2017-04-08        mPOS  FMT_POS_0310        NaN      NaN
25577     mPOS  2017-04-08        mPOS  FMT_POS_0100        NaN      NaN
25578     mPOS  2017-04-08        mPOS  FMT_POS_0110        NaN      NaN
25579     mPOS  2017-04-08        mPOS  FMT_POS_0340        NaN      NaN
25580     mPOS  2017-04-08        mPOS  FMT_POS_0130        NaN      NaN
25581     mPOS  2017-04-08        mPOS  FMT_POS_0470        NaN      NaN
25582     mPOS  2017-04-08        mPOS  FMT_POS_0150        NaN      NaN
25583     mPOS  2017-04-08        mPOS  FMT_POS_0360        NaN      NaN
25584     mPOS  2017-04-08        mPOS  FMT_POS_0180        NaN      NaN
25585     mPOS  2017-04-08        mPOS  FMT_POS_0270        NaN      NaN
25586     mPOS  2017-04-08        mPOS  FMT_POS_0290        NaN      NaN
25587     mPOS  2017-04-08        mPOS  FMT_POS_0320        NaN      NaN
25588     mPOS  2017-04-08        mPOS  FMT_POS_1570        NaN      NaN
25589     mPOS  2017-04-08        mPOS  FMT_POS_7210        NaN      NaN
25590     mPOS  2017-04-08        mPOS  FMT_POS_7220        NaN      NaN
25591     mPOS  2017-04-08        mPOS  FMT_POS_7230        NaN      NaN
25592     mPOS  2017-04-08        mPOS  FMT_POS_1670        NaN      NaN
25593     mPOS  2017-04-08        mPOS   FMT_PA_0850        NaN      NaN
25594     mPOS  2017-04-08        mPOS   FMT_PA_0851        NaN      NaN
25595     mPOS  2017-04-08        mPOS   FMT_PA_0852        NaN      NaN
25596     mPOS  2017-04-08        mPOS   FMT_PA_0853        NaN      NaN
25597     mPOS  2017-04-08        mPOS   FMT_PA_0854        NaN      NaN
25598     mPOS  2017-04-08        mPOS   FMT_PA_0855        NaN      NaN
25599     mPOS  2017-04-08        mPOS   FMT_PA_0930        NaN      NaN
25600     mPOS  2017-04-08        mPOS   FMT_PA_0750        NaN      NaN
25601     mPOS  2017-04-08        mPOS   FMT_PA_0780        NaN      NaN
25602     mPOS  2017-04-08        mPOS   FMT_PA_0790        NaN      NaN
25603     mPOS  2017-04-08        mPOS   FMT_PA_0710        NaN      NaN
25604     mPOS  2017-04-08        mPOS  FMT_POS_0190        NaN      NaN

      is_period
24413      True
24414      True
24415      True
24416      True
24417      True
24418      True
24419      True
24420      True
24421      True
24422      True
24423      True
24424      True
24425      True
24426      True
24427      True
24428      True
24429      True
24430      True
24431      True
24432      True
24433      True
24434      True
24435      True
24436      True
24437      True
24438      True
24439      True
24440      True
24441      True
24442      True
...         ...
25575      True
25576      True
25577      True
25578      True
25579      True
25580      True
25581      True
25582      True
25583      True
25584      True
25585      True
25586      True
25587      True
25588      True
25589      True
25590      True
25591      True
25592      True
25593      True
25594      True
25595      True
25596      True
25597      True
25598      True
25599      True
25600      True
25601      True
25602      True
25603      True
25604      True

[129 rows x 7 columns]
QQ
      username  query_date report_name           doc start_date end_date  \
14711     mPOS  2017-03-22        mPOS  FMT_POS_0190        NaN      NaN
14712     mPOS  2017-03-22        mPOS  FMT_POS_0190        NaN      NaN
14713     mPOS  2017-03-22        mPOS  FMT_POS_0070        NaN      NaN
14714     mPOS  2017-03-22        mPOS  FMT_POS_0080        NaN      NaN
14715     mPOS  2017-03-22        mPOS  FMT_POS_0090        NaN      NaN
14716     mPOS  2017-03-22        mPOS  FMT_POS_0310        NaN      NaN
14717     mPOS  2017-03-22        mPOS  FMT_POS_0060        NaN      NaN
14718     mPOS  2017-03-22        mPOS  FMT_POS_0100        NaN      NaN
14719     mPOS  2017-03-22        mPOS  FMT_POS_0110        NaN      NaN
14720     mPOS  2017-03-22        mPOS  FMT_POS_0340        NaN      NaN
14721     mPOS  2017-03-22        mPOS  FMT_POS_0130        NaN      NaN
14722     mPOS  2017-03-22        mPOS  FMT_POS_0470        NaN      NaN
14723     mPOS  2017-03-22        mPOS  FMT_POS_0150        NaN      NaN
14724     mPOS  2017-03-22        mPOS  FMT_POS_0360        NaN      NaN
14725     mPOS  2017-03-22        mPOS  FMT_POS_0180        NaN      NaN
14726     mPOS  2017-03-22        mPOS  FMT_POS_0270        NaN      NaN
14727     mPOS  2017-03-22        mPOS  FMT_POS_0290        NaN      NaN
14728     mPOS  2017-03-22        mPOS  FMT_POS_0320        NaN      NaN
14729     mPOS  2017-03-22        mPOS  FMT_POS_1570        NaN      NaN
14730     mPOS  2017-03-22        mPOS  FMT_POS_7210        NaN      NaN
14731     mPOS  2017-03-22        mPOS  FMT_POS_7220        NaN      NaN
14732     mPOS  2017-03-22        mPOS  FMT_POS_7230        NaN      NaN
14733     mPOS  2017-03-22        mPOS   FMT_PA_0850        NaN      NaN
14734     mPOS  2017-03-22        mPOS  FMT_POS_1670        NaN      NaN
14735     mPOS  2017-03-22        mPOS   FMT_PA_0851        NaN      NaN
14736     mPOS  2017-03-22        mPOS   FMT_PA_0852        NaN      NaN
14737     mPOS  2017-03-22        mPOS   FMT_PA_0853        NaN      NaN
14738     mPOS  2017-03-22        mPOS   FMT_PA_0854        NaN      NaN
14739     mPOS  2017-03-22        mPOS   FMT_PA_0855        NaN      NaN
14740     mPOS  2017-03-22        mPOS   FMT_PA_0930        NaN      NaN
...        ...         ...         ...           ...        ...      ...
17067     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17068     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17072     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17073     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17074     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17075     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17078     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17079     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17084     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17085     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17086     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17087     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17089     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17090     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17091     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17092     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17093     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17094     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17097     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17098     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17099     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17100     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17104     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17105     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17106     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17107     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17108     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17109     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17110     mPOS  2017-03-22        mPOS     report001        NaN      NaN
17246     mPOS  2017-03-22        mPOS  FMT_POS_0010        NaN      NaN

      is_period
14711      True
14712      True
14713      True
14714      True
14715      True
14716      True
14717      True
14718      True
14719      True
14720      True
14721      True
14722      True
14723      True
14724      True
14725      True
14726      True
14727      True
14728      True
14729      True
14730      True
14731      True
14732      True
14733      True
14734      True
14735      True
14736      True
14737      True
14738      True
14739      True
14740      True
...         ...
17067      True
17068      True
17072      True
17073      True
17074      True
17075      True
17078      True
17079      True
17084      True
17085      True
17086      True
17087      True
17089      True
17090      True
17091      True
17092      True
17093      True
17094      True
17097      True
17098      True
17099      True
17100      True
17104      True
17105      True
17106      True
17107      True
17108      True
17109      True
17110      True
17246      True

[122 rows x 7 columns]
QQ
     username  query_date report_name           doc start_date end_date  \
1475     mPOS  2017-02-15        mPOS  FMT_UNB_0781        NaN      NaN
1693     mPOS  2017-02-15        mPOS  FMT_UNB_0782        NaN      NaN
1701     mPOS  2017-02-15        mPOS  FMT_UNB_0372        NaN      NaN
1709     mPOS  2017-02-15        mPOS  FMT_UNB_0782        NaN      NaN
1710     mPOS  2017-02-15        mPOS  FMT_UNB_0782        NaN      NaN
1713     mPOS  2017-02-15        mPOS  FMT_UNB_0372        NaN      NaN
1718     mPOS  2017-02-15        mPOS  FMT_POS_0070        NaN      NaN
1719     mPOS  2017-02-15        mPOS  FMT_POS_0080        NaN      NaN
1720     mPOS  2017-02-15        mPOS  FMT_POS_0090        NaN      NaN
1721     mPOS  2017-02-15        mPOS  ODS_POS_0060        NaN      NaN
1722     mPOS  2017-02-15        mPOS  FMT_POS_0310        NaN      NaN
1723     mPOS  2017-02-15        mPOS  FMT_POS_0100        NaN      NaN
1724     mPOS  2017-02-15        mPOS  FMT_POS_0110        NaN      NaN
1725     mPOS  2017-02-15        mPOS  FMT_POS_0340        NaN      NaN
1726     mPOS  2017-02-15        mPOS  FMT_POS_0130        NaN      NaN
1727     mPOS  2017-02-15        mPOS  FMT_POS_0470        NaN      NaN
1728     mPOS  2017-02-15        mPOS  FMT_POS_0150        NaN      NaN
1729     mPOS  2017-02-15        mPOS  FMT_POS_0360        NaN      NaN
1730     mPOS  2017-02-15        mPOS  FMT_POS_0180        NaN      NaN
1731     mPOS  2017-02-15        mPOS  FMT_POS_0270        NaN      NaN
1732     mPOS  2017-02-15        mPOS  FMT_POS_0290        NaN      NaN
1733     mPOS  2017-02-15        mPOS  FMT_POS_0320        NaN      NaN
1734     mPOS  2017-02-15        mPOS  FMT_POS_1570        NaN      NaN
1735     mPOS  2017-02-15        mPOS  FMT_POS_7210        NaN      NaN
1736     mPOS  2017-02-15        mPOS  FMT_POS_7220        NaN      NaN
1737     mPOS  2017-02-15        mPOS  FMT_POS_7230        NaN      NaN
1738     mPOS  2017-02-15        mPOS  ODS_POS_1670        NaN      NaN
1739     mPOS  2017-02-15        mPOS  ODS_POS_7160        NaN      NaN
1740     mPOS  2017-02-15        mPOS   FMT_PA_0850        NaN      NaN
1741     mPOS  2017-02-15        mPOS   FMT_PA_0851        NaN      NaN
...       ...         ...         ...           ...        ...      ...
5514     mPOS  2017-02-15        mPOS   FMT_POS_190        NaN      NaN
5607     mPOS  2017-02-15        mPOS   FMT_POS_190        NaN      NaN
6841     mPOS  2017-02-15        mPOS  FMT_UNB_0372        NaN      NaN
6956     mPOS  2017-02-15        mPOS  FMT_UNB_0782        NaN      NaN
6965     mPOS  2017-02-15        mPOS  FMT_UNB_0782        NaN      NaN
6966     mPOS  2017-02-15        mPOS  FMT_UNB_0372        NaN      NaN
7040     mPOS  2017-02-15        mPOS  FMT_UNB_0372        NaN      NaN
7041     mPOS  2017-02-15        mPOS  FMT_UNB_0782        NaN      NaN
7042     mPOS  2017-02-15        mPOS  FMT_UNB_0372        NaN      NaN
7043     mPOS  2017-02-15        mPOS  FMT_UNB_0782        NaN      NaN
7044     mPOS  2017-02-15        mPOS  FMT_CLM_0020        NaN      NaN
7046     mPOS  2017-02-15        mPOS  FMT_CLM_0020        NaN      NaN
7047     mPOS  2017-02-15        mPOS  FMT_UNB_0782        NaN      NaN
7048     mPOS  2017-02-15        mPOS  FMT_UNB_0782        NaN      NaN
7049     mPOS  2017-02-15        mPOS  FMT_UNB_0782        NaN      NaN
7050     mPOS  2017-02-15        mPOS  FMT_UNB_0781        NaN      NaN
7051     mPOS  2017-02-15        mPOS  FMT_UNB_0782        NaN      NaN
7052     mPOS  2017-02-15        mPOS  FMT_UNB_0782        NaN      NaN
7053     mPOS  2017-02-15        mPOS  FMT_UNB_0782        NaN      NaN
7054     mPOS  2017-02-15        mPOS  FMT_UNB_0781        NaN      NaN
7055     mPOS  2017-02-15        mPOS  FMT_UNB_0782        NaN      NaN
7069     mPOS  2017-02-15        mPOS  FMT_UNB_0782        NaN      NaN
7071     mPOS  2017-02-15        mPOS  FMT_UNB_0782        NaN      NaN
7072     mPOS  2017-02-15        mPOS  FMT_UNB_0782        NaN      NaN
7073     mPOS  2017-02-15        mPOS  FMT_UNB_0782        NaN      NaN
7083     mPOS  2017-02-15        mPOS  FMT_UNB_0782        NaN      NaN
7084     mPOS  2017-02-15        mPOS  FMT_UNB_0782        NaN      NaN
7093     mPOS  2017-02-15        mPOS  FMT_UNB_0782        NaN      NaN
7094     mPOS  2017-02-15        mPOS  FMT_UNB_0781        NaN      NaN
7132     mPOS  2017-02-15        mPOS  FMT_UNB_0782        NaN      NaN

     is_period
1475      True
1693      True
1701      True
1709      True
1710      True
1713      True
1718      True
1719      True
1720      True
1721      True
1722      True
1723      True
1724      True
1725      True
1726      True
1727      True
1728      True
1729      True
1730      True
1731      True
1732      True
1733      True
1734      True
1735      True
1736      True
1737      True
1738      True
1739      True
1740      True
1741      True
...        ...
5514      True
5607      True
6841      True
6956      True
6965      True
6966      True
7040      True
7041      True
7042      True
7043      True
7044      True
7046      True
7047      True
7048      True
7049      True
7050      True
7051      True
7052      True
7053      True
7054      True
7055      True
7069      True
7071      True
7072      True
7073      True
7083      True
7084      True
7093      True
7094      True
7132      True

[112 rows x 7 columns]
QQ
     username  query_date report_name           doc start_date end_date  \
6593     mPOS  2017-03-03        mPOS   FMT_POS_190        NaN      NaN
6594     mPOS  2017-03-03        mPOS   FMT_POS_190        NaN      NaN
6595     mPOS  2017-03-03        mPOS  FMT_POS_0070        NaN      NaN
6596     mPOS  2017-03-03        mPOS  FMT_POS_0080        NaN      NaN
6597     mPOS  2017-03-03        mPOS  FMT_POS_0090        NaN      NaN
6598     mPOS  2017-03-03        mPOS  FMT_POS_0310        NaN      NaN
6599     mPOS  2017-03-03        mPOS  FMT_POS_0060        NaN      NaN
6600     mPOS  2017-03-03        mPOS  FMT_POS_0100        NaN      NaN
6601     mPOS  2017-03-03        mPOS  FMT_POS_0110        NaN      NaN
6602     mPOS  2017-03-03        mPOS  FMT_POS_0340        NaN      NaN
6603     mPOS  2017-03-03        mPOS  FMT_POS_0130        NaN      NaN
6604     mPOS  2017-03-03        mPOS  FMT_POS_0470        NaN      NaN
6605     mPOS  2017-03-03        mPOS  FMT_POS_0150        NaN      NaN
6606     mPOS  2017-03-03        mPOS  FMT_POS_0360        NaN      NaN
6607     mPOS  2017-03-03        mPOS  FMT_POS_0180        NaN      NaN
6608     mPOS  2017-03-03        mPOS  FMT_POS_0270        NaN      NaN
6609     mPOS  2017-03-03        mPOS  FMT_POS_0290        NaN      NaN
6610     mPOS  2017-03-03        mPOS  FMT_POS_0320        NaN      NaN
6611     mPOS  2017-03-03        mPOS  FMT_POS_1570        NaN      NaN
6612     mPOS  2017-03-03        mPOS  FMT_POS_7210        NaN      NaN
6613     mPOS  2017-03-03        mPOS  FMT_POS_7220        NaN      NaN
6614     mPOS  2017-03-03        mPOS  FMT_POS_7230        NaN      NaN
6615     mPOS  2017-03-03        mPOS   FMT_PA_0850        NaN      NaN
6616     mPOS  2017-03-03        mPOS  FMT_POS_1670        NaN      NaN
6617     mPOS  2017-03-03        mPOS   FMT_PA_0851        NaN      NaN
6618     mPOS  2017-03-03        mPOS   FMT_PA_0852        NaN      NaN
6619     mPOS  2017-03-03        mPOS   FMT_PA_0853        NaN      NaN
6620     mPOS  2017-03-03        mPOS   FMT_PA_0854        NaN      NaN
6621     mPOS  2017-03-03        mPOS   FMT_PA_0855        NaN      NaN
6622     mPOS  2017-03-03        mPOS   FMT_PA_0930        NaN      NaN
...       ...         ...         ...           ...        ...      ...
7921     mPOS  2017-03-03        mPOS  FMT_POS_0060        NaN      NaN
7922     mPOS  2017-03-03        mPOS  FMT_POS_0100        NaN      NaN
7923     mPOS  2017-03-03        mPOS  FMT_POS_0110        NaN      NaN
7924     mPOS  2017-03-03        mPOS  FMT_POS_0340        NaN      NaN
7925     mPOS  2017-03-03        mPOS  FMT_POS_0130        NaN      NaN
7926     mPOS  2017-03-03        mPOS  FMT_POS_0470        NaN      NaN
7927     mPOS  2017-03-03        mPOS  FMT_POS_0150        NaN      NaN
7928     mPOS  2017-03-03        mPOS  FMT_POS_0360        NaN      NaN
7929     mPOS  2017-03-03        mPOS  FMT_POS_0180        NaN      NaN
7930     mPOS  2017-03-03        mPOS  FMT_POS_0270        NaN      NaN
7931     mPOS  2017-03-03        mPOS  FMT_POS_0290        NaN      NaN
7932     mPOS  2017-03-03        mPOS  FMT_POS_0320        NaN      NaN
7933     mPOS  2017-03-03        mPOS  FMT_POS_1570        NaN      NaN
7934     mPOS  2017-03-03        mPOS  FMT_POS_7210        NaN      NaN
7935     mPOS  2017-03-03        mPOS  FMT_POS_7220        NaN      NaN
7936     mPOS  2017-03-03        mPOS  FMT_POS_7230        NaN      NaN

     username  query_date report_name           doc start_date end_date  \
8244     mPOS  2017-03-04        mPOS  FMT_POS_0070        NaN      NaN
8245     mPOS  2017-03-04        mPOS  FMT_POS_0080        NaN      NaN
8246     mPOS  2017-03-04        mPOS  FMT_POS_0090        NaN      NaN
8247     mPOS  2017-03-04        mPOS  FMT_POS_0310        NaN      NaN
8248     mPOS  2017-03-04        mPOS  FMT_POS_0060        NaN      NaN
8249     mPOS  2017-03-04        mPOS  FMT_POS_0100        NaN      NaN
8250     mPOS  2017-03-04        mPOS  FMT_POS_0110        NaN      NaN
8251     mPOS  2017-03-04        mPOS  FMT_POS_0340        NaN      NaN
8252     mPOS  2017-03-04        mPOS  FMT_POS_0130        NaN      NaN
8253     mPOS  2017-03-04        mPOS  FMT_POS_0470        NaN      NaN
8254     mPOS  2017-03-04        mPOS  FMT_POS_0150        NaN      NaN
8255     mPOS  2017-03-04        mPOS  FMT_POS_0360        NaN      NaN
8256     mPOS  2017-03-04        mPOS  FMT_POS_0180        NaN      NaN
8257     mPOS  2017-03-04        mPOS  FMT_POS_0270        NaN      NaN
8258     mPOS  2017-03-04        mPOS  FMT_POS_0290        NaN      NaN
8259     mPOS  2017-03-04        mPOS  FMT_POS_0320        NaN      NaN
8260     mPOS  2017-03-04        mPOS  FMT_POS_1570        NaN      NaN
8261     mPOS  2017-03-04        mPOS  FMT_POS_7210        NaN      NaN
8262     mPOS  2017-03-04        mPOS  FMT_POS_7220        NaN      NaN
8263     mPOS  2017-03-04        mPOS  FMT_POS_7230        NaN      NaN
8264     mPOS  2017-03-04        mPOS   FMT_PA_0850        NaN      NaN
8265     mPOS  2017-03-04        mPOS  FMT_POS_1670        NaN      NaN
8266     mPOS  2017-03-04        mPOS   FMT_PA_0851        NaN      NaN
8267     mPOS  2017-03-04        mPOS   FMT_PA_0852        NaN      NaN
8268     mPOS  2017-03-04        mPOS   FMT_PA_0853        NaN      NaN
8269     mPOS  2017-03-04        mPOS   FMT_PA_0854        NaN      NaN
8270     mPOS  2017-03-04        mPOS   FMT_PA_0855        NaN      NaN
8271     mPOS  2017-03-04        mPOS   FMT_PA_0930        NaN      NaN
8272     mPOS  2017-03-04        mPOS   FMT_PA_0750        NaN      NaN
8273     mPOS  2017-03-04        mPOS   FMT_PA_0780        NaN      NaN
8274     mPOS  2017-03-04        mPOS   FMT_PA_0790        NaN      NaN
8275     mPOS  2017-03-04        mPOS   FMT_PA_0710        NaN      NaN

     is_period
8244      True
8245      True
8246      True
8247      True
8248      True
8249      True
8250      True
8251      True
8252      True
8253      True
8254      True
8255      True
8256      True
8257      True
8258      True
8259      True
8260      True
8261      True
8262      True
8263      True
8264      True
8265      True
8266      True
8267      True
8268      True
8269      True
8270      True
8271      True
8272      True
8273      True
8274      True
8275      True
QQ
      username  query_date report_name           doc start_date end_date  \
19172     mPOS  2017-03-27        mPOS  FMT_POS_0020        NaN      NaN
19424     mPOS  2017-03-27        mPOS  FMT_POS_0020        NaN      NaN
19425     mPOS  2017-03-27        mPOS   FMT_PA_0770        NaN      NaN
20643     mPOS  2017-03-27        mPOS     report001        NaN      NaN
20644     mPOS  2017-03-27        mPOS     report001        NaN      NaN
20677     mPOS  2017-03-27        mPOS     report001        NaN      NaN
21078     mPOS  2017-03-27        mPOS     report001        NaN      NaN
21079     mPOS  2017-03-27        mPOS     report001        NaN      NaN
21097     mPOS  2017-03-27        mPOS     report001        NaN      NaN

      is_period
19172      True
19424      True
19425      True
20643      True
20644      True
20677      True
21078      True
21079      True
21097      True
QQ
        username  query_date report_name           doc  start_date  \
4542   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0150  2015-03-07
4543   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0270  2015-03-07
4544   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0130  2015-03-07
4545   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0360  2015-03-07
4546   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0470  2015-03-07
4547   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_1570  2015-03-07
4548   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0110  2015-03-07
4549   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0340  2015-03-07
4550   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0310  2015-03-07
4551   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0100  2015-03-07
4552   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0320  2015-03-07
4553   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_7230  2015-03-07
4554   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_7220  2015-03-07
4555   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_7210  2015-03-07
4556   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0080  2015-03-07
4557   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0090  2015-03-07
4558   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0060  2015-03-07
4559   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0070  2015-03-07
4560   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0180  2015-03-07
4561   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0290  2015-03-07
5367   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0150  2015-03-07
5368   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0270  2015-03-07
5369   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0130  2015-03-07
5370   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0360  2015-03-07
5371   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0470  2015-03-07
5372   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_1570  2015-03-07
5373   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0110  2015-03-07
5374   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0340  2015-03-07
5375   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0310  2015-03-07
5376   CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0100  2015-03-07
...          ...         ...         ...           ...         ...
10341  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0320  2015-03-07
10342  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_7230  2015-03-07
10343  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_7220  2015-03-07
10344  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_7210  2015-03-07
10345  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0080  2015-03-07
10346  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0090  2015-03-07
10347  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0060  2015-03-07
10348  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0070  2015-03-07
10349  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0180  2015-03-07
10350  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0290  2015-03-07
10359  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0150  2015-03-07
10360  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0270  2015-03-07
10361  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0130  2015-03-07
10362  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0360  2015-03-07
10363  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0470  2015-03-07
10364  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_1570  2015-03-07
10365  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0110  2015-03-07
10366  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0340  2015-03-07
10367  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0310  2015-03-07
10368  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0100  2015-03-07
10369  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0320  2015-03-07
10370  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_7230  2015-03-07
10371  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_7220  2015-03-07
10372  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_7210  2015-03-07
10373  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0080  2015-03-07
10374  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0090  2015-03-07
10375  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0060  2015-03-07
10376  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0070  2015-03-07
10377  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0180  2015-03-07
10378  CSIS-SIT3  2017-03-07   CSIS-SIT3  FMT_POS_0290  2015-03-07

         end_date is_period
4542   2017-03-07      True
4543   2017-03-07      True
4544   2017-03-07      True
4545   2017-03-07      True
4546   2017-03-07      True
4547   2017-03-07      True
4548   2017-03-07      True
4549   2017-03-07      True
4550   2017-03-07      True
4551   2017-03-07      True
4552   2017-03-07      True
4553   2017-03-07      True
4554   2017-03-07      True
4555   2017-03-07      True
4556   2017-03-07      True
4557   2017-03-07      True
4558   2017-03-07      True
4559   2017-03-07      True
4560   2017-03-07      True
4561   2017-03-07      True
5367   2017-03-07      True
5368   2017-03-07      True
5369   2017-03-07      True
5370   2017-03-07      True
5371   2017-03-07      True
5372   2017-03-07      True
5373   2017-03-07      True
5374   2017-03-07      True
5375   2017-03-07      True
5376   2017-03-07      True
...           ...       ...
10341  2017-03-07      True
10342  2017-03-07      True
10343  2017-03-07      True
10344  2017-03-07      True
10345  2017-03-07      True
10346  2017-03-07      True
10347  2017-03-07      True
10348  2017-03-07      True
10349  2017-03-07      True
10350  2017-03-07      True
10359  2017-03-07      True
10360  2017-03-07      True
10361  2017-03-07      True
10362  2017-03-07      True
10363  2017-03-07      True
10364  2017-03-07      True
10365  2017-03-07      True
10366  2017-03-07      True
10367  2017-03-07      True
10368  2017-03-07      True
10369  2017-03-07      True
10370  2017-03-07      True
10371  2017-03-07      True
10372  2017-03-07      True
10373  2017-03-07      True
10374  2017-03-07      True
10375  2017-03-07      True
10376  2017-03-07      True
10377  2017-03-07      True
10378  2017-03-07      True

[340 rows x 7 columns]
QQ
        username  query_date report_name           doc  start_date  \
18006  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0150  2015-03-31
18007  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0270  2015-03-31
18008  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0130  2015-03-31
18009  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0360  2015-03-31
18010  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0470  2015-03-31
18011  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_1570  2015-03-31
18012  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0110  2015-03-31
18013  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0340  2015-03-31
18014  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0310  2015-03-31
18015  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0100  2015-03-31
18016  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0320  2015-03-31
18017  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_7230  2015-03-31
18018  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_7220  2015-03-31
18019  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_7210  2015-03-31
18020  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0080  2015-03-31
18021  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0090  2015-03-31
18022  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0060  2015-03-31
18023  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0070  2015-03-31
18024  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0180  2015-03-31
18025  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0290  2015-03-31
19565  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0150  2015-03-31
19566  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0270  2015-03-31
19567  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0130  2015-03-31
19568  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0360  2015-03-31
19569  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0470  2015-03-31
19570  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_1570  2015-03-31
19571  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0110  2015-03-31
19572  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0340  2015-03-31
19573  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0310  2015-03-31
19574  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0100  2015-03-31
...          ...         ...         ...           ...         ...
20462  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0320  2015-03-31
20463  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_7230  2015-03-31
20464  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_7220  2015-03-31
20465  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_7210  2015-03-31
20466  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0080  2015-03-31
20467  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0090  2015-03-31
20468  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0060  2015-03-31
20469  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0070  2015-03-31
20470  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0180  2015-03-31
20471  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0290  2015-03-31
20472  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0150  2015-03-31
20473  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0270  2015-03-31
20474  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0130  2015-03-31
20475  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0360  2015-03-31
20476  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0470  2015-03-31
20477  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_1570  2015-03-31
20478  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0110  2015-03-31
20479  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0340  2015-03-31
20480  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0310  2015-03-31
20481  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0100  2015-03-31
20482  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0320  2015-03-31
20483  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_7230  2015-03-31
20484  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_7220  2015-03-31
20485  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_7210  2015-03-31
20486  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0080  2015-03-31
20487  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0090  2015-03-31
20488  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0060  2015-03-31
20489  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0070  2015-03-31
20490  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0180  2015-03-31
20491  CSIS-SIT3  2017-03-31   CSIS-SIT3  FMT_POS_0290  2015-03-31

         end_date is_period
18006  2017-03-31      True
18007  2017-03-31      True
18008  2017-03-31      True
18009  2017-03-31      True
18010  2017-03-31      True
18011  2017-03-31      True
18012  2017-03-31      True
18013  2017-03-31      True
18014  2017-03-31      True
18015  2017-03-31      True
18016  2017-03-31      True
18017  2017-03-31      True
18018  2017-03-31      True
18019  2017-03-31      True
18020  2017-03-31      True
18021  2017-03-31      True
18022  2017-03-31      True
18023  2017-03-31      True
18024  2017-03-31      True
18025  2017-03-31      True
19565  2017-03-31      True
19566  2017-03-31      True
19567  2017-03-31      True
19568  2017-03-31      True
19569  2017-03-31      True
19570  2017-03-31      True
19571  2017-03-31      True
19572  2017-03-31      True
19573  2017-03-31      True
19574  2017-03-31      True
...           ...       ...
20462  2017-03-31      True
20463  2017-03-31      True
20464  2017-03-31      True
20465  2017-03-31      True
20466  2017-03-31      True
20467  2017-03-31      True
20468  2017-03-31      True
20469  2017-03-31      True
20470  2017-03-31      True
20471  2017-03-31      True
20472  2017-03-31      True
20473  2017-03-31      True
20474  2017-03-31      True
20475  2017-03-31      True
20476  2017-03-31      True
20477  2017-03-31      True
20478  2017-03-31      True
20479  2017-03-31      True
20480  2017-03-31      True
20481  2017-03-31      True
20482  2017-03-31      True
20483  2017-03-31      True
20484  2017-03-31      True
20485  2017-03-31      True
20486  2017-03-31      True
20487  2017-03-31      True
20488  2017-03-31      True
20489  2017-03-31      True
20490  2017-03-31      True
20491  2017-03-31      True

[260 rows x 7 columns]
QQ
        username  query_date report_name           doc  start_date  \
30628  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0150  2015-04-21
30629  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0270  2015-04-21
30630  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0130  2015-04-21
30631  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0360  2015-04-21
30632  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0470  2015-04-21
30633  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_1570  2015-04-21
30634  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0110  2015-04-21
30635  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0340  2015-04-21
30636  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0310  2015-04-21
30637  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0100  2015-04-21
30638  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0320  2015-04-21
30639  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_7230  2015-04-21
30640  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_7220  2015-04-21
30641  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_7210  2015-04-21
30642  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0080  2015-04-21
30643  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0090  2015-04-21
30644  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0060  2015-04-21
30645  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0070  2015-04-21
30646  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0180  2015-04-21
30647  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0290  2015-04-21
30648  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0150  2015-04-21
30649  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0270  2015-04-21
30650  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0130  2015-04-21
30651  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0360  2015-04-21
30652  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0470  2015-04-21
30653  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_1570  2015-04-21
30654  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0110  2015-04-21
30655  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0340  2015-04-21
30656  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0310  2015-04-21
30657  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0100  2015-04-21
...          ...         ...         ...           ...         ...
31525  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0320  2015-04-21
31526  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_7230  2015-04-21
31527  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_7220  2015-04-21
31528  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_7210  2015-04-21
31529  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0080  2015-04-21
31530  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0090  2015-04-21
31531  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0060  2015-04-21
31532  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0070  2015-04-21
31533  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0180  2015-04-21
31534  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0290  2015-04-21
31535  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0150  2015-04-21
31536  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0270  2015-04-21
31537  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0130  2015-04-21
31538  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0360  2015-04-21
31539  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0470  2015-04-21
31540  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_1570  2015-04-21
31541  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0110  2015-04-21
31542  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0340  2015-04-21
31543  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0310  2015-04-21
31544  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0100  2015-04-21
31545  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0320  2015-04-21
31546  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_7230  2015-04-21
31547  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_7220  2015-04-21
31548  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_7210  2015-04-21
31549  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0080  2015-04-21
31550  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0090  2015-04-21
31551  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0060  2015-04-21
31552  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0070  2015-04-21
31553  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0180  2015-04-21
31554  CSIS-SIT3  2017-04-21   CSIS-SIT3  FMT_POS_0290  2015-04-21

         end_date is_period
30628  2017-04-21      True
30629  2017-04-21      True
30630  2017-04-21      True
30631  2017-04-21      True
30632  2017-04-21      True
30633  2017-04-21      True
30634  2017-04-21      True

12821  2017-03-17      True
QQ
        username  query_date report_name           doc  start_date  \
12708  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0150  2015-03-16
12709  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0270  2015-03-16
12710  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0130  2015-03-16
12711  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0360  2015-03-16
12712  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0470  2015-03-16
12713  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_1570  2015-03-16
12714  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0110  2015-03-16
12715  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0340  2015-03-16
12716  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0310  2015-03-16
12717  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0100  2015-03-16
12718  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0320  2015-03-16
12719  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_7230  2015-03-16
12720  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_7220  2015-03-16
12721  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_7210  2015-03-16
12722  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0080  2015-03-16
12723  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0090  2015-03-16
12724  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0060  2015-03-16
12725  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0070  2015-03-16
12726  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0180  2015-03-16
12727  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0290  2015-03-16
12734  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0150  2015-03-16
12735  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0270  2015-03-16
12736  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0130  2015-03-16
12737  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0360  2015-03-16
12738  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0470  2015-03-16
12739  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_1570  2015-03-16
12740  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0110  2015-03-16
12741  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0340  2015-03-16
12742  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0310  2015-03-16
12743  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0100  2015-03-16
12744  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0320  2015-03-16
12745  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_7230  2015-03-16
12746  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_7220  2015-03-16
12747  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_7210  2015-03-16
12748  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0080  2015-03-16
12749  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0090  2015-03-16
12750  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0060  2015-03-16
12751  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0070  2015-03-16
12752  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0180  2015-03-16
12753  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0290  2015-03-16
12762  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0150  2015-03-16
12763  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0270  2015-03-16
12764  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0130  2015-03-16
12765  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0360  2015-03-16
12766  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0470  2015-03-16
12767  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_1570  2015-03-16
12768  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0110  2015-03-16
12769  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0340  2015-03-16
12770  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0310  2015-03-16
12771  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0100  2015-03-16
12772  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0320  2015-03-16
12773  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_7230  2015-03-16
12774  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_7220  2015-03-16
12775  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_7210  2015-03-16
12776  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0080  2015-03-16
12777  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0090  2015-03-16
12778  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0060  2015-03-16
12779  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0070  2015-03-16
12780  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0180  2015-03-16
12781  CSIS-SIT3  2017-03-16   CSIS-SIT3  FMT_POS_0290  2015-03-16

         end_date is_period
12708  2017-03-16      True
12709  2017-03-16      True
12710  2017-03-16      True
12711  2017-03-16      True
12712  2017-03-16      True
12713  2017-03-16      True
12714  2017-03-16      True
12715  2017-03-16      True
12716  2017-03-16      True
12717  2017-03-16      True
12718  2017-03-16      True
12719  2017-03-16      True
12720  2017-03-16      True
12721  2017-03-16      True
12722  2017-03-16      True
12723  2017-03-16      True
12724  2017-03-16      True
12725  2017-03-16      True
12726  2017-03-16      True
12727  2017-03-16      True
12734  2017-03-16      True
12735  2017-03-16      True
12736  2017-03-16      True
12737  2017-03-16      True
12738  2017-03-16      True
12739  2017-03-16      True
12740  2017-03-16      True
12741  2017-03-16      True
12742  2017-03-16      True
12743  2017-03-16      True
12744  2017-03-16      True
12745  2017-03-16      True
12746  2017-03-16      True
12747  2017-03-16      True
12748  2017-03-16      True
12749  2017-03-16      True
12750  2017-03-16      True
12751  2017-03-16      True
12752  2017-03-16      True
12753  2017-03-16      True
12762  2017-03-16      True
12763  2017-03-16      True
12764  2017-03-16      True
12765  2017-03-16      True
12766  2017-03-16      True
12767  2017-03-16      True
12768  2017-03-16      True
12769  2017-03-16      True
12770  2017-03-16      True
12771  2017-03-16      True
12772  2017-03-16      True
12773  2017-03-16      True
12774  2017-03-16      True
12775  2017-03-16      True
12776  2017-03-16      True
12777  2017-03-16      True
12778  2017-03-16      True
12779  2017-03-16      True
12780  2017-03-16      True
12781  2017-03-16      True
QQ
        username  query_date report_name           doc  start_date  \
19151  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0150  2015-03-27
19152  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0270  2015-03-27
19153  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0130  2015-03-27
19154  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0360  2015-03-27
19155  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0470  2015-03-27
19156  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_1570  2015-03-27
19157  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0110  2015-03-27
19158  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0340  2015-03-27
19159  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0310  2015-03-27
19160  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0100  2015-03-27
19161  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0320  2015-03-27
19162  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_7230  2015-03-27
19163  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_7220  2015-03-27
19164  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_7210  2015-03-27
19165  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0080  2015-03-27
19166  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0090  2015-03-27
19167  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0060  2015-03-27
19168  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0070  2015-03-27
19169  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0180  2015-03-27
19170  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0290  2015-03-27
19204  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0150  2015-03-27
19205  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0270  2015-03-27
19206  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0130  2015-03-27
19207  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0360  2015-03-27
19208  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0470  2015-03-27
19209  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_1570  2015-03-27
19210  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0110  2015-03-27
19211  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0340  2015-03-27
19212  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0310  2015-03-27
19213  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0100  2015-03-27
19214  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0320  2015-03-27
19215  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_7230  2015-03-27
19216  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_7220  2015-03-27
19217  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_7210  2015-03-27
19218  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0080  2015-03-27
19219  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0090  2015-03-27
19220  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0060  2015-03-27
19221  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0070  2015-03-27
19222  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0180  2015-03-27
19223  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0290  2015-03-27
19962  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0150  2015-03-27
19963  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0270  2015-03-27
19964  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0130  2015-03-27
19965  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0360  2015-03-27
19966  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0470  2015-03-27
19967  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_1570  2015-03-27
19968  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0110  2015-03-27
19969  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0340  2015-03-27
19970  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0310  2015-03-27
19971  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0100  2015-03-27
19972  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0320  2015-03-27
19973  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_7230  2015-03-27
19974  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_7220  2015-03-27
19975  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_7210  2015-03-27
19976  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0080  2015-03-27
19977  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0090  2015-03-27
19978  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0060  2015-03-27
19979  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0070  2015-03-27
19980  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0180  2015-03-27
19981  CSIS-SIT3  2017-03-27   CSIS-SIT3  FMT_POS_0290  2015-03-27

         end_date is_period
19151  2017-03-27      True
19152  2017-03-27      True
19153  2017-03-27      True
19154  2017-03-27      True
19155  2017-03-27      True
19156  2017-03-27      True
19157  2017-03-27      True
19158  2017-03-27      True
19159  2017-03-27      True
19160  2017-03-27      True
19161  2017-03-27      True
19162  2017-03-27      True
19163  2017-03-27      True
19164  2017-03-27      True
19165  2017-03-27      True
19166  2017-03-27      True
19167  2017-03-27      True
19168  2017-03-27      True
19169  2017-03-27      True
19170  2017-03-27      True
19204  2017-03-27      True
19205  2017-03-27      True
19206  2017-03-27      True
19207  2017-03-27      True
19208  2017-03-27      True
19209  2017-03-27      True
19210  2017-03-27      True
19211  2017-03-27      True
19212  2017-03-27      True
19213  2017-03-27      True
19214  2017-03-27      True
19215  2017-03-27      True
19216  2017-03-27      True
19217  2017-03-27      True
19218  2017-03-27      True
19219  2017-03-27      True
19220  2017-03-27      True
19221  2017-03-27      True
19222  2017-03-27      True
19223  2017-03-27      True
19962  2017-03-27      True
19963  2017-03-27      True
19964  2017-03-27      True
19965  2017-03-27      True
19966  2017-03-27      True
19967  2017-03-27      True
19968  2017-03-27      True
19969  2017-03-27      True
19970  2017-03-27      True
19971  2017-03-27      True
19972  2017-03-27      True
19973  2017-03-27      True
19974  2017-03-27      True
19975  2017-03-27      True
19976  2017-03-27      True
19977  2017-03-27      True
19978  2017-03-27      True
19979  2017-03-27      True
19980  2017-03-27      True
19981  2017-03-27      True
QQ
        username  query_date report_name           doc  start_date  \
24813  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0150  2015-04-10
24814  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0270  2015-04-10
24815  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0130  2015-04-10
24816  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0360  2015-04-10
24817  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0470  2015-04-10
24818  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_1570  2015-04-10
24819  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0110  2015-04-10
24820  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0340  2015-04-10
24821  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0310  2015-04-10
24822  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0100  2015-04-10
24823  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0320  2015-04-10
24824  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_7230  2015-04-10
24825  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_7220  2015-04-10
24826  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_7210  2015-04-10
24827  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0080  2015-04-10
24828  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0090  2015-04-10
24829  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0060  2015-04-10
24830  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0070  2015-04-10
24831  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0180  2015-04-10
24832  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0290  2015-04-10
28380  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0150  2015-04-10
28381  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0270  2015-04-10
28382  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0130  2015-04-10
28383  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0360  2015-04-10
28384  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0470  2015-04-10
28385  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_1570  2015-04-10
28386  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0110  2015-04-10
28387  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0340  2015-04-10
28388  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0310  2015-04-10
28389  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0100  2015-04-10
28390  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0320  2015-04-10
28391  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_7230  2015-04-10
28392  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_7220  2015-04-10
28393  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_7210  2015-04-10
28394  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0080  2015-04-10
28395  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0090  2015-04-10
28396  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0060  2015-04-10
28397  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0070  2015-04-10
28398  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0180  2015-04-10
28399  CSIS-SIT3  2017-04-10   CSIS-SIT3  FMT_POS_0290  2015-04-10

         end_date is_period
24813  2017-04-10      True
24814  2017-04-10      True
24815  2017-04-10      True
24816  2017-04-10      True
24817  2017-04-10      True
24818  2017-04-10      True
24819  2017-04-10      True
24820  2017-04-10      True
24821  2017-04-10      True
24822  2017-04-10      True
24823  2017-04-10      True
24824  2017-04-10      True
24825  2017-04-10      True
24826  2017-04-10      True
24827  2017-04-10      True
24828  2017-04-10      True
24829  2017-04-10      True
24830  2017-04-10      True
24831  2017-04-10      True
24832  2017-04-10      True
28380  2017-04-10      True
28381  2017-04-10      True
28382  2017-04-10      True
28383  2017-04-10      True
28384  2017-04-10      True
28385  2017-04-10      True
28386  2017-04-10      True
28387  2017-04-10      True
28388  2017-04-10      True
28389  2017-04-10      True
28390  2017-04-10      True
28391  2017-04-10      True
28392  2017-04-10      True
28393  2017-04-10      True
28394  2017-04-10      True
28395  2017-04-10      True
28396  2017-04-10      True
28397  2017-04-10      True
28398  2017-04-10      True
28399  2017-04-10      True
QQ
        username  query_date report_name           doc  start_date  \
18343  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0150  2015-03-29
18344  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0270  2015-03-29
18345  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0130  2015-03-29
18346  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0360  2015-03-29
18347  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0470  2015-03-29
18348  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_1570  2015-03-29
18349  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0110  2015-03-29
18350  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0340  2015-03-29
18351  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0310  2015-03-29
18352  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0100  2015-03-29
18353  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0320  2015-03-29
18354  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_7230  2015-03-29
18355  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_7220  2015-03-29
18356  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_7210  2015-03-29
18357  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0080  2015-03-29
18358  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0090  2015-03-29
18359  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0060  2015-03-29
18360  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0070  2015-03-29
18361  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0180  2015-03-29
18362  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0290  2015-03-29
20196  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0150  2015-03-29
20197  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0270  2015-03-29
20198  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0130  2015-03-29
20199  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0360  2015-03-29
20200  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0470  2015-03-29
20201  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_1570  2015-03-29
20202  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0110  2015-03-29
20203  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0340  2015-03-29
20204  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0310  2015-03-29
20205  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0100  2015-03-29
20206  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0320  2015-03-29
20207  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_7230  2015-03-29
20208  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_7220  2015-03-29
20209  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_7210  2015-03-29
20210  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0080  2015-03-29
20211  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0090  2015-03-29
20212  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0060  2015-03-29
20213  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0070  2015-03-29
20214  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0180  2015-03-29
20215  CSIS-SIT3  2017-03-29   CSIS-SIT3  FMT_POS_0290  2015-03-29

         end_date is_period
18343  2017-03-29      True
18344  2017-03-29      True
18345  2017-03-29      True
18346  2017-03-29      True
18347  2017-03-29      True
18348  2017-03-29      True
18349  2017-03-29      True
18350  2017-03-29      True
18351  2017-03-29      True
18352  2017-03-29      True
18353  2017-03-29      True
18354  2017-03-29      True
18355  2017-03-29      True
18356  2017-03-29      True
18357  2017-03-29      True
18358  2017-03-29      True
18359  2017-03-29      True
18360  2017-03-29      True
18361  2017-03-29      True
18362  2017-03-29      True
20196  2017-03-29      True
20197  2017-03-29      True
20198  2017-03-29      True
20199  2017-03-29      True
20200  2017-03-29      True
20201  2017-03-29      True
20202  2017-03-29      True
20203  2017-03-29      True
20204  2017-03-29      True
20205  2017-03-29      True
20206  2017-03-29      True
20207  2017-03-29      True
20208  2017-03-29      True
20209  2017-03-29      True
20210  2017-03-29      True
20211  2017-03-29      True
20212  2017-03-29      True
20213  2017-03-29      True
20214  2017-03-29      True
20215  2017-03-29      True
QQ
       username  query_date report_name           doc  start_date    end_date  \
4565  CSIS-SIT3  2017-03-09   CSIS-SIT3  FMT_POS_0150  2015-03-09  2017-03-09
4566  CSIS-SIT3  2017-03-09   CSIS-SIT3  FMT_POS_0270  2015-03-09  2017-03-09
4567  CSIS-SIT3  2017-03-09   CSIS-SIT3  FMT_POS_0130  2015-03-09  2017-03-09
4568  CSIS-SIT3  2017-03-09   CSIS-SIT3  FMT_POS_0360  2015-03-09  2017-03-09
4569  CSIS-SIT3  2017-03-09   CSIS-SIT3  FMT_POS_0470  2015-03-09  2017-03-09
4570  CSIS-SIT3  2017-03-09   CSIS-SIT3  FMT_POS_1570  2015-03-09  2017-03-09

        username  query_date report_name           doc  start_date  \
15211  CSIS-SIT3  2017-03-25   CSIS-SIT3  FMT_POS_0150  2015-03-25
15212  CSIS-SIT3  2017-03-25   CSIS-SIT3  FMT_POS_0270  2015-03-25
15213  CSIS-SIT3  2017-03-25   CSIS-SIT3  FMT_POS_0130  2015-03-25
15214  CSIS-SIT3  2017-03-25   CSIS-SIT3  FMT_POS_0360  2015-03-25
15215  CSIS-SIT3  2017-03-25   CSIS-SIT3  FMT_POS_0470  2015-03-25
15216  CSIS-SIT3  2017-03-25   CSIS-SIT3  FMT_POS_1570  2015-03-25
15217  CSIS-SIT3  2017-03-25   CSIS-SIT3  FMT_POS_0110  2015-03-25
15218  CSIS-SIT3  2017-03-25   CSIS-SIT3  FMT_POS_0340  2015-03-25
15219  CSIS-SIT3  2017-03-25   CSIS-SIT3  FMT_POS_0310  2015-03-25
15220  CSIS-SIT3  2017-03-25   CSIS-SIT3  FMT_POS_0100  2015-03-25
15221  CSIS-SIT3  2017-03-25   CSIS-SIT3  FMT_POS_0320  2015-03-25
15222  CSIS-SIT3  2017-03-25   CSIS-SIT3  FMT_POS_7230  2015-03-25
15223  CSIS-SIT3  2017-03-25   CSIS-SIT3  FMT_POS_7220  2015-03-25
15224  CSIS-SIT3  2017-03-25   CSIS-SIT3  FMT_POS_7210  2015-03-25
15225  CSIS-SIT3  2017-03-25   CSIS-SIT3  FMT_POS_0080  2015-03-25
15226  CSIS-SIT3  2017-03-25   CSIS-SIT3  FMT_POS_0090  2015-03-25
15227  CSIS-SIT3  2017-03-25   CSIS-SIT3  FMT_POS_0060  2015-03-25
15228  CSIS-SIT3  2017-03-25   CSIS-SIT3  FMT_POS_0070  2015-03-25
15229  CSIS-SIT3  2017-03-25   CSIS-SIT3  FMT_POS_0180  2015-03-25
15230  CSIS-SIT3  2017-03-25   CSIS-SIT3  FMT_POS_0290  2015-03-25

         end_date is_period
15211  2017-03-25      True
15212  2017-03-25      True
15213  2017-03-25      True
15214  2017-03-25      True
15215  2017-03-25      True
15216  2017-03-25      True
15217  2017-03-25      True
15218  2017-03-25      True
15219  2017-03-25      True
15220  2017-03-25      True
15221  2017-03-25      True
15222  2017-03-25      True
15223  2017-03-25      True
15224  2017-03-25      True
15225  2017-03-25      True
15226  2017-03-25      True
15227  2017-03-25      True
15228  2017-03-25      True
15229  2017-03-25      True
15230  2017-03-25      True
QQ
        username  query_date report_name           doc  start_date  \
20648  CSIS-SIT3  2017-03-28   CSIS-SIT3  FMT_POS_0150  2015-03-28
20649  CSIS-SIT3  2017-03-28   CSIS-SIT3  FMT_POS_0270  2015-03-28
20650  CSIS-SIT3  2017-03-28   CSIS-SIT3  FMT_POS_0130  2015-03-28
20651  CSIS-SIT3  2017-03-28   CSIS-SIT3  FMT_POS_0360  2015-03-28
20652  CSIS-SIT3  2017-03-28   CSIS-SIT3  FMT_POS_0470  2015-03-28
20653  CSIS-SIT3  2017-03-28   CSIS-SIT3  FMT_POS_1570  2015-03-28
20654  CSIS-SIT3  2017-03-28   CSIS-SIT3  FMT_POS_0110  2015-03-28
20655  CSIS-SIT3  2017-03-28   CSIS-SIT3  FMT_POS_0340  2015-03-28
20656  CSIS-SIT3  2017-03-28   CSIS-SIT3  FMT_POS_0310  2015-03-28
20657  CSIS-SIT3  2017-03-28   CSIS-SIT3  FMT_POS_0100  2015-03-28
20658  CSIS-SIT3  2017-03-28   CSIS-SIT3  FMT_POS_0320  2015-03-28
20659  CSIS-SIT3  2017-03-28   CSIS-SIT3  FMT_POS_7230  2015-03-28
20660  CSIS-SIT3  2017-03-28   CSIS-SIT3  FMT_POS_7220  2015-03-28
20661  CSIS-SIT3  2017-03-28   CSIS-SIT3  FMT_POS_7210  2015-03-28
20662  CSIS-SIT3  2017-03-28   CSIS-SIT3  FMT_POS_0080  2015-03-28
20663  CSIS-SIT3  2017-03-28   CSIS-SIT3  FMT_POS_0090  2015-03-28
20664  CSIS-SIT3  2017-03-28   CSIS-SIT3  FMT_POS_0060  2015-03-28
20665  CSIS-SIT3  2017-03-28   CSIS-SIT3  FMT_POS_0070  2015-03-28
20666  CSIS-SIT3  2017-03-28   CSIS-SIT3  FMT_POS_0180  2015-03-28
20667  CSIS-SIT3  2017-03-28   CSIS-SIT3  FMT_POS_0290  2015-03-28

         end_date is_period
20648  2017-03-28      True
20649  2017-03-28      True
20650  2017-03-28      True
20651  2017-03-28      True
20652  2017-03-28      True
20653  2017-03-28      True
20654  2017-03-28      True
20655  2017-03-28      True
20656  2017-03-28      True
20657  2017-03-28      True
20658  2017-03-28      True
20659  2017-03-28      True
20660  2017-03-28      True
20661  2017-03-28      True
20662  2017-03-28      True
20663  2017-03-28      True
20664  2017-03-28      True
20665  2017-03-28      True
20666  2017-03-28      True
20667  2017-03-28      True
QQ
        username  query_date report_name           doc  start_date  \
16018  CSIS-SIT3  2017-03-21   CSIS-SIT3  FMT_POS_0150  2015-03-21
16019  CSIS-SIT3  2017-03-21   CSIS-SIT3  FMT_POS_0270  2015-03-21
16020  CSIS-SIT3  2017-03-21   CSIS-SIT3  FMT_POS_0130  2015-03-21
16021  CSIS-SIT3  2017-03-21   CSIS-SIT3  FMT_POS_0360  2015-03-21
16022  CSIS-SIT3  2017-03-21   CSIS-SIT3  FMT_POS_0470  2015-03-21
16023  CSIS-SIT3  2017-03-21   CSIS-SIT3  FMT_POS_1570  2015-03-21
16024  CSIS-SIT3  2017-03-21   CSIS-SIT3  FMT_POS_0110  2015-03-21
16025  CSIS-SIT3  2017-03-21   CSIS-SIT3  FMT_POS_0340  2015-03-21
16026  CSIS-SIT3  2017-03-21   CSIS-SIT3  FMT_POS_0310  2015-03-21
16027  CSIS-SIT3  2017-03-21   CSIS-SIT3  FMT_POS_0100  2015-03-21
16028  CSIS-SIT3  2017-03-21   CSIS-SIT3  FMT_POS_0320  2015-03-21
16029  CSIS-SIT3  2017-03-21   CSIS-SIT3  FMT_POS_7230  2015-03-21
16030  CSIS-SIT3  2017-03-21   CSIS-SIT3  FMT_POS_7220  2015-03-21
16031  CSIS-SIT3  2017-03-21   CSIS-SIT3  FMT_POS_7210  2015-03-21
16032  CSIS-SIT3  2017-03-21   CSIS-SIT3  FMT_POS_0080  2015-03-21
16033  CSIS-SIT3  2017-03-21   CSIS-SIT3  FMT_POS_0090  2015-03-21
16034  CSIS-SIT3  2017-03-21   CSIS-SIT3  FMT_POS_0060  2015-03-21
16035  CSIS-SIT3  2017-03-21   CSIS-SIT3  FMT_POS_0070  2015-03-21
16036  CSIS-SIT3  2017-03-21   CSIS-SIT3  FMT_POS_0180  2015-03-21
16037  CSIS-SIT3  2017-03-21   CSIS-SIT3  FMT_POS_0290  2015-03-21

         end_date is_period
16018  2017-03-21      True
16019  2017-03-21      True
16020  2017-03-21      True
16021  2017-03-21      True
16022  2017-03-21      True
16023  2017-03-21      True
16024  2017-03-21      True
16025  2017-03-21      True
16026  2017-03-21      True
16027  2017-03-21      True
16028  2017-03-21      True
16029  2017-03-21      True
16030  2017-03-21      True
16031  2017-03-21      True
16032  2017-03-21      True
16033  2017-03-21      True
16034  2017-03-21      True
16035  2017-03-21      True
16036  2017-03-21      True
16037  2017-03-21      True
QQ
        username  query_date report_name           doc  start_date  \
30771  CSIS-SIT3  2017-04-18   CSIS-SIT3  FMT_POS_0150  2015-04-18
30772  CSIS-SIT3  2017-04-18   CSIS-SIT3  FMT_POS_0270  2015-04-18
30773  CSIS-SIT3  2017-04-18   CSIS-SIT3  FMT_POS_0130  2015-04-18
30774  CSIS-SIT3  2017-04-18   CSIS-SIT3  FMT_POS_0360  2015-04-18
30775  CSIS-SIT3  2017-04-18   CSIS-SIT3  FMT_POS_0470  2015-04-18
30776  CSIS-SIT3  2017-04-18   CSIS-SIT3  FMT_POS_1570  2015-04-18
30777  CSIS-SIT3  2017-04-18   CSIS-SIT3  FMT_POS_0110  2015-04-18
30778  CSIS-SIT3  2017-04-18   CSIS-SIT3  FMT_POS_0340  2015-04-18
30779  CSIS-SIT3  2017-04-18   CSIS-SIT3  FMT_POS_0310  2015-04-18
30780  CSIS-SIT3  2017-04-18   CSIS-SIT3  FMT_POS_0100  2015-04-18
30781  CSIS-SIT3  2017-04-18   CSIS-SIT3  FMT_POS_0320  2015-04-18
30782  CSIS-SIT3  2017-04-18   CSIS-SIT3  FMT_POS_7230  2015-04-18
30783  CSIS-SIT3  2017-04-18   CSIS-SIT3  FMT_POS_7220  2015-04-18
30784  CSIS-SIT3  2017-04-18   CSIS-SIT3  FMT_POS_7210  2015-04-18
30785  CSIS-SIT3  2017-04-18   CSIS-SIT3  FMT_POS_0080  2015-04-18
30786  CSIS-SIT3  2017-04-18   CSIS-SIT3  FMT_POS_0090  2015-04-18
30787  CSIS-SIT3  2017-04-18   CSIS-SIT3  FMT_POS_0060  2015-04-18
30788  CSIS-SIT3  2017-04-18   CSIS-SIT3  FMT_POS_0070  2015-04-18
30789  CSIS-SIT3  2017-04-18   CSIS-SIT3  FMT_POS_0180  2015-04-18
30790  CSIS-SIT3  2017-04-18   CSIS-SIT3  FMT_POS_0290  2015-04-18

         end_date is_period
30771  2017-04-18      True
30772  2017-04-18      True
30773  2017-04-18      True
30774  2017-04-18      True
30775  2017-04-18      True
30776  2017-04-18      True
30777  2017-04-18      True
30778  2017-04-18      True
30779  2017-04-18      True
30780  2017-04-18      True
30781  2017-04-18      True
30782  2017-04-18      True
30783  2017-04-18      True
30784  2017-04-18      True
30785  2017-04-18      True
30786  2017-04-18      True
30787  2017-04-18      True
30788  2017-04-18      True
30789  2017-04-18      True
30790  2017-04-18      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
21285    user1  2017-04-05       user1  ODS_FIN_0860         NaN  9999-12-31
21292    user1  2017-04-05       user1  ODS_POS_1330  2017-02-28  2017-02-28
21293    user1  2017-04-05       user1  ODS_FIN_0860         NaN  9999-12-31
21322    user1  2017-04-05       user1      #POLICY#         NaN  9999-12-31
21346    user1  2017-04-05       user1      #POLICY#         NaN  9999-12-31
21350    user1  2017-04-05       user1      #POLICY#         NaN  9999-12-31
21353    user1  2017-04-05       user1      #POLICY#         NaN  9999-12-31
21394    user1  2017-04-05       user1  FMT_POS_0020  2017-04-05  2017-04-05
21395    user1  2017-04-05       user1  FMT_POS_0020  2017-04-05  2017-04-05
21406    user1  2017-04-05       user1  ODS_FIN_0810         NaN  9999-12-31
21418    user1  2017-04-05       user1  FMT_POS_0240  2017-02-01  2017-04-05
21422    user1  2017-04-05       user1  ODS_UNB_0260  2017-03-31  2017-03-31
21423    user1  2017-04-05       user1  ODS_UNB_0261  2017-03-31  2017-03-31
21424    user1  2017-04-05       user1      #POLICY#         NaN  9999-12-31
21425    user1  2017-04-05       user1      #POLICY#         NaN  9999-12-31
21436    user1  2017-04-05       user1  ODS_FIN_0830         NaN  9999-12-31
21486    user1  2017-04-05       user1  ODS_FIN_0770         NaN  9999-12-31
21487    user1  2017-04-05       user1  ODS_FIN_0860         NaN  9999-12-31
21594    user1  2017-04-05       user1      #POLICY#         NaN  9999-12-31
21596    user1  2017-04-05       user1      #POLICY#         NaN  9999-12-31
21605    user1  2017-04-05       user1      #POLICY#         NaN  9999-12-31
21606    user1  2017-04-05       user1      #POLICY#         NaN  9999-12-31
21612    user1  2017-04-05       user1  FMT_POS_0240  2017-02-27  2017-04-05
21613    user1  2017-04-05       user1  FMT_POS_0240  2017-02-27  2017-04-05
21805    user1  2017-04-05       user1  ODS_FIN_0860         NaN  9999-12-31
22141    user1  2017-04-05       user1  ODS_FIN_0860         NaN  9999-12-31
22431    user1  2017-04-05       user1  ODS_FIN_0860         NaN  9999-12-31
22452    user1  2017-04-05       user1  ODS_UNB_0262  2017-03-31  2017-03-31
22465    user1  2017-04-05       user1      #POLICY#         NaN  9999-12-31
22466    user1  2017-04-05       user1      #POLICY#         NaN  9999-12-31
...        ...         ...         ...           ...         ...         ...
22471    user1  2017-04-05       user1      #POLICY#         NaN  9999-12-31
22472    user1  2017-04-05       user1      #POLICY#         NaN  9999-12-31
22473    user1  2017-04-05       user1      #POLICY#         NaN  9999-12-31
22488    user1  2017-04-05       user1  ODS_POS_1080  2017-02-02  2017-02-02
22489    user1  2017-04-05       user1  ODS_POS_1080  2017-02-07  2017-02-07
22490    user1  2017-04-05       user1  ODS_FIN_0860         NaN  9999-12-31
22518    user1  2017-04-05       user1  FMT_POS_0030         NaN  9999-12-31
22519    user1  2017-04-05       user1  FMT_POS_0030         NaN  9999-12-31
22526    user1  2017-04-05       user1  FMT_POS_0030         NaN  9999-12-31
22527    user1  2017-04-05       user1  FMT_POS_0030  2017-03-31  2017-03-31
22528    user1  2017-04-05       user1  FMT_POS_0030  2017-03-01  2017-03-01
22542    user1  2017-04-05       user1  ODS_FIN_0860         NaN  9999-12-31
22563    user1  2017-04-05       user1  ODS_POS_1330  2017-03-01  2017-03-01
22567    user1  2017-04-05       user1  ODS_POS_1330  2017-02-28  2017-02-28
22568    user1  2017-04-05       user1  ODS_POS_1330  2017-02-28  2017-02-28
22646    user1  2017-04-05       user1  FMT_POS_0140  2017-01-13  2017-01-13
22647    user1  2017-04-05       user1  FMT_POS_0140  2017-03-01  2017-03-01
23066    user1  2017-04-05       user1  ODS_POS_0840         NaN  9999-12-31
23076    user1  2017-04-05       user1  ODS_POS_0840         NaN  9999-12-31
23077    user1  2017-04-05       user1  FMT_UNB_0291         NaN  9999-12-31
23079    user1  2017-04-05       user1  ODS_FIN_0860         NaN  9999-12-31
23086    user1  2017-04-05       user1  ODS_UNB_0690         NaN  9999-12-31
23262    user1  2017-04-05       user1  ODS_FIN_0860         NaN  9999-12-31
24748    user1  2017-04-05       user1  FMT_UNB_0441  2017-03-31  2017-03-31
24914    user1  2017-04-05       user1   FMT_PA_0800         NaN  9999-12-31
24915    user1  2017-04-05       user1   FMT_PA_0800         NaN  9999-12-31
25506    user1  2017-04-05       user1  FMT_POS_0140         NaN  9999-12-31
25568    user1  2017-04-05       user1  ODS_FIN_0860         NaN  9999-12-31
25569    user1  2017-04-05       user1  ODS_FIN_0860         NaN  9999-12-31
25570    user1  2017-04-05       user1  ODS_FIN_0860         NaN  9999-12-31

      is_period
21285      True
21292      True
21293      True
21322      True
21346      True
21350      True
21353      True
21394      True
21395      True
21406      True
21418      True
21422      True
21423      True
21424      True
21425      True
21436      True
21486      True
21487      True
21594      True
21596      True
21605      True
21606      True
21612      True
21613      True
21805      True
22141      True
22431      True
22452      True
22465      True
22466      True
...         ...
22471      True
22472      True
22473      True
22488      True
22489      True
22490      True
22518      True
22519      True
22526      True
22527      True
22528      True
22542      True
22563      True
22567      True
22568      True
22646      True
22647      True
23066      True
23076      True
23077      True
23079      True
23086      True
23262      True
24748      True
24914      True
24915      True
25506      True
25568      True
25569      True
25570      True

[64 rows x 7 columns]
QQ
     username  query_date report_name           doc  start_date    end_date  \
1757    user1  2017-02-17       user1  FMT_POS_0380  2017-01-02  2017-01-02
1758    user1  2017-02-17       user1  FMT_POS_0380  2017-01-03  2017-01-03
1759    user1  2017-02-17       user1  FMT_POS_0180  2017-01-02  2017-01-02
1760    user1  2017-02-17       user1  FMT_POS_0180  2017-01-03  2017-01-03
1761    user1  2017-02-17       user1  FMT_POS_0270  2017-01-02  2017-01-02
1762    user1  2017-02-17       user1  FMT_POS_0270  2017-01-03  2017-01-03
1837    user1  2017-02-17       user1  ODS_FIN_0860         NaN  9999-12-31
1975    user1  2017-02-17       user1  FMT_POS_0470  2016-03-01  2017-08-31
2459    user1  2017-02-17       user1  FMT_POS_0080  2017-01-02  2017-01-02
2460    user1  2017-02-17       user1  FMT_POS_0080  2017-01-03  2017-01-03
2461    user1  2017-02-17       user1  FMT_POS_0090  2017-01-02  2017-01-02
2462    user1  2017-02-17       user1  FMT_POS_0090  2017-01-03  2017-01-03
2463    user1  2017-02-17       user1  FMT_POS_0100  2017-01-02  2017-01-02
2464    user1  2017-02-17       user1  FMT_POS_0100  2017-01-03  2017-01-03
2465    user1  2017-02-17       user1  FMT_POS_0340  2017-01-02  2017-01-02
2466    user1  2017-02-17       user1  FMT_POS_0340  2017-01-03  2017-01-03
2467    user1  2017-02-17       user1  FMT_POS_0140  2017-01-02  2017-01-02
2468    user1  2017-02-17       user1  FMT_POS_0140  2017-01-03  2017-01-03
2469    user1  2017-02-17       user1  FMT_POS_0150  2017-01-02  2017-01-02
2470    user1  2017-02-17       user1  FMT_POS_0150  2017-01-03  2017-01-03
2471    user1  2017-02-17       user1  FMT_POS_0350  2017-01-02  2017-01-02
2472    user1  2017-02-17       user1  FMT_POS_0350  2017-01-03  2017-01-03
2473    user1  2017-02-17       user1  FMT_POS_0360  2017-01-02  2017-01-02
2474    user1  2017-02-17       user1  FMT_POS_0360  2017-01-03  2017-01-03
2475    user1  2017-02-17       user1  FMT_POS_0160  2017-01-02  2017-01-02
2476    user1  2017-02-17       user1  FMT_POS_0160  2017-01-03  2017-01-03
2477    user1  2017-02-17       user1  FMT_POS_0160  2017-01-03  2017-01-03
2614    user1  2017-02-17       user1  ODS_FIN_0860         NaN  9999-12-31
2615    user1  2017-02-17       user1  ODS_FIN_0860         NaN  9999-12-31
2971    user1  2017-02-17       user1  FMT_POS_0060  2016-07-04  2017-02-28
2972    user1  2017-02-17       user1  FMT_POS_0070  2016-07-04  2017-02-28
2973    user1  2017-02-17       user1  FMT_POS_0310  2016-07-04  2017-02-28
2974    user1  2017-02-17       user1  FMT_POS_0090  2016-07-04  2017-02-28
2975    user1  2017-02-17       user1  FMT_POS_0080  2016-07-04  2017-02-28
3017    user1  2017-02-17       user1  FMT_POS_0060  2016-09-05  2017-02-06
3018    user1  2017-02-17       user1  FMT_POS_0070  2016-09-05  2017-02-06
3019    user1  2017-02-17       user1  FMT_POS_0310  2016-09-05  2017-02-06
3020    user1  2017-02-17       user1  FMT_POS_0090  2016-09-05  2017-02-06
3021    user1  2017-02-17       user1  FMT_POS_0080  2016-09-05  2017-02-06
3022    user1  2017-02-17       user1  ODS_POS_1320         NaN  9999-12-31
3023    user1  2017-02-17       user1  ODS_POS_1320         NaN  9999-12-31
3024    user1  2017-02-17       user1  ODS_POS_1320         NaN  9999-12-31
3025    user1  2017-02-17       user1  ODS_POS_1320         NaN  9999-12-31
3664    user1  2017-02-17       user1  FMT_POS_0080  2017-01-02  2017-01-02
3665    user1  2017-02-17       user1  FMT_POS_0080  2017-01-03  2017-01-03
3666    user1  2017-02-17       user1  FMT_POS_0080  2017-01-03  2017-01-03
3700    user1  2017-02-17       user1  FMT_POS_0080  2017-01-03  2017-01-03
3701    user1  2017-02-17       user1  FMT_POS_0080  2017-01-03  2017-01-03
3702    user1  2017-02-17       user1  FMT_POS_0080  2017-01-02  2017-01-02
6462    user1  2017-02-17       user1  FMT_POS_0470  2016-03-01  2017-08-31

     is_period
1757      True
1758      True
1759      True
1760      True
1761      True
1762      True
1837      True
1975      True
2459      True
2460      True
2461      True
2462      True
2463      True
2464      True
2465      True
2466      True
2467      True
2468      True
2469      True
2470      True
2471      True
2472      True
2473      True
2474      True
2475      True
2476      True
2477      True
2614      True
2615      True
2971      True
2972      True
2973      True
2974      True
2975      True
3017      True
3018      True
3019      True
3020      True
3021      True
3022      True
3023      True
3024      True
3025      True
3664      True
3665      True
3666      True
3700      True
3701      True
3702      True
6462      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
4926     user1  2017-03-10       user1      #POLICY#  2017-01-01  2017-03-10
4977     user1  2017-03-10       user1      #POLICY#  2016-07-01  2017-08-01
4982     user1  2017-03-10       user1  FMT_POS_0380  2017-01-01  2017-03-10
4987     user1  2017-03-10       user1  ODS_FIN_0770         NaN  9999-12-31
4989     user1  2017-03-10       user1  ODS_FIN_0770         NaN  9999-12-31
4994     user1  2017-03-10       user1      #POLICY#  2017-01-01  2017-03-10
5008     user1  2017-03-10       user1  ODS_FIN_1340         NaN  9999-12-31
5024     user1  2017-03-10       user1  ODS_FIN_0860         NaN  9999-12-31
5039     user1  2017-03-10       user1  ODS_FIN_0860         NaN  9999-12-31
5040     user1  2017-03-10       user1  ODS_FIN_0860         NaN  9999-12-31
5041     user1  2017-03-10       user1  ODS_FIN_0860         NaN  9999-12-31
5061     user1  2017-03-10       user1  ODS_POS_0990         NaN  9999-12-31
5062     user1  2017-03-10       user1  ODS_POS_0990         NaN  9999-12-31
5063     user1  2017-03-10       user1  ODS_POS_0990         NaN  9999-12-31
5158     user1  2017-03-10       user1  FMT_POS_0160  2016-02-01  2017-11-01
5159     user1  2017-03-10       user1  FMT_POS_0160  2016-06-01  2018-03-01
5160     user1  2017-03-10       user1  FMT_POS_0160  2016-06-01  2018-03-01
5194     user1  2017-03-10       user1  FMT_POS_0370  2016-05-01  2017-11-01
5195     user1  2017-03-10       user1  FMT_POS_0370  2016-05-01  2017-11-01

      username  query_date report_name           doc  start_date    end_date  \
10580    user1  2017-03-13       user1      #POLICY#  2016-12-01  2017-03-01
10581    user1  2017-03-13       user1      #POLICY#  2016-12-01  2017-03-01
10583    user1  2017-03-13       user1      #POLICY#  2016-12-01  2017-03-01
10585    user1  2017-03-13       user1      #POLICY#  2016-12-01  2017-03-01
10699    user1  2017-03-13       user1  FMT_POS_0190         NaN  9999-12-31
10700    user1  2017-03-13       user1  ODS_FIN_0860         NaN  9999-12-31
10701    user1  2017-03-13       user1  ODS_FIN_0860         NaN  9999-12-31
10710    user1  2017-03-13       user1  FMT_UNB_0100  2017-01-01  2017-01-01
11245    user1  2017-03-13       user1  ODS_UNB_0221  2017-01-10  2017-01-10
11374    user1  2017-03-13       user1      #POLICY#  2017-01-01  2017-03-01
11376    user1  2017-03-13       user1      #POLICY#  2017-01-01  2017-03-01
11415    user1  2017-03-13       user1   FMT_PA_0960  2016-10-01  2017-03-01
11416    user1  2017-03-13       user1  FMT_POS_0070  2016-10-01  2017-03-01
11421    user1  2017-03-13       user1   FMT_PA_0710  2016-10-01  2017-03-01
11424    user1  2017-03-13       user1   FMT_PA_0710  2016-10-01  2017-05-01
11426    user1  2017-03-13       user1  FMT_POS_0180  2016-10-01  2017-05-01
11507    user1  2017-03-13       user1  FMT_UNB_0100  2017-01-20  2017-01-20
11520    user1  2017-03-13       user1  FMT_POS_0290  2016-10-01  2017-05-01
11526    user1  2017-03-13       user1  FMT_POS_0360  2016-10-01  2017-05-01
11527    user1  2017-03-13       user1  FMT_POS_0360  2016-10-01  2017-05-01
11528    user1  2017-03-13       user1  FMT_UNB_0090  2017-01-10  2017-01-10
11529    user1  2017-03-13       user1  FMT_UNB_0090  2017-01-10  2017-01-10
11530    user1  2017-03-13       user1  FMT_UNB_0090  2017-01-10  2017-01-10
11531    user1  2017-03-13       user1  FMT_UNB_0201         NaN  9999-12-31
11532    user1  2017-03-13       user1  FMT_UNB_0363         NaN  9999-12-31
11533    user1  2017-03-13       user1  FMT_UNB_0671         NaN  9999-12-31

      is_period
10580      True
10581      True
10583      True
10585      True
10699      True
10700      True
10701      True
10710      True
11245      True
11374      True
11376      True
11415      True
11416      True
11421      True
11424      True
11426      True
11507      True
11520      True
11526      True
11527      True
11528      True
11529      True
11530      True
11531      True
11532      True
11533      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
7440    user1  2017-03-06       user1  ODS_FIN_1340         NaN  9999-12-31
7502    user1  2017-03-06       user1  FMT_POS_0310  2017-01-02  2017-01-13
7503    user1  2017-03-06       user1  FMT_POS_0060  2017-01-02  2017-01-13
7505    user1  2017-03-06       user1   FMT_PA_0851  2017-01-13  2017-01-13
7506    user1  2017-03-06       user1   FMT_PA_0851  2017-01-13  2017-01-13
7697    user1  2017-03-06       user1  ODS_FIN_0730         NaN  9999-12-31
7699    user1  2017-03-06       user1  ODS_FIN_0730         NaN  9999-12-31
7700    user1  2017-03-06       user1  ODS_FIN_0730         NaN  9999-12-31
7754    user1  2017-03-06       user1  ODS_FIN_0770         NaN  9999-12-31
7755    user1  2017-03-06       user1  ODS_FIN_0770         NaN  9999-12-31
7760    user1  2017-03-06       user1  ODS_FIN_0730         NaN  9999-12-31
7762    user1  2017-03-06       user1  ODS_FIN_0730         NaN  9999-12-31
7765    user1  2017-03-06       user1  ODS_FIN_0770         NaN  9999-12-31
7842    user1  2017-03-06       user1  ODS_FIN_0770         NaN  9999-12-31
7843    user1  2017-03-06       user1  FMT_POS_0350  2017-01-13  2017-01-13
7844    user1  2017-03-06       user1  FMT_POS_0350  2017-01-10  2017-01-10
7845    user1  2017-03-06       user1  ODS_FIN_1340         NaN  9999-12-31
8023    user1  2017-03-06       user1  ODS_UNB_0230         NaN  9999-12-31
8047    user1  2017-03-06       user1  FMT_POS_0060  2017-01-02  2017-01-13
8050    user1  2017-03-06       user1  FMT_POS_0060  2017-01-02  2017-01-02
8084    user1  2017-03-06       user1  ODS_POS_1250  2017-01-10  2017-01-10
8085    user1  2017-03-06       user1  ODS_POS_1250  2017-01-03  2017-01-03
8172    user1  2017-03-06       user1  ODS_FIN_1340         NaN  9999-12-31

     is_period
7440      True
7502      True
7503      True
7505      True
7506      True
7697      True
7699      True
7700      True
7754      True
7755      True
7760      True
7762      True
7765      True
7842      True
7843      True
7844      True
7845      True
8023      True
8047      True
8050      True
8084      True
8085      True
8172      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4286    user1  2017-03-01       user1      #POLICY#         NaN  9999-12-31
4288    user1  2017-03-01       user1  ODS_UNB_0240         NaN  9999-12-31
4289    user1  2017-03-01       user1      #POLICY#         NaN  9999-12-31
4381    user1  2017-03-01       user1      #POLICY#         NaN  9999-12-31
4392    user1  2017-03-01       user1      #POLICY#         NaN  9999-12-31
4393    user1  2017-03-01       user1      #POLICY#         NaN  9999-12-31
4394    user1  2017-03-01       user1   LS_UNB_0630         NaN  9999-12-31
4395    user1  2017-03-01       user1  FMT_POS_0020  2016-05-01  2017-11-01
4397    user1  2017-03-01       user1  FMT_POS_0020  2016-05-01  2017-11-01
4398    user1  2017-03-01       user1  FMT_POS_0020  2016-05-01  2017-11-01
4399    user1  2017-03-01       user1  FMT_POS_0020  2016-05-01  2017-11-01
4403    user1  2017-03-01       user1  FMT_POS_0070  2017-01-03  2017-01-03
4404    user1  2017-03-01       user1  FMT_POS_0070  2017-01-04  2017-01-04
4405    user1  2017-03-01       user1  FMT_POS_0070  2017-01-05  2017-01-05
4406    user1  2017-03-01       user1  FMT_POS_0070  2017-01-06  2017-01-06
4407    user1  2017-03-01       user1  FMT_POS_0070  2017-01-07  2017-01-07
4408    user1  2017-03-01       user1  FMT_POS_0070  2017-01-08  2017-01-08
4409    user1  2017-03-01       user1  FMT_POS_0070  2017-01-09  2017-01-09
4410    user1  2017-03-01       user1  FMT_POS_0070  2017-01-10  2017-01-10
4416    user1  2017-03-01       user1      #POLICY#         NaN  9999-12-31
4417    user1  2017-03-01       user1      #POLICY#         NaN  9999-12-31
7411    user1  2017-03-01       user1  ODS_POS_0840         NaN  9999-12-31

     is_period
4286      True
4288      True
4289      True
4381      True
4392      True
4393      True
4394      True
4395      True
4397      True
4398      True
4399      True
4403      True
4404      True
4405      True
4406      True
4407      True
4408      True
4409      True
4410      True
4416      True
4417      True
7411      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14682    user1  2017-03-23       user1  FMT_UNB_0090         NaN  9999-12-31
14684    user1  2017-03-23       user1  FMT_UNB_0090         NaN  9999-12-31
14685    user1  2017-03-23       user1  FMT_UNB_0090         NaN  9999-12-31
14686    user1  2017-03-23       user1  FMT_UNB_0090         NaN  9999-12-31
14689    user1  2017-03-23       user1  FMT_UNB_0090         NaN  9999-12-31
14777    user1  2017-03-23       user1  FMT_UNB_0091         NaN  9999-12-31
14778    user1  2017-03-23       user1  FMT_UNB_0091         NaN  9999-12-31
14846    user1  2017-03-23       user1  FMT_UNB_0090         NaN  9999-12-31
14847    user1  2017-03-23       user1  FMT_UNB_0090         NaN  9999-12-31
14848    user1  2017-03-23       user1  FMT_UNB_0090         NaN  9999-12-31
14850    user1  2017-03-23       user1  FMT_UNB_0090         NaN  9999-12-31
14874    user1  2017-03-23       user1      #POLICY#  2016-03-22  2016-03-22
14887    user1  2017-03-23       user1      #POLICY#  2016-03-21  2016-03-21
14888    user1  2017-03-23       user1      #POLICY#  2016-03-22  2016-03-22
14962    user1  2017-03-23       user1  ODS_FIN_0860         NaN  9999-12-31
15931    user1  2017-03-23       user1  ODS_FIN_0810         NaN  9999-12-31
16542    user1  2017-03-23       user1      #POLICY#  2017-01-01  2017-03-31
16916    user1  2017-03-23       user1  ODS_FIN_0830         NaN  9999-12-31
17128    user1  2017-03-23       user1  ODS_FIN_0860         NaN  9999-12-31
17129    user1  2017-03-23       user1  ODS_FIN_0860         NaN  9999-12-31
17350    user1  2017-03-23       user1      #POLICY#  2017-01-01  2017-03-31
17351    user1  2017-03-23       user1      #POLICY#  2017-01-01  2017-03-31

      is_period
14682      True
14684      True
14685      True
14686      True
14689      True
14777      True
14778      True
14846      True
14847      True
14848      True
14850      True
14874      True
14887      True
14888      True
14962      True
15931      True
16542      True
16916      True
17128      True
17129      True
17350      True
17351      True
QQ
      username  query_date report_name             doc  start_date  \
29459    user1  2017-04-18       user1    ODS_FIN_0860         NaN
29460    user1  2017-04-18       user1    ODS_FIN_0860         NaN
29462    user1  2017-04-18       user1    ODS_FIN_0860         NaN
29490    user1  2017-04-18       user1    ODS_FIN_0860         NaN
29515    user1  2017-04-18       user1    ODS_FIN_0860         NaN
30792    user1  2017-04-18       user1    ODS_POS_0920         NaN
30793    user1  2017-04-18       user1    ODS_POS_0920         NaN
30938    user1  2017-04-18       user1    FMT_POS_7230  2017-01-01
30958    user1  2017-04-18       user1    ODS_FIN_0341         NaN
31027    user1  2017-04-18       user1    ODS_POS_1280  2017-04-30
31033    user1  2017-04-18       user1    ODS_POS_1010  2017-05-31
31036    user1  2017-04-18       user1    ODS_POS_1010  2017-04-30
31059    user1  2017-04-18       user1        #POLICY#  2017-01-01
31112    user1  2017-04-18       user1    FMT_POS_7230  2017-01-01
31117    user1  2017-04-18       user1    ODS_POS_1340  2017-03-31
31122    user1  2017-04-18       user1    ODS_INV_7100         NaN
31198    user1  2017-04-18       user1  ODS_POS_1350_P         NaN
31203    user1  2017-04-18       user1    ODS_FIN_0340         NaN
31380    user1  2017-04-18       user1    ODS_POS_1340  2017-04-30
31437    user1  2017-04-18       user1    ODS_FIN_0730         NaN
31638    user1  2017-04-18       user1    ODS_FIN_0340         NaN

         end_date is_period
29459  9999-12-31      True
29460  9999-12-31      True
29462  9999-12-31      True
29490  9999-12-31      True
29515  9999-12-31      True
30792  9999-12-31      True
30793  9999-12-31      True
30938  2017-04-30      True
30958  9999-12-31      True
31027  2017-04-30      True
31033  2017-05-31      True
31036  2017-04-30      True
31059  2017-05-31      True
31112  2017-04-30      True
31117  2017-03-31      True
31122  9999-12-31      True
31198  9999-12-31      True
31203  9999-12-31      True
31380  2017-04-30      True
31437  9999-12-31      True
31638  9999-12-31      True
QQ
      username  query_date report_name           doc start_date    end_date  \
1345     user1  2017-04-19       user1  ODS_UNB_0470        NaN  9999-12-31
1448     user1  2017-04-19       user1  ODS_FIN_0860        NaN  9999-12-31
1492     user1  2017-04-19       user1  ODS_FIN_0860        NaN  9999-12-31
1493     user1  2017-04-19       user1  ODS_FIN_0730        NaN  9999-12-31
1518     user1  2017-04-19       user1  ODS_FIN_0730        NaN  9999-12-31
1550     user1  2017-04-19       user1  ODS_FIN_0860        NaN  9999-12-31
1553     user1  2017-04-19       user1  ODS_FIN_1340        NaN  9999-12-31
1554     user1  2017-04-19       user1  ODS_FIN_0770        NaN  9999-12-31
1593     user1  2017-04-19       user1  ODS_FIN_0750        NaN  9999-12-31
1595     user1  2017-04-19       user1  ODS_FIN_0860        NaN  9999-12-31
1656     user1  2017-04-19       user1  ODS_FIN_0860        NaN  9999-12-31
1657     user1  2017-04-19       user1  ODS_FIN_0860        NaN  9999-12-31
1658     user1  2017-04-19       user1  ODS_FIN_0860        NaN  9999-12-31
1659     user1  2017-04-19       user1  ODS_FIN_0860        NaN  9999-12-31
2872     user1  2017-04-19       user1  ODS_FIN_0770        NaN  9999-12-31
30512    user1  2017-04-19       user1  ODS_POS_1320        NaN  9999-12-31
30537    user1  2017-04-19       user1  FMT_UNB_0372        NaN  9999-12-31
30538    user1  2017-04-19       user1  FMT_UNB_0372        NaN  9999-12-31
31454    user1  2017-04-19       user1  ODS_FIN_0860        NaN  9999-12-31

      is_period
1345       True
1448       True
1492       True
1493       True
1518       True
1550       True
1553       True
1554       True
1593       True
1595       True
1656       True
1657       True
1658       True
1659       True
2872       True
30512      True
30537      True
30538      True
31454      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
12358    user1  2017-03-17       user1  ODS_FIN_0750         NaN  9999-12-31
12438    user1  2017-03-17       user1      #POLICY#         NaN  9999-12-31
12529    user1  2017-03-17       user1  FMT_POS_0250  2016-11-01  2017-03-01
12637    user1  2017-03-17       user1      #POLICY#         NaN  9999-12-31
12638    user1  2017-03-17       user1      #POLICY#         NaN  9999-12-31
12639    user1  2017-03-17       user1      #POLICY#         NaN  9999-12-31
12640    user1  2017-03-17       user1      #POLICY#         NaN  9999-12-31
12641    user1  2017-03-17       user1      #POLICY#         NaN  9999-12-31
12642    user1  2017-03-17       user1      #POLICY#         NaN  9999-12-31
12852    user1  2017-03-17       user1  ODS_INV_7230         NaN  9999-12-31
12853    user1  2017-03-17       user1  ODS_INV_7230         NaN  9999-12-31
12854    user1  2017-03-17       user1  ODS_INV_7230         NaN  9999-12-31
13060    user1  2017-03-17       user1  ODS_INV_7230         NaN  9999-12-31
13061    user1  2017-03-17       user1  ODS_FIN_1340         NaN  9999-12-31
13062    user1  2017-03-17       user1  ODS_FIN_0730         NaN  9999-12-31
13128    user1  2017-03-17       user1      #POLICY#         NaN  9999-12-31
13480    user1  2017-03-17       user1      #POLICY#         NaN  9999-12-31
13481    user1  2017-03-17       user1      #POLICY#         NaN  9999-12-31
13482    user1  2017-03-17       user1      #POLICY#         NaN  9999-12-31

      is_period
12358      True
12438      True
12529      True
12637      True
12638      True
12639      True
12640      True
12641      True
12642      True
12852      True
12853      True
12854      True
13060      True
13061      True
13062      True
13128      True
13480      True
13481      True
13482      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
5924    user1  2017-03-02       user1  ODS_POS_1440  2017-01-03  2017-01-03
5925    user1  2017-03-02       user1  ODS_POS_1440  2017-01-03  2017-01-03
5926    user1  2017-03-02       user1  FMT_POS_0470  2017-01-03  2017-01-03
7348    user1  2017-03-02       user1      #POLICY#  2017-01-01  2017-01-10
7397    user1  2017-03-02       user1  ODS_POS_1440  2017-01-03  2017-01-03
7398    user1  2017-03-02       user1  FMT_POS_0470  2017-01-03  2017-01-03
8019    user1  2017-03-02       user1  FMT_POS_0350  2016-08-01  2017-09-01
8044    user1  2017-03-02       user1  FMT_POS_0350  2015-07-01  2017-09-01
8309    user1  2017-03-02       user1  ODS_UNB_0680         NaN  9999-12-31
8315    user1  2017-03-02       user1  ODS_CLM_0370  2017-01-10  2017-01-10
8323    user1  2017-03-02       user1  FMT_POS_0070  2017-01-05  2017-01-05
8327    user1  2017-03-02       user1  FMT_POS_0070  2017-01-06  2017-01-06
8328    user1  2017-03-02       user1  FMT_POS_0070  2017-01-10  2017-01-10
8330    user1  2017-03-02       user1  FMT_POS_0070  2017-01-07  2017-01-07
8337    user1  2017-03-02       user1  FMT_POS_0070  2017-01-08  2017-01-08
8343    user1  2017-03-02       user1  FMT_POS_0070  2017-01-09  2017-01-09
8348    user1  2017-03-02       user1  FMT_POS_0070  2017-01-10  2017-01-10
8474    user1  2017-03-02       user1  ODS_CLM_0571  2017-01-01  2017-01-01

     is_period
5924      True
5925      True
5926      True
7348      True
7397      True
7398      True
8019      True
8044      True
8309      True
8315      True
8323      True
8327      True
8328      True
8330      True
8337      True
8343      True
8348      True
8474      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14700    user1  2017-03-25       user1  FMT_UNB_0372         NaN  9999-12-31
14702    user1  2017-03-25       user1  FMT_UNB_0650         NaN  9999-12-31
14703    user1  2017-03-25       user1  FMT_UNB_0650         NaN  9999-12-31
14704    user1  2017-03-25       user1  FMT_UNB_0650         NaN  9999-12-31
14705    user1  2017-03-25       user1  FMT_UNB_0650         NaN  9999-12-31
14706    user1  2017-03-25       user1  FMT_UNB_0650         NaN  9999-12-31
14707    user1  2017-03-25       user1  FMT_UNB_0650         NaN  9999-12-31
14708    user1  2017-03-25       user1  FMT_UNB_0650         NaN  9999-12-31
14709    user1  2017-03-25       user1  FMT_UNB_0650         NaN  9999-12-31
14710    user1  2017-03-25       user1  FMT_UNB_0650         NaN  9999-12-31
14841    user1  2017-03-25       user1      #POLICY#  2016-12-01  2017-03-31
15120    user1  2017-03-25       user1  FMT_POS_0160  2017-03-01  2017-03-27
15129    user1  2017-03-25       user1  ODS_FIN_0830         NaN  9999-12-31
15232    user1  2017-03-25       user1  FMT_POS_0160  2017-03-01  2017-03-01
15278    user1  2017-03-25       user1  FMT_UNB_0370         NaN  9999-12-31
15280    user1  2017-03-25       user1  FMT_UNB_0291         NaN  9999-12-31
15481    user1  2017-03-25       user1  FMT_POS_0250         NaN  9999-12-31
15702    user1  2017-03-25       user1  ODS_POS_1410  2017-02-07  2017-02-07

      is_period
14700      True
14702      True
14703      True
14704      True
14705      True
14706      True
14707      True
14708      True
14709      True
14710      True
14841      True
15120      True
15129      True
15232      True
15278      True
15280      True
15481      True
15702      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
11543    user1  2017-03-15       user1  FMT_UNB_0100  2016-01-06  2016-01-06
11545    user1  2017-03-15       user1  FMT_UNB_0100  2016-01-06  2016-01-06
11570    user1  2017-03-15       user1  FMT_UNB_0100  2016-01-06  2016-01-06
11571    user1  2017-03-15       user1  FMT_UNB_0100  2016-12-31  2016-12-31
11573    user1  2017-03-15       user1  FMT_UNB_0100  2017-01-13  2017-01-13
11574    user1  2017-03-15       user1  FMT_UNB_0100  2017-01-13  2017-01-13
11697    user1  2017-03-15       user1  ODS_FIN_0730         NaN  9999-12-31
11709    user1  2017-03-15       user1  ODS_FIN_0770         NaN  9999-12-31
11711    user1  2017-03-15       user1  FMT_UNB_0100  2016-01-06  2016-01-06
11713    user1  2017-03-15       user1  ODS_FIN_0770         NaN  9999-12-31
11817    user1  2017-03-15       user1  ODS_FIN_0770         NaN  9999-12-31
11818    user1  2017-03-15       user1  ODS_FIN_0770         NaN  9999-12-31
12015    user1  2017-03-15       user1  ODS_POS_0940  2017-01-03  2017-01-03
12016    user1  2017-03-15       user1  ODS_POS_0940  2017-01-02  2017-01-02
12063    user1  2017-03-15       user1  ODS_POS_1140         NaN  9999-12-31
12075    user1  2017-03-15       user1  ODS_POS_0940  2017-01-14  2017-01-14
12123    user1  2017-03-15       user1  FMT_POS_0020  2016-12-01  2017-03-01
12202    user1  2017-03-15       user1  ODS_FIN_0730         NaN  9999-12-31

      is_period
11543      True
11545      True
11570      True
11571      True
11573      True
11574      True
11697      True
11709      True
11711      True
11713      True
11817      True
11818      True
12015      True
12016      True
12063      True

     username  query_date report_name           doc  start_date    end_date  \
4140    user1  2017-02-23       user1  FMT_POS_0090  2016-11-01  2016-12-31
4141    user1  2017-02-23       user1  FMT_POS_0090  2016-11-01  2016-12-31
4142    user1  2017-02-23       user1  FMT_POS_0090  2016-11-01  2017-10-01
4143    user1  2017-02-23       user1  FMT_POS_0090  2016-11-01  2017-10-01
4144    user1  2017-02-23       user1  FMT_POS_0090  2016-11-01  2017-10-01
4145    user1  2017-02-23       user1  FMT_POS_0080  2016-06-01  2017-10-01
4154    user1  2017-02-23       user1      #POLICY#         NaN  9999-12-31
4155    user1  2017-02-23       user1   LS_FIN_0150         NaN  9999-12-31
4350    user1  2017-02-23       user1  FMT_POS_0350  2016-10-28  2016-10-28
4351    user1  2017-02-23       user1  FMT_POS_0350  2016-04-01  2017-02-14
4352    user1  2017-02-23       user1  FMT_POS_0150  2017-01-03  2017-01-03
4353    user1  2017-02-23       user1  FMT_POS_1120  2017-01-03  2017-01-03
4354    user1  2017-02-23       user1  FMT_POS_1120  2017-01-03  2017-01-03
4355    user1  2017-02-23       user1  FMT_POS_1120  2017-01-03  2017-01-03

     is_period
4140      True
4141      True
4142      True
4143      True
4144      True
4145      True
4154      True
4155      True
4350      True
4351      True
4352      True
4353      True
4354      True
4355      True
QQ
      username  query_date report_name           doc start_date    end_date  \
14409    user1  2017-03-21       user1  ODS_FIN_0860        NaN  9999-12-31
14480    user1  2017-03-21       user1  ODS_FIN_0762        NaN  9999-12-31
14514    user1  2017-03-21       user1  ODS_FIN_1160        NaN  9999-12-31
14591    user1  2017-03-21       user1  ODS_FIN_0860        NaN  9999-12-31
14628    user1  2017-03-21       user1  ODS_FIN_0770        NaN  9999-12-31
14776    user1  2017-03-21       user1  ODS_FIN_0810        NaN  9999-12-31
14875    user1  2017-03-21       user1  ODS_FIN_0830        NaN  9999-12-31
15305    user1  2017-03-21       user1  FMT_UNB_0370        NaN  9999-12-31
15783    user1  2017-03-21       user1  ODS_FIN_0860        NaN  9999-12-31
15840    user1  2017-03-21       user1  ODS_FIN_1340        NaN  9999-12-31
15848    user1  2017-03-21       user1  ODS_FIN_0860        NaN  9999-12-31
15864    user1  2017-03-21       user1  ODS_FIN_0770        NaN  9999-12-31
16015    user1  2017-03-21       user1  ODS_FIN_0860        NaN  9999-12-31
16042    user1  2017-03-21       user1  ODS_FIN_0860        NaN  9999-12-31

      is_period
14409      True
14480      True
14514      True
14591      True
14628      True
14776      True
14875      True
15305      True
15783      True
15840      True
15848      True
15864      True
16015      True
16042      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
30367    user1  2017-04-21       user1  ODS_FIN_0810         NaN  9999-12-31
30557    user1  2017-04-21       user1  FMT_POS_1120  2017-05-31  2017-05-31
31220    user1  2017-04-21       user1  ODS_FIN_0830         NaN  9999-12-31
31221    user1  2017-04-21       user1  ODS_FIN_0860         NaN  9999-12-31
31238    user1  2017-04-21       user1  ODS_FIN_0860         NaN  9999-12-31
31239    user1  2017-04-21       user1  ODS_FIN_0860         NaN  9999-12-31
31256    user1  2017-04-21       user1  ODS_FIN_0770         NaN  9999-12-31
31321    user1  2017-04-21       user1  ODS_FIN_0860         NaN  9999-12-31
31322    user1  2017-04-21       user1  ODS_FIN_0860         NaN  9999-12-31
31323    user1  2017-04-21       user1  ODS_FIN_0860         NaN  9999-12-31
31324    user1  2017-04-21       user1  ODS_FIN_0860         NaN  9999-12-31
31363    user1  2017-04-21       user1  ODS_FIN_0860         NaN  9999-12-31
31364    user1  2017-04-21       user1  ODS_FIN_0860         NaN  9999-12-31

      is_period
30367      True
30557      True
31220      True
31221      True
31238      True
31239      True
31256      True
31321      True
31322      True
31323      True
31324      True
31363      True
31364      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
246     user1  2017-02-09       user1  ODS_POS_1320         NaN  9999-12-31
457     user1  2017-02-09       user1  ODS_POS_1140         NaN  9999-12-31
6282    user1  2017-02-09       user1  ODS_POS_1250  2017-01-31  2017-01-31
6283    user1  2017-02-09       user1  ODS_POS_1250  2017-01-31  2017-01-31
6284    user1  2017-02-09       user1  ODS_POS_1260  2017-01-31  2017-01-31
6285    user1  2017-02-09       user1  ODS_POS_1260  2016-12-30  2016-12-30
6322    user1  2017-02-09       user1  FMT_POS_0080  2017-01-01  2017-02-28
7165    user1  2017-02-09       user1  ODS_POS_1410  2017-01-30  2017-01-30
7166    user1  2017-02-09       user1  ODS_POS_1410  2017-01-31  2017-01-31
7167    user1  2017-02-09       user1  ODS_POS_1410  2017-01-31  2017-01-31
7173    user1  2017-02-09       user1  ODS_POS_1250  2017-01-31  2017-01-31
7174    user1  2017-02-09       user1  ODS_POS_1250  2017-01-31  2017-01-31

     is_period
246       True
457       True
6282      True
6283      True
6284      True
6285      True
6322      True
7165      True
7166      True
7167      True
7173      True
7174      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
2770    user1  2017-02-20       user1  FMT_POS_0350  2016-10-01  2016-10-31
2771    user1  2017-02-20       user1  FMT_POS_0350  2016-10-01  2016-10-31
2880    user1  2017-02-20       user1      #POLICY#  2016-10-01  2017-05-01
2884    user1  2017-02-20       user1      #POLICY#  2017-02-01  2017-02-03
2885    user1  2017-02-20       user1      #POLICY#  2017-01-01  2017-02-03
3712    user1  2017-02-20       user1  FMT_POS_0130  2005-09-09  2005-09-09
3714    user1  2017-02-20       user1  FMT_POS_0130  2005-09-09  2005-09-09
3715    user1  2017-02-20       user1  FMT_POS_0130  2004-12-27  2004-12-27
3716    user1  2017-02-20       user1  FMT_POS_0130  2004-12-27  2004-12-27
3717    user1  2017-02-20       user1  FMT_POS_0130  2005-09-09  2005-09-09
6483    user1  2017-02-20       user1  FMT_POS_0340  2017-01-02  2017-01-02
6484    user1  2017-02-20       user1  FMT_POS_0340  2017-01-02  2017-01-02

     is_period
2770      True
2771      True
2880      True
2884      True
2885      True
3712      True
3714      True
3715      True
3716      True
3717      True
6483      True
6484      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
18294    user1  2017-03-29       user1  FMT_POS_0250  2017-03-31  2017-03-31
18466    user1  2017-03-29       user1  ODS_FIN_0990         NaN  9999-12-31
19140    user1  2017-03-29       user1  ODS_POS_0930         NaN  9999-12-31
19141    user1  2017-03-29       user1  ODS_POS_0930         NaN  9999-12-31
19142    user1  2017-03-29       user1  ODS_POS_0930         NaN  9999-12-31
19143    user1  2017-03-29       user1  ODS_POS_0930         NaN  9999-12-31
19549    user1  2017-03-29       user1  ODS_CLM_0510  2017-01-26  2017-01-26
19553    user1  2017-03-29       user1      #POLICY#  2017-03-31  2017-03-31
19554    user1  2017-03-29       user1      #POLICY#  2017-03-31  2017-03-31
19555    user1  2017-03-29       user1      #POLICY#  2017-03-31  2017-03-31
19556    user1  2017-03-29       user1      #POLICY#  2017-03-31  2017-03-31
19557    user1  2017-03-29       user1      #POLICY#  2017-03-31  2017-03-31

      is_period
18294      True
18466      True
19140      True
19141      True
19142      True
19143      True
19549      True
19553      True
19554      True
19555      True
19556      True
19557      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
29146    user1  2017-04-17       user1   LS_INV_0010  2017-04-08  2017-04-08
29547    user1  2017-04-17       user1   FMT_PA_0780  2017-01-01  2017-04-30
29557    user1  2017-04-17       user1   LS_INV_0010  2017-04-08  2017-04-08
29559    user1  2017-04-17       user1   LS_INV_0020  2017-02-19  2017-02-19
29600    user1  2017-04-17       user1  FMT_POS_0140  2017-04-28  2017-04-28
29606    user1  2017-04-17       user1  FMT_POS_0100  2017-04-28  2017-04-28
29607    user1  2017-04-17       user1  FMT_POS_0100  2017-04-28  2017-04-28
29615    user1  2017-04-17       user1  FMT_POS_0100  2017-04-28  2017-04-28
30153    user1  2017-04-17       user1   LS_INV_0020  2017-02-09  2017-02-09
30163    user1  2017-04-17       user1  FMT_POS_0100         NaN  9999-12-31
30170    user1  2017-04-17       user1   LS_INV_0030  2017-03-05  2017-03-05
30171    user1  2017-04-17       user1  FMT_POS_0100         NaN  9999-12-31

      is_period
29146      True
29547      True
29557      True
29559      True
29600      True
29606      True
29607      True
29615      True
30153      True
30163      True
30170      True
30171      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
12848    user1  2017-03-16       user1  ODS_PA_0691_P  2017-01-01  2017-03-01
12934    user1  2017-03-16       user1   ODS_FIN_0860         NaN  9999-12-31
12958    user1  2017-03-16       user1   ODS_POS_7080         NaN  9999-12-31
12981    user1  2017-03-16       user1   ODS_FIN_0860         NaN  9999-12-31
13052    user1  2017-03-16       user1   FMT_POS_0250  2016-11-01  2017-04-01
13053    user1  2017-03-16       user1   FMT_UNB_0670         NaN  9999-12-31
13209    user1  2017-03-16       user1   FMT_UNB_0200         NaN  9999-12-31
13354    user1  2017-03-16       user1   FMT_POS_0270  2017-01-26  2017-01-26
13374    user1  2017-03-16       user1  ODS_PA_0691_P  2017-01-01  2017-03-01
13402    user1  2017-03-16       user1   ODS_POS_7080         NaN  9999-12-31
13404    user1  2017-03-16       user1   ODS_POS_7080         NaN  9999-12-31
13405    user1  2017-03-16       user1   ODS_POS_7080         NaN  9999-12-31

      is_period
12848      True
12934      True
12958      True
12981      True
13052      True
13053      True
13209      True
13354      True
13374      True
13402      True
13404      True
13405      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
3903    user1  2017-02-22       user1  FMT_POS_0180  2017-01-01  2017-01-01
3915    user1  2017-02-22       user1  FMT_POS_0360  2017-01-03  2017-01-03
4003    user1  2017-02-22       user1  FMT_POS_0190         NaN  9999-12-31
6006    user1  2017-02-22       user1  FMT_POS_0360  2017-01-01  2017-01-01
6008    user1  2017-02-22       user1  FMT_POS_0360  2017-01-02  2017-01-02
6059    user1  2017-02-22       user1      #POLICY#  2016-03-01  2017-02-01
6075    user1  2017-02-22       user1  FMT_POS_0180  2017-01-03  2017-01-03
6076    user1  2017-02-22       user1  FMT_POS_0180  2017-01-02  2017-01-02
7241    user1  2017-02-22       user1  FMT_POS_0360  2017-01-03  2017-01-03
7286    user1  2017-02-22       user1  FMT_POS_0150  2017-01-03  2017-01-03

     is_period
3903      True
3915      True
4003      True
6006      True
6008      True
6059      True
6075      True
6076      True
7241      True
7286      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4349    user1  2017-02-24       user1  FMT_POS_0190         NaN  9999-12-31
7212    user1  2017-02-24       user1      #POLICY#  2015-10-02  2018-01-01
7213    user1  2017-02-24       user1      #POLICY#  2015-10-02  2018-01-01
7214    user1  2017-02-24       user1      #POLICY#  2015-10-02  2018-01-01
7216    user1  2017-02-24       user1      #POLICY#  2015-10-02  2018-01-01
7376    user1  2017-02-24       user1      #POLICY#  2015-10-02  2018-01-01
7377    user1  2017-02-24       user1      #POLICY#  2015-10-02  2018-01-01
7400    user1  2017-02-24       user1      #POLICY#  2017-01-01  2017-01-01
7401    user1  2017-02-24       user1      #POLICY#  2017-01-01  2017-01-01
7402    user1  2017-02-24       user1      #POLICY#  2017-01-01  2017-01-13

     is_period
4349      True
7212      True
7213      True
7214      True
7216      True
7376      True
7377      True
7400      True
7401      True
7402      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
5788    user1  2017-03-09       user1      #POLICY#  2016-05-01  2017-03-01
5797    user1  2017-03-09       user1  FMT_UNB_0291         NaN  9999-12-31
5798    user1  2017-03-09       user1  FMT_UNB_0291         NaN  9999-12-31
7965    user1  2017-03-09       user1      #POLICY#  2016-07-01  2017-08-01
7977    user1  2017-03-09       user1  ODS_FIN_0770         NaN  9999-12-31
9864    user1  2017-03-09       user1  FMT_UNB_0291         NaN  9999-12-31
9865    user1  2017-03-09       user1  FMT_UNB_0291         NaN  9999-12-31
9866    user1  2017-03-09       user1  FMT_UNB_0291         NaN  9999-12-31
9907    user1  2017-03-09       user1  FMT_UNB_0291         NaN  9999-12-31
9918    user1  2017-03-09       user1      #POLICY#  2017-01-01  2017-02-02

     is_period
5788      True
5797      True
5798      True
7965      True
7977      True
9864      True
9865      True
9866      True
9907      True
9918      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
1077    user1  2017-02-08       user1  ODS_POS_1240  2016-08-31  2016-08-31
1078    user1  2017-02-08       user1  ODS_POS_1240  2016-11-30  2016-11-30
1079    user1  2017-02-08       user1  ODS_POS_1240  2016-12-30  2016-12-30
4935    user1  2017-02-08       user1  ODS_POS_1240  2016-09-30  2016-09-30
5820    user1  2017-02-08       user1   LS_FIN_0010         NaN  9999-12-31
5821    user1  2017-02-08       user1  ODS_POS_1240  2016-08-01  2016-08-01
5824    user1  2017-02-08       user1  ODS_POS_1240  2016-12-30  2016-12-30
5825    user1  2017-02-08       user1  ODS_POS_1240  2016-12-31  2016-12-31
5826    user1  2017-02-08       user1  ODS_POS_1240  2017-01-31  2017-01-31

     is_period
1077      True
1078      True
1079      True
4935      True
5820      True
5821      True
5824      True
5825      True
5826      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
10975    user1  2017-03-14       user1  FMT_POS_0360  2016-01-01  2017-03-14
11068    user1  2017-03-14       user1  FMT_POS_0160  2016-11-01  2017-03-01
11088    user1  2017-03-14       user1  FMT_POS_0160  2016-12-01  2017-03-01
11196    user1  2017-03-14       user1  ODS_POS_0840         NaN  9999-12-31
11480    user1  2017-03-14       user1  ODS_POS_0840         NaN  9999-12-31
11666    user1  2017-03-14       user1   FMT_PA_0850  2016-03-01  2017-10-01
11678    user1  2017-03-14       user1   FMT_PA_0850  2016-03-01  2017-10-01
11679    user1  2017-03-14       user1   FMT_PA_0850  2016-03-01  2017-10-01

      is_period
10975      True
11068      True
11088      True
11196      True
11480      True
11666      True
11678      True
11679      True
QQ
      username  query_date report_name           doc start_date    end_date  \
28332    user1  2017-04-13       user1  ODS_FIN_0810        NaN  9999-12-31
28976    user1  2017-04-13       user1  ODS_POS_7030        NaN  9999-12-31
28979    user1  2017-04-13       user1  ODS_FIN_0730        NaN  9999-12-31
29042    user1  2017-04-13       user1  ODS_FIN_0750        NaN  9999-12-31
29260    user1  2017-04-13       user1  ODS_FIN_0750        NaN  9999-12-31
29363    user1  2017-04-13       user1  ODS_FIN_0880        NaN  9999-12-31
29364    user1  2017-04-13       user1  ODS_FIN_0730        NaN  9999-12-31
30211    user1  2017-04-13       user1  ODS_FIN_0750        NaN  9999-12-31

      is_period
28332      True
28976      True
28979      True
29042      True
29260      True
29363      True
29364      True
30211      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
19186    user1  2017-03-28       user1  FMT_UNB_0381         NaN  9999-12-31
19194    user1  2017-03-28       user1  FMT_UNB_0650         NaN  9999-12-31
19758    user1  2017-03-28       user1  ODS_POS_0840         NaN  9999-12-31
20646    user1  2017-03-28       user1  ODS_FIN_0860         NaN  9999-12-31
20647    user1  2017-03-28       user1  ODS_FIN_0860         NaN  9999-12-31
20668    user1  2017-03-28       user1  ODS_FIN_0860         NaN  9999-12-31
20685    user1  2017-03-28       user1  FMT_POS_0190         NaN  9999-12-31
20689    user1  2017-03-28       user1  FMT_POS_0190  2017-02-27  2017-02-27

      is_period
19186      True
19194      True
19758      True
20646      True
20647      True
20668      True
20685      True
20689      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14632    user1  2017-03-22       user1      #POLICY#  2017-03-01  2017-03-01
14633    user1  2017-03-22       user1      #POLICY#  2017-03-01  2017-03-01
14634    user1  2017-03-22       user1      #POLICY#  2017-01-01  2017-05-31
14866    user1  2017-03-22       user1  FMT_POS_0250  2017-02-28  2017-03-08
15395    user1  2017-03-22       user1  ODS_FIN_0860         NaN  9999-12-31
16961    user1  2017-03-22       user1  ODS_FIN_0860         NaN  9999-12-31
16970    user1  2017-03-22       user1  FMT_POS_0470  2017-02-07  2017-02-07
17011    user1  2017-03-22       user1  ODS_FIN_0860         NaN  9999-12-31

      is_period
14632      True
14633      True
14634      True
14866      True
15395      True
16961      True
16970      True
17011      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
5305    user1  2017-02-15       user1  ODS_POS_1010  2019-01-01  2019-01-01
5463    user1  2017-02-15       user1  ODS_FIN_0730         NaN  9999-12-31
5510    user1  2017-02-15       user1  ODS_FIN_1340         NaN  9999-12-31
5519    user1  2017-02-15       user1  ODS_POS_1140         NaN  9999-12-31
5596    user1  2017-02-15       user1  ODS_POS_1010  2019-01-01  2019-01-01
5599    user1  2017-02-15       user1  ODS_POS_1010  2017-01-31  2017-01-31
5600    user1  2017-02-15       user1  ODS_POS_1010  2017-01-31  2017-01-31
7082    user1  2017-02-15       user1  ODS_POS_1010  2019-01-01  2019-01-01

     is_period
5305      True
5463      True
5510      True
5519      True
5596      True
5599      True
5600      True
7082      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
15003    user1  2017-03-24       user1   FMT_POS_0080  2017-02-27  2017-02-27
15004    user1  2017-03-24       user1   FMT_POS_0080  2017-02-02  2017-02-02
15005    user1  2017-03-24       user1   FMT_POS_0080  2017-02-02  2017-02-02
15071    user1  2017-03-24       user1    FMT_PA_1000  2017-01-01  2017-03-31
15072    user1  2017-03-24       user1    FMT_PA_1000  2017-01-25  2017-01-27
15073    user1  2017-03-24       user1    FMT_PA_1000  2017-01-26  2017-01-26
16045    user1  2017-03-24       user1  ODS_PA_0641_P  2017-01-01  2017-03-01
17185    user1  2017-03-24       user1   FMT_POS_0080  2017-02-27  2017-02-27

      is_period
15003      True
15004      True
15005      True
15071      True
15072      True
15073      True
16045      True
17185      True
QQ
      username  query_date report_name           doc start_date    end_date  \
24175    user1  2017-04-06       user1  ODS_FIN_0830        NaN  9999-12-31
24916    user1  2017-04-06       user1      #POLICY#        NaN  9999-12-31
25281    user1  2017-04-06       user1      #POLICY#        NaN  9999-12-31
25282    user1  2017-04-06       user1      #POLICY#        NaN  9999-12-31
25283    user1  2017-04-06       user1      #POLICY#        NaN  9999-12-31
25284    user1  2017-04-06       user1      #POLICY#        NaN  9999-12-31
25285    user1  2017-04-06       user1  ODS_FIN_0770        NaN  9999-12-31

      is_period
24175      True
24916      True
25281      True
25282      True
25283      True
25284      True
25285      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17587    user1  2017-03-26       user1   FMT_PA_0850  2016-04-01  2017-10-01

3927      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
18280    user1  2017-03-27       user1      #POLICY#  2017-03-01  2017-03-31
18673    user1  2017-03-27       user1  ODS_POS_1010  2017-03-01  2017-03-01
19050    user1  2017-03-27       user1  ODS_FIN_0790         NaN  9999-12-31
19649    user1  2017-03-27       user1  FMT_UNB_0300         NaN  9999-12-31

      is_period
18280      True
18673      True
19050      True
19649      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
2518    user1  2017-02-16       user1  ODS_POS_1580  2017-01-02  2017-01-02
2635    user1  2017-02-16       user1  ODS_POS_1580  2017-01-02  2017-01-02
2636    user1  2017-02-16       user1  ODS_POS_1580  2017-01-02  2017-01-02
2637    user1  2017-02-16       user1  FMT_CLM_0010  2016-12-15  2016-12-15

     is_period
2518      True
2635      True
2636      True
2637      True
QQ
      username  query_date report_name           doc start_date    end_date  \
28135    user1  2017-04-15       user1  ODS_UNB_0611        NaN  9999-12-31
28154    user1  2017-04-15       user1  ODS_UNB_0611        NaN  9999-12-31
28401    user1  2017-04-15       user1  ODS_UNB_0611        NaN  9999-12-31

      is_period
28135      True
28154      True
28401      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
10502    user1  2017-03-11       user1  ODS_CLM_0400  2017-03-01  2017-03-01
10514    user1  2017-03-11       user1  ODS_CLM_0400  2017-03-01  2017-03-01
10560    user1  2017-03-11       user1  ODS_UNB_0230         NaN  9999-12-31

      is_period
10502      True
10514      True
10560      True
QQ
      username  query_date report_name           doc start_date    end_date  \
27010    user1  2017-04-10       user1  ODS_FIN_0860        NaN  9999-12-31
27793    user1  2017-04-10       user1  ODS_FIN_0860        NaN  9999-12-31
27954    user1  2017-04-10       user1  ODS_FIN_0860        NaN  9999-12-31

      is_period
27010      True
27793      True
27954      True
QQ
      username  query_date report_name           doc start_date    end_date  \
23099    user1  2017-04-03       user1  FMT_UNB_0180        NaN  9999-12-31
23132    user1  2017-04-03       user1  FMT_UNB_0170        NaN  9999-12-31
23137    user1  2017-04-03       user1  FMT_UNB_0670        NaN  9999-12-31

      is_period
23099      True
23132      True
23137      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
11508    user1  2017-03-12       user1  FMT_POS_0290  2016-07-01  2017-08-01
11509    user1  2017-03-12       user1   FMT_PA_0851  2017-02-01  2017-03-01
11510    user1  2017-03-12       user1  FMT_POS_0130  2016-11-01  2017-03-01

      is_period
11508      True
11509      True
11510      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
18102    user1  2017-03-31       user1      #POLICY#  2017-01-01  2017-03-31
21093    user1  2017-03-31       user1  FMT_UNB_0361         NaN  9999-12-31

      is_period
18102      True
21093      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
7887    user1  2017-03-03       user1  FMT_POS_0380  2017-01-10  2017-01-10
7888    user1  2017-03-03       user1  FMT_POS_0380  2017-01-13  2017-01-13

     is_period
7887      True
7888      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
1175    user1  2017-02-14       user1  FMT_POS_0250  2016-03-01  2017-02-28

     is_period
1175      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4213    user4  2017-02-23       user4  FMT_POS_7210  2017-01-03  2017-01-03
5306    user4  2017-02-23       user4    LS_SC_5730  2017-01-03  2017-01-03
5307    user4  2017-02-23       user4   ODS_SC_6211  2017-01-03  2017-01-03
5308    user4  2017-02-23       user4   ODS_SC_6210  2017-01-03  2017-01-03
5309    user4  2017-02-23       user4  FMT-POS-0010  2017-01-03  2017-01-03
5310    user4  2017-02-23       user4  ODS_CLM_0580  2017-01-03  2017-01-03
5311    user4  2017-02-23       user4  FMT-POS-0030  2017-01-03  2017-01-03
5312    user4  2017-02-23       user4  FMT-POS-0040  2017-01-03  2017-01-03
5313    user4  2017-02-23       user4  FMT-POS-0260  2017-01-03  2017-01-03
5314    user4  2017-02-23       user4  FMT-POS-1120  2017-01-03  2017-01-03
5315    user4  2017-02-23       user4  ODS-POS-0930  2017-01-03  2017-01-03
5331    user4  2017-02-23       user4  ODS-POS-0950  2017-01-03  2017-01-03
5332    user4  2017-02-23       user4  ODS-POS-0970  2017-01-03  2017-01-03
5333    user4  2017-02-23       user4  ODS-POS-1160  2017-01-03  2017-01-03
5334    user4  2017-02-23       user4  ODS_POS_1350  2017-01-03  2017-01-03
5335    user4  2017-02-23       user4  ODS_POS_1380  2017-01-03  2017-01-03
5336    user4  2017-02-23       user4  ODS_POS_1250  2017-01-03  2017-01-03
5337    user4  2017-02-23       user4  ODS_POS_1260  2017-01-03  2017-01-03
5338    user4  2017-02-23       user4  FMT_POS_0430  2017-01-03  2017-01-03
5339    user4  2017-02-23       user4  ODS_POS_7150  2017-01-03  2017-01-03
5340    user4  2017-02-23       user4  ODS_POS_1360  2017-01-03  2017-01-03
5341    user4  2017-02-23       user4  ODS_POS_1310  2017-01-03  2017-01-03
5342    user4  2017-02-23       user4  ODS_POS_1580  2017-01-03  2017-01-03
5343    user4  2017-02-23       user4  ODS_POS_1722  2017-01-03  2017-01-03
5344    user4  2017-02-23       user4  ODS_CLM_0560  2017-01-03  2017-01-03
5345    user4  2017-02-23       user4  ODS_CLM_0561  2017-01-03  2017-01-03
5346    user4  2017-02-23       user4  ODS_CLM_0570  2017-01-03  2017-01-03
5347    user4  2017-02-23       user4  ODS_CLM_0571  2017-01-03  2017-01-03
5348    user4  2017-02-23       user4  FMT-POS-0020  2017-01-03  2017-01-03
7233    user4  2017-02-23       user4    LS_SC_5730  2017-01-03  2017-01-03
7234    user4  2017-02-23       user4   ODS_SC_6211  2017-01-03  2017-01-03
7235    user4  2017-02-23       user4   ODS_SC_6210  2017-01-03  2017-01-03
7236    user4  2017-02-23       user4  FMT-POS-0010  2017-01-03  2017-01-03
7237    user4  2017-02-23       user4  ODS_CLM_0580  2017-01-03  2017-01-03
7238    user4  2017-02-23       user4  FMT-POS-0030  2017-01-03  2017-01-03
7239    user4  2017-02-23       user4  FMT-POS-0040  2017-01-03  2017-01-03
7244    user4  2017-02-23       user4  FMT-POS-0260  2017-01-03  2017-01-03
7245    user4  2017-02-23       user4  FMT-POS-1120  2017-01-03  2017-01-03
7246    user4  2017-02-23       user4  ODS-POS-0930  2017-01-03  2017-01-03
7247    user4  2017-02-23       user4  ODS-POS-0950  2017-01-03  2017-01-03
7248    user4  2017-02-23       user4  ODS-POS-0970  2017-01-03  2017-01-03
7249    user4  2017-02-23       user4  ODS-POS-1160  2017-01-03  2017-01-03
7250    user4  2017-02-23       user4  ODS_POS_1350  2017-01-03  2017-01-03
7251    user4  2017-02-23       user4  ODS_POS_1380  2017-01-03  2017-01-03
7252    user4  2017-02-23       user4  ODS_POS_1250  2017-01-03  2017-01-03
7253    user4  2017-02-23       user4  ODS_POS_1260  2017-01-03  2017-01-03
7254    user4  2017-02-23       user4  FMT_POS_0430  2017-01-03  2017-01-03
7255    user4  2017-02-23       user4  ODS_POS_7150  2017-01-03  2017-01-03
7256    user4  2017-02-23       user4  ODS_POS_1360  2017-01-03  2017-01-03
7257    user4  2017-02-23       user4  ODS_POS_1310  2017-01-03  2017-01-03
7258    user4  2017-02-23       user4  ODS_POS_1580  2017-01-03  2017-01-03
7259    user4  2017-02-23       user4  ODS_POS_1722  2017-01-03  2017-01-03
7260    user4  2017-02-23       user4  ODS_CLM_0560  2017-01-03  2017-01-03
7261    user4  2017-02-23       user4  ODS_CLM_0561  2017-01-03  2017-01-03
7262    user4  2017-02-23       user4  ODS_CLM_0570  2017-01-03  2017-01-03
7263    user4  2017-02-23       user4  ODS_CLM_0571  2017-01-03  2017-01-03
7264    user4  2017-02-23       user4  FMT-POS-0020  2017-01-03  2017-01-03

     is_period
4213      True
5306      True
5307      True
5308      True
5309      True
5310      True
5311      True
5312      True
5313      True
5314      True
5315      True
5331      True
5332      True
5333      True
5334      True
5335      True
5336      True
5337      True
5338      True
5339      True
5340      True
5341      True
5342      True
5343      True
5344      True
5345      True
5346      True
5347      True
5348      True
7233      True
7234      True
7235      True
7236      True
7237      True
7238      True
7239      True
7244      True
7245      True
7246      True
7247      True
7248      True
7249      True
7250      True
7251      True
7252      True
7253      True
7254      True
7255      True
7256      True
7257      True
7258      True
7259      True
7260      True
7261      True
7262      True
7263      True
7264      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
10431    user4  2017-03-11       user4      #POLICY#  2017-02-02  2017-02-02
10432    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10436    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10450    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10451    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10452    user4  2017-03-11       user4      #POLICY#         NaN  9999-12-31
10453    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10454    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10455    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10456    user4  2017-03-11       user4      #POLICY#         NaN  9999-12-31
10457    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-01-26
10458    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10459    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10460    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10461    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10462    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10464    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10465    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10466    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10467    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10468    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10469    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10470    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10471    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10472    user4  2017-03-11       user4      #POLICY#         NaN  9999-12-31
10473    user4  2017-03-11       user4      #POLICY#  2016-01-01  2016-01-26
10474    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10475    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-01-26
10476    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10478    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10481    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10483    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10484    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10485    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10487    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10488    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10489    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10490    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10491    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10492    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10493    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10494    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10503    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10504    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10505    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10508    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10509    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10510    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10511    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10512    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10513    user4  2017-03-11       user4      #POLICY#  2017-01-01  2017-02-02
10531    user4  2017-03-11       user4  ODS_UNB_0030         NaN  9999-12-31
10550    user4  2017-03-11       user4  ODS_UNB_0050  2017-01-26  2017-01-26
10564    user4  2017-03-11       user4  ODS_UNB_0240         NaN  9999-12-31
10565    user4  2017-03-11       user4  ODS_UNB_0030         NaN  9999-12-31

      is_period
10431      True
10432      True
10436      True
10450      True
10451      True
10452      True
10453      True
10454      True
10455      True
10456      True
10457      True
10458      True
10459      True
10460      True
10461      True
10462      True
10464      True
10465      True
10466      True
10467      True
10468      True
10469      True
10470      True
10471      True
10472      True
10473      True
10474      True
10475      True
10476      True
10478      True
10481      True
10483      True
10484      True
10485      True
10487      True
10488      True
10489      True
10490      True
10491      True
10492      True
10493      True
10494      True
10503      True
10504      True
10505      True
10508      True
10509      True
10510      True
10511      True
10512      True
10513      True
10531      True
10550      True
10564      True
10565      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
18104    user4  2017-03-29       user4  ODS_POS_1580  2017-02-27  2017-02-27
18200    user4  2017-03-29       user4  ODS_POS_1580  2017-02-27  2017-02-27
18308    user4  2017-03-29       user4  ODS_POS_1110  2017-03-01  2017-03-01
18309    user4  2017-03-29       user4  ODS_POS_1110  2017-03-01  2017-03-01
18310    user4  2017-03-29       user4  ODS_POS_1110  2017-03-01  2017-03-01
18313    user4  2017-03-29       user4    LS_SC_5730  2017-03-01  2017-03-01
18314    user4  2017-03-29       user4   ODS_SC_6211  2017-03-01  2017-03-01
18315    user4  2017-03-29       user4   ODS_SC_6210  2017-03-01  2017-03-01
18316    user4  2017-03-29       user4  FMT-POS-0010  2017-03-01  2017-03-01
18317    user4  2017-03-29       user4  ODS_CLM_0580  2017-03-01  2017-03-01
18318    user4  2017-03-29       user4  FMT-POS-0030  2017-03-01  2017-03-01
18319    user4  2017-03-29       user4  FMT-POS-0040  2017-03-01  2017-03-01
18320    user4  2017-03-29       user4  FMT-POS-0260  2017-03-01  2017-03-01
18321    user4  2017-03-29       user4  FMT-POS-1120  2017-03-01  2017-03-01
18322    user4  2017-03-29       user4  ODS-POS-0930  2017-03-01  2017-03-01
18323    user4  2017-03-29       user4  ODS-POS-0950  2017-03-01  2017-03-01
18324    user4  2017-03-29       user4  ODS-POS-0970  2017-03-01  2017-03-01
18325    user4  2017-03-29       user4  ODS-POS-1160  2017-03-01  2017-03-01
18326    user4  2017-03-29       user4  ODS_POS_1350  2017-03-01  2017-03-01
18327    user4  2017-03-29       user4  ODS_POS_1380  2017-03-01  2017-03-01
18328    user4  2017-03-29       user4  ODS_POS_1250  2017-03-01  2017-03-01
18329    user4  2017-03-29       user4  ODS_POS_1260  2017-03-01  2017-03-01
18341    user4  2017-03-29       user4  ODS_POS_1660  2017-02-27  2017-02-27
18342    user4  2017-03-29       user4  ODS_POS_1660  2017-03-01  2017-03-01
18365    user4  2017-03-29       user4  ODS_POS_1580  2017-03-01  2017-03-01
18366    user4  2017-03-29       user4  ODS_POS_1580  2017-03-01  2017-03-01
18367    user4  2017-03-29       user4  ODS_POS_1580  2017-02-27  2017-02-27
18368    user4  2017-03-29       user4  ODS_POS_1580  2017-02-27  2017-02-27
18369    user4  2017-03-29       user4  FMT_POS_0430  2017-03-01  2017-03-01
18370    user4  2017-03-29       user4  ODS_POS_7150  2017-03-01  2017-03-01
18371    user4  2017-03-29       user4  ODS_POS_1360  2017-03-01  2017-03-01
18372    user4  2017-03-29       user4  ODS_POS_1310  2017-03-01  2017-03-01
18373    user4  2017-03-29       user4  ODS_POS_1580  2017-03-01  2017-03-01
18374    user4  2017-03-29       user4  ODS_POS_1722  2017-03-01  2017-03-01
18375    user4  2017-03-29       user4  ODS_CLM_0560  2017-03-01  2017-03-01
18376    user4  2017-03-29       user4  ODS_CLM_0561  2017-03-01  2017-03-01
18377    user4  2017-03-29       user4  ODS_CLM_0570  2017-03-01  2017-03-01
18378    user4  2017-03-29       user4  ODS_CLM_0571  2017-03-01  2017-03-01
18379    user4  2017-03-29       user4  FMT-POS-0020  2017-03-01  2017-03-01
18638    user4  2017-03-29       user4  ODS_POS_1580  2017-02-27  2017-02-27
19135    user4  2017-03-29       user4  ODS_POS_1580  2017-02-27  2017-02-27
19171    user4  2017-03-29       user4  ODS_POS_1580  2017-02-27  2017-02-27
19468    user4  2017-03-29       user4  ODS_POS_1090  2017-01-10  2017-01-10
20920    user4  2017-03-29       user4  ODS_POS_1110  2017-03-01  2017-03-01
20921    user4  2017-03-29       user4  ODS_POS_1110  2017-03-01  2017-03-01
20998    user4  2017-03-29       user4  ODS_POS_1090  2017-01-10  2017-01-10
21229    user4  2017-03-29       user4  ODS_POS_1580  2017-03-01  2017-03-01
21230    user4  2017-03-29       user4  ODS_POS_1580  2017-02-27  2017-02-27
21231    user4  2017-03-29       user4  ODS_POS_1580  2017-02-27  2017-02-27

      is_period
18104      True
18200      True
18308      True
18309      True
18310      True
18313      True
18314      True
18315      True
18316      True
18317      True
18318      True
18319      True
18320      True
18321      True
18322      True
18323      True
18324      True
18325      True
18326      True
18327      True
18328      True
18329      True
18341      True
18342      True
18365      True
18366      True
18367      True
18368      True
18369      True
18370      True
18371      True
18372      True
18373      True
18374      True
18375      True
18376      True
18377      True
18378      True
18379      True
18638      True
19135      True
19171      True
19468      True
20920      True
20921      True
20998      True
21229      True
21230      True
21231      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4198    user4  2017-03-07       user4  FMT_UNB_0090  2017-01-10  2017-01-10
4199    user4  2017-03-07       user4  FMT_UNB_0090  2017-01-13  2017-01-13
4200    user4  2017-03-07       user4  FMT_UNB_0090  2017-01-13  2017-01-13
4201    user4  2017-03-07       user4  FMT_UNB_0090  2017-01-13  2017-01-13
4202    user4  2017-03-07       user4  FMT_UNB_0090  2017-01-13  2017-01-13
4203    user4  2017-03-07       user4  FMT_UNB_0090  2017-01-13  2017-01-13
4490    user4  2017-03-07       user4      #POLICY#  2016-12-01  2017-01-26
4531    user4  2017-03-07       user4  FMT_POS_0100  2017-01-01  2017-01-01
4532    user4  2017-03-07       user4  FMT_POS_0100  2017-01-02  2017-01-02
4533    user4  2017-03-07       user4  FMT_POS_0100  2017-01-03  2017-01-03
4534    user4  2017-03-07       user4  FMT_POS_0100  2017-01-04  2017-01-04
4535    user4  2017-03-07       user4  FMT_POS_0100  2017-01-05  2017-01-05
4538    user4  2017-03-07       user4  FMT_POS_0160  2017-01-01  2017-01-01
4540    user4  2017-03-07       user4  FMT_POS_0160  2017-01-26  2017-01-26
4541    user4  2017-03-07       user4  FMT_POS_0160  2017-01-26  2017-01-26

13558      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
11534    user4  2017-03-15       user4  ODS_POS_0970         NaN  9999-12-31
11535    user4  2017-03-15       user4  ODS_POS_0960         NaN  9999-12-31
11546    user4  2017-03-15       user4  ODS_POS_1140         NaN  9999-12-31
11547    user4  2017-03-15       user4  ODS_POS_0940  2017-02-02  2017-02-02
11548    user4  2017-03-15       user4  ODS_POS_0940  2017-02-07  2017-02-07
11549    user4  2017-03-15       user4  ODS_POS_0940  2017-01-26  2017-01-26
11550    user4  2017-03-15       user4  ODS_POS_0940  2017-01-23  2017-01-23
11551    user4  2017-03-15       user4  ODS_POS_0940  2017-01-26  2017-01-26
11552    user4  2017-03-15       user4  ODS_POS_0940  2017-01-26  2017-01-26
11553    user4  2017-03-15       user4  ODS_POS_0940  2017-01-26  2017-01-26
11554    user4  2017-03-15       user4  ODS_POS_1140         NaN  9999-12-31
11560    user4  2017-03-15       user4  FMT_POS_0250  2017-02-07  2017-02-07
11672    user4  2017-03-15       user4  ODS_POS_0970         NaN  9999-12-31
11673    user4  2017-03-15       user4  ODS_POS_1140         NaN  9999-12-31
11674    user4  2017-03-15       user4  ODS_POS_0940  2017-01-23  2017-01-23
11675    user4  2017-03-15       user4  ODS_POS_0940  2017-01-26  2017-01-26
11676    user4  2017-03-15       user4  ODS_POS_0940  2017-01-26  2017-01-26
11677    user4  2017-03-15       user4  ODS_POS_0940  2017-01-26  2017-01-26
11686    user4  2017-03-15       user4  ODS_POS_1140         NaN  9999-12-31
11699    user4  2017-03-15       user4  ODS_POS_0970         NaN  9999-12-31
11712    user4  2017-03-15       user4  FMT_POS_0350  2017-02-07  2017-02-07
11810    user4  2017-03-15       user4  ODS_POS_0940  2017-01-26  2017-01-26
11811    user4  2017-03-15       user4  ODS_POS_0970         NaN  9999-12-31
11812    user4  2017-03-15       user4  ODS_POS_0960         NaN  9999-12-31

      is_period
11534      True
11535      True
11546      True
11547      True
11548      True
11549      True
11550      True
11551      True
11552      True
11553      True
11554      True
11560      True
11672      True
11673      True
11674      True
11675      True
11676      True
11677      True
11686      True
11699      True
11712      True
11810      True
11811      True
11812      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
29512    user4  2017-04-18       user4      #POLICY#         NaN  9999-12-31
30952    user4  2017-04-18       user4  FMT_POS_7210  2017-04-30  2017-04-30
30957    user4  2017-04-18       user4  FMT_POS_7210         NaN  9999-12-31
30974    user4  2017-04-18       user4  FMT_POS_0160         NaN  9999-12-31
31062    user4  2017-04-18       user4  FMT_POS_0160         NaN  9999-12-31
31065    user4  2017-04-18       user4  FMT_POS_0160  2017-05-31  2017-05-31
31067    user4  2017-04-18       user4      #POLICY#  2017-01-01  2017-05-31
31068    user4  2017-04-18       user4      #POLICY#         NaN  9999-12-31
31069    user4  2017-04-18       user4      #POLICY#  2017-01-01  2017-05-31
31083    user4  2017-04-18       user4      #POLICY#         NaN  9999-12-31
31084    user4  2017-04-18       user4      #POLICY#         NaN  9999-12-31
31120    user4  2017-04-18       user4  FMT_POS_0350  2017-04-30  2017-04-30
31376    user4  2017-04-18       user4  FMT_POS_0350  2017-04-28  2017-04-28
31377    user4  2017-04-18       user4  FMT_POS_0350  2017-04-05  2017-04-05
31378    user4  2017-04-18       user4  FMT_POS_0350  2017-03-31  2017-03-31
31379    user4  2017-04-18       user4  FMT_POS_0350  2017-02-27  2017-02-27
31420    user4  2017-04-18       user4  FMT_POS_0350         NaN  9999-12-31
31612    user4  2017-04-18       user4  FMT_POS_0350  2017-03-31  2017-03-31
31613    user4  2017-04-18       user4  FMT_POS_0350  2017-03-01  2017-03-01
32315    user4  2017-04-18       user4  FMT_POS_0350  2017-02-27  2017-02-27
32322    user4  2017-04-18       user4  FMT_POS_0350         NaN  9999-12-31

      is_period
29512      True
30952      True
30957      True
30974      True
31062      True
31065      True
31067      True
31068      True
31069      True
31083      True
31084      True
31120      True
31376      True
31377      True
31378      True
31379      True
31420      True
31612      True
31613      True
32315      True
32322      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
3857    user4  2017-02-21       user4  ODS_POS_1320         NaN  9999-12-31
3865    user4  2017-02-21       user4  ODS_POS_0430         NaN  9999-12-31
3890    user4  2017-02-21       user4  ODS_POS_0430         NaN  9999-12-31
3891    user4  2017-02-21       user4  ODS_POS_0430         NaN  9999-12-31
3893    user4  2017-02-21       user4  FMT_POS_0160  2017-01-10  2017-01-10
3894    user4  2017-02-21       user4  ODS_POS_1110  2017-01-10  2017-01-10
3895    user4  2017-02-21       user4  ODS_POS_1110  2017-01-10  2017-01-10
3896    user4  2017-02-21       user4  ODS_POS_1110  2017-01-10  2017-01-10
3897    user4  2017-02-21       user4  ODS_POS_1110  2017-01-10  2017-01-10
3898    user4  2017-02-21       user4  ODS_POS_1110  2017-01-10  2017-01-10
3899    user4  2017-02-21       user4  ODS_POS_1110  2017-01-10  2017-01-10
3900    user4  2017-02-21       user4  ODS_POS_1110  2017-01-10  2017-01-10
3901    user4  2017-02-21       user4  ODS_POS_1110  2017-01-02  2017-01-02
3902    user4  2017-02-21       user4  ODS_POS_1110  2017-01-03  2017-01-03
3920    user4  2017-02-21       user4  ODS_POS_1110  2017-01-10  2017-01-10
3921    user4  2017-02-21       user4  ODS_POS_1110  2017-01-10  2017-01-10
3922    user4  2017-02-21       user4  ODS_POS_1110  2017-01-03  2017-01-03
5026    user4  2017-02-21       user4  ODS_POS_0430         NaN  9999-12-31
5027    user4  2017-02-21       user4  FMT_POS_0160  2017-01-10  2017-01-10
6756    user4  2017-02-21       user4  FMT_POS_0190         NaN  9999-12-31

     is_period
3857      True
3865      True
3890      True
3891      True
3893      True
3894      True
3895      True
3896      True
3897      True
3898      True
3899      True
3900      True
3901      True
3902      True
3920      True
3921      True
3922      True
5026      True
5027      True
6756      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
2744    user4  2017-02-20       user4  FMT_POS_0160  2016-10-03  2017-02-28
2745    user4  2017-02-20       user4  FMT_POS_0160  2016-10-03  2017-02-28
2761    user4  2017-02-20       user4  FMT_POS_0290  2016-12-05  2017-02-20
2772    user4  2017-02-20       user4  FMT_POS_0290  2016-12-05  2017-02-28
2773    user4  2017-02-20       user4  FMT_POS_0440  2016-12-05  2017-02-28
2774    user4  2017-02-20       user4  FMT_POS_7230  2016-12-05  2017-02-28
2775    user4  2017-02-20       user4  FMT_POS_7210  2016-12-05  2017-02-28
2776    user4  2017-02-20       user4  FMT_POS_1670  2016-12-05  2017-02-28
3796    user4  2017-02-20       user4  FMT_POS_0160  2016-10-03  2017-02-28
3797    user4  2017-02-20       user4  FMT_POS_0160  2016-10-03  2017-02-28
3877    user4  2017-02-20       user4  FMT_POS_0190         NaN  9999-12-31
3881    user4  2017-02-20       user4  FMT_POS_0290  2016-12-05  2017-02-20
3882    user4  2017-02-20       user4  FMT_POS_0440  2016-12-05  2017-02-20
3883    user4  2017-02-20       user4  FMT_POS_7230  2016-12-05  2017-02-20
3884    user4  2017-02-20       user4  FMT_POS_7210  2016-12-05  2017-02-20
3885    user4  2017-02-20       user4  FMT_POS_1670  2016-12-05  2017-02-20
6485    user4  2017-02-20       user4  FMT_POS_0290  2017-01-02  2017-01-02

     is_period
2744      True
2745      True
2761      True
2772      True
2773      True
2774      True
2775      True
2776      True
3796      True
3797      True
3877      True
3881      True
3882      True
3883      True
3884      True
3885      True
6485      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
30399    user4  2017-04-21       user4  FMT_POS_0160  2017-01-01  2017-05-31
30415    user4  2017-04-21       user4  ODS_POS_1110  2017-03-02  2017-03-02
30416    user4  2017-04-21       user4  ODS_POS_1110  2017-03-20  2017-03-20
30417    user4  2017-04-21       user4  ODS_POS_1110  2017-03-02  2017-03-02
30418    user4  2017-04-21       user4  ODS_POS_1110  2017-03-02  2017-03-02
30419    user4  2017-04-21       user4  ODS_POS_1110  2017-03-02  2017-03-02
30435    user4  2017-04-21       user4  FMT_POS_0160  2017-01-01  2017-05-31
30542    user4  2017-04-21       user4  FMT_UNB_0291         NaN  9999-12-31
30545    user4  2017-04-21       user4  FMT_UNB_0120         NaN  9999-12-31
31229    user4  2017-04-21       user4  FMT_POS_0160  2017-01-01  2017-05-31
31230    user4  2017-04-21       user4  FMT_POS_0160  2017-01-01  2017-05-31
31231    user4  2017-04-21       user4  FMT_POS_0160  2017-01-01  2017-05-31
31272    user4  2017-04-21       user4  FMT_UNB_0291         NaN  9999-12-31
31317    user4  2017-04-21       user4  ODS_POS_1110  2017-03-02  2017-03-02
31318    user4  2017-04-21       user4  ODS_POS_1110  2017-03-02  2017-03-02
31319    user4  2017-04-21       user4  ODS_POS_1110  2017-03-20  2017-03-20

      is_period
30399      True
30415      True
30416      True
30417      True
30418      True
30419      True
30435      True
30542      True
30545      True
31229      True
31230      True
31231      True
31272      True
31317      True
31318      True
31319      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
5004    user4  2017-03-10       user4  FMT_UNB_0091         NaN  9999-12-31
5009    user4  2017-03-10       user4  FMT_POS_0290  2016-12-01  2017-03-31
5351    user4  2017-03-10       user4  FMT_POS_0290  2016-12-01  2017-03-31
5516    user4  2017-03-10       user4  ODS_POS_1130  2017-01-26  2017-01-26
7593    user4  2017-03-10       user4      #POLICY#  2017-01-01  2017-02-02
7611    user4  2017-03-10       user4  ODS_POS_1130  2017-01-26  2017-01-26
7615    user4  2017-03-10       user4      #POLICY#  2017-01-01  2017-02-02
7616    user4  2017-03-10       user4  ODS_POS_1130  2017-01-26  2017-01-26
7653    user4  2017-03-10       user4  ODS_POS_1010  2017-01-26  2017-01-26
8518    user4  2017-03-10       user4  FMT_UNB_0291         NaN  9999-12-31
8641    user4  2017-03-10       user4  FMT_UNB_0370         NaN  9999-12-31
9126    user4  2017-03-10       user4  ODS_POS_1080  2017-01-26  2017-01-26
9429    user4  2017-03-10       user4  ODS_POS_1080  2017-01-13  2017-01-13
9436    user4  2017-03-10       user4  ODS_POS_7080         NaN  9999-12-31
9765    user4  2017-03-10       user4  ODS_POS_1130  2017-01-26  2017-01-26

     is_period
5004      True
5009      True
5351      True
5516      True
7593      True
7611      True
7615      True
7616      True
7653      True
8518      True
8641      True
9126      True
9429      True
9436      True
9765      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
12297    user4  2017-03-17       user4  ODS_POS_1080  2017-02-02  2017-02-02
12526    user4  2017-03-17       user4  ODS_POS_1080  2017-02-27  2017-02-27
12530    user4  2017-03-17       user4  ODS_POS_1010  2017-02-02  2017-02-02
12531    user4  2017-03-17       user4  ODS_POS_1130  2017-02-02  2017-02-02
12616    user4  2017-03-17       user4  ODS_POS_1130  2017-02-02  2017-02-02
12617    user4  2017-03-17       user4  ODS_POS_1130  2017-02-02  2017-02-02
13065    user4  2017-03-17       user4  ODS_POS_1010  2017-01-03  2017-01-03
13068    user4  2017-03-17       user4  ODS_POS_1010  2017-01-26  2017-01-26
13082    user4  2017-03-17       user4  ODS_POS_1080  2017-01-26  2017-01-26
13084    user4  2017-03-17       user4  ODS_POS_1080  2017-01-13  2017-01-13
13089    user4  2017-03-17       user4  ODS_POS_1080  2017-01-10  2017-01-10
13091    user4  2017-03-17       user4  ODS_POS_1080  2017-01-13  2017-01-13
13124    user4  2017-03-17       user4  ODS_POS_1080  2017-01-26  2017-01-26
13125    user4  2017-03-17       user4  ODS_POS_1080  2017-02-02  2017-02-02
13130    user4  2017-03-17       user4  ODS_POS_1080  2017-01-10  2017-01-10

      is_period
12297      True
12526      True
12530      True
12531      True
12616      True
12617      True
13065      True
13068      True
13082      True
13084      True
13089      True
13091      True
13124      True
13125      True
13130      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4227    user4  2017-02-24       user4  ODS_POS_1580  2017-01-03  2017-01-03
4257    user4  2017-02-24       user4  ODS_POS_0880  2017-01-03  2017-01-03
4258    user4  2017-02-24       user4  ODS_POS_0880  2017-01-03  2017-01-03
4357    user4  2017-02-24       user4  ODS_POS_1580  2017-01-03  2017-01-03
4373    user4  2017-02-24       user4  FMT_POS_0100  2017-01-03  2017-01-03
4378    user4  2017-02-24       user4  ODS_POS_0880  2017-01-03  2017-01-03
4379    user4  2017-02-24       user4  ODS_POS_0880  2017-01-03  2017-01-03
4428    user4  2017-02-24       user4  ODS_POS_1080  2017-01-03  2017-01-03
4939    user4  2017-02-24       user4  ODS_POS_0880  2017-01-03  2017-01-03
5283    user4  2017-02-24       user4  ODS_POS_0880  2017-01-03  2017-01-03
5284    user4  2017-02-24       user4  ODS_POS_0880  2017-01-03  2017-01-03
7282    user4  2017-02-24       user4  ODS_POS_1010  2016-01-02  2016-01-02
7392    user4  2017-02-24       user4  ODS_POS_1010  2016-01-02  2016-01-02
7393    user4  2017-02-24       user4  ODS_POS_1010  2016-01-03  2016-01-03
7404    user4  2017-02-24       user4  ODS_POS_1130  2017-01-03  2017-01-03

     is_period
4227      True
4257      True
4258      True
4357      True
4373      True
4378      True
4379      True
4428      True
4939      True
5283      True
5284      True
7282      True
7392      True
7393      True
7404      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
6464    user4  2017-03-02       user4  ODS_POS_0880  2017-01-10  2017-01-10
6666    user4  2017-03-02       user4  ODS_POS_1130  2017-01-10  2017-01-10
6667    user4  2017-03-02       user4  ODS_POS_1130  2017-01-13  2017-01-13
7519    user4  2017-03-02       user4  ODS_POS_1080  2017-01-10  2017-01-10
7522    user4  2017-03-02       user4  ODS_POS_7130         NaN  9999-12-31
7534    user4  2017-03-02       user4  ODS_POS_1090  2017-01-10  2017-01-10
7538    user4  2017-03-02       user4  ODS_POS_1090  2017-01-10  2017-01-10
7576    user4  2017-03-02       user4  ODS_POS_7130         NaN  9999-12-31
8005    user4  2017-03-02       user4  ODS_POS_1130  2017-01-10  2017-01-10
8006    user4  2017-03-02       user4  ODS_POS_1580  2017-01-10  2017-01-10
8007    user4  2017-03-02       user4  ODS_POS_1600  2017-01-10  2017-01-10
8322    user4  2017-03-02       user4  ODS_POS_0880  2017-01-10  2017-01-10
8334    user4  2017-03-02       user4  ODS_POS_0880  2017-01-10  2017-01-10
8432    user4  2017-03-02       user4  ODS_POS_0880  2017-01-10  2017-01-10

     is_period
6464      True
6666      True
6667      True
7519      True
7522      True
7534      True
7538      True
7576      True
8005      True
8006      True
8007      True
8322      True
8334      True
8432      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
21321    user4  2017-04-05       user4  FMT_UNB_0381         NaN  9999-12-31
21421    user4  2017-04-05       user4  FMT_UNB_0120         NaN  9999-12-31
21451    user4  2017-04-05       user4  FMT_UNB_0091         NaN  9999-12-31
21517    user4  2017-04-05       user4  FMT_UNB_0091         NaN  9999-12-31
21523    user4  2017-04-05       user4  FMT_UNB_0310         NaN  9999-12-31
21535    user4  2017-04-05       user4  FMT_UNB_0091         NaN  9999-12-31
21544    user4  2017-04-05       user4  FMT_UNB_0091         NaN  9999-12-31
21614    user4  2017-04-05       user4  FMT_UNB_0291         NaN  9999-12-31
21790    user4  2017-04-05       user4  FMT_UNB_0120         NaN  9999-12-31
24281    user4  2017-04-05       user4  FMT_UNB_0091         NaN  9999-12-31
24288    user4  2017-04-05       user4  FMT_POS_0100  2017-01-01  2017-04-05
24289    user4  2017-04-05       user4  FMT_POS_0100  2017-01-01  2017-04-05
25505    user4  2017-04-05       user4  FMT_UNB_0091         NaN  9999-12-31

      is_period
21321      True
21421      True
21451      True
21517      True
21523      True
21535      True
21544      True
21614      True
21790      True
24281      True
24288      True
24289      True
25505      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17505    user4  2017-03-30       user4  ODS_INV_7150  2017-01-26  2017-01-26
17634    user4  2017-03-30       user4  FMT_UNB_0381         NaN  9999-12-31
17731    user4  2017-03-30       user4  FMT_UNB_0381         NaN  9999-12-31
17997    user4  2017-03-30       user4  FMT_UNB_0381         NaN  9999-12-31
17999    user4  2017-03-30       user4  FMT_UNB_0381         NaN  9999-12-31
19650    user4  2017-03-30       user4  FMT_UNB_0381         NaN  9999-12-31
19680    user4  2017-03-30       user4  ODS_INV_7150  2017-01-26  2017-01-26
19723    user4  2017-03-30       user4  ODS_INV_7150  2017-02-27  2017-02-27
20091    user4  2017-03-30       user4      #POLICY#  2017-01-01  2017-03-31
20096    user4  2017-03-30       user4      #POLICY#  2017-01-01  2017-03-31
20097    user4  2017-03-30       user4      #POLICY#  2017-01-01  2017-03-31
20194    user4  2017-03-30       user4  FMT_UNB_0381         NaN  9999-12-31
20990    user4  2017-03-30       user4  ODS_INV_7150  2017-02-27  2017-02-27

      is_period
17505      True
17634      True
17731      True
17997      True
17999      True
19650      True
19680      True
19723      True
20091      True
20096      True
20097      True
20194      True
20990      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
10787    user4  2017-03-14       user4      #POLICY#  2017-01-01  2017-02-07
10861    user4  2017-03-14       user4      #POLICY#  2017-01-01  2017-02-07
10909    user4  2017-03-14       user4  ODS_UNB_0050  2017-02-02  2017-02-02
10910    user4  2017-03-14       user4  ODS_UNB_0050  2017-02-02  2017-02-02
11049    user4  2017-03-14       user4  ODS_UNB_0050  2017-02-02  2017-02-02
11072    user4  2017-03-14       user4  FMT_UNB_0090  2017-01-10  2017-01-10
11075    user4  2017-03-14       user4  FMT_UNB_0090  2017-01-10  2017-01-10
11078    user4  2017-03-14       user4  FMT_UNB_0090  2017-01-10  2017-01-10
11079    user4  2017-03-14       user4  FMT_UNB_0090  2017-01-10  2017-01-10
11973    user4  2017-03-14       user4  ODS_UNB_0050  2017-02-06  2017-02-06
11974    user4  2017-03-14       user4  ODS_UNB_0050  2017-02-02  2017-02-02
11975    user4  2017-03-14       user4  ODS_UNB_0050  2017-02-02  2017-02-02

      is_period
10787      True
10861      True
10909      True
10910      True
11049      True
11072      True
11075      True
11078      True
11079      True
11973      True
11974      True
11975      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
31714    user4  2017-04-20       user4      #POLICY#         NaN  9999-12-31
31758    user4  2017-04-20       user4  ODS_POS_1600  2017-04-30  2017-04-30
31791    user4  2017-04-20       user4  ODS_POS_1080  2017-04-05  2017-04-05
31931    user4  2017-04-20       user4      #POLICY#         NaN  9999-12-31
31936    user4  2017-04-20       user4  ODS_POS_1600  2017-04-30  2017-04-30
32038    user4  2017-04-20       user4  ODS_POS_0990         NaN  9999-12-31
32136    user4  2017-04-20       user4  ODS_POS_1080  2017-04-30  2017-04-30
32163    user4  2017-04-20       user4  ODS_POS_0990         NaN  9999-12-31
32184    user4  2017-04-20       user4      #POLICY#         NaN  9999-12-31

      is_period
31714      True

      username  query_date report_name           doc  start_date    end_date  \
10655    user4  2017-03-13       user4  ODS_UNB_0050  2017-02-02  2017-02-02
10656    user4  2017-03-13       user4  FMT_POS_0250  2017-01-01  2017-03-13
10657    user4  2017-03-13       user4  FMT_POS_0250  2017-01-01  2017-03-13
10661    user4  2017-03-13       user4  ODS_UNB_0050  2017-02-02  2017-02-02
11414    user4  2017-03-13       user4  ODS_UNB_0240         NaN  9999-12-31
11422    user4  2017-03-13       user4  ODS_UNB_0050  2017-02-07  2017-02-07
11423    user4  2017-03-13       user4  ODS_UNB_0050  2017-02-02  2017-02-02

      is_period
10655      True
10656      True
10657      True
10661      True
11414      True
11422      True
11423      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
23592    user4  2017-04-07       user4   FMT_PA_0980         NaN  9999-12-31
25023    user4  2017-04-07       user4  ODS_POS_1360  2017-03-31  2017-03-31
25025    user4  2017-04-07       user4  ODS_POS_1360  2017-03-31  2017-03-31
25026    user4  2017-04-07       user4  ODS_POS_1360  2017-01-02  2017-01-02
25027    user4  2017-04-07       user4  ODS_POS_1360  2017-01-03  2017-01-03
25028    user4  2017-04-07       user4  ODS_POS_1360  2017-01-10  2017-01-10
25029    user4  2017-04-07       user4  ODS_POS_1370  2017-03-31  2017-03-31

      is_period
23592      True
25023      True
25025      True
25026      True
25027      True
25028      True
25029      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
7147    user4  2017-02-18       user4  FMT_POS_0290  2017-01-02  2017-01-02
7148    user4  2017-02-18       user4  FMT_POS_0290  2017-01-02  2017-01-02
7150    user4  2017-02-18       user4  FMT_POS_0060  2016-04-04  2017-02-28
7151    user4  2017-02-18       user4  FMT_POS_0070  2016-04-04  2017-02-28
7152    user4  2017-02-18       user4  FMT_POS_0310  2016-04-04  2017-02-28
7153    user4  2017-02-18       user4  FMT_POS_0090  2016-04-04  2017-02-28
7154    user4  2017-02-18       user4  FMT_POS_0080  2016-04-04  2017-02-28

     is_period
7147      True
7148      True
7150      True
7151      True
7152      True
7153      True
7154      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14579    user4  2017-03-21       user4  ODS_POS_7130         NaN  9999-12-31
14590    user4  2017-03-21       user4  ODS_POS_7130         NaN  9999-12-31
14592    user4  2017-03-21       user4  ODS_POS_7130         NaN  9999-12-31
14593    user4  2017-03-21       user4  ODS_POS_7130         NaN  9999-12-31
15830    user4  2017-03-21       user4  ODS_POS_1130  2017-02-27  2017-02-27
15832    user4  2017-03-21       user4  ODS_POS_1130  2017-02-02  2017-02-02

      is_period
14579      True
14590      True
14592      True
14593      True
15830      True
15832      True
QQ
      username  query_date report_name       doc start_date    end_date  \
28121    user4  2017-04-14       user4  #POLICY#        NaN  9999-12-31
28377    user4  2017-04-14       user4  #POLICY#        NaN  9999-12-31
28378    user4  2017-04-14       user4  #POLICY#        NaN  9999-12-31
29202    user4  2017-04-14       user4  #POLICY#        NaN  9999-12-31
29257    user4  2017-04-14       user4  #POLICY#        NaN  9999-12-31

      is_period
28121      True
28377      True
28378      True
29202      True
29257      True
QQ
     username  query_date report_name             doc  start_date    end_date  \
1755    user4  2017-02-15       user4    ODS_POS_1410  2017-01-02  2017-01-02
1798    user4  2017-02-15       user4  ODS_POS_1350_E         NaN  9999-12-31
1802    user4  2017-02-15       user4    ODS_POS_0430         NaN  9999-12-31
1803    user4  2017-02-15       user4    ODS_POS_0430         NaN  9999-12-31
1804    user4  2017-02-15       user4    ODS_POS_0430         NaN  9999-12-31

     is_period
1755      True
1798      True
1802      True
1803      True
1804      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
29007    user4  2017-04-13       user4      #POLICY#  2017-01-01  2016-05-01
29008    user4  2017-04-13       user4      #POLICY#  2017-01-01  2016-05-01
29009    user4  2017-04-13       user4      #POLICY#  2017-01-01  2017-05-01
29194    user4  2017-04-13       user4  FMT_POS_0020  2017-04-05  2017-04-05

      is_period
29007      True
29008      True
29009      True
29194      True
QQ
      username  query_date report_name           doc start_date    end_date  \
15291    user4  2017-03-22       user4  ODS_UNB_0470        NaN  9999-12-31
15292    user4  2017-03-22       user4  ODS_UNB_0470        NaN  9999-12-31
17041    user4  2017-03-22       user4  ODS_UNB_0470        NaN  9999-12-31
17062    user4  2017-03-22       user4  ODS_UNB_0470        NaN  9999-12-31

      is_period
15291      True
15292      True
17041      True
17062      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14788    user4  2017-03-23       user4  ODS_POS_1260  2017-02-07  2017-02-07
14960    user4  2017-03-23       user4  ODS_POS_1260  2017-02-07  2017-02-07
17133    user4  2017-03-23       user4  ODS_POS_1250  2017-02-02  2017-02-02
17134    user4  2017-03-23       user4  ODS_POS_1260  2017-02-07  2017-02-07

      is_period
14788      True
14960      True
17133      True
17134      True
QQ
      username  query_date report_name           doc start_date    end_date  \
10570    user4  2017-04-12       user4  ODS_POS_1240        NaN  9999-12-31
26705    user4  2017-04-12       user4  ODS_POS_1240        NaN  9999-12-31
27406    user4  2017-04-12       user4  FMT_UNB_0370        NaN  9999-12-31
27408    user4  2017-04-12       user4  FMT_UNB_0372        NaN  9999-12-31

      is_period
10570      True
26705      True
27406      True
27408      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
13931    user4  2017-03-20       user4  ODS_POS_1330  2017-02-27  2017-02-27
14184    user4  2017-03-20       user4  ODS_POS_1330  2017-02-27  2017-02-27
14268    user4  2017-03-20       user4  ODS_POS_1080  2017-02-27  2017-02-27

      is_period
13931      True
14184      True
14268      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
29599    user4  2017-04-17       user4      #POLICY#         NaN  9999-12-31
30235    user4  2017-04-17       user4  FMT_POS_0250         NaN  9999-12-31
30236    user4  2017-04-17       user4  FMT_POS_0250  2017-05-31  2017-05-31

      is_period
29599      True
30235      True
30236      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
27253    user4  2017-04-11       user4  FMT_POS_7230         NaN  9999-12-31
27439    user4  2017-04-11       user4  FMT_POS_0190  2017-04-30  2017-04-30
27443    user4  2017-04-11       user4  FMT_POS_0190  2017-04-30  2017-04-30

      is_period
27253      True
27439      True
27443      True
QQ
      username  query_date report_name           doc start_date    end_date  \
18005    user4  2017-03-31       user4  FMT_UNB_0372        NaN  9999-12-31
18103    user4  2017-03-31       user4  FMT_UNB_0781        NaN  9999-12-31
20813    user4  2017-03-31       user4  ODS_POS_0430        NaN  9999-12-31

      is_period
18005      True
18103      True
20813      True
QQ
      username  query_date report_name           doc start_date    end_date  \
26944    user4  2017-04-10       user4  FMT_UNB_0660        NaN  9999-12-31
27885    user4  2017-04-10       user4  ODS_FIN_0270        NaN  9999-12-31

      is_period
26944      True
27885      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
3013    user4  2017-02-17       user4  ODS_POS_1330  2017-01-02  2017-01-02
3044    user4  2017-02-17       user4  ODS_POS_1090  2017-01-02  2017-01-02

     is_period
3013      True
3044      True
QQ
      username  query_date report_name           doc start_date    end_date  \
23084    user4  2017-04-03       user4  FMT_UNB_0660        NaN  9999-12-31
23097    user4  2017-04-03       user4  FMT_UNB_0660        NaN  9999-12-31

      is_period
23084      True
23097      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4803    user4  2017-03-08       user4  FMT_POS_0190        NaN  9999-12-31

     is_period
4803      True
QQ

     username  query_date report_name           doc start_date    end_date  \
164    000442  2017-02-09      000442  ODS_FIN_0890        NaN  9999-12-31
165    000442  2017-02-09      000442  ODS_FIN_0890        NaN  9999-12-31
166    000442  2017-02-09      000442  ODS_FIN_0891        NaN  9999-12-31
167    000442  2017-02-09      000442  ODS_FIN_0891        NaN  9999-12-31
168    000442  2017-02-09      000442  ODS_FIN_0892        NaN  9999-12-31
241    000442  2017-02-09      000442  ODS_FIN_0610        NaN  9999-12-31
242    000442  2017-02-09      000442  ODS_FIN_0610        NaN  9999-12-31
248    000442  2017-02-09      000442  ODS_FIN_0910        NaN  9999-12-31
249    000442  2017-02-09      000442  ODS_FIN_1020        NaN  9999-12-31
250    000442  2017-02-09      000442  ODS_FIN_0910        NaN  9999-12-31
458    000442  2017-02-09      000442  ODS_FIN_0910        NaN  9999-12-31
470    000442  2017-02-09      000442  ODS_FIN_0610        NaN  9999-12-31
6134   000442  2017-02-09      000442  ODS_FIN_0860        NaN  9999-12-31
6135   000442  2017-02-09      000442  ODS_FIN_1020        NaN  9999-12-31
6136   000442  2017-02-09      000442  ODS_FIN_1020        NaN  9999-12-31
6137   000442  2017-02-09      000442  ODS_FIN_0980        NaN  9999-12-31
6139   000442  2017-02-09      000442  ODS_FIN_0980        NaN  9999-12-31
6140   000442  2017-02-09      000442  ODS_FIN_0940        NaN  9999-12-31
6141   000442  2017-02-09      000442  ODS_FIN_0940        NaN  9999-12-31
6142   000442  2017-02-09      000442  ODS_FIN_0980        NaN  9999-12-31
6143   000442  2017-02-09      000442  ODS_FIN_0980        NaN  9999-12-31
6144   000442  2017-02-09      000442  ODS_FIN_0980        NaN  9999-12-31
6145   000442  2017-02-09      000442  ODS_FIN_0940        NaN  9999-12-31
6146   000442  2017-02-09      000442  ODS_FIN_0940        NaN  9999-12-31
6147   000442  2017-02-09      000442  ODS_FIN_0940        NaN  9999-12-31
6148   000442  2017-02-09      000442  ODS_FIN_0270        NaN  9999-12-31
6149   000442  2017-02-09      000442  ODS_FIN_0270        NaN  9999-12-31
6150   000442  2017-02-09      000442  ODS_FIN_0271        NaN  9999-12-31
6151   000442  2017-02-09      000442  ODS_FIN_0271        NaN  9999-12-31
6152   000442  2017-02-09      000442  ODS_FIN_1060        NaN  9999-12-31
...       ...         ...         ...           ...        ...         ...
6176   000442  2017-02-09      000442  ODS_FIN_1180        NaN  9999-12-31
6177   000442  2017-02-09      000442  ODS_FIN_1180        NaN  9999-12-31
6178   000442  2017-02-09      000442  ODS_FIN_1190        NaN  9999-12-31
6179   000442  2017-02-09      000442  ODS_FIN_1190        NaN  9999-12-31
6180   000442  2017-02-09      000442  ODS_FIN_1160        NaN  9999-12-31
6181   000442  2017-02-09      000442  ODS_FIN_1160        NaN  9999-12-31
6182   000442  2017-02-09      000442  ODS_FIN_1160        NaN  9999-12-31
6183   000442  2017-02-09      000442  ODS_FIN_1160        NaN  9999-12-31
6189   000442  2017-02-09      000442  ODS_FIN_1140        NaN  9999-12-31
6190   000442  2017-02-09      000442  ODS_FIN_1140        NaN  9999-12-31
6191   000442  2017-02-09      000442  ODS_FIN_1140        NaN  9999-12-31
6192   000442  2017-02-09      000442  ODS_FIN_1140        NaN  9999-12-31
6193   000442  2017-02-09      000442  ODS_FIN_1130        NaN  9999-12-31
6194   000442  2017-02-09      000442  ODS_FIN_1140        NaN  9999-12-31
6195   000442  2017-02-09      000442  ODS_FIN_0610        NaN  9999-12-31
6196   000442  2017-02-09      000442  ODS_FIN_0610        NaN  9999-12-31
6197   000442  2017-02-09      000442  ODS_FIN_0860        NaN  9999-12-31
6198   000442  2017-02-09      000442  ODS_FIN_0860        NaN  9999-12-31
6200   000442  2017-02-09      000442  ODS_FIN_0880        NaN  9999-12-31
6201   000442  2017-02-09      000442  ODS_FIN_0880        NaN  9999-12-31
6202   000442  2017-02-09      000442  ODS_FIN_0890        NaN  9999-12-31
6203   000442  2017-02-09      000442  ODS_FIN_0892        NaN  9999-12-31
6204   000442  2017-02-09      000442  ODS_FIN_0892        NaN  9999-12-31
6329   000442  2017-02-09      000442  ODS_FIN_0350        NaN  9999-12-31
6330   000442  2017-02-09      000442  ODS_FIN_0350        NaN  9999-12-31
6331   000442  2017-02-09      000442  ODS_FIN_0350        NaN  9999-12-31
6332   000442  2017-02-09      000442  ODS_FIN_0350        NaN  9999-12-31
6333   000442  2017-02-09      000442  ODS_FIN_0350        NaN  9999-12-31
6338   000442  2017-02-09      000442  ODS_FIN_0910        NaN  9999-12-31
6383   000442  2017-02-09      000442  ODS_FIN_0350        NaN  9999-12-31

     is_period
164       True
165       True
166       True
167       True
168       True
241       True
242       True
248       True
249       True
250       True
458       True
470       True
6134      True
6135      True
6136      True
6137      True
6139      True
6140      True
6141      True
6142      True
6143      True
6144      True
6145      True
6146      True
6147      True
6148      True
6149      True
6150      True
6151      True
6152      True
...        ...
6176      True
6177      True
6178      True
6179      True
6180      True
6181      True
6182      True
6183      True
6189      True
6190      True
6191      True
6192      True
6193      True
6194      True
6195      True
6196      True
6197      True
6198      True
6200      True
6201      True
6202      True
6203      True
6204      True
6329      True
6330      True
6331      True
6332      True
6333      True
6338      True
6383      True

[80 rows x 7 columns]
QQ
      username  query_date report_name           doc start_date    end_date  \
14629   000442  2017-03-22      000442  ODS_FIN_0350        NaN  9999-12-31
14630   000442  2017-03-22      000442  ODS_FIN_0351        NaN  9999-12-31
14639   000442  2017-03-22      000442  ODS_FIN_1280        NaN  9999-12-31
14640   000442  2017-03-22      000442  ODS_FIN_1280        NaN  9999-12-31
14645   000442  2017-03-22      000442  ODS_FIN_1180        NaN  9999-12-31
14650   000442  2017-03-22      000442  ODS_FIN_1190        NaN  9999-12-31
14653   000442  2017-03-22      000442  ODS_FIN_1160        NaN  9999-12-31
14654   000442  2017-03-22      000442  ODS_FIN_1140        NaN  9999-12-31
14656   000442  2017-03-22      000442  ODS_FIN_1130        NaN  9999-12-31
14658   000442  2017-03-22      000442  ODS_FIN_0892        NaN  9999-12-31
14748   000442  2017-03-22      000442  ODS_FIN_0271        NaN  9999-12-31
14750   000442  2017-03-22      000442  ODS_FIN_0310        NaN  9999-12-31
14751   000442  2017-03-22      000442  ODS_FIN_0311        NaN  9999-12-31
14752   000442  2017-03-22      000442  ODS_FIN_0311        NaN  9999-12-31
14753   000442  2017-03-22      000442  ODS_FIN_0330        NaN  9999-12-31
14924   000442  2017-03-22      000442  ODS_FIN_0340        NaN  9999-12-31
14925   000442  2017-03-22      000442  ODS_FIN_0341        NaN  9999-12-31
14927   000442  2017-03-22      000442  ODS_FIN_1000        NaN  9999-12-31
14928   000442  2017-03-22      000442  ODS_FIN_1090        NaN  9999-12-31
14955   000442  2017-03-22      000442  ODS_FIN_1250        NaN  9999-12-31
14956   000442  2017-03-22      000442  ODS_FIN_1251        NaN  9999-12-31
14957   000442  2017-03-22      000442  ODS_FIN_1040        NaN  9999-12-31
14958   000442  2017-03-22      000442  ODS_FIN_1060        NaN  9999-12-31
14959   000442  2017-03-22      000442  ODS_FIN_0350        NaN  9999-12-31
15250   000442  2017-03-22      000442  ODS_FIN_0892        NaN  9999-12-31
15254   000442  2017-03-22      000442  ODS_FIN_0610        NaN  9999-12-31
15255   000442  2017-03-22      000442  ODS_FIN_0880        NaN  9999-12-31
15288   000442  2017-03-22      000442  ODS_FIN_1160        NaN  9999-12-31
15289   000442  2017-03-22      000442  ODS_FIN_1160        NaN  9999-12-31
15396   000442  2017-03-22      000442  ODS_FIN_1010        NaN  9999-12-31
15721   000442  2017-03-22      000442  ODS_FIN_0980        NaN  9999-12-31
15722   000442  2017-03-22      000442  ODS_FIN_0980        NaN  9999-12-31
15723   000442  2017-03-22      000442  ODS_FIN_0940        NaN  9999-12-31
15724   000442  2017-03-22      000442  ODS_FIN_0270        NaN  9999-12-31
15874   000442  2017-03-22      000442  ODS_FIN_0341        NaN  9999-12-31
15875   000442  2017-03-22      000442  ODS_FIN_0910        NaN  9999-12-31
15892   000442  2017-03-22      000442  ODS_FIN_0990        NaN  9999-12-31
15893   000442  2017-03-22      000442  ODS_FIN_0991        NaN  9999-12-31
16968   000442  2017-03-22      000442  ODS_FIN_1130        NaN  9999-12-31
16972   000442  2017-03-22      000442  ODS_FIN_0610        NaN  9999-12-31
17013   000442  2017-03-22      000442  ODS_FIN_0860        NaN  9999-12-31
17015   000442  2017-03-22      000442  ODS_FIN_0880        NaN  9999-12-31
17016   000442  2017-03-22      000442  ODS_FIN_0890        NaN  9999-12-31
17018   000442  2017-03-22      000442  ODS_FIN_0891        NaN  9999-12-31
17020   000442  2017-03-22      000442  ODS_FIN_0892        NaN  9999-12-31
17021   000442  2017-03-22      000442  ODS_FIN_0892        NaN  9999-12-31
17042   000442  2017-03-22      000442  ODS_FIN_0891        NaN  9999-12-31
17055   000442  2017-03-22      000442  ODS_FIN_0610        NaN  9999-12-31
17056   000442  2017-03-22      000442  ODS_FIN_0610        NaN  9999-12-31
17059   000442  2017-03-22      000442  ODS_FIN_0880        NaN  9999-12-31
17076   000442  2017-03-22      000442  ODS_FIN_0891        NaN  9999-12-31
17080   000442  2017-03-22      000442  ODS_FIN_0350        NaN  9999-12-31
17081   000442  2017-03-22      000442  ODS_FIN_0351        NaN  9999-12-31
17082   000442  2017-03-22      000442  ODS_FIN_0350        NaN  9999-12-31

      is_period
14629      True
14630      True
14639      True
14640      True
14645      True
14650      True
14653      True
14654      True
14656      True
14658      True
14748      True
14750      True
14751      True
14752      True
14753      True
14924      True
14925      True
14927      True
14928      True
14955      True
14956      True
14957      True
14958      True
14959      True
15250      True
15254      True
15255      True
15288      True
15289      True
15396      True
15721      True
15722      True
15723      True
15724      True
15874      True
15875      True
15892      True
15893      True
16968      True
16972      True
17013      True
17015      True
17016      True
17018      True
17020      True
17021      True
17042      True
17055      True
17056      True
17059      True
17076      True
17080      True
17081      True
17082      True
QQ
      username  query_date report_name           doc start_date    end_date  \
11557   000442  2017-03-15      000442  ODS_FIN_0980        NaN  9999-12-31
11558   000442  2017-03-15      000442  ODS_FIN_0980        NaN  9999-12-31
11559   000442  2017-03-15      000442  ODS_FIN_0980        NaN  9999-12-31
11563   000442  2017-03-15      000442  ODS_FIN_0980        NaN  9999-12-31
11564   000442  2017-03-15      000442  ODS_FIN_0980        NaN  9999-12-31
11565   000442  2017-03-15      000442  ODS_FIN_0980        NaN  9999-12-31
11566   000442  2017-03-15      000442  ODS_FIN_0980        NaN  9999-12-31
11567   000442  2017-03-15      000442  ODS_FIN_0980        NaN  9999-12-31
11569   000442  2017-03-15      000442  ODS_FIN_0980        NaN  9999-12-31
11572   000442  2017-03-15      000442  ODS_FIN_0980        NaN  9999-12-31
11575   000442  2017-03-15      000442  ODS_FIN_0940        NaN  9999-12-31
11576   000442  2017-03-15      000442  ODS_FIN_0270        NaN  9999-12-31
11577   000442  2017-03-15      000442  ODS_FIN_0270        NaN  9999-12-31
11579   000442  2017-03-15      000442  ODS_FIN_0990        NaN  9999-12-31
11581   000442  2017-03-15      000442  ODS_FIN_0991        NaN  9999-12-31
11583   000442  2017-03-15      000442  ODS_FIN_1000        NaN  9999-12-31
11584   000442  2017-03-15      000442  ODS_FIN_1090        NaN  9999-12-31
11585   000442  2017-03-15      000442  ODS_FIN_1250        NaN  9999-12-31
11586   000442  2017-03-15      000442  ODS_FIN_1251        NaN  9999-12-31
11587   000442  2017-03-15      000442  ODS_FIN_1040        NaN  9999-12-31
11588   000442  2017-03-15      000442  ODS_FIN_0271        NaN  9999-12-31
11589   000442  2017-03-15      000442  ODS_FIN_0350        NaN  9999-12-31
11590   000442  2017-03-15      000442  ODS_FIN_0351        NaN  9999-12-31
11669   000442  2017-03-15      000442  ODS_FIN_0990        NaN  9999-12-31
11670   000442  2017-03-15      000442  ODS_FIN_0991        NaN  9999-12-31
11671   000442  2017-03-15      000442  ODS_FIN_0990        NaN  9999-12-31
11797   000442  2017-03-15      000442  ODS_FIN_1060        NaN  9999-12-31
11798   000442  2017-03-15      000442  ODS_FIN_1060        NaN  9999-12-31
11799   000442  2017-03-15      000442  ODS_FIN_0310        NaN  9999-12-31
11800   000442  2017-03-15      000442  ODS_FIN_0311        NaN  9999-12-31
11801   000442  2017-03-15      000442  ODS_FIN_0330        NaN  9999-12-31
11802   000442  2017-03-15      000442  ODS_FIN_0340        NaN  9999-12-31
11803   000442  2017-03-15      000442  ODS_FIN_0910        NaN  9999-12-31
11805   000442  2017-03-15      000442  ODS_FIN_1010        NaN  9999-12-31
11806   000442  2017-03-15      000442  ODS_FIN_1010        NaN  9999-12-31
11807   000442  2017-03-15      000442  ODS_FIN_1280        NaN  9999-12-31
11808   000442  2017-03-15      000442  ODS_FIN_1180        NaN  9999-12-31
11809   000442  2017-03-15      000442  ODS_FIN_1190        NaN  9999-12-31
11845   000442  2017-03-15      000442  ODS_FIN_1160        NaN  9999-12-31
11847   000442  2017-03-15      000442  ODS_FIN_1140        NaN  9999-12-31
11848   000442  2017-03-15      000442  ODS_FIN_1130        NaN  9999-12-31
11850   000442  2017-03-15      000442  ODS_FIN_0610        NaN  9999-12-31
11851   000442  2017-03-15      000442  ODS_FIN_0860        NaN  9999-12-31
11852   000442  2017-03-15      000442  ODS_FIN_0891        NaN  9999-12-31
11853   000442  2017-03-15      000442  ODS_FIN_0891        NaN  9999-12-31
11854   000442  2017-03-15      000442  ODS_FIN_0892        NaN  9999-12-31
12115   000442  2017-03-15      000442  ODS_FIN_0890        NaN  9999-12-31
12116   000442  2017-03-15      000442  ODS_FIN_0890        NaN  9999-12-31
12117   000442  2017-03-15      000442  ODS_FIN_0890        NaN  9999-12-31
12118   000442  2017-03-15      000442  ODS_FIN_0880        NaN  9999-12-31
12119   000442  2017-03-15      000442  ODS_FIN_0891        NaN  9999-12-31
12120   000442  2017-03-15      000442  ODS_FIN_0891        NaN  9999-12-31

      is_period
11557      True
11558      True
11559      True
11563      True
11564      True
11565      True
11566      True
11567      True
11569      True
11572      True
11575      True
11576      True
11577      True
11579      True
11581      True
11583      True
11584      True
11585      True
11586      True
11587      True
11588      True
11589      True
11590      True
11669      True
11670      True
11671      True
11797      True
11798      True
11799      True
11800      True
11801      True
11802      True
11803      True
11805      True
11806      True
11807      True
11808      True
11809      True
11845      True
11847      True
11848      True
11850      True
11851      True
11852      True
11853      True
11854      True
12115      True
12116      True
12117      True
12118      True
12119      True
12120      True
QQ
      username  query_date report_name           doc start_date    end_date  \
23234   000442  2017-04-07      000442  ODS_FIN_1250        NaN  9999-12-31
23252   000442  2017-04-07      000442  ODS_FIN_1251        NaN  9999-12-31
23253   000442  2017-04-07      000442  ODS_FIN_1250        NaN  9999-12-31
23323   000442  2017-04-07      000442  ODS_FIN_0610        NaN  9999-12-31
23586   000442  2017-04-07      000442  ODS_FIN_0270        NaN  9999-12-31
23589   000442  2017-04-07      000442  ODS_FIN_0270        NaN  9999-12-31
23628   000442  2017-04-07      000442  ODS_FIN_0311        NaN  9999-12-31
23650   000442  2017-04-07      000442  ODS_FIN_0310        NaN  9999-12-31
23670   000442  2017-04-07      000442  ODS_FIN_0270        NaN  9999-12-31
23717   000442  2017-04-07      000442  ODS_FIN_0340        NaN  9999-12-31
23718   000442  2017-04-07      000442  ODS_FIN_1020        NaN  9999-12-31
23826   000442  2017-04-07      000442  ODS_FIN_0270        NaN  9999-12-31
23860   000442  2017-04-07      000442  ODS_FIN_1280        NaN  9999-12-31
25024   000442  2017-04-07      000442  ODS_FIN_0310        NaN  9999-12-31
25109   000442  2017-04-07      000442  ODS_FIN_1020        NaN  9999-12-31
25191   000442  2017-04-07      000442  ODS_FIN_0980        NaN  9999-12-31
25192   000442  2017-04-07      000442  ODS_FIN_1060        NaN  9999-12-31
25193   000442  2017-04-07      000442  ODS_FIN_0990        NaN  9999-12-31
25194   000442  2017-04-07      000442  ODS_FIN_0991        NaN  9999-12-31
25195   000442  2017-04-07      000442  ODS_FIN_1000        NaN  9999-12-31
25196   000442  2017-04-07      000442  ODS_FIN_1090        NaN  9999-12-31
25197   000442  2017-04-07      000442  ODS_FIN_1250        NaN  9999-12-31
25198   000442  2017-04-07      000442  ODS_FIN_1251        NaN  9999-12-31
25199   000442  2017-04-07      000442  ODS_FIN_1040        NaN  9999-12-31
25200   000442  2017-04-07      000442  ODS_FIN_1010        NaN  9999-12-31
25201   000442  2017-04-07      000442  ODS_FIN_1180        NaN  9999-12-31
25202   000442  2017-04-07      000442  ODS_FIN_1190        NaN  9999-12-31
25206   000442  2017-04-07      000442  ODS_FIN_0330        NaN  9999-12-31
25557   000442  2017-04-07      000442  ODS_FIN_1160        NaN  9999-12-31
25559   000442  2017-04-07      000442  ODS_FIN_1140        NaN  9999-12-31
25560   000442  2017-04-07      000442  ODS_FIN_1140        NaN  9999-12-31
25708   000442  2017-04-07      000442  ODS_FIN_0271        NaN  9999-12-31
25754   000442  2017-04-07      000442  ODS_FIN_0310        NaN  9999-12-31
25875   000442  2017-04-07      000442  ODS_FIN_0270        NaN  9999-12-31
25910   000442  2017-04-07      000442  ODS_FIN_0270        NaN  9999-12-31
25912   000442  2017-04-07      000442  ODS_FIN_0270        NaN  9999-12-31
25913   000442  2017-04-07      000442  ODS_FIN_0341        NaN  9999-12-31
25914   000442  2017-04-07      000442  ODS_FIN_0350        NaN  9999-12-31
25915   000442  2017-04-07      000442  ODS_FIN_0351        NaN  9999-12-31
25917   000442  2017-04-07      000442  ODS_FIN_0890        NaN  9999-12-31
25918   000442  2017-04-07      000442  ODS_FIN_0891        NaN  9999-12-31
25919   000442  2017-04-07      000442  ODS_FIN_0910        NaN  9999-12-31
25926   000442  2017-04-07      000442  ODS_FIN_1280        NaN  9999-12-31
25974   000442  2017-04-07      000442  ODS_FIN_0940        NaN  9999-12-31
25976   000442  2017-04-07      000442  ODS_FIN_1020        NaN  9999-12-31

      is_period
23234      True
23252      True
23253      True
23323      True
23586      True
23589      True
23628      True
23650      True
23670      True
23717      True
23718      True
23826      True
23860      True
25024      True
25109      True
25191      True
25192      True
25193      True
25194      True
25195      True
25196      True
25197      True
25198      True
25199      True
25200      True
25201      True
25202      True
25206      True
25557      True
25559      True
25560      True
25708      True
25754      True
25875      True
25910      True
25912      True
25913      True
25914      True
25915      True
25917      True
25918      True
25919      True
25926      True
25974      True
25976      True
QQ
      username  query_date report_name           doc start_date    end_date  \
14411   000442  2017-03-21      000442  ODS_FIN_0980        NaN  9999-12-31

      username  query_date report_name           doc start_date    end_date  \
26457   000442  2017-04-12      000442  ODS_FIN_0891        NaN  9999-12-31
26458   000442  2017-04-12      000442  ODS_FIN_0891        NaN  9999-12-31
26612   000442  2017-04-12      000442  ODS_FIN_1160        NaN  9999-12-31
26774   000442  2017-04-12      000442  ODS_FIN_0310        NaN  9999-12-31
27285   000442  2017-04-12      000442  ODS_FIN_0890        NaN  9999-12-31
27286   000442  2017-04-12      000442  ODS_FIN_0891        NaN  9999-12-31

      is_period
26457      True
26458      True
26612      True
26774      True
27285      True
27286      True
QQ
     username  query_date report_name           doc start_date    end_date  \
1374   000442  2017-02-13      000442  ODS_FIN_0310        NaN  9999-12-31
5316   000442  2017-02-13      000442  ODS_FIN_0310        NaN  9999-12-31
5562   000442  2017-02-13      000442  ODS_FIN_0311        NaN  9999-12-31
6845   000442  2017-02-13      000442  ODS_FIN_0270        NaN  9999-12-31
6982   000442  2017-02-13      000442  ODS_FIN_0270        NaN  9999-12-31
6983   000442  2017-02-13      000442  ODS_FIN_0270        NaN  9999-12-31

     is_period
1374      True
5316      True
5562      True
6845      True
6982      True
6983      True
QQ
      username  query_date report_name           doc start_date    end_date  \
13902   000442  2017-03-20      000442  ODS_FIN_1020        NaN  9999-12-31
13912   000442  2017-03-20      000442  ODS_FIN_1020        NaN  9999-12-31
13938   000442  2017-03-20      000442  ODS_FIN_0610        NaN  9999-12-31
13939   000442  2017-03-20      000442  ODS_FIN_0610        NaN  9999-12-31
13940   000442  2017-03-20      000442  ODS_FIN_0860        NaN  9999-12-31
14196   000442  2017-03-20      000442  ODS_FIN_1000        NaN  9999-12-31

      is_period
13902      True
13912      True
13938      True
13939      True
13940      True
14196      True
QQ
      username  query_date report_name           doc start_date    end_date  \
17844   000442  2017-03-30      000442  ODS_FIN_0310        NaN  9999-12-31
18000   000442  2017-03-30      000442  ODS_FIN_0610        NaN  9999-12-31
18080   000442  2017-03-30      000442  ODS_FIN_0860        NaN  9999-12-31
19724   000442  2017-03-30      000442  ODS_FIN_0310        NaN  9999-12-31
19725   000442  2017-03-30      000442  ODS_FIN_0310        NaN  9999-12-31

      is_period
17844      True
18000      True
18080      True
19724      True
19725      True
QQ
      username  query_date report_name           doc start_date    end_date  \
17495   000442  2017-03-29      000442  ODS_FIN_0610        NaN  9999-12-31
17496   000442  2017-03-29      000442  ODS_FIN_0610        NaN  9999-12-31
18301   000442  2017-03-29      000442  ODS_FIN_0880        NaN  9999-12-31
21269   000442  2017-03-29      000442  ODS_FIN_0880        NaN  9999-12-31
21273   000442  2017-03-29      000442  ODS_FIN_0880        NaN  9999-12-31

      is_period
17495      True
17496      True
18301      True
21269      True
21273      True
QQ
      username  query_date report_name           doc start_date    end_date  \
30533   000442  2017-04-21      000442  ODS_FIN_1040        NaN  9999-12-31
30552   000442  2017-04-21      000442  ODS_FIN_0990        NaN  9999-12-31
30553   000442  2017-04-21      000442  ODS_FIN_0991        NaN  9999-12-31
31353   000442  2017-04-21      000442  ODS_FIN_0310        NaN  9999-12-31

      is_period
30533      True
30552      True
30553      True
31353      True
QQ
      username  query_date report_name           doc start_date    end_date  \
1651    000442  2017-04-19      000442  ODS_FIN_0880        NaN  9999-12-31
30506   000442  2017-04-19      000442  ODS_FIN_0610        NaN  9999-12-31
30507   000442  2017-04-19      000442  ODS_FIN_0610        NaN  9999-12-31
30509   000442  2017-04-19      000442  ODS_FIN_1040        NaN  9999-12-31

      is_period
1651       True
30506      True
30507      True
30509      True
QQ
      username  query_date report_name           doc start_date    end_date  \
14794   000442  2017-03-23      000442  ODS_FIN_0610        NaN  9999-12-31
15081   000442  2017-03-23      000442  ODS_FIN_0610        NaN  9999-12-31
17028   000442  2017-03-23      000442  ODS_FIN_0610        NaN  9999-12-31
17140   000442  2017-03-23      000442  ODS_FIN_0610        NaN  9999-12-31

      is_period
14794      True
15081      True
17028      True
17140      True
QQ
     username  query_date report_name           doc start_date    end_date  \
7883   000442  2017-03-03      000442  ODS_FIN_1020        NaN  9999-12-31
7909   000442  2017-03-03      000442  ODS_FIN_1020        NaN  9999-12-31
7910   000442  2017-03-03      000442  ODS_FIN_0980        NaN  9999-12-31
7911   000442  2017-03-03      000442  ODS_FIN_0610        NaN  9999-12-31

     is_period
7883      True
7909      True
7910      True
7911      True
QQ
      username  query_date report_name           doc start_date    end_date  \
27097   000442  2017-04-11      000442  ODS_FIN_0890        NaN  9999-12-31
27112   000442  2017-04-11      000442  ODS_FIN_0890        NaN  9999-12-31
27195   000442  2017-04-11      000442  ODS_FIN_0890        NaN  9999-12-31
27581   000442  2017-04-11      000442  ODS_FIN_0890        NaN  9999-12-31

      is_period
27097      True
27112      True
27195      True
27581      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4382   000442  2017-03-01      000442  ODS_FIN_0990        NaN  9999-12-31
7742   000442  2017-03-01      000442  ODS_FIN_0610        NaN  9999-12-31
7744   000442  2017-03-01      000442  ODS_FIN_0610        NaN  9999-12-31

     is_period
4382      True
7742      True
7744      True
QQ
     username  query_date report_name           doc start_date    end_date  \
1256   000442  2017-02-14      000442  ODS_FIN_0310        NaN  9999-12-31
1257   000442  2017-02-14      000442  ODS_FIN_0310        NaN  9999-12-31
1258   000442  2017-02-14      000442  ODS_FIN_0310        NaN  9999-12-31

     is_period
1256      True
1257      True
1258      True
QQ
      username  query_date report_name           doc start_date    end_date  \
29120   000442  2017-04-17      000442  ODS_FIN_0610        NaN  9999-12-31
29404   000442  2017-04-17      000442  ODS_FIN_0860        NaN  9999-12-31
29553   000442  2017-04-17      000442  ODS_FIN_0610        NaN  9999-12-31

      is_period
29120      True
29404      True
29553      True
QQ
     username  query_date report_name           doc start_date    end_date  \
6186   000442  2017-02-20      000442  ODS_FIN_0610        NaN  9999-12-31
6631   000442  2017-02-20      000442  ODS_FIN_0270        NaN  9999-12-31

     is_period
6186      True
6631      True
QQ
     username  query_date report_name           doc start_date    end_date  \
3854   000442  2017-02-21      000442  ODS_FIN_0270        NaN  9999-12-31
3855   000442  2017-02-21      000442  ODS_FIN_0270        NaN  9999-12-31

     is_period
3854      True
3855      True
QQ
      username  query_date report_name           doc start_date    end_date  \
13320   000442  2017-03-16      000442  ODS_FIN_0340        NaN  9999-12-31

      is_period
13320      True
QQ
     username  query_date report_name          doc start_date    end_date  \
4156   000442  2017-02-23      000442  LS_FIN_0150        NaN  9999-12-31

     is_period
4156      True
QQ
     username  query_date report_name          doc start_date    end_date  \
7285   000442  2017-02-22      000442  LS_FIN_0150        NaN  9999-12-31

     is_period
7285      True
QQ
     username  query_date report_name           doc start_date    end_date  \
5240   000442  2017-03-10      000442  ODS_FIN_0910        NaN  9999-12-31

     is_period
5240      True
QQ
      username  query_date report_name           doc start_date    end_date  \
29542   000442  2017-04-14      000442  ODS_FIN_0910        NaN  9999-12-31

      is_period
29542      True
QQ
      username  query_date report_name           doc start_date    end_date  \
30373   roxana  2017-04-20      roxana  ODS_FIN_0750        NaN  9999-12-31
30423   roxana  2017-04-20      roxana  ODS_INV_7100        NaN  9999-12-31
30470   roxana  2017-04-20      roxana  ODS_INV_7110        NaN  9999-12-31
30472   roxana  2017-04-20      roxana  ODS_INV_7130        NaN  9999-12-31
30522   roxana  2017-04-20      roxana  ODS_INV_7100        NaN  9999-12-31
30558   roxana  2017-04-20      roxana  ODS_INV_7110        NaN  9999-12-31
30562   roxana  2017-04-20      roxana  ODS_INV_7110        NaN  9999-12-31
30596   roxana  2017-04-20      roxana  ODS_INV_7100        NaN  9999-12-31
30605   roxana  2017-04-20      roxana  ODS_INV_7100        NaN  9999-12-31
31247   roxana  2017-04-20      roxana  ODS_INV_7150        NaN  9999-12-31
31249   roxana  2017-04-20      roxana  ODS_INV_7100        NaN  9999-12-31
31384   roxana  2017-04-20      roxana  ODS_INV_7220        NaN  9999-12-31
31397   roxana  2017-04-20      roxana  ODS_INV_7100        NaN  9999-12-31
31402   roxana  2017-04-20      roxana  ODS_INV_7140        NaN  9999-12-31
31640   roxana  2017-04-20      roxana  ODS_FIN_0830        NaN  9999-12-31
31655   roxana  2017-04-20      roxana  ODS_FIN_0770        NaN  9999-12-31
31664   roxana  2017-04-20      roxana  ODS_FIN_0770        NaN  9999-12-31
31681   roxana  2017-04-20      roxana  ODS_INV_7220        NaN  9999-12-31
31782   roxana  2017-04-20      roxana  ODS_INV_7110        NaN  9999-12-31
31792   roxana  2017-04-20      roxana  ODS_INV_7130        NaN  9999-12-31
31806   roxana  2017-04-20      roxana  ODS_INV_7130        NaN  9999-12-31
31813   roxana  2017-04-20      roxana  ODS_INV_7100        NaN  9999-12-31
31930   roxana  2017-04-20      roxana  ODS_INV_7100        NaN  9999-12-31
31938   roxana  2017-04-20      roxana  ODS_INV_7100        NaN  9999-12-31
32036   roxana  2017-04-20      roxana  ODS_FIN_0810        NaN  9999-12-31
32083   roxana  2017-04-20      roxana  ODS_FIN_0810        NaN  9999-12-31
32123   roxana  2017-04-20      roxana  ODS_INV_7110        NaN  9999-12-31
32134   roxana  2017-04-20      roxana  ODS_INV_7100        NaN  9999-12-31
32164   roxana  2017-04-20      roxana  ODS_FIN_0830        NaN  9999-12-31
32165   roxana  2017-04-20      roxana  ODS_FIN_0830        NaN  9999-12-31
32166   roxana  2017-04-20      roxana  ODS_FIN_0810        NaN  9999-12-31
32197   roxana  2017-04-20      roxana  ODS_FIN_0770        NaN  9999-12-31
32237   roxana  2017-04-20      roxana  ODS_FIN_0810        NaN  9999-12-31
32270   roxana  2017-04-20      roxana  ODS_FIN_0810        NaN  9999-12-31
32282   roxana  2017-04-20      roxana  ODS_INV_7150        NaN  9999-12-31
32304   roxana  2017-04-20      roxana  ODS_INV_7130        NaN  9999-12-31
32305   roxana  2017-04-20      roxana  ODS_INV_7140        NaN  9999-12-31

      is_period
30373      True
30423      True
30470      True
30472      True
30522      True
30558      True
30562      True
30596      True
30605      True
31247      True
31249      True
31384      True
31397      True
31402      True
31640      True
31655      True
31664      True
31681      True
31782      True
31792      True
31806      True
31813      True
31930      True
31938      True
32036      True
32083      True
32123      True
32134      True
32164      True
32165      True
32166      True
32197      True
32237      True
32270      True
32282      True
32304      True
32305      True
QQ
      username  query_date report_name           doc start_date    end_date  \
13567   roxana  2017-03-20      roxana  ODS_FIN_0830        NaN  9999-12-31
13575   roxana  2017-03-20      roxana  ODS_FIN_0341        NaN  9999-12-31
13586   roxana  2017-03-20      roxana  ODS_FIN_0341        NaN  9999-12-31
13589   roxana  2017-03-20      roxana  ODS_FIN_0340        NaN  9999-12-31
13590   roxana  2017-03-20      roxana  ODS_FIN_0341        NaN  9999-12-31
13592   roxana  2017-03-20      roxana  ODS_FIN_1340        NaN  9999-12-31
13596   roxana  2017-03-20      roxana  ODS_FIN_0341        NaN  9999-12-31
13597   roxana  2017-03-20      roxana  ODS_FIN_0351        NaN  9999-12-31
13610   roxana  2017-03-20      roxana  ODS_FIN_0880        NaN  9999-12-31
13619   roxana  2017-03-20      roxana  ODS_FIN_1550        NaN  9999-12-31
13705   roxana  2017-03-20      roxana  ODS_FIN_0810        NaN  9999-12-31
13709   roxana  2017-03-20      roxana  ODS_INV_7171        NaN  9999-12-31
13718   roxana  2017-03-20      roxana  ODS_FIN_0810        NaN  9999-12-31
13789   roxana  2017-03-20      roxana  ODS_FIN_0341        NaN  9999-12-31
13790   roxana  2017-03-20      roxana  ODS_FIN_0341        NaN  9999-12-31
13791   roxana  2017-03-20      roxana  ODS_FIN_0341        NaN  9999-12-31
13796   roxana  2017-03-20      roxana  ODS_INV_7160        NaN  9999-12-31
13797   roxana  2017-03-20      roxana  ODS_INV_7160        NaN  9999-12-31
13839   roxana  2017-03-20      roxana  ODS_INV_7170        NaN  9999-12-31
13921   roxana  2017-03-20      roxana  ODS_FIN_0770        NaN  9999-12-31
13966   roxana  2017-03-20      roxana  ODS_FIN_0341        NaN  9999-12-31
14024   roxana  2017-03-20      roxana  ODS_FIN_0430        NaN  9999-12-31
14025   roxana  2017-03-20      roxana  ODS_FIN_0430        NaN  9999-12-31
14027   roxana  2017-03-20      roxana  ODS_FIN_0450        NaN  9999-12-31
14028   roxana  2017-03-20      roxana  ODS_FIN_0450        NaN  9999-12-31
14031   roxana  2017-03-20      roxana  ODS_FIN_0460        NaN  9999-12-31
14035   roxana  2017-03-20      roxana  ODS_FIN_0870        NaN  9999-12-31
14085   roxana  2017-03-20      roxana  ODS_FIN_0870        NaN  9999-12-31
14086   roxana  2017-03-20      roxana  ODS_FIN_0870        NaN  9999-12-31
14088   roxana  2017-03-20      roxana  ODS_FIN_1550        NaN  9999-12-31
14192   roxana  2017-03-20      roxana  ODS_FIN_0340        NaN  9999-12-31
14349   roxana  2017-03-20      roxana  ODS_FIN_0810        NaN  9999-12-31
14350   roxana  2017-03-20      roxana  ODS_FIN_0810        NaN  9999-12-31
14393   roxana  2017-03-20      roxana  ODS_FIN_0830        NaN  9999-12-31
14394   roxana  2017-03-20      roxana  ODS_FIN_0810        NaN  9999-12-31
14395   roxana  2017-03-20      roxana  ODS_FIN_0810        NaN  9999-12-31
14398   roxana  2017-03-20      roxana  ODS_FIN_0830        NaN  9999-12-31

      is_period
13567      True
13575      True
13586      True
13589      True
13590      True
13592      True
13596      True
13597      True
13610      True
13619      True
13705      True
13709      True
13718      True
13789      True
13790      True
13791      True
13796      True
13797      True
13839      True
13921      True
13966      True
14024      True
14025      True
14027      True
14028      True
14031      True
14035      True
14085      True
14086      True
14088      True
14192      True
14349      True
14350      True
14393      True
14394      True
14395      True
14398      True
QQ
      username  query_date report_name           doc start_date    end_date  \
14567   roxana  2017-03-21      roxana  ODS_FIN_0770        NaN  9999-12-31
14570   roxana  2017-03-21      roxana  ODS_POS_7130        NaN  9999-12-31
14665   roxana  2017-03-21      roxana  ODS_FIN_0380        NaN  9999-12-31
14666   roxana  2017-03-21      roxana  ODS_FIN_0380        NaN  9999-12-31
15236   roxana  2017-03-21      roxana  ODS_INV_7200        NaN  9999-12-31
15243   roxana  2017-03-21      roxana  ODS_INV_7200        NaN  9999-12-31
15244   roxana  2017-03-21      roxana  ODS_FIN_0880        NaN  9999-12-31
15245   roxana  2017-03-21      roxana  ODS_FIN_0860        NaN  9999-12-31
15259   roxana  2017-03-21      roxana  ODS_FIN_0860        NaN  9999-12-31
15296   roxana  2017-03-21      roxana  ODS_INV_7170        NaN  9999-12-31
15300   roxana  2017-03-21      roxana  ODS_FIN_0370        NaN  9999-12-31
15306   roxana  2017-03-21      roxana  ODS_FIN_0770        NaN  9999-12-31
15307   roxana  2017-03-21      roxana  ODS_FIN_0770        NaN  9999-12-31
15308   roxana  2017-03-21      roxana  ODS_FIN_0770        NaN  9999-12-31
15399   roxana  2017-03-21      roxana  ODS_FIN_0770        NaN  9999-12-31
15401   roxana  2017-03-21      roxana  ODS_FIN_0420        NaN  9999-12-31
15402   roxana  2017-03-21      roxana  ODS_FIN_1550        NaN  9999-12-31
15405   roxana  2017-03-21      roxana  ODS_INV_7170        NaN  9999-12-31
15726   roxana  2017-03-21      roxana  ODS_FIN_1160        NaN  9999-12-31
15728   roxana  2017-03-21      roxana  ODS_FIN_1160        NaN  9999-12-31
15838   roxana  2017-03-21      roxana  ODS_INV_7200        NaN  9999-12-31
15843   roxana  2017-03-21      roxana  ODS_INV_7320        NaN  9999-12-31
15845   roxana  2017-03-21      roxana  ODS_INV_7200        NaN  9999-12-31
15847   roxana  2017-03-21      roxana  ODS_INV_7320        NaN  9999-12-31
15852   roxana  2017-03-21      roxana  ODS_INV_7200        NaN  9999-12-31
15853   roxana  2017-03-21      roxana  ODS_INV_7200        NaN  9999-12-31
15855   roxana  2017-03-21      roxana  ODS_INV_7200        NaN  9999-12-31
15857   roxana  2017-03-21      roxana  ODS_INV_7200        NaN  9999-12-31
15869   roxana  2017-03-21      roxana  ODS_INV_7200        NaN  9999-12-31
17174   roxana  2017-03-21      roxana  ODS_FIN_0310        NaN  9999-12-31
17190   roxana  2017-03-21      roxana  ODS_FIN_0370        NaN  9999-12-31

      is_period
14567      True
14570      True
14665      True
14666      True
15236      True
15243      True
15244      True
15245      True
15259      True
15296      True
15300      True
15306      True
15307      True
15308      True
15399      True
15401      True
15402      True
15405      True
15726      True
15728      True
15838      True
15843      True
15845      True
15847      True
15852      True
15853      True
15855      True
15857      True
15869      True
17174      True
17190      True
QQ

      username  query_date report_name           doc  start_date    end_date  \
17594   roxana  2017-03-30      roxana  ODS_INV_7200         NaN  9999-12-31
17595   roxana  2017-03-30      roxana  ODS_INV_7200         NaN  9999-12-31
17596   roxana  2017-03-30      roxana  ODS_INV_7200         NaN  9999-12-31
17608   roxana  2017-03-30      roxana  ODS_INV_7200         NaN  9999-12-31
17609   roxana  2017-03-30      roxana  ODS_INV_7200         NaN  9999-12-31
17610   roxana  2017-03-30      roxana  ODS_INV_7200  2017-01-03  2017-01-03
17611   roxana  2017-03-30      roxana  ODS_INV_7200  2017-01-03  2017-01-10
17626   roxana  2017-03-30      roxana  ODS_INV_7200         NaN  9999-12-31
17700   roxana  2017-03-30      roxana  ODS_INV_7150  2017-02-27  2017-02-27
17746   roxana  2017-03-30      roxana  ODS_INV_7290         NaN  9999-12-31
17840   roxana  2017-03-30      roxana  ODS_INV_7230  2017-02-01  2017-03-01
17843   roxana  2017-03-30      roxana  ODS_INV_7230  2017-02-01  2017-03-01
17849   roxana  2017-03-30      roxana  ODS_INV_7290         NaN  9999-12-31
17863   roxana  2017-03-30      roxana  ODS_INV_7150  2017-02-07  2017-02-07
17902   roxana  2017-03-30      roxana  ODS_INV_7150  2017-02-07  2017-02-07
17996   roxana  2017-03-30      roxana  ODS_INV_7200         NaN  9999-12-31
19703   roxana  2017-03-30      roxana  ODS_INV_7150  2017-01-26  2017-01-26
19722   roxana  2017-03-30      roxana  ODS_INV_7150  2017-02-07  2017-02-07
19726   roxana  2017-03-30      roxana  ODS_INV_7230  2017-03-01  2017-03-01
19990   roxana  2017-03-30      roxana  ODS_INV_7300         NaN  9999-12-31
20093   roxana  2017-03-30      roxana  ODS_POS_7130         NaN  9999-12-31
20224   roxana  2017-03-30      roxana  ODS_FIN_0730         NaN  9999-12-31
20225   roxana  2017-03-30      roxana  ODS_FIN_0730         NaN  9999-12-31
20227   roxana  2017-03-30      roxana  ODS_INV_7290         NaN  9999-12-31
20228   roxana  2017-03-30      roxana  ODS_INV_7290         NaN  9999-12-31
20371   roxana  2017-03-30      roxana  ODS_INV_7300         NaN  9999-12-31
20375   roxana  2017-03-30      roxana  ODS_FIN_0730         NaN  9999-12-31

      is_period
17594      True
17595      True
17596      True
17608      True
17609      True
17610      True
17611      True
17626      True
17700      True
17746      True
17840      True
17843      True
17849      True
17863      True
17902      True
17996      True
19703      True
19722      True
19726      True
19990      True
20093      True
20224      True
20225      True
20227      True
20228      True
20371      True
20375      True
QQ
      username  query_date report_name           doc start_date    end_date  \
10785   roxana  2017-03-14      roxana  ODS_FIN_0990        NaN  9999-12-31
10786   roxana  2017-03-14      roxana  ODS_FIN_0990        NaN  9999-12-31
10788   roxana  2017-03-14      roxana  ODS_FIN_0990        NaN  9999-12-31
10789   roxana  2017-03-14      roxana  ODS_FIN_0990        NaN  9999-12-31
10791   roxana  2017-03-14      roxana  ODS_FIN_0991        NaN  9999-12-31
10792   roxana  2017-03-14      roxana  ODS_FIN_0730        NaN  9999-12-31
10793   roxana  2017-03-14      roxana  ODS_FIN_0730        NaN  9999-12-31
10795   roxana  2017-03-14      roxana  ODS_FIN_0890        NaN  9999-12-31
10796   roxana  2017-03-14      roxana  ODS_FIN_0891        NaN  9999-12-31
10827   roxana  2017-03-14      roxana  ODS_FIN_0770        NaN  9999-12-31
10830   roxana  2017-03-14      roxana  ODS_INV_7320        NaN  9999-12-31
11055   roxana  2017-03-14      roxana  ODS_INV_7230        NaN  9999-12-31
11065   roxana  2017-03-14      roxana  ODS_INV_7230        NaN  9999-12-31
11069   roxana  2017-03-14      roxana  ODS_INV_7200        NaN  9999-12-31
11092   roxana  2017-03-14      roxana  ODS_INV_7320        NaN  9999-12-31
11187   roxana  2017-03-14      roxana  ODS_FIN_0370        NaN  9999-12-31
11188   roxana  2017-03-14      roxana  ODS_FIN_0430        NaN  9999-12-31
11189   roxana  2017-03-14      roxana  ODS_FIN_0990        NaN  9999-12-31
11236   roxana  2017-03-14      roxana  ODS_INV_7200        NaN  9999-12-31
11237   roxana  2017-03-14      roxana  ODS_INV_7200        NaN  9999-12-31
11658   roxana  2017-03-14      roxana  ODS_FIN_0990        NaN  9999-12-31
11659   roxana  2017-03-14      roxana  ODS_FIN_0990        NaN  9999-12-31
11703   roxana  2017-03-14      roxana  ODS_FIN_0990        NaN  9999-12-31
11969   roxana  2017-03-14      roxana  ODS_FIN_0770        NaN  9999-12-31

      is_period
10785      True
10786      True
10788      True
10789      True
10791      True
10792      True
10793      True
10795      True
10796      True
10827      True
10830      True
11055      True
11065      True
11069      True
11092      True
11187      True
11188      True
11189      True
11236      True
11237      True
11658      True
11659      True
11703      True
11969      True
QQ
     username  query_date report_name           doc start_date    end_date  \
185    roxana  2017-02-14      roxana  ODS_FIN_0351        NaN  9999-12-31
186    roxana  2017-02-14      roxana  ODS_FIN_0351        NaN  9999-12-31
187    roxana  2017-02-14      roxana  ODS_FIN_0351        NaN  9999-12-31
188    roxana  2017-02-14      roxana  ODS_FIN_0351        NaN  9999-12-31
189    roxana  2017-02-14      roxana  ODS_INV_7100        NaN  9999-12-31
258    roxana  2017-02-14      roxana  ODS_INV_7200        NaN  9999-12-31
260    roxana  2017-02-14      roxana  ODS_FIN_0310        NaN  9999-12-31
304    roxana  2017-02-14      roxana  ODS_FIN_0351        NaN  9999-12-31
305    roxana  2017-02-14      roxana  ODS_FIN_0351        NaN  9999-12-31
306    roxana  2017-02-14      roxana  ODS_FIN_0351        NaN  9999-12-31
1150   roxana  2017-02-14      roxana  ODS_FIN_0730        NaN  9999-12-31
1151   roxana  2017-02-14      roxana  ODS_FIN_0730        NaN  9999-12-31
1158   roxana  2017-02-14      roxana  ODS_FIN_0770        NaN  9999-12-31
1159   roxana  2017-02-14      roxana  ODS_FIN_0770        NaN  9999-12-31
1171   roxana  2017-02-14      roxana  ODS_FIN_0351        NaN  9999-12-31
1173   roxana  2017-02-14      roxana  ODS_FIN_0350        NaN  9999-12-31
1177   roxana  2017-02-14      roxana  ODS_FIN_1340        NaN  9999-12-31
1238   roxana  2017-02-14      roxana  ODS_FIN_0310        NaN  9999-12-31
1269   roxana  2017-02-14      roxana  ODS_FIN_1340        NaN  9999-12-31
1270   roxana  2017-02-14      roxana  ODS_FIN_1340        NaN  9999-12-31
1271   roxana  2017-02-14      roxana  ODS_FIN_1340        NaN  9999-12-31
1309   roxana  2017-02-14      roxana  ODS_FIN_0730        NaN  9999-12-31
1310   roxana  2017-02-14      roxana  ODS_FIN_1340        NaN  9999-12-31

     is_period
185       True
186       True
187       True
188       True
189       True
258       True
260       True
304       True
305       True
306       True
1150      True
1151      True
1158      True
1159      True
1171      True
1173      True
1177      True
1238      True
1269      True
1270      True
1271      True
1309      True
1310      True
QQ
      username  query_date report_name           doc start_date    end_date  \
21536   roxana  2017-04-06      roxana  ODS_FIN_0860        NaN  9999-12-31
21639   roxana  2017-04-06      roxana  ODS_FIN_0610        NaN  9999-12-31
21642   roxana  2017-04-06      roxana  ODS_FIN_0770        NaN  9999-12-31
21690   roxana  2017-04-06      roxana  ODS_FIN_0860        NaN  9999-12-31
21694   roxana  2017-04-06      roxana  ODS_FIN_0610        NaN  9999-12-31
21705   roxana  2017-04-06      roxana  ODS_FIN_0860        NaN  9999-12-31
21706   roxana  2017-04-06      roxana  ODS_FIN_0860        NaN  9999-12-31
21707   roxana  2017-04-06      roxana  ODS_FIN_0860        NaN  9999-12-31
21720   roxana  2017-04-06      roxana  ODS_FIN_0860        NaN  9999-12-31
21721   roxana  2017-04-06      roxana  ODS_FIN_0860        NaN  9999-12-31
22353   roxana  2017-04-06      roxana  ODS_FIN_0830        NaN  9999-12-31
22448   roxana  2017-04-06      roxana  ODS_FIN_0610        NaN  9999-12-31
23159   roxana  2017-04-06      roxana  ODS_FIN_0610        NaN  9999-12-31
23163   roxana  2017-04-06      roxana  ODS_FIN_0610        NaN  9999-12-31
24160   roxana  2017-04-06      roxana  ODS_FIN_0610        NaN  9999-12-31
24167   roxana  2017-04-06      roxana  ODS_FIN_0770        NaN  9999-12-31
24170   roxana  2017-04-06      roxana  ODS_FIN_0770        NaN  9999-12-31
24174   roxana  2017-04-06      roxana  ODS_FIN_0610        NaN  9999-12-31
24365   roxana  2017-04-06      roxana  ODS_FIN_0860        NaN  9999-12-31
24562   roxana  2017-04-06      roxana  ODS_FIN_0610        NaN  9999-12-31
24838   roxana  2017-04-06      roxana  ODS_FIN_0610        NaN  9999-12-31
25382   roxana  2017-04-06      roxana  ODS_FIN_0810        NaN  9999-12-31

      is_period
21536      True
21639      True
21642      True
21690      True
21694      True
21705      True
21706      True
21707      True
21720      True
21721      True
22353      True
22448      True
23159      True
23163      True
24160      True
24167      True
24170      True
24174      True
24365      True
24562      True
24838      True
25382      True
QQ
     username  query_date report_name           doc start_date    end_date  \
1418   roxana  2017-02-13      roxana  ODS_FIN_0351        NaN  9999-12-31
1419   roxana  2017-02-13      roxana  ODS_INV_7200        NaN  9999-12-31
1420   roxana  2017-02-13      roxana  ODS_INV_7200        NaN  9999-12-31
1421   roxana  2017-02-13      roxana  ODS_INV_7200        NaN  9999-12-31
1422   roxana  2017-02-13      roxana  ODS_INV_7200        NaN  9999-12-31
1423   roxana  2017-02-13      roxana  ODS_POS_7150        NaN  9999-12-31
5456   roxana  2017-02-13      roxana  ODS_FIN_0350        NaN  9999-12-31
5458   roxana  2017-02-13      roxana  ODS_FIN_0351        NaN  9999-12-31
5506   roxana  2017-02-13      roxana  ODS_FIN_0351        NaN  9999-12-31
5509   roxana  2017-02-13      roxana  ODS_FIN_0271        NaN  9999-12-31
5517   roxana  2017-02-13      roxana  ODS_FIN_0351        NaN  9999-12-31
6836   roxana  2017-02-13      roxana  ODS_FIN_1060        NaN  9999-12-31
6853   roxana  2017-02-13      roxana  ODS_FIN_1060        NaN  9999-12-31
6855   roxana  2017-02-13      roxana  ODS_FIN_0311        NaN  9999-12-31
6856   roxana  2017-02-13      roxana  ODS_FIN_0351        NaN  9999-12-31
6876   roxana  2017-02-13      roxana  ODS_FIN_0351        NaN  9999-12-31
6879   roxana  2017-02-13      roxana  ODS_FIN_0310        NaN  9999-12-31
6931   roxana  2017-02-13      roxana  ODS_FIN_0351        NaN  9999-12-31
6968   roxana  2017-02-13      roxana  ODS_FIN_0351        NaN  9999-12-31
6969   roxana  2017-02-13      roxana  ODS_FIN_0351        NaN  9999-12-31
7018   roxana  2017-02-13      roxana  ODS_FIN_1040        NaN  9999-12-31
7019   roxana  2017-02-13      roxana  ODS_FIN_1060        NaN  9999-12-31

     is_period
1418      True
1419      True
1420      True
1421      True
1422      True
1423      True
5456      True
5458      True
5506      True
5509      True
5517      True
6836      True
6853      True
6855      True
6856      True
6876      True
6879      True
6931      True
6968      True
6969      True
7018      True
7019      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
10711   roxana  2017-03-13      roxana  ODS_FIN_0850         NaN  9999-12-31
10714   roxana  2017-03-13      roxana  ODS_FIN_0850         NaN  9999-12-31
10737   roxana  2017-03-13      roxana  ODS_FIN_0850         NaN  9999-12-31
11270   roxana  2017-03-13      roxana  ODS_POS_7080         NaN  9999-12-31
11274   roxana  2017-03-13      roxana  ODS_INV_7170         NaN  9999-12-31
11319   roxana  2017-03-13      roxana  ODS_POS_7080         NaN  9999-12-31
11321   roxana  2017-03-13      roxana  ODS_FIN_0880         NaN  9999-12-31
11325   roxana  2017-03-13      roxana  ODS_FIN_0271         NaN  9999-12-31
11369   roxana  2017-03-13      roxana   ODS_RI_0130  2017-02-02  2017-02-02
11385   roxana  2017-03-13      roxana  ODS_FIN_0310         NaN  9999-12-31
11388   roxana  2017-03-13      roxana  ODS_FIN_0850         NaN  9999-12-31
11410   roxana  2017-03-13      roxana  ODS_INV_7230         NaN  9999-12-31
11420   roxana  2017-03-13      roxana  ODS_FIN_0270         NaN  9999-12-31
11425   roxana  2017-03-13      roxana  ODS_FIN_0271         NaN  9999-12-31
11445   roxana  2017-03-13      roxana  ODS_FIN_0271         NaN  9999-12-31
11446   roxana  2017-03-13      roxana  ODS_FIN_0880         NaN  9999-12-31
11506   roxana  2017-03-13      roxana  ODS_FIN_0310         NaN  9999-12-31
11511   roxana  2017-03-13      roxana  ODS_FIN_0271         NaN  9999-12-31
11521   roxana  2017-03-13      roxana  ODS_FIN_0310         NaN  9999-12-31
11522   roxana  2017-03-13      roxana  ODS_FIN_0311         NaN  9999-12-31
11523   roxana  2017-03-13      roxana  ODS_FIN_0310         NaN  9999-12-31
11525   roxana  2017-03-13      roxana  ODS_INV_7230         NaN  9999-12-31

      is_period
10711      True
10714      True
10737      True
11270      True
11274      True
11319      True
11321      True
11325      True
11369      True
11385      True
11388      True
11410      True
11420      True
11425      True
11445      True
11446      True
11506      True
11511      True
11521      True
11522      True
11523      True
11525      True
QQ
      username  query_date report_name           doc start_date    end_date  \
17544   roxana  2017-03-28      roxana  ODS_INV_7150        NaN  9999-12-31
17589   roxana  2017-03-28      roxana  ODS_INV_7150        NaN  9999-12-31
17705   roxana  2017-03-28      roxana  ODS_INV_7170        NaN  9999-12-31
18608   roxana  2017-03-28      roxana  ODS_INV_7150        NaN  9999-12-31
19180   roxana  2017-03-28      roxana  ODS_POS_7080        NaN  9999-12-31
19188   roxana  2017-03-28      roxana  ODS_FIN_1280        NaN  9999-12-31
19190   roxana  2017-03-28      roxana  ODS_FIN_1280        NaN  9999-12-31
19191   roxana  2017-03-28      roxana  ODS_FIN_1250        NaN  9999-12-31
19192   roxana  2017-03-28      roxana  ODS_FIN_1251        NaN  9999-12-31
19193   roxana  2017-03-28      roxana  ODS_FIN_1250        NaN  9999-12-31
19865   roxana  2017-03-28      roxana  ODS_INV_7150        NaN  9999-12-31
19867   roxana  2017-03-28      roxana  ODS_INV_7150        NaN  9999-12-31
20066   roxana  2017-03-28      roxana  ODS_FIN_0810        NaN  9999-12-31
20067   roxana  2017-03-28      roxana  ODS_FIN_0810        NaN  9999-12-31
20071   roxana  2017-03-28      roxana  ODS_FIN_0830        NaN  9999-12-31
20075   roxana  2017-03-28      roxana  ODS_FIN_0860        NaN  9999-12-31
20740   roxana  2017-03-28      roxana  ODS_FIN_1280        NaN  9999-12-31
20748   roxana  2017-03-28      roxana  ODS_INV_7170        NaN  9999-12-31
20749   roxana  2017-03-28      roxana  ODS_FIN_1280        NaN  9999-12-31
20762   roxana  2017-03-28      roxana  ODS_INV_7150        NaN  9999-12-31
21127   roxana  2017-03-28      roxana  ODS_INV_7150        NaN  9999-12-31

      is_period
17544      True
17589      True
17705      True
18608      True
19180      True
19188      True
19190      True
19191      True
19192      True
19193      True
19865      True
19867      True
20066      True
20067      True
20071      True
20075      True
20740      True
20748      True
20749      True
20762      True
21127      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
1539    roxana  2017-04-19      roxana  ODS_FIN_0980         NaN  9999-12-31
1540    roxana  2017-04-19      roxana  ODS_FIN_0730         NaN  9999-12-31
1635    roxana  2017-04-19      roxana  ODS_FIN_0730         NaN  9999-12-31
1636    roxana  2017-04-19      roxana  ODS_FIN_0810         NaN  9999-12-31
1637    roxana  2017-04-19      roxana  ODS_FIN_0830         NaN  9999-12-31
1638    roxana  2017-04-19      roxana  ODS_FIN_0730         NaN  9999-12-31
1644    roxana  2017-04-19      roxana  ODS_FIN_0830         NaN  9999-12-31
2852    roxana  2017-04-19      roxana  ODS_FIN_0460         NaN  9999-12-31
2853    roxana  2017-04-19      roxana  ODS_FIN_0460         NaN  9999-12-31
2855    roxana  2017-04-19      roxana  ODS_FIN_0430         NaN  9999-12-31
2856    roxana  2017-04-19      roxana  ODS_FIN_0450         NaN  9999-12-31
2857    roxana  2017-04-19      roxana  ODS_FIN_1130         NaN  9999-12-31
2867    roxana  2017-04-19      roxana  ODS_FIN_1130         NaN  9999-12-31
2868    roxana  2017-04-19      roxana  ODS_FIN_1140         NaN  9999-12-31
2869    roxana  2017-04-19      roxana  ODS_FIN_1060         NaN  9999-12-31
2870    roxana  2017-04-19      roxana  ODS_FIN_1140         NaN  9999-12-31
30504   roxana  2017-04-19      roxana  ODS_POS_1460  2017-04-30  2017-04-30
31440   roxana  2017-04-19      roxana  ODS_INV_7020         NaN  9999-12-31
31446   roxana  2017-04-19      roxana  ODS_FIN_0860         NaN  9999-12-31
31449   roxana  2017-04-19      roxana  ODS_INV_7020         NaN  9999-12-31
31630   roxana  2017-04-19      roxana  ODS_FIN_0460         NaN  9999-12-31

      is_period
1539       True
1540       True
1635       True
1636       True
1637       True
1638       True
1644       True
2852       True
2853       True
2855       True
2856       True
2857       True
2867       True
2868       True
2869       True
2870       True
30504      True
31440      True
31446      True
31449      True
31630      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
14     roxana  2017-02-10      roxana  ODS_POS_7150         NaN  9999-12-31
16     roxana  2017-02-10      roxana  ODS_POS_7150         NaN  9999-12-31
87     roxana  2017-02-10      roxana  ODS_POS_7150         NaN  9999-12-31
89     roxana  2017-02-10      roxana  ODS_POS_7150         NaN  9999-12-31
90     roxana  2017-02-10      roxana  ODS_POS_7150         NaN  9999-12-31
161    roxana  2017-02-10      roxana  ODS_POS_7150         NaN  9999-12-31
162    roxana  2017-02-10      roxana  ODS_POS_7150         NaN  9999-12-31
184    roxana  2017-02-10      roxana  ODS_FIN_0310         NaN  9999-12-31
229    roxana  2017-02-10      roxana  ODS_FIN_0730         NaN  9999-12-31
230    roxana  2017-02-10      roxana  ODS_FIN_1340         NaN  9999-12-31
472    roxana  2017-02-10      roxana  ODS_POS_7150         NaN  9999-12-31
548    roxana  2017-02-10      roxana  ODS_POS_7150         NaN  9999-12-31
549    roxana  2017-02-10      roxana  ODS_POS_7150         NaN  9999-12-31
5734   roxana  2017-02-10      roxana  ODS_POS_7150         NaN  9999-12-31
5768   roxana  2017-02-10      roxana  ODS_POS_7150         NaN  9999-12-31
6066   roxana  2017-02-10      roxana  ODS_POS_7150         NaN  9999-12-31
6073   roxana  2017-02-10      roxana  ODS_FIN_0270         NaN  9999-12-31
6928   roxana  2017-02-10      roxana   ODS_PA_0270  2017-01-31  2017-01-31
6935   roxana  2017-02-10      roxana  ODS_POS_7150         NaN  9999-12-31
6937   roxana  2017-02-10      roxana  ODS_FIN_0270         NaN  9999-12-31

     is_period
14        True
16        True
87        True
89        True
90        True
161       True
162       True
184       True
229       True
230       True
472       True
548       True
549       True
5734      True
5768      True
6066      True
6073      True
6928      True
6935      True
6937      True
QQ
      username  query_date report_name           doc start_date    end_date  \
11331   roxana  2017-04-12      roxana  ODS_INV_7300        NaN  9999-12-31
14406   roxana  2017-04-12      roxana  ODS_INV_7300        NaN  9999-12-31
26394   roxana  2017-04-12      roxana  ODS_INV_7290        NaN  9999-12-31
26459   roxana  2017-04-12      roxana  ODS_INV_7260        NaN  9999-12-31
26462   roxana  2017-04-12      roxana  ODS_INV_7260        NaN  9999-12-31
26600   roxana  2017-04-12      roxana  ODS_POS_7030        NaN  9999-12-31

     username  query_date report_name           doc start_date    end_date  \
6207   roxana  2017-02-09      roxana  ODS_POS_7170        NaN  9999-12-31
6311   roxana  2017-02-09      roxana  ODS_FIN_1340        NaN  9999-12-31
6320   roxana  2017-02-09      roxana  ODS_FIN_0730        NaN  9999-12-31
6324   roxana  2017-02-09      roxana  ODS_FIN_0270        NaN  9999-12-31
6344   roxana  2017-02-09      roxana  ODS_FIN_0270        NaN  9999-12-31
6346   roxana  2017-02-09      roxana  ODS_INV_7200        NaN  9999-12-31
6347   roxana  2017-02-09      roxana  ODS_FIN_0350        NaN  9999-12-31
6348   roxana  2017-02-09      roxana  ODS_POS_7150        NaN  9999-12-31
7068   roxana  2017-02-09      roxana  ODS_FIN_0270        NaN  9999-12-31

     is_period
6207      True
6311      True
6320      True
6324      True
6344      True
6346      True
6347      True
6348      True
7068      True
QQ
     username  query_date report_name           doc start_date    end_date  \
93     roxana  2017-02-08      roxana  ODS_FIN_1060        NaN  9999-12-31
570    roxana  2017-02-08      roxana  ODS_FIN_0610        NaN  9999-12-31
736    roxana  2017-02-08      roxana  ODS_FIN_0750        NaN  9999-12-31
4919   roxana  2017-02-08      roxana  ODS_FIN_1060        NaN  9999-12-31
5832   roxana  2017-02-08      roxana  ODS_FIN_0610        NaN  9999-12-31
5877   roxana  2017-02-08      roxana  ODS_FIN_0610        NaN  9999-12-31
5878   roxana  2017-02-08      roxana  ODS_FIN_0610        NaN  9999-12-31
5879   roxana  2017-02-08      roxana  ODS_FIN_0610        NaN  9999-12-31
6945   roxana  2017-02-08      roxana  ODS_INV_7210        NaN  9999-12-31

     is_period
93        True
570       True
736       True
4919      True
5832      True
5877      True
5878      True
5879      True
6945      True
QQ
      username  query_date report_name           doc start_date    end_date  \
18815   roxana  2017-03-27      roxana  ODS_FIN_1280        NaN  9999-12-31
19176   roxana  2017-03-27      roxana  ODS_FIN_1540        NaN  9999-12-31
19177   roxana  2017-03-27      roxana  ODS_FIN_0610        NaN  9999-12-31
19428   roxana  2017-03-27      roxana  ODS_FIN_0860        NaN  9999-12-31
19430   roxana  2017-03-27      roxana  ODS_FIN_0790        NaN  9999-12-31
19986   roxana  2017-03-27      roxana  ODS_FIN_0860        NaN  9999-12-31
20084   roxana  2017-03-27      roxana  ODS_FIN_0860        NaN  9999-12-31
20768   roxana  2017-03-27      roxana  ODS_FIN_1280        NaN  9999-12-31

      is_period
18815      True
19176      True
19177      True
19428      True
19430      True
19986      True
20084      True
20768      True
QQ
      username  query_date report_name           doc start_date    end_date  \
27970   roxana  2017-04-13      roxana  ODS_INV_7100        NaN  9999-12-31
27973   roxana  2017-04-13      roxana  ODS_INV_7130        NaN  9999-12-31
28431   roxana  2017-04-13      roxana  ODS_INV_7100        NaN  9999-12-31
28583   roxana  2017-04-13      roxana  ODS_INV_7250        NaN  9999-12-31
28617   roxana  2017-04-13      roxana  ODS_INV_7250        NaN  9999-12-31
28619   roxana  2017-04-13      roxana  ODS_INV_7250        NaN  9999-12-31
29261   roxana  2017-04-13      roxana  ODS_INV_7250        NaN  9999-12-31
30232   roxana  2017-04-13      roxana  ODS_INV_7100        NaN  9999-12-31

      is_period
27970      True
27973      True
28431      True
28583      True
28617      True
28619      True
29261      True
30232      True
QQ
     username  query_date report_name           doc start_date    end_date  \
7462   roxana  2017-03-06      roxana  ODS_FIN_0340        NaN  9999-12-31
7465   roxana  2017-03-06      roxana  ODS_FIN_0310        NaN  9999-12-31
7657   roxana  2017-03-06      roxana  ODS_POS_7080        NaN  9999-12-31
7662   roxana  2017-03-06      roxana  ODS_POS_7080        NaN  9999-12-31
7663   roxana  2017-03-06      roxana  ODS_POS_7080        NaN  9999-12-31
7698   roxana  2017-03-06      roxana  ODS_INV_7230        NaN  9999-12-31
7859   roxana  2017-03-06      roxana  ODS_POS_7080        NaN  9999-12-31
8073   roxana  2017-03-06      roxana  ODS_POS_7080        NaN  9999-12-31

     is_period
7462      True
7465      True
7657      True
7662      True
7663      True
7698      True
7859      True
8073      True
QQ
      username  query_date report_name           doc start_date    end_date  \
14652   roxana  2017-03-22      roxana  ODS_INV_7171        NaN  9999-12-31
14768   roxana  2017-03-22      roxana  ODS_FIN_0351        NaN  9999-12-31
17012   roxana  2017-03-22      roxana  ODS_FIN_0380        NaN  9999-12-31
17052   roxana  2017-03-22      roxana  ODS_FIN_0350        NaN  9999-12-31
17083   roxana  2017-03-22      roxana  ODS_FIN_0351        NaN  9999-12-31
17102   roxana  2017-03-22      roxana  ODS_FIN_0351        NaN  9999-12-31
17113   roxana  2017-03-22      roxana  ODS_FIN_0990        NaN  9999-12-31
17114   roxana  2017-03-22      roxana  ODS_FIN_0991        NaN  9999-12-31

      is_period
14652      True
14768      True
17012      True
17052      True
17083      True
17102      True
17113      True
17114      True
QQ
     username  query_date report_name           doc start_date    end_date  \
2627   roxana  2017-02-16      roxana  ODS_FIN_0310        NaN  9999-12-31
2628   roxana  2017-02-16      roxana  ODS_FIN_0310        NaN  9999-12-31
2629   roxana  2017-02-16      roxana  ODS_FIN_0310        NaN  9999-12-31
2630   roxana  2017-02-16      roxana  ODS_FIN_0310        NaN  9999-12-31
2631   roxana  2017-02-16      roxana  ODS_FIN_0310        NaN  9999-12-31
2642   roxana  2017-02-16      roxana  ODS_INV_7170        NaN  9999-12-31
7176   roxana  2017-02-16      roxana  ODS_FIN_0270        NaN  9999-12-31
7177   roxana  2017-02-16      roxana  ODS_FIN_0310        NaN  9999-12-31

     is_period
2627      True
2628      True
2629      True
2630      True
2631      True
2642      True
7176      True
7177      True
QQ
      username  query_date report_name           doc start_date    end_date  \
14843   roxana  2017-03-23      roxana  ODS_FIN_0380        NaN  9999-12-31
16222   roxana  2017-03-23      roxana  ODS_POS_7030        NaN  9999-12-31
16223   roxana  2017-03-23      roxana  ODS_POS_7030        NaN  9999-12-31
16553   roxana  2017-03-23      roxana  ODS_POS_7030        NaN  9999-12-31
16946   roxana  2017-03-23      roxana  ODS_FIN_0610        NaN  9999-12-31
17141   roxana  2017-03-23      roxana  ODS_INV_7020        NaN  9999-12-31
17251   roxana  2017-03-23      roxana  ODS_FIN_0610        NaN  9999-12-31

      is_period
14843      True
16222      True
16223      True
16553      True
16946      True
17141      True
17251      True
QQ
      username  query_date report_name           doc start_date    end_date  \
12605   roxana  2017-03-17      roxana  ODS_FIN_0430        NaN  9999-12-31
12609   roxana  2017-03-17      roxana  ODS_FIN_0430        NaN  9999-12-31
12610   roxana  2017-03-17      roxana  ODS_FIN_0610        NaN  9999-12-31
12624   roxana  2017-03-17      roxana  ODS_FIN_0940        NaN  9999-12-31
13132   roxana  2017-03-17      roxana  ODS_FIN_0270        NaN  9999-12-31
13133   roxana  2017-03-17      roxana  ODS_FIN_0370        NaN  9999-12-31
13134   roxana  2017-03-17      roxana  ODS_FIN_0880        NaN  9999-12-31

      is_period
12605      True
12609      True
12610      True
12624      True
13132      True
13133      True
13134      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4517   roxana  2017-03-02      roxana  ODS_FIN_0610        NaN  9999-12-31
8324   roxana  2017-03-02      roxana  ODS_FIN_0310        NaN  9999-12-31
8331   roxana  2017-03-02      roxana  ODS_FIN_0350        NaN  9999-12-31
8332   roxana  2017-03-02      roxana  ODS_FIN_1020        NaN  9999-12-31
8336   roxana  2017-03-02      roxana  ODS_FIN_1020        NaN  9999-12-31
8342   roxana  2017-03-02      roxana  ODS_FIN_0350        NaN  9999-12-31
8476   roxana  2017-03-02      roxana  ODS_FIN_1020        NaN  9999-12-31

     is_period
4517      True
8324      True
8331      True
8332      True
8336      True
8342      True
8476      True
QQ
      username  query_date report_name           doc start_date    end_date  \
12908   roxana  2017-03-16      roxana  ODS_FIN_0370        NaN  9999-12-31
12928   roxana  2017-03-16      roxana  ODS_FIN_0370        NaN  9999-12-31
12944   roxana  2017-03-16      roxana  ODS_FIN_0370        NaN  9999-12-31
12951   roxana  2017-03-16      roxana  ODS_FIN_0270        NaN  9999-12-31
12976   roxana  2017-03-16      roxana  ODS_FIN_0270        NaN  9999-12-31
13259   roxana  2017-03-16      roxana  ODS_FIN_0610        NaN  9999-12-31

      is_period
12908      True
12928      True
12944      True
12951      True
12976      True
13259      True
QQ
     username  query_date report_name           doc start_date    end_date  \
1706   roxana  2017-02-15      roxana  ODS_FIN_0610        NaN  9999-12-31
1712   roxana  2017-02-15      roxana  ODS_FIN_0610        NaN  9999-12-31
1715   roxana  2017-02-15      roxana  ODS_INV_7180        NaN  9999-12-31
5578   roxana  2017-02-15      roxana  ODS_FIN_0770        NaN  9999-12-31
7038   roxana  2017-02-15      roxana  ODS_INV_7180        NaN  9999-12-31

     is_period
1706      True
1712      True
1715      True
5578      True
7038      True
QQ
      username  query_date report_name           doc start_date    end_date  \
28798   roxana  2017-04-17      roxana  ODS_INV_7020        NaN  9999-12-31
28801   roxana  2017-04-17      roxana  ODS_INV_7200        NaN  9999-12-31
28849   roxana  2017-04-17      roxana  ODS_POS_7150        NaN  9999-12-31
29471   roxana  2017-04-17      roxana  ODS_FIN_0860        NaN  9999-12-31
29511   roxana  2017-04-17      roxana  ODS_POS_7150        NaN  9999-12-31

      is_period
28798      True
28801      True
28849      True
29471      True
29511      True
QQ
      username  query_date report_name           doc start_date    end_date  \
14832   roxana  2017-03-24      roxana  ODS_INV_7171        NaN  9999-12-31
15117   roxana  2017-03-24      roxana  ODS_INV_7171        NaN  9999-12-31
15713   roxana  2017-03-24      roxana  ODS_INV_7171        NaN  9999-12-31
16960   roxana  2017-03-24      roxana  ODS_INV_7171        NaN  9999-12-31

      is_period
14832      True
15117      True
15713      True
16960      True
QQ
     username  query_date report_name           doc start_date    end_date  \
2293   roxana  2017-02-17      roxana  ODS_INV_7170        NaN  9999-12-31
2294   roxana  2017-02-17      roxana  ODS_INV_7210        NaN  9999-12-31
2295   roxana  2017-02-17      roxana  ODS_INV_7210        NaN  9999-12-31

     is_period
2293      True
2294      True
2295      True
QQ
      username  query_date report_name           doc start_date    end_date  \
30691   roxana  2017-04-21      roxana  ODS_INV_7100        NaN  9999-12-31
31329   roxana  2017-04-21      roxana  ODS_FIN_1130        NaN  9999-12-31

      is_period
30691      True
31329      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4043   roxana  2017-02-22      roxana  ODS_POS_7150        NaN  9999-12-31
4046   roxana  2017-02-22      roxana  ODS_POS_7150        NaN  9999-12-31

     is_period
4043      True
4046      True
QQ
     username  query_date report_name           doc start_date    end_date  \
8564   roxana  2017-03-07      roxana  ODS_FIN_0310        NaN  9999-12-31
9356   roxana  2017-03-07      roxana  ODS_FIN_0310        NaN  9999-12-31

     is_period
8564      True
9356      True
QQ
     username  query_date report_name           doc start_date    end_date  \
5913   roxana  2017-03-03      roxana  ODS_FIN_1020        NaN  9999-12-31

     is_period
5913      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4781   roxana  2017-03-09      roxana  ODS_INV_7300        NaN  9999-12-31

     is_period
4781      True
QQ
     username  query_date report_name           doc start_date    end_date  \
7743   roxana  2017-03-01      roxana  ODS_FIN_0610        NaN  9999-12-31

     is_period
7743      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
23567    user2  2017-04-07       user2  ODS_POS_7150         NaN  9999-12-31
23632    user2  2017-04-07       user2  FMT_POS_0190  2017-03-31  2017-03-31
23633    user2  2017-04-07       user2  ODS_POS_0940  2017-03-31  2017-03-31
23634    user2  2017-04-07       user2  ODS_POS_0950  2017-03-31  2017-03-31
23669    user2  2017-04-07       user2  FMT_POS_0440  2017-02-27  2017-02-27
23722    user2  2017-04-07       user2  ODS_POS_0960         NaN  9999-12-31
23828    user2  2017-04-07       user2  FMT_UNB_0441         NaN  9999-12-31
25203    user2  2017-04-07       user2  FMT_POS_0190  2017-03-31  2017-03-31
25204    user2  2017-04-07       user2  FMT_POS_0190  2017-03-31  2017-03-31
25562    user2  2017-04-07       user2  FMT_UNB_0441         NaN  9999-12-31
25931    user2  2017-04-07       user2  ODS_POS_7150         NaN  9999-12-31
25934    user2  2017-04-07       user2  FMT_POS_0350  2017-01-03  2017-03-31
25935    user2  2017-04-07       user2  FMT_POS_0060  2017-01-03  2017-03-31
25936    user2  2017-04-07       user2  FMT_POS_0070  2017-01-03  2017-03-31
25937    user2  2017-04-07       user2  FMT_POS_0310  2017-01-03  2017-03-31
25938    user2  2017-04-07       user2  FMT_POS_0090  2017-01-03  2017-03-31
25939    user2  2017-04-07       user2  FMT_POS_0080  2017-01-03  2017-03-31
25940    user2  2017-04-07       user2  FMT_POS_0270  2017-01-03  2017-03-31
25941    user2  2017-04-07       user2  FMT_POS_0360  2017-01-03  2017-03-31
25942    user2  2017-04-07       user2  FMT_POS_0320  2017-01-03  2017-03-31
25943    user2  2017-04-07       user2  FMT_POS_0160  2017-01-03  2017-03-31
25944    user2  2017-04-07       user2  FMT_POS_0380  2017-01-03  2017-03-31
25945    user2  2017-04-07       user2  FMT_POS_0250  2017-01-03  2017-03-31
25946    user2  2017-04-07       user2  FMT_POS_0240  2017-01-03  2017-03-31
25947    user2  2017-04-07       user2  FMT_POS_0290  2017-01-03  2017-03-31
25948    user2  2017-04-07       user2  FMT_POS_0440  2017-01-03  2017-03-31
25949    user2  2017-04-07       user2  FMT_POS_7230  2017-01-03  2017-03-31
25950    user2  2017-04-07       user2  FMT_POS_7210  2017-01-03  2017-03-31
25951    user2  2017-04-07       user2  FMT_POS_1670  2017-01-03  2017-03-31
25952    user2  2017-04-07       user2  FMT_POS_1560  2017-01-03  2017-03-31
25953    user2  2017-04-07       user2  FMT_POS_0010  2017-01-03  2017-03-31
25954    user2  2017-04-07       user2  FMT_POS_0020  2017-01-03  2017-03-31
25955    user2  2017-04-07       user2  FMT_POS_1120  2017-01-03  2017-03-31
25956    user2  2017-04-07       user2  FMT_POS_0040  2017-01-03  2017-03-31
25957    user2  2017-04-07       user2  FMT_POS_0260  2017-01-03  2017-03-31
25958    user2  2017-04-07       user2  FMT_POS_0030  2017-01-03  2017-03-31
25959    user2  2017-04-07       user2  FMT_POS_0100  2017-01-03  2017-03-31
25960    user2  2017-04-07       user2  FMT_POS_0110  2017-01-03  2017-03-31
25961    user2  2017-04-07       user2  FMT_POS_0130  2017-01-03  2017-03-31
25962    user2  2017-04-07       user2  FMT_POS_0140  2017-01-03  2017-03-31
25963    user2  2017-04-07       user2  FMT_POS_1571  2017-01-03  2017-03-31
25964    user2  2017-04-07       user2  FMT_POS_0180  2017-01-03  2017-03-31
25965    user2  2017-04-07       user2  FMT_POS_0340  2017-01-03  2017-03-31
25966    user2  2017-04-07       user2  FMT_POS_0470  2017-01-03  2017-03-31
25967    user2  2017-04-07       user2  FMT_POS_1570  2017-01-03  2017-03-31
25968    user2  2017-04-07       user2  FMT_POS_0150  2017-01-03  2017-03-31
25969    user2  2017-04-07       user2  FMT_POS_0350  2017-01-01  2017-03-31
25971    user2  2017-04-07       user2  FMT_POS_0190  2017-03-31  2017-03-31
25972    user2  2017-04-07       user2  FMT_POS_0190  2017-03-31  2017-03-31

      is_period
23567      True
23632      True
23633      True
23634      True
23669      True
23722      True
23828      True
25203      True
25204      True
25562      True
25931      True
25934      True
25935      True
25936      True
25937      True
25938      True
25939      True
25940      True
25941      True
25942      True
25943      True
25944      True
25945      True
25946      True
25947      True
25948      True
25949      True
25950      True
25951      True
25952      True
25953      True
25954      True
25955      True
25956      True
25957      True
25958      True
25959      True
25960      True
25961      True
25962      True
25963      True
25964      True
25965      True
25966      True
25967      True
25968      True
25969      True
25971      True
25972      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
12647    user2  2017-03-16       user2  ODS_PA_0631_P  2017-01-01  2017-03-31
12674    user2  2017-03-16       user2  ODS_PA_0631_P  2016-09-01  2017-01-01
12675    user2  2017-03-16       user2  ODS_PA_0691_P  2016-10-01  2017-01-01
12929    user2  2017-03-16       user2   ODS_POS_1410  2017-02-07  2017-02-07
12947    user2  2017-03-16       user2   ODS_POS_1410  2017-02-02  2017-02-02
12952    user2  2017-03-16       user2   ODS_POS_0880  2017-02-07  2017-02-07
12956    user2  2017-03-16       user2   ODS_POS_0880  2017-02-07  2017-02-07
12959    user2  2017-03-16       user2   ODS_POS_0880  2017-02-07  2017-02-07
12961    user2  2017-03-16       user2   ODS_POS_0880  2017-02-07  2017-02-07
12964    user2  2017-03-16       user2   ODS_POS_1260  2017-02-07  2017-02-07
13048    user2  2017-03-16       user2   ODS_POS_1240  2017-01-26  2017-01-26
13049    user2  2017-03-16       user2   ODS_POS_1240  2017-01-13  2017-01-13
13194    user2  2017-03-16       user2  ODS_PA_0631_P  2017-01-01  2017-03-31
13198    user2  2017-03-16       user2   ODS_POS_1440  2017-02-07  2017-02-07
13202    user2  2017-03-16       user2   ODS_POS_7170         NaN  9999-12-31
13203    user2  2017-03-16       user2   ODS_POS_7170         NaN  9999-12-31
13204    user2  2017-03-16       user2   ODS_POS_7170         NaN  9999-12-31
13225    user2  2017-03-16       user2   ODS_POS_1250  2017-02-07  2017-02-07
13227    user2  2017-03-16       user2   ODS_POS_1250  2017-02-07  2017-02-07
13229    user2  2017-03-16       user2   ODS_POS_1250  2017-01-26  2017-01-26
13230    user2  2017-03-16       user2   ODS_POS_1250  2017-01-26  2017-01-26
13255    user2  2017-03-16       user2   ODS_POS_1250  2017-01-10  2017-01-10
13256    user2  2017-03-16       user2   ODS_POS_1250  2017-01-13  2017-01-13
13257    user2  2017-03-16       user2   ODS_POS_1250  2017-01-13  2017-01-13
13316    user2  2017-03-16       user2   ODS_POS_1260  2017-01-13  2017-01-13
13318    user2  2017-03-16       user2   ODS_POS_1260  2017-01-13  2017-01-13
13321    user2  2017-03-16       user2   ODS_POS_0960         NaN  9999-12-31
13322    user2  2017-03-16       user2   ODS_POS_0960         NaN  9999-12-31
13323    user2  2017-03-16       user2   ODS_POS_0940  2016-12-07  2016-12-07
13324    user2  2017-03-16       user2   ODS_POS_0940  2016-12-06  2016-12-06
13325    user2  2017-03-16       user2   ODS_POS_0960         NaN  9999-12-31
13326    user2  2017-03-16       user2   ODS_POS_0960         NaN  9999-12-31
13350    user2  2017-03-16       user2   ODS_POS_0930         NaN  9999-12-31
13351    user2  2017-03-16       user2   ODS_POS_0930         NaN  9999-12-31
13396    user2  2017-03-16       user2  ODS_PA_0691_P  2017-01-01  2017-03-31
13403    user2  2017-03-16       user2   ODS_POS_0880  2017-02-27  2017-02-27

      is_period
12647      True
12674      True
12675      True
12929      True
12947      True
12952      True
12956      True
12959      True
12961      True
12964      True
13048      True
13049      True
13194      True
13198      True
13202      True
13203      True
13204      True

     username  query_date report_name             doc  start_date    end_date  \
7441    user2  2017-03-06       user2    ODS_POS_1260  2017-01-13  2017-01-13
7458    user2  2017-03-06       user2    ODS_POS_1240  2017-01-13  2017-01-13
7504    user2  2017-03-06       user2    ODS_POS_1440  2017-01-13  2017-01-13
7512    user2  2017-03-06       user2    ODS_POS_1440  2017-01-13  2017-01-13
7687    user2  2017-03-06       user2    FMT_POS_0290  2017-01-01  2017-03-06
7688    user2  2017-03-06       user2    FMT_POS_0440  2017-01-01  2017-03-06
7689    user2  2017-03-06       user2    FMT_POS_7230  2017-01-01  2017-03-06
7690    user2  2017-03-06       user2    FMT_POS_7210  2017-01-01  2017-03-06
7691    user2  2017-03-06       user2    FMT_POS_1670  2017-01-01  2017-03-06
7692    user2  2017-03-06       user2    FMT_POS_0290  2017-01-01  2017-03-06
7693    user2  2017-03-06       user2    FMT_POS_0440  2017-01-01  2017-03-06
7694    user2  2017-03-06       user2    FMT_POS_7230  2017-01-01  2017-03-06
7695    user2  2017-03-06       user2    FMT_POS_7210  2017-01-01  2017-03-06
7696    user2  2017-03-06       user2    FMT_POS_1670  2017-01-01  2017-03-06
7701    user2  2017-03-06       user2    ODS_POS_1330  2017-01-13  2017-01-13
7702    user2  2017-03-06       user2    ODS_POS_0780  2017-01-13  2017-01-13
7766    user2  2017-03-06       user2  ODS_POS_1350_E         NaN  9999-12-31
7840    user2  2017-03-06       user2    ODS_POS_0780  2017-01-10  2017-01-10
7847    user2  2017-03-06       user2    ODS_POS_1250  2017-01-13  2017-01-13
8022    user2  2017-03-06       user2  ODS_POS_1350_P         NaN  9999-12-31
8074    user2  2017-03-06       user2    ODS_POS_0430         NaN  9999-12-31
8076    user2  2017-03-06       user2    FMT_CLM_0090  2016-01-01  2016-01-01
8077    user2  2017-03-06       user2    FMT_CLM_0090  2016-05-05  2016-05-05
8078    user2  2017-03-06       user2    FMT_CLM_0090  2016-05-05  2016-05-05
8079    user2  2017-03-06       user2    FMT_CLM_0090  2016-01-03  2016-01-03
8080    user2  2017-03-06       user2    FMT_CLM_0090  2016-01-13  2016-01-13
8083    user2  2017-03-06       user2    ODS_CLM_0400  2017-01-13  2017-01-13
8086    user2  2017-03-06       user2    ODS_POS_7150         NaN  9999-12-31
9053    user2  2017-03-06       user2    FMT_POS_0250  2017-03-01  2017-03-06
9054    user2  2017-03-06       user2    FMT_POS_0250  2017-01-01  2017-03-06
9439    user2  2017-03-06       user2    ODS_POS_7150         NaN  9999-12-31

     is_period
7441      True
7458      True
7504      True
7512      True
7687      True
7688      True
7689      True
7690      True
7691      True
7692      True
7693      True
7694      True
7695      True
7696      True
7701      True
7702      True
7766      True
7840      True
7847      True
8022      True
8074      True
8076      True
8077      True
8078      True
8079      True
8080      True
8083      True
8086      True
9053      True
9054      True
9439      True
QQ
      username  query_date report_name             doc  start_date  \
30459    user2  2017-04-20       user2    FMT_POS_0030  2017-05-31
30495    user2  2017-04-20       user2    FMT_UNB_0381  2017-05-31
30498    user2  2017-04-20       user2    ODS_POS_1080  2017-02-02
30499    user2  2017-04-20       user2    ODS_POS_1080  2017-02-07
31241    user2  2017-04-20       user2    ODS_POS_1260  2017-04-05
31246    user2  2017-04-20       user2    ODS_POS_1250  2017-04-05
31255    user2  2017-04-20       user2    FMT_POS_0080  2017-04-30
31257    user2  2017-04-20       user2    FMT_POS_0080  2017-04-30
31261    user2  2017-04-20       user2    ODS_POS_1320         NaN
31644    user2  2017-04-20       user2    ODS_POS_7150         NaN
31822    user2  2017-04-20       user2    ODS_POS_1320         NaN
31825    user2  2017-04-20       user2    ODS_POS_1320         NaN
31826    user2  2017-04-20       user2    ODS_POS_1320         NaN
31927    user2  2017-04-20       user2    ODS_POS_1450         NaN
31939    user2  2017-04-20       user2    ODS_POS_1080  2017-02-07
31975    user2  2017-04-20       user2    ODS_POS_1080  2017-02-27
31976    user2  2017-04-20       user2    ODS_POS_1080  2017-03-01
31977    user2  2017-04-20       user2    ODS_POS_1080  2017-03-31
31978    user2  2017-04-20       user2    ODS_POS_1410  2017-03-01
32132    user2  2017-04-20       user2  ODS_POS_1350_P         NaN
32137    user2  2017-04-20       user2  ODS_POS_1350_P         NaN
32138    user2  2017-04-20       user2  ODS_POS_1350_P         NaN
32167    user2  2017-04-20       user2    FMT_POS_0250  2017-01-01
32213    user2  2017-04-20       user2    ODS_POS_7150         NaN
32273    user2  2017-04-20       user2    ODS_POS_1250  2017-04-30
32278    user2  2017-04-20       user2    ODS_POS_1250  2017-01-13
32279    user2  2017-04-20       user2    ODS_POS_1250  2017-01-13
32280    user2  2017-04-20       user2    ODS_POS_1250  2017-04-05
32281    user2  2017-04-20       user2    ODS_POS_1250  2017-03-31

         end_date is_period
30459  2017-05-31      True
30495  2017-05-31      True
30498  2017-02-02      True
30499  2017-02-07      True
31241  2017-04-05      True
31246  2017-04-05      True
31255  2017-04-30      True
31257  2017-04-30      True
31261  9999-12-31      True
31644  9999-12-31      True
31822  9999-12-31      True
31825  9999-12-31      True
31826  9999-12-31      True
31927  9999-12-31      True
31939  2017-02-07      True
31975  2017-02-27      True
31976  2017-03-01      True
31977  2017-03-31      True
31978  2017-03-01      True
32132  9999-12-31      True
32137  9999-12-31      True
32138  9999-12-31      True
32167  2017-03-07      True
32213  9999-12-31      True
32273  2017-04-30      True
32278  2017-01-13      True
32279  2017-01-13      True
32280  2017-04-05      True
32281  2017-03-31      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
21283    user2  2017-04-05       user2  ODS_POS_1240  2017-02-27  2017-02-27
21309    user2  2017-04-05       user2  FMT_POS_0380  2017-03-20  2017-03-20
21310    user2  2017-04-05       user2  FMT_POS_0380         NaN  9999-12-31
21803    user2  2017-04-05       user2  FMT_POS_0100         NaN  9999-12-31
21919    user2  2017-04-05       user2  FMT_POS_0100         NaN  9999-12-31
22015    user2  2017-04-05       user2  ODS_POS_1010  2017-02-07  2017-02-07
22090    user2  2017-04-05       user2  FMT_POS_0100         NaN  9999-12-31
22127    user2  2017-04-05       user2  FMT_POS_0100  2017-03-31  2017-03-31
22128    user2  2017-04-05       user2  FMT_POS_0100  2017-02-15  2017-02-15
22142    user2  2017-04-05       user2  FMT_POS_0100  2017-01-15  2017-01-15
22143    user2  2017-04-05       user2  ODS_POS_0940  2017-02-07  2017-02-07
22280    user2  2017-04-05       user2  FMT_POS_0100  2017-03-15  2017-03-15
22680    user2  2017-04-05       user2  FMT_POS_0100         NaN  9999-12-31
23204    user2  2017-04-05       user2  ODS_POS_1080  2017-03-01  2017-03-01
23240    user2  2017-04-05       user2  FMT_POS_0100         NaN  9999-12-31
23261    user2  2017-04-05       user2  FMT_POS_0380  2017-03-20  2017-03-20
23861    user2  2017-04-05       user2  FMT_POS_0380         NaN  9999-12-31
24946    user2  2017-04-05       user2  FMT_POS_0100         NaN  9999-12-31
25136    user2  2017-04-05       user2  FMT_POS_0100         NaN  9999-12-31
25621    user2  2017-04-05       user2  FMT_POS_0240         NaN  9999-12-31
25671    user2  2017-04-05       user2  FMT_POS_0100         NaN  9999-12-31
25672    user2  2017-04-05       user2  FMT_POS_0100         NaN  9999-12-31

      is_period
21283      True
21309      True
21310      True
21803      True
21919      True
22015      True
22090      True
22127      True
22128      True
22142      True
22143      True
22280      True
22680      True
23204      True
23240      True
23261      True
23861      True
24946      True
25136      True
25621      True
25671      True
25672      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17736    user2  2017-03-27       user2  ODS_POS_1450         NaN  9999-12-31
18199    user2  2017-03-27       user2  ODS_POS_1450         NaN  9999-12-31
18416    user2  2017-03-27       user2  ODS_POS_7150         NaN  9999-12-31
18639    user2  2017-03-27       user2  ODS_POS_1260  2017-02-27  2017-02-27
18640    user2  2017-03-27       user2  ODS_POS_1260  2017-02-07  2017-02-07
18693    user2  2017-03-27       user2  ODS_POS_1250  2017-03-01  2017-03-01
18701    user2  2017-03-27       user2  ODS_POS_1330  2017-02-28  2017-02-28
19058    user2  2017-03-27       user2      #POLICY#  2017-01-01  2017-03-31
19987    user2  2017-03-27       user2  ODS_POS_1250  2017-03-01  2017-03-01
19988    user2  2017-03-27       user2  ODS_POS_1250  2017-03-01  2017-03-01
20025    user2  2017-03-27       user2  ODS_POS_1250  2017-03-01  2017-03-01
20028    user2  2017-03-27       user2  ODS_POS_1250  2017-03-01  2017-03-01
20501    user2  2017-03-27       user2  ODS_POS_1010  2017-02-27  2017-02-27
20588    user2  2017-03-27       user2  ODS_POS_7150         NaN  9999-12-31
20589    user2  2017-03-27       user2  ODS_POS_7150         NaN  9999-12-31
20590    user2  2017-03-27       user2  ODS_POS_7150         NaN  9999-12-31
20763    user2  2017-03-27       user2  ODS_POS_1010  2017-02-02  2017-02-02
20764    user2  2017-03-27       user2  ODS_POS_1010  2017-02-07  2017-02-07
20767    user2  2017-03-27       user2  ODS_POS_1010  2017-02-07  2017-02-07
20770    user2  2017-03-27       user2  ODS_POS_7150         NaN  9999-12-31

      is_period
17736      True
18199      True
18416      True
18639      True
18640      True
18693      True
18701      True
19058      True
19987      True
19988      True
20025      True
20028      True
20501      True
20588      True
20589      True
20590      True
20763      True
20764      True
20767      True
20770      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
5812    user2  2017-03-03       user2  FMT_POS_0350  2017-01-05  2017-01-05
5813    user2  2017-03-03       user2  FMT_POS_0350  2017-01-06  2017-01-06
5814    user2  2017-03-03       user2  FMT_POS_0350  2017-01-07  2017-01-07
5815    user2  2017-03-03       user2  FMT_POS_0350  2017-01-08  2017-01-08
5816    user2  2017-03-03       user2  FMT_POS_0350  2017-01-09  2017-01-09
5817    user2  2017-03-03       user2  FMT_POS_0350  2017-01-10  2017-01-10
5818    user2  2017-03-03       user2  FMT_POS_0350  2017-01-11  2017-01-11
5998    user2  2017-03-03       user2  ODS_POS_1240  2017-01-13  2017-01-13
5999    user2  2017-03-03       user2  ODS_POS_1240  2017-01-13  2017-01-13
6000    user2  2017-03-03       user2  ODS_POS_1240  2017-01-13  2017-01-13
6001    user2  2017-03-03       user2  ODS_POS_1240  2017-01-13  2017-01-13
7897    user2  2017-03-03       user2  FMT_POS_0350  2017-01-13  2017-01-13
7898    user2  2017-03-03       user2  FMT_POS_0350  2017-01-10  2017-01-10
7899    user2  2017-03-03       user2  FMT_POS_0350  2017-01-03  2017-01-03
7900    user2  2017-03-03       user2  FMT_POS_0350  2017-01-04  2017-01-04
7901    user2  2017-03-03       user2  FMT_POS_0350  2017-01-05  2017-01-05
7903    user2  2017-03-03       user2  FMT_POS_0350  2017-01-03  2017-01-03
7904    user2  2017-03-03       user2  FMT_POS_0350  2017-01-04  2017-01-04
7905    user2  2017-03-03       user2  FMT_POS_0350  2017-01-05  2017-01-05

     is_period
5812      True
5813      True
5814      True
5815      True
5816      True
5817      True
5818      True
5998      True
5999      True
6000      True
6001      True
7897      True
7898      True
7899      True
7900      True
7901      True
7903      True
7904      True
7905      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17588    user2  2017-03-28       user2  ODS_POS_0940  2017-02-08  2017-02-08
17591    user2  2017-03-28       user2  ODS_POS_0940  2016-11-06  2016-11-06
18330    user2  2017-03-28       user2  ODS_UNB_0450  2017-03-01  2017-03-01
18467    user2  2017-03-28       user2  FMT_UNB_0650         NaN  9999-12-31
18559    user2  2017-03-28       user2  FMT_UNB_0361         NaN  9999-12-31
19830    user2  2017-03-28       user2  FMT_UNB_0090         NaN  9999-12-31
20012    user2  2017-03-28       user2  ODS_POS_1330  2017-03-01  2017-03-01
20020    user2  2017-03-28       user2  ODS_POS_0940  2017-03-01  2017-03-01
20021    user2  2017-03-28       user2  ODS_POS_0940  2017-02-07  2017-02-07
20058    user2  2017-03-28       user2  FMT_UNB_0370         NaN  9999-12-31
20065    user2  2017-03-28       user2  ODS_UNB_0450  2017-02-27  2017-02-27
20118    user2  2017-03-28       user2  ODS_POS_0940  2017-03-01  2017-03-01
20127    user2  2017-03-28       user2  ODS_POS_0940  2017-03-31  2017-03-31
20636    user2  2017-03-28       user2  FMT_UNB_0670         NaN  9999-12-31
20737    user2  2017-03-28       user2  FMT_UNB_0670         NaN  9999-12-31
20758    user2  2017-03-28       user2  ODS_POS_0940  2017-02-27  2017-02-27
20759    user2  2017-03-28       user2  ODS_POS_0940  2017-02-28  2017-02-28
20760    user2  2017-03-28       user2  ODS_POS_0960         NaN  9999-12-31
20761    user2  2017-03-28       user2  ODS_POS_0960         NaN  9999-12-31

      is_period
17588      True
17591      True
18330      True
18467      True
18559      True
19830      True
20012      True
20020      True
20021      True
20058      True
20065      True
20118      True
20127      True
20636      True
20737      True
20758      True
20759      True
20760      True
20761      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
28795    user2  2017-04-17       user2  ODS_POS_1330  2017-04-30  2017-04-30
28805    user2  2017-04-17       user2  ODS_POS_1260  2017-04-30  2017-04-30
28847    user2  2017-04-17       user2  ODS_POS_1260  2017-04-30  2017-04-30
28848    user2  2017-04-17       user2  ODS_POS_1330  2017-04-30  2017-04-30
29081    user2  2017-04-17       user2  ODS_POS_1450         NaN  9999-12-31
29082    user2  2017-04-17       user2  FMT_POS_0100         NaN  9999-12-31
29083    user2  2017-04-17       user2  FMT_POS_0100         NaN  9999-12-31
29136    user2  2017-04-17       user2  FMT_POS_0100  2017-04-05  2017-04-05
29402    user2  2017-04-17       user2  FMT_POS_0250         NaN  9999-12-31
29407    user2  2017-04-17       user2  FMT_POS_0250  2017-04-17  2017-04-17
29447    user2  2017-04-17       user2  ODS_POS_0840         NaN  9999-12-31
29538    user2  2017-04-17       user2  FMT_POS_0100  2017-03-01  2017-03-01
29562    user2  2017-04-17       user2  FMT_POS_0100  2017-03-31  2017-03-31
29616    user2  2017-04-17       user2  FMT_POS_0100  2017-03-15  2017-03-15
29746    user2  2017-04-17       user2  FMT_POS_0250         NaN  9999-12-31
29783    user2  2017-04-17       user2  FMT_POS_0250         NaN  9999-12-31
29787    user2  2017-04-17       user2  FMT_POS_0250         NaN  9999-12-31
29789    user2  2017-04-17       user2  FMT_POS_0250  2017-05-31  2017-05-31
29994    user2  2017-04-17       user2  FMT_POS_0080  2017-04-30  2017-04-30

      is_period
28795      True
28805      True
28847      True
28848      True
29081      True
29082      True
29083      True
29136      True
29402      True
29407      True
29447      True
29538      True
29562      True
29616      True
29746      True
29783      True
29787      True
29789      True
29994      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4915    user2  2017-03-10       user2  ODS_UNB_0220  2017-01-10  2017-01-10
4986    user2  2017-03-10       user2  FMT_POS_0380  2017-01-01  2017-03-10
4988    user2  2017-03-10       user2  FMT_POS_0380  2017-01-01  2017-03-10
4990    user2  2017-03-10       user2  ODS_UNB_0221  2017-01-10  2017-01-10
5020    user2  2017-03-10       user2  ODS_UNB_0220  2017-01-10  2017-01-10
5030    user2  2017-03-10       user2  ODS_POS_1440  2017-01-26  2017-01-26
5804    user2  2017-03-10       user2  FMT_POS_0380  2017-01-15  2017-01-15
5806    user2  2017-03-10       user2  FMT_POS_0380  2017-01-13  2017-01-13
8491    user2  2017-03-10       user2  ODS_POS_1240  2017-01-26  2017-01-26
8492    user2  2017-03-10       user2  ODS_POS_1240  2017-01-13  2017-01-13
8516    user2  2017-03-10       user2  ODS_POS_0990         NaN  9999-12-31
8640    user2  2017-03-10       user2  ODS_POS_1450         NaN  9999-12-31
8645    user2  2017-03-10       user2  ODS_UNB_0680         NaN  9999-12-31
8646    user2  2017-03-10       user2  ODS_UNB_0680         NaN  9999-12-31
8647    user2  2017-03-10       user2  ODS_UNB_0680         NaN  9999-12-31
9731    user2  2017-03-10       user2      #POLICY#  2017-01-01  2017-02-02

     is_period
4915      True
4986      True
4988      True
4990      True
5020      True
5030      True
5804      True
5806      True
8491      True
8492      True
8516      True
8640      True
8645      True
8646      True
8647      True
9731      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4510    user2  2017-03-07       user2  FMT_POS_0250  2017-01-01  2017-03-07
4585    user2  2017-03-07       user2  ODS_POS_1080  2017-01-13  2017-01-13
8502    user2  2017-03-07       user2  FMT_POS_1560  2017-01-01  2017-03-07
8550    user2  2017-03-07       user2  FMT_POS_0440  2017-01-01  2017-03-07
8551    user2  2017-03-07       user2  FMT_POS_0440  2017-01-01  2017-03-07
8552    user2  2017-03-07       user2  FMT_POS_0440  2017-01-01  2017-03-07
8559    user2  2017-03-07       user2  ODS_POS_1360  2017-01-10  2017-01-10
8560    user2  2017-03-07       user2  ODS_POS_1360  2017-01-11  2017-01-11
8563    user2  2017-03-07       user2  FMT_POS_0150  2017-01-01  2017-03-07
8651    user2  2017-03-07       user2  ODS_UNB_0470         NaN  9999-12-31
9349    user2  2017-03-07       user2  ODS_POS_1360  2017-01-12  2017-01-12
9350    user2  2017-03-07       user2  ODS_POS_1360  2017-01-13  2017-01-13
9355    user2  2017-03-07       user2  FMT_POS_0250  2017-01-01  2017-03-07
9357    user2  2017-03-07       user2  FMT_POS_0020  2017-01-01  2017-03-07
9832    user2  2017-03-07       user2      #POLICY#  2017-01-01  2017-01-26

     is_period
4510      True
4585      True
8502      True
8550      True
8551      True
8552      True
8559      True
8560      True
8563      True
8651      True
9349      True
9350      True
9355      True
9357      True
9832      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
12499    user2  2017-03-18       user2  FMT_UNB_0090         NaN  9999-12-31
13456    user2  2017-03-18       user2  ODS_POS_1260  2017-02-07  2017-02-07
13459    user2  2017-03-18       user2  ODS_POS_1260  2017-02-07  2017-02-07
13460    user2  2017-03-18       user2  ODS_POS_1260  2017-02-07  2017-02-07
13506    user2  2017-03-18       user2  ODS_POS_1260  2017-02-07  2017-02-07
13519    user2  2017-03-18       user2  ODS_POS_1340  2017-02-07  2017-02-07
13552    user2  2017-03-18       user2  FMT_UNB_0091         NaN  9999-12-31
13554    user2  2017-03-18       user2  FMT_UNB_0370         NaN  9999-12-31
13556    user2  2017-03-18       user2  FMT_UNB_0120         NaN  9999-12-31
13557    user2  2017-03-18       user2  FMT_UNB_0291         NaN  9999-12-31
13559    user2  2017-03-18       user2  FMT_UNB_0090         NaN  9999-12-31
13560    user2  2017-03-18       user2  FMT_UNB_0090         NaN  9999-12-31
13561    user2  2017-03-18       user2  FMT_UNB_0090         NaN  9999-12-31
13562    user2  2017-03-18       user2  FMT_UNB_0091         NaN  9999-12-31
13563    user2  2017-03-18       user2  FMT_UNB_0091         NaN  9999-12-31

      is_period
12499      True
13456      True
13459      True
13460      True
13506      True
13519      True
13552      True
13554      True
13556      True
13557      True
13559      True
13560      True
13561      True
13562      True

      username  query_date report_name           doc  start_date    end_date  \
17628    user2  2017-03-30       user2  ODS_POS_1260  2017-03-01  2017-03-01
17741    user2  2017-03-30       user2  ODS_POS_1260  2017-03-01  2017-03-01
17753    user2  2017-03-30       user2  ODS_POS_1250  2017-03-01  2017-03-01
17845    user2  2017-03-30       user2  ODS_POS_1260  2017-03-01  2017-03-01
17847    user2  2017-03-30       user2  ODS_POS_1410  2017-03-01  2017-03-01
19727    user2  2017-03-30       user2  ODS_POS_1250  2017-03-01  2017-03-01
19998    user2  2017-03-30       user2  ODS_POS_1410  2017-03-01  2017-03-01
20001    user2  2017-03-30       user2  ODS_POS_1410  2017-03-01  2017-03-01
21124    user2  2017-03-30       user2  ODS_POS_1260  2017-03-01  2017-03-01

      is_period
17628      True
17741      True
17753      True
17845      True
17847      True
19727      True
19998      True
20001      True
21124      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
10587    user2  2017-03-13       user2  ODS_POS_1010  2017-02-02  2017-02-02
10709    user2  2017-03-13       user2  ODS_CLM_0560  2017-01-31  2017-01-31
11242    user2  2017-03-13       user2  ODS_UNB_0460  2017-02-02  2017-02-02
11243    user2  2017-03-13       user2  ODS_UNB_0460  2017-02-02  2017-02-02
11312    user2  2017-03-13       user2  FMT_POS_0250  2017-02-01  2017-03-13
11316    user2  2017-03-13       user2  FMT_POS_0250  2017-02-01  2017-03-13
11375    user2  2017-03-13       user2  FMT_POS_1120  2017-01-01  2017-03-13
11377    user2  2017-03-13       user2  FMT_POS_0250  2017-01-01  2017-03-13
11381    user2  2017-03-13       user2  ODS_POS_1010  2017-02-02  2017-02-02

      is_period
10587      True
10709      True
11242      True
11243      True
11312      True
11316      True
11375      True
11377      True
11381      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
1850    user2  2017-02-15       user2  ODS_POS_1360  2017-01-31  2017-01-31
1885    user2  2017-02-15       user2  FMT_POS_0320  2016-12-01  2017-02-15
5595    user2  2017-02-15       user2  ODS_POS_1380  2017-01-31  2017-01-31
5654    user2  2017-02-15       user2  FMT_POS_1571  2023-10-20  2023-10-20
6955    user2  2017-02-15       user2  FMT_POS_0150  2016-09-01  2017-02-28
7024    user2  2017-02-15       user2  FMT_POS_1571  2023-10-20  2023-10-20
7035    user2  2017-02-15       user2  FMT_POS_0320  2016-11-01  2017-02-15
7037    user2  2017-02-15       user2  FMT_POS_0320  2016-12-01  2017-02-15

     is_period
1850      True
1885      True
5595      True
5654      True
6955      True
7024      True
7035      True
7037      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4215    user2  2017-02-24       user2  FMT_POS_0250  2017-01-01  2017-02-24
4216    user2  2017-02-24       user2  FMT_POS_0240  2017-01-01  2017-02-24
4219    user2  2017-02-24       user2  FMT_POS_0240  2017-01-01  2017-02-24
4221    user2  2017-02-24       user2  FMT_POS_0240  2017-01-01  2017-02-24
4222    user2  2017-02-24       user2  FMT_POS_0250  2017-01-01  2017-02-24
4358    user2  2017-02-24       user2  FMT_POS_0250  2017-01-01  2017-02-24
4359    user2  2017-02-24       user2  FMT_POS_0250  2017-01-01  2017-02-24
4371    user2  2017-02-24       user2  FMT_POS_0240  2017-01-01  2017-02-24

     is_period
4215      True
4216      True
4219      True
4221      True
4222      True
4358      True
4359      True
4371      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
28853    user2  2017-04-18       user2  ODS_POS_7150         NaN  9999-12-31
30409    user2  2017-04-18       user2  ODS_POS_1340  2017-03-01  2017-03-01
30443    user2  2017-04-18       user2  ODS_POS_1340  2017-02-28  2017-02-28
30610    user2  2017-04-18       user2  ODS_POS_1330  2017-03-01  2017-03-01
30946    user2  2017-04-18       user2  ODS_POS_1330  2017-03-01  2017-03-01
30970    user2  2017-04-18       user2  ODS_POS_7170  2017-03-31  2017-03-31
31079    user2  2017-04-18       user2  ODS_POS_7170  2017-04-30  2017-04-30
31217    user2  2017-04-18       user2  ODS_POS_1010  2017-04-30  2017-04-30

      is_period
28853      True
30409      True
30443      True
30610      True
30946      True
30970      True
31079      True
31217      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14965    user2  2017-03-21       user2  FMT_POS_0020  2017-01-01  2017-03-21
17178    user2  2017-03-21       user2  FMT_POS_1120  2017-02-27  2017-02-28
17179    user2  2017-03-21       user2  FMT_POS_1120  2017-02-27  2017-02-28
17180    user2  2017-03-21       user2  FMT_POS_0020  2017-02-27  2017-02-28
17181    user2  2017-03-21       user2  FMT_POS_0010  2017-02-27  2017-03-21
17183    user2  2017-03-21       user2  FMT_POS_1120  2017-02-27  2017-03-21
17188    user2  2017-03-21       user2  FMT_POS_1120  2017-02-02  2017-03-21
17223    user2  2017-03-21       user2  FMT_POS_1120  2017-02-02  2017-03-21

      is_period
14965      True
17178      True
17179      True
17180      True
17181      True
17183      True
17188      True
17223      True
QQ
      username  query_date report_name           doc start_date    end_date  \
26365    user2  2017-04-11       user2  FMT_UNB_0370        NaN  9999-12-31
26366    user2  2017-04-11       user2  FMT_UNB_0291        NaN  9999-12-31
26367    user2  2017-04-11       user2  FMT_UNB_0120        NaN  9999-12-31
27042    user2  2017-04-11       user2  ODS_POS_0840        NaN  9999-12-31
27111    user2  2017-04-11       user2  ODS_POS_0840        NaN  9999-12-31
27437    user2  2017-04-11       user2  FMT_UNB_0091        NaN  9999-12-31
27440    user2  2017-04-11       user2  FMT_UNB_0091        NaN  9999-12-31
27551    user2  2017-04-11       user2  FMT_UNB_0091        NaN  9999-12-31

      is_period
26365      True
26366      True
26367      True
27042      True
27111      True
27437      True
27440      True
27551      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17549    user2  2017-03-31       user2  FMT_UNB_0370         NaN  9999-12-31
17788    user2  2017-03-31       user2  FMT_UNB_0090         NaN  9999-12-31
17789    user2  2017-03-31       user2  FMT_UNB_0090         NaN  9999-12-31
17964    user2  2017-03-31       user2  FMT_UNB_0090         NaN  9999-12-31
17965    user2  2017-03-31       user2  FMT_UNB_0091         NaN  9999-12-31
17966    user2  2017-03-31       user2  FMT_UNB_0091         NaN  9999-12-31
20773    user2  2017-03-31       user2  ODS_POS_1340  2017-03-01  2017-03-01

      is_period
17549      True
17788      True
17789      True
17964      True
17965      True
17966      True
20773      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
1224    user2  2017-02-14       user2  FMT_POS_0250  2016-01-01  2018-01-31
1226    user2  2017-02-14       user2  FMT_POS_0250  2015-09-01  2018-02-28
1260    user2  2017-02-14       user2  FMT_POS_0090  2015-09-01  2017-03-31
1265    user2  2017-02-14       user2  FMT_POS_1570  2017-01-01  2017-02-14
6859    user2  2017-02-14       user2  FMT_POS_0250  2016-01-01  2019-02-28
6862    user2  2017-02-14       user2  FMT_POS_0250  2015-09-01  2018-02-28
6942    user2  2017-02-14       user2  FMT_POS_7210  2017-01-03  2017-02-03

     is_period
1224      True
1226      True
1260      True
1265      True
6859      True
6862      True
6942      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
2196    user2  2017-02-16       user2  ODS_POS_1360  2016-01-01  2016-01-01
2197    user2  2017-02-16       user2  ODS_POS_1360  2016-02-01  2016-02-01
2198    user2  2017-02-16       user2  ODS_POS_1360  2016-03-01  2016-03-01
2200    user2  2017-02-16       user2  ODS_POS_1360  2016-10-06  2016-10-06
2205    user2  2017-02-16       user2  ODS_POS_1360  2016-10-10  2016-10-10
2238    user2  2017-02-16       user2  FMT_POS_0150  2016-10-01  2017-02-16
2640    user2  2017-02-16       user2  ODS_POS_1320         NaN  9999-12-31

     is_period
2196      True
2197      True
2198      True
2200      True
2205      True
2238      True
2640      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
1558     user2  2017-04-19       user2  ODS_POS_1330  2017-04-05  2017-04-05
1594     user2  2017-04-19       user2  ODS_POS_1330  2017-03-31  2017-03-31
2786     user2  2017-04-19       user2  FMT_POS_0190  2017-05-31  2017-05-31
2854     user2  2017-04-19       user2  FMT_UNB_0372         NaN  9999-12-31
2871     user2  2017-04-19       user2  FMT_UNB_0090         NaN  9999-12-31
2878     user2  2017-04-19       user2  FMT_POS_0190         NaN  9999-12-31
31441    user2  2017-04-19       user2  ODS_POS_1330  2017-04-30  2017-04-30

      is_period
1558       True
1594       True
2786       True
2854       True
2871       True
2878       True
31441      True
QQ
      username  query_date report_name           doc start_date    end_date  \
26675    user2  2017-04-12       user2  FMT_UNB_0310        NaN  9999-12-31
26676    user2  2017-04-12       user2  FMT_UNB_0650        NaN  9999-12-31
26717    user2  2017-04-12       user2  FMT_UNB_0781        NaN  9999-12-31
26733    user2  2017-04-12       user2  FMT_UNB_0310        NaN  9999-12-31
26736    user2  2017-04-12       user2  FMT_UNB_0310        NaN  9999-12-31
26771    user2  2017-04-12       user2  FMT_UNB_0650        NaN  9999-12-31

      is_period
26675      True
26676      True
26717      True
26733      True
26736      True
26771      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
3807    user2  2017-02-20       user2  FMT_POS_0250  2016-12-01  2017-02-20
6185    user2  2017-02-20       user2  FMT_POS_0250  2016-12-01  2017-02-20
6576    user2  2017-02-20       user2  FMT_POS_0250  2017-02-20  2017-01-01
6588    user2  2017-02-20       user2  FMT_POS_0250  2017-01-01  2017-02-20
6668    user2  2017-02-20       user2  FMT_POS_0250  2016-12-01  2017-02-20

     is_period
3807      True
6185      True
6576      True
6588      True
6668      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
8193    user2  2017-03-04       user2  ODS_POS_1290  2017-01-10  2017-01-10
8197    user2  2017-03-04       user2  ODS_POS_1260  2017-01-10  2017-01-10
8198    user2  2017-03-04       user2  ODS_POS_1260  2017-01-03  2017-01-03
8205    user2  2017-03-04       user2  ODS_POS_1260  2017-01-10  2017-01-10

     is_period
8193      True
8197      True
8198      True
8205      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14198    user2  2017-03-20       user2  ODS_POS_0880  2017-02-27  2017-02-27
14348    user2  2017-03-20       user2  ODS_POS_0950  2017-02-07  2017-02-07
14351    user2  2017-03-20       user2  ODS_POS_7150         NaN  9999-12-31
14352    user2  2017-03-20       user2  ODS_POS_0880  2017-02-27  2017-02-27

      is_period
14198      True
14348      True
14351      True
14352      True
QQ

     username  query_date report_name           doc  start_date    end_date  \
6854    user2  2017-02-13       user2  FMT_POS_0240  2016-12-01  2017-02-28
6877    user2  2017-02-13       user2  FMT_POS_0240  2016-12-01  2017-02-28
6878    user2  2017-02-13       user2  FMT_POS_0240  0105-01-02  2017-02-28
6978    user2  2017-02-13       user2  ODS_POS_1290  2017-01-31  2017-01-31

     is_period
6854      True
6877      True
6878      True
6978      True
QQ
      username  query_date report_name           doc start_date    end_date  \
15075    user2  2017-03-25       user2  FMT_POS_0250        NaN  9999-12-31
15076    user2  2017-03-25       user2  FMT_POS_0250        NaN  9999-12-31
17476    user2  2017-03-25       user2  FMT_POS_0250        NaN  9999-12-31
17477    user2  2017-03-25       user2  FMT_POS_0250        NaN  9999-12-31

      is_period
15075      True
15076      True
17476      True
17477      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
15136    user2  2017-03-24       user2  ODS_POS_1330  2017-02-27  2017-02-27
17163    user2  2017-03-24       user2  ODS_POS_1340  2017-02-07  2017-02-07
17456    user2  2017-03-24       user2  ODS_POS_1340  2017-02-27  2017-02-27

      is_period
15136      True
17163      True
17456      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
3710    user2  2017-02-21       user2  ODS_POS_1440  2017-01-10  2017-01-10
3931    user2  2017-02-21       user2      #POLICY#  2017-01-01  2017-01-10
4014    user2  2017-02-21       user2  ODS_POS_1450         NaN  9999-12-31

     is_period
3710      True
3931      True
4014      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
5775    user2  2017-03-09       user2  FMT_POS_0160  2017-02-02  2017-02-02
5776    user2  2017-03-09       user2  FMT_POS_0160  2017-01-26  2017-01-26

     is_period
5775      True
5776      True
QQ
      username  query_date report_name       doc  start_date    end_date  \
28965    user2  2017-04-14       user2  #POLICY#  2017-01-01  2017-05-01
28966    user2  2017-04-14       user2  #POLICY#  2017-01-01  2017-05-01

      is_period
28965      True
28966      True
QQ
     username  query_date report_name           doc start_date    end_date  \
5660    user2  2017-02-10       user2  ODS_FIN_0610        NaN  9999-12-31
5696    user2  2017-02-10       user2  ODS_FIN_0980        NaN  9999-12-31

     is_period
5660      True
5696      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
6280    user2  2017-02-09       user2  ODS_PA_0631_P  2016-12-30  2016-12-30

     is_period
6280      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
12097    user2  2017-03-15       user2  ODS_POS_1010  2017-02-07  2017-02-07

      is_period
12097      True
QQ
      username  query_date report_name           doc start_date    end_date  \
28331    user2  2017-04-13       user2  FMT_UNB_0370        NaN  9999-12-31

      is_period
28331      True
QQ
      username  query_date report_name           doc start_date    end_date  \
26989    user2  2017-04-10       user2  FMT_POS_0140        NaN  9999-12-31

      is_period
26989      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
7668     CSIS  2017-03-06        CSIS  FMT_POS_0360  2015-03-11  2016-12-01
8071     CSIS  2017-03-06        CSIS  FMT_POS_0360  2015-03-11  2016-12-01
8659     CSIS  2017-03-06        CSIS  FMT_POS_0070  2016-08-07  2016-08-16
8660     CSIS  2017-03-06        CSIS  FMT_POS_0080  2016-08-07  2016-08-16
8661     CSIS  2017-03-06        CSIS  FMT_POS_0090  2016-08-07  2016-08-16
8662     CSIS  2017-03-06        CSIS  FMT_POS_0060  2016-08-07  2016-08-16
8663     CSIS  2017-03-06        CSIS  FMT_POS_0310  2016-08-07  2016-08-16
8664     CSIS  2017-03-06        CSIS  FMT_POS_0100  2016-08-07  2016-08-16
8665     CSIS  2017-03-06        CSIS  FMT_POS_0110  2016-08-07  2016-08-16
8666     CSIS  2017-03-06        CSIS  FMT_POS_0340  2016-08-07  2016-08-16
8667     CSIS  2017-03-06        CSIS  FMT_POS_0130  2016-08-07  2016-08-16
8668     CSIS  2017-03-06        CSIS  FMT_POS_0470  2016-08-07  2016-08-16
8669     CSIS  2017-03-06        CSIS  FMT_POS_0150  2016-08-07  2016-08-16
8670     CSIS  2017-03-06        CSIS  FMT_POS_0360  2016-08-07  2016-08-16
8671     CSIS  2017-03-06        CSIS  FMT_POS_0180  2016-08-07  2016-08-16
8672     CSIS  2017-03-06        CSIS  FMT_POS_0270  2016-08-07  2016-08-16
8673     CSIS  2017-03-06        CSIS  FMT_POS_0290  2016-08-07  2016-08-16
8674     CSIS  2017-03-06        CSIS  FMT_POS_0320  2016-08-07  2016-08-16
8675     CSIS  2017-03-06        CSIS  FMT_POS_1570  2016-08-07  2016-08-16
8676     CSIS  2017-03-06        CSIS  FMT_POS_7210  2016-08-07  2016-08-16
8677     CSIS  2017-03-06        CSIS  FMT_POS_7220  2016-08-07  2016-08-16
8678     CSIS  2017-03-06        CSIS  FMT_POS_7230  2016-08-07  2016-08-16
8681     CSIS  2017-03-06        CSIS         null{  2016-08-07  2016-08-16
8683     CSIS  2017-03-06        CSIS  FMT_POS_0070  2016-08-07  2016-08-16
8684     CSIS  2017-03-06        CSIS  FMT_POS_0080  2016-08-07  2016-08-16
8685     CSIS  2017-03-06        CSIS  FMT_POS_0090  2016-08-07  2016-08-16
8686     CSIS  2017-03-06        CSIS  FMT_POS_0060  2016-08-07  2016-08-16
8687     CSIS  2017-03-06        CSIS  FMT_POS_0310  2016-08-07  2016-08-16
8688     CSIS  2017-03-06        CSIS  FMT_POS_0100  2016-08-07  2016-08-16
8689     CSIS  2017-03-06        CSIS  FMT_POS_0110  2016-08-07  2016-08-16
...       ...         ...         ...           ...         ...         ...
9574     CSIS  2017-03-06        CSIS  FMT_POS_0060  2016-08-07  2016-08-16
9575     CSIS  2017-03-06        CSIS  FMT_POS_0310  2016-08-07  2016-08-16
9576     CSIS  2017-03-06        CSIS  FMT_POS_0100  2016-08-07  2016-08-16
9577     CSIS  2017-03-06        CSIS  FMT_POS_0110  2016-08-07  2016-08-16
9578     CSIS  2017-03-06        CSIS  FMT_POS_0340  2016-08-07  2016-08-16
9579     CSIS  2017-03-06        CSIS  FMT_POS_0130  2016-08-07  2016-08-16
9580     CSIS  2017-03-06        CSIS  FMT_POS_0470  2016-08-07  2016-08-16
9581     CSIS  2017-03-06        CSIS  FMT_POS_0150  2016-08-07  2016-08-16
9582     CSIS  2017-03-06        CSIS  FMT_POS_0360  2016-08-07  2016-08-16
9583     CSIS  2017-03-06        CSIS  FMT_POS_0180  2016-08-07  2016-08-16
9584     CSIS  2017-03-06        CSIS  FMT_POS_0270  2016-08-07  2016-08-16
9585     CSIS  2017-03-06        CSIS  FMT_POS_0290  2016-08-07  2016-08-16
9586     CSIS  2017-03-06        CSIS  FMT_POS_0320  2016-08-07  2016-08-16
9587     CSIS  2017-03-06        CSIS  FMT_POS_1570  2016-08-07  2016-08-16
9588     CSIS  2017-03-06        CSIS  FMT_POS_7210  2016-08-07  2016-08-16
9589     CSIS  2017-03-06        CSIS  FMT_POS_7220  2016-08-07  2016-08-16
9590     CSIS  2017-03-06        CSIS  FMT_POS_7230  2016-08-07  2016-08-16
9591     CSIS  2017-03-06        CSIS  ODS_POS_1670  2016-08-07  2016-08-16
9592     CSIS  2017-03-06        CSIS  ODS_POS_7160  2016-08-07  2016-08-16
9593     CSIS  2017-03-06        CSIS   FMT_PA_0850  2016-08-07  2016-08-16
9594     CSIS  2017-03-06        CSIS   FMT_PA_0851  2016-08-07  2016-08-16
9595     CSIS  2017-03-06        CSIS   FMT_PA_0852  2016-08-07  2016-08-16
9596     CSIS  2017-03-06        CSIS   FMT_PA_0853  2016-08-07  2016-08-16
9597     CSIS  2017-03-06        CSIS   FMT_PA_0854  2016-08-07  2016-08-16
9598     CSIS  2017-03-06        CSIS   FMT_PA_0855  2016-08-07  2016-08-16
9599     CSIS  2017-03-06        CSIS   FMT_PA_0930  2016-08-07  2016-08-16
9600     CSIS  2017-03-06        CSIS   FMT_PA_0750  2016-08-07  2016-08-16
9601     CSIS  2017-03-06        CSIS   FMT_PA_0780  2016-08-07  2016-08-16
9602     CSIS  2017-03-06        CSIS   FMT_PA_0790  2016-08-07  2016-08-16
9603     CSIS  2017-03-06        CSIS   FMT_PA_0710  2016-08-07  2016-08-16

     is_period
7668      True
8071      True
8659      True
8660      True
8661      True
8662      True
8663      True
8664      True
8665      True
8666      True
8667      True
8668      True
8669      True
8670      True
8671      True
8672      True
8673      True
8674      True
8675      True
8676      True
8677      True
8678      True
8681      True
8683      True
8684      True
8685      True
8686      True
8687      True
8688      True
8689      True
...        ...
9574      True
9575      True
9576      True
9577      True
9578      True
9579      True
9580      True
9581      True
9582      True
9583      True
9584      True
9585      True
9586      True
9587      True
9588      True
9589      True
9590      True
9591      True
9592      True
9593      True
9594      True
9595      True
9596      True
9597      True
9598      True
9599      True
9600      True
9601      True
9602      True
9603      True

[322 rows x 7 columns]
QQ
     username  query_date report_name           doc  start_date    end_date  \
8043     CSIS  2017-03-07        CSIS  ODS_POS_1670  2016-08-07  2016-08-16
8483     CSIS  2017-03-07        CSIS  ODS_POS_1670  2016-08-07  2016-08-16
8484     CSIS  2017-03-07        CSIS  FMT_POS_0360  2016-08-07  2016-08-16
8485     CSIS  2017-03-07        CSIS  FMT_POS_0360  2016-08-07  2016-08-16
9113     CSIS  2017-03-07        CSIS   FMT_PA_0850  2016-08-07  2016-08-16
9114     CSIS  2017-03-07        CSIS   FMT_PA_0851  2016-08-07  2016-08-16
9115     CSIS  2017-03-07        CSIS   FMT_PA_0852  2016-08-07  2016-08-16
9116     CSIS  2017-03-07        CSIS   FMT_PA_0853  2016-08-07  2016-08-16
9117     CSIS  2017-03-07        CSIS   FMT_PA_0854  2016-08-07  2016-08-16
9118     CSIS  2017-03-07        CSIS   FMT_PA_0855  2016-08-07  2016-08-16
9119     CSIS  2017-03-07        CSIS   FMT_PA_0930  2016-08-07  2016-08-16
9120     CSIS  2017-03-07        CSIS   FMT_PA_0750  2016-08-07  2016-08-16
9121     CSIS  2017-03-07        CSIS   FMT_PA_0780  2016-08-07  2016-08-16
9122     CSIS  2017-03-07        CSIS   FMT_PA_0790  2016-08-07  2016-08-16
9123     CSIS  2017-03-07        CSIS   FMT_PA_0710  2016-08-07  2016-08-16
9139     CSIS  2017-03-07        CSIS   FMT_PA_0851  2016-08-07  2016-08-16
9140     CSIS  2017-03-07        CSIS   FMT_PA_0852  2016-08-07  2016-08-16
9141     CSIS  2017-03-07        CSIS   FMT_PA_0853  2016-08-07  2016-08-16
9142     CSIS  2017-03-07        CSIS   FMT_PA_0854  2016-08-07  2016-08-16
9143     CSIS  2017-03-07        CSIS   FMT_PA_0855  2016-08-07  2016-08-16
9144     CSIS  2017-03-07        CSIS   FMT_PA_0930  2016-08-07  2016-08-16
9145     CSIS  2017-03-07        CSIS   FMT_PA_0750  2016-08-07  2016-08-16
9146     CSIS  2017-03-07        CSIS   FMT_PA_0780  2016-08-07  2016-08-16
9147     CSIS  2017-03-07        CSIS   FMT_PA_0790  2016-08-07  2016-08-16
9148     CSIS  2017-03-07        CSIS   FMT_PA_0710  2016-08-07  2016-08-16
9161     CSIS  2017-03-07        CSIS   FMT_PA_0852  2016-08-07  2016-08-16
9162     CSIS  2017-03-07        CSIS   FMT_PA_0853  2016-08-07  2016-08-16
9163     CSIS  2017-03-07        CSIS   FMT_PA_0854  2016-08-07  2016-08-16
9164     CSIS  2017-03-07        CSIS   FMT_PA_0855  2016-08-07  2016-08-16
9165     CSIS  2017-03-07        CSIS   FMT_PA_0930  2016-08-07  2016-08-16
...       ...         ...         ...           ...         ...         ...
9499     CSIS  2017-03-07        CSIS  FMT_POS_0320  2016-08-07  2016-08-16
9500     CSIS  2017-03-07        CSIS  FMT_POS_1570  2016-08-07  2016-08-16
9501     CSIS  2017-03-07        CSIS  FMT_POS_7210  2016-08-07  2016-08-16
9502     CSIS  2017-03-07        CSIS  FMT_POS_7220  2016-08-07  2016-08-16
9503     CSIS  2017-03-07        CSIS  FMT_POS_7230  2016-08-07  2016-08-16
9504     CSIS  2017-03-07        CSIS  ODS_POS_1670  2016-08-07  2016-08-16
9505     CSIS  2017-03-07        CSIS  ODS_POS_7160  2016-08-07  2016-08-16
9506     CSIS  2017-03-07        CSIS   FMT_PA_0850  2016-08-07  2016-08-16
9507     CSIS  2017-03-07        CSIS   FMT_PA_0851  2016-08-07  2016-08-16
9508     CSIS  2017-03-07        CSIS   FMT_PA_0852  2016-08-07  2016-08-16
9509     CSIS  2017-03-07        CSIS   FMT_PA_0853  2016-08-07  2016-08-16
9510     CSIS  2017-03-07        CSIS   FMT_PA_0854  2016-08-07  2016-08-16
9511     CSIS  2017-03-07        CSIS   FMT_PA_0855  2016-08-07  2016-08-16
9512     CSIS  2017-03-07        CSIS   FMT_PA_0930  2016-08-07  2016-08-16
9513     CSIS  2017-03-07        CSIS   FMT_PA_0750  2016-08-07  2016-08-16
9514     CSIS  2017-03-07        CSIS   FMT_PA_0780  2016-08-07  2016-08-16
9515     CSIS  2017-03-07        CSIS   FMT_PA_0790  2016-08-07  2016-08-16
9516     CSIS  2017-03-07        CSIS   FMT_PA_0710  2016-08-07  2016-08-16
9517     CSIS  2017-03-07        CSIS  ODS_POS_7160  2016-08-07  2016-08-16
9518     CSIS  2017-03-07        CSIS   FMT_PA_0850  2016-08-07  2016-08-16
9519     CSIS  2017-03-07        CSIS   FMT_PA_0851  2016-08-07  2016-08-16
9520     CSIS  2017-03-07        CSIS   FMT_PA_0852  2016-08-07  2016-08-16
9521     CSIS  2017-03-07        CSIS   FMT_PA_0853  2016-08-07  2016-08-16
9522     CSIS  2017-03-07        CSIS   FMT_PA_0854  2016-08-07  2016-08-16
9523     CSIS  2017-03-07        CSIS   FMT_PA_0855  2016-08-07  2016-08-16
9524     CSIS  2017-03-07        CSIS   FMT_PA_0930  2016-08-07  2016-08-16
9525     CSIS  2017-03-07        CSIS   FMT_PA_0750  2016-08-07  2016-08-16
9526     CSIS  2017-03-07        CSIS   FMT_PA_0780  2016-08-07  2016-08-16
9527     CSIS  2017-03-07        CSIS   FMT_PA_0790  2016-08-07  2016-08-16
9528     CSIS  2017-03-07        CSIS   FMT_PA_0710  2016-08-07  2016-08-16

     is_period
8043      True
8483      True
8484      True
8485      True
9113      True
9114      True
9115      True
9116      True
9117      True
9118      True
9119      True
9120      True
9121      True
9122      True
9123      True
9139      True
9140      True
9141      True
9142      True
9143      True
9144      True
9145      True
9146      True
9147      True
9148      True
9161      True
9162      True
9163      True
9164      True
9165      True
...        ...
9499      True
9500      True
9501      True
9502      True
9503      True
9504      True
9505      True
9506      True
9507      True
9508      True
9509      True
9510      True
9511      True
9512      True
9513      True
9514      True
9515      True
9516      True
9517      True
9518      True
9519      True
9520      True
9521      True
9522      True
9523      True
9524      True
9525      True
9526      True
9527      True
9528      True

[117 rows x 7 columns]
QQ
      username  query_date report_name           doc  start_date    end_date  \
28472     CSIS  2017-04-14        CSIS  FMT_POS_0070  2016-08-07  2016-08-16
28473     CSIS  2017-04-14        CSIS  FMT_POS_0080  2016-08-07  2016-08-16
28474     CSIS  2017-04-14        CSIS  FMT_POS_0090  2016-08-07  2016-08-16
28475     CSIS  2017-04-14        CSIS  FMT_POS_0060  2016-08-07  2016-08-16
28476     CSIS  2017-04-14        CSIS  FMT_POS_0310  2016-08-07  2016-08-16
28477     CSIS  2017-04-14        CSIS  FMT_POS_0100  2016-08-07  2016-08-16
28478     CSIS  2017-04-14        CSIS  FMT_POS_0110  2016-08-07  2016-08-16
28479     CSIS  2017-04-14        CSIS  FMT_POS_0340  2016-08-07  2016-08-16
28480     CSIS  2017-04-14        CSIS  FMT_POS_0130  2016-08-07  2016-08-16
28481     CSIS  2017-04-14        CSIS  FMT_POS_0470  2016-08-07  2016-08-16
28482     CSIS  2017-04-14        CSIS  FMT_POS_0150  2016-08-07  2016-08-16
28483     CSIS  2017-04-14        CSIS  FMT_POS_0360  2016-08-07  2016-08-16
28484     CSIS  2017-04-14        CSIS  FMT_POS_0180  2016-08-07  2016-08-16
28485     CSIS  2017-04-14        CSIS  FMT_POS_0270  2016-08-07  2016-08-16
28486     CSIS  2017-04-14        CSIS  FMT_POS_0290  2016-08-07  2016-08-16
28487     CSIS  2017-04-14        CSIS  FMT_POS_0320  2016-08-07  2016-08-16
28488     CSIS  2017-04-14        CSIS  FMT_POS_1570  2016-08-07  2016-08-16
28489     CSIS  2017-04-14        CSIS  FMT_POS_7210  2016-08-07  2016-08-16
28490     CSIS  2017-04-14        CSIS  FMT_POS_7220  2016-08-07  2016-08-16
28491     CSIS  2017-04-14        CSIS  FMT_POS_7230  2016-08-07  2016-08-16
28492     CSIS  2017-04-14        CSIS  ODS_POS_1670  2016-08-07  2016-08-16
28493     CSIS  2017-04-14        CSIS  ODS_POS_7160  2016-08-07  2016-08-16
28494     CSIS  2017-04-14        CSIS   FMT_PA_0850  2016-08-07  2016-08-16
28495     CSIS  2017-04-14        CSIS   FMT_PA_0851  2016-08-07  2016-08-16
28496     CSIS  2017-04-14        CSIS   FMT_PA_0852  2016-08-07  2016-08-16
28497     CSIS  2017-04-14        CSIS   FMT_PA_0853  2016-08-07  2016-08-16
28498     CSIS  2017-04-14        CSIS   FMT_PA_0854  2016-08-07  2016-08-16
28499     CSIS  2017-04-14        CSIS   FMT_PA_0855  2016-08-07  2016-08-16
28500     CSIS  2017-04-14        CSIS   FMT_PA_0930  2016-08-07  2016-08-16
28501     CSIS  2017-04-14        CSIS   FMT_PA_0750  2016-08-07  2016-08-16
28502     CSIS  2017-04-14        CSIS   FMT_PA_0780  2016-08-07  2016-08-16
28503     CSIS  2017-04-14        CSIS   FMT_PA_0790  2016-08-07  2016-08-16
28504     CSIS  2017-04-14        CSIS   FMT_PA_0710  2016-08-07  2016-08-16

      is_period
28472      True
28473      True
28474      True
28475      True
28476      True
28477      True
28478      True
28479      True
28480      True
28481      True
28482      True
28483      True
28484      True
28485      True
28486      True
28487      True
28488      True
28489      True
28490      True
28491      True
28492      True
28493      True
28494      True
28495      True
28496      True
28497      True
28498      True
28499      True
28500      True
28501      True
28502      True
28503      True
28504      True
QQ

     username  query_date report_name           doc  start_date    end_date  \
7588     CSIS  2017-03-03        CSIS  FMT_POS_0360  2015-03-11  2016-12-01
7591     CSIS  2017-03-03        CSIS  FMT_POS_0360  2015-03-11  2016-12-01
7598     CSIS  2017-03-03        CSIS  FMT_POS_0360  2015-03-11  2016-12-01
7599     CSIS  2017-03-03        CSIS  FMT_POS_0360  2015-03-11  2016-12-01
7604     CSIS  2017-03-03        CSIS  FMT_POS_0360  2015-03-11  2016-12-01

     is_period
7588      True
7591      True
7598      True
7599      True
7604      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
3752     CSIS  2017-02-21        CSIS  FMT_POS_0470  2016-07-01  2017-08-31
4015     CSIS  2017-02-21        CSIS  FMT_POS_0470  2017-02-17  2017-02-18
4016     CSIS  2017-02-21        CSIS  FMT_POS_0470  2016-07-01  2017-08-31

     is_period
3752      True
4015      True
4016      True
QQ
      username  query_date report_name           doc start_date    end_date  \
28616     CSIS  2017-04-13        CSIS  FMT_POS_0060        NaN  2017-04-13
28618     CSIS  2017-04-13        CSIS  FMT_POS_0060        NaN  2017-04-13

      is_period
28616      True
28618      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
21141     CSIS  2017-04-01        CSIS  FMT_POS_0360  2016-08-07  2016-08-16
21142     CSIS  2017-04-01        CSIS  FMT_CLM_0010  2016-07-15  2016-09-17

      is_period
21141      True
21142      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
2891     CSIS  2017-02-18        CSIS  FMT_CLM_0010  2016-12-15  2016-12-16
2895     CSIS  2017-02-18        CSIS  FMT_CLM_0010  2016-12-15  2016-12-16

     is_period
2891      True
2895      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
6867     CSIS  2017-02-14        CSIS  FMT_POS_0190  2016-08-07  2016-08-16
6868     CSIS  2017-02-14        CSIS  FMT_POS_0060  2016-08-07  2016-08-16

     is_period
6867      True
6868      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
1607     CSIS  2017-04-19        CSIS  FMT_POS_0290  2016-08-07  2017-08-16

     is_period
1607      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
18279   user18  2017-03-27      user18  ODS_POS_1460  2017-03-01  2017-03-01
18731   user18  2017-03-27      user18  FMT_POS_0170  2017-03-01  2017-03-31
18732   user18  2017-03-27      user18  FMT_POS_1540  2017-03-01  2017-03-31
18733   user18  2017-03-27      user18  FMT_POS_0370  2017-03-01  2017-03-31
18734   user18  2017-03-27      user18      #POLICY#  2017-03-01  2017-03-31
18735   user18  2017-03-27      user18  FMT_POS_0060  2017-03-01  2017-03-31
18736   user18  2017-03-27      user18  FMT_POS_0070  2017-03-01  2017-03-31
18737   user18  2017-03-27      user18  FMT_POS_0310  2017-03-01  2017-03-31
18738   user18  2017-03-27      user18  FMT_POS_0090  2017-03-01  2017-03-31
18739   user18  2017-03-27      user18  FMT_POS_0080  2017-03-01  2017-03-31
18740   user18  2017-03-27      user18  FMT_POS_0350  2017-03-01  2017-03-31
18741   user18  2017-03-27      user18  FMT_POS_0270  2017-03-01  2017-03-31
18742   user18  2017-03-27      user18  FMT_POS_0360  2017-03-01  2017-03-31
18743   user18  2017-03-27      user18  FMT_POS_0320  2017-03-01  2017-03-31
18744   user18  2017-03-27      user18  FMT_POS_0160  2017-03-01  2017-03-31
18745   user18  2017-03-27      user18  FMT_POS_0380  2017-03-01  2017-03-31
18746   user18  2017-03-27      user18  FMT_POS_0250  2017-03-01  2017-03-31
18747   user18  2017-03-27      user18  FMT_POS_0240  2017-03-01  2017-03-31
18748   user18  2017-03-27      user18  FMT_POS_0290  2017-03-01  2017-03-31
18749   user18  2017-03-27      user18  FMT_POS_0440  2017-03-01  2017-03-31
18750   user18  2017-03-27      user18  FMT_POS_7230  2017-03-01  2017-03-31
18751   user18  2017-03-27      user18  FMT_POS_7210  2017-03-01  2017-03-31
18752   user18  2017-03-27      user18  FMT_POS_1670  2017-03-01  2017-03-31
18753   user18  2017-03-27      user18  FMT_POS_1560  2017-03-01  2017-03-31
18754   user18  2017-03-27      user18  FMT_POS_0010  2017-03-01  2017-03-31
18755   user18  2017-03-27      user18  FMT_POS_0020  2017-03-01  2017-03-31
18756   user18  2017-03-27      user18  FMT_POS_1120  2017-03-01  2017-03-31
18757   user18  2017-03-27      user18  FMT_POS_0040  2017-03-01  2017-03-31
18758   user18  2017-03-27      user18  FMT_POS_0260  2017-03-01  2017-03-31
18759   user18  2017-03-27      user18  FMT_POS_0030  2017-03-01  2017-03-31
...        ...         ...         ...           ...         ...         ...
19932   user18  2017-03-27      user18   FMT_PA_0790  2017-03-01  2017-03-31
19933   user18  2017-03-27      user18   FMT_PA_0800  2017-03-01  2017-03-31
19934   user18  2017-03-27      user18   FMT_PA_0810  2017-03-01  2017-03-31
19935   user18  2017-03-27      user18   FMT_PA_0820  2017-03-01  2017-03-31
19936   user18  2017-03-27      user18   FMT_PA_0830  2017-03-01  2017-03-31
19937   user18  2017-03-27      user18   FMT_PA_0840  2017-03-01  2017-03-31
19938   user18  2017-03-27      user18   FMT_PA_0850  2017-03-01  2017-03-31
19939   user18  2017-03-27      user18   FMT_PA_0851  2017-03-01  2017-03-31
19940   user18  2017-03-27      user18   FMT_PA_0852  2017-03-01  2017-03-31
19941   user18  2017-03-27      user18   FMT_PA_0853  2017-03-01  2017-03-31
19942   user18  2017-03-27      user18   FMT_PA_0854  2017-03-01  2017-03-31
19943   user18  2017-03-27      user18   FMT_PA_0855  2017-03-01  2017-03-31
19944   user18  2017-03-27      user18   FMT_PA_0860  2017-03-01  2017-03-31
19945   user18  2017-03-27      user18   FMT_PA_0870  2017-03-01  2017-03-31
19946   user18  2017-03-27      user18   FMT_PA_0880  2017-03-01  2017-03-31
19947   user18  2017-03-27      user18   FMT_PA_0890  2017-03-01  2017-03-31
19948   user18  2017-03-27      user18   FMT_PA_0900  2017-03-01  2017-03-31
19949   user18  2017-03-27      user18   FMT_PA_0910  2017-03-01  2017-03-31
19950   user18  2017-03-27      user18   FMT_PA_0920  2017-03-01  2017-03-31
19951   user18  2017-03-27      user18   FMT_PA_0930  2017-03-01  2017-03-31
19952   user18  2017-03-27      user18   FMT_PA_0940  2017-03-01  2017-03-31
19953   user18  2017-03-27      user18   FMT_PA_0950  2017-03-01  2017-03-31
19954   user18  2017-03-27      user18   FMT_PA_0951  2017-03-01  2017-03-31
19955   user18  2017-03-27      user18   FMT_PA_0960  2017-03-01  2017-03-31
19956   user18  2017-03-27      user18   FMT_PA_0961  2017-03-01  2017-03-31
19957   user18  2017-03-27      user18   FMT_PA_0970  2017-03-01  2017-03-31
19958   user18  2017-03-27      user18   FMT_PA_0980  2017-03-01  2017-03-31
19959   user18  2017-03-27      user18   FMT_PA_0990  2017-03-01  2017-03-31
19960   user18  2017-03-27      user18   FMT_PA_1000  2017-03-01  2017-03-31
19961   user18  2017-03-27      user18   FMT_PA_0730  2017-03-01  2017-03-31

      is_period
18279      True
18731      True
18732      True
18733      True
18734      True
18735      True
18736      True
18737      True
18738      True
18739      True
18740      True
18741      True
18742      True
18743      True
18744      True
18745      True
18746      True
18747      True
18748      True
18749      True
18750      True
18751      True
18752      True
18753      True
18754      True
18755      True
18756      True
18757      True
18758      True
18759      True
...         ...
19932      True
19933      True
19934      True
19935      True
19936      True
19937      True
19938      True
19939      True
19940      True
19941      True
19942      True
19943      True
19944      True
19945      True
19946      True
19947      True
19948      True
19949      True
19950      True
19951      True
19952      True
19953      True
19954      True
19955      True
19956      True
19957      True
19958      True
19959      True
19960      True
19961      True

[386 rows x 7 columns]
QQ
     username  query_date report_name           doc  start_date    end_date  \
4976   user18  2017-03-10      user18  FMT_POS_0250  2017-01-01  2017-03-31
5242   user18  2017-03-10      user18  FMT_POS_0250  2017-01-01  2017-03-31
5405   user18  2017-03-10      user18  FMT_POS_0250  2017-01-01  2017-03-31
7609   user18  2017-03-10      user18  FMT_POS_0250  2017-01-01  2017-03-31
7614   user18  2017-03-10      user18  FMT_POS_0250  2017-01-01  2017-03-31
8494   user18  2017-03-10      user18  FMT_POS_0370  2017-01-01  2017-03-31
8648   user18  2017-03-10      user18  FMT_POS_0250  2017-01-01  2017-03-31
8649   user18  2017-03-10      user18  FMT_POS_0250  2017-01-01  2017-03-31
9225   user18  2017-03-10      user18  FMT_POS_0370  2017-02-02  2017-02-02
9233   user18  2017-03-10      user18  FMT_POS_0250  2017-01-01  2017-03-31
9609   user18  2017-03-10      user18  FMT_POS_0250  2017-01-01  2017-03-31
9611   user18  2017-03-10      user18  FMT_POS_0250  2017-01-01  2017-03-31

     is_period
4976      True
5242      True
5405      True
7609      True
7614      True
8494      True
8648      True
8649      True
9225      True
9233      True
9609      True
9611      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
456     user18  2017-04-19      user18  ODS_POS_1010  2017-04-30  2017-04-30
1515    user18  2017-04-19      user18  ODS_POS_1490  2017-04-30  2017-04-30
1535    user18  2017-04-19      user18  ODS_POS_1010  2017-04-30  2017-04-30
1536    user18  2017-04-19      user18  ODS_POS_1010  2017-04-30  2017-04-30
1538    user18  2017-04-19      user18  ODS_POS_1490  2017-04-30  2017-04-30
2861    user18  2017-04-19      user18  ODS_POS_1440  2017-01-03  2017-01-03
2862    user18  2017-04-19      user18  ODS_POS_1440  2017-01-02  2017-01-02
30548   user18  2017-04-19      user18  ODS_POS_1010  2017-04-30  2017-04-30
31698   user18  2017-04-19      user18  ODS_POS_1280  2017-04-30  2017-04-30
31701   user18  2017-04-19      user18  ODS_POS_1280  2017-01-03  2017-01-03

      is_period
456        True
1515       True
1535       True
1536       True
1538       True
2861       True
2862       True
30548      True
31698      True
31701      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
7667   user18  2017-03-06      user18  FMT_POS_0250  2017-01-01  2017-03-06
8016   user18  2017-03-06      user18  FMT_POS_0250  2017-01-01  2017-03-06
8017   user18  2017-03-06      user18  FMT_POS_0250  2017-01-13  2017-01-13
8042   user18  2017-03-06      user18  ODS_POS_1460  2017-01-10  2017-01-10
8090   user18  2017-03-06      user18  FMT_POS_0250  2016-12-01  2017-03-06
8657   user18  2017-03-06      user18  FMT_POS_0250  2017-01-10  2017-01-10
8777   user18  2017-03-06      user18  ODS_POS_1440  2017-01-10  2017-01-10
8778   user18  2017-03-06      user18  ODS_POS_1440  2017-01-03  2017-01-03
8999   user18  2017-03-06      user18  ODS_POS_1460  2017-01-10  2017-01-10

     is_period
7667      True
8016      True
8017      True
8042      True
8090      True
8657      True
8777      True
8778      True
8999      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
13788   user18  2017-03-20      user18  ODS_POS_1460  2017-02-27  2017-02-27
13974   user18  2017-03-20      user18  ODS_POS_1460  2016-02-27  2016-02-27
13975   user18  2017-03-20      user18  ODS_POS_1460  2017-02-27  2017-02-27
14013   user18  2017-03-20      user18  ODS_POS_1330  2017-02-27  2017-02-27
14036   user18  2017-03-20      user18  ODS_POS_1460  2017-02-07  2017-02-07
14231   user18  2017-03-20      user18  ODS_POS_1460  2017-02-27  2017-02-27
14265   user18  2017-03-20      user18  ODS_POS_1460  2017-02-07  2017-02-07

      is_period
13788      True
13974      True
13975      True
14013      True
14036      True
14231      True
14265      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
19776   user18  2017-03-28      user18  ODS_POS_0990         NaN  9999-12-31
19777   user18  2017-03-28      user18  ODS_POS_1360  2017-02-07  2017-02-07
19786   user18  2017-03-28      user18  ODS_POS_0990         NaN  9999-12-31
20056   user18  2017-03-28      user18  FMT_POS_0250         NaN  9999-12-31
20693   user18  2017-03-28      user18  ODS_POS_1360  2017-02-27  2017-02-27
20694   user18  2017-03-28      user18  ODS_POS_1360  2017-03-01  2017-03-01
21126   user18  2017-03-28      user18  FMT_POS_0320  2017-03-01  2017-03-01

      is_period
19776      True
19777      True
19786      True
20056      True
20693      True
20694      True
21126      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
9911   user18  2017-03-09      user18  FMT_POS_0370  2017-02-02  2017-02-02
9912   user18  2017-03-09      user18  FMT_POS_0370  2017-02-02  2017-02-02
9913   user18  2017-03-09      user18  FMT_POS_0370  2017-02-02  2017-02-02
9914   user18  2017-03-09      user18  FMT_POS_0370  2017-02-02  2017-02-02
9915   user18  2017-03-09      user18  FMT_POS_0370  2017-02-02  2017-02-02
9916   user18  2017-03-09      user18  FMT_POS_0370  2017-02-02  2017-02-02
9917   user18  2017-03-09      user18  FMT_POS_0370  2017-02-02  2017-02-02

     is_period
9911      True
9912      True
9913      True
9914      True
9915      True
9916      True
9917      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
18175   user18  2017-03-31      user18  FMT_POS_0250  2017-03-31  2017-03-31
21063   user18  2017-03-31      user18  FMT_POS_0250  2017-03-31  2017-03-31
21064   user18  2017-03-31      user18  FMT_POS_0250  2017-03-31  2017-03-31
21114   user18  2017-03-31      user18  FMT_POS_0250  2017-03-31  2017-03-31
21115   user18  2017-03-31      user18  FMT_POS_0250  2017-03-31  2017-03-31

      is_period
18175      True
21063      True
21064      True
21114      True
21115      True
QQ

      username  query_date report_name           doc  start_date    end_date  \
14582   user18  2017-03-21      user18  FMT_POS_0190         NaN  9999-12-31
14583   user18  2017-03-21      user18  FMT_POS_0190  2017-02-07  2017-02-07
14584   user18  2017-03-21      user18  FMT_POS_0190  2017-02-02  2017-02-02
15261   user18  2017-03-21      user18  ODS_FIN_0980         NaN  9999-12-31
15262   user18  2017-03-21      user18   LS_INV_0030  2017-02-07  2017-02-07

      is_period
14582      True
14583      True
14584      True
15261      True
15262      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17479   user18  2017-04-01      user18  ODS_POS_1440  2016-02-27  2016-02-27
17480   user18  2017-04-01      user18  ODS_POS_1440  2016-03-01  2016-03-01
17482   user18  2017-04-01      user18  ODS_POS_1440  2017-01-31  2017-01-31
17483   user18  2017-04-01      user18  ODS_POS_1440  2017-01-13  2017-01-13

      is_period
17479      True
17480      True
17482      True
17483      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
21491   user18  2017-04-06      user18  FMT_POS_0250  2017-04-04  2017-04-06
22422   user18  2017-04-06      user18  ODS_POS_1330  2017-03-31  2017-03-31
22571   user18  2017-04-06      user18  FMT_POS_0250  2017-04-04  2017-04-06

      is_period
21491      True
22422      True
22571      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
12733   user18  2017-03-16      user18  ODS_POS_0920         NaN  9999-12-31
13184   user18  2017-03-16      user18  FMT_POS_0320  2017-02-02  2017-02-02
13369   user18  2017-03-16      user18  FMT_POS_0320  2017-02-07  2017-02-07

      is_period
12733      True
13184      True
13369      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
15047   user18  2017-03-25      user18  FMT_POS_0160  2017-03-01  2017-03-01
15048   user18  2017-03-25      user18  FMT_POS_0160  2017-03-01  2017-03-01

      is_period
15047      True
15048      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
19683   user18  2017-03-30      user18  FMT_POS_0250  2017-03-30  2017-03-30
20948   user18  2017-03-30      user18  FMT_POS_0250  2017-03-30  2017-03-30

      is_period
19683      True
20948      True
QQ
      username  query_date report_name           doc start_date    end_date  \
30480   user18  2017-04-21      user18  ODS_FIN_0980        NaN  9999-12-31

      is_period
30480      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4922   user18  2017-02-08      user18  ODS_POS_0430        NaN  9999-12-31

     is_period
4922      True
QQ
    username  query_date report_name           doc  start_date    end_date  \
259   user18  2017-02-14      user18  FMT_POS_0290  2017-01-01  2017-02-14

    is_period
259      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
3027   user18  2017-02-17      user18  FMT_POS_0250  2017-01-01  2017-02-17

     is_period
3027      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
20171  yusiang  2017-03-27     yusiang  FMT_POS_0060  2012-01-01  2018-01-01
20172  yusiang  2017-03-27     yusiang  FMT_POS_0070  2012-01-01  2018-01-01
20173  yusiang  2017-03-27     yusiang  FMT_POS_0310  2012-01-01  2018-01-01
20174  yusiang  2017-03-27     yusiang  FMT_POS_0090  2012-01-01  2018-01-01
20175  yusiang  2017-03-27     yusiang  FMT_POS_0080  2012-01-01  2018-01-01
20177  yusiang  2017-03-27     yusiang  FMT_POS_0080  2012-01-01  2018-01-01
20502  yusiang  2017-03-27     yusiang  FMT_POS_0170  2012-01-01  2017-01-01
20503  yusiang  2017-03-27     yusiang  FMT_POS_1540  2012-01-01  2017-01-01
20504  yusiang  2017-03-27     yusiang  FMT_POS_0370  2012-01-01  2017-01-01
20505  yusiang  2017-03-27     yusiang      #POLICY#  2012-01-01  2017-01-01
20506  yusiang  2017-03-27     yusiang  FMT_POS_0350  2012-01-01  2017-01-01
20507  yusiang  2017-03-27     yusiang  FMT_POS_0060  2012-01-01  2017-01-01
20508  yusiang  2017-03-27     yusiang  FMT_POS_0070  2012-01-01  2017-01-01
20509  yusiang  2017-03-27     yusiang  FMT_POS_0310  2012-01-01  2017-01-01
20510  yusiang  2017-03-27     yusiang  FMT_POS_0090  2012-01-01  2017-01-01
20511  yusiang  2017-03-27     yusiang  FMT_POS_0080  2012-01-01  2017-01-01
20512  yusiang  2017-03-27     yusiang  FMT_POS_0270  2012-01-01  2017-01-01
20513  yusiang  2017-03-27     yusiang  FMT_POS_0360  2012-01-01  2017-01-01
20514  yusiang  2017-03-27     yusiang  FMT_POS_0320  2012-01-01  2017-01-01
20515  yusiang  2017-03-27     yusiang  FMT_POS_0160  2012-01-01  2017-01-01
20516  yusiang  2017-03-27     yusiang  FMT_POS_0380  2012-01-01  2017-01-01
20517  yusiang  2017-03-27     yusiang  FMT_POS_0250  2012-01-01  2017-01-01
20518  yusiang  2017-03-27     yusiang  FMT_POS_0240  2012-01-01  2017-01-01
20519  yusiang  2017-03-27     yusiang  FMT_POS_0290  2012-01-01  2017-01-01
20520  yusiang  2017-03-27     yusiang  FMT_POS_0440  2012-01-01  2017-01-01
20521  yusiang  2017-03-27     yusiang  FMT_POS_7230  2012-01-01  2017-01-01
20522  yusiang  2017-03-27     yusiang  FMT_POS_7210  2012-01-01  2017-01-01
20523  yusiang  2017-03-27     yusiang  FMT_POS_1670  2012-01-01  2017-01-01
20524  yusiang  2017-03-27     yusiang  FMT_POS_1560  2012-01-01  2017-01-01
20525  yusiang  2017-03-27     yusiang  FMT_POS_0010  2012-01-01  2017-01-01
...        ...         ...         ...           ...         ...         ...
20557  yusiang  2017-03-27     yusiang   FMT_PA_0852  2012-01-01  2017-01-01
20558  yusiang  2017-03-27     yusiang   FMT_PA_0853  2012-01-01  2017-01-01
20559  yusiang  2017-03-27     yusiang   FMT_PA_0854  2012-01-01  2017-01-01
20560  yusiang  2017-03-27     yusiang   FMT_PA_0855  2012-01-01  2017-01-01
20561  yusiang  2017-03-27     yusiang   FMT_PA_0860  2012-01-01  2017-01-01
20562  yusiang  2017-03-27     yusiang   FMT_PA_0870  2012-01-01  2017-01-01
20563  yusiang  2017-03-27     yusiang   FMT_PA_0880  2012-01-01  2017-01-01
20564  yusiang  2017-03-27     yusiang   FMT_PA_0890  2012-01-01  2017-01-01
20565  yusiang  2017-03-27     yusiang   FMT_PA_0900  2012-01-01  2017-01-01
20566  yusiang  2017-03-27     yusiang   FMT_PA_0910  2012-01-01  2017-01-01
20567  yusiang  2017-03-27     yusiang   FMT_PA_0920  2012-01-01  2017-01-01
20568  yusiang  2017-03-27     yusiang   FMT_PA_0930  2012-01-01  2017-01-01
20569  yusiang  2017-03-27     yusiang   FMT_PA_0940  2012-01-01  2017-01-01
20570  yusiang  2017-03-27     yusiang   FMT_PA_0950  2012-01-01  2017-01-01
20571  yusiang  2017-03-27     yusiang   FMT_PA_0951  2012-01-01  2017-01-01
20572  yusiang  2017-03-27     yusiang   FMT_PA_0960  2012-01-01  2017-01-01
20573  yusiang  2017-03-27     yusiang   FMT_PA_0961  2012-01-01  2017-01-01
20574  yusiang  2017-03-27     yusiang   FMT_PA_0970  2012-01-01  2017-01-01
20575  yusiang  2017-03-27     yusiang   FMT_PA_0980  2012-01-01  2017-01-01
20576  yusiang  2017-03-27     yusiang   FMT_PA_0990  2012-01-01  2017-01-01
20577  yusiang  2017-03-27     yusiang   FMT_PA_1000  2012-01-01  2017-01-01
20578  yusiang  2017-03-27     yusiang   FMT_PA_0730  2012-01-01  2017-01-01
20579  yusiang  2017-03-27     yusiang  FMT_POS_0170  2012-01-01  2017-01-01
20580  yusiang  2017-03-27     yusiang  FMT_POS_1540  2012-01-01  2017-01-01
20581  yusiang  2017-03-27     yusiang  FMT_POS_0370  2012-01-01  2017-01-01
20582  yusiang  2017-03-27     yusiang      #POLICY#  2012-01-01  2017-01-01
20583  yusiang  2017-03-27     yusiang  FMT_POS_0170  2012-01-01  2018-01-01
20584  yusiang  2017-03-27     yusiang  FMT_POS_1540  2012-01-01  2018-01-01
20585  yusiang  2017-03-27     yusiang  FMT_POS_0370  2012-01-01  2018-01-01
20586  yusiang  2017-03-27     yusiang      #POLICY#  2012-01-01  2018-01-01

      is_period
20171      True
20172      True
20173      True
20174      True
20175      True
20177      True
20502      True
20503      True
20504      True
20505      True
20506      True
20507      True
20508      True
20509      True
20510      True
20511      True
20512      True
20513      True
20514      True
20515      True
20516      True
20517      True
20518      True
20519      True
20520      True
20521      True
20522      True
20523      True
20524      True
20525      True
...         ...
20557      True
20558      True
20559      True
20560      True
20561      True
20562      True
20563      True
20564      True
20565      True
20566      True
20567      True
20568      True
20569      True
20570      True
20571      True
20572      True
20573      True
20574      True
20575      True
20576      True
20577      True
20578      True
20579      True
20580      True
20581      True
20582      True
20583      True
20584      True
20585      True
20586      True

[91 rows x 7 columns]
QQ
     username  query_date report_name           doc  start_date    end_date  \
4085  yusiang  2017-02-23     yusiang  FMT_POS_0060  2015-11-01  2017-02-28
4086  yusiang  2017-02-23     yusiang  FMT_POS_0070  2015-11-01  2017-02-28
4087  yusiang  2017-02-23     yusiang  FMT_POS_0310  2015-11-01  2017-02-28
4088  yusiang  2017-02-23     yusiang  FMT_POS_0090  2015-11-01  2017-02-28
4089  yusiang  2017-02-23     yusiang  FMT_POS_0080  2015-11-01  2017-02-28
4090  yusiang  2017-02-23     yusiang  FMT_POS_0060  2015-11-01  2017-02-28
4091  yusiang  2017-02-23     yusiang  FMT_POS_0070  2015-11-01  2017-02-28
4092  yusiang  2017-02-23     yusiang  FMT_POS_0310  2015-11-01  2017-02-28
4093  yusiang  2017-02-23     yusiang  FMT_POS_0090  2015-11-01  2017-02-28
4094  yusiang  2017-02-23     yusiang  FMT_POS_0080  2015-11-01  2017-02-28
4104  yusiang  2017-02-23     yusiang    LS_SC_5730  2017-02-20  2017-02-20
4105  yusiang  2017-02-23     yusiang   ODS_SC_6211  2017-02-20  2017-02-20
4106  yusiang  2017-02-23     yusiang   ODS_SC_6210  2017-02-20  2017-02-20
4107  yusiang  2017-02-23     yusiang  FMT-POS-0010  2017-02-20  2017-02-20
4108  yusiang  2017-02-23     yusiang  ODS_CLM_0580  2017-02-20  2017-02-20
4109  yusiang  2017-02-23     yusiang  FMT-POS-0030  2017-02-20  2017-02-20
4110  yusiang  2017-02-23     yusiang  FMT-POS-0040  2017-02-20  2017-02-20
4111  yusiang  2017-02-23     yusiang  FMT-POS-0260  2017-02-20  2017-02-20
4112  yusiang  2017-02-23     yusiang  FMT-POS-1120  2017-02-20  2017-02-20
4113  yusiang  2017-02-23     yusiang  ODS-POS-0930  2017-02-20  2017-02-20
4114  yusiang  2017-02-23     yusiang  ODS-POS-0950  2017-02-20  2017-02-20
4115  yusiang  2017-02-23     yusiang  ODS-POS-0970  2017-02-20  2017-02-20
4116  yusiang  2017-02-23     yusiang  ODS-POS-1160  2017-02-20  2017-02-20
4117  yusiang  2017-02-23     yusiang  ODS_POS_1350  2017-02-20  2017-02-20
4118  yusiang  2017-02-23     yusiang  ODS_POS_1380  2017-02-20  2017-02-20
4119  yusiang  2017-02-23     yusiang  ODS_POS_1250  2017-02-20  2017-02-20
4120  yusiang  2017-02-23     yusiang  ODS_POS_1260  2017-02-20  2017-02-20
4121  yusiang  2017-02-23     yusiang  FMT_POS_0430  2017-02-20  2017-02-20
4122  yusiang  2017-02-23     yusiang  ODS_POS_7150  2017-02-20  2017-02-20
4123  yusiang  2017-02-23     yusiang  ODS_POS_1360  2017-02-20  2017-02-20
4124  yusiang  2017-02-23     yusiang  ODS_POS_1310  2017-02-20  2017-02-20
4125  yusiang  2017-02-23     yusiang  ODS_POS_1580  2017-02-20  2017-02-20
4126  yusiang  2017-02-23     yusiang  ODS_POS_1722  2017-02-20  2017-02-20
4127  yusiang  2017-02-23     yusiang  ODS_CLM_0560  2017-02-20  2017-02-20
4128  yusiang  2017-02-23     yusiang  ODS_CLM_0561  2017-02-20  2017-02-20
4129  yusiang  2017-02-23     yusiang  ODS_CLM_0570  2017-02-20  2017-02-20
4130  yusiang  2017-02-23     yusiang  ODS_CLM_0571  2017-02-20  2017-02-20
4131  yusiang  2017-02-23     yusiang  FMT-POS-0020  2017-02-20  2017-02-20

     is_period
4085      True
4086      True
4087      True
4088      True
4089      True
4090      True
4091      True
4092      True
4093      True
4094      True
4104      True
4105      True
4106      True
4107      True
4108      True
4109      True
4110      True
4111      True
4112      True
4113      True
4114      True
4115      True
4116      True
4117      True
4118      True
4119      True
4120      True
4121      True
4122      True
4123      True
4124      True
4125      True
4126      True
4127      True
4128      True
4129      True
4130      True
4131      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
26393  yusiang  2017-04-12     yusiang   ODS_INV_7250  2017-01-05  2017-04-05
26443  yusiang  2017-04-12     yusiang   ODS_FIN_0330         NaN  9999-12-31
26449  yusiang  2017-04-12     yusiang   ODS_FIN_0330         NaN  9999-12-31
26450  yusiang  2017-04-12     yusiang   ODS_FIN_0330         NaN  9999-12-31
26451  yusiang  2017-04-12     yusiang   ODS_FIN_0330         NaN  9999-12-31
26452  yusiang  2017-04-12     yusiang   ODS_FIN_0330         NaN  9999-12-31
26453  yusiang  2017-04-12     yusiang   ODS_FIN_0330         NaN  9999-12-31
26454  yusiang  2017-04-12     yusiang   ODS_FIN_0330         NaN  9999-12-31
26598  yusiang  2017-04-12     yusiang   ODS_INV_7250         NaN  9999-12-31
26623  yusiang  2017-04-12     yusiang   ODS_INV_7250  2017-01-05  2017-04-05
26627  yusiang  2017-04-12     yusiang   ODS_INV_7250  2017-01-05  2017-04-05
26661  yusiang  2017-04-12     yusiang  ODS_PA_0590_P         NaN  9999-12-31
26662  yusiang  2017-04-12     yusiang  ODS_PA_0590_P         NaN  9999-12-31
26663  yusiang  2017-04-12     yusiang  ODS_PA_0590_P         NaN  9999-12-31
26664  yusiang  2017-04-12     yusiang  ODS_PA_0590_P         NaN  9999-12-31
26668  yusiang  2017-04-12     yusiang  ODS_PA_0590_P  2017-01-01  2017-01-01
26669  yusiang  2017-04-12     yusiang  ODS_PA_0590_P  2017-01-25  2017-01-25
26686  yusiang  2017-04-12     yusiang  ODS_PA_0590_P  2017-04-05  2017-04-05
26687  yusiang  2017-04-12     yusiang  ODS_PA_0590_P  2017-03-31  2017-03-31
26723  yusiang  2017-04-12     yusiang  ODS_PA_0590_P  2017-04-05  2017-04-05
26724  yusiang  2017-04-12     yusiang  ODS_PA_0590_P  2017-04-05  2017-04-05
26725  yusiang  2017-04-12     yusiang  ODS_PA_0590_P  2017-04-05  2017-04-05
26833  yusiang  2017-04-12     yusiang  ODS_PA_0590_P  2017-03-31  2017-03-31
26835  yusiang  2017-04-12     yusiang  ODS_PA_0590_P  2017-03-31  2017-03-31
26875  yusiang  2017-04-12     yusiang  ODS_PA_0590_P         NaN  9999-12-31
26877  yusiang  2017-04-12     yusiang  ODS_PA_0590_P         NaN  9999-12-31
26878  yusiang  2017-04-12     yusiang  ODS_PA_0590_P         NaN  9999-12-31
26879  yusiang  2017-04-12     yusiang  ODS_PA_0590_P         NaN  9999-12-31
27236  yusiang  2017-04-12     yusiang   ODS_FIN_0330         NaN  9999-12-31
27238  yusiang  2017-04-12     yusiang   ODS_FIN_0330         NaN  9999-12-31
27247  yusiang  2017-04-12     yusiang   ODS_FIN_0330         NaN  9999-12-31
27278  yusiang  2017-04-12     yusiang   ODS_FIN_0330         NaN  9999-12-31
27280  yusiang  2017-04-12     yusiang   ODS_FIN_0330         NaN  9999-12-31
27281  yusiang  2017-04-12     yusiang   ODS_FIN_0330         NaN  9999-12-31
27282  yusiang  2017-04-12     yusiang   ODS_FIN_0330         NaN  9999-12-31
27283  yusiang  2017-04-12     yusiang   ODS_FIN_0330         NaN  9999-12-31
27284  yusiang  2017-04-12     yusiang   ODS_FIN_0330         NaN  9999-12-31

      is_period
26393      True
26443      True
26449      True
26450      True
26451      True
26452      True
26453      True
26454      True
26598      True
26623      True
26627      True
26661      True
26662      True
26663      True
26664      True
26668      True
26669      True
26686      True
26687      True
26723      True
26724      True
26725      True
26833      True
26835      True
26875      True
26877      True
26878      True
26879      True
27236      True
27238      True
27247      True
27278      True
27280      True
27281      True
27282      True
27283      True
27284      True
QQ
      username  query_date report_name        doc start_date    end_date  \
17725  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
17727  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
18037  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
18038  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
18039  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
18040  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
18041  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
18042  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
18189  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
18190  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
19771  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
19772  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
19773  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20119  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20120  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20121  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20122  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20123  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20124  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20125  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20126  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20128  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20129  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20130  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20131  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20133  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20134  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20135  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20138  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20139  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20140  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20141  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20142  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20143  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20144  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20182  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31
20183  yusiang  2017-03-30     yusiang  SAMPLE_01        NaN  9999-12-31

      is_period
17725      True
17727      True
18037      True
18038      True
18039      True
18040      True
18041      True
18042      True
18189      True
18190      True
19771      True
19772      True
19773      True
20119      True
20120      True
20121      True
20122      True
20123      True
20124      True
20125      True
20126      True
20128      True
20129      True
20130      True
20131      True
20133      True
20134      True
20135      True
20138      True
20139      True
20140      True
20141      True
20142      True
20143      True
20144      True
20182      True
20183      True
QQ

      username  query_date report_name            doc  start_date    end_date  \
30370  yusiang  2017-04-20     yusiang  ODS_PA_0631_P  2017-02-15  2017-03-31
30372  yusiang  2017-04-20     yusiang   ODS_INV_7010         NaN  9999-12-31
30516  yusiang  2017-04-20     yusiang  ODS_PA_0631_P         NaN  9999-12-31
30569  yusiang  2017-04-20     yusiang  ODS_PA_0631_P  2017-03-31  2017-03-31
30573  yusiang  2017-04-20     yusiang  ODS_PA_0631_P         NaN  9999-12-31
30575  yusiang  2017-04-20     yusiang  ODS_PA_0631_P         NaN  9999-12-31
30579  yusiang  2017-04-20     yusiang  ODS_PA_0631_P         NaN  9999-12-31
30582  yusiang  2017-04-20     yusiang  ODS_PA_0631_P         NaN  9999-12-31
30592  yusiang  2017-04-20     yusiang  ODS_PA_0631_P         NaN  9999-12-31
30594  yusiang  2017-04-20     yusiang  ODS_PA_0631_P         NaN  9999-12-31
30595  yusiang  2017-04-20     yusiang  ODS_PA_0631_P         NaN  9999-12-31
30600  yusiang  2017-04-20     yusiang  ODS_PA_0631_P         NaN  9999-12-31
30601  yusiang  2017-04-20     yusiang  ODS_PA_0631_P         NaN  9999-12-31
30764  yusiang  2017-04-20     yusiang  ODS_PA_0631_P         NaN  9999-12-31
30765  yusiang  2017-04-20     yusiang  ODS_PA_0631_P  2017-02-15  2017-03-31
30939  yusiang  2017-04-20     yusiang  ODS_PA_0631_P         NaN  9999-12-31
30940  yusiang  2017-04-20     yusiang  ODS_PA_0631_P         NaN  9999-12-31
30942  yusiang  2017-04-20     yusiang  ODS_PA_0631_P  2017-03-31  2017-03-31
31432  yusiang  2017-04-20     yusiang  ODS_PA_0631_P         NaN  9999-12-31
31981  yusiang  2017-04-20     yusiang  ODS_PA_0630_P  2017-03-31  2017-03-31
32019  yusiang  2017-04-20     yusiang  ODS_PA_0631_P         NaN  9999-12-31
32020  yusiang  2017-04-20     yusiang  ODS_PA_0631_P         NaN  9999-12-31
32021  yusiang  2017-04-20     yusiang  ODS_PA_0631_P         NaN  9999-12-31
32027  yusiang  2017-04-20     yusiang  ODS_PA_0631_P         NaN  9999-12-31
32030  yusiang  2017-04-20     yusiang  ODS_PA_0630_P  2017-03-31  2017-03-31
32126  yusiang  2017-04-20     yusiang  ODS_PA_0631_P         NaN  9999-12-31
32128  yusiang  2017-04-20     yusiang  ODS_PA_0631_P         NaN  9999-12-31
32312  yusiang  2017-04-20     yusiang  ODS_PA_0631_P         NaN  9999-12-31
32314  yusiang  2017-04-20     yusiang  ODS_PA_0631_P  2017-03-31  2017-03-31
32317  yusiang  2017-04-20     yusiang  ODS_PA_0631_P  2017-03-31  2017-03-31

      is_period
30370      True
30372      True
30516      True
30569      True
30573      True
30575      True
30579      True
30582      True
30592      True
30594      True
30595      True
30600      True
30601      True
30764      True
30765      True
30939      True
30940      True
30942      True
31432      True
31981      True
32019      True
32020      True
32021      True
32027      True
32030      True
32126      True
32128      True
32312      True
32314      True
32317      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
9956   yusiang  2017-03-08     yusiang    LS_SC_5730  2017-02-20  2017-02-20
9957   yusiang  2017-03-08     yusiang   ODS_SC_6211  2017-02-20  2017-02-20
9958   yusiang  2017-03-08     yusiang   ODS_SC_6210  2017-02-20  2017-02-20
9959   yusiang  2017-03-08     yusiang  FMT-POS-0010  2017-02-20  2017-02-20
9960   yusiang  2017-03-08     yusiang  ODS_CLM_0580  2017-02-20  2017-02-20
9961   yusiang  2017-03-08     yusiang  FMT-POS-0030  2017-02-20  2017-02-20
9962   yusiang  2017-03-08     yusiang  FMT-POS-0040  2017-02-20  2017-02-20
9963   yusiang  2017-03-08     yusiang  FMT-POS-0260  2017-02-20  2017-02-20
9964   yusiang  2017-03-08     yusiang  FMT-POS-1120  2017-02-20  2017-02-20
9965   yusiang  2017-03-08     yusiang  ODS-POS-0930  2017-02-20  2017-02-20
9966   yusiang  2017-03-08     yusiang  ODS-POS-0950  2017-02-20  2017-02-20
9967   yusiang  2017-03-08     yusiang  ODS-POS-0970  2017-02-20  2017-02-20
10010  yusiang  2017-03-08     yusiang  ODS-POS-1160  2017-02-20  2017-02-20
10011  yusiang  2017-03-08     yusiang  ODS_POS_1350  2017-02-20  2017-02-20
10012  yusiang  2017-03-08     yusiang  ODS_POS_1380  2017-02-20  2017-02-20
10013  yusiang  2017-03-08     yusiang  ODS_POS_1250  2017-02-20  2017-02-20
10014  yusiang  2017-03-08     yusiang  ODS_POS_1260  2017-02-20  2017-02-20
10015  yusiang  2017-03-08     yusiang  FMT_POS_0430  2017-02-20  2017-02-20
10016  yusiang  2017-03-08     yusiang  ODS_POS_7150  2017-02-20  2017-02-20
10017  yusiang  2017-03-08     yusiang  ODS_POS_1360  2017-02-20  2017-02-20
10018  yusiang  2017-03-08     yusiang  ODS_POS_1310  2017-02-20  2017-02-20
10019  yusiang  2017-03-08     yusiang  ODS_POS_1580  2017-02-20  2017-02-20
10020  yusiang  2017-03-08     yusiang  ODS_POS_1722  2017-02-20  2017-02-20
10021  yusiang  2017-03-08     yusiang  ODS_CLM_0560  2017-02-20  2017-02-20
10022  yusiang  2017-03-08     yusiang  ODS_CLM_0561  2017-02-20  2017-02-20
10023  yusiang  2017-03-08     yusiang  ODS_CLM_0570  2017-02-20  2017-02-20
10024  yusiang  2017-03-08     yusiang  ODS_CLM_0571  2017-02-20  2017-02-20
10025  yusiang  2017-03-08     yusiang  FMT-POS-0020  2017-02-20  2017-02-20

      is_period
9956       True
9957       True
9958       True
9959       True
9960       True
9961       True
9962       True
9963       True
9964       True
9965       True
9966       True
9967       True
10010      True
10011      True
10012      True
10013      True
10014      True
10015      True
10016      True
10017      True
10018      True
10019      True
10020      True
10021      True
10022      True
10023      True
10024      True
10025      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
12227  yusiang  2017-03-17     yusiang  ODS_UNB_0410         NaN  9999-12-31
12505  yusiang  2017-03-17     yusiang  ODS_UNB_0410         NaN  9999-12-31
12532  yusiang  2017-03-17     yusiang  ODS_UNB_0410         NaN  9999-12-31
12539  yusiang  2017-03-17     yusiang  ODS_UNB_0410         NaN  9999-12-31
12540  yusiang  2017-03-17     yusiang  ODS_UNB_0410         NaN  9999-12-31
12542  yusiang  2017-03-17     yusiang  ODS_UNB_0410         NaN  9999-12-31
12604  yusiang  2017-03-17     yusiang  ODS_UNB_0410         NaN  9999-12-31
12611  yusiang  2017-03-17     yusiang  ODS_UNB_0410         NaN  9999-12-31
12622  yusiang  2017-03-17     yusiang  ODS_UNB_0410         NaN  9999-12-31
12625  yusiang  2017-03-17     yusiang  ODS_UNB_0410         NaN  9999-12-31
12628  yusiang  2017-03-17     yusiang  ODS_UNB_0410         NaN  9999-12-31
12634  yusiang  2017-03-17     yusiang  ODS_UNB_0410         NaN  9999-12-31
12635  yusiang  2017-03-17     yusiang  ODS_UNB_0410         NaN  9999-12-31
12649  yusiang  2017-03-17     yusiang  ODS_UNB_0410         NaN  9999-12-31
12659  yusiang  2017-03-17     yusiang  ODS_UNB_0410         NaN  9999-12-31
12662  yusiang  2017-03-17     yusiang  ODS_UNB_0410         NaN  9999-12-31
12663  yusiang  2017-03-17     yusiang  ODS_UNB_0410         NaN  9999-12-31
12759  yusiang  2017-03-17     yusiang  FMT_POS_0170  1111-11-04  1111-11-04
12760  yusiang  2017-03-17     yusiang  FMT_POS_1540  1111-11-04  1111-11-04
12761  yusiang  2017-03-17     yusiang  FMT_POS_0370  1111-11-04  1111-11-04
13315  yusiang  2017-03-17     yusiang  ODS_UNB_0410         NaN  9999-12-31
13483  yusiang  2017-03-17     yusiang  ODS_UNB_0410         NaN  9999-12-31
13487  yusiang  2017-03-17     yusiang  ODS_UNB_0410         NaN  9999-12-31

      is_period
12227      True
12505      True
12532      True
12539      True
12540      True
12542      True
12604      True
12611      True
12622      True
12625      True
12628      True
12634      True
12635      True
12649      True
12659      True
12662      True
12663      True
12759      True
12760      True
12761      True
13315      True
13483      True
13487      True
QQ
      username  query_date report_name           doc start_date    end_date  \
29123  yusiang  2017-04-14     yusiang      #POLICY#        NaN  9999-12-31
29126  yusiang  2017-04-14     yusiang   ODS_PA_0391        NaN  9999-12-31
29127  yusiang  2017-04-14     yusiang  FMT_POS_0010        NaN  9999-12-31
29128  yusiang  2017-04-14     yusiang  FMT_POS_7230        NaN  9999-12-31
29129  yusiang  2017-04-14     yusiang      #POLICY#        NaN  9999-12-31
29130  yusiang  2017-04-14     yusiang   ODS_PA_0391        NaN  9999-12-31
29132  yusiang  2017-04-14     yusiang   ODS_PA_0391        NaN  9999-12-31
29133  yusiang  2017-04-14     yusiang   ODS_PA_0391        NaN  9999-12-31
29151  yusiang  2017-04-14     yusiang   ODS_PA_0391        NaN  9999-12-31
29926  yusiang  2017-04-14     yusiang      #POLICY#        NaN  9999-12-31
29927  yusiang  2017-04-14     yusiang      #POLICY#        NaN  9999-12-31
29928  yusiang  2017-04-14     yusiang      #POLICY#        NaN  9999-12-31
29929  yusiang  2017-04-14     yusiang      #POLICY#        NaN  9999-12-31
29953  yusiang  2017-04-14     yusiang   ODS_PA_0390        NaN  9999-12-31
29955  yusiang  2017-04-14     yusiang   ODS_PA_0390        NaN  9999-12-31
29956  yusiang  2017-04-14     yusiang   ODS_PA_0390        NaN  9999-12-31
29958  yusiang  2017-04-14     yusiang  FMT_POS_0010        NaN  9999-12-31
29962  yusiang  2017-04-14     yusiang   ODS_PA_0391        NaN  9999-12-31
29963  yusiang  2017-04-14     yusiang   ODS_PA_0391        NaN  9999-12-31
29965  yusiang  2017-04-14     yusiang   ODS_PA_0391        NaN  9999-12-31

      is_period
29123      True
29126      True
29127      True
29128      True
29129      True
29130      True
29132      True
29133      True
29151      True
29926      True
29927      True
29928      True
29929      True
29953      True
29955      True
29956      True
29958      True
29962      True
29963      True
29965      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
1887  yusiang  2017-02-15     yusiang  ODS_FIN_0351         NaN  9999-12-31
5289  yusiang  2017-02-15     yusiang  ODS_CLM_0571  2016-01-01  2016-01-01
5296  yusiang  2017-02-15     yusiang  ODS_CLM_0350  2016-01-01  2016-01-01
5297  yusiang  2017-02-15     yusiang  ODS_CLM_0350  2016-01-01  2016-01-01
5298  yusiang  2017-02-15     yusiang  ODS_CLM_0350  2016-01-01  2016-01-01
5299  yusiang  2017-02-15     yusiang  ODS_CLM_0350  2016-01-01  2016-01-01
5300  yusiang  2017-02-15     yusiang  ODS_CLM_0350  2016-01-01  2016-01-01
5301  yusiang  2017-02-15     yusiang  ODS_CLM_0350  2016-01-01  2016-01-01
5579  yusiang  2017-02-15     yusiang  ODS_CLM_0571  2016-01-01  2016-01-01
5618  yusiang  2017-02-15     yusiang  ODS_CLM_0350  2016-01-01  2016-01-01
5619  yusiang  2017-02-15     yusiang  ODS_CLM_0350  2016-01-01  2016-01-01
5620  yusiang  2017-02-15     yusiang  ODS_CLM_0350  2016-01-01  2016-01-01
5621  yusiang  2017-02-15     yusiang  ODS_CLM_0350  2016-01-01  2016-01-01
5622  yusiang  2017-02-15     yusiang  ODS_CLM_0350  2016-01-01  2016-01-01
5623  yusiang  2017-02-15     yusiang  ODS_CLM_0350  2016-01-01  2016-01-01
5626  yusiang  2017-02-15     yusiang  ODS_CLM_0350  2016-01-01  2016-01-01
5627  yusiang  2017-02-15     yusiang  ODS_CLM_0350  2016-01-01  2016-01-01

     is_period
1887      True
5289      True
5296      True
5297      True
5298      True
5299      True
5300      True
5301      True
5579      True
5618      True
5619      True
5620      True
5621      True
5622      True
5623      True
5626      True
5627      True
QQ
      username  query_date report_name           doc start_date    end_date  \
23256  yusiang  2017-04-07     yusiang  ODS_FIN_0270        NaN  9999-12-31
23257  yusiang  2017-04-07     yusiang  ODS_FIN_0270        NaN  9999-12-31
23300  yusiang  2017-04-07     yusiang     SAMPLE_01        NaN  9999-12-31
23301  yusiang  2017-04-07     yusiang     SAMPLE_01        NaN  9999-12-31
23312  yusiang  2017-04-07     yusiang     SAMPLE_01        NaN  9999-12-31
23445  yusiang  2017-04-07     yusiang     SAMPLE_01        NaN  9999-12-31
23446  yusiang  2017-04-07     yusiang     SAMPLE_01        NaN  9999-12-31
23447  yusiang  2017-04-07     yusiang     SAMPLE_01        NaN  9999-12-31
23629  yusiang  2017-04-07     yusiang     SAMPLE_01        NaN  9999-12-31
23630  yusiang  2017-04-07     yusiang     SAMPLE_01        NaN  9999-12-31
25031  yusiang  2017-04-07     yusiang     SAMPLE_01        NaN  9999-12-31
25032  yusiang  2017-04-07     yusiang     SAMPLE_01        NaN  9999-12-31
25104  yusiang  2017-04-07     yusiang  ODS_FIN_0270        NaN  9999-12-31
25106  yusiang  2017-04-07     yusiang  ODS_FIN_0270        NaN  9999-12-31
25178  yusiang  2017-04-07     yusiang  ODS_FIN_0270        NaN  9999-12-31
25536  yusiang  2017-04-07     yusiang     SAMPLE_01        NaN  9999-12-31
25609  yusiang  2017-04-07     yusiang     SAMPLE_01        NaN  9999-12-31

      is_period
23256      True
23257      True
23300      True
23301      True
23312      True
23445      True
23446      True
23447      True
23629      True
23630      True
25031      True
25032      True
25104      True
25106      True
25178      True
25536      True
25609      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
11328  yusiang  2017-03-13     yusiang  ODS_CLM_0560  2012-11-11  2012-11-11
11333  yusiang  2017-03-13     yusiang  ODS_FIN_0510         NaN  9999-12-31
11372  yusiang  2017-03-13     yusiang  ODS_UNB_0221  2012-01-01  2012-01-01
11373  yusiang  2017-03-13     yusiang  ODS_UNB_0221  2012-01-01  2012-01-01
11386  yusiang  2017-03-13     yusiang  ODS_CLM_0580  2017-01-31  2017-01-31
11387  yusiang  2017-03-13     yusiang  ODS_CLM_0580  2017-01-31  2017-01-31
11462  yusiang  2017-03-13     yusiang  ODS_CLM_0580  2012-11-11  2012-11-11
11463  yusiang  2017-03-13     yusiang  ODS_CLM_0580  2012-11-11  2012-11-11
11464  yusiang  2017-03-13     yusiang  ODS_CLM_0580  2012-11-11  2012-11-11
11468  yusiang  2017-03-13     yusiang  ODS_CLM_0580  2012-11-11  2012-11-11
11469  yusiang  2017-03-13     yusiang  ODS_CLM_0580  2012-11-11  2012-11-11
11470  yusiang  2017-03-13     yusiang  ODS_CLM_0580  2012-11-11  2012-11-11
11473  yusiang  2017-03-13     yusiang  ODS_CLM_0580  2012-05-14  2012-05-14
11496  yusiang  2017-03-13     yusiang  ODS_CLM_0580  2012-11-11  2012-11-11
11498  yusiang  2017-03-13     yusiang  ODS_CLM_0580  2012-05-14  2012-05-14

      is_period
11328      True
11333      True
11372      True
11373      True
11386      True
11387      True
11462      True
11463      True
11464      True
11468      True
11469      True
11470      True
11473      True
11496      True
11498      True
QQ
      username  query_date report_name           doc start_date    end_date  \
22971  yusiang  2017-04-10     yusiang     SAMPLE_01        NaN  9999-12-31
26273  yusiang  2017-04-10     yusiang     SAMPLE_01        NaN  9999-12-31
26650  yusiang  2017-04-10     yusiang     SAMPLE_01        NaN  9999-12-31
26882  yusiang  2017-04-10     yusiang     SAMPLE_01        NaN  9999-12-31
26901  yusiang  2017-04-10     yusiang     SAMPLE_01        NaN  9999-12-31
26962  yusiang  2017-04-10     yusiang     SAMPLE_01        NaN  9999-12-31
27884  yusiang  2017-04-10     yusiang  ODS_FIN_0270        NaN  9999-12-31
27953  yusiang  2017-04-10     yusiang  ODS_INV_7320        NaN  9999-12-31

      is_period
22971      True
26273      True
26650      True
26882      True
26901      True
26962      True
27884      True
27953      True
QQ
      username  query_date report_name        doc start_date    end_date  \
21511  yusiang  2017-04-06     yusiang  SAMPLE_01        NaN  9999-12-31
21703  yusiang  2017-04-06     yusiang  SAMPLE_01        NaN  9999-12-31
22367  yusiang  2017-04-06     yusiang  SAMPLE_01        NaN  9999-12-31
22992  yusiang  2017-04-06     yusiang  SAMPLE_01        NaN  9999-12-31
24163  yusiang  2017-04-06     yusiang  SAMPLE_01        NaN  9999-12-31
24357  yusiang  2017-04-06     yusiang  SAMPLE_01        NaN  9999-12-31
24447  yusiang  2017-04-06     yusiang  SAMPLE_01        NaN  9999-12-31
24464  yusiang  2017-04-06     yusiang  SAMPLE_01        NaN  9999-12-31

      is_period
21511      True
21703      True
22367      True
22992      True
24163      True
24357      True
24447      True
24464      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14038  yusiang  2017-03-20     yusiang  FMT_POS_0080  2000-01-01  2017-03-20
14039  yusiang  2017-03-20     yusiang  FMT_POS_0080  2000-01-01  2017-03-20
14171  yusiang  2017-03-20     yusiang  FMT_POS_0080  2000-01-01  2017-03-20
14173  yusiang  2017-03-20     yusiang  FMT_POS_0080  2000-01-01  2017-03-20
14175  yusiang  2017-03-20     yusiang  FMT_POS_0080  2000-01-01  2017-03-14

      is_period
14038      True
14039      True
14171      True
14173      True
14175      True
QQ
     username  query_date report_name       doc start_date    end_date  \
4006  yusiang  2017-02-22     yusiang  #POLICY#        NaN  9999-12-31
7289  yusiang  2017-02-22     yusiang  #POLICY#        NaN  9999-12-31

     is_period
4006      True
7289      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
19778  yusiang  2017-03-28     yusiang  ODS_CLM_0430  2012-01-01  2012-01-01
20684  yusiang  2017-03-28     yusiang  ODS_CLM_0430  2012-01-01  2012-01-01

      is_period
19778      True
20684      True
QQ
      username  query_date report_name           doc start_date    end_date  \
12648  yusiang  2017-03-16     yusiang  ODS_UNB_0410        NaN  9999-12-31
13193  yusiang  2017-03-16     yusiang  ODS_UNB_0410        NaN  9999-12-31

      is_period
12648      True
13193      True
QQ
      username  query_date report_name           doc start_date    end_date  \
15062  yusiang  2017-03-24     yusiang  ODS_CLM_0440        NaN  9999-12-31

      is_period
15062      True
QQ
      username  query_date report_name           doc start_date    end_date  \
17248  yusiang  2017-03-21     yusiang  FMT_UNB_0090        NaN  9999-12-31

      is_period
17248      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
12732    user3  2017-03-16       user3  ODS_POS_0950  2017-02-07  2017-02-07
12851    user3  2017-03-16       user3  FMT_POS_0250  2017-02-27  2017-02-27
12904    user3  2017-03-16       user3  ODS_UNB_0750  2017-02-27  2017-02-27
12905    user3  2017-03-16       user3  ODS_UNB_0750  2017-02-02  2017-02-02
12906    user3  2017-03-16       user3  ODS_UNB_0750  2017-01-03  2017-01-03
12946    user3  2017-03-16       user3  ODS_UNB_0480  2017-01-10  2017-01-10
12950    user3  2017-03-16       user3  ODS_UNB_0220  2017-02-02  2017-02-02
13015    user3  2017-03-16       user3  ODS_UNB_0750  2017-01-26  2017-01-26
13027    user3  2017-03-16       user3      #POLICY#  2017-01-01  2017-02-27
13028    user3  2017-03-16       user3      #POLICY#  2017-01-01  2017-02-27
13029    user3  2017-03-16       user3      #POLICY#  2017-01-01  2017-02-27
13032    user3  2017-03-16       user3  FMT_POS_0250  2017-01-01  2017-03-31
13034    user3  2017-03-16       user3  FMT_POS_0250  2017-01-01  2017-03-31
13186    user3  2017-03-16       user3  FMT_POS_0250  2017-02-27  2017-02-27
13199    user3  2017-03-16       user3  FMT_POS_0350  2017-01-01  2017-03-16
13208    user3  2017-03-16       user3  FMT_POS_0250  2017-02-27  2017-02-27
13309    user3  2017-03-16       user3  ODS_POS_1240  2017-02-02  2017-02-02
13360    user3  2017-03-16       user3  ODS_POS_1240  2017-02-07  2017-02-07
13361    user3  2017-03-16       user3  ODS_POS_1240  2017-02-27  2017-02-27
13362    user3  2017-03-16       user3  ODS_POS_1240  2017-02-02  2017-02-02
13397    user3  2017-03-16       user3  ODS_UNB_0220  2017-01-26  2017-01-26
13400    user3  2017-03-16       user3  ODS_UNB_0220  2017-01-10  2017-01-10
13408    user3  2017-03-16       user3      #POLICY#  2017-01-01  2017-02-27
13531    user3  2017-03-16       user3      #POLICY#  2017-01-01  2017-02-27

      is_period
12732      True

9872      True
QQ
      username  query_date report_name             doc  start_date  \
11823    user3  2017-03-15       user3    ODS_UNB_0320         NaN
11824    user3  2017-03-15       user3    ODS_UNB_0320         NaN
11859    user3  2017-03-15       user3     FMT_PA_0910  2016-02-02
11860    user3  2017-03-15       user3     FMT_PA_0910  2017-02-02
11861    user3  2017-03-15       user3     FMT_PA_0910  2017-01-26
11862    user3  2017-03-15       user3     FMT_PA_0910  2017-01-22
11863    user3  2017-03-15       user3     FMT_PA_0910  2017-01-23
11977    user3  2017-03-15       user3    ODS_POS_1320         NaN
12018    user3  2017-03-15       user3    FMT_POS_0470  2017-01-26
12019    user3  2017-03-15       user3    FMT_POS_0470  2017-01-01
12064    user3  2017-03-15       user3  ODS_POS_1350_P         NaN
12066    user3  2017-03-15       user3    ODS_POS_1320         NaN
12067    user3  2017-03-15       user3    FMT_POS_0470  2017-01-01
12068    user3  2017-03-15       user3    FMT_POS_0470  2017-01-01
12069    user3  2017-03-15       user3    FMT_POS_0470  2017-01-01
12070    user3  2017-03-15       user3    ODS_POS_1330  2017-02-07
12071    user3  2017-03-15       user3    ODS_POS_1330  2017-01-26
12072    user3  2017-03-15       user3    ODS_POS_1330  2017-01-22
12073    user3  2017-03-15       user3    ODS_POS_1320         NaN
12074    user3  2017-03-15       user3    ODS_POS_1330  2017-01-26
12121    user3  2017-03-15       user3     FMT_PA_0910  2017-02-02
12122    user3  2017-03-15       user3     FMT_PA_0910  2017-01-26
12134    user3  2017-03-15       user3    ODS_POS_1320         NaN

         end_date is_period
11823  9999-12-31      True
11824  9999-12-31      True
11859  2016-02-02      True
11860  2017-02-02      True
11861  2017-01-26      True
11862  2017-01-22      True
11863  2017-01-23      True
11977  9999-12-31      True
12018  2017-01-26      True
12019  2017-03-15      True
12064  9999-12-31      True
12066  9999-12-31      True
12067  2017-03-15      True
12068  2017-03-15      True
12069  2017-03-15      True
12070  2017-02-07      True
12071  2017-01-26      True
12072  2017-01-22      True
12073  9999-12-31      True
12074  2017-01-26      True
12121  2017-02-02      True
12122  2017-01-26      True
12134  9999-12-31      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
21512    user3  2017-04-06       user3  ODS_POS_1320         NaN  9999-12-31
21708    user3  2017-04-06       user3  FMT_POS_0190  2017-03-31  2017-03-31
22355    user3  2017-04-06       user3  FMT_UNB_0381         NaN  9999-12-31
22414    user3  2017-04-06       user3  FMT_POS_0190  2017-03-31  2017-03-31
22456    user3  2017-04-06       user3  FMT_UNB_0381         NaN  9999-12-31
22458    user3  2017-04-06       user3  FMT_UNB_0441         NaN  9999-12-31
22902    user3  2017-04-06       user3  ODS_POS_0950  2017-03-01  2017-03-01
23148    user3  2017-04-06       user3  FMT_UNB_0091         NaN  9999-12-31
23151    user3  2017-04-06       user3  FMT_UNB_0441         NaN  9999-12-31
23152    user3  2017-04-06       user3  FMT_UNB_0441         NaN  9999-12-31
23153    user3  2017-04-06       user3  FMT_UNB_0441         NaN  9999-12-31
23154    user3  2017-04-06       user3  FMT_UNB_0441         NaN  9999-12-31
23205    user3  2017-04-06       user3  ODS_POS_1320         NaN  9999-12-31
23288    user3  2017-04-06       user3  FMT_UNB_0361         NaN  9999-12-31
23293    user3  2017-04-06       user3  ODS_POS_0940  2017-03-01  2017-03-01
24161    user3  2017-04-06       user3  FMT_UNB_0381         NaN  9999-12-31
24547    user3  2017-04-06       user3  ODS_POS_0940  2017-03-31  2017-03-31
24548    user3  2017-04-06       user3  ODS_POS_0950  2017-03-31  2017-03-31
24567    user3  2017-04-06       user3  FMT_POS_0130         NaN  9999-12-31
24568    user3  2017-04-06       user3  FMT_POS_0130  2017-03-01  2017-03-31
25498    user3  2017-04-06       user3  FMT_POS_0380  2017-03-31  2017-03-31
25499    user3  2017-04-06       user3  FMT_POS_0380  2017-03-31  2017-03-31
25501    user3  2017-04-06       user3  FMT_POS_0380  2017-01-31  2017-04-05

      is_period
21512      True
21708      True
22355      True
22414      True
22456      True
22458      True
22902      True
23148      True
23151      True
23152      True
23153      True
23154      True
23205      True
23288      True
23293      True
24161      True
24547      True
24548      True
24567      True
24568      True
25498      True
25499      True
25501      True
QQ
     username  query_date report_name             doc  start_date    end_date  \
1694    user3  2017-02-15       user3    ODS_CLM_0560  2017-01-02  2017-01-02
1704    user3  2017-02-15       user3    ODS_POS_1320         NaN  9999-12-31
1707    user3  2017-02-15       user3    ODS_POS_1320         NaN  9999-12-31
1711    user3  2017-02-15       user3    ODS_POS_1320         NaN  9999-12-31
5302    user3  2017-02-15       user3    ODS_POS_1290  2016-03-01  2016-03-01
5520    user3  2017-02-15       user3    FMT_POS_0320  2016-12-01  2017-02-28
5568    user3  2017-02-15       user3    FMT_POS_0320  2016-11-01  2017-02-28
5570    user3  2017-02-15       user3    FMT_POS_0320  2016-05-01  2017-02-15
5576    user3  2017-02-15       user3    FMT_POS_0360  2016-12-01  2017-02-15
5577    user3  2017-02-15       user3    FMT_POS_0320  2016-12-01  2017-02-15
5586    user3  2017-02-15       user3    ODS_POS_1290  2017-01-03  2017-01-03
5588    user3  2017-02-15       user3    ODS_POS_1290  2017-01-04  2017-01-04
5594    user3  2017-02-15       user3    ODS_POS_1300  2016-11-01  2016-11-01
5597    user3  2017-02-15       user3    ODS_POS_1290  2016-02-01  2016-02-01
5605    user3  2017-02-15       user3    ODS_POS_1290  2016-10-01  2016-10-01
5606    user3  2017-02-15       user3    ODS_POS_1290  2016-10-30  2016-10-30
5608    user3  2017-02-15       user3    ODS_POS_1290  2016-10-03  2016-10-03
5611    user3  2017-02-15       user3    ODS_POS_1300  2017-01-03  2017-01-03
5612    user3  2017-02-15       user3    ODS_POS_1300  2017-01-04  2017-01-04
5615    user3  2017-02-15       user3    ODS_POS_1290  2016-11-01  2016-11-01
7149    user3  2017-02-15       user3  ODS_POS_1350_P         NaN  9999-12-31

     is_period
1694      True
1704      True
1707      True
1711      True
5302      True
5520      True
5568      True
5570      True
5576      True
5577      True
5586      True
5588      True
5594      True
5597      True
5605      True
5606      True
5608      True
5611      True
5612      True
5615      True
7149      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
7442    user3  2017-03-06       user3  FMT_POS_0350  2017-01-01  2017-01-01
7443    user3  2017-03-06       user3  FMT_POS_0350  2017-01-02  2017-01-02
7444    user3  2017-03-06       user3  FMT_POS_0350  2017-01-03  2017-01-03
7446    user3  2017-03-06       user3  FMT_POS_0350  2017-01-04  2017-01-04
7447    user3  2017-03-06       user3  FMT_POS_0350  2017-01-05  2017-01-05
7448    user3  2017-03-06       user3  FMT_POS_0350  2017-01-06  2017-01-06
7449    user3  2017-03-06       user3  FMT_POS_0350  2017-01-07  2017-01-07
7450    user3  2017-03-06       user3  FMT_POS_0350  2017-01-08  2017-01-08
7451    user3  2017-03-06       user3  FMT_POS_0350  2017-01-09  2017-01-09
7452    user3  2017-03-06       user3  FMT_POS_0350  2017-01-10  2017-01-10
7453    user3  2017-03-06       user3  FMT_POS_0350  2017-01-11  2017-01-11
7454    user3  2017-03-06       user3  FMT_POS_0350  2017-01-12  2017-01-12
7455    user3  2017-03-06       user3  FMT_POS_0350  2017-01-13  2017-01-13
7456    user3  2017-03-06       user3  FMT_POS_0350  2017-01-14  2017-01-14
7459    user3  2017-03-06       user3  FMT_POS_0350  2017-01-13  2017-01-13
7848    user3  2017-03-06       user3  FMT_POS_0350  2017-01-01  2017-03-26
8048    user3  2017-03-06       user3  ODS_UNB_0231  2017-01-13  2017-01-13
8049    user3  2017-03-06       user3  ODS_UNB_0231  2017-01-26  2017-01-26

     is_period
7442      True
7443      True
7444      True
7446      True
7447      True
7448      True
7449      True
7450      True
7451      True
7452      True
7453      True
7454      True
7455      True
7456      True
7459      True
7848      True
8048      True
8049      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4177    user3  2017-03-07       user3  FMT_POS_0140  2017-01-10  2017-01-10
4178    user3  2017-03-07       user3  FMT_POS_0140  2017-01-13  2017-01-13
4495    user3  2017-03-07       user3  FMT_UNB_0090  2017-01-10  2017-01-10
4497    user3  2017-03-07       user3  FMT_UNB_0090  2017-01-10  2017-01-10
4498    user3  2017-03-07       user3  FMT_UNB_0090  2017-03-06  2017-03-06
4511    user3  2017-03-07       user3  FMT_UNB_0090  2017-01-13  2017-01-13
4524    user3  2017-03-07       user3  ODS_UNB_0450  2017-01-26  2017-01-26
4526    user3  2017-03-07       user3  FMT_POS_0160  2017-01-10  2017-01-10
4679    user3  2017-03-07       user3  ODS_UNB_0450  2017-01-26  2017-01-26
4680    user3  2017-03-07       user3  ODS_UNB_0450  2017-01-26  2017-01-26
4698    user3  2017-03-07       user3  ODS_UNB_0450  2017-01-26  2017-01-26
5401    user3  2017-03-07       user3  ODS_POS_1240  2017-01-13  2017-01-13
5523    user3  2017-03-07       user3  FMT_UNB_0090  2017-01-13  2017-01-13
5573    user3  2017-03-07       user3  FMT_UNB_0090  2017-03-07  2017-03-07
5575    user3  2017-03-07       user3  FMT_UNB_0090  2017-03-03  2017-03-03
5581    user3  2017-03-07       user3  FMT_UNB_0090  2017-01-10  2017-01-10
8642    user3  2017-03-07       user3  ODS_UNB_0470         NaN  9999-12-31

     is_period
4177      True
4178      True
4495      True
4497      True
4498      True
4511      True
4524      True
4526      True
4679      True
4680      True
4698      True
5401      True
5523      True
5573      True
5575      True
5581      True
8642      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14789    user3  2017-03-23       user3  ODS_POS_1250  2016-11-28  2016-11-28
14792    user3  2017-03-23       user3  ODS_POS_1260  2017-02-07  2017-02-07
14873    user3  2017-03-23       user3  ODS_POS_1580  2017-02-02  2017-02-02
14884    user3  2017-03-23       user3  ODS_POS_1580  2017-02-27  2017-02-27
14885    user3  2017-03-23       user3  ODS_POS_1580  2017-02-07  2017-02-07
14963    user3  2017-03-23       user3  ODS_POS_1250  2016-11-28  2016-11-28
14964    user3  2017-03-23       user3  ODS_POS_1580  2017-01-26  2017-01-26
15079    user3  2017-03-23       user3  ODS_POS_1580  2017-01-13  2017-01-13
15080    user3  2017-03-23       user3  ODS_POS_1580  2017-01-10  2017-01-10
16224    user3  2017-03-23       user3  FMT_POS_7210  2017-02-27  2017-02-27
16225    user3  2017-03-23       user3  FMT_POS_7210  2017-02-07  2017-02-07
16226    user3  2017-03-23       user3  FMT_POS_7210  2017-02-02  2017-02-02
16227    user3  2017-03-23       user3  FMT_POS_7210  2017-01-26  2017-01-26
16228    user3  2017-03-23       user3  FMT_POS_7210  2017-01-13  2017-01-13
16552    user3  2017-03-23       user3  FMT_POS_7220         NaN  9999-12-31
17032    user3  2017-03-23       user3  FMT_UNB_0091         NaN  9999-12-31

      is_period
14789      True
14792      True
14873      True
14884      True
14885      True
14963      True
14964      True
15079      True
15080      True
16224      True
16225      True
16226      True
16227      True
16228      True
16552      True
17032      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
10573    user3  2017-03-13       user3      #POLICY#  2017-01-01  2017-02-07
10574    user3  2017-03-13       user3      #POLICY#  2017-01-01  2017-02-07
10575    user3  2017-03-13       user3      #POLICY#  2017-01-01  2017-02-07
10576    user3  2017-03-13       user3      #POLICY#  2017-01-01  2017-02-07
10577    user3  2017-03-13       user3      #POLICY#  2017-01-01  2017-02-02
10578    user3  2017-03-13       user3      #POLICY#  2017-01-01  2017-02-07
10579    user3  2017-03-13       user3      #POLICY#  2017-01-01  2017-02-07
10588    user3  2017-03-13       user3      #POLICY#  2017-01-01  2017-02-07
10666    user3  2017-03-13       user3  FMT_POS_0190         NaN  9999-12-31
10723    user3  2017-03-13       user3      #POLICY#  2017-01-01  2017-02-07
10725    user3  2017-03-13       user3      #POLICY#  2017-01-01  2017-02-07
10739    user3  2017-03-13       user3      #POLICY#  2017-01-01  2017-02-02
10740    user3  2017-03-13       user3      #POLICY#  2017-01-01  2017-02-07
10741    user3  2017-03-13       user3      #POLICY#  2017-01-01  2017-02-07
11391    user3  2017-03-13       user3  ODS_UNB_0410         NaN  9999-12-31
11394    user3  2017-03-13       user3      #POLICY#  2017-01-01  2017-02-07

      is_period
10573      True
10574      True
10575      True
10576      True
10577      True
10578      True
10579      True
10588      True
10666      True
10723      True
10725      True
10739      True
10740      True
10741      True
11391      True
11394      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
5279    user3  2017-03-10       user3      #POLICY#  2017-01-01  2017-02-02
5285    user3  2017-03-10       user3      #POLICY#  2017-01-01  2017-02-02
5452    user3  2017-03-10       user3      #POLICY#  2017-01-01  2017-02-02
5467    user3  2017-03-10       user3  ODS_UNB_0220  2017-01-10  2017-01-10
8493    user3  2017-03-10       user3  FMT_UNB_0670         NaN  9999-12-31
8519    user3  2017-03-10       user3  ODS_UNB_0680         NaN  9999-12-31
8520    user3  2017-03-10       user3  ODS_UNB_0680         NaN  9999-12-31
8521    user3  2017-03-10       user3  ODS_UNB_0680         NaN  9999-12-31
8639    user3  2017-03-10       user3  ODS_UNB_0680         NaN  9999-12-31
8644    user3  2017-03-10       user3  ODS_UNB_0680         NaN  9999-12-31
9222    user3  2017-03-10       user3  FMT_UNB_0670         NaN  9999-12-31
9228    user3  2017-03-10       user3  FMT_UNB_0670         NaN  9999-12-31
9435    user3  2017-03-10       user3      #POLICY#  2017-01-01  2017-02-02
9605    user3  2017-03-10       user3      #POLICY#  2017-01-01  2017-02-02
9730    user3  2017-03-10       user3  FMT_POS_0250  2017-02-02  2017-02-02

     is_period
5279      True
5285      True
5452      True
5467      True
8493      True
8519      True
8520      True
8521      True
8639      True
8644      True
9222      True
9228      True
9435      True
9605      True
9730      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
12507    user3  2017-03-18       user3  ODS_POS_1320         NaN  9999-12-31
12519    user3  2017-03-18       user3  ODS_POS_1330  2017-02-27  2017-02-27
12520    user3  2017-03-18       user3  ODS_POS_1330  2017-02-07  2017-02-07
12521    user3  2017-03-18       user3  ODS_POS_1330  2017-02-02  2017-02-02
12522    user3  2017-03-18       user3  ODS_POS_1330  2017-01-31  2017-01-31
12643    user3  2017-03-18       user3  ODS_POS_1320         NaN  9999-12-31
12645    user3  2017-03-18       user3  ODS_POS_1330  2017-01-03  2017-01-03
12646    user3  2017-03-18       user3  ODS_POS_1330  2017-01-02  2017-01-02
12670    user3  2017-03-18       user3  ODS_POS_1330  2017-02-07  2017-02-07
12841    user3  2017-03-18       user3  ODS_POS_1240  2017-01-13  2017-01-13
13457    user3  2017-03-18       user3  FMT_POS_0470  2017-02-07  2017-02-07
13527    user3  2017-03-18       user3  FMT_UNB_0372  2017-02-27  2017-02-27
13528    user3  2017-03-18       user3  FMT_UNB_0372  2017-02-07  2017-02-07
13529    user3  2017-03-18       user3  FMT_UNB_0372  2017-02-07  2017-02-07
13553    user3  2017-03-18       user3  FMT_UNB_0120         NaN  9999-12-31

      is_period
12507      True
12519      True
12520      True
12521      True
12522      True
12643      True
12645      True
12646      True
12670      True
12841      True
13457      True
13527      True
13528      True
13529      True
13553      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
15256    user3  2017-03-22       user3  ODS_POS_1580  2017-02-27  2017-02-27
15283    user3  2017-03-22       user3  ODS_POS_1580  2017-02-02  2017-02-02
15285    user3  2017-03-22       user3  ODS_POS_1580  2017-01-26  2017-01-26
15286    user3  2017-03-22       user3  ODS_POS_1580  2017-01-13  2017-01-13
15873    user3  2017-03-22       user3  ODS_POS_0950  2017-02-27  2017-02-27
17024    user3  2017-03-22       user3  FMT_POS_0470  2017-02-27  2017-02-27
17025    user3  2017-03-22       user3  FMT_POS_0470  2017-02-27  2017-02-27
17036    user3  2017-03-22       user3  ODS_POS_1580  2016-02-27  2016-02-27
17037    user3  2017-03-22       user3  ODS_POS_1580  2017-02-07  2017-02-07
17057    user3  2017-03-22       user3  ODS_POS_0760         NaN  9999-12-31
17058    user3  2017-03-22       user3  ODS_POS_0760         NaN  9999-12-31

      is_period
15256      True
15283      True
15285      True
15286      True
15873      True
17024      True
17025      True
17036      True
17037      True
17057      True
17058      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4443    user3  2017-03-08       user3  ODS_POS_1080  2017-01-03  2017-01-03
4800    user3  2017-03-08       user3  ODS_POS_0840         NaN  9999-12-31
4801    user3  2017-03-08       user3  FMT_POS_0250  2017-01-13  2017-01-13
4802    user3  2017-03-08       user3  FMT_POS_0250  2017-01-26  2017-01-26
4805    user3  2017-03-08       user3  ODS_POS_1080  2017-01-10  2017-01-10
4806    user3  2017-03-08       user3  ODS_POS_1080  2017-01-13  2017-01-13
4807    user3  2017-03-08       user3  ODS_POS_1080  2017-01-26  2017-01-26
4808    user3  2017-03-08       user3  ODS_POS_1080  2017-01-03  2017-01-03
9920    user3  2017-03-08       user3  FMT_POS_0160  2017-01-13  2017-01-13
9921    user3  2017-03-08       user3  FMT_POS_0160  2017-01-10  2017-01-10
9922    user3  2017-03-08       user3  FMT_POS_0160  2017-01-26  2017-01-26

     is_period
4443      True
4800      True
4801      True
4802      True
4805      True
4806      True
4807      True
4808      True
9920      True
9921      True
9922      True
QQ
      username  query_date report_name           doc start_date    end_date  \
17621    user3  2017-03-28       user3  FMT_UNB_0291        NaN  9999-12-31
18470    user3  2017-03-28       user3  FMT_UNB_0120        NaN  9999-12-31
18519    user3  2017-03-28       user3  FMT_UNB_0291        NaN  9999-12-31
18609    user3  2017-03-28       user3  FMT_POS_1560        NaN  9999-12-31
18610    user3  2017-03-28       user3  FMT_POS_1560        NaN  9999-12-31
18611    user3  2017-03-28       user3  FMT_POS_1560        NaN  9999-12-31
19869    user3  2017-03-28       user3  ODS_POS_0840        NaN  9999-12-31
20635    user3  2017-03-28       user3  FMT_UNB_0291        NaN  9999-12-31

      is_period
17621      True
18470      True
18519      True
18609      True
18610      True
18611      True
19869      True
20635      True
QQ
     username  query_date report_name           doc start_date    end_date  \
3755    user3  2017-02-21       user3  FMT_POS_0190        NaN  9999-12-31
3932    user3  2017-02-21       user3   LS_FIN_0080        NaN  9999-12-31
3933    user3  2017-02-21       user3   LS_INV_0010        NaN  9999-12-31
3934    user3  2017-02-21       user3   LS_FIN_0010        NaN  9999-12-31
3968    user3  2017-02-21       user3   LS_FIN_0080        NaN  9999-12-31
3969    user3  2017-02-21       user3   LS_FIN_0010        NaN  9999-12-31
3970    user3  2017-02-21       user3   LS_FIN_0010        NaN  9999-12-31
3971    user3  2017-02-21       user3   LS_FIN_0010        NaN  9999-12-31

     is_period
3755      True
3932      True
3933      True
3934      True
3968      True
3969      True
3970      True
3971      True
QQ

16606      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
28783    user3  2017-04-18       user3  FMT_POS_0130  2017-01-01  2017-05-31
28870    user3  2017-04-18       user3  FMT_POS_0130         NaN  9999-12-31
30802    user3  2017-04-18       user3  ODS_UNB_0261  2017-04-05  2017-04-05
30803    user3  2017-04-18       user3  ODS_UNB_0261  2017-05-31  2017-05-31
31086    user3  2017-04-18       user3  FMT_POS_0250  2017-05-31  2017-05-31

      is_period
28783      True
28870      True
30802      True
30803      True
31086      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
28044    user3  2017-04-14       user3  FMT_POS_0190  2017-04-01  2017-04-01
28045    user3  2017-04-14       user3  FMT_POS_0190  2015-02-27  2015-02-27
28051    user3  2017-04-14       user3  FMT_POS_0190  2015-02-27  2015-02-27
28942    user3  2017-04-14       user3  FMT_POS_0190  2017-04-30  2017-04-30

      is_period
28044      True
28045      True
28051      True
28942      True
QQ
     username  query_date report_name           doc start_date    end_date  \
251     user3  2017-02-09       user3  ODS_FIN_1060        NaN  9999-12-31
6326    user3  2017-02-09       user3   LS_UNB_0080        NaN  9999-12-31
7196    user3  2017-02-09       user3  ODS_FIN_1060        NaN  9999-12-31
7197    user3  2017-02-09       user3  ODS_FIN_1060        NaN  9999-12-31

     is_period
251       True
6326      True
7196      True
7197      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
23235    user3  2017-04-07       user3  FMT_POS_0190  2017-04-05  2017-04-05
23732    user3  2017-04-07       user3  FMT_POS_0190  2017-03-31  2017-03-31
23827    user3  2017-04-07       user3  FMT_POS_0190  2017-03-31  2017-03-31
25563    user3  2017-04-07       user3  FMT_POS_0190  2017-03-31  2017-03-31

      is_period
23235      True
23732      True
23827      True
25563      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
1427    user3  2017-04-19       user3   FMT_PA_0760         NaN  9999-12-31
2784    user3  2017-04-19       user3  FMT_POS_0250  2017-05-31  2017-05-31
2876    user3  2017-04-19       user3  FMT_POS_0250         NaN  9999-12-31

     is_period
1427      True
2784      True
2876      True
QQ
      username  query_date report_name           doc start_date    end_date  \
26647    user3  2017-04-12       user3  FMT_POS_0190        NaN  9999-12-31
26652    user3  2017-04-12       user3  FMT_POS_0190        NaN  9999-12-31
27113    user3  2017-04-12       user3  FMT_UNB_0441        NaN  9999-12-31

      is_period
26647      True
26652      True
27113      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
7600    user3  2017-03-04       user3  ODS_CLM_0580  2017-01-10  2017-01-10
7605    user3  2017-03-04       user3  ODS_FIN_0820         NaN  9999-12-31
7606    user3  2017-03-04       user3  ODS_CLM_0400  2017-01-10  2017-01-10

     is_period
7600      True
7605      True
7606      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
11100    user3  2017-03-14       user3  ODS_UNB_0220  2017-02-02  2017-02-02
11442    user3  2017-03-14       user3  ODS_INV_7010         NaN  9999-12-31
11489    user3  2017-03-14       user3  ODS_INV_7010         NaN  9999-12-31

      is_period
11100      True
11442      True
11489      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
15731    user3  2017-03-21       user3  ODS_POS_0880  2017-03-01  2017-03-01
15791    user3  2017-03-21       user3  ODS_POS_0880  2017-02-27  2017-02-27
15809    user3  2017-03-21       user3  ODS_POS_0880  2017-02-07  2017-02-07

      is_period
15731      True
15791      True
15809      True
QQ
      username  query_date report_name           doc start_date    end_date  \
22899    user3  2017-04-10       user3  FMT_UNB_0090        NaN  9999-12-31
26531    user3  2017-04-10       user3  FMT_POS_0190        NaN  9999-12-31
27930    user3  2017-04-10       user3  FMT_UNB_0660        NaN  9999-12-31

      is_period
22899      True
26531      True
27930      True
QQ
      username  query_date report_name           doc start_date    end_date  \
14699    user3  2017-03-25       user3  FMT_UNB_0291        NaN  9999-12-31
14701    user3  2017-03-25       user3  FMT_UNB_0291        NaN  9999-12-31
15279    user3  2017-03-25       user3  FMT_UNB_0291        NaN  9999-12-31

      is_period
14699      True
14701      True
15279      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
28808    user3  2017-04-17       user3  ODS_POS_1440  2017-04-30  2017-04-30
29476    user3  2017-04-17       user3  ODS_POS_1450         NaN  9999-12-31
30172    user3  2017-04-17       user3  ODS_POS_1440  2017-04-30  2017-04-30

      is_period
28808      True
29476      True
30172      True
QQ
     username  query_date report_name           doc start_date    end_date  \
3904    user3  2017-02-22       user3  ODS_INV_7150        NaN  9999-12-31
3919    user3  2017-02-22       user3  ODS_INV_7160        NaN  9999-12-31

     is_period
3904      True
3919      True
QQ
      username  query_date report_name          doc start_date    end_date  \
19224    user3  2017-03-27       user3  FMT_PA_0850        NaN  9999-12-31
19225    user3  2017-03-27       user3  FMT_PA_0850        NaN  9999-12-31

      is_period
19224      True
19225      True
QQ
     username  query_date report_name          doc start_date    end_date  \
1414    user3  2017-02-13       user3  LS_INV_0010        NaN  9999-12-31

     is_period
1414      True
QQ
      username  query_date report_name           doc start_date    end_date  \
23095    user3  2017-04-03       user3  FMT_UNB_0360        NaN  9999-12-31

      is_period
23095      True
QQ
      username  query_date report_name           doc start_date    end_date  \
28115    user3  2017-04-13       user3  FMT_UNB_0362        NaN  9999-12-31

      is_period
28115      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
4245    user3  2017-02-23       user3  FMT_PA_0850  2017-01-03  2017-01-03

     is_period
4245      True
QQ
      username  query_date report_name           doc start_date    end_date  \
21223    user3  2017-03-29       user3  FMT_UNB_0441        NaN  9999-12-31

      is_period
21223      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
13936    user3  2017-03-20       user3  LS_INV_0010  2017-02-27  2017-02-27

      is_period
13936      True
QQ
      username  query_date report_name             doc start_date    end_date  \
20059    user3  2017-03-26       user3  ODS_CLM_0440_T        NaN  9999-12-31

      is_period
20059      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
13570    user5  2017-03-20       user5  ODS_POS_1240  2017-02-27  2017-02-27
13587    user5  2017-03-20       user5  ODS_POS_1010  2017-02-07  2017-02-07
13925    user5  2017-03-20       user5  ODS_POS_0970         NaN  9999-12-31
13937    user5  2017-03-20       user5  ODS_UNB_0481  2017-01-03  2017-01-03
13941    user5  2017-03-20       user5  FMT_POS_0350  2017-02-07  2017-02-07
13942    user5  2017-03-20       user5  FMT_POS_0350  2017-02-27  2017-02-27
13945    user5  2017-03-20       user5  FMT_POS_0350  2017-02-07  2017-02-07
13955    user5  2017-03-20       user5  ODS_POS_0970         NaN  9999-12-31
13964    user5  2017-03-20       user5  ODS_POS_1010  2017-02-27  2017-02-27
13965    user5  2017-03-20       user5  ODS_POS_1010  2017-02-07  2017-02-07
13968    user5  2017-03-20       user5  ODS_POS_0970         NaN  9999-12-31
13969    user5  2017-03-20       user5  ODS_POS_0950  2017-02-07  2017-02-07
13976    user5  2017-03-20       user5  ODS_POS_1010  2017-02-07  2017-02-07
14018    user5  2017-03-20       user5  ODS_POS_1240  2017-02-27  2017-02-27
14079    user5  2017-03-20       user5  FMT_POS_0470  2017-02-07  2017-02-07
14080    user5  2017-03-20       user5  FMT_POS_0470  2017-02-07  2017-02-07
14081    user5  2017-03-20       user5  FMT_POS_0470  2017-02-07  2017-02-07
14329    user5  2017-03-20       user5  ODS_POS_0960         NaN  9999-12-31
14330    user5  2017-03-20       user5  ODS_POS_0960         NaN  9999-12-31
14334    user5  2017-03-20       user5  FMT_POS_0350  2017-02-07  2017-02-07
14335    user5  2017-03-20       user5  FMT_POS_0350  2017-02-27  2017-02-27
14338    user5  2017-03-20       user5  ODS_POS_0970         NaN  9999-12-31
14345    user5  2017-03-20       user5  ODS_POS_0950  2017-02-07  2017-02-07

      is_period
13570      True
13587      True
13925      True
13937      True
13941      True
13942      True
13945      True
13955      True
13964      True
13965      True
13968      True
13969      True
13976      True
14018      True
14079      True
14080      True
14081      True
14329      True
14330      True
14334      True
14335      True
14338      True
14345      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
28791    user5  2017-04-17       user5  ODS_POS_0940  2017-04-30  2017-04-30
28879    user5  2017-04-17       user5  ODS_POS_0950  2017-03-01  2017-03-01
28913    user5  2017-04-17       user5  ODS_POS_0950  2017-03-31  2017-03-31
28914    user5  2017-04-17       user5  ODS_POS_0950  2017-05-31  2017-05-31
28956    user5  2017-04-17       user5  ODS_POS_0950  2017-04-05  2017-04-05
28982    user5  2017-04-17       user5  ODS_POS_0950  2017-02-07  2017-02-07
28983    user5  2017-04-17       user5  ODS_POS_0950  2017-04-28  2017-04-28
29010    user5  2017-04-17       user5  ODS_POS_0950  2017-04-30  2017-04-30
29450    user5  2017-04-17       user5  ODS_POS_0940  2017-04-28  2017-04-28
29521    user5  2017-04-17       user5  ODS_POS_0950  2017-02-27  2017-02-27
29523    user5  2017-04-17       user5  FMT_POS_0250         NaN  9999-12-31
29556    user5  2017-04-17       user5  ODS_POS_0940  2017-04-30  2017-04-30
29558    user5  2017-04-17       user5  ODS_POS_0940  2017-04-28  2017-04-28
30152    user5  2017-04-17       user5  ODS_POS_0950  2017-04-30  2017-04-30
30155    user5  2017-04-17       user5   FMT_PA_0970  2017-04-01  2017-04-07
30156    user5  2017-04-17       user5   FMT_PA_0970  2017-04-01  2017-04-07
30157    user5  2017-04-17       user5   FMT_PA_0970  2017-04-01  2017-04-07
30158    user5  2017-04-17       user5   FMT_PA_0970  2017-04-01  2017-04-30
30159    user5  2017-04-17       user5   FMT_PA_0980  2017-04-01  2017-04-30
30160    user5  2017-04-17       user5   FMT_PA_0970  2016-04-01  2017-04-30
30161    user5  2017-04-17       user5   FMT_PA_0980  2016-04-01  2017-04-30
30187    user5  2017-04-17       user5   FMT_PA_0970  2016-04-01  2017-04-30
30188    user5  2017-04-17       user5   FMT_PA_0980  2016-04-01  2017-04-30

      is_period
28791      True
28879      True
28913      True
28914      True
28956      True
28982      True
28983      True
29010      True
29450      True
29521      True
29523      True
29556      True
29558      True
30152      True
30155      True
30156      True
30157      True
30158      True
30159      True
30160      True
30161      True
30187      True
30188      True
QQ
     username  query_date report_name             doc  start_date    end_date  \
2265    user5  2017-02-16       user5    ODS_POS_1290  2017-01-03  2017-01-03
2641    user5  2017-02-16       user5    ODS_POS_1300  2017-01-02  2017-01-02
2643    user5  2017-02-16       user5    ODS_POS_1300  2017-01-02  2017-01-02
2644    user5  2017-02-16       user5    ODS_POS_1330  2017-01-03  2017-01-03
2645    user5  2017-02-16       user5    ODS_POS_7030         NaN  9999-12-31
2646    user5  2017-02-16       user5    ODS_POS_1330  2017-01-03  2017-01-03
2647    user5  2017-02-16       user5    ODS_POS_1320         NaN  9999-12-31
2648    user5  2017-02-16       user5    FMT_POS_0010  2017-01-02  2017-02-21
2649    user5  2017-02-16       user5    FMT_POS_0020  2017-01-02  2017-02-21
2650    user5  2017-02-16       user5    FMT_POS_1120  2017-01-02  2017-02-21
2651    user5  2017-02-16       user5    FMT_POS_0040  2017-01-02  2017-02-21
2652    user5  2017-02-16       user5    FMT_POS_0260  2017-01-02  2017-02-21
2653    user5  2017-02-16       user5    FMT_POS_0030  2017-01-02  2017-02-21
2697    user5  2017-02-16       user5  ODS_POS_1350_P         NaN  9999-12-31
2699    user5  2017-02-16       user5    ODS_POS_7030         NaN  9999-12-31
2700    user5  2017-02-16       user5    ODS_POS_1340  2017-01-03  2017-01-03
2736    user5  2017-02-16       user5    ODS_POS_1330  2017-01-03  2017-01-03
7074    user5  2017-02-16       user5  ODS_POS_1350_P         NaN  9999-12-31
7075    user5  2017-02-16       user5  ODS_POS_1350_P         NaN  9999-12-31

     is_period
2265      True
2641      True
2643      True
2644      True
2645      True
2646      True
2647      True
2648      True
2649      True
2650      True
2651      True
2652      True
2653      True
2697      True
2699      True
2700      True
2736      True
7074      True
7075      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4167    user5  2017-03-07       user5  FMT_POS_0160  2017-01-10  2017-01-10
4168    user5  2017-03-07       user5  FMT_POS_0160  2017-01-13  2017-01-13
4169    user5  2017-03-07       user5  FMT_POS_0160  2017-01-03  2017-01-03
4210    user5  2017-03-07       user5  FMT_POS_0160  2017-01-03  2017-01-03
4505    user5  2017-03-07       user5  ODS_UNB_0510         NaN  9999-12-31
4693    user5  2017-03-07       user5  FMT_POS_0160  2017-01-10  2017-01-10
4694    user5  2017-03-07       user5  FMT_POS_0160  2017-01-13  2017-01-13
5580    user5  2017-03-07       user5  FMT_POS_0250  2017-01-26  2017-01-26
7995    user5  2017-03-07       user5  ODS_POS_7080         NaN  9999-12-31
8000    user5  2017-03-07       user5  ODS_POS_7080         NaN  9999-12-31
8603    user5  2017-03-07       user5  ODS_POS_7170         NaN  9999-12-31
8992    user5  2017-03-07       user5  FMT_POS_0150  2017-01-03  2017-01-03
8993    user5  2017-03-07       user5  FMT_POS_0150  2017-01-10  2017-01-10
8994    user5  2017-03-07       user5  FMT_POS_0150  2017-01-13  2017-01-13
9025    user5  2017-03-07       user5  ODS_POS_7080         NaN  9999-12-31
9438    user5  2017-03-07       user5  FMT_POS_7210  2017-01-01  2017-03-31
9794    user5  2017-03-07       user5  FMT_POS_0150  2017-01-03  2017-01-03
9795    user5  2017-03-07       user5  FMT_POS_0150  2017-01-09  2017-01-09

     is_period
4167      True
4168      True
4169      True
4210      True
4505      True
4693      True
4694      True
5580      True
7995      True
8000      True
8603      True
8992      True
8993      True
8994      True
9025      True
9438      True
9794      True
9795      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
7524    user5  2017-03-02       user5  FMT_POS_0070  2017-01-05  2017-01-05
7580    user5  2017-03-02       user5  FMT_POS_0070  2017-01-10  2017-01-10
8233    user5  2017-03-02       user5  ODS_POS_0990         NaN  9999-12-31
8277    user5  2017-03-02       user5  FMT_POS_0140  2017-01-06  2017-01-06
8316    user5  2017-03-02       user5  FMT_POS_0140  2017-01-06  2017-01-06
8320    user5  2017-03-02       user5  FMT_POS_0140  2017-01-05  2017-01-05
8321    user5  2017-03-02       user5  ODS_UNB_0510         NaN  9999-12-31
8326    user5  2017-03-02       user5  ODS_UNB_0510         NaN  9999-12-31
8349    user5  2017-03-02       user5  FMT_POS_0140  2017-01-10  2017-01-10
8384    user5  2017-03-02       user5  FMT_POS_0140  2017-01-09  2017-01-09
8387    user5  2017-03-02       user5  ODS_UNB_0570         NaN  9999-12-31
8389    user5  2017-03-02       user5  FMT_POS_0140  2017-01-08  2017-01-08
8395    user5  2017-03-02       user5  FMT_POS_0140  2017-01-07  2017-01-07
8396    user5  2017-03-02       user5  ODS_UNB_0640         NaN  9999-12-31
8431    user5  2017-03-02       user5  FMT_POS_0140  2017-01-06  2017-01-06
8438    user5  2017-03-02       user5  FMT_POS_0140  2017-01-06  2017-01-06
8472    user5  2017-03-02       user5  FMT_POS_0140  2017-01-06  2017-01-06

     is_period
7524      True
7580      True
8233      True
8277      True
8316      True
8320      True
8321      True
8326      True
8349      True
8384      True
8387      True
8389      True
8395      True
8396      True
8431      True
8438      True
8472      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
22970    user5  2017-04-10       user5  ODS_INV_7220         NaN  9999-12-31
22974    user5  2017-04-10       user5  FMT_POS_0020  2017-04-01  2017-04-05
22975    user5  2017-04-10       user5  FMT_POS_1120  2017-04-01  2017-04-05
22976    user5  2017-04-10       user5  FMT_POS_0020  2017-04-01  2017-04-05
22977    user5  2017-04-10       user5  FMT_POS_1120  2017-04-01  2017-04-05
24786    user5  2017-04-10       user5  FMT_POS_0020         NaN  9999-12-31
24795    user5  2017-04-10       user5  FMT_POS_0020         NaN  9999-12-31
24833    user5  2017-04-10       user5  FMT_POS_0140  2017-03-31  2017-03-31
24834    user5  2017-04-10       user5  FMT_POS_0140  2017-04-05  2017-04-05
24837    user5  2017-04-10       user5  ODS_INV_7220         NaN  9999-12-31
24861    user5  2017-04-10       user5  FMT_POS_0020         NaN  9999-12-31
24871    user5  2017-04-10       user5  FMT_POS_0020  2017-04-01  2017-04-05
24872    user5  2017-04-10       user5  FMT_POS_1120  2017-04-01  2017-04-05
26863    user5  2017-04-10       user5  FMT_POS_0020  2017-04-05  2017-04-05
26970    user5  2017-04-10       user5  FMT_POS_0020  2017-04-05  2017-04-05
26971    user5  2017-04-10       user5  FMT_POS_0010  2017-04-05  2017-04-05

      is_period
22970      True
22974      True
22975      True
22976      True
22977      True
24786      True
24795      True
24833      True
24834      True
24837      True
24861      True
24871      True
24872      True
26863      True
26970      True
26971      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
3908    user5  2017-02-22       user5      #POLICY#  2017-01-01  2017-01-10
4004    user5  2017-02-22       user5  ODS_UNB_0030         NaN  9999-12-31
4005    user5  2017-02-22       user5  ODS_UNB_0020         NaN  9999-12-31
4049    user5  2017-02-22       user5  FMT_POS_0190         NaN  9999-12-31
6003    user5  2017-02-22       user5      #POLICY#  2017-01-01  2017-01-10
6004    user5  2017-02-22       user5      #POLICY#  2017-01-01  2017-01-10
6005    user5  2017-02-22       user5      #POLICY#  2017-01-01  2017-01-10
6085    user5  2017-02-22       user5      #POLICY#  2017-01-01  2199-12-12
6094    user5  2017-02-22       user5      #POLICY#  2017-01-01  2017-01-10
7215    user5  2017-02-22       user5      #POLICY#  2017-01-01  2017-01-10
7221    user5  2017-02-22       user5      #POLICY#  2017-01-01  2017-01-01
7224    user5  2017-02-22       user5      #POLICY#  2017-01-01  2017-01-10
7225    user5  2017-02-22       user5      #POLICY#  2017-01-01  2017-01-01
7226    user5  2017-02-22       user5      #POLICY#  2017-01-01  2017-01-10
7232    user5  2017-02-22       user5      #POLICY#  2017-01-01  2017-01-10
7277    user5  2017-02-22       user5      #POLICY#  2017-01-01  2017-01-10

     is_period
3908      True
4004      True
4005      True
4049      True
6003      True
6004      True
6005      True
6085      True
6094      True
7215      True
7221      True
7224      True
7225      True
7226      True
7232      True
7277      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4817    user5  2017-03-09       user5  FMT_POS_1120  2017-01-13  2017-01-13
4818    user5  2017-03-09       user5  FMT_POS_1120  2017-01-12  2017-01-12

     username  query_date report_name       doc  start_date    end_date  \
5747    user5  2017-03-01       user5  #POLICY#  2017-01-01  2017-01-10
5748    user5  2017-03-01       user5  #POLICY#  2017-01-01  2017-01-10
5749    user5  2017-03-01       user5  #POLICY#  2017-01-01  2017-01-10
5750    user5  2017-03-01       user5  #POLICY#  2017-01-01  2017-01-10
5751    user5  2017-03-01       user5  #POLICY#  2017-01-01  2017-01-10
5752    user5  2017-03-01       user5  #POLICY#  2017-01-01  2017-01-10
5764    user5  2017-03-01       user5  #POLICY#  2017-01-01  2017-01-10
5765    user5  2017-03-01       user5  #POLICY#  2017-01-01  2017-01-10
5766    user5  2017-03-01       user5  #POLICY#  2017-01-01  2017-01-10
5767    user5  2017-03-01       user5  #POLICY#  2017-01-01  2017-01-10

     is_period
5747      True
5748      True
5749      True
5750      True
5751      True
5752      True
5764      True
5765      True
5766      True
5767      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
28411    user5  2017-04-15       user5  FMT_UNB_0200         NaN  9999-12-31
28412    user5  2017-04-15       user5  FMT_UNB_0200         NaN  9999-12-31
28417    user5  2017-04-15       user5  FMT_UNB_0200         NaN  9999-12-31
28419    user5  2017-04-15       user5  FMT_UNB_0200         NaN  9999-12-31
28420    user5  2017-04-15       user5  FMT_UNB_0200         NaN  9999-12-31
28421    user5  2017-04-15       user5  FMT_UNB_0200  2017-03-30  2017-03-30
28422    user5  2017-04-15       user5  FMT_UNB_0291         NaN  9999-12-31
28423    user5  2017-04-15       user5  FMT_UNB_0770         NaN  9999-12-31
28424    user5  2017-04-15       user5  FMT_UNB_0130         NaN  9999-12-31

      is_period
28411      True
28412      True
28417      True
28419      True
28420      True
28421      True
28422      True
28423      True
28424      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14585    user5  2017-03-21       user5  ODS_POS_1330  2017-02-27  2017-02-27
14586    user5  2017-03-21       user5  ODS_POS_1330  2017-02-07  2017-02-07
14587    user5  2017-03-21       user5  ODS_POS_1330  2017-02-02  2017-02-02
14588    user5  2017-03-21       user5  ODS_POS_1330  2017-01-26  2017-01-26
14589    user5  2017-03-21       user5  ODS_POS_1330  2017-01-13  2017-01-13
14671    user5  2017-03-21       user5  ODS_POS_1330  2017-02-27  2017-02-27
14672    user5  2017-03-21       user5  ODS_POS_1330  2017-02-07  2017-02-07
15491    user5  2017-03-21       user5  ODS_POS_1010  2017-01-10  2017-01-10
16220    user5  2017-03-21       user5  ODS_POS_1330  2017-02-27  2017-02-27

      is_period
14585      True
14586      True
14587      True
14588      True
14589      True
14671      True
14672      True
15491      True
16220      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
23164    user5  2017-04-06       user5  FMT_POS_0080  2017-03-31  2017-03-31
23165    user5  2017-04-06       user5  FMT_POS_0080  2017-03-01  2017-03-01
23166    user5  2017-04-06       user5  FMT_POS_0350  2017-02-27  2017-02-27
23295    user5  2017-04-06       user5  ODS_POS_1310  2017-03-31  2017-03-31
23296    user5  2017-04-06       user5  ODS_POS_1310  2017-03-01  2017-03-01
24152    user5  2017-04-06       user5  FMT_POS_0080  2017-03-01  2017-03-01
24153    user5  2017-04-06       user5  FMT_POS_0350  2017-03-31  2017-03-31
24154    user5  2017-04-06       user5  FMT_POS_0350  2017-03-01  2017-03-01
24155    user5  2017-04-06       user5  FMT_POS_0350  2017-02-27  2017-02-27

      is_period
23164      True
23165      True
23166      True
23295      True
23296      True
24152      True
24153      True
24154      True
24155      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
12833    user5  2017-03-18       user5  ODS_POS_1240  2017-02-27  2017-02-27
12834    user5  2017-03-18       user5  ODS_POS_1240  2017-02-27  2017-02-27
12835    user5  2017-03-18       user5  ODS_POS_1240  2017-02-27  2017-02-27
12836    user5  2017-03-18       user5  ODS_POS_1240  2017-02-27  2017-02-27
12837    user5  2017-03-18       user5  ODS_POS_1240  2017-02-07  2017-02-07
12838    user5  2017-03-18       user5  ODS_POS_1240  2017-02-27  2017-02-27
13544    user5  2017-03-18       user5  ODS_POS_1240  2017-01-13  2017-01-13

      is_period
12833      True
12834      True
12835      True
12836      True
12837      True
12838      True
13544      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
3848    user5  2017-02-21       user5      #POLICY#  2017-01-01  2017-01-10
3852    user5  2017-02-21       user5      #POLICY#  2017-01-01  2017-01-01
3853    user5  2017-02-21       user5      #POLICY#  2017-01-01  2017-01-10
3858    user5  2017-02-21       user5      #POLICY#  2017-01-01  2017-01-10
3859    user5  2017-02-21       user5      #POLICY#  2017-01-01  2017-01-10
6755    user5  2017-02-21       user5  FMT_POS_0190         NaN  9999-12-31

     is_period
3848      True
3852      True
3853      True
3858      True
3859      True
6755      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
19873    user5  2017-03-28       user5  ODS_PA_0651_P  2017-01-01  2017-03-31
20022    user5  2017-03-28       user5   FMT_POS_0250         NaN  9999-12-31
20061    user5  2017-03-28       user5   ODS_POS_1320         NaN  9999-12-31
20115    user5  2017-03-28       user5   FMT_UNB_0120         NaN  9999-12-31
20495    user5  2017-03-28       user5   ODS_POS_1440  2017-03-01  2017-03-01
20752    user5  2017-03-28       user5  ODS_PA_0651_P  2016-10-01  2017-03-31

      is_period
19873      True
20022      True
20061      True
20115      True
20495      True
20752      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17522    user5  2017-03-31       user5  FMT_POS_0140  2017-01-13  2017-01-13
17600    user5  2017-03-31       user5      #POLICY#  2017-03-31  2017-03-31
17624    user5  2017-03-31       user5      #POLICY#  2017-01-01  2017-03-31
17694    user5  2017-03-31       user5      #POLICY#  2017-01-01  2017-03-31
17709    user5  2017-03-31       user5      #POLICY#  2017-03-31  2017-03-31
17856    user5  2017-03-31       user5      #POLICY#  2017-01-01  2017-03-31

      is_period
17522      True
17600      True
17624      True
17694      True
17709      True
17856      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
24737    user5  2017-04-07       user5  ODS_POS_1660  2017-03-31  2017-03-31
24738    user5  2017-04-07       user5  ODS_POS_1660  2017-03-01  2017-03-01
24739    user5  2017-04-07       user5  ODS_POS_1660  2017-03-01  2017-03-01
24740    user5  2017-04-07       user5  FMT_POS_0020  2017-03-31  2017-03-31
24741    user5  2017-04-07       user5  FMT_POS_0020         NaN  9999-12-31

      is_period
24737      True
24738      True
24739      True
24740      True
24741      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4235    user5  2017-02-24       user5  ODS_UNB_0220  2017-01-03  2017-01-03
4360    user5  2017-02-24       user5  ODS_UNB_0230         NaN  9999-12-31
4370    user5  2017-02-24       user5  ODS_UNB_0220  2017-01-03  2017-01-03
7219    user5  2017-02-24       user5      #POLICY#  2017-01-01  2017-01-10
7222    user5  2017-02-24       user5      #POLICY#  2017-01-01  2017-01-20

     is_period
4235      True
4360      True
4370      True
7219      True
7222      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
28978    user5  2017-04-13       user5  FMT_UNB_0670         NaN  9999-12-31
29851    user5  2017-04-13       user5      #POLICY#  2017-01-01  2017-05-01
30265    user5  2017-04-13       user5      #POLICY#  2017-04-30  2017-04-30
30266    user5  2017-04-13       user5      #POLICY#  2017-01-01  2017-05-01

      is_period
28978      True
29851      True
30265      True
30266      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
15121    user5  2017-03-25       user5  ODS_POS_1660  2017-02-07  2017-02-07
15122    user5  2017-03-25       user5  ODS_POS_1660  2017-02-27  2017-02-27
15123    user5  2017-03-25       user5  ODS_POS_1660  2017-02-09  2017-02-09
17447    user5  2017-03-25       user5  FMT_POS_0440  2017-02-07  2017-02-07

      is_period
15121      True
15122      True
15123      True
17447      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
21349    user5  2017-04-05       user5  ODS_POS_1440  2017-01-13  2017-01-13
21351    user5  2017-04-05       user5  ODS_POS_1440  2017-01-26  2017-01-26
21593    user5  2017-04-05       user5  ODS_POS_1440  2017-01-13  2017-01-13

      is_period
21349      True
21351      True
21593      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
27488    user5  2017-04-11       user5  FMT_POS_1720  2017-04-05  2017-04-05
27489    user5  2017-04-11       user5  FMT_POS_1720  2017-03-30  2017-03-30
27559    user5  2017-04-11       user5  FMT_POS_1720  2017-03-31  2017-03-31

      is_period
27488      True
27489      True
27559      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
16941    user5  2017-03-23       user5  ODS_POS_1320         NaN  9999-12-31
17292    user5  2017-03-23       user5  ODS_POS_1440  2017-02-27  2017-02-27
17293    user5  2017-03-23       user5  ODS_POS_1440  2017-02-02  2017-02-02

      is_period
16941      True
17292      True
17293      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
30248    user5  2017-04-14       user5  FMT_POS_7230  2017-04-05  2017-04-05
30249    user5  2017-04-14       user5  FMT_POS_0140  2017-04-05  2017-04-05
30250    user5  2017-04-14       user5  FMT_POS_0140  2017-04-03  2017-04-03

      is_period
30248      True
30249      True
30250      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
7954    user5  2017-03-04       user5  ODS_POS_7080         NaN  9999-12-31
8186    user5  2017-03-04       user5  FMT_POS_0140  2017-01-10  2017-01-10

     is_period
7954      True
8186      True
QQ
      username  query_date report_name       doc start_date    end_date  \
31369    user5  2017-04-21       user5  #POLICY#        NaN  9999-12-31
31370    user5  2017-04-21       user5  #POLICY#        NaN  9999-12-31

      is_period
31369      True
31370      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
1416    user5  2017-02-13       user5  FMT_POS_1120  2016-12-30  2016-12-30
1417    user5  2017-02-13       user5  FMT_POS_1120  2017-12-30  2017-12-30

     is_period
1416      True
1417      True
QQ
      username  query_date report_name           doc start_date    end_date  \
16592    user5  2017-03-24       user5  ODS_POS_7080        NaN  9999-12-31
16593    user5  2017-03-24       user5  ODS_POS_7080        NaN  9999-12-31

      is_period
16592      True
16593      True
QQ
     username  query_date report_name           doc start_date    end_date  \
7889    user5  2017-03-03       user5  FMT_POS_0190        NaN  9999-12-31

     is_period
7889      True

QQ
      username  query_date report_name           doc start_date    end_date  \
24459    user5  2017-04-08       user5  FMT_POS_0250        NaN  9999-12-31

      is_period
24459      True
QQ
      username  query_date report_name           doc start_date    end_date  \
10520    user5  2017-03-11       user5  ODS_POS_0990        NaN  9999-12-31

      is_period
10520      True
QQ
     username  query_date report_name           doc start_date    end_date  \
1174    user5  2017-02-14       user5  FMT_POS_0190        NaN  9999-12-31

     is_period
1174      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
2483    user5  2017-02-17       user5  FMT_POS_0160  2017-01-03  2017-01-03

     is_period
2483      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
2479   shiang  2017-02-20      shiang  ODS_POS_0430         NaN  9999-12-31
2623   shiang  2017-02-20      shiang  ODS_POS_0430         NaN  9999-12-31
2755   shiang  2017-02-20      shiang  ODS_POS_0770  2017-01-02  2017-01-02
2764   shiang  2017-02-20      shiang  ODS_POS_0770  2017-01-02  2017-01-02
2769   shiang  2017-02-20      shiang  ODS_POS_0770  2017-01-02  2017-01-02
2879   shiang  2017-02-20      shiang  ODS_POS_1130  2016-11-30  2016-11-30
2881   shiang  2017-02-20      shiang  ODS_POS_1250  2017-01-31  2017-01-31
2882   shiang  2017-02-20      shiang  ODS_POS_1260  2017-01-31  2017-01-31
2883   shiang  2017-02-20      shiang  ODS_POS_1260  2016-11-17  2016-11-17
2886   shiang  2017-02-20      shiang  ODS_POS_1340  2016-09-30  2016-09-30
3704   shiang  2017-02-20      shiang  ODS_UNB_0690         NaN  9999-12-31
3705   shiang  2017-02-20      shiang  ODS_POS_1130  2016-12-30  2016-12-30
3706   shiang  2017-02-20      shiang  ODS_POS_1130  2016-11-30  2016-11-30
3707   shiang  2017-02-20      shiang  ODS_POS_1130  2016-12-31  2016-12-31
3708   shiang  2017-02-20      shiang  ODS_UNB_0481  2016-12-30  2016-12-30
3709   shiang  2017-02-20      shiang  ODS_UNB_0510         NaN  9999-12-31
3798   shiang  2017-02-20      shiang  ODS_POS_0770  2017-01-02  2017-01-02
3810   shiang  2017-02-20      shiang  ODS_POS_1260  2016-10-31  2016-10-31
3811   shiang  2017-02-20      shiang  ODS_POS_1260  2016-11-17  2016-11-17
3845   shiang  2017-02-20      shiang  ODS_POS_0670         NaN  9999-12-31
3867   shiang  2017-02-20      shiang  ODS_POS_1320         NaN  9999-12-31
3868   shiang  2017-02-20      shiang  ODS_POS_1320         NaN  9999-12-31
6745   shiang  2017-02-20      shiang  ODS_POS_0670         NaN  9999-12-31
6750   shiang  2017-02-20      shiang  ODS_POS_1290  2017-01-03  2017-01-03
6751   shiang  2017-02-20      shiang  ODS_POS_1290  2017-01-02  2017-01-02
6839   shiang  2017-02-20      shiang  ODS_UNB_0680         NaN  9999-12-31
6840   shiang  2017-02-20      shiang  ODS_UNB_0690         NaN  9999-12-31
6885   shiang  2017-02-20      shiang  ODS_UNB_0690         NaN  9999-12-31
6886   shiang  2017-02-20      shiang  ODS_UNB_0470         NaN  9999-12-31
6934   shiang  2017-02-20      shiang  ODS_POS_1250  2016-01-02  2016-01-02
6943   shiang  2017-02-20      shiang  ODS_POS_1390  2016-09-30  2016-09-30
6944   shiang  2017-02-20      shiang  ODS_POS_1410  2016-09-30  2016-09-30
6962   shiang  2017-02-20      shiang  ODS_POS_0840         NaN  9999-12-31
6967   shiang  2017-02-20      shiang  ODS_UNB_0700         NaN  9999-12-31
6984   shiang  2017-02-20      shiang  ODS_POS_1280  2016-08-01  2016-08-01
7022   shiang  2017-02-20      shiang  ODS_POS_1280  2017-01-31  2017-01-31
7023   shiang  2017-02-20      shiang  ODS_POS_1300  2017-01-02  2017-01-02

     is_period
2479      True
2623      True
2755      True
2764      True
2769      True
2879      True
2881      True
2882      True
2883      True
2886      True
3704      True
3705      True
3706      True
3707      True
3708      True
3709      True
3798      True
3810      True
3811      True
3845      True
3867      True
3868      True
6745      True
6750      True
6751      True
6839      True
6840      True
6885      True
6886      True
6934      True
6943      True
6944      True
6962      True
6967      True
6984      True
7022      True
7023      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
12329   shiang  2017-03-17      shiang  ODS_POS_0880  2017-02-07  2017-02-07
12330   shiang  2017-03-17      shiang  ODS_POS_0880  2017-02-07  2017-02-07
12339   shiang  2017-03-17      shiang   ODS_SC_6170  2017-02-03  2017-02-03
12340   shiang  2017-03-17      shiang   ODS_SC_6180  2017-02-03  2017-02-03
12341   shiang  2017-03-17      shiang    LS_SC_2103  2017-02-03  2017-02-03
12342   shiang  2017-03-17      shiang    LS_SC_5720  2017-02-03  2017-02-03
12343   shiang  2017-03-17      shiang    LS_SC_2024  2017-02-03  2017-02-03
12344   shiang  2017-03-17      shiang    LS_SC_5120  2017-02-03  2017-02-03
12345   shiang  2017-03-17      shiang    LS_SC_2102  2017-02-03  2017-02-03
12346   shiang  2017-03-17      shiang    LS_SC_2023  2017-02-03  2017-02-03
12347   shiang  2017-03-17      shiang  FMT_UNB_0090  2017-02-03  2017-02-03
12348   shiang  2017-03-17      shiang  FMT_UNB_0091  2017-02-03  2017-02-03
12349   shiang  2017-03-17      shiang  FMT_UNB_0092  2017-02-03  2017-02-03
12350   shiang  2017-03-17      shiang  FMT_UNB_0120  2017-02-03  2017-02-03
12351   shiang  2017-03-17      shiang  FMT_UNB_0130  2017-02-03  2017-02-03
12354   shiang  2017-03-17      shiang  ODS_UNB_0231  2017-02-07  2017-02-07
12355   shiang  2017-03-17      shiang  ODS_UNB_0232  2017-02-07  2017-02-07
12359   shiang  2017-03-17      shiang  FMT_UNB_0200  2017-02-03  2017-02-03
12360   shiang  2017-03-17      shiang  FMT_UNB_0201  2017-02-03  2017-02-03
12361   shiang  2017-03-17      shiang  ODS_POS_0430         NaN  9999-12-31
13135   shiang  2017-03-17      shiang  ODS_POS_0880  2017-02-07  2017-02-07
13136   shiang  2017-03-17      shiang  ODS_POS_0880  2017-02-07  2017-02-07
13137   shiang  2017-03-17      shiang  ODS_POS_0880  2017-02-07  2017-02-07
13138   shiang  2017-03-17      shiang  ODS_POS_0880  2017-02-07  2017-02-07
13139   shiang  2017-03-17      shiang  ODS_POS_0880  2017-02-07  2017-02-07
13140   shiang  2017-03-17      shiang  ODS_POS_0880  2017-02-07  2017-02-07
13143   shiang  2017-03-17      shiang  ODS_POS_0880  2017-02-07  2017-02-07
13145   shiang  2017-03-17      shiang  ODS_POS_0880  2017-02-07  2017-02-07
13149   shiang  2017-03-17      shiang  ODS_POS_0880  2017-02-07  2017-02-07
13150   shiang  2017-03-17      shiang  ODS_POS_0880  2017-02-07  2017-02-07
13484   shiang  2017-03-17      shiang  ODS_POS_1260  2017-01-13  2017-01-13

      is_period
12329      True
12330      True
12339      True
12340      True
12341      True
12342      True
12343      True
12344      True
12345      True
12346      True
12347      True
12348      True
12349      True
12350      True
12351      True
12354      True
12355      True
12359      True
12360      True
12361      True
13135      True
13136      True
13137      True
13138      True
13139      True
13140      True
13143      True
13145      True
13149      True
13150      True
13484      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17631   shiang  2017-03-30      shiang  ODS_POS_1320         NaN  9999-12-31
17633   shiang  2017-03-30      shiang  ODS_POS_1080  2017-03-01  2017-03-01
17726   shiang  2017-03-30      shiang  ODS_POS_1250  2017-03-01  2017-03-01
17728   shiang  2017-03-30      shiang  ODS_POS_1250  2017-03-01  2017-03-01
17846   shiang  2017-03-30      shiang  ODS_POS_1250  2017-03-01  2017-03-01
18191   shiang  2017-03-30      shiang  ODS_POS_0770  2017-01-10  2017-01-10
18192   shiang  2017-03-30      shiang  ODS_POS_0430         NaN  9999-12-31
19651   shiang  2017-03-30      shiang  ODS_POS_1160         NaN  9999-12-31
19678   shiang  2017-03-30      shiang  ODS_POS_1330  2017-02-28  2017-02-28
19679   shiang  2017-03-30      shiang  ODS_POS_1330  2017-03-01  2017-03-01
19684   shiang  2017-03-30      shiang  ODS_POS_1330  2017-03-01  2017-03-01
20189   shiang  2017-03-30      shiang  ODS_POS_1160         NaN  9999-12-31
20192   shiang  2017-03-30      shiang  ODS_POS_1330  2017-03-01  2017-03-01
20408   shiang  2017-03-30      shiang  ODS_POS_1160         NaN  9999-12-31
20498   shiang  2017-03-30      shiang  ODS_UNB_0430         NaN  9999-12-31
20499   shiang  2017-03-30      shiang  ODS_UNB_0430         NaN  9999-12-31
20500   shiang  2017-03-30      shiang  ODS_POS_0430         NaN  9999-12-31
21121   shiang  2017-03-30      shiang  ODS_POS_1320         NaN  9999-12-31
21122   shiang  2017-03-30      shiang  ODS_POS_1320         NaN  9999-12-31

      is_period
17631      True
17633      True
17726      True
17728      True
17846      True
18191      True
18192      True
19651      True
19678      True
19679      True
19684      True
20189      True
20192      True
20408      True
20498      True
20499      True
20500      True
21121      True
21122      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
18198   shiang  2017-03-27      shiang  ODS_POS_1240  2017-02-27  2017-02-27
18272   shiang  2017-03-27      shiang  ODS_UNB_0020         NaN  9999-12-31
18641   shiang  2017-03-27      shiang  ODS_POS_0960         NaN  9999-12-31
18642   shiang  2017-03-27      shiang  ODS_UNB_0430         NaN  9999-12-31
18672   shiang  2017-03-27      shiang  ODS_POS_1010  2017-02-07  2017-02-07
18694   shiang  2017-03-27      shiang  ODS_POS_1010  2017-02-07  2017-02-07
18695   shiang  2017-03-27      shiang  ODS_POS_1010  2017-02-07  2017-02-07
18704   shiang  2017-03-27      shiang  ODS_POS_0430         NaN  9999-12-31
18705   shiang  2017-03-27      shiang  ODS_POS_0430         NaN  9999-12-31
19052   shiang  2017-03-27      shiang  ODS_POS_1000  2017-02-27  2017-02-27
19053   shiang  2017-03-27      shiang  ODS_POS_1000  2017-02-28  2017-02-28
19174   shiang  2017-03-27      shiang  ODS_POS_1260  2017-02-07  2017-02-07
19175   shiang  2017-03-27      shiang  ODS_POS_1260  2017-02-07  2017-02-07
19426   shiang  2017-03-27      shiang  ODS_POS_1260  2017-02-07  2017-02-07
19984   shiang  2017-03-27      shiang  ODS_POS_0960         NaN  9999-12-31
20587   shiang  2017-03-27      shiang  ODS_POS_1010  2017-02-07  2017-02-07
20591   shiang  2017-03-27      shiang  ODS_POS_1250  2017-01-13  2017-01-13
20592   shiang  2017-03-27      shiang  ODS_POS_1250  2017-01-13  2017-01-13

      is_period
18198      True
18272      True
18641      True
18642      True
18672      True
18694      True
18695      True
18704      True
18705      True
19052      True
19053      True
19174      True
19175      True
19426      True
19984      True
20587      True
20591      True
20592      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17537   shiang  2017-03-31      shiang  ODS_POS_1450         NaN  9999-12-31
17538   shiang  2017-03-31      shiang  ODS_POS_1450         NaN  9999-12-31
17551   shiang  2017-03-31      shiang  ODS_POS_1410  2017-03-01  2017-03-01
17585   shiang  2017-03-31      shiang  ODS_POS_1410  2017-03-01  2017-03-01
17599   shiang  2017-03-31      shiang  ODS_POS_1330  2017-03-01  2017-03-01
17643   shiang  2017-03-31      shiang  ODS_POS_1330  2017-03-01  2017-03-01
17794   shiang  2017-03-31      shiang  ODS_UNB_0050  2017-02-02  2017-02-02
20076   shiang  2017-03-31      shiang  ODS_POS_1450         NaN  9999-12-31
20594   shiang  2017-03-31      shiang  ODS_POS_1250  2017-03-01  2017-03-01
20629   shiang  2017-03-31      shiang  ODS_POS_1260  2017-03-01  2017-03-01
20630   shiang  2017-03-31      shiang  ODS_POS_1260  2017-02-07  2017-02-07
20814   shiang  2017-03-31      shiang  ODS_POS_1450         NaN  9999-12-31
21087   shiang  2017-03-31      shiang  ODS_POS_1460  2017-03-01  2017-03-01
21089   shiang  2017-03-31      shiang  ODS_POS_1460  2017-03-01  2017-03-01
21116   shiang  2017-03-31      shiang  ODS_POS_1450         NaN  9999-12-31
21131   shiang  2017-03-31      shiang  ODS_POS_1450         NaN  9999-12-31
21148   shiang  2017-03-31      shiang  ODS_POS_1450         NaN  9999-12-31

      is_period
17537      True
17538      True
17551      True
17585      True
17599      True
17643      True
17794      True
20076      True
20594      True
20629      True
20630      True
20814      True
21087      True
21089      True
21116      True
21131      True
21148      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
10821   shiang  2017-03-14      shiang  ODS_POS_0880  2017-02-02  2017-02-02
10826   shiang  2017-03-14      shiang  ODS_UNB_0220  2017-02-02  2017-02-02
10828   shiang  2017-03-14      shiang  ODS_UNB_0221  2017-02-02  2017-02-02
10831   shiang  2017-03-14      shiang  ODS_UNB_0220  2017-02-02  2017-02-02
10833   shiang  2017-03-14      shiang  ODS_POS_1460  2017-02-02  2017-02-02
10863   shiang  2017-03-14      shiang  ODS_POS_0840         NaN  9999-12-31
10903   shiang  2017-03-14      shiang  ODS_POS_0880  2017-02-02  2017-02-02
10907   shiang  2017-03-14      shiang  ODS_POS_1330  2017-02-02  2017-02-02
11053   shiang  2017-03-14      shiang  ODS_POS_1440  2017-02-02  2017-02-02
11070   shiang  2017-03-14      shiang  ODS_POS_0880  2017-02-02  2017-02-02
11183   shiang  2017-03-14      shiang  ODS_POS_0840         NaN  9999-12-31
11184   shiang  2017-03-14      shiang  ODS_POS_0840         NaN  9999-12-31
11185   shiang  2017-03-14      shiang  ODS_POS_1440  2017-02-02  2017-02-02
11660   shiang  2017-03-14      shiang  ODS_POS_1440  2017-02-02  2017-02-02
11705   shiang  2017-03-14      shiang  ODS_UNB_0220  2017-02-02  2017-02-02
11971   shiang  2017-03-14      shiang  ODS_UNB_0221  2017-02-02  2017-02-02
11972   shiang  2017-03-14      shiang  ODS_UNB_0220  2017-02-02  2017-02-02

      is_period
10821      True
10826      True
10828      True
10831      True
10833      True
10863      True
10903      True
10907      True
11053      True
11070      True
11183      True
11184      True
11185      True
11660      True
11705      True
11971      True
11972      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14571   shiang  2017-03-21      shiang  ODS_POS_1010  2017-02-27  2017-02-27
14668   shiang  2017-03-21      shiang  ODS_POS_0880  2017-02-07  2017-02-07
15241   shiang  2017-03-21      shiang  ODS_POS_1240  2017-02-28  2017-02-28
15242   shiang  2017-03-21      shiang  ODS_POS_1240  2017-02-27  2017-02-27
15263   shiang  2017-03-21      shiang  ODS_POS_1240  2017-02-27  2017-02-27
15264   shiang  2017-03-21      shiang  ODS_POS_1000  2017-02-27  2017-02-27
15265   shiang  2017-03-21      shiang  ODS_POS_1000  2017-02-27  2017-02-27
15268   shiang  2017-03-21      shiang  ODS_POS_1000  2017-02-28  2017-02-28
15503   shiang  2017-03-21      shiang  ODS_POS_1010  2017-02-27  2017-02-27
15729   shiang  2017-03-21      shiang  ODS_UNB_0320         NaN  9999-12-31
17172   shiang  2017-03-21      shiang  ODS_POS_1240  2017-02-27  2017-02-27
17175   shiang  2017-03-21      shiang  ODS_POS_1010  2017-02-02  2017-02-02
17176   shiang  2017-03-21      shiang  ODS_POS_1010  2017-02-07  2017-02-07
17177   shiang  2017-03-21      shiang  ODS_POS_1130  2017-02-02  2017-02-02
17225   shiang  2017-03-21      shiang  ODS_POS_1010  2017-02-07  2017-02-07
17226   shiang  2017-03-21      shiang  ODS_POS_1000  2017-02-27  2017-02-27

      is_period
14571      True
14668      True
15241      True
15242      True
15263      True
15264      True
15265      True
15268      True
15503      True
15729      True
17172      True
17175      True
17176      True
17177      True
17225      True
17226      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4166   shiang  2017-03-07      shiang  ODS_POS_0430         NaN  9999-12-31
4176   shiang  2017-03-07      shiang  ODS_POS_1410  2017-01-13  2017-01-13
4208   shiang  2017-03-07      shiang  ODS_POS_0430         NaN  9999-12-31
4211   shiang  2017-03-07      shiang  ODS_POS_0430         NaN  9999-12-31
5391   shiang  2017-03-07      shiang  ODS_POS_1440  2017-01-13  2017-01-13
5402   shiang  2017-03-07      shiang  ODS_POS_0780  2017-01-10  2017-01-10
5412   shiang  2017-03-07      shiang  ODS_POS_0780  2017-01-13  2017-01-13
8522   shiang  2017-03-07      shiang  ODS_POS_1440  2017-01-10  2017-01-10
8549   shiang  2017-03-07      shiang  ODS_POS_1440  2017-01-13  2017-01-13
8598   shiang  2017-03-07      shiang  ODS_POS_0780  2017-01-13  2017-01-13
8601   shiang  2017-03-07      shiang  ODS_POS_1410  2017-01-13  2017-01-13

     is_period
4166      True
4176      True
4208      True
4211      True
5391      True
5402      True
5412      True
8522      True
8549      True
8598      True
8601      True
QQ
      username  query_date report_name             doc  start_date  \
4486    shiang  2017-03-08      shiang  ODS_POS_1350_P         NaN
4487    shiang  2017-03-08      shiang  ODS_POS_1350_P         NaN
4488    shiang  2017-03-08      shiang    ODS_POS_1440  2017-01-13
4707    shiang  2017-03-08      shiang    ODS_POS_0840         NaN
4708    shiang  2017-03-08      shiang    ODS_POS_1450         NaN
4709    shiang  2017-03-08      shiang    ODS_POS_1450         NaN
7880    shiang  2017-03-08      shiang    ODS_POS_0840         NaN
9656    shiang  2017-03-08      shiang  ODS_POS_1350_E         NaN
10009   shiang  2017-03-08      shiang  ODS_POS_1350_P         NaN
10068   shiang  2017-03-08      shiang  ODS_POS_1350_P         NaN
10380   shiang  2017-03-08      shiang    ODS_POS_1140         NaN

         end_date is_period
4486   9999-12-31      True
4487   9999-12-31      True
4488   2017-01-13      True
4707   9999-12-31      True
4708   9999-12-31      True
4709   9999-12-31      True
7880   9999-12-31      True
9656   9999-12-31      True
10009  9999-12-31      True
10068  9999-12-31      True
10380  9999-12-31      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
11714   shiang  2017-03-15      shiang  ODS_POS_1390  2017-01-10  2017-01-10
11816   shiang  2017-03-15      shiang  ODS_POS_1390  2017-01-10  2017-01-10
11864   shiang  2017-03-15      shiang  ODS_POS_0430         NaN  9999-12-31
11869   shiang  2017-03-15      shiang  ODS_POS_0430         NaN  9999-12-31
11871   shiang  2017-03-15      shiang  ODS_UNB_0050  2017-02-02  2017-02-02
11873   shiang  2017-03-15      shiang  ODS_UNB_0050  2017-02-02  2017-02-02
12083   shiang  2017-03-15      shiang  ODS_UNB_0640         NaN  9999-12-31
12124   shiang  2017-03-15      shiang  ODS_UNB_0640         NaN  9999-12-31
12148   shiang  2017-03-15      shiang  ODS_UNB_0510         NaN  9999-12-31

      is_period
11714      True
11816      True
11864      True
11869      True
11871      True
11873      True
12083      True
12124      True
12148      True
QQ

      username  query_date report_name           doc  start_date    end_date  \
10586   shiang  2017-03-13      shiang  ODS_POS_1110  2017-02-02  2017-02-02
10708   shiang  2017-03-13      shiang  ODS_UNB_0220  2017-01-10  2017-01-10
10712   shiang  2017-03-13      shiang  ODS_POS_1130  2017-02-02  2017-02-02
10713   shiang  2017-03-13      shiang  ODS_POS_1130  2017-02-02  2017-02-02
10719   shiang  2017-03-13      shiang  ODS_UNB_0221  2017-01-26  2017-01-26
10735   shiang  2017-03-13      shiang  ODS_POS_1080  2017-02-02  2017-02-02
10743   shiang  2017-03-13      shiang  ODS_POS_1110  2017-01-26  2017-01-26
10744   shiang  2017-03-13      shiang  ODS_POS_1110  2017-02-02  2017-02-02
11314   shiang  2017-03-13      shiang  ODS_POS_1130  2017-01-26  2017-01-26

      is_period
10586      True
10708      True
10712      True
10713      True
10719      True
10735      True
10743      True
10744      True
11314      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14864   shiang  2017-03-25      shiang  ODS_POS_1330  2017-01-10  2017-01-10
14865   shiang  2017-03-25      shiang  ODS_POS_1330  2017-01-10  2017-01-10
15247   shiang  2017-03-25      shiang  ODS_POS_1330  2017-01-10  2017-01-10
15248   shiang  2017-03-25      shiang  ODS_POS_1330  2017-02-28  2017-02-28
15249   shiang  2017-03-25      shiang  ODS_POS_1330  2017-02-07  2017-02-07
15273   shiang  2017-03-25      shiang  ODS_POS_1330  2017-01-02  2017-01-02
15276   shiang  2017-03-25      shiang  ODS_POS_1320         NaN  9999-12-31
15277   shiang  2017-03-25      shiang  ODS_POS_1320         NaN  9999-12-31
17457   shiang  2017-03-25      shiang  ODS_UNB_0480  2017-01-10  2017-01-10

      is_period
14864      True
14865      True
15247      True
15248      True
15249      True
15273      True
15276      True
15277      True
17457      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
4998    shiang  2017-03-10      shiang  ODS_POS_0880  2017-01-13  2017-01-13
4999    shiang  2017-03-10      shiang  ODS_POS_0880  2017-01-13  2017-01-13
5000    shiang  2017-03-10      shiang  ODS_POS_0880  2017-01-26  2017-01-26
5002    shiang  2017-03-10      shiang  ODS_POS_0880  2017-01-26  2017-01-26
5003    shiang  2017-03-10      shiang  ODS_POS_0880  2017-01-26  2017-01-26
5011    shiang  2017-03-10      shiang  ODS_POS_1440  2017-01-13  2017-01-13
5029    shiang  2017-03-10      shiang  ODS_POS_1440  2017-01-26  2017-01-26
10406   shiang  2017-03-10      shiang  ODS_POS_1440  2017-01-26  2017-01-26

      is_period
4998       True
4999       True
5000       True
5002       True
5003       True
5011       True
5029       True
10406      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
12523   shiang  2017-03-16      shiang  ODS_POS_1410  2017-02-02  2017-02-02
12754   shiang  2017-03-16      shiang  ODS_POS_1410  2017-02-07  2017-02-07
12863   shiang  2017-03-16      shiang  ODS_POS_1140         NaN  9999-12-31
13195   shiang  2017-03-16      shiang  ODS_POS_1410  2017-02-07  2017-02-07
13197   shiang  2017-03-16      shiang  ODS_POS_1450         NaN  9999-12-31
13201   shiang  2017-03-16      shiang  ODS_POS_1440  2017-02-07  2017-02-07
13218   shiang  2017-03-16      shiang  ODS_POS_0920         NaN  9999-12-31
13392   shiang  2017-03-16      shiang  ODS_POS_1250  2017-02-02  2017-02-02

      is_period
12523      True
12754      True
12863      True
13195      True
13197      True
13201      True
13218      True
13392      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14635   shiang  2017-03-22      shiang  ODS_POS_1400         NaN  9999-12-31
14636   shiang  2017-03-22      shiang  ODS_POS_1400         NaN  9999-12-31
14649   shiang  2017-03-22      shiang  ODS_POS_1400         NaN  9999-12-31
15251   shiang  2017-03-22      shiang  ODS_POS_0670         NaN  9999-12-31
15252   shiang  2017-03-22      shiang  ODS_POS_0670         NaN  9999-12-31
15253   shiang  2017-03-22      shiang  ODS_POS_0670         NaN  9999-12-31
17061   shiang  2017-03-22      shiang  ODS_POS_1010  2017-02-07  2017-02-07
17088   shiang  2017-03-22      shiang  ODS_POS_0670         NaN  9999-12-31

      is_period
14635      True
14636      True
14649      True
15251      True
15252      True
15253      True
17061      True
17088      True
QQ
     username  query_date report_name             doc start_date    end_date  \
1512   shiang  2017-02-15      shiang    ODS_POS_0430        NaN  9999-12-31
1697   shiang  2017-02-15      shiang  ODS_POS_1350_E        NaN  9999-12-31
1923   shiang  2017-02-15      shiang  ODS_POS_1350_E        NaN  9999-12-31
5585   shiang  2017-02-15      shiang  ODS_POS_1350_E        NaN  9999-12-31
6957   shiang  2017-02-15      shiang  ODS_POS_1350_P        NaN  9999-12-31
6958   shiang  2017-02-15      shiang  ODS_POS_1350_P        NaN  9999-12-31
6964   shiang  2017-02-15      shiang  ODS_POS_1350_E        NaN  9999-12-31
7085   shiang  2017-02-15      shiang  ODS_POS_1350_E        NaN  9999-12-31

     is_period
1512      True
1697      True
1923      True
5585      True
6957      True
6958      True
6964      True
7085      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
3847   shiang  2017-02-21      shiang  ODS_POS_1300  2017-01-02  2017-01-02
3849   shiang  2017-02-21      shiang  ODS_POS_1300  2017-01-02  2017-01-02
3850   shiang  2017-02-21      shiang  ODS_POS_1300  2017-01-03  2017-01-03
3851   shiang  2017-02-21      shiang  ODS_POS_1300  2017-01-03  2017-01-03
3856   shiang  2017-02-21      shiang  ODS_POS_1300  2017-01-03  2017-01-03
3972   shiang  2017-02-21      shiang  ODS_POS_1300  2017-01-03  2017-01-03
3973   shiang  2017-02-21      shiang  ODS_POS_1300  2017-01-03  2017-01-03
3974   shiang  2017-02-21      shiang  ODS_POS_1300  2017-01-03  2017-01-03

     is_period
3847      True
3849      True
3850      True
3851      True
3856      True
3972      True
3973      True
3974      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14680   shiang  2017-03-23      shiang  ODS_UNB_0410         NaN  9999-12-31
14796   shiang  2017-03-23      shiang  ODS_POS_1010  2017-02-02  2017-02-02
14797   shiang  2017-03-23      shiang  ODS_POS_1010  2017-02-02  2017-02-02
14798   shiang  2017-03-23      shiang  ODS_UNB_0050  2017-02-02  2017-02-02
15631   shiang  2017-03-23      shiang  ODS_POS_1410  2017-02-27  2017-02-27
15632   shiang  2017-03-23      shiang  ODS_POS_1410  2017-02-27  2017-02-27
15635   shiang  2017-03-23      shiang  ODS_POS_1410  2017-02-07  2017-02-07

      is_period
14680      True
14796      True
14797      True
14798      True
15631      True
15632      True
15635      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
6469   shiang  2017-03-02      shiang  ODS_POS_1010  2017-01-10  2017-01-10
7533   shiang  2017-03-02      shiang  ODS_POS_1010  2017-01-10  2017-01-10
7535   shiang  2017-03-02      shiang  ODS_POS_1010  2017-01-10  2017-01-10
7537   shiang  2017-03-02      shiang  ODS_POS_1010  2017-01-10  2017-01-10
8351   shiang  2017-03-02      shiang  ODS_POS_0770  2017-01-10  2017-01-10
8386   shiang  2017-03-02      shiang  ODS_POS_0770  2017-01-06  2017-01-06
8433   shiang  2017-03-02      shiang  ODS_POS_0770  2017-01-10  2017-01-10

     is_period
6469      True
7533      True
7535      True
7537      True
8351      True
8386      True
8433      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4783   shiang  2017-03-09      shiang  ODS_UNB_0230         NaN  9999-12-31
4784   shiang  2017-03-09      shiang  ODS_UNB_0230         NaN  9999-12-31
7595   shiang  2017-03-09      shiang  ODS_POS_0880  2017-01-10  2017-01-10
7659   shiang  2017-03-09      shiang  ODS_POS_0780  2017-01-13  2017-01-13
9426   shiang  2017-03-09      shiang  ODS_POS_1240  2017-01-13  2017-01-13
9432   shiang  2017-03-09      shiang  ODS_POS_1240  2017-01-13  2017-01-13
9835   shiang  2017-03-09      shiang  ODS_UNB_0230         NaN  9999-12-31

     is_period
4783      True
4784      True
7595      True
7659      True
9426      True
9432      True
9835      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4234   shiang  2017-02-24      shiang  ODS_POS_1010  2017-01-03  2017-01-03
7211   shiang  2017-02-24      shiang  ODS_POS_1300  2017-01-03  2017-01-03
7223   shiang  2017-02-24      shiang  ODS_POS_1300  2017-01-03  2017-01-03
7230   shiang  2017-02-24      shiang  ODS_POS_1300  2017-01-03  2017-01-03
7281   shiang  2017-02-24      shiang  ODS_POS_1290  2017-01-03  2017-01-03
7299   shiang  2017-02-24      shiang  ODS_POS_1290  2017-01-03  2017-01-03
7310   shiang  2017-02-24      shiang  ODS_POS_1300  2017-01-03  2017-01-03

     is_period
4234      True
7211      True
7223      True
7230      True
7281      True
7299      True
7310      True
QQ
      username  query_date report_name           doc start_date    end_date  \
13618   shiang  2017-03-20      shiang  ODS_POS_1320        NaN  9999-12-31
13620   shiang  2017-03-20      shiang  ODS_POS_1320        NaN  9999-12-31
13624   shiang  2017-03-20      shiang  ODS_POS_1320        NaN  9999-12-31
14032   shiang  2017-03-20      shiang  ODS_POS_1320        NaN  9999-12-31
14128   shiang  2017-03-20      shiang  ODS_POS_1450        NaN  9999-12-31
14391   shiang  2017-03-20      shiang  ODS_POS_1450        NaN  9999-12-31

      is_period
13618      True
13620      True
13624      True
14032      True
14128      True
14391      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
5518   shiang  2017-02-13      shiang  ODS_POS_1140         NaN  9999-12-31
6973   shiang  2017-02-13      shiang  ODS_UNB_0460  2016-12-31  2016-12-31
6974   shiang  2017-02-13      shiang  ODS_UNB_0460  2016-12-30  2016-12-30
6976   shiang  2017-02-13      shiang  ODS_POS_1140         NaN  9999-12-31
6980   shiang  2017-02-13      shiang  ODS_POS_1140         NaN  9999-12-31
6981   shiang  2017-02-13      shiang  ODS_POS_1140         NaN  9999-12-31

     is_period
5518      True
6973      True
6974      True
6976      True
6980      True
6981      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
23316   shiang  2017-04-07      shiang  ODS_POS_1250  2017-03-31  2017-03-31
23318   shiang  2017-04-07      shiang  ODS_POS_1410  2017-03-31  2017-03-31
23406   shiang  2017-04-07      shiang  ODS_POS_1450         NaN  9999-12-31
23444   shiang  2017-04-07      shiang  ODS_POS_1320         NaN  9999-12-31
25793   shiang  2017-04-07      shiang  ODS_UNB_0560  2017-02-02  2017-02-02

      is_period
23316      True
23318      True
23406      True
23444      True
25793      True
QQ
      username  query_date report_name           doc start_date    end_date  \
17547   shiang  2017-03-28      shiang  ODS_UNB_0470        NaN  9999-12-31
17620   shiang  2017-03-28      shiang  ODS_UNB_0470        NaN  9999-12-31
19820   shiang  2017-03-28      shiang  ODS_UNB_0470        NaN  9999-12-31
19826   shiang  2017-03-28      shiang  ODS_UNB_0470        NaN  9999-12-31
20672   shiang  2017-03-28      shiang  ODS_UNB_0430        NaN  9999-12-31

      is_period
17547      True
17620      True
19820      True
19826      True
20672      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
174    shiang  2017-02-08      shiang  ODS_POS_1330  2017-01-31  2017-01-31
175    shiang  2017-02-08      shiang  ODS_POS_1160         NaN  9999-12-31
176    shiang  2017-02-08      shiang  ODS_UNB_0260  2016-01-31  2016-01-31
177    shiang  2017-02-08      shiang  ODS_UNB_0260  2017-01-31  2017-01-31
5830   shiang  2017-02-08      shiang  ODS_POS_1320         NaN  9999-12-31

     is_period
174       True
175       True
176       True
177       True
5830      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4001   shiang  2017-02-22      shiang  ODS_POS_1300  2017-01-03  2017-01-03
4009   shiang  2017-02-22      shiang  ODS_POS_1300  2017-01-03  2017-01-03
4070   shiang  2017-02-22      shiang  ODS_POS_1300  2017-01-02  2017-01-02
4071   shiang  2017-02-22      shiang  ODS_POS_1300  2017-01-03  2017-01-03
4072   shiang  2017-02-22      shiang  ODS_POS_1300  2017-01-03  2017-01-03

     is_period
4001      True
4009      True
4070      True
4071      True
4072      True
QQ

      username  query_date report_name           doc  start_date    end_date  \
22354   shiang  2017-04-06      shiang  ODS_UNB_0550  2017-01-10  2017-01-10
22360   shiang  2017-04-06      shiang  ODS_UNB_0550  2017-01-10  2017-01-10
23155   shiang  2017-04-06      shiang  ODS_POS_0800         NaN  9999-12-31
25383   shiang  2017-04-06      shiang  ODS_UNB_0550  2017-01-10  2017-01-10

      is_period
22354      True
22360      True
23155      True
25383      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
7882   shiang  2017-03-03      shiang  ODS_POS_0770  2017-01-10  2017-01-10
7892   shiang  2017-03-03      shiang  ODS_POS_1600  2017-01-03  2017-01-03
7895   shiang  2017-03-03      shiang  ODS_POS_0430         NaN  9999-12-31

     is_period
7882      True
7892      True
7895      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
3892   shiang  2017-02-23      shiang  ODS_POS_0770  2017-01-03  2017-01-03
4098   shiang  2017-02-23      shiang  ODS_POS_1320         NaN  9999-12-31
5451   shiang  2017-02-23      shiang  ODS_POS_0770  2017-01-02  2017-01-02

     is_period
3892      True
4098      True
5451      True
QQ
     username  query_date report_name             doc start_date    end_date  \
5740   shiang  2017-02-10      shiang  ODS_POS_1350_P        NaN  9999-12-31
5741   shiang  2017-02-10      shiang  ODS_POS_1350_E        NaN  9999-12-31
5742   shiang  2017-02-10      shiang  ODS_POS_1350_P        NaN  9999-12-31

     is_period
5740      True
5741      True
5742      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
2071   shiang  2017-02-17      shiang  ODS_POS_0780  2017-01-02  2017-01-02
3014   shiang  2017-02-17      shiang  ODS_POS_1250  2016-01-02  2016-01-02
3015   shiang  2017-02-17      shiang  ODS_POS_1250  2017-01-02  2017-01-02

     is_period
2071      True
3014      True
3015      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
2194   shiang  2017-02-16      shiang  ODS_POS_0780  2017-01-31  2017-01-31
2195   shiang  2017-02-16      shiang  ODS_POS_0780  2016-10-28  2016-10-28
2199   shiang  2017-02-16      shiang  ODS_POS_0781         NaN  9999-12-31

     is_period
2194      True
2195      True
2199      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
19503   shiang  2017-03-29      shiang  ODS_UNB_0481  2017-01-03  2017-01-03
21225   shiang  2017-03-29      shiang  ODS_POS_1330  2017-03-01  2017-03-01

      is_period
19503      True
21225      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
16164   shiang  2017-03-26      shiang  ODS_UNB_0750  2017-02-28  2017-02-28
16554   shiang  2017-03-26      shiang  ODS_UNB_0750  2017-02-27  2017-02-27

      is_period
16164      True
16554      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
7513   shiang  2017-03-06      shiang  ODS_POS_1260  2017-01-13  2017-01-13
7841   shiang  2017-03-06      shiang  ODS_POS_0880  2017-01-10  2017-01-10

     is_period
7513      True
7841      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
7664   shiang  2017-03-01      shiang  ODS_POS_0880  2017-01-03  2017-01-03

     is_period
7664      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
13630   000768  2017-03-20      000768  ODS_INV_7170         NaN  9999-12-31
13666   000768  2017-03-20      000768  ODS_INV_7170         NaN  9999-12-31
13708   000768  2017-03-20      000768   LS_INV_0030  2017-02-27  2017-02-27
13714   000768  2017-03-20      000768  ODS_INV_7170         NaN  9999-12-31
13810   000768  2017-03-20      000768  ODS_INV_7040         NaN  9999-12-31
13825   000768  2017-03-20      000768  ODS_INV_7160         NaN  9999-12-31
13840   000768  2017-03-20      000768   LS_INV_0030  2017-02-07  2017-02-07
13914   000768  2017-03-20      000768   LS_INV_0030  2017-02-27  2017-02-27
13915   000768  2017-03-20      000768  ODS_INV_7180         NaN  9999-12-31
13934   000768  2017-03-20      000768   LS_INV_0010  2017-02-02  2017-02-02
13935   000768  2017-03-20      000768   LS_INV_0030  2017-02-07  2017-02-07
13979   000768  2017-03-20      000768  ODS_INV_7010         NaN  9999-12-31
13980   000768  2017-03-20      000768  ODS_INV_7171         NaN  9999-12-31
14014   000768  2017-03-20      000768  ODS_INV_7170         NaN  9999-12-31
14021   000768  2017-03-20      000768  ODS_INV_7171         NaN  9999-12-31
14129   000768  2017-03-20      000768   LS_INV_0020  2017-02-27  2017-02-27
14130   000768  2017-03-20      000768   LS_INV_0010  2017-02-27  2017-02-27
14131   000768  2017-03-20      000768   LS_INV_0010  2017-01-10  2017-01-10
14135   000768  2017-03-20      000768   LS_INV_0010  2017-01-10  2017-01-10
14136   000768  2017-03-20      000768   LS_INV_0030  2017-02-27  2017-02-27
14170   000768  2017-03-20      000768  ODS_INV_7020         NaN  9999-12-31
14172   000768  2017-03-20      000768  ODS_INV_7010         NaN  9999-12-31
14174   000768  2017-03-20      000768  ODS_INV_7011         NaN  9999-12-31
14264   000768  2017-03-20      000768  ODS_INV_7020         NaN  9999-12-31
14269   000768  2017-03-20      000768  ODS_INV_7150         NaN  9999-12-31
14284   000768  2017-03-20      000768  ODS_INV_7250         NaN  9999-12-31
14287   000768  2017-03-20      000768  ODS_INV_7250         NaN  9999-12-31
14288   000768  2017-03-20      000768   LS_INV_0030  2017-02-27  2017-02-27

      is_period
13630      True
13666      True
13708      True
13714      True
13810      True
13825      True
13840      True
13914      True
13915      True
13934      True
13935      True
13979      True
13980      True
14014      True
14021      True
14129      True
14130      True
14131      True
14135      True
14136      True
14170      True
14172      True
14174      True
14264      True
14269      True
14284      True
14287      True
14288      True
QQ
     username  query_date report_name           doc start_date    end_date  \
1698   000768  2017-02-15      000768  ODS_INV_7180        NaN  9999-12-31
1714   000768  2017-02-15      000768  ODS_INV_7040        NaN  9999-12-31
1717   000768  2017-02-15      000768  ODS_INV_7210        NaN  9999-12-31
1795   000768  2017-02-15      000768  ODS_INV_7210        NaN  9999-12-31
1797   000768  2017-02-15      000768  ODS_INV_7170        NaN  9999-12-31
1800   000768  2017-02-15      000768  ODS_INV_7180        NaN  9999-12-31
5587   000768  2017-02-15      000768  ODS_INV_7230        NaN  9999-12-31
5589   000768  2017-02-15      000768  ODS_INV_7230        NaN  9999-12-31
5592   000768  2017-02-15      000768  ODS_INV_7230        NaN  9999-12-31
5609   000768  2017-02-15      000768  ODS_INV_7140        NaN  9999-12-31
5610   000768  2017-02-15      000768  ODS_INV_7200        NaN  9999-12-31
5614   000768  2017-02-15      000768  ODS_INV_7230        NaN  9999-12-31
5616   000768  2017-02-15      000768  ODS_INV_7171        NaN  9999-12-31
5617   000768  2017-02-15      000768  ODS_INV_7170        NaN  9999-12-31
5629   000768  2017-02-15      000768  ODS_INV_7230        NaN  9999-12-31
5630   000768  2017-02-15      000768  ODS_INV_7230        NaN  9999-12-31
6954   000768  2017-02-15      000768  ODS_INV_7200        NaN  9999-12-31
7031   000768  2017-02-15      000768  ODS_INV_7250        NaN  9999-12-31
7033   000768  2017-02-15      000768  ODS_INV_7160        NaN  9999-12-31
7039   000768  2017-02-15      000768  ODS_INV_7171        NaN  9999-12-31
7045   000768  2017-02-15      000768  ODS_INV_7040        NaN  9999-12-31

     is_period
1698      True
1714      True
1717      True
1795      True
1797      True
1800      True
5587      True
5589      True
5592      True
5609      True
5610      True
5614      True
5616      True
5617      True
5629      True
5630      True
6954      True
7031      True
7033      True
7039      True
7045      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
21278   000768  2017-04-05      000768  ODS_INV_7040  2017-03-01  2017-03-01
21284   000768  2017-04-05      000768  ODS_INV_7010         NaN  9999-12-31
21297   000768  2017-04-05      000768  ODS_INV_7040  2017-02-01  2017-02-28
21299   000768  2017-04-05      000768  ODS_INV_7020         NaN  9999-12-31
21519   000768  2017-04-05      000768  ODS_INV_7171  2017-03-31  2017-03-31
21559   000768  2017-04-05      000768   LS_INV_0030  2017-04-01  2017-04-01
21592   000768  2017-04-05      000768   LS_INV_0010  2017-04-01  2017-04-01
21603   000768  2017-04-05      000768  ODS_INV_7171  2017-03-01  2017-03-31
22037   000768  2017-04-05      000768  ODS_INV_7040  2017-01-03  2017-01-03
22558   000768  2017-04-05      000768   LS_INV_0030  2017-01-03  2017-01-03
22559   000768  2017-04-05      000768  ODS_INV_7040  2017-01-03  2017-01-03
23070   000768  2017-04-05      000768  ODS_INV_7171  2017-03-01  2017-03-01
23480   000768  2017-04-05      000768  ODS_INV_7020         NaN  9999-12-31
23566   000768  2017-04-05      000768  ODS_INV_7171  2017-03-01  2017-03-01
24320   000768  2017-04-05      000768  ODS_INV_7171  2017-03-01  2017-03-01
25819   000768  2017-04-05      000768  ODS_INV_7011         NaN  9999-12-31
25920   000768  2017-04-05      000768  ODS_INV_7010         NaN  9999-12-31

      is_period
21278      True
21284      True
21297      True
21299      True
21519      True
21559      True
21592      True
21603      True
22037      True
22558      True
22559      True
23070      True
23480      True
23566      True
24320      True
25819      True
25920      True
QQ
     username  query_date report_name           doc start_date    end_date  \
2738   000768  2017-02-20      000768  ODS_INV_7170        NaN  9999-12-31
2739   000768  2017-02-20      000768  ODS_INV_7010        NaN  9999-12-31
2762   000768  2017-02-20      000768  ODS_INV_7011        NaN  9999-12-31
2763   000768  2017-02-20      000768  ODS_INV_7010        NaN  9999-12-31
3713   000768  2017-02-20      000768  ODS_INV_7010        NaN  9999-12-31
3749   000768  2017-02-20      000768  ODS_INV_7011        NaN  9999-12-31
3802   000768  2017-02-20      000768  ODS_INV_7010        NaN  9999-12-31
3808   000768  2017-02-20      000768  ODS_INV_7171        NaN  9999-12-31
3809   000768  2017-02-20      000768  ODS_INV_7170        NaN  9999-12-31
3846   000768  2017-02-20      000768  ODS_INV_7150        NaN  9999-12-31
3870   000768  2017-02-20      000768  ODS_INV_7011        NaN  9999-12-31
3872   000768  2017-02-20      000768  ODS_INV_7010        NaN  9999-12-31
6669   000768  2017-02-20      000768  ODS_INV_7150        NaN  9999-12-31
6670   000768  2017-02-20      000768  ODS_INV_7011        NaN  9999-12-31
6671   000768  2017-02-20      000768  ODS_INV_7010        NaN  9999-12-31
6749   000768  2017-02-20      000768  ODS_INV_7010        NaN  9999-12-31

     is_period
2738      True
2739      True
2762      True
2763      True
3713      True
3749      True
3802      True
3808      True
3809      True
3846      True
3870      True
3872      True
6669      True
6670      True
6671      True
6749      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
23636   000768  2017-04-07      000768  ODS_INV_7160  2017-03-01  2017-03-31
23638   000768  2017-04-07      000768   LS_INV_0020  2017-03-31  2017-03-31
23639   000768  2017-04-07      000768   LS_INV_0020  2017-03-01  2017-03-01
23816   000768  2017-04-07      000768   LS_INV_0030  2017-03-14  2017-03-14
23817   000768  2017-04-07      000768   LS_INV_0030  2017-03-21  2017-03-21
23820   000768  2017-04-07      000768   LS_INV_0030  2017-03-22  2017-03-22
25702   000768  2017-04-07      000768   LS_INV_0030  2017-03-21  2017-03-21
25703   000768  2017-04-07      000768   LS_INV_0030  2017-03-21  2017-03-21
25704   000768  2017-04-07      000768   LS_INV_0030  2017-03-27  2017-03-27
25705   000768  2017-04-07      000768   LS_INV_0030  2017-03-28  2017-03-28
25706   000768  2017-04-07      000768   LS_INV_0030  2017-03-01  2017-03-01
25794   000768  2017-04-07      000768  ODS_INV_7010         NaN  9999-12-31
25795   000768  2017-04-07      000768  ODS_INV_7011         NaN  9999-12-31
25796   000768  2017-04-07      000768  ODS_INV_7010         NaN  9999-12-31
25797   000768  2017-04-07      000768  ODS_INV_7171  2017-03-01  2017-03-31
25933   000768  2017-04-07      000768  ODS_INV_7020         NaN  9999-12-31

      is_period
23636      True
23638      True
23639      True
23816      True
23817      True
23820      True
25702      True
25703      True
25704      True
25705      True
25706      True
25794      True
25795      True
25796      True
25797      True
25933      True
QQ
     username  query_date report_name           doc start_date    end_date  \
2963   000768  2017-02-17      000768  ODS_INV_7170        NaN  9999-12-31
2970   000768  2017-02-17      000768  ODS_INV_7170        NaN  9999-12-31
2976   000768  2017-02-17      000768  ODS_INV_7010        NaN  9999-12-31
2978   000768  2017-02-17      000768  ODS_INV_7020        NaN  9999-12-31
2979   000768  2017-02-17      000768  ODS_INV_7010        NaN  9999-12-31
3079   000768  2017-02-17      000768  ODS_INV_7020        NaN  9999-12-31
3080   000768  2017-02-17      000768  ODS_INV_7160        NaN  9999-12-31
3082   000768  2017-02-17      000768  ODS_INV_7150        NaN  9999-12-31
3084   000768  2017-02-17      000768  ODS_INV_7020        NaN  9999-12-31
6091   000768  2017-02-17      000768  ODS_INV_7180        NaN  9999-12-31
6092   000768  2017-02-17      000768  ODS_INV_7210        NaN  9999-12-31
6424   000768  2017-02-17      000768  ODS_INV_7020        NaN  9999-12-31
6425   000768  2017-02-17      000768  ODS_INV_7020        NaN  9999-12-31
6426   000768  2017-02-17      000768  ODS_INV_7250        NaN  9999-12-31
6427   000768  2017-02-17      000768  ODS_INV_7160        NaN  9999-12-31

     is_period
2963      True
2970      True
2976      True
2978      True
2979      True
3079      True
3080      True
3082      True
3084      True
6091      True
6092      True
6424      True
6425      True
6426      True
6427      True
QQ

     username  query_date report_name           doc start_date    end_date  \
3907   000768  2017-02-22      000768  ODS_INV_7011        NaN  9999-12-31
3909   000768  2017-02-22      000768  ODS_INV_7171        NaN  9999-12-31
3916   000768  2017-02-22      000768  ODS_INV_7171        NaN  9999-12-31
3917   000768  2017-02-22      000768  ODS_INV_7150        NaN  9999-12-31
3976   000768  2017-02-22      000768  ODS_INV_7010        NaN  9999-12-31
4017   000768  2017-02-22      000768  ODS_INV_7020        NaN  9999-12-31
4018   000768  2017-02-22      000768  ODS_INV_7020        NaN  9999-12-31
4023   000768  2017-02-22      000768  ODS_INV_7100        NaN  9999-12-31
4024   000768  2017-02-22      000768  ODS_INV_7100        NaN  9999-12-31
4025   000768  2017-02-22      000768  ODS_INV_7170        NaN  9999-12-31
7205   000768  2017-02-22      000768  ODS_INV_7171        NaN  9999-12-31
7207   000768  2017-02-22      000768  ODS_INV_7150        NaN  9999-12-31
7209   000768  2017-02-22      000768  ODS_INV_7150        NaN  9999-12-31
7227   000768  2017-02-22      000768  ODS_INV_7010        NaN  9999-12-31
7272   000768  2017-02-22      000768  ODS_INV_7020        NaN  9999-12-31

     is_period
3907      True
3909      True
3916      True
3917      True
3976      True
4017      True
4018      True
4023      True
4024      True
4025      True
7205      True
7207      True
7209      True
7227      True
7272      True
QQ
     username  query_date report_name           doc start_date    end_date  \
1840   000768  2017-02-16      000768  ODS_INV_7040        NaN  9999-12-31
1841   000768  2017-02-16      000768  ODS_INV_7250        NaN  9999-12-31
1843   000768  2017-02-16      000768  ODS_INV_7010        NaN  9999-12-31
1844   000768  2017-02-16      000768  ODS_INV_7010        NaN  9999-12-31
1845   000768  2017-02-16      000768  ODS_INV_7011        NaN  9999-12-31
1846   000768  2017-02-16      000768  ODS_INV_7020        NaN  9999-12-31
2793   000768  2017-02-16      000768  ODS_INV_7171        NaN  9999-12-31
2794   000768  2017-02-16      000768  ODS_INV_7171        NaN  9999-12-31
2795   000768  2017-02-16      000768  ODS_INV_7171        NaN  9999-12-31
2796   000768  2017-02-16      000768  ODS_INV_7171        NaN  9999-12-31
7160   000768  2017-02-16      000768  ODS_INV_7160        NaN  9999-12-31
7161   000768  2017-02-16      000768  ODS_INV_7010        NaN  9999-12-31
7162   000768  2017-02-16      000768  ODS_INV_7170        NaN  9999-12-31
7175   000768  2017-02-16      000768  ODS_INV_7190        NaN  9999-12-31

     is_period
1840      True
1841      True
1843      True
1844      True
1845      True
1846      True
2793      True
2794      True
2795      True
2796      True
7160      True
7161      True
7162      True
7175      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14569   000768  2017-03-21      000768  ODS_INV_7180         NaN  9999-12-31
14771   000768  2017-03-21      000768  ODS_INV_7171         NaN  9999-12-31
14954   000768  2017-03-21      000768  ODS_INV_7170         NaN  9999-12-31
14966   000768  2017-03-21      000768  ODS_INV_7200         NaN  9999-12-31
15502   000768  2017-03-21      000768  ODS_INV_7260         NaN  9999-12-31
15596   000768  2017-03-21      000768  ODS_INV_7170         NaN  9999-12-31
15780   000768  2017-03-21      000768   LS_INV_0030  2017-02-27  2017-02-27
15831   000768  2017-03-21      000768   LS_INV_0030  2017-02-02  2017-02-02
15835   000768  2017-03-21      000768   LS_INV_0010  2017-02-02  2017-02-02
15841   000768  2017-03-21      000768   LS_INV_0030  2017-02-07  2017-02-07
15844   000768  2017-03-21      000768  ODS_INV_7150         NaN  9999-12-31
15856   000768  2017-03-21      000768  ODS_INV_7150         NaN  9999-12-31
17228   000768  2017-03-21      000768  ODS_INV_7171         NaN  9999-12-31

      is_period
14569      True
14771      True
14954      True
14966      True
15502      True
15596      True
15780      True
15831      True
15835      True
15841      True
15844      True
15856      True
17228      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14631   000768  2017-03-22      000768   LS_INV_0010  2017-02-07  2017-02-07
14637   000768  2017-03-22      000768  ODS_INV_7170         NaN  9999-12-31
14651   000768  2017-03-22      000768   LS_INV_0010  2017-03-05  2017-03-05
14755   000768  2017-03-22      000768   LS_INV_0010  2017-03-13  2017-03-13
14870   000768  2017-03-22      000768   LS_INV_0030  2017-02-27  2017-02-27
14872   000768  2017-03-22      000768   LS_INV_0030  2017-02-02  2017-02-02
14906   000768  2017-03-22      000768  ODS_INV_7171         NaN  9999-12-31
14923   000768  2017-03-22      000768   LS_INV_0010  2017-01-26  2017-01-26
15394   000768  2017-03-22      000768  ODS_INV_7170         NaN  9999-12-31
15871   000768  2017-03-22      000768   LS_INV_0030  2017-02-27  2017-02-27
16964   000768  2017-03-22      000768   LS_INV_0030  2017-01-10  2017-01-10
16966   000768  2017-03-22      000768   LS_INV_0010  2017-01-26  2017-01-26
16967   000768  2017-03-22      000768   LS_INV_0010  2017-01-26  2017-01-26

      is_period
14631      True
14637      True
14651      True
14755      True
14870      True
14872      True
14906      True
14923      True
15394      True
15871      True
16964      True
16966      True
16967      True
QQ
     username  query_date report_name           doc start_date    end_date  \
7409   000768  2017-03-02      000768  ODS_INV_7160        NaN  9999-12-31
7584   000768  2017-03-02      000768  ODS_INV_7160        NaN  9999-12-31
8228   000768  2017-03-02      000768  ODS_INV_7150        NaN  9999-12-31
8234   000768  2017-03-02      000768  ODS_INV_7160        NaN  9999-12-31
8235   000768  2017-03-02      000768  ODS_INV_7040        NaN  9999-12-31
8276   000768  2017-03-02      000768  ODS_INV_7170        NaN  9999-12-31
8313   000768  2017-03-02      000768  ODS_INV_7010        NaN  9999-12-31
8338   000768  2017-03-02      000768  ODS_INV_7171        NaN  9999-12-31
8339   000768  2017-03-02      000768  ODS_INV_7310        NaN  9999-12-31
8350   000768  2017-03-02      000768  ODS_INV_7010        NaN  9999-12-31
8429   000768  2017-03-02      000768  ODS_INV_7010        NaN  9999-12-31

     is_period
7409      True
7584      True
8228      True
8234      True
8235      True
8276      True
8313      True
8338      True
8339      True
8350      True
8429      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
18267   000768  2017-03-29      000768  ODS_INV_7150         NaN  9999-12-31
18632   000768  2017-03-29      000768  ODS_INV_7150         NaN  9999-12-31
19147   000768  2017-03-29      000768  ODS_INV_7020         NaN  9999-12-31
19148   000768  2017-03-29      000768  ODS_INV_7020         NaN  9999-12-31
19150   000768  2017-03-29      000768   LS_INV_0030  2017-02-27  2017-02-27
19431   000768  2017-03-29      000768  ODS_INV_7160         NaN  9999-12-31
19469   000768  2017-03-29      000768  ODS_INV_7160         NaN  9999-12-31
19548   000768  2017-03-29      000768  ODS_INV_7150         NaN  9999-12-31
20991   000768  2017-03-29      000768  ODS_INV_7171         NaN  9999-12-31
20992   000768  2017-03-29      000768  ODS_INV_7160         NaN  9999-12-31
21277   000768  2017-03-29      000768  ODS_INV_7150         NaN  9999-12-31

      is_period
18267      True
18632      True
19147      True
19148      True
19150      True
19431      True
19469      True
19548      True
20991      True
20992      True
21277      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
1429    000768  2017-04-19      000768  ODS_INV_7020         NaN  9999-12-31
1442    000768  2017-04-19      000768  ODS_INV_7020         NaN  9999-12-31
1547    000768  2017-04-19      000768  ODS_INV_7020         NaN  9999-12-31
1604    000768  2017-04-19      000768  ODS_INV_7011         NaN  9999-12-31
1605    000768  2017-04-19      000768  ODS_INV_7020         NaN  9999-12-31
1640    000768  2017-04-19      000768  ODS_INV_7020         NaN  9999-12-31
2874    000768  2017-04-19      000768   LS_INV_0010  2017-04-05  2017-04-05
30503   000768  2017-04-19      000768   LS_INV_0020  2017-04-05  2017-04-05
30505   000768  2017-04-19      000768   LS_INV_0010  2017-04-05  2017-04-05
30510   000768  2017-04-19      000768  ODS_INV_7020         NaN  9999-12-31

      is_period
1429       True
1442       True
1547       True
1604       True
1605       True
1640       True
2874       True
30503      True
30505      True
30510      True
QQ
     username  query_date report_name           doc start_date    end_date  \
3889   000768  2017-02-23      000768  ODS_INV_7170        NaN  9999-12-31
4099   000768  2017-02-23      000768  ODS_INV_7170        NaN  9999-12-31
4158   000768  2017-02-23      000768  ODS_INV_7150        NaN  9999-12-31
4237   000768  2017-02-23      000768  ODS_INV_7150        NaN  9999-12-31
4240   000768  2017-02-23      000768  ODS_INV_7171        NaN  9999-12-31
4265   000768  2017-02-23      000768  ODS_INV_7040        NaN  9999-12-31
5349   000768  2017-02-23      000768  ODS_INV_7160        NaN  9999-12-31
7271   000768  2017-02-23      000768  ODS_INV_7150        NaN  9999-12-31

     is_period
3889      True
4099      True
4158      True
4237      True
4240      True
4265      True
5349      True
7271      True
QQ
     username  query_date report_name           doc start_date    end_date  \
7582   000768  2017-03-06      000768  ODS_INV_7010        NaN  9999-12-31
7583   000768  2017-03-06      000768  ODS_INV_7010        NaN  9999-12-31
7852   000768  2017-03-06      000768  ODS_INV_7011        NaN  9999-12-31
7855   000768  2017-03-06      000768  ODS_INV_7010        NaN  9999-12-31
8013   000768  2017-03-06      000768  ODS_INV_7020        NaN  9999-12-31
8163   000768  2017-03-06      000768  ODS_INV_7010        NaN  9999-12-31
8170   000768  2017-03-06      000768  ODS_INV_7010        NaN  9999-12-31

     is_period
7582      True
7583      True
7852      True
7855      True
8013      True
8163      True
8170      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4209   000768  2017-03-07      000768  ODS_INV_7160        NaN  9999-12-31
4537   000768  2017-03-07      000768  ODS_INV_7171        NaN  9999-12-31
4539   000768  2017-03-07      000768  ODS_INV_7150        NaN  9999-12-31
8487   000768  2017-03-07      000768  ODS_INV_7160        NaN  9999-12-31
8505   000768  2017-03-07      000768  ODS_INV_7160        NaN  9999-12-31
8652   000768  2017-03-07      000768  ODS_INV_7160        NaN  9999-12-31
8653   000768  2017-03-07      000768  ODS_INV_7160        NaN  9999-12-31

     is_period
4209      True
4537      True
4539      True
8487      True
8505      True
8652      True
8653      True
QQ
      username  query_date report_name           doc start_date    end_date  \
4440    000768  2017-03-08      000768  ODS_INV_7160        NaN  9999-12-31
4441    000768  2017-03-08      000768  ODS_INV_7160        NaN  9999-12-31
4719    000768  2017-03-08      000768  ODS_INV_7171        NaN  9999-12-31
7839    000768  2017-03-08      000768  ODS_INV_7150        NaN  9999-12-31
10026   000768  2017-03-08      000768  ODS_INV_7170        NaN  9999-12-31
10027   000768  2017-03-08      000768  ODS_INV_7170        NaN  9999-12-31
10396   000768  2017-03-08      000768  ODS_INV_7150        NaN  9999-12-31

      is_period
4440       True
4441       True
4719       True
7839       True
10026      True
10027      True
10396      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
20068   000768  2017-03-28      000768   LS_INV_0010  2017-03-01  2017-03-01
20069   000768  2017-03-28      000768   LS_INV_0030  2017-03-01  2017-03-01
20070   000768  2017-03-28      000768   LS_INV_0030  2017-03-01  2017-03-01
20746   000768  2017-03-28      000768  ODS_INV_7171         NaN  9999-12-31
20816   000768  2017-03-28      000768  ODS_INV_7010         NaN  9999-12-31
20849   000768  2017-03-28      000768  ODS_INV_7020         NaN  9999-12-31

      is_period
20068      True
20069      True
20070      True
20746      True
20816      True
20849      True
QQ
     username  query_date report_name           doc start_date    end_date  \
2896   000768  2017-02-18      000768  ODS_INV_7180        NaN  9999-12-31
2897   000768  2017-02-18      000768  ODS_INV_7250        NaN  9999-12-31
2899   000768  2017-02-18      000768  ODS_INV_7160        NaN  9999-12-31
2928   000768  2017-02-18      000768  ODS_INV_7160        NaN  9999-12-31
7029   000768  2017-02-18      000768  ODS_INV_7180        NaN  9999-12-31

     is_period
2896      True
2897      True
2899      True
2928      True
7029      True
QQ
      username  query_date report_name           doc start_date    end_date  \
17930   000768  2017-03-30      000768  ODS_INV_7010        NaN  9999-12-31
18193   000768  2017-03-30      000768  ODS_INV_7020        NaN  9999-12-31
20080   000768  2017-03-30      000768  ODS_INV_7010        NaN  9999-12-31
20372   000768  2017-03-30      000768  ODS_INV_7020        NaN  9999-12-31
20373   000768  2017-03-30      000768  ODS_INV_7171        NaN  9999-12-31

      is_period
17930      True
18193      True
20080      True
20372      True
20373      True
QQ
     username  query_date report_name           doc start_date    end_date  \
5914   000768  2017-03-03      000768  ODS_INV_7170        NaN  9999-12-31
5920   000768  2017-03-03      000768  ODS_INV_7160        NaN  9999-12-31
5922   000768  2017-03-03      000768  ODS_INV_7160        NaN  9999-12-31
5923   000768  2017-03-03      000768  ODS_INV_7170        NaN  9999-12-31
5997   000768  2017-03-03      000768  ODS_INV_7171        NaN  9999-12-31

     is_period
5914      True
5920      True
5922      True
5923      True
5997      True
QQ
      username  query_date report_name           doc start_date    end_date  \
13222   000768  2017-03-16      000768  ODS_INV_7160        NaN  9999-12-31
13223   000768  2017-03-16      000768  ODS_INV_7171        NaN  9999-12-31
13224   000768  2017-03-16      000768  ODS_INV_7170        NaN  9999-12-31
13252   000768  2017-03-16      000768  ODS_INV_7170        NaN  9999-12-31
13253   000768  2017-03-16      000768  ODS_INV_7170        NaN  9999-12-31

      is_period
13222      True
13223      True
13224      True
13252      True
13253      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
30866   000768  2017-04-18      000768   LS_INV_0030  2017-04-05  2017-04-05
31023   000768  2017-04-18      000768  ODS_INV_7171         NaN  9999-12-31
31024   000768  2017-04-18      000768   LS_INV_0010  2017-04-05  2017-04-05
31097   000768  2017-04-18      000768  ODS_INV_7010         NaN  9999-12-31
31616   000768  2017-04-18      000768  ODS_INV_7171         NaN  9999-12-31

      is_period
30866      True
31023      True
31024      True
31097      True
31616      True
QQ
      username  query_date report_name           doc start_date    end_date  \
29564   000768  2017-04-17      000768  ODS_INV_7011        NaN  9999-12-31
29601   000768  2017-04-17      000768  ODS_INV_7011        NaN  9999-12-31
29602   000768  2017-04-17      000768  ODS_INV_7011        NaN  9999-12-31
29603   000768  2017-04-17      000768  ODS_INV_7011        NaN  9999-12-31
29749   000768  2017-04-17      000768  ODS_INV_7010        NaN  9999-12-31

      is_period
29564      True
29601      True
29602      True
29603      True
29749      True
QQ
      username  query_date report_name           doc start_date    end_date  \
12367   000768  2017-03-17      000768  ODS_INV_7170        NaN  9999-12-31
12368   000768  2017-03-17      000768  ODS_INV_7171        NaN  9999-12-31
12495   000768  2017-03-17      000768  ODS_INV_7171        NaN  9999-12-31
13515   000768  2017-03-17      000768  ODS_INV_7171        NaN  9999-12-31
13516   000768  2017-03-17      000768  ODS_INV_7171        NaN  9999-12-31

      is_period
12367      True
12368      True
12495      True
13515      True
13516      True
QQ

      username  query_date report_name           doc start_date    end_date  \
30394   000768  2017-04-21      000768  ODS_INV_7171        NaN  9999-12-31
30395   000768  2017-04-21      000768  ODS_INV_7171        NaN  9999-12-31
31354   000768  2017-04-21      000768  ODS_INV_7010        NaN  9999-12-31
31634   000768  2017-04-21      000768  ODS_INV_7010        NaN  9999-12-31

      is_period
30394      True
30395      True
31354      True
31634      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
23167   000768  2017-04-06      000768   LS_INV_0030  2017-03-31  2017-03-31
23168   000768  2017-04-06      000768   LS_INV_0030  2017-03-31  2017-03-31
23173   000768  2017-04-06      000768  ODS_INV_7150  2017-03-01  2017-03-31
24156   000768  2017-04-06      000768   LS_INV_0030  2017-03-31  2017-03-31

      is_period
23167      True
23168      True
23173      True
24156      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14681   000768  2017-03-23      000768  ODS_INV_7171         NaN  9999-12-31
14793   000768  2017-03-23      000768   LS_INV_0010  2017-02-07  2017-02-07
14795   000768  2017-03-23      000768  ODS_INV_7171         NaN  9999-12-31
17291   000768  2017-03-23      000768   LS_INV_0010  2017-02-27  2017-02-27

      is_period
14681      True
14793      True
14795      True
17291      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
27162   000768  2017-04-11      000768  ODS_INV_7010         NaN  9999-12-31
27444   000768  2017-04-11      000768  ODS_INV_7040  2017-04-05  2017-04-05
27445   000768  2017-04-11      000768  ODS_INV_7171  2017-03-31  2017-04-05
27513   000768  2017-04-11      000768  ODS_INV_7040  2017-04-05  2017-04-05

      is_period
27162      True
27444      True
27445      True
27513      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17605   000768  2017-03-31      000768  ODS_INV_7150  2017-02-27  2017-03-01
17678   000768  2017-03-31      000768  ODS_INV_7150  2017-02-27  2017-03-01
17679   000768  2017-03-31      000768  ODS_INV_7040  2017-02-07  2017-03-01
19652   000768  2017-03-31      000768  ODS_INV_7171  2017-03-01  2017-03-01

      is_period
17605      True
17678      True
17679      True
19652      True
QQ
     username  query_date report_name           doc start_date    end_date  \
7384   000768  2017-03-01      000768  ODS_INV_7160        NaN  9999-12-31
7385   000768  2017-03-01      000768  ODS_INV_7160        NaN  9999-12-31
7386   000768  2017-03-01      000768  ODS_INV_7150        NaN  9999-12-31
7387   000768  2017-03-01      000768  ODS_INV_7150        NaN  9999-12-31

     is_period
7384      True
7385      True
7386      True
7387      True
QQ
      username  query_date report_name           doc start_date    end_date  \
11680   000768  2017-03-14      000768  ODS_INV_7160        NaN  9999-12-31
11700   000768  2017-03-14      000768  ODS_INV_7010        NaN  9999-12-31
11702   000768  2017-03-14      000768  ODS_INV_7011        NaN  9999-12-31

      is_period
11680      True
11700      True
11702      True
QQ
      username  query_date report_name           doc start_date    end_date  \
11967   000768  2017-03-15      000768  ODS_INV_7150        NaN  9999-12-31
12112   000768  2017-03-15      000768  ODS_INV_7010        NaN  9999-12-31

      is_period
11967      True
12112      True
QQ
      username  query_date report_name           doc start_date    end_date  \
24860   000768  2017-04-10      000768  ODS_INV_7010        NaN  9999-12-31
26972   000768  2017-04-10      000768  ODS_INV_7010        NaN  9999-12-31

      is_period
24860      True
26972      True
QQ
      username  query_date report_name           doc start_date    end_date  \
14953   000768  2017-03-25      000768  ODS_INV_7171        NaN  9999-12-31
17448   000768  2017-03-25      000768  ODS_INV_7171        NaN  9999-12-31

      is_period
14953      True
17448      True
QQ
     username  query_date report_name           doc start_date    end_date  \
5828   000768  2017-02-08      000768  ODS_INV_7320        NaN  9999-12-31
5829   000768  2017-02-08      000768  ODS_INV_7320        NaN  9999-12-31

     is_period
5828      True
5829      True
QQ
      username  query_date report_name           doc start_date    end_date  \
26713   000768  2017-04-12      000768  ODS_INV_7171        NaN  9999-12-31

      is_period
26713      True
QQ
     username  query_date report_name           doc start_date    end_date  \
1411   000768  2017-02-13      000768  ODS_INV_7010        NaN  9999-12-31

     is_period
1411      True
QQ
      username  query_date report_name           doc start_date    end_date  \
15714   000768  2017-03-24      000768  ODS_INV_7171        NaN  9999-12-31

      is_period
15714      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
10731   001415  2017-03-13      001415  ODS_PA_0350_P  2017-02-02  2017-02-02
10733   001415  2017-03-13      001415  ODS_PA_0350_P  2017-01-26  2017-01-26
10734   001415  2017-03-13      001415  ODS_PA_0350_P  2017-01-26  2017-01-26
10736   001415  2017-03-13      001415  ODS_PA_0350_P  2017-02-02  2017-02-02
10738   001415  2017-03-13      001415  ODS_PA_0350_P  2017-02-07  2017-02-07
10794   001415  2017-03-13      001415  ODS_PA_0620_P  2017-01-26  2017-01-26
11322   001415  2017-03-13      001415  ODS_PA_0620_P  2017-01-26  2017-01-26
11323   001415  2017-03-13      001415  ODS_PA_0620_P  2017-02-02  2017-02-02
11324   001415  2017-03-13      001415  ODS_PA_0620_P  2017-01-26  2017-01-26
11326   001415  2017-03-13      001415  ODS_PA_0620_P  2017-02-02  2017-02-02
11327   001415  2017-03-13      001415  ODS_PA_0620_P  2017-02-07  2017-02-07
11370   001415  2017-03-13      001415  ODS_PA_0620_P  2017-01-26  2017-01-26
11378   001415  2017-03-13      001415  ODS_PA_0620_P  2017-01-26  2017-01-26
11389   001415  2017-03-13      001415    FMT_PA_0880  2017-01-01  2017-03-13
11390   001415  2017-03-13      001415  ODS_PA_0350_P  2017-02-02  2017-02-02
11393   001415  2017-03-13      001415  ODS_PA_0350_P  2017-01-26  2017-01-26
11404   001415  2017-03-13      001415  ODS_PA_0610_P  2017-01-26  2017-01-26
11405   001415  2017-03-13      001415  ODS_PA_0610_P  2017-01-26  2017-01-26
11411   001415  2017-03-13      001415  ODS_PA_0550_P  2017-01-26  2017-01-26
11417   001415  2017-03-13      001415    FMT_PA_0710  2016-11-01  2017-03-01
11419   001415  2017-03-13      001415    FMT_PA_0710  2016-06-01  2017-03-01
11449   001415  2017-03-13      001415  ODS_PA_0620_P  2017-01-26  2017-01-26
11450   001415  2017-03-13      001415  ODS_PA_0620_P  2017-01-26  2017-01-26
11451   001415  2017-03-13      001415  ODS_PA_0620_P  2017-01-26  2017-01-26
11452   001415  2017-03-13      001415  ODS_PA_0620_P  2017-01-26  2017-01-26
11453   001415  2017-03-13      001415  ODS_PA_0620_P  2017-01-26  2017-01-26
11455   001415  2017-03-13      001415  ODS_PA_0620_P  2017-01-26  2017-01-26
11456   001415  2017-03-13      001415  ODS_PA_0620_P  2017-01-26  2017-01-26
11457   001415  2017-03-13      001415  ODS_PA_0620_P  2017-01-26  2017-01-26
11458   001415  2017-03-13      001415  ODS_PA_0620_P  2017-01-26  2017-01-26
11459   001415  2017-03-13      001415  ODS_PA_0620_P  2017-01-26  2017-01-26
11460   001415  2017-03-13      001415  ODS_PA_0620_P  2017-01-26  2017-01-26
11461   001415  2017-03-13      001415  ODS_PA_0620_P  2017-01-26  2017-01-26
11466   001415  2017-03-13      001415  ODS_PA_0620_P  2017-01-26  2017-01-26
11467   001415  2017-03-13      001415  ODS_PA_0620_P  2017-01-26  2017-01-26
11471   001415  2017-03-13      001415    ODS_PA_0580  2017-02-07  2017-02-07
11472   001415  2017-03-13      001415    ODS_PA_0580  2017-02-02  2017-02-02
11476   001415  2017-03-13      001415  ODS_PA_0560_P  2017-02-02  2017-02-02
11477   001415  2017-03-13      001415  ODS_PA_0560_P  2017-02-02  2017-02-02
11500   001415  2017-03-13      001415  ODS_PA_0560_P  2017-02-02  2017-02-02

      is_period
10731      True
10733      True
10734      True
10736      True
10738      True
10794      True
11322      True
11323      True
11324      True
11326      True
11327      True
11370      True
11378      True
11389      True
11390      True
11393      True
11404      True
11405      True
11411      True
11417      True
11419      True
11449      True
11450      True
11451      True
11452      True
11453      True
11455      True
11456      True
11457      True
11458      True
11459      True
11460      True
11461      True
11466      True
11467      True
11471      True
11472      True
11476      True
11477      True
11500      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
17550   001415  2017-03-31      001415  ODS_PA_0550_P  2017-03-01  2017-03-01
17639   001415  2017-03-31      001415  ODS_PA_0550_P  2017-03-01  2017-03-01
17706   001415  2017-03-31      001415  ODS_PA_0550_P  2017-03-01  2017-03-01
17836   001415  2017-03-31      001415  ODS_PA_0560_P  2017-03-01  2017-03-01
17860   001415  2017-03-31      001415  ODS_PA_0560_P  2017-03-01  2017-03-01
17977   001415  2017-03-31      001415    FMT_PA_0850  2017-03-01  2017-03-01
18001   001415  2017-03-31      001415  ODS_PA_0590_P  2017-03-01  2017-03-01
18002   001415  2017-03-31      001415  ODS_PA_0590_P  2017-03-01  2017-03-01
18003   001415  2017-03-31      001415  ODS_PA_0590_P  2017-01-03  2017-01-03
18117   001415  2017-03-31      001415  ODS_PA_0590_P  2017-01-03  2017-01-03
20162   001415  2017-03-31      001415  ODS_PA_0590_P  2017-01-03  2017-01-03
20163   001415  2017-03-31      001415  ODS_PA_0590_P  2017-03-01  2017-03-01
20164   001415  2017-03-31      001415  ODS_PA_0590_P  2017-03-01  2017-03-01
20165   001415  2017-03-31      001415  ODS_PA_0590_P  2017-03-01  2017-03-01
20166   001415  2017-03-31      001415  ODS_PA_0590_P  2017-03-01  2017-03-01
20168   001415  2017-03-31      001415  ODS_PA_0590_P  2017-03-01  2017-03-01
20169   001415  2017-03-31      001415  ODS_PA_0590_P  2017-03-01  2017-03-01
20593   001415  2017-03-31      001415  ODS_PA_0550_P  2017-03-22  2017-03-22
20771   001415  2017-03-31      001415  ODS_PA_0550_P  2017-03-01  2017-03-01
20772   001415  2017-03-31      001415  ODS_PA_0550_P  2017-03-01  2017-03-01
20774   001415  2017-03-31      001415  ODS_PA_0550_P  2017-03-01  2017-03-01
20775   001415  2017-03-31      001415  ODS_PA_0550_P  2017-03-01  2017-03-01
20776   001415  2017-03-31      001415  ODS_PA_0550_P  2017-03-01  2017-03-01
20777   001415  2017-03-31      001415  ODS_PA_0550_P  2017-03-01  2017-03-01
20787   001415  2017-03-31      001415  ODS_PA_0550_P  2017-03-01  2017-03-01
20788   001415  2017-03-31      001415  ODS_PA_0550_P  2017-01-26  2017-01-26
20805   001415  2017-03-31      001415  ODS_PA_0550_P  2017-03-01  2017-03-01
21110   001415  2017-03-31      001415  ODS_PA_0550_P  2017-03-01  2017-03-01
21144   001415  2017-03-31      001415  ODS_PA_0550_P  2017-02-27  2017-02-27

      is_period
17550      True
17639      True
17706      True
17836      True
17860      True
17977      True
18001      True
18002      True
18003      True
18117      True
20162      True
20163      True
20164      True
20165      True
20166      True
20168      True
20169      True
20593      True
20771      True
20772      True
20774      True
20775      True
20776      True
20777      True
20787      True
20788      True
20805      True
21110      True
21144      True

QQ
      username  query_date report_name            doc  start_date    end_date  \
17542   001415  2017-03-28      001415    ODS_PA_0380         NaN  9999-12-31
17545   001415  2017-03-28      001415    ODS_PA_0580  2017-03-01  2017-03-01
17546   001415  2017-03-28      001415    ODS_PA_0580  2017-02-01  2017-02-01
17548   001415  2017-03-28      001415    ODS_PA_0580  2017-03-01  2017-03-01
17613   001415  2017-03-28      001415    FMT_PA_0860  2017-03-12  2017-03-12
17614   001415  2017-03-28      001415    FMT_PA_0860  2017-03-12  2017-03-12
17615   001415  2017-03-28      001415    FMT_PA_0860  2017-03-12  2017-03-12
17616   001415  2017-03-28      001415    FMT_PA_0860  2017-02-02  2017-02-02
19757   001415  2017-03-28      001415  ODS_PA_0350_P  2017-02-07  2017-02-07
19875   001415  2017-03-28      001415  ODS_PA_0350_P  2017-01-10  2017-01-10
19876   001415  2017-03-28      001415  ODS_PA_0350_P  2017-01-10  2017-01-10
19877   001415  2017-03-28      001415  ODS_PA_0350_P  2017-01-10  2017-01-10
20050   001415  2017-03-28      001415    ODS_PA_0380         NaN  9999-12-31
20051   001415  2017-03-28      001415    ODS_PA_0380         NaN  9999-12-31
20062   001415  2017-03-28      001415    FMT_PA_0851  2017-02-27  2017-02-27
20114   001415  2017-03-28      001415    ODS_PA_0380         NaN  9999-12-31
20116   001415  2017-03-28      001415    ODS_PA_0380         NaN  9999-12-31
20117   001415  2017-03-28      001415    ODS_PA_0380         NaN  9999-12-31
20634   001415  2017-03-28      001415    FMT_PA_0850  2017-03-01  2017-03-01
21129   001415  2017-03-28      001415  ODS_PA_0350_P  2017-02-07  2017-02-07

      is_period
17542      True
17545      True
17546      True
17548      True
17613      True
17614      True
17615      True
17616      True
19757      True
19875      True
19876      True
19877      True
20050      True
20051      True
20062      True
20114      True
20116      True
20117      True
20634      True
21129      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
30524   001415  2017-04-21      001415  ODS_PA_0550_P  2017-04-30  2017-04-30
30525   001415  2017-04-21      001415  ODS_PA_0550_P  2017-04-30  2017-04-30
30526   001415  2017-04-21      001415  ODS_PA_0560_P  2017-04-30  2017-04-30
30527   001415  2017-04-21      001415  ODS_PA_0560_P  2017-04-30  2017-04-30
30528   001415  2017-04-21      001415  ODS_PA_0560_P  2017-04-30  2017-04-30
30530   001415  2017-04-21      001415  ODS_PA_0560_P  2017-03-31  2017-03-31
30531   001415  2017-04-21      001415  ODS_PA_0560_P  2017-04-30  2017-04-30
30532   001415  2017-04-21      001415  ODS_PA_0560_P  2017-03-31  2017-03-31
30540   001415  2017-04-21      001415  ODS_PA_0560_P  2017-04-05  2017-04-05
30541   001415  2017-04-21      001415  ODS_PA_0560_P  2017-04-05  2017-04-05
30554   001415  2017-04-21      001415  ODS_PA_0560_P  2017-03-01  2017-03-01
30555   001415  2017-04-21      001415    FMT_PA_0853  2017-04-30  2017-04-30
30556   001415  2017-04-21      001415    FMT_PA_0851  2017-04-30  2017-04-30
30618   001415  2017-04-21      001415  ODS_PA_0560_P  2017-04-05  2017-04-05
30619   001415  2017-04-21      001415  ODS_PA_0560_P  2017-04-05  2017-04-05
30624   001415  2017-04-21      001415  ODS_PA_0560_P  2017-03-01  2017-03-01
30625   001415  2017-04-21      001415  ODS_PA_0560_P  2017-03-01  2017-03-01
31227   001415  2017-04-21      001415    FMT_PA_0851  2017-04-30  2017-04-30
31632   001415  2017-04-21      001415    FMT_PA_0870  2017-04-30  2017-04-30

      is_period
30524      True
30525      True
30526      True
30527      True
30528      True
30530      True
30531      True
30532      True
30540      True
30541      True
30554      True
30555      True
30556      True
30618      True
30619      True
30624      True
30625      True
31227      True
31632      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
26570   001415  2017-04-11      001415  FMT_PA_0710  2017-03-01  2017-04-05
27518   001415  2017-04-11      001415  FMT_PA_0851  2017-04-05  2017-04-05
27585   001415  2017-04-11      001415  FMT_PA_0851  2017-04-05  2017-04-05
27586   001415  2017-04-11      001415  FMT_PA_0851  2017-04-05  2017-04-05
27707   001415  2017-04-11      001415  FMT_PA_0710  2017-04-05  2017-04-05
27874   001415  2017-04-11      001415  FMT_PA_0851  2017-04-05  2017-04-05
28529   001415  2017-04-11      001415  FMT_PA_0710  2017-04-05  2017-04-05
28530   001415  2017-04-11      001415  FMT_PA_0710  2017-04-05  2017-04-05
28533   001415  2017-04-11      001415  FMT_PA_0710  2017-01-01  2017-04-05
28535   001415  2017-04-11      001415  FMT_PA_0710  2017-01-01  2017-04-05
28536   001415  2017-04-11      001415  FMT_PA_0710  2017-01-01  2017-04-05
28537   001415  2017-04-11      001415  FMT_PA_0710  2017-03-31  2017-03-31
28538   001415  2017-04-11      001415  FMT_PA_0710  2017-03-01  2017-03-31
28539   001415  2017-04-11      001415  FMT_PA_0710  2017-03-01  2017-03-31
28541   001415  2017-04-11      001415  FMT_PA_0710  2017-03-31  2017-03-31
28576   001415  2017-04-11      001415  FMT_PA_0710  2017-03-31  2017-03-31
28577   001415  2017-04-11      001415  FMT_PA_0710  2017-03-31  2017-03-31
28578   001415  2017-04-11      001415  FMT_PA_0710  2017-03-31  2017-03-31

      is_period
26570      True
27518      True
27585      True
27586      True
27707      True
27874      True
28529      True
28530      True
28533      True
28535      True
28536      True
28537      True
28538      True
28539      True
28541      True
28576      True
28577      True
28578      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
22847   001415  2017-04-10      001415  FMT_PA_0750  2016-11-30  2017-04-01
22848   001415  2017-04-10      001415  FMT_PA_0750  2016-11-30  2017-04-01
22849   001415  2017-04-10      001415  FMT_PA_0710  2014-01-01  2017-04-30
23021   001415  2017-04-10      001415  FMT_PA_0710  2014-01-01  2017-04-30
24246   001415  2017-04-10      001415  FMT_PA_0710  2014-01-01  2017-04-30
24247   001415  2017-04-10      001415  FMT_PA_0710  2014-01-01  2017-04-30
24256   001415  2017-04-10      001415  FMT_PA_0710  2014-01-01  2017-04-30
24259   001415  2017-04-10      001415  FMT_PA_0710  2014-01-01  2017-04-30
24262   001415  2017-04-10      001415  FMT_PA_0710  2014-01-01  2017-04-30
24851   001415  2017-04-10      001415  FMT_PA_0710  2014-01-01  2017-04-30
24923   001415  2017-04-10      001415  FMT_PA_0710  2014-01-01  2017-04-30
25991   001415  2017-04-10      001415  FMT_PA_0980  2012-01-01  2020-01-01
26529   001415  2017-04-10      001415  FMT_PA_0851  2012-01-01  2020-01-01
26532   001415  2017-04-10      001415  FMT_PA_0970  2012-01-01  2020-01-01
27020   001415  2017-04-10      001415  FMT_PA_0850  2012-01-01  2020-01-01
28658   001415  2017-04-10      001415  FMT_PA_0890  2012-01-01  2020-01-01

      is_period
22847      True
22848      True
22849      True
23021      True
24246      True
24247      True
24256      True
24259      True
24262      True
24851      True
24923      True
25991      True
26529      True
26532      True
27020      True
28658      True
QQ
      username  query_date report_name            doc start_date    end_date  \
26460   001415  2017-04-12      001415    FMT_PA_0890        NaN  9999-12-31
26461   001415  2017-04-12      001415    FMT_PA_0890        NaN  9999-12-31
26615   001415  2017-04-12      001415  ODS_PA_0360_P        NaN  9999-12-31
26616   001415  2017-04-12      001415  ODS_PA_0360_P        NaN  9999-12-31
26617   001415  2017-04-12      001415  ODS_PA_0360_P        NaN  9999-12-31
26620   001415  2017-04-12      001415  ODS_PA_0360_P        NaN  9999-12-31
26622   001415  2017-04-12      001415  ODS_PA_0360_P        NaN  9999-12-31
26637   001415  2017-04-12      001415    FMT_PA_0880        NaN  9999-12-31
27279   001415  2017-04-12      001415    FMT_PA_0890        NaN  9999-12-31
27399   001415  2017-04-12      001415  ODS_PA_0360_P        NaN  9999-12-31
27400   001415  2017-04-12      001415  ODS_PA_0360_P        NaN  9999-12-31
27401   001415  2017-04-12      001415  ODS_PA_0360_P        NaN  9999-12-31
27402   001415  2017-04-12      001415  ODS_PA_0360_P        NaN  9999-12-31
27404   001415  2017-04-12      001415  ODS_PA_0360_P        NaN  9999-12-31

      is_period
26460      True
26461      True
26615      True
26616      True
26617      True
26620      True
26622      True
26637      True
27279      True
27399      True
27400      True
27401      True
27402      True
27404      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
4384   001415  2017-03-01      001415  ODS_PA_0610_P  2017-01-03  2017-01-03
4385   001415  2017-03-01      001415  ODS_PA_0610_P  2017-01-03  2017-01-03
4386   001415  2017-03-01      001415  ODS_PA_0610_P  2017-01-03  2017-01-03
4387   001415  2017-03-01      001415  ODS_PA_0610_P  2017-01-03  2017-01-03
4388   001415  2017-03-01      001415  ODS_PA_0610_P  2017-01-03  2017-01-03
4389   001415  2017-03-01      001415  ODS_PA_0610_P  2017-01-03  2017-01-03
4390   001415  2017-03-01      001415  ODS_PA_0610_P  2017-01-03  2017-01-03
4391   001415  2017-03-01      001415  ODS_PA_0610_P  2017-01-03  2017-01-03
7378   001415  2017-03-01      001415  ODS_PA_0550_P  2016-11-05  2016-11-05
7379   001415  2017-03-01      001415  ODS_PA_0550_P  2016-11-30  2016-11-30
7679   001415  2017-03-01      001415    FMT_PA_0850  2016-12-01  2017-03-01
7745   001415  2017-03-01      001415  ODS_PA_0610_P  2016-11-30  2016-11-30
7835   001415  2017-03-01      001415  ODS_PA_0610_P  2017-01-03  2017-01-03

     is_period
4384      True
4385      True
4386      True
4387      True
4388      True
4389      True
4390      True
4391      True
7378      True
7379      True
7679      True
7745      True
7835      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
5021   001415  2017-03-10      001415    FMT_PA_0870  2017-01-01  2017-03-10
5023   001415  2017-03-10      001415    FMT_PA_0870  2017-01-01  2017-03-10
5403   001415  2017-03-10      001415  ODS_PA_0570_P  2017-01-25  2017-01-25
5404   001415  2017-03-10      001415  ODS_PA_0570_P  2017-01-26  2017-01-26
9124   001415  2017-03-10      001415  ODS_PA_0350_P  2017-01-03  2017-01-03
9125   001415  2017-03-10      001415  ODS_PA_0350_P  2017-01-10  2017-01-10
9266   001415  2017-03-10      001415    FMT_PA_0880  2017-01-01  2017-03-10
9267   001415  2017-03-10      001415    FMT_PA_0880  2017-01-01  2017-03-10
9434   001415  2017-03-10      001415    FMT_PA_0890  2017-01-01  2017-03-10
9530   001415  2017-03-10      001415    FMT_PA_0890  2016-12-01  2017-03-10
9606   001415  2017-03-10      001415  ODS_PA_0570_P  2016-12-09  2016-12-09
9607   001415  2017-03-10      001415  ODS_PA_0570_P  2017-01-25  2017-01-25

     is_period
5021      True
5023      True
5403      True
5404      True
9124      True
9125      True
9266      True
9267      True
9434      True
9530      True
9606      True
9607      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
28967   001415  2017-04-14      001415    FMT_PA_0853  2017-03-01  2017-04-05
28968   001415  2017-04-14      001415    FMT_PA_0853  2017-03-01  2017-04-05
29026   001415  2017-04-14      001415    FMT_PA_0880  2017-04-05  2017-04-05
29027   001415  2017-04-14      001415    FMT_PA_0854  2017-04-05  2017-04-05
29028   001415  2017-04-14      001415    FMT_PA_0852  2017-01-01  2017-04-05
29029   001415  2017-04-14      001415    FMT_PA_0853  2017-01-01  2017-04-05
29455   001415  2017-04-14      001415  ODS_PA_0560_P  2017-04-05  2017-04-05
29456   001415  2017-04-14      001415  ODS_PA_0560_P  2017-03-01  2017-03-01
29473   001415  2017-04-14      001415  ODS_PA_0550_P  2017-04-05  2017-04-05
29919   001415  2017-04-14      001415  ODS_PA_0590_P  2017-04-05  2017-04-05
29951   001415  2017-04-14      001415  ODS_PA_0590_P  2017-04-05  2017-04-05

      is_period
28967      True
28968      True
29026      True
29027      True
29028      True
29029      True
29455      True
29456      True
29473      True
29919      True
29951      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
12823   001415  2017-03-18      001415    FMT_PA_0851  2017-02-02  2017-03-18
12824   001415  2017-03-18      001415    FMT_PA_0890  2017-02-02  2017-02-02
12825   001415  2017-03-18      001415    FMT_PA_0890  2017-02-02  2017-02-02
12826   001415  2017-03-18      001415    FMT_PA_0890         NaN  9999-12-31
12827   001415  2017-03-18      001415    FMT_PA_0890  2017-02-02  2017-02-02
13521   001415  2017-03-18      001415    FMT_PA_0890  2017-02-02  2017-02-02
13555   001415  2017-03-18      001415  ODS_PA_0360_P  2017-02-02  2017-02-02

      is_period
12823      True
12824      True
12825      True
12826      True
12827      True
13521      True
13555      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
22478   001415  2017-04-04      001415  ODS_PA_0560_P  2017-03-01  2017-03-01
22479   001415  2017-04-04      001415  ODS_PA_0560_P  2017-03-01  2017-03-01
22480   001415  2017-04-04      001415    FMT_PA_0740  2017-01-01  2017-03-01
22481   001415  2017-04-04      001415    FMT_PA_0740  2017-01-01  2017-03-01
22482   001415  2017-04-04      001415    FMT_PA_0730  2017-03-01  2017-03-01
22483   001415  2017-04-04      001415    FMT_PA_0730  2017-03-01  2017-03-01
22487   001415  2017-04-04      001415    ODS_PA_0390         NaN  9999-12-31

      is_period
22478      True
22479      True
22480      True
22481      True
22482      True
22483      True
22487      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
18659   001415  2017-03-27      001415    FMT_PA_0850  2017-03-01  2017-03-01
20216   001415  2017-03-27      001415    FMT_PA_0870  2017-03-01  2017-03-01
20217   001415  2017-03-27      001415  ODS_PA_0350_P  2017-02-02  2017-02-02
20218   001415  2017-03-27      001415  ODS_PA_0350_P  2017-02-02  2017-02-02
20492   001415  2017-03-27      001415  ODS_PA_0350_P  2017-02-07  2017-02-07
20765   001415  2017-03-27      001415  ODS_PA_0350_P  2017-02-07  2017-02-07
20766   001415  2017-03-27      001415  ODS_PA_0350_P  2017-02-07  2017-02-07

      is_period
18659      True
20216      True
20217      True
20218      True
20492      True
20765      True
20766      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
23310   001415  2017-04-07      001415  ODS_PA_0600_P  2017-03-01  2017-03-01
23730   001415  2017-04-07      001415    FMT_PA_0851  2017-02-27  2017-02-27
23829   001415  2017-04-07      001415  ODS_PA_0350_P  2017-03-31  2017-03-31
23830   001415  2017-04-07      001415  ODS_PA_0350_P  2017-03-31  2017-03-31
25181   001415  2017-04-07      001415    FMT_PA_0880  2017-03-31  2017-03-31
25183   001415  2017-04-07      001415    FMT_PA_0880  2017-03-31  2017-03-31

      is_period
23310      True
23730      True
23829      True
23830      True
25181      True
25183      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
3905   001415  2017-02-22      001415  ODS_PA_0550_P  2017-01-03  2017-01-03
3906   001415  2017-02-22      001415  ODS_PA_0550_P  2017-01-03  2017-01-03
6060   001415  2017-02-22      001415    FMT_PA_0850  2017-01-01  2017-02-22
6061   001415  2017-02-22      001415    FMT_PA_0851  2017-01-01  2017-02-22
7265   001415  2017-02-22      001415  ODS_PA_0550_P  2017-01-03  2017-01-03
7268   001415  2017-02-22      001415  ODS_PA_0550_P  2017-01-03  2017-01-03

     is_period
3905      True
3906      True
6060      True
6061      True
7265      True
7268      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
2698   001415  2017-02-16      001415  FMT_PA_0850  2017-02-01  2017-02-16
7076   001415  2017-02-16      001415  FMT_PA_0850  2017-02-01  2017-02-16
7077   001415  2017-02-16      001415  FMT_PA_0851  2017-02-01  2017-02-16
7078   001415  2017-02-16      001415  FMT_PA_0850  2017-02-01  2017-02-16
7079   001415  2017-02-16      001415  FMT_PA_0851  2017-02-01  2017-02-16

     is_period
2698      True
7076      True
7077      True
7078      True
7079      True
QQ

     username  query_date report_name          doc  start_date    end_date  \
4217   001415  2017-02-24      001415  FMT_PA_0850  2016-12-01  2017-02-24
4230   001415  2017-02-24      001415  FMT_PA_0851  2016-12-01  2017-02-24
4231   001415  2017-02-24      001415  FMT_PA_0850  2016-12-01  2017-02-24
4232   001415  2017-02-24      001415  FMT_PA_0850  2016-12-01  2017-02-24
4233   001415  2017-02-24      001415  FMT_PA_0851  2016-12-01  2017-02-24

     is_period
4217      True
4230      True
4231      True
4232      True
4233      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
11870   001415  2017-03-15      001415    FMT_PA_0851  2017-01-01  2017-03-15
11872   001415  2017-03-15      001415    FMT_PA_0851  2017-02-02  2017-02-02
12139   001415  2017-03-15      001415  ODS_PA_0550_P  2017-02-02  2017-02-02
12141   001415  2017-03-15      001415  ODS_PA_0550_P  2017-02-07  2017-02-07
12143   001415  2017-03-15      001415  ODS_PA_0550_P  2017-02-02  2017-02-02

      is_period
11870      True
11872      True
12139      True
12141      True
12143      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
24542   001415  2017-04-06      001415  ODS_PA_0550_P  2017-03-31  2017-03-31
24543   001415  2017-04-06      001415  ODS_PA_0550_P  2017-03-01  2017-03-01
24544   001415  2017-04-06      001415  ODS_PA_0550_P  2017-03-01  2017-03-01
24545   001415  2017-04-06      001415  ODS_PA_0550_P  2017-03-31  2017-03-31

      is_period
24542      True
24543      True
24544      True
24545      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
30826   001415  2017-04-18      001415    FMT_PA_0851  2017-04-30  2017-04-30
30828   001415  2017-04-18      001415  ODS_PA_0550_P  2017-04-30  2017-04-30
31019   001415  2017-04-18      001415  ODS_PA_0550_P  2017-04-30  2017-04-30
31025   001415  2017-04-18      001415  ODS_PA_0550_P  2017-04-30  2017-04-30

      is_period
30826      True
30828      True
31019      True
31025      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
1428   001415  2017-04-19      001415  FMT_PA_0880         NaN  9999-12-31
1543   001415  2017-04-19      001415  FMT_PA_0880  2017-04-30  2017-04-30
1652   001415  2017-04-19      001415  FMT_PA_0880  2017-04-30  2017-04-30
1653   001415  2017-04-19      001415  FMT_PA_0880         NaN  9999-12-31

     is_period
1428      True
1543      True
1652      True
1653      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
24445   001415  2017-04-08      001415  ODS_PA_0600_P  2017-02-27  2017-02-27
24529   001415  2017-04-08      001415    FMT_PA_0851  2017-02-28  2017-02-28
24559   001415  2017-04-08      001415  ODS_PA_0600_P  2017-03-31  2017-03-31
25571   001415  2017-04-08      001415  ODS_PA_0600_P  2017-02-27  2017-02-27

      is_period
24445      True
24529      True
24559      True
25571      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
13047   001415  2017-03-16      001415    FMT_PA_0710         NaN  9999-12-31
13234   001415  2017-03-16      001415  ODS_PA_0360_P  2017-02-02  2017-02-02
13319   001415  2017-03-16      001415  ODS_PA_0360_P  2017-02-02  2017-02-02

      is_period
13047      True
13234      True
13319      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
11429   001415  2017-03-14      001415  ODS_PA_0560_P  2017-02-02  2017-02-02
11430   001415  2017-03-14      001415  ODS_PA_0560_P  2017-02-02  2017-02-02
11431   001415  2017-03-14      001415  ODS_PA_0560_P  2017-02-02  2017-02-02

      is_period
11429      True
11430      True
11431      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
7427   001415  2017-03-02      001415  FMT_PA_0851  2017-01-01  2017-03-02
8312   001415  2017-03-02      001415  FMT_PA_0851  2016-12-01  2017-03-02

     is_period
7427      True
8312      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
28333   001415  2017-04-13      001415  ODS_PA_0360_P  2017-04-05  2017-04-05
29862   001415  2017-04-13      001415    FMT_PA_0870  2017-03-31  2017-03-31

      is_period
28333      True
29862      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
7955   001415  2017-03-04      001415  ODS_PA_0550_P  2017-01-10  2017-01-10
7972   001415  2017-03-04      001415  ODS_PA_0560_P  2017-01-10  2017-01-10

     is_period
7955      True
7972      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
13898   001415  2017-03-20      001415  FMT_PA_0740  2017-02-27  2017-02-27
14137   001415  2017-03-20      001415  FMT_PA_0710  2016-02-27  2016-02-27

      is_period
13898      True
14137      True
QQ
      username  query_date report_name          doc start_date    end_date  \
31845   001415  2017-04-20      001415  ODS_PA_0390        NaN  9999-12-31
31906   001415  2017-04-20      001415  ODS_PA_0390        NaN  9999-12-31

      is_period
31845      True
31906      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
21537   001415  2017-04-05      001415  FMT_PA_0730  2017-03-31  2017-03-31
24807   001415  2017-04-05      001415  FMT_PA_0854  2017-03-01  2017-03-01

      is_period
21537      True
24807      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
4516   001415  2017-03-07      001415  FMT_PA_0730  2017-01-01  2017-03-07
4518   001415  2017-03-07      001415  FMT_PA_0730  2017-01-13  2017-01-13

     is_period
4516      True
4518      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
4162   001415  2017-02-23      001415  FMT_PA_0710  2017-01-01  2017-02-23

     is_period
4162      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
19061   001415  2017-03-29      001415  FMT_PA_0851  2017-02-28  2017-02-28

      is_period
19061      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
15629   001415  2017-03-23      001415  FMT_PA_0850  2017-01-01  2017-03-23

      is_period
15629      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
16956   001415  2017-03-24      001415  FMT_PA_0855  2017-01-01  2017-03-24

      is_period
16956      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
6138   001415  2017-02-20      001415  FMT_PA_0710  2017-01-01  2017-02-20

     is_period
6138      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
7375   002064  2017-03-01      002064    ODS_PA_0440  2017-01-03  2017-01-03
7382   002064  2017-03-01      002064    ODS_PA_0440  2017-01-06  2017-01-06
7383   002064  2017-03-01      002064    ODS_PA_0440  2017-01-03  2017-01-03
7391   002064  2017-03-01      002064  ODS_PA_0631_P  2017-01-10  2017-01-10
7736   002064  2017-03-01      002064    ODS_PA_0450  2017-01-10  2017-01-10
7737   002064  2017-03-01      002064    ODS_PA_0450  2017-01-03  2017-01-03
7738   002064  2017-03-01      002064    ODS_PA_0510  2017-01-03  2017-01-03
7746   002064  2017-03-01      002064    FMT_PA_0970  2016-10-01  2016-11-01
7747   002064  2017-03-01      002064    FMT_PA_0980  2016-10-01  2016-11-01
7748   002064  2017-03-01      002064    FMT_PA_0950  2016-10-01  2016-11-01
7749   002064  2017-03-01      002064    FMT_PA_0951  2016-10-01  2016-11-01
7750   002064  2017-03-01      002064    FMT_PA_0960  2016-10-01  2016-11-01
7751   002064  2017-03-01      002064    FMT_PA_0961  2016-10-01  2016-11-01
7768   002064  2017-03-01      002064    FMT_PA_0710  2016-01-01  2016-12-31
7769   002064  2017-03-01      002064    FMT_PA_1020  2016-01-01  2016-12-31
7770   002064  2017-03-01      002064    FMT_PA_0740  2016-01-01  2016-12-31
7771   002064  2017-03-01      002064    FMT_PA_0750  2016-01-01  2016-12-31
7772   002064  2017-03-01      002064    FMT_PA_0760  2016-01-01  2016-12-31
7773   002064  2017-03-01      002064    FMT_PA_0770  2016-01-01  2016-12-31
7774   002064  2017-03-01      002064    FMT_PA_0780  2016-01-01  2016-12-31
7775   002064  2017-03-01      002064    FMT_PA_0790  2016-01-01  2016-12-31
7776   002064  2017-03-01      002064    FMT_PA_0800  2016-01-01  2016-12-31
7777   002064  2017-03-01      002064    FMT_PA_0810  2016-01-01  2016-12-31
7778   002064  2017-03-01      002064    FMT_PA_0820  2016-01-01  2016-12-31
7779   002064  2017-03-01      002064    FMT_PA_0830  2016-01-01  2016-12-31
7780   002064  2017-03-01      002064    FMT_PA_0840  2016-01-01  2016-12-31
7781   002064  2017-03-01      002064    FMT_PA_0850  2016-01-01  2016-12-31
7782   002064  2017-03-01      002064    FMT_PA_0851  2016-01-01  2016-12-31
7783   002064  2017-03-01      002064    FMT_PA_0852  2016-01-01  2016-12-31
7784   002064  2017-03-01      002064    FMT_PA_0853  2016-01-01  2016-12-31
7785   002064  2017-03-01      002064    FMT_PA_0854  2016-01-01  2016-12-31
7786   002064  2017-03-01      002064    FMT_PA_0855  2016-01-01  2016-12-31
7787   002064  2017-03-01      002064    FMT_PA_0860  2016-01-01  2016-12-31
7788   002064  2017-03-01      002064    FMT_PA_0870  2016-01-01  2016-12-31
7789   002064  2017-03-01      002064    FMT_PA_0880  2016-01-01  2016-12-31
7790   002064  2017-03-01      002064    FMT_PA_0890  2016-01-01  2016-12-31
7791   002064  2017-03-01      002064    FMT_PA_0900  2016-01-01  2016-12-31
7792   002064  2017-03-01      002064    FMT_PA_0910  2016-01-01  2016-12-31
7793   002064  2017-03-01      002064    FMT_PA_0920  2016-01-01  2016-12-31
7794   002064  2017-03-01      002064    FMT_PA_0930  2016-01-01  2016-12-31
7795   002064  2017-03-01      002064    FMT_PA_0940  2016-01-01  2016-12-31
7796   002064  2017-03-01      002064    FMT_PA_0950  2016-01-01  2016-12-31
7797   002064  2017-03-01      002064    FMT_PA_0951  2016-01-01  2016-12-31
7798   002064  2017-03-01      002064    FMT_PA_0960  2016-01-01  2016-12-31
7799   002064  2017-03-01      002064    FMT_PA_0961  2016-01-01  2016-12-31
7800   002064  2017-03-01      002064    FMT_PA_0970  2016-01-01  2016-12-31
7801   002064  2017-03-01      002064    FMT_PA_0980  2016-01-01  2016-12-31
7802   002064  2017-03-01      002064    FMT_PA_0990  2016-01-01  2016-12-31
7803   002064  2017-03-01      002064    FMT_PA_1000  2016-01-01  2016-12-31
7804   002064  2017-03-01      002064    FMT_PA_0730  2016-01-01  2016-12-31

     is_period
7375      True
7382      True
7383      True
7391      True
7736      True
7737      True
7738      True
7746      True
7747      True
7748      True
7749      True
7750      True
7751      True
7768      True
7769      True
7770      True
7771      True
7772      True
7773      True
7774      True
7775      True
7776      True
7777      True
7778      True
7779      True
7780      True
7781      True
7782      True
7783      True
7784      True
7785      True
7786      True
7787      True
7788      True
7789      True
7790      True
7791      True
7792      True
7793      True
7794      True
7795      True
7796      True
7797      True
7798      True
7799      True
7800      True
7801      True
7802      True
7803      True
7804      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
3911   002064  2017-02-22      002064    ODS_PA_0400  2017-01-03  2017-01-03
3912   002064  2017-02-22      002064    ODS_PA_0410  2017-01-03  2017-01-03
3913   002064  2017-02-22      002064    ODS_PA_0430  2017-01-03  2017-01-03
3914   002064  2017-02-22      002064    ODS_PA_0430  2017-01-03  2017-01-03
4027   002064  2017-02-22      002064    ODS_PA_0450  2017-01-03  2017-01-03
4028   002064  2017-02-22      002064    ODS_PA_0510  2017-01-03  2017-01-03
4029   002064  2017-02-22      002064    ODS_PA_0680  2017-01-03  2017-01-03
6007   002064  2017-02-22      002064  ODS_PA_0521_P  2017-01-03  2017-01-03
6052   002064  2017-02-22      002064  ODS_PA_0651_P  2017-01-03  2017-01-03
6055   002064  2017-02-22      002064    ODS_PA_0460  2017-01-03  2017-01-03
6056   002064  2017-02-22      002064    ODS_PA_0460  2017-01-31  2017-01-31
6057   002064  2017-02-22      002064    ODS_PA_0460  2016-11-30  2016-11-30
6078   002064  2017-02-22      002064  ODS_PA_0691_P  2017-01-03  2017-01-03
6082   002064  2017-02-22      002064  ODS_PA_0501_P  2016-11-30  2016-11-30
7208   002064  2017-02-22      002064    ODS_PA_0440  2017-01-03  2017-01-03
7240   002064  2017-02-22      002064  ODS_PA_0611_P  2017-01-03  2017-01-03
7242   002064  2017-02-22      002064  ODS_PA_0621_P  2017-01-03  2017-01-03
7270   002064  2017-02-22      002064  ODS_PA_0631_P  2017-01-03  2017-01-03
7276   002064  2017-02-22      002064  ODS_PA_0641_P  2017-01-03  2017-01-03
7293   002064  2017-02-22      002064  ODS_PA_0701_P  2017-01-03  2017-01-03
7306   002064  2017-02-22      002064    ODS_PA_0430  2017-01-31  2017-01-31

     is_period
3911      True
3912      True
3913      True
3914      True
4027      True
4028      True
4029      True
6007      True
6052      True
6055      True
6056      True
6057      True
6078      True
6082      True
7208      True
7240      True
7242      True
7270      True
7276      True
7293      True
7306      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
7283   002064  2017-02-24      002064  ODS_PA_0651_P  2017-01-03  2017-01-03
7290   002064  2017-02-24      002064  ODS_PA_0691_P  2017-01-03  2017-01-03
7349   002064  2017-02-24      002064  ODS_PA_0701_P  2017-01-03  2017-01-03
7350   002064  2017-02-24      002064    ODS_PA_0400  2017-01-03  2017-01-03
7351   002064  2017-02-24      002064    ODS_PA_0430  2017-01-03  2017-01-03
7353   002064  2017-02-24      002064    ODS_PA_0440  2017-01-03  2017-01-03
7354   002064  2017-02-24      002064    ODS_PA_0450  2017-01-03  2017-01-03
7356   002064  2017-02-24      002064    ODS_PA_0460  2017-01-03  2017-01-03
7357   002064  2017-02-24      002064    ODS_PA_0480  2017-01-03  2017-01-03
7358   002064  2017-02-24      002064    ODS_PA_0480  2017-01-03  2017-01-03
7359   002064  2017-02-24      002064    ODS_PA_0510  2017-01-03  2017-01-03
7361   002064  2017-02-24      002064    ODS_PA_0530  2017-01-03  2017-01-03
7362   002064  2017-02-24      002064    ODS_PA_0530  2017-01-03  2017-01-03
7364   002064  2017-02-24      002064    ODS_PA_0680  2017-01-03  2017-01-03
7365   002064  2017-02-24      002064  ODS_PA_0521_P  2017-01-03  2017-01-03
7367   002064  2017-02-24      002064  ODS_PA_0501_P  2017-01-03  2017-01-03
7394   002064  2017-02-24      002064  ODS_PA_0631_P  2017-01-03  2017-01-03
7407   002064  2017-02-24      002064  ODS_PA_0641_P  2017-01-03  2017-01-03

     is_period
7283      True
7290      True
7349      True
7350      True
7351      True
7353      True
7354      True
7356      True
7357      True
7358      True
7359      True
7361      True
7362      True
7364      True
7365      True
7367      True
7394      True
7407      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
22840   002064  2017-04-10      002064  ODS_PA_0521_P  2017-03-31  2017-03-31
24742   002064  2017-04-10      002064    FMT_PA_0840         NaN  9999-12-31
26227   002064  2017-04-10      002064  ODS_PA_0470_P  2017-04-05  2017-04-05
26290   002064  2017-04-10      002064    ODS_PA_0510  2017-04-05  2017-04-05
26291   002064  2017-04-10      002064  ODS_PA_0521_P  2017-04-05  2017-04-05
26368   002064  2017-04-10      002064  ODS_PA_0520_P  2017-04-05  2017-04-05
26628   002064  2017-04-10      002064  ODS_PA_0500_P  2017-04-05  2017-04-05
26893   002064  2017-04-10      002064    FMT_PA_0850  2012-01-01  2020-01-01
27021   002064  2017-04-10      002064    FMT_PA_0920  2012-01-01  2020-01-01
27029   002064  2017-04-10      002064    ODS_PA_0480  2017-04-05  2017-04-05
27030   002064  2017-04-10      002064    ODS_PA_0490  2017-04-05  2017-04-05
27832   002064  2017-04-10      002064    ODS_PA_0440  2017-04-05  2017-04-05
27851   002064  2017-04-10      002064    ODS_PA_0430  2017-04-05  2017-04-05
27861   002064  2017-04-10      002064    ODS_PA_0450  2017-04-05  2017-04-05
27862   002064  2017-04-10      002064    ODS_PA_0460  2017-04-05  2017-04-05
27914   002064  2017-04-10      002064    FMT_PA_0950  2012-01-01  2020-01-01
27967   002064  2017-04-10      002064    FMT_PA_1000  2012-01-01  2020-01-01
28404   002064  2017-04-10      002064    FMT_PA_0960  2012-01-01  2020-01-01

      is_period
22840      True
24742      True
26227      True
26290      True
26291      True
26368      True
26628      True
26893      True
27021      True
27029      True
27030      True
27832      True
27851      True
27861      True
27862      True
27914      True
27967      True
28404      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
1242   002064  2017-02-14      002064    ODS_PA_0720         NaN  9999-12-31
1243   002064  2017-02-14      002064    ODS_PA_0530  2017-12-31  2017-12-31
1244   002064  2017-02-14      002064    ODS_PA_0530  2017-12-30  2017-12-30
1245   002064  2017-02-14      002064    ODS_PA_0530  2018-01-31  2018-01-31
1246   002064  2017-02-14      002064    ODS_PA_0530  2017-12-31  2017-12-31
1247   002064  2017-02-14      002064  ODS_PA_0631_P  2017-12-31  2017-12-31
1248   002064  2017-02-14      002064  ODS_PA_0631_P  2017-12-30  2017-12-30
1249   002064  2017-02-14      002064  ODS_PA_0631_P  2016-12-31  2016-12-31
1250   002064  2017-02-14      002064  ODS_PA_0631_P  2016-12-30  2016-12-30
1251   002064  2017-02-14      002064    ODS_PA_0530  2016-12-30  2016-12-30
1252   002064  2017-02-14      002064    ODS_PA_0460  2016-12-30  2016-12-30
1253   002064  2017-02-14      002064    ODS_PA_0490  2016-12-30  2016-12-30
1254   002064  2017-02-14      002064    ODS_PA_0490  2016-11-30  2016-11-30
1255   002064  2017-02-14      002064    ODS_PA_0490  2017-01-31  2017-01-31
1266   002064  2017-02-14      002064  ODS_PA_0700_P  2016-12-30  2016-12-30
1267   002064  2017-02-14      002064  ODS_PA_0701_P  2017-01-31  2017-12-31
1268   002064  2017-02-14      002064  ODS_PA_0701_P  2017-01-01  2017-12-31

     is_period
1242      True
1243      True
1244      True
1245      True
1246      True
1247      True
1248      True
1249      True
1250      True
1251      True
1252      True
1253      True
1254      True
1255      True
1266      True
1267      True
1268      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
11654   002064  2017-03-15      002064    ODS_PA_0430  2017-02-02  2017-02-02
11655   002064  2017-03-15      002064    ODS_PA_0430  2017-02-05  2017-02-05
11656   002064  2017-03-15      002064    ODS_PA_0430  2017-02-02  2017-02-02
12061   002064  2017-03-15      002064  ODS_PA_0631_P  2017-02-02  2017-02-02
12089   002064  2017-03-15      002064    ODS_PA_0400  2017-02-02  2017-02-02
12091   002064  2017-03-15      002064    ODS_PA_0410  2017-02-02  2017-02-02
12092   002064  2017-03-15      002064    ODS_PA_0400  2017-01-26  2017-01-26
12095   002064  2017-03-15      002064    ODS_PA_0410  2017-02-02  2017-02-02
12096   002064  2017-03-15      002064    ODS_PA_0410  2017-02-02  2017-02-02

      is_period
11654      True
11655      True
11656      True
12061      True
12089      True
12091      True
12092      True
12095      True
12096      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
24150   002064  2017-04-08      002064    ODS_PA_0510  2017-03-31  2017-03-31
24446   002064  2017-04-08      002064    ODS_PA_0400  2017-03-31  2017-03-31
24454   002064  2017-04-08      002064  ODS_PA_0631_P  2017-03-31  2017-03-31
24455   002064  2017-04-08      002064    ODS_PA_0460  2017-03-31  2017-03-31

6343      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
12454   002064  2017-03-17      002064  ODS_PA_0470_P  2017-02-07  2017-02-07
12460   002064  2017-03-17      002064    FMT_PA_0951         NaN  9999-12-31
12461   002064  2017-03-17      002064    ODS_PA_0460  2017-02-07  2017-02-07
13496   002064  2017-03-17      002064    ODS_PA_0460  2017-02-02  2017-02-02
13497   002064  2017-03-17      002064    ODS_PA_0460  2017-02-05  2017-02-05
13498   002064  2017-03-17      002064    ODS_PA_0460  2017-02-07  2017-02-07

      is_period
12454      True
12460      True
12461      True
13496      True
13497      True
13498      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
17908   002064  2017-03-30      002064    ODS_PA_0480  2017-03-01  2017-03-01
17927   002064  2017-03-30      002064    ODS_PA_0440  2017-03-01  2017-03-01
20082   002064  2017-03-30      002064    ODS_PA_0450  2017-03-01  2017-03-01
20370   002064  2017-03-30      002064    ODS_PA_0490  2017-03-01  2017-03-01
20411   002064  2017-03-30      002064  ODS_PA_0521_P  2017-03-01  2017-03-01
21120   002064  2017-03-30      002064  ODS_PA_0470_P  2017-03-01  2017-03-01

      is_period
17908      True
17927      True
20082      True
20370      True
20411      True
21120      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
18585   002064  2017-03-29      002064    ODS_PA_0430  2017-03-31  2017-03-31
18586   002064  2017-03-29      002064    ODS_PA_0430  2017-03-01  2017-03-01
18670   002064  2017-03-29      002064    ODS_PA_0430  2017-03-01  2017-03-01
21226   002064  2017-03-29      002064  ODS_PA_0700_P  2017-03-31  2017-03-31
21227   002064  2017-03-29      002064  ODS_PA_0700_P  2017-03-01  2017-03-01
21232   002064  2017-03-29      002064    ODS_PA_0530  2017-02-27  2017-02-27

      is_period
18585      True
18586      True
18670      True
21226      True
21227      True
21232      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
12828   002064  2017-03-16      002064  ODS_PA_0400  2017-01-13  2017-01-13
12849   002064  2017-03-16      002064  ODS_PA_0410  2017-01-26  2017-01-26
13329   002064  2017-03-16      002064  ODS_PA_0400  2017-01-13  2017-01-13
13330   002064  2017-03-16      002064  ODS_PA_0410  2017-01-13  2017-01-13
13332   002064  2017-03-16      002064  ODS_PA_0400  2017-01-26  2017-01-26

      is_period
12828      True
12849      True
13329      True
13330      True
13332      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
14779   002064  2017-03-23      002064    FMT_PA_0810  2017-01-01  2017-12-31
14780   002064  2017-03-23      002064    FMT_PA_0800  2017-01-01  2017-12-31
15877   002064  2017-03-23      002064  ODS_PA_0470_P  2017-02-07  2017-02-07
15935   002064  2017-03-23      002064    FMT_PA_0800  2017-02-27  2017-02-27
16924   002064  2017-03-23      002064    FMT_PA_0800  2017-02-27  2017-02-27

      is_period
14779      True
14780      True
15877      True
15935      True
16924      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
21397   002064  2017-04-05      002064    FMT_PA_0840         NaN  9999-12-31
21398   002064  2017-04-05      002064    FMT_PA_0840         NaN  9999-12-31
21801   002064  2017-04-05      002064    ODS_PA_0510  2017-03-01  2017-03-01
22016   002064  2017-04-05      002064  ODS_PA_0501_P  2017-03-01  2017-03-01
22741   002064  2017-04-05      002064  ODS_PA_0521_P  2017-03-01  2017-03-01

      is_period
21397      True
21398      True
21801      True
22016      True
22741      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
2519   002064  2017-02-16      002064  ODS_PA_0551_P  2017-01-02  2017-01-02
2692   002064  2017-02-16      002064  ODS_PA_0701_P  2017-01-02  2017-01-02
2693   002064  2017-02-16      002064  ODS_PA_0701_P  2017-01-02  2017-01-02
2696   002064  2017-02-16      002064  ODS_PA_0521_P  2017-01-02  2017-01-02
2847   002064  2017-02-16      002064  ODS_PA_0611_P  2017-01-02  2017-01-02

     is_period
2519      True
2692      True
2693      True
2696      True
2847      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
30448   002064  2017-04-20      002064  ODS_PA_0400  2017-04-30  2017-04-30
30456   002064  2017-04-20      002064  ODS_PA_0410  2017-04-30  2017-04-30
30497   002064  2017-04-20      002064  ODS_PA_0450  2017-04-30  2017-04-30
31865   002064  2017-04-20      002064  ODS_PA_0400  2017-05-31  2017-05-31

      is_period
30448      True
30456      True
30497      True
31865      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
2580   002064  2017-02-17      002064    ODS_PA_0680  2017-01-02  2017-01-02
2581   002064  2017-02-17      002064  ODS_PA_0631_P  2017-01-02  2017-01-02
2582   002064  2017-02-17      002064  ODS_PA_0641_P  2017-01-02  2017-01-02
2583   002064  2017-02-17      002064  ODS_PA_0651_P  2017-01-02  2017-01-02

     is_period
2580      True
2581      True
2582      True
2583      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
5290   002064  2017-02-15      002064  ODS_PA_0631_P  2016-11-30  2016-11-30
5291   002064  2017-02-15      002064  ODS_PA_0641_P  2016-11-30  2017-12-31
5292   002064  2017-02-15      002064  ODS_PA_0651_P  2017-01-31  2017-01-31
5295   002064  2017-02-15      002064  ODS_PA_0631_P  2017-01-31  2017-01-31

     is_period
5290      True
5291      True
5292      True
5295      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
240    002064  2017-02-10      002064  ODS_PA_0701_P  2016-10-30  2017-01-31
1071   002064  2017-02-10      002064  ODS_PA_0701_P  2017-01-31  2017-01-31
5388   002064  2017-02-10      002064  ODS_PA_0501_P  2016-11-30  2016-11-30
5389   002064  2017-02-10      002064  ODS_PA_0501_P  2016-11-30  2016-11-30

     is_period
240       True
1071      True
5388      True
5389      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
10780   002064  2017-03-14      002064  ODS_PA_0521_P  2017-01-26  2017-01-26
10904   002064  2017-03-14      002064    ODS_PA_0430  2017-01-26  2017-01-26
10905   002064  2017-03-14      002064    ODS_PA_0430  2017-01-26  2017-01-26
10906   002064  2017-03-14      002064    ODS_PA_0450  2017-01-26  2017-01-26

      is_period
10780      True
10904      True
10905      True
10906      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
9423   002064  2017-03-09      002064  ODS_PA_0460  2017-01-26  2017-01-26
9424   002064  2017-03-09      002064  ODS_PA_0460  2017-01-13  2017-01-13
9425   002064  2017-03-09      002064  ODS_PA_0460  2017-01-10  2017-01-10

     is_period
9423      True
9424      True
9425      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
28792   002064  2017-04-18      002064  ODS_PA_0510  2017-04-05  2017-04-05
28812   002064  2017-04-18      002064  ODS_PA_0510  2017-04-05  2017-04-05
28874   002064  2017-04-18      002064  ODS_PA_0510  2017-04-30  2017-04-30

      is_period
28792      True
28812      True
28874      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
9210   002064  2017-03-10      002064  FMT_PA_0940  2017-01-13  2017-01-13
9211   002064  2017-03-10      002064  FMT_PA_0980  2017-01-13  2017-01-13
9212   002064  2017-03-10      002064  FMT_PA_0980  2017-01-13  2017-01-13

     is_period
9210      True
9211      True
9212      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
8190   002064  2017-03-04      002064  ODS_PA_0460  2017-01-10  2017-01-10
8191   002064  2017-03-04      002064  ODS_PA_0430  2017-01-10  2017-01-10
8192   002064  2017-03-04      002064  ODS_PA_0450  2017-01-10  2017-01-10

     is_period
8190      True
8191      True
8192      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
1646   002064  2017-04-19      002064  ODS_PA_0430  2017-04-30  2017-04-30
1647   002064  2017-04-19      002064  ODS_PA_0430  2017-04-28  2017-04-28
1648   002064  2017-04-19      002064  ODS_PA_0430  2017-04-30  2017-04-30

     is_period
1646      True
1647      True
1648      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
30165   002064  2017-04-17      002064  ODS_PA_0510  2017-04-30  2017-04-30
30184   002064  2017-04-17      002064  ODS_PA_0430  2017-04-30  2017-04-30

      is_period
30165      True
30184      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
25558   002064  2017-04-07      002064  ODS_PA_0430  2017-03-31  2017-03-31
25561   002064  2017-04-07      002064  ODS_PA_0430  2017-03-01  2017-03-01

      is_period
25558      True
25561      True
QQ

     username  query_date report_name          doc  start_date    end_date  \
4507   002064  2017-03-07      002064  ODS_PA_0460  2017-01-13  2017-01-13
4509   002064  2017-03-07      002064  ODS_PA_0460  2017-01-10  2017-01-10

     is_period
4507      True
4509      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
6480   002064  2017-03-03      002064    ODS_PA_0430  2017-01-10  2017-01-10
6579   002064  2017-03-03      002064  ODS_PA_0631_P  2017-01-10  2017-01-10

     is_period
6480      True
6579      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
15442   002064  2017-03-24      002064  ODS_PA_0521_P  2017-02-27  2017-02-27
17339   002064  2017-03-24      002064    ODS_PA_0480  2017-02-27  2017-02-27

      is_period
15442      True
17339      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
17022   002064  2017-03-22      002064  FMT_PA_0710  2017-02-01  2017-03-22
17023   002064  2017-03-22      002064  FMT_PA_0710  2017-02-01  2017-03-22

      is_period
17022      True
17023      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
4244   002064  2017-02-23      002064  ODS_PA_0631_P  2017-01-03  2017-01-03

     is_period
4244      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
11244   002064  2017-03-13      002064  ODS_PA_0501_P  2017-01-26  2017-01-26

      is_period
11244      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
12517   002064  2017-03-18      002064  ODS_PA_0470_P  2017-02-07  2017-02-07

      is_period
12517      True
QQ
      username  query_date report_name          doc start_date    end_date  \
27287   002064  2017-04-12      002064  ODS_PA_0510        NaN  9999-12-31

      is_period
27287      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
5355   002064  2017-02-13      002064  ODS_PA_0501_P  2017-01-01  2018-12-31

     is_period
5355      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
19054   002064  2017-03-27      002064  ODS_PA_0501_P  2017-02-10  2017-02-27

      is_period
19054      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
19819   002064  2017-03-28      002064  ODS_PA_0521_P  2017-03-01  2017-03-31

      is_period
19819      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
9955   002064  2017-03-08      002064  ODS_PA_0430  2017-01-13  2017-01-13

     is_period
9955      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
18522   000358  2017-03-27      000358   ODS_SC_6170  2017-03-01  2017-03-01
18523   000358  2017-03-27      000358   ODS_SC_6180  2017-03-01  2017-03-01
18524   000358  2017-03-27      000358    LS_SC_2103  2017-03-01  2017-03-01
18525   000358  2017-03-27      000358    LS_SC_5720  2017-03-01  2017-03-01
18526   000358  2017-03-27      000358    LS_SC_2024  2017-03-01  2017-03-01
18527   000358  2017-03-27      000358    LS_SC_5120  2017-03-01  2017-03-01
18528   000358  2017-03-27      000358    LS_SC_2102  2017-03-01  2017-03-01
18529   000358  2017-03-27      000358    LS_SC_2023  2017-03-01  2017-03-01
18530   000358  2017-03-27      000358  FMT_UNB_0090  2017-03-01  2017-03-01
18531   000358  2017-03-27      000358  FMT_UNB_0091  2017-03-01  2017-03-01
18532   000358  2017-03-27      000358  FMT_UNB_0092  2017-03-01  2017-03-01
18533   000358  2017-03-27      000358  FMT_UNB_0120  2017-03-01  2017-03-01
18534   000358  2017-03-27      000358  FMT_UNB_0130  2017-03-01  2017-03-01
18562   000358  2017-03-27      000358  FMT_UNB_0200  2017-03-01  2017-03-01
18563   000358  2017-03-27      000358  FMT_UNB_0201  2017-03-01  2017-03-01
18564   000358  2017-03-27      000358  FMT_UNB_0291  2017-03-01  2017-03-01
18565   000358  2017-03-27      000358  FMT_UNB_0310  2017-03-01  2017-03-01
18566   000358  2017-03-27      000358  FMT_UNB_0360  2017-03-01  2017-03-01
18567   000358  2017-03-27      000358  FMT_UNB_0361  2017-03-01  2017-03-01
18568   000358  2017-03-27      000358  FMT_UNB_0362  2017-03-01  2017-03-01
18569   000358  2017-03-27      000358  FMT_UNB_0363  2017-03-01  2017-03-01
18570   000358  2017-03-27      000358  FMT_UNB_0370  2017-03-01  2017-03-01
18571   000358  2017-03-27      000358  FMT_UNB_0372  2017-03-01  2017-03-01
18572   000358  2017-03-27      000358  FMT_UNB_0381  2017-03-01  2017-03-01
18573   000358  2017-03-27      000358  FMT_UNB_0441  2017-03-01  2017-03-01
18574   000358  2017-03-27      000358  FMT_UNB_0650  2017-03-01  2017-03-01
18575   000358  2017-03-27      000358  FMT_UNB_0651  2017-03-01  2017-03-01
18616   000358  2017-03-27      000358  FMT_UNB_0660  2017-03-01  2017-03-01
18617   000358  2017-03-27      000358  FMT_UNB_0670  2017-03-01  2017-03-01
18618   000358  2017-03-27      000358  FMT_UNB_0671  2017-03-01  2017-03-01
...        ...         ...         ...           ...         ...         ...
18684   000358  2017-03-27      000358    LS_SC_5060  2017-03-01  2017-03-01
18685   000358  2017-03-27      000358    LS_SC_5070  2017-03-01  2017-03-01
18686   000358  2017-03-27      000358    LS_SC_5080  2017-03-01  2017-03-01
18687   000358  2017-03-27      000358    LS_SC_5100  2017-03-01  2017-03-01
18688   000358  2017-03-27      000358    LS_SC_5110  2017-03-01  2017-03-01
18707   000358  2017-03-27      000358   ODS_SC_6570  2017-03-01  2017-03-01
18708   000358  2017-03-27      000358   ODS_SC_6340  2017-03-01  2017-03-01
18709   000358  2017-03-27      000358    LS_SC_2020  2017-03-01  2017-03-01
18710   000358  2017-03-27      000358    LS_SC_2021  2017-03-01  2017-03-01
18711   000358  2017-03-27      000358    LS_SC_2022  2017-03-01  2017-03-01
18712   000358  2017-03-27      000358    LS_SC_2040  2017-03-01  2017-03-01
18713   000358  2017-03-27      000358    LS_SC_2041  2017-03-01  2017-03-01
18714   000358  2017-03-27      000358    LS_SC_2100  2017-03-01  2017-03-01
18715   000358  2017-03-27      000358    LS_SC_2101  2017-03-01  2017-03-01
18716   000358  2017-03-27      000358    LS_SC_5710  2017-03-01  2017-03-01
18717   000358  2017-03-27      000358    LS_SC_2105  2017-03-01  2017-03-01
18718   000358  2017-03-27      000358    LS_SC_2010  2017-03-01  2017-03-01
18719   000358  2017-03-27      000358    LS_SC_2140  2017-03-01  2017-03-01
18720   000358  2017-03-27      000358    LS_SC_2150  2017-03-01  2017-03-01
18721   000358  2017-03-27      000358    LS_SC_6940  2017-03-01  2017-03-01
18722   000358  2017-03-27      000358  ODS_UNB_0220  2017-03-01  2017-03-01
18723   000358  2017-03-27      000358  ODS_UNB_0350  2017-03-01  2017-03-01
18724   000358  2017-03-27      000358  ODS_UNB_0480  2017-03-01  2017-03-01
18725   000358  2017-03-27      000358  ODS_UNB_0610  2017-03-01  2017-03-01
18726   000358  2017-03-27      000358   ODS_SC_6890  2017-03-01  2017-03-01
18727   000358  2017-03-27      000358   ODS_PA_0390  2017-03-01  2017-03-01
18728   000358  2017-03-27      000358   ODS_PA_0560  2017-03-01  2017-03-01
18729   000358  2017-03-27      000358    LS_SC_2104  2017-03-01  2017-03-01
18730   000358  2017-03-27      000358   ODS_PA_0350  2017-03-01  2017-03-01
19173   000358  2017-03-27      000358   ODS_SC_6350         NaN  9999-12-31

      is_period
18522      True
18523      True
18524      True
18525      True
18526      True
18527      True
18528      True
18529      True
18530      True
18531      True
18532      True
18533      True
18534      True
18562      True
18563      True
18564      True
18565      True
18566      True
18567      True
18568      True
18569      True
18570      True
18571      True
18572      True
18573      True
18574      True
18575      True
18616      True
18617      True
18618      True
...         ...
18684      True
18685      True
18686      True
18687      True
18688      True
18707      True
18708      True
18709      True
18710      True
18711      True
18712      True
18713      True
18714      True
18715      True
18716      True
18717      True
18718      True
18719      True
18720      True
18721      True
18722      True
18723      True
18724      True
18725      True
18726      True
18727      True
18728      True
18729      True
18730      True
19173      True

[95 rows x 7 columns]
QQ
      username  query_date report_name           doc  start_date    end_date  \
4659    000358  2017-03-08      000358  ODS-POS-1160  2017-02-20  2017-02-20
4660    000358  2017-03-08      000358  ODS_POS_1350  2017-02-20  2017-02-20
4716    000358  2017-03-08      000358    LS_SC_5730  2017-02-20  2017-02-20
4755    000358  2017-03-08      000358  FMT-POS-0030  2017-02-20  2017-02-20
4756    000358  2017-03-08      000358  FMT-POS-0040  2017-02-20  2017-02-20
4757    000358  2017-03-08      000358  FMT-POS-0260  2017-02-20  2017-02-20
4758    000358  2017-03-08      000358  FMT-POS-1120  2017-02-20  2017-02-20
4759    000358  2017-03-08      000358  ODS-POS-0930  2017-02-20  2017-02-20
4760    000358  2017-03-08      000358  ODS-POS-0950  2017-02-20  2017-02-20
4761    000358  2017-03-08      000358  ODS-POS-0970  2017-02-20  2017-02-20
4762    000358  2017-03-08      000358  ODS-POS-1160  2017-02-20  2017-02-20
4763    000358  2017-03-08      000358  ODS_POS_1350  2017-02-20  2017-02-20
4764    000358  2017-03-08      000358  ODS_POS_1380  2017-02-20  2017-02-20
4765    000358  2017-03-08      000358  ODS_POS_1250  2017-02-20  2017-02-20
4766    000358  2017-03-08      000358  ODS_POS_1260  2017-02-20  2017-02-20
4767    000358  2017-03-08      000358  FMT_POS_0430  2017-02-20  2017-02-20
4768    000358  2017-03-08      000358  ODS_POS_7150  2017-02-20  2017-02-20
4769    000358  2017-03-08      000358  ODS_POS_1360  2017-02-20  2017-02-20
4770    000358  2017-03-08      000358  ODS_POS_1310  2017-02-20  2017-02-20
4771    000358  2017-03-08      000358  ODS_POS_1580  2017-02-20  2017-02-20
4772    000358  2017-03-08      000358  ODS_POS_1722  2017-02-20  2017-02-20
4773    000358  2017-03-08      000358  ODS_CLM_0560  2017-02-20  2017-02-20
4774    000358  2017-03-08      000358  ODS_CLM_0561  2017-02-20  2017-02-20
4775    000358  2017-03-08      000358  ODS_CLM_0570  2017-02-20  2017-02-20
4809    000358  2017-03-08      000358   ODS_SC_6210  2017-02-20  2017-02-20
4810    000358  2017-03-08      000358  FMT-POS-0010  2017-02-20  2017-02-20
4811    000358  2017-03-08      000358  ODS_CLM_0580  2017-02-20  2017-02-20
4812    000358  2017-03-08      000358  FMT-POS-0030  2017-02-20  2017-02-20
9780    000358  2017-03-08      000358  FMT-POS-0040  2017-02-20  2017-02-20
9781    000358  2017-03-08      000358  FMT-POS-0260  2017-02-20  2017-02-20
...        ...         ...         ...           ...         ...         ...
10046   000358  2017-03-08      000358  ODS_POS_1350  2017-02-20  2017-02-20
10047   000358  2017-03-08      000358  ODS_POS_1380  2017-02-20  2017-02-20
10048   000358  2017-03-08      000358  ODS_POS_1250  2017-02-20  2017-02-20
10049   000358  2017-03-08      000358  ODS_POS_1260  2017-02-20  2017-02-20
10050   000358  2017-03-08      000358  FMT_POS_0430  2017-02-20  2017-02-20
10051   000358  2017-03-08      000358  ODS_POS_7150  2017-02-20  2017-02-20
10052   000358  2017-03-08      000358  ODS_POS_1360  2017-02-20  2017-02-20
10053   000358  2017-03-08      000358  ODS_POS_1310  2017-02-20  2017-02-20
10054   000358  2017-03-08      000358  ODS_POS_1580  2017-02-20  2017-02-20
10055   000358  2017-03-08      000358  ODS_POS_1722  2017-02-20  2017-02-20
10056   000358  2017-03-08      000358  ODS_CLM_0560  2017-02-20  2017-02-20
10057   000358  2017-03-08      000358  ODS_CLM_0561  2017-02-20  2017-02-20
10058   000358  2017-03-08      000358  ODS_CLM_0570  2017-02-20  2017-02-20
10059   000358  2017-03-08      000358  ODS_CLM_0571  2017-02-20  2017-02-20
10060   000358  2017-03-08      000358  FMT-POS-0020  2017-02-20  2017-02-20
10126   000358  2017-03-08      000358    LS_SC_5730  2017-02-20  2017-02-20
10127   000358  2017-03-08      000358   ODS_SC_6211  2017-02-20  2017-02-20
10128   000358  2017-03-08      000358  ODS_POS_1380  2017-02-20  2017-02-20
10129   000358  2017-03-08      000358  ODS_POS_1250  2017-02-20  2017-02-20
10130   000358  2017-03-08      000358  ODS_POS_1260  2017-02-20  2017-02-20
10131   000358  2017-03-08      000358  FMT_POS_0430  2017-02-20  2017-02-20
10132   000358  2017-03-08      000358  ODS_POS_7150  2017-02-20  2017-02-20
10133   000358  2017-03-08      000358  ODS_POS_1360  2017-02-20  2017-02-20
10352   000358  2017-03-08      000358    LS_SC_5730  2017-02-20  2017-02-20
10353   000358  2017-03-08      000358   ODS_SC_6211  2017-02-20  2017-02-20
10354   000358  2017-03-08      000358   ODS_SC_6210  2017-02-20  2017-02-20
10355   000358  2017-03-08      000358  FMT-POS-0010  2017-02-20  2017-02-20
10356   000358  2017-03-08      000358  ODS_CLM_0580  2017-02-20  2017-02-20
10357   000358  2017-03-08      000358  ODS_CLM_0571  2017-02-20  2017-02-20
10358   000358  2017-03-08      000358  FMT-POS-0020  2017-02-20  2017-02-20

      is_period
4659       True
4660       True
4716       True
4755       True
4756       True
4757       True
4758       True
4759       True
4760       True
4761       True
4762       True
4763       True
4764       True
4765       True
4766       True
4767       True
4768       True
4769       True
4770       True
4771       True
4772       True
4773       True
4774       True
4775       True
4809       True
4810       True
4811       True
4812       True
9780       True
9781       True
...         ...
10046      True
10047      True
10048      True
10049      True
10050      True
10051      True
10052      True
10053      True
10054      True
10055      True
10056      True
10057      True
10058      True
10059      True
10060      True
10126      True
10127      True
10128      True
10129      True
10130      True
10131      True
10132      True
10133      True
10352      True
10353      True
10354      True
10355      True
10356      True
10357      True
10358      True

[84 rows x 7 columns]
QQ
      username  query_date report_name           doc  start_date    end_date  \
19728   000358  2017-03-30      000358    LS_SC_5730  2017-03-01  2017-03-01
19729   000358  2017-03-30      000358   ODS_SC_6211  2017-03-01  2017-03-01
19730   000358  2017-03-30      000358   ODS_SC_6210  2017-03-01  2017-03-01
19731   000358  2017-03-30      000358  FMT-POS-0010  2017-03-01  2017-03-01
19732   000358  2017-03-30      000358  ODS_CLM_0580  2017-03-01  2017-03-01
19733   000358  2017-03-30      000358  FMT-POS-0030  2017-03-01  2017-03-01
19734   000358  2017-03-30      000358  FMT-POS-0040  2017-03-01  2017-03-01
19735   000358  2017-03-30      000358  FMT-POS-0260  2017-03-01  2017-03-01
19736   000358  2017-03-30      000358  FMT-POS-1120  2017-03-01  2017-03-01
19737   000358  2017-03-30      000358  ODS-POS-0930  2017-03-01  2017-03-01
19738   000358  2017-03-30      000358  ODS-POS-0950  2017-03-01  2017-03-01
19739   000358  2017-03-30      000358  ODS-POS-0970  2017-03-01  2017-03-01
19740   000358  2017-03-30      000358  ODS-POS-1160  2017-03-01  2017-03-01
19741   000358  2017-03-30      000358  ODS_POS_1350  2017-03-01  2017-03-01
19742   000358  2017-03-30      000358  ODS_POS_1380  2017-03-01  2017-03-01
19743   000358  2017-03-30      000358  ODS_POS_1250  2017-03-01  2017-03-01
19744   000358  2017-03-30      000358  ODS_POS_1260  2017-03-01  2017-03-01
19745   000358  2017-03-30      000358  FMT_POS_0430  2017-03-01  2017-03-01
19746   000358  2017-03-30      000358  ODS_POS_7150  2017-03-01  2017-03-01
19747   000358  2017-03-30      000358  ODS_POS_1360  2017-03-01  2017-03-01
19748   000358  2017-03-30      000358  ODS_POS_1310  2017-03-01  2017-03-01
19749   000358  2017-03-30      000358  ODS_POS_1580  2017-03-01  2017-03-01
19750   000358  2017-03-30      000358  ODS_POS_1722  2017-03-01  2017-03-01
19751   000358  2017-03-30      000358  ODS_CLM_0560  2017-03-01  2017-03-01
19752   000358  2017-03-30      000358  ODS_CLM_0561  2017-03-01  2017-03-01
19753   000358  2017-03-30      000358  ODS_CLM_0570  2017-03-01  2017-03-01
19754   000358  2017-03-30      000358  ODS_CLM_0571  2017-03-01  2017-03-01
19755   000358  2017-03-30      000358  FMT-POS-0020  2017-03-01  2017-03-01

      is_period
19728      True
19729      True
19730      True
19731      True
19732      True
19733      True
19734      True
19735      True
19736      True
19737      True
19738      True
19739      True
19740      True
19741      True
19742      True
19743      True
19744      True
19745      True
19746      True
19747      True
19748      True
19749      True
19750      True
19751      True
19752      True
19753      True
19754      True
19755      True
QQ
     username  query_date report_name           doc start_date    end_date  \
1664   000358  2017-02-14      000358  FMT-POS-0010        NaN  2017-02-01
1665   000358  2017-02-14      000358  ODS_CLM_0580        NaN  2017-02-01
1666   000358  2017-02-14      000358  FMT-POS-0030        NaN  2017-02-01
1667   000358  2017-02-14      000358  FMT-POS-0040        NaN  2017-02-01
1668   000358  2017-02-14      000358  FMT-POS-0260        NaN  2017-02-01
1669   000358  2017-02-14      000358  FMT-POS-1120        NaN  2017-02-01
1670   000358  2017-02-14      000358  ODS-POS-0930        NaN  2017-02-01
1671   000358  2017-02-14      000358  ODS-POS-0950        NaN  2017-02-01
1672   000358  2017-02-14      000358  ODS-POS-0970        NaN  2017-02-01
1673   000358  2017-02-14      000358  ODS-POS-1160        NaN  2017-02-01
1674   000358  2017-02-14      000358  ODS_POS_1350        NaN  2017-02-01
1675   000358  2017-02-14      000358  ODS_POS_1380        NaN  2017-02-01
1677   000358  2017-02-14      000358  ODS_POS_1250        NaN  2017-02-01
1678   000358  2017-02-14      000358  ODS_POS_1260        NaN  2017-02-01
1679   000358  2017-02-14      000358  FMT_POS_0430        NaN  2017-02-01
1680   000358  2017-02-14      000358  ODS_POS_7150        NaN  2017-02-01
1681   000358  2017-02-14      000358  ODS_POS_1360        NaN  2017-02-01
1682   000358  2017-02-14      000358  ODS_POS_1310        NaN  2017-02-01
1683   000358  2017-02-14      000358  ODS_POS_1580        NaN  2017-02-01
1684   000358  2017-02-14      000358  ODS_POS_1722        NaN  2017-02-01
1685   000358  2017-02-14      000358  ODS_CLM_0560        NaN  2017-02-01
1686   000358  2017-02-14      000358  ODS_CLM_0561        NaN  2017-02-01
1687   000358  2017-02-14      000358  ODS_CLM_0570        NaN  2017-02-01
1688   000358  2017-02-14      000358  ODS_CLM_0571        NaN  2017-02-01
1689   000358  2017-02-14      000358  FMT-POS-0020        NaN  2017-02-01
1690   000358  2017-02-14      000358    LS_SC_5730        NaN  2017-02-01
1691   000358  2017-02-14      000358   ODS_SC_6211        NaN  2017-02-01
1692   000358  2017-02-14      000358   ODS_SC_6210        NaN  2017-02-01

     is_period
1664      True
1665      True
1666      True
1667      True
1668      True
1669      True
1670      True
1671      True
1672      True
1673      True
1674      True
1675      True
1677      True
1678      True
1679      True
1680      True
1681      True
1682      True
1683      True
1684      True
1685      True
1686      True
1687      True
1688      True
1689      True
1690      True
1691      True
1692      True
QQ
      username  query_date report_name          doc start_date    end_date  \
16545   000358  2017-03-23      000358  ODS_SC_6400        NaN  9999-12-31
16547   000358  2017-03-23      000358  ODS_SC_6380        NaN  9999-12-31
16947   000358  2017-03-23      000358  ODS_SC_6430        NaN  9999-12-31
17349   000358  2017-03-23      000358  ODS_SC_6430        NaN  9999-12-31

      is_period
16545      True

9647      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
12496   000898  2017-03-18      000898  ODS_PA_0641_P  2017-02-01  2017-03-01
12498   000898  2017-03-18      000898    FMT_PA_0920  2017-02-07  2017-03-07
13409   000898  2017-03-18      000898    FMT_PA_0710  2017-01-01  2017-03-31
13410   000898  2017-03-18      000898    FMT_PA_1020  2017-01-01  2017-03-31
13411   000898  2017-03-18      000898    FMT_PA_0740  2017-01-01  2017-03-31
13412   000898  2017-03-18      000898    FMT_PA_0750  2017-01-01  2017-03-31
13413   000898  2017-03-18      000898    FMT_PA_0760  2017-01-01  2017-03-31
13414   000898  2017-03-18      000898    FMT_PA_0770  2017-01-01  2017-03-31
13415   000898  2017-03-18      000898    FMT_PA_0780  2017-01-01  2017-03-31
13416   000898  2017-03-18      000898    FMT_PA_0790  2017-01-01  2017-03-31
13417   000898  2017-03-18      000898    FMT_PA_0800  2017-01-01  2017-03-31
13418   000898  2017-03-18      000898    FMT_PA_0810  2017-01-01  2017-03-31
13419   000898  2017-03-18      000898    FMT_PA_0820  2017-01-01  2017-03-31
13420   000898  2017-03-18      000898    FMT_PA_0830  2017-01-01  2017-03-31
13421   000898  2017-03-18      000898    FMT_PA_0840  2017-01-01  2017-03-31
13422   000898  2017-03-18      000898    FMT_PA_0850  2017-01-01  2017-03-31
13423   000898  2017-03-18      000898    FMT_PA_0851  2017-01-01  2017-03-31
13424   000898  2017-03-18      000898    FMT_PA_0852  2017-01-01  2017-03-31
13425   000898  2017-03-18      000898    FMT_PA_0853  2017-01-01  2017-03-31
13426   000898  2017-03-18      000898    FMT_PA_0854  2017-01-01  2017-03-31
13427   000898  2017-03-18      000898    FMT_PA_0855  2017-01-01  2017-03-31
13428   000898  2017-03-18      000898    FMT_PA_0860  2017-01-01  2017-03-31
13429   000898  2017-03-18      000898    FMT_PA_0870  2017-01-01  2017-03-31
13430   000898  2017-03-18      000898    FMT_PA_0880  2017-01-01  2017-03-31
13431   000898  2017-03-18      000898    FMT_PA_0890  2017-01-01  2017-03-31
13432   000898  2017-03-18      000898    FMT_PA_0900  2017-01-01  2017-03-31
13433   000898  2017-03-18      000898    FMT_PA_0910  2017-01-01  2017-03-31
13434   000898  2017-03-18      000898    FMT_PA_0920  2017-01-01  2017-03-31
13435   000898  2017-03-18      000898    FMT_PA_0930  2017-01-01  2017-03-31
13436   000898  2017-03-18      000898    FMT_PA_0940  2017-01-01  2017-03-31
13437   000898  2017-03-18      000898    FMT_PA_0950  2017-01-01  2017-03-31
13438   000898  2017-03-18      000898    FMT_PA_0951  2017-01-01  2017-03-31
13439   000898  2017-03-18      000898    FMT_PA_0960  2017-01-01  2017-03-31
13440   000898  2017-03-18      000898    FMT_PA_0961  2017-01-01  2017-03-31
13441   000898  2017-03-18      000898    FMT_PA_0970  2017-01-01  2017-03-31
13442   000898  2017-03-18      000898    FMT_PA_0980  2017-01-01  2017-03-31
13443   000898  2017-03-18      000898    FMT_PA_0990  2017-01-01  2017-03-31
13444   000898  2017-03-18      000898    FMT_PA_1000  2017-01-01  2017-03-31
13445   000898  2017-03-18      000898    FMT_PA_0730  2017-01-01  2017-03-31
13524   000898  2017-03-18      000898    FMT_PA_0851  2017-02-01  2017-03-18
13530   000898  2017-03-18      000898  ODS_PA_0651_P  2017-02-01  2017-03-01
13564   000898  2017-03-18      000898    FMT_PA_0920  0106-02-02  0106-02-28
13565   000898  2017-03-18      000898  ODS_PA_0641_P  2017-01-01  2017-03-01
13566   000898  2017-03-18      000898    FMT_PA_0920  0106-01-02  0106-03-02

      is_period
12496      True
12498      True
13409      True
13410      True
13411      True
13412      True
13413      True
13414      True
13415      True
13416      True
13417      True
13418      True
13419      True
13420      True
13421      True
13422      True
13423      True
13424      True
13425      True
13426      True
13427      True
13428      True
13429      True
13430      True
13431      True
13432      True
13433      True
13434      True
13435      True
13436      True
13437      True
13438      True
13439      True
13440      True
13441      True
13442      True
13443      True
13444      True
13445      True
13524      True
13530      True
13564      True
13565      True
13566      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
7953   000898  2017-03-04      000898  ODS_PA_0630_P  2017-01-03  2017-01-03
7956   000898  2017-03-04      000898  ODS_PA_0631_P  2017-01-10  2017-01-10
7981   000898  2017-03-04      000898  ODS_PA_0630_P  2017-01-03  2017-01-03
7982   000898  2017-03-04      000898  ODS_PA_0630_P  2017-01-03  2017-01-03
7991   000898  2017-03-04      000898  ODS_PA_0630_P  2017-01-03  2017-01-03
7993   000898  2017-03-04      000898    FMT_PA_0980  0106-01-04  0106-01-04
7996   000898  2017-03-04      000898  ODS_PA_0630_P  2017-01-03  2017-01-03
7998   000898  2017-03-04      000898  ODS_PA_0630_P  2017-01-10  2017-01-10
8001   000898  2017-03-04      000898    FMT_PA_0950  2017-01-10  2017-01-10
8004   000898  2017-03-04      000898  ODS_PA_0631_P  2017-01-03  2017-01-03
8216   000898  2017-03-04      000898  ODS_PA_0631_P  2017-01-01  2017-01-10
8242   000898  2017-03-04      000898  ODS_PA_0630_P  2017-01-03  2017-01-03

     is_period
7953      True
7956      True
7981      True
7982      True
7991      True
7993      True
7996      True
7998      True
8001      True
8004      True
8216      True
8242      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
12975   000898  2017-03-16      000898    ODS_PA_0680  2017-02-07  2017-02-07
12977   000898  2017-03-16      000898    ODS_PA_0680  2017-01-13  2017-01-13
12978   000898  2017-03-16      000898  ODS_PA_0691_P  2017-01-01  2017-04-01
13044   000898  2017-03-16      000898  ODS_PA_0641_P  2017-01-03  2017-04-03
13242   000898  2017-03-16      000898    ODS_PA_0680  2017-02-07  2017-02-07
13243   000898  2017-03-16      000898    ODS_PA_0680  2017-01-13  2017-01-13
13244   000898  2017-03-16      000898  ODS_PA_0691_P  2017-01-01  2017-04-01
13246   000898  2017-03-16      000898    ODS_PA_0680  2017-01-10  2017-01-10
13247   000898  2017-03-16      000898    ODS_PA_0680  2017-02-02  2017-02-02
13254   000898  2017-03-16      000898  ODS_PA_0611_P  2017-01-01  2017-03-01
13261   000898  2017-03-16      000898  ODS_PA_0651_P  2017-01-01  2017-04-01

      is_period
12975      True
12977      True
12978      True
13044      True
13242      True
13243      True
13244      True
13246      True
13247      True
13254      True
13261      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
26383   000898  2017-04-11      000898  ODS_PA_0690_P  2017-03-01  2017-03-01
26384   000898  2017-04-11      000898  ODS_PA_0691_P  2017-01-01  2017-04-30
26385   000898  2017-04-11      000898  ODS_PA_0691_P  2017-03-01  2017-04-30
26390   000898  2017-04-11      000898  ODS_PA_0691_P  2017-03-01  2017-03-01
26391   000898  2017-04-11      000898  ODS_PA_0691_P  2017-03-01  2017-03-31
27666   000898  2017-04-11      000898  ODS_PA_0690_P  2017-04-10  2017-04-10
27667   000898  2017-04-11      000898  ODS_PA_0690_P  2017-04-05  2017-04-05
27668   000898  2017-04-11      000898  ODS_PA_0691_P  2017-01-01  2017-04-30
27675   000898  2017-04-11      000898  ODS_PA_0690_P  2017-01-26  2017-01-26
27705   000898  2017-04-11      000898  ODS_PA_0690_P  2017-03-31  2017-03-31

      is_period
26383      True
26384      True
26385      True
26390      True
26391      True
27666      True
27667      True
27668      True
27675      True
27705      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
26996   000898  2017-04-10      000898    FMT_PA_0710  2017-01-01  2017-04-01
26997   000898  2017-04-10      000898    FMT_PA_0950  2017-01-01  2017-04-01
27924   000898  2017-04-10      000898    FMT_PA_0710  2017-01-01  2017-04-01
27925   000898  2017-04-10      000898    FMT_PA_0950  2017-01-01  2017-04-01
27931   000898  2017-04-10      000898  ODS_PA_0631_P  2017-03-01  2017-04-01
27932   000898  2017-04-10      000898  ODS_PA_0631_P  2017-03-01  2017-04-01
27949   000898  2017-04-10      000898    FMT_PA_0950  2017-01-01  2017-04-01
28379   000898  2017-04-10      000898    FMT_PA_0950  2017-03-01  2017-04-01
28747   000898  2017-04-10      000898    FMT_PA_0950         NaN  9999-12-31

      is_period
26996      True
26997      True
27924      True
27925      True
27931      True
27932      True
27949      True
28379      True
28747      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
13704   000898  2017-03-20      000898  ODS_PA_0631_P  2017-02-27  2017-02-27
13710   000898  2017-03-20      000898    FMT_PA_0950  0106-02-28  0106-02-28
13711   000898  2017-03-20      000898    FMT_PA_0800  0106-01-02  0106-02-28
13712   000898  2017-03-20      000898    FMT_PA_0850  0106-01-02  0106-02-28
13713   000898  2017-03-20      000898    FMT_PA_0950  0106-01-02  0106-02-28

      is_period
13704      True
13710      True
13711      True
13712      True
13713      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
31250   000898  2017-04-20      000898  ODS_PA_0670  2017-04-01  2017-04-01
31251   000898  2017-04-20      000898  ODS_PA_0670  2017-03-03  2017-03-03
31252   000898  2017-04-20      000898  ODS_PA_0670  2017-03-31  2017-03-31

      is_period
31250      True
31251      True
31252      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
4787   000898  2017-03-09      000898  ODS_PA_0691_P  2016-01-01  2017-02-01
7865   000898  2017-03-09      000898  ODS_PA_0641_P  2017-01-01  2017-03-01

     is_period
4787      True
7865      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
4536   000898  2017-03-07      000898  ODS_PA_0641_P  2017-01-03  2017-01-13
4678   000898  2017-03-07      000898  ODS_PA_0691_P  2017-01-03  2017-01-13

     is_period
4536      True
4678      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
10477   000898  2017-03-11      000898  ODS_PA_0641_P  2017-01-01  2017-03-01

      is_period
10477      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
14664   000898  2017-03-21      000898  ODS_PA_0630_P  2017-01-03  2017-01-03

      is_period
14664      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
8167   000898  2017-03-06      000898  ODS_PA_0641_P  2017-01-01  2017-01-13

     is_period
8167      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
12311   000898  2017-03-17      000898  ODS_PA_0641_P  2017-01-01  2017-03-01

      is_period
12311      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
4212   000368  2017-02-24      000368    ODS_PA_0490  2017-01-31  2017-01-31
4214   000368  2017-02-24      000368    ODS_PA_0490  2014-01-03  2014-01-03
4218   000368  2017-02-24      000368    ODS_PA_0370  2017-01-03  2017-01-03
4220   000368  2017-02-24      000368  ODS_PA_0500_P  2016-12-30  2016-12-30
4225   000368  2017-02-24      000368  ODS_PA_0500_P  2017-01-31  2017-01-31
4226   000368  2017-02-24      000368    ODS_PA_0430  2017-01-31  2017-01-31
4228   000368  2017-02-24      000368    ODS_PA_0400  2017-01-03  2017-01-03
4229   000368  2017-02-24      000368    ODS_PA_0400  2016-12-30  2016-12-30
4247   000368  2017-02-24      000368  ODS_PA_0610_P  2017-01-03  2017-01-03
4248   000368  2017-02-24      000368  ODS_PA_0610_P  2017-01-03  2017-01-03
4249   000368  2017-02-24      000368  ODS_PA_0630_P  2017-01-03  2017-01-03
4250   000368  2017-02-24      000368  ODS_PA_0630_P  2017-01-03  2017-01-03
4251   000368  2017-02-24      000368  ODS_PA_0610_P  2017-01-03  2017-01-03
4255   000368  2017-02-24      000368  ODS_PA_0500_P  2016-12-30  2016-12-30
4256   000368  2017-02-24      000368  ODS_PA_0550_P  2017-01-03  2017-01-03
4259   000368  2017-02-24      000368  ODS_PA_0641_P  2017-01-03  2017-01-03
4260   000368  2017-02-24      000368  ODS_PA_0561_P  2017-01-03  2017-01-03
4261   000368  2017-02-24      000368  ODS_PA_0560_P  2017-01-03  2017-01-03
4262   000368  2017-02-24      000368  ODS_PA_0560_P  2017-01-03  2017-01-03
4263   000368  2017-02-24      000368  ODS_PA_0590_P  2017-01-03  2017-01-03
4264   000368  2017-02-24      000368  ODS_PA_0611_P  2017-01-03  2017-01-03
4356   000368  2017-02-24      000368  ODS_PA_0360_P  2017-01-03  2017-01-03
4364   000368  2017-02-24      000368  ODS_PA_0501_P  2017-01-31  2017-01-31
4365   000368  2017-02-24      000368  ODS_PA_0501_P  2016-12-30  2016-12-30
4366   000368  2017-02-24      000368    ODS_PA_0450  2016-12-30  2016-12-30
4368   000368  2017-02-24      000368    ODS_PA_0450  2017-01-03  2017-01-03
4369   000368  2017-02-24      000368    ODS_PA_0450  2017-01-31  2017-01-31
4375   000368  2017-02-24      000368  ODS_PA_0521_P  2016-12-30  2016-12-30
4376   000368  2017-02-24      000368  ODS_PA_0551_P  2017-01-03  2017-01-03
4377   000368  2017-02-24      000368  ODS_PA_0560_P  2017-01-03  2017-01-03
4383   000368  2017-02-24      000368  ODS_PA_0570_P  2017-01-03  2017-01-03
4396   000368  2017-02-24      000368    ODS_PA_0580  2017-01-03  2017-01-03
4400   000368  2017-02-24      000368  ODS_PA_0550_P  2017-01-31  2017-01-31
4429   000368  2017-02-24      000368    ODS_PA_0270  2016-12-31  2016-12-31
4430   000368  2017-02-24      000368    ODS_PA_0270  2016-12-30  2016-12-30
4431   000368  2017-02-24      000368  ODS_PA_0550_P  2017-01-03  2017-01-03
4432   000368  2017-02-24      000368    ODS_PA_0270  2017-01-03  2017-01-03
4938   000368  2017-02-24      000368  ODS_PA_0631_P  2017-01-03  2017-01-03
4979   000368  2017-02-24      000368  ODS_PA_0640_P  2017-01-03  2017-01-03
4980   000368  2017-02-24      000368  ODS_PA_0640_P  2017-01-03  2017-01-03
5050   000368  2017-02-24      000368  ODS_PA_0651_P  2017-01-03  2017-01-03
6470   000368  2017-02-24      000368  ODS_PA_0350_P  2017-01-03  2017-01-03
6471   000368  2017-02-24      000368  ODS_PA_0350_P  2016-12-30  2016-12-30

     is_period
4212      True
4214      True
4218      True
4220      True
4225      True
4226      True
4228      True
4229      True
4247      True
4248      True
4249      True
4250      True
4251      True
4255      True
4256      True
4259      True
4260      True
4261      True
4262      True
4263      True
4264      True
4356      True
4364      True
4365      True
4366      True
4368      True
4369      True
4375      True
4376      True
4377      True
4383      True
4396      True
4400      True
4429      True
4430      True
4431      True
4432      True
4938      True
4979      True
4980      True
5050      True
6470      True
6471      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
163    000368  2017-02-09      000368  ODS_PA_0700_P  2017-01-31  2017-01-31
243    000368  2017-02-09      000368  ODS_PA_0631_P  2017-01-31  2017-01-31
459    000368  2017-02-09      000368  ODS_PA_0520_P  2017-01-31  2017-01-31
461    000368  2017-02-09      000368  ODS_PA_0521_P  2016-12-30  2016-12-30
462    000368  2017-02-09      000368  ODS_PA_0520_P  2017-01-31  2017-01-31
463    000368  2017-02-09      000368  ODS_PA_0520_P  2017-01-31  2017-01-31
464    000368  2017-02-09      000368  ODS_PA_0520_P  2016-12-30  2016-12-30
468    000368  2017-02-09      000368  ODS_PA_0701_P  2017-01-31  2017-01-31
469    000368  2017-02-09      000368  ODS_PA_0700_P  2017-01-31  2017-01-31
5810   000368  2017-02-09      000368  ODS_PA_0621_P  2017-01-31  2017-01-31
6184   000368  2017-02-09      000368    ODS_PA_0430  2017-01-31  2017-01-31
6187   000368  2017-02-09      000368    ODS_PA_0430  2016-12-30  2016-12-30
6188   000368  2017-02-09      000368    ODS_PA_0430  2017-01-31  2017-01-31
6199   000368  2017-02-09      000368  ODS_PA_0701_P  2017-01-31  2017-01-31
6206   000368  2017-02-09      000368    ODS_PA_0380         NaN  9999-12-31
6281   000368  2017-02-09      000368    ODS_PA_0480  2017-01-31  2017-01-31
6286   000368  2017-02-09      000368  ODS_PA_0600_P  2017-01-31  2017-01-31
6300   000368  2017-02-09      000368    ODS_PA_0480  2017-01-31  2017-01-31
6301   000368  2017-02-09      000368  ODS_PA_0600_P  2017-01-31  2017-01-31
6308   000368  2017-02-09      000368  ODS_PA_0621_P  2017-01-31  2017-01-31
6309   000368  2017-02-09      000368  ODS_PA_0620_P  2017-01-31  2017-01-31
6310   000368  2017-02-09      000368  ODS_PA_0620_P  2017-01-31  2017-01-31
6313   000368  2017-02-09      000368  ODS_PA_0631_P  2017-01-31  2017-01-31
6314   000368  2017-02-09      000368  ODS_PA_0631_P  2016-08-30  2017-01-31
6315   000368  2017-02-09      000368  ODS_PA_0630_P  2017-01-31  2017-01-31
6316   000368  2017-02-09      000368  ODS_PA_0630_P  2017-01-31  2017-01-31
6317   000368  2017-02-09      000368  ODS_PA_0701_P  2017-01-31  2017-01-31
6318   000368  2017-02-09      000368  ODS_PA_0700_P  2017-01-31  2017-01-31
6321   000368  2017-02-09      000368    ODS_PA_0480  2017-01-31  2017-01-31
6334   000368  2017-02-09      000368    ODS_PA_0410  2017-01-31  2017-01-31
6339   000368  2017-02-09      000368    FMT_PA_0961  0106-02-01  0106-02-01
6386   000368  2017-02-09      000368    ODS_PA_0410  2017-01-31  2017-01-31
7060   000368  2017-02-09      000368  ODS_PA_0631_P  2017-01-31  2017-01-31
7063   000368  2017-02-09      000368  ODS_PA_0631_P  2017-01-31  2017-01-31
7067   000368  2017-02-09      000368    FMT_PA_0853  2017-01-31  2017-01-31
7395   000368  2017-02-09      000368    ODS_PA_0380         NaN  9999-12-31

     is_period
163       True
243       True
459       True
461       True
462       True
463       True
464       True
468       True
469       True
5810      True
6184      True
6187      True
6188      True
6199      True
6206      True
6281      True
6286      True
6300      True
6301      True
6308      True
6309      True
6310      True
6313      True
6314      True
6315      True
6316      True
6317      True
6318      True
6321      True
6334      True
6339      True
6386      True
7060      True
7063      True
7067      True
7395      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
4284   000368  2017-03-01      000368    ODS_PA_0400  2017-01-03  2017-01-03
4285   000368  2017-03-01      000368  ODS_PA_0561_P  2017-01-03  2017-01-03
4287   000368  2017-03-01      000368  ODS_PA_0651_P  2017-01-03  2017-01-03
4411   000368  2017-03-01      000368    ODS_PA_0460  2017-01-03  2017-01-03
4412   000368  2017-03-01      000368  ODS_PA_0470_P  2017-01-31  2017-01-31
4413   000368  2017-03-01      000368  ODS_PA_0470_P  2017-01-03  2017-01-03
4414   000368  2017-03-01      000368  ODS_PA_0650_P  2017-01-03  2017-01-03
4415   000368  2017-03-01      000368  ODS_PA_0650_P  2017-01-03  2017-01-03
4418   000368  2017-03-01      000368    ODS_PA_0660  2017-01-03  2017-01-03
4419   000368  2017-03-01      000368  ODS_PA_0691_P  2017-03-01  2017-03-01
4420   000368  2017-03-01      000368  ODS_PA_0691_P  2016-12-30  2016-12-30
4421   000368  2017-03-01      000368  ODS_PA_0690_P  2016-12-30  2016-12-30
4422   000368  2017-03-01      000368  ODS_PA_0690_P  2016-12-30  2016-12-30
4423   000368  2017-03-01      000368    ODS_PA_0460  2017-01-03  2017-01-03
4424   000368  2017-03-01      000368    ODS_PA_0460  2016-12-30  2016-12-30
4425   000368  2017-03-01      000368    ODS_PA_0460  2017-01-31  2017-01-31
4426   000368  2017-03-01      000368    ODS_PA_0460  2017-01-30  2017-01-30
4427   000368  2017-03-01      000368    ODS_PA_0400  2017-01-03  2017-01-03
7587   000368  2017-03-01      000368  ODS_PA_0650_P  2017-01-03  2017-01-03
7767   000368  2017-03-01      000368  ODS_PA_0551_P  2017-01-03  2017-01-03

14270      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
31862   000368  2017-04-20      000368  ODS_PA_0270         NaN  9999-12-31
32203   000368  2017-04-20      000368  ODS_PA_0270  2017-04-30  2017-04-30
32225   000368  2017-04-20      000368  ODS_PA_0270  2017-04-30  2017-04-30

      is_period
31862      True
32203      True
32225      True
QQ
      username  query_date report_name            doc start_date    end_date  \
26800   000368  2017-04-12      000368  ODS_PA_0630_P        NaN  9999-12-31
26801   000368  2017-04-12      000368  ODS_PA_0630_P        NaN  9999-12-31
26814   000368  2017-04-12      000368  ODS_PA_0630_P        NaN  9999-12-31

      is_period
26800      True
26801      True
26814      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
24555   000368  2017-04-08      000368  FMT_PA_0970  2017-03-31  2017-03-31
24556   000368  2017-04-08      000368  FMT_PA_0970  2017-03-31  2017-03-31

      is_period
24555      True
24556      True
QQ
      username  query_date report_name            doc start_date    end_date  \
30830   000368  2017-04-18      000368  ODS_PA_0701_P        NaN  9999-12-31
31026   000368  2017-04-18      000368  ODS_PA_0701_P        NaN  9999-12-31

      is_period
30830      True
31026      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
19666   000368  2017-03-31      000368  ODS_PA_0631_P  2017-03-01  2017-03-01
19691   000368  2017-03-31      000368  ODS_PA_0631_P  2017-02-27  2017-02-27

      is_period
19666      True
19691      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
18469   000368  2017-03-28      000368  ODS_PA_0691_P  2017-02-01  2017-03-31
19818   000368  2017-03-28      000368  ODS_PA_0691_P  2017-02-01  2017-03-31

      is_period
18469      True
19818      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
28067   000368  2017-04-13      000368  FMT_PA_0970  2017-04-05  2017-04-05
28117   000368  2017-04-13      000368  FMT_PA_0980  2017-04-05  2017-04-05

      is_period
28067      True
28117      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
8347   000368  2017-03-02      000368  ODS_PA_0701_P  2017-01-03  2017-01-03

     is_period
8347      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
28155   000368  2017-04-15      000368  ODS_PA_0270  2017-04-05  2017-04-05

      is_period
28155      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
4170   000368  2017-03-07      000368  ODS_PA_0701_P  2017-01-02  2017-01-02

     is_period
4170      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
7957   000368  2017-03-04      000368  ODS_PA_0460  2017-01-03  2017-01-03

     is_period
7957      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
24356   000368  2017-04-06      000368  ODS_PA_0631_P  2017-03-01  2017-03-01

      is_period
24356      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
18197   000368  2017-03-30      000368  ODS_PA_0270  2017-03-01  2017-03-01

      is_period
18197      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
29551   000368  2017-04-17      000368  ODS_PA_0270  2017-04-05  2017-04-05

      is_period
29551      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
15717   000368  2017-03-22      000368  ODS_PA_0631_P  2017-02-27  2017-02-27

      is_period
15717      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
18275   user10  2017-03-27      user10  ODS_POS_1380  2017-02-07  2017-02-07
18276   user10  2017-03-27      user10  ODS_POS_1380  2017-02-02  2017-02-02
18696   user10  2017-03-27      user10  ODS_POS_1380  2017-02-27  2017-02-27
18697   user10  2017-03-27      user10  ODS_POS_1380  2017-02-27  2017-02-27
18698   user10  2017-03-27      user10  ODS_POS_1380  2017-02-27  2017-02-27
19133   user10  2017-03-27      user10  ODS_POS_1380  2017-02-07  2017-02-07
19134   user10  2017-03-27      user10  ODS_POS_1380  2017-02-02  2017-02-02
19270   user10  2017-03-27      user10  FMT_POS_0170  2016-03-26  2016-03-28
19271   user10  2017-03-27      user10  FMT_POS_1540  2016-03-26  2016-03-28
19272   user10  2017-03-27      user10  FMT_POS_0370  2016-03-26  2016-03-28
19273   user10  2017-03-27      user10      #POLICY#  2016-03-26  2016-03-28
19274   user10  2017-03-27      user10  FMT_POS_0350  2016-03-26  2016-03-28
19275   user10  2017-03-27      user10  FMT_POS_0060  2016-03-26  2016-03-28
19276   user10  2017-03-27      user10  FMT_POS_0070  2016-03-26  2016-03-28
19277   user10  2017-03-27      user10  FMT_POS_0310  2016-03-26  2016-03-28
19278   user10  2017-03-27      user10  FMT_POS_0090  2016-03-26  2016-03-28
19279   user10  2017-03-27      user10  FMT_POS_0080  2016-03-26  2016-03-28
19280   user10  2017-03-27      user10  FMT_POS_0270  2016-03-26  2016-03-28
19281   user10  2017-03-27      user10  FMT_POS_0360  2016-03-26  2016-03-28
19282   user10  2017-03-27      user10  FMT_POS_0320  2016-03-26  2016-03-28
19283   user10  2017-03-27      user10  FMT_POS_0160  2016-03-26  2016-03-28
19284   user10  2017-03-27      user10  FMT_POS_0380  2016-03-26  2016-03-28
19285   user10  2017-03-27      user10  FMT_POS_0250  2016-03-26  2016-03-28
19286   user10  2017-03-27      user10  FMT_POS_0240  2016-03-26  2016-03-28
19287   user10  2017-03-27      user10  FMT_POS_0290  2016-03-26  2016-03-28
19288   user10  2017-03-27      user10  FMT_POS_0440  2016-03-26  2016-03-28
19289   user10  2017-03-27      user10  FMT_POS_7230  2016-03-26  2016-03-28
19290   user10  2017-03-27      user10  FMT_POS_7210  2016-03-26  2016-03-28
19291   user10  2017-03-27      user10  FMT_POS_1670  2016-03-26  2016-03-28
19292   user10  2017-03-27      user10  FMT_POS_1560  2016-03-26  2016-03-28
...        ...         ...         ...           ...         ...         ...
19398   user10  2017-03-27      user10   FMT_PA_0830  2017-03-01  2017-03-31
19399   user10  2017-03-27      user10   FMT_PA_0840  2017-03-01  2017-03-31
19400   user10  2017-03-27      user10   FMT_PA_0850  2017-03-01  2017-03-31
19401   user10  2017-03-27      user10   FMT_PA_0851  2017-03-01  2017-03-31
19402   user10  2017-03-27      user10   FMT_PA_0852  2017-03-01  2017-03-31
19403   user10  2017-03-27      user10   FMT_PA_0853  2017-03-01  2017-03-31
19404   user10  2017-03-27      user10   FMT_PA_0854  2017-03-01  2017-03-31
19405   user10  2017-03-27      user10   FMT_PA_0855  2017-03-01  2017-03-31
19406   user10  2017-03-27      user10   FMT_PA_0860  2017-03-01  2017-03-31
19407   user10  2017-03-27      user10   FMT_PA_0870  2017-03-01  2017-03-31
19408   user10  2017-03-27      user10   FMT_PA_0880  2017-03-01  2017-03-31
19409   user10  2017-03-27      user10   FMT_PA_0890  2017-03-01  2017-03-31
19410   user10  2017-03-27      user10   FMT_PA_0900  2017-03-01  2017-03-31
19411   user10  2017-03-27      user10   FMT_PA_0910  2017-03-01  2017-03-31
19412   user10  2017-03-27      user10   FMT_PA_0920  2017-03-01  2017-03-31
19413   user10  2017-03-27      user10   FMT_PA_0930  2017-03-01  2017-03-31
19414   user10  2017-03-27      user10   FMT_PA_0940  2017-03-01  2017-03-31
19415   user10  2017-03-27      user10   FMT_PA_0950  2017-03-01  2017-03-31
19416   user10  2017-03-27      user10   FMT_PA_0951  2017-03-01  2017-03-31
19417   user10  2017-03-27      user10   FMT_PA_0960  2017-03-01  2017-03-31
19418   user10  2017-03-27      user10   FMT_PA_0961  2017-03-01  2017-03-31
19419   user10  2017-03-27      user10   FMT_PA_0970  2017-03-01  2017-03-31
19420   user10  2017-03-27      user10   FMT_PA_0980  2017-03-01  2017-03-31
19421   user10  2017-03-27      user10   FMT_PA_0990  2017-03-01  2017-03-31
19422   user10  2017-03-27      user10   FMT_PA_1000  2017-03-01  2017-03-31
19423   user10  2017-03-27      user10   FMT_PA_0730  2017-03-01  2017-03-31
20132   user10  2017-03-27      user10   FMT_PA_0850  2017-03-01  2017-03-01
20136   user10  2017-03-27      user10   FMT_PA_0850  2017-03-01  2017-03-01
20137   user10  2017-03-27      user10   FMT_PA_0850  2017-03-01  2017-03-01
20493   user10  2017-03-27      user10   FMT_PA_0960  2017-03-01  2017-03-01

      is_period
18275      True
18276      True
18696      True
18697      True
18698      True
19133      True
19134      True
19270      True
19271      True
19272      True
19273      True
19274      True
19275      True
19276      True
19277      True
19278      True
19279      True
19280      True
19281      True
19282      True
19283      True
19284      True
19285      True
19286      True
19287      True
19288      True
19289      True
19290      True
19291      True
19292      True
...         ...
19398      True
19399      True
19400      True
19401      True
19402      True
19403      True
19404      True
19405      True
19406      True
19407      True
19408      True
19409      True
19410      True
19411      True
19412      True
19413      True
19414      True
19415      True
19416      True
19417      True
19418      True
19419      True
19420      True
19421      True
19422      True
19423      True
20132      True
20136      True
20137      True
20493      True

[164 rows x 7 columns]
QQ
      username  query_date report_name           doc  start_date    end_date  \
17622   user10  2017-03-28      user10  FMT_POS_0250  2017-03-01  2017-03-31
17636   user10  2017-03-28      user10  FMT_POS_0250  2017-03-01  2016-03-31
17637   user10  2017-03-28      user10  FMT_POS_0250  2017-03-01  2017-03-31
17737   user10  2017-03-28      user10  FMT_POS_0250  2017-03-01  2014-03-31
17739   user10  2017-03-28      user10  FMT_POS_0250  2017-03-01  2014-03-31
18331   user10  2017-03-28      user10  FMT_POS_0250  2017-03-01  2017-03-31
19179   user10  2017-03-28      user10  FMT_POS_0250  2017-03-01  2017-03-31
19181   user10  2017-03-28      user10  FMT_POS_0250  2017-03-01  2017-03-31
19189   user10  2017-03-28      user10  FMT_POS_0250  2017-03-01  2017-03-10
20742   user10  2017-03-28      user10  FMT_POS_0250  2017-03-01  2017-03-10
20747   user10  2017-03-28      user10  FMT_POS_0250  2017-03-01  2017-03-31

      is_period
17622      True
17636      True
17637      True
17737      True
17739      True
18331      True
19179      True
19181      True
19189      True
20742      True
20747      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
18234   user10  2017-03-29      user10  FMT_POS_0250  2017-03-01  2017-03-31
18295   user10  2017-03-29      user10  FMT_POS_0250  2017-03-01  2017-03-31
18296   user10  2017-03-29      user10  FMT_POS_0250  2017-03-01  2017-03-31
18298   user10  2017-03-29      user10  FMT_POS_0250  2017-03-01  2017-04-30
21233   user10  2017-03-29      user10  FMT_POS_0250  2017-03-01  2017-03-31
21271   user10  2017-03-29      user10  FMT_POS_0250  2017-03-01  2017-04-30
21272   user10  2017-03-29      user10  FMT_POS_0250  2017-03-01  2017-04-30
21276   user10  2017-03-29      user10  FMT_POS_0250  2017-03-01  2017-04-30

      is_period
18234      True
18295      True
18296      True
18298      True
21233      True
21271      True
21272      True
21276      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
20778   user10  2017-03-31      user10  FMT_POS_0250  2017-03-01  2017-04-30
20779   user10  2017-03-31      user10  FMT_POS_0250  2017-03-01  2017-04-30
20780   user10  2017-03-31      user10  FMT_POS_0250  2017-03-01  2017-04-30
20781   user10  2017-03-31      user10  FMT_POS_0250  2017-01-01  2017-04-30
20802   user10  2017-03-31      user10  FMT_POS_0250  2017-01-01  2017-04-30

      is_period
20778      True
20779      True
20780      True
20781      True
20802      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
2887   user10  2017-02-21      user10  ODS_POS_1250  2017-01-02  2017-01-02
2888   user10  2017-02-21      user10  ODS_POS_1250  2017-01-02  2017-01-02
4030   user10  2017-02-21      user10  FMT_POS_0360  2017-01-01  2017-02-21
4031   user10  2017-02-21      user10  FMT_POS_0360  2016-12-29  2017-02-01

     is_period
2887      True
2888      True
4030      True
4031      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
26706   user10  2017-04-12      user10  FMT_PA_0970  2017-04-01  2017-04-10
26707   user10  2017-04-12      user10  FMT_PA_0980  2017-04-01  2017-04-10
26711   user10  2017-04-12      user10  FMT_PA_0970  2017-04-01  2017-04-30
26712   user10  2017-04-12      user10  FMT_PA_0980  2017-04-01  2017-04-30

      is_period
26706      True
26707      True
26711      True
26712      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
14638   user10  2017-03-22      user10  LS_INV_0010  2017-03-20  2017-03-20
16962   user10  2017-03-22      user10  LS_INV_0030  2017-02-27  2017-02-27
16963   user10  2017-03-22      user10  LS_INV_0010  2017-02-27  2017-02-27

      is_period
14638      True
16962      True
16963      True
QQ

     username  query_date report_name           doc  start_date    end_date  \
5720   user10  2017-03-01      user10  ODS_POS_1130  2017-01-03  2017-01-03
5721   user10  2017-03-01      user10  ODS_POS_1130  2017-01-10  2017-01-10

     is_period
5720      True
5721      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17749   user10  2017-03-30      user10  ODS_POS_1320         NaN  9999-12-31
18188   user10  2017-03-30      user10  FMT_POS_0250  2017-03-01  2017-04-30

      is_period
17749      True
18188      True
QQ
      username  query_date report_name           doc start_date    end_date  \
28977   user10  2017-04-13      user10  FMT_UNB_0670        NaN  9999-12-31

      is_period
28977      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
22162   user10  2017-04-05      user10  FMT_PA_0730  2017-03-31  2017-03-31

      is_period
22162      True
QQ
      username  query_date report_name           doc start_date    end_date  \
30500   user10  2017-04-21      user10  FMT_POS_0070        NaN  9999-12-31

      is_period
30500      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
2889    ricky  2017-02-18       ricky  ODS_UNB_0510         NaN  9999-12-31
2890    ricky  2017-02-18       ricky  ODS_UNB_0510         NaN  9999-12-31
2892    ricky  2017-02-18       ricky  ODS_UNB_0510         NaN  9999-12-31
2894    ricky  2017-02-18       ricky  ODS_UNB_0510         NaN  9999-12-31
2900    ricky  2017-02-18       ricky    LS_SC_5730  2017-01-02  2017-01-02
2901    ricky  2017-02-18       ricky   ODS_SC_6211  2017-01-02  2017-01-02
2902    ricky  2017-02-18       ricky   ODS_SC_6210  2017-01-02  2017-01-02
2903    ricky  2017-02-18       ricky  FMT-POS-0010  2017-01-02  2017-01-02
2904    ricky  2017-02-18       ricky  ODS_CLM_0580  2017-01-02  2017-01-02
2905    ricky  2017-02-18       ricky  FMT-POS-0030  2017-01-02  2017-01-02
2906    ricky  2017-02-18       ricky  FMT-POS-0040  2017-01-02  2017-01-02
2907    ricky  2017-02-18       ricky  FMT-POS-0260  2017-01-02  2017-01-02
2908    ricky  2017-02-18       ricky  FMT-POS-1120  2017-01-02  2017-01-02
2909    ricky  2017-02-18       ricky  ODS-POS-0930  2017-01-02  2017-01-02
2910    ricky  2017-02-18       ricky  ODS-POS-0950  2017-01-02  2017-01-02
2911    ricky  2017-02-18       ricky  ODS-POS-0970  2017-01-02  2017-01-02
2912    ricky  2017-02-18       ricky  ODS-POS-1160  2017-01-02  2017-01-02
2913    ricky  2017-02-18       ricky  ODS_POS_1350  2017-01-02  2017-01-02
2914    ricky  2017-02-18       ricky  ODS_POS_1380  2017-01-02  2017-01-02
2915    ricky  2017-02-18       ricky  ODS_POS_1250  2017-01-02  2017-01-02
2916    ricky  2017-02-18       ricky  ODS_POS_1260  2017-01-02  2017-01-02
2917    ricky  2017-02-18       ricky  FMT_POS_0430  2017-01-02  2017-01-02
2918    ricky  2017-02-18       ricky  ODS_POS_7150  2017-01-02  2017-01-02
2919    ricky  2017-02-18       ricky  ODS_POS_1360  2017-01-02  2017-01-02
2920    ricky  2017-02-18       ricky  ODS_POS_1310  2017-01-02  2017-01-02
2921    ricky  2017-02-18       ricky  ODS_POS_1580  2017-01-02  2017-01-02
2922    ricky  2017-02-18       ricky  ODS_POS_1722  2017-01-02  2017-01-02
2923    ricky  2017-02-18       ricky  ODS_CLM_0560  2017-01-02  2017-01-02
2924    ricky  2017-02-18       ricky  ODS_CLM_0561  2017-01-02  2017-01-02
2925    ricky  2017-02-18       ricky  ODS_CLM_0570  2017-01-02  2017-01-02
2926    ricky  2017-02-18       ricky  ODS_CLM_0571  2017-01-02  2017-01-02
2927    ricky  2017-02-18       ricky  FMT-POS-0020  2017-01-02  2017-01-02
3756    ricky  2017-02-18       ricky  ODS_UNB_0510         NaN  9999-12-31
7026    ricky  2017-02-18       ricky  ODS_UNB_0510         NaN  9999-12-31

     is_period
2889      True
2890      True
2892      True
2894      True
2900      True
2901      True
2902      True
2903      True
2904      True
2905      True
2906      True
2907      True
2908      True
2909      True
2910      True
2911      True
2912      True
2913      True
2914      True
2915      True
2916      True
2917      True
2918      True
2919      True
2920      True
2921      True
2922      True
2923      True
2924      True
2925      True
2926      True
2927      True
3756      True
7026      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4095    ricky  2017-02-23       ricky  ODS_INV_7150         NaN  9999-12-31
4096    ricky  2017-02-23       ricky  ODS_INV_7150         NaN  9999-12-31
4097    ricky  2017-02-23       ricky  ODS_INV_7150         NaN  9999-12-31
4103    ricky  2017-02-23       ricky  ODS_INV_7040         NaN  9999-12-31
4132    ricky  2017-02-23       ricky  ODS_INV_7040         NaN  9999-12-31
4133    ricky  2017-02-23       ricky  ODS_INV_7040         NaN  9999-12-31
4134    ricky  2017-02-23       ricky  ODS_INV_7150         NaN  9999-12-31
4135    ricky  2017-02-23       ricky  ODS_INV_7150         NaN  9999-12-31
4136    ricky  2017-02-23       ricky  ODS_INV_7150         NaN  9999-12-31
4137    ricky  2017-02-23       ricky  ODS_INV_7150         NaN  9999-12-31
4138    ricky  2017-02-23       ricky  ODS_INV_7150         NaN  9999-12-31
4139    ricky  2017-02-23       ricky  ODS_INV_7150         NaN  9999-12-31
4149    ricky  2017-02-23       ricky  ODS_POS_0770  2017-01-02  2017-01-02
4150    ricky  2017-02-23       ricky  ODS_POS_0770  2017-01-03  2017-01-03
4151    ricky  2017-02-23       ricky  ODS_POS_0770  2017-01-02  2017-01-02
4152    ricky  2017-02-23       ricky  ODS_POS_0770  2017-01-02  2017-01-02
4153    ricky  2017-02-23       ricky  ODS_POS_0770  2017-01-02  2017-01-02
4157    ricky  2017-02-23       ricky  ODS_POS_1300  2017-01-03  2017-01-03
4159    ricky  2017-02-23       ricky  ODS_POS_0770  2017-01-02  2017-01-02
4163    ricky  2017-02-23       ricky  ODS_POS_0770  2017-01-02  2017-01-02
4164    ricky  2017-02-23       ricky  ODS_POS_0770  2017-01-02  2017-01-02
4165    ricky  2017-02-23       ricky  ODS_POS_1300  2017-01-03  2017-01-03
4239    ricky  2017-02-23       ricky  ODS_POS_1300  2017-01-03  2017-01-03
4241    ricky  2017-02-23       ricky  ODS_POS_1300  2017-01-03  2017-01-03

     is_period
4095      True
4096      True
4097      True
4103      True
4132      True
4133      True
4134      True
4135      True
4136      True
4137      True
4138      True
4139      True
4149      True
4150      True
4151      True
4152      True
4153      True
4157      True
4159      True
4163      True
4164      True
4165      True
4239      True
4241      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
10582    ricky  2017-03-13       ricky  ODS_POS_1110  2017-02-02  2017-02-02
10717    ricky  2017-03-13       ricky  ODS_POS_0880  2017-01-26  2017-01-26
10718    ricky  2017-03-13       ricky  ODS_POS_0880  2017-01-26  2017-01-26
10720    ricky  2017-03-13       ricky  ODS_POS_0880  2017-02-02  2017-02-02
10726    ricky  2017-03-13       ricky  ODS_POS_0880  2017-02-02  2017-02-02
10727    ricky  2017-03-13       ricky  ODS_POS_0880  2017-02-02  2017-02-02
11265    ricky  2017-03-13       ricky  ODS_POS_7080         NaN  9999-12-31
11267    ricky  2017-03-13       ricky  ODS_POS_7080         NaN  9999-12-31
11317    ricky  2017-03-13       ricky  ODS_POS_7080         NaN  9999-12-31
11318    ricky  2017-03-13       ricky  ODS_POS_7080         NaN  9999-12-31
11371    ricky  2017-03-13       ricky  ODS_POS_0880  2017-02-02  2017-02-02
11396    ricky  2017-03-13       ricky  ODS_POS_0880  2017-02-02  2017-02-02
11397    ricky  2017-03-13       ricky  ODS_POS_0880  2017-02-02  2017-02-02
11398    ricky  2017-03-13       ricky  ODS_POS_0880  2017-01-26  2017-01-26
11399    ricky  2017-03-13       ricky  ODS_POS_0880  2017-02-02  2017-02-02
11474    ricky  2017-03-13       ricky  ODS_POS_1440  2017-02-02  2017-02-02
11475    ricky  2017-03-13       ricky  ODS_POS_1450         NaN  9999-12-31
11497    ricky  2017-03-13       ricky  ODS_POS_1440  2017-02-02  2017-02-02
11503    ricky  2017-03-13       ricky  ODS_POS_1450         NaN  9999-12-31

      is_period
10582      True
10717      True
10718      True
10720      True
10726      True
10727      True
11265      True
11267      True
11317      True
11318      True
11371      True
11396      True
11397      True
11398      True
11399      True
11474      True
11475      True
11497      True
11503      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17543    ricky  2017-03-28       ricky  ODS_POS_1450         NaN  9999-12-31
17738    ricky  2017-03-28       ricky  ODS_FIN_1250         NaN  9999-12-31
18304    ricky  2017-03-28       ricky  ODS_UNB_0050  2017-02-02  2017-02-02
19185    ricky  2017-03-28       ricky  ODS_FIN_1251         NaN  9999-12-31
19829    ricky  2017-03-28       ricky  ODS_UNB_0050  2017-02-02  2017-02-02
19878    ricky  2017-03-28       ricky  ODS_POS_1010  2017-02-07  2017-02-07
19879    ricky  2017-03-28       ricky  ODS_POS_1010  2017-02-07  2017-02-07
19880    ricky  2017-03-28       ricky  ODS_POS_1010  2017-03-01  2017-03-01
20023    ricky  2017-03-28       ricky  ODS_POS_0670         NaN  9999-12-31
20024    ricky  2017-03-28       ricky  ODS_POS_0670         NaN  9999-12-31
20743    ricky  2017-03-28       ricky  ODS_INV_7170         NaN  9999-12-31
20744    ricky  2017-03-28       ricky  ODS_INV_7170         NaN  9999-12-31
20745    ricky  2017-03-28       ricky  ODS_INV_7170         NaN  9999-12-31
20750    ricky  2017-03-28       ricky  ODS_POS_1010  2017-02-07  2017-02-07
20751    ricky  2017-03-28       ricky  ODS_POS_1010  2017-03-01  2017-03-01
21125    ricky  2017-03-28       ricky  ODS_UNB_0050  2017-03-01  2017-03-01

      is_period
17543      True
17738      True
18304      True
19185      True
19829      True
19878      True
19879      True
19880      True
20023      True
20024      True
20743      True
20744      True
20745      True
20750      True
20751      True
21125      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
2480    ricky  2017-02-20       ricky  ODS_INV_7170         NaN  9999-12-31
2481    ricky  2017-02-20       ricky  ODS_INV_7170         NaN  9999-12-31
2482    ricky  2017-02-20       ricky  ODS_INV_7010         NaN  9999-12-31
2617    ricky  2017-02-20       ricky  ODS_INV_7010         NaN  9999-12-31
2618    ricky  2017-02-20       ricky  ODS_INV_7011         NaN  9999-12-31
2756    ricky  2017-02-20       ricky  ODS_POS_1300  2017-01-02  2017-01-02
2768    ricky  2017-02-20       ricky  ODS_POS_0770  2017-01-02  2017-01-02
3655    ricky  2017-02-20       ricky  ODS_INV_7010         NaN  9999-12-31
3656    ricky  2017-02-20       ricky  ODS_INV_7011         NaN  9999-12-31
3661    ricky  2017-02-20       ricky  ODS_INV_7010         NaN  9999-12-31
3662    ricky  2017-02-20       ricky  ODS_INV_7010         NaN  9999-12-31
3799    ricky  2017-02-20       ricky  ODS_POS_1300  2017-01-02  2017-01-02
3801    ricky  2017-02-20       ricky  ODS_POS_0770  2017-01-02  2017-01-02
3803    ricky  2017-02-20       ricky  ODS_POS_0770  2017-01-02  2017-01-02
3804    ricky  2017-02-20       ricky  ODS_POS_0770  2017-01-02  2017-01-02
3869    ricky  2017-02-20       ricky  ODS_INV_7010         NaN  9999-12-31

     is_period
2480      True
2481      True
2482      True
2617      True
2618      True
2756      True
2768      True
3655      True
3656      True
3661      True
3662      True
3799      True
3801      True
3803      True
3804      True
3869      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
28857    ricky  2017-04-17       ricky  ODS_FIN_0680         NaN  9999-12-31
28858    ricky  2017-04-17       ricky  ODS_POS_7150         NaN  9999-12-31
29463    ricky  2017-04-17       ricky  ODS_POS_7150         NaN  9999-12-31
29464    ricky  2017-04-17       ricky  ODS_POS_7150         NaN  9999-12-31
29465    ricky  2017-04-17       ricky  ODS_POS_7150         NaN  9999-12-31
29470    ricky  2017-04-17       ricky  ODS_FIN_0860         NaN  9999-12-31
29481    ricky  2017-04-17       ricky  ODS_POS_7150         NaN  9999-12-31
29504    ricky  2017-04-17       ricky  ODS_POS_7150         NaN  9999-12-31
29505    ricky  2017-04-17       ricky  ODS_POS_7150         NaN  9999-12-31
29507    ricky  2017-04-17       ricky   LS_INV_0010  2017-04-30  2017-04-30
29508    ricky  2017-04-17       ricky  ODS_CLM_0560  2017-04-30  2017-04-30
29510    ricky  2017-04-17       ricky  ODS_POS_0950  2017-04-30  2017-04-30
30179    ricky  2017-04-17       ricky  ODS_FIN_0990         NaN  9999-12-31
30180    ricky  2017-04-17       ricky  ODS_FIN_0991         NaN  9999-12-31
30234    ricky  2017-04-17       ricky  ODS_POS_7150         NaN  9999-12-31

      is_period
28857      True
28858      True
29463      True
29464      True
29465      True
29470      True
29481      True
29504      True
29505      True
29507      True
29508      True
29510      True
30179      True
30180      True
30234      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
10790    ricky  2017-03-14       ricky  ODS_INV_7230         NaN  9999-12-31
10820    ricky  2017-03-14       ricky  ODS_INV_7230         NaN  9999-12-31
10829    ricky  2017-03-14       ricky  ODS_INV_7230         NaN  9999-12-31
10832    ricky  2017-03-14       ricky  ODS_UNB_0220  2017-02-02  2017-02-02
11046    ricky  2017-03-14       ricky  ODS_INV_7230         NaN  9999-12-31
11047    ricky  2017-03-14       ricky  ODS_INV_7230         NaN  9999-12-31
11064    ricky  2017-03-14       ricky  ODS_INV_7230         NaN  9999-12-31
11177    ricky  2017-03-14       ricky  ODS_POS_1460  2016-10-28  2016-10-28
11178    ricky  2017-03-14       ricky  ODS_POS_1460  2017-02-02  2017-02-02
11481    ricky  2017-03-14       ricky  ODS_POS_1460  2017-02-02  2017-02-02
11482    ricky  2017-03-14       ricky  ODS_POS_1460  2016-10-28  2016-10-28
11970    ricky  2017-03-14       ricky  ODS_INV_7230         NaN  9999-12-31
11976    ricky  2017-03-14       ricky  ODS_UNB_0221  2017-02-02  2017-02-02

      is_period
10790      True
10820      True
10829      True
10832      True
11046      True
11047      True
11064      True
11177      True
11178      True
11481      True
11482      True
11970      True
11976      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
28148    ricky  2017-04-15       ricky  ODS_UNB_0550  2017-04-05  2017-04-05
28191    ricky  2017-04-15       ricky  ODS_POS_1320         NaN  9999-12-31
28406    ricky  2017-04-15       ricky  ODS_POS_1320         NaN  9999-12-31
28407    ricky  2017-04-15       ricky  ODS_POS_1320         NaN  9999-12-31
30251    ricky  2017-04-15       ricky  ODS_UNB_0230         NaN  9999-12-31
30252    ricky  2017-04-15       ricky  ODS_UNB_0231  2017-03-31  2017-03-31
30255    ricky  2017-04-15       ricky  ODS_POS_1250  2017-03-31  2017-03-31
30256    ricky  2017-04-15       ricky  ODS_POS_1250  2017-03-31  2017-03-31
30257    ricky  2017-04-15       ricky  ODS_POS_1250  2017-03-31  2017-03-31
30258    ricky  2017-04-15       ricky  ODS_POS_1250  2017-04-05  2017-04-05

      is_period
28148      True
28191      True
28406      True
28407      True
30251      True
30252      True
30255      True
30256      True
30257      True
30258      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17729    ricky  2017-03-30       ricky  ODS_POS_1330  2017-03-01  2017-03-01
17865    ricky  2017-03-30       ricky  ODS_POS_1080  2017-03-01  2017-03-01
18160    ricky  2017-03-30       ricky  ODS_POS_1160         NaN  9999-12-31
18162    ricky  2017-03-30       ricky  ODS_POS_1330  2017-03-01  2017-03-01
18171    ricky  2017-03-30       ricky  ODS_POS_1330  2017-03-01  2017-03-01
18194    ricky  2017-03-30       ricky  ODS_UNB_0750  2017-03-01  2017-03-01
20188    ricky  2017-03-30       ricky  ODS_POS_1160         NaN  9999-12-31
20226    ricky  2017-03-30       ricky  ODS_POS_1160         NaN  9999-12-31

      is_period
17729      True
17865      True
18160      True
18162      True
18171      True
18194      True
20188      True
20226      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
1221    ricky  2017-02-14       ricky  ODS_PA_0620_P  2017-01-31  2017-01-31
1222    ricky  2017-02-14       ricky  ODS_PA_0620_P  2017-01-31  2017-01-31
1223    ricky  2017-02-14       ricky  ODS_PA_0620_P  2017-01-31  2017-01-31
1225    ricky  2017-02-14       ricky  ODS_PA_0620_P  2017-01-31  2017-01-31
6865    ricky  2017-02-14       ricky    ODS_PA_0430  2017-01-31  2017-01-31
6866    ricky  2017-02-14       ricky    ODS_PA_0430  2017-01-31  2017-01-31
6920    ricky  2017-02-14       ricky  ODS_PA_0470_P  2017-01-31  2017-01-31
6921    ricky  2017-02-14       ricky  ODS_PA_0470_P  2017-01-31  2017-01-31

     is_period
1221      True
1222      True
1223      True
1225      True
6865      True
6866      True
6920      True
6921      True
QQ
     username  query_date report_name           doc start_date    end_date  \
3026    ricky  2017-02-17       ricky  ODS_ACT_0270        NaN  9999-12-31
3028    ricky  2017-02-17       ricky  ODS_ACT_0270        NaN  9999-12-31
3029    ricky  2017-02-17       ricky  ODS_ACT_0300        NaN  9999-12-31
3030    ricky  2017-02-17       ricky  ODS_ACT_0300        NaN  9999-12-31
3039    ricky  2017-02-17       ricky  ODS_ACT_0290        NaN  9999-12-31
3040    ricky  2017-02-17       ricky  ODS_ACT_0290        NaN  9999-12-31
3043    ricky  2017-02-17       ricky  ODS_ACT_0290        NaN  9999-12-31

     is_period
3026      True
3028      True
3029      True
3030      True
3039      True
3040      True
3043      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4782    ricky  2017-03-09       ricky  ODS_POS_0780  2017-01-03  2017-01-03
4785    ricky  2017-03-09       ricky  ODS_UNB_0230         NaN  9999-12-31
4996    ricky  2017-03-09       ricky  ODS_POS_0840         NaN  9999-12-31
5800    ricky  2017-03-09       ricky  ODS_POS_0840         NaN  9999-12-31
7656    ricky  2017-03-09       ricky  ODS_POS_0780  2017-01-13  2017-01-13
7836    ricky  2017-03-09       ricky  ODS_POS_0780  2017-01-03  2017-01-03
7868    ricky  2017-03-09       ricky  ODS_UNB_0230         NaN  9999-12-31

     is_period
4782      True
4785      True
4996      True
5800      True
7656      True
7836      True
7868      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4983    ricky  2017-03-10       ricky  ODS_POS_1440  2017-01-27  2017-01-27
4984    ricky  2017-03-10       ricky  ODS_POS_1440  2017-01-26  2017-01-26
4985    ricky  2017-03-10       ricky  ODS_POS_1450         NaN  9999-12-31
5001    ricky  2017-03-10       ricky   ODS_SC_6230  2017-01-02  2017-01-02
5005    ricky  2017-03-10       ricky   ODS_SC_6230  2017-01-02  2017-01-02
5805    ricky  2017-03-10       ricky  ODS_POS_1440  2017-01-26  2017-01-26

     is_period
4983      True
4984      True
4985      True
5001      True
5005      True
5805      True
QQ
     username  query_date report_name           doc start_date    end_date  \
3753    ricky  2017-02-21       ricky  ODS_UNB_0690        NaN  9999-12-31
3754    ricky  2017-02-21       ricky  ODS_UNB_0690        NaN  9999-12-31
4011    ricky  2017-02-21       ricky  ODS_UNB_0690        NaN  9999-12-31
4012    ricky  2017-02-21       ricky  ODS_UNB_0690        NaN  9999-12-31
4013    ricky  2017-02-21       ricky  ODS_UNB_0690        NaN  9999-12-31

     is_period
3753      True
3754      True
4011      True
4012      True
4013      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17552    ricky  2017-03-31       ricky  ODS_POS_1330  2017-03-01  2017-03-01

17642      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4171    ricky  2017-03-07       ricky  ODS_POS_1410  2017-01-13  2017-01-13
4173    ricky  2017-03-07       ricky  ODS_POS_1440  2017-01-13  2017-01-13
4175    ricky  2017-03-07       ricky  ODS_POS_1450         NaN  9999-12-31
8604    ricky  2017-03-07       ricky  ODS_POS_1600  2017-01-13  2017-01-13

     is_period
4171      True
4173      True
4175      True
8604      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
2843    ricky  2017-02-16       ricky  ODS_ACT_0270         NaN  9999-12-31
2844    ricky  2017-02-16       ricky  ODS_ACT_0270         NaN  9999-12-31
7182    ricky  2017-02-16       ricky  ODS_CLM_0561  2017-01-31  2017-01-31

     is_period
2843      True
2844      True
7182      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
3998    ricky  2017-02-22       ricky  ODS_POS_1300  2017-01-03  2017-01-03
3999    ricky  2017-02-22       ricky  ODS_POS_1300  2017-01-03  2017-01-03

     is_period
3998      True
3999      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14879    ricky  2017-03-21       ricky  ODS_POS_1390  2016-08-31  2016-08-31
14880    ricky  2017-03-21       ricky  ODS_POS_1390  2016-09-30  2016-09-30

      is_period
14879      True
14880      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
7220    ricky  2017-02-24       ricky  ODS_POS_1290  2017-01-03  2017-01-03
7280    ricky  2017-02-24       ricky  ODS_POS_1300  2017-01-03  2017-01-03

     is_period
7220      True
7280      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
7525    ricky  2017-03-02       ricky  ODS_POS_1010  2017-01-10  2017-01-10

     is_period
7525      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
3910   000923  2017-02-22      000923  ODS_POS_1390  2017-01-02  2017-01-02
3975   000923  2017-02-22      000923  ODS_POS_0770  2017-01-03  2017-01-03
4010   000923  2017-02-22      000923  ODS_POS_0880  2017-01-03  2017-01-03
4047   000923  2017-02-22      000923  ODS_POS_0880  2017-01-02  2017-01-02
4048   000923  2017-02-22      000923  ODS_POS_0880  2017-01-03  2017-01-03
4073   000923  2017-02-22      000923  ODS_POS_1390  2017-01-03  2017-01-03
4074   000923  2017-02-22      000923  ODS_POS_1390  2017-01-02  2017-01-02
4075   000923  2017-02-22      000923  ODS_POS_1000  2017-01-02  2017-01-02
6010   000923  2017-02-22      000923  ODS_POS_0430         NaN  9999-12-31
6011   000923  2017-02-22      000923  ODS_POS_0430         NaN  9999-12-31
6042   000923  2017-02-22      000923  ODS_POS_0430         NaN  9999-12-31
6044   000923  2017-02-22      000923  ODS_POS_0430         NaN  9999-12-31
6048   000923  2017-02-22      000923  ODS_POS_1410  2017-01-03  2017-01-03
6058   000923  2017-02-22      000923  ODS_POS_0940  2017-01-03  2017-01-03
6084   000923  2017-02-22      000923  ODS_POS_1000  2017-01-03  2017-01-03
6090   000923  2017-02-22      000923  ODS_POS_0430         NaN  9999-12-31
7206   000923  2017-02-22      000923  ODS_POS_0780  2017-01-03  2017-01-03
7269   000923  2017-02-22      000923  ODS_POS_0770  2017-01-03  2017-01-03
7273   000923  2017-02-22      000923  ODS_POS_0770  2017-01-02  2017-01-02
7287   000923  2017-02-22      000923  ODS_POS_0770  2017-01-02  2017-01-02
7288   000923  2017-02-22      000923  ODS_POS_0880  2017-01-03  2017-01-03
7292   000923  2017-02-22      000923  ODS_POS_1390  2017-01-03  2017-01-03
7309   000923  2017-02-22      000923  ODS_POS_1000  2017-01-02  2017-01-02

     is_period
3910      True
3975      True
4010      True
4047      True
4048      True
4073      True
4074      True
4075      True
6010      True
6011      True
6042      True
6044      True
6048      True
6058      True
6084      True
6090      True
7206      True
7269      True
7273      True
7287      True
7288      True
7292      True
7309      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
28860   000923  2017-04-17      000923  ODS_POS_1000         NaN  9999-12-31
28863   000923  2017-04-17      000923  ODS_POS_1410  2017-01-13  2017-01-13
29150   000923  2017-04-17      000923  FMT_POS_0250  2017-04-01  2017-05-31
29221   000923  2017-04-17      000923  FMT_POS_0250  2017-04-01  2017-05-31
29327   000923  2017-04-17      000923  FMT_POS_0250  2017-04-01  2017-05-31
29466   000923  2017-04-17      000923  ODS_POS_0880  2017-01-10  2017-01-10
29468   000923  2017-04-17      000923  ODS_POS_0880  2017-02-02  2017-02-02
29469   000923  2017-04-17      000923  ODS_POS_0880  2017-02-02  2017-02-02
29537   000923  2017-04-17      000923  FMT_POS_0250  2017-04-01  2017-05-31
29618   000923  2017-04-17      000923  ODS_POS_1320         NaN  9999-12-31
29747   000923  2017-04-17      000923  ODS_POS_1320         NaN  9999-12-31
30181   000923  2017-04-17      000923  ODS_POS_1320         NaN  9999-12-31
30228   000923  2017-04-17      000923  ODS_POS_0880  2014-01-10  2014-01-10
30229   000923  2017-04-17      000923  ODS_POS_0880  2017-01-10  2017-01-10
30237   000923  2017-04-17      000923  ODS_POS_1000  2017-02-02  2017-02-02
30238   000923  2017-04-17      000923  ODS_POS_1000  2017-04-05  2017-04-05

      is_period
28860      True
28863      True
29150      True
29221      True
29327      True
29466      True
29468      True
29469      True
29537      True
29618      True
29747      True
30181      True
30228      True
30229      True
30237      True
30238      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
26229   000923  2017-04-11      000923  ODS_POS_1330  2017-04-05  2017-04-05
26230   000923  2017-04-11      000923  ODS_POS_1330  2017-03-01  2017-03-01
26357   000923  2017-04-11      000923  ODS_POS_1160         NaN  9999-12-31
26358   000923  2017-04-11      000923  ODS_POS_1160         NaN  9999-12-31
26360   000923  2017-04-11      000923  ODS_POS_1160         NaN  9999-12-31
26392   000923  2017-04-11      000923  ODS_POS_1320         NaN  9999-12-31
27300   000923  2017-04-11      000923  ODS_POS_1320         NaN  9999-12-31
27398   000923  2017-04-11      000923  FMT_POS_0130  2017-01-01  2017-04-30
27485   000923  2017-04-11      000923  ODS_POS_1320         NaN  9999-12-31
27486   000923  2017-04-11      000923  ODS_POS_1320         NaN  9999-12-31
27500   000923  2017-04-11      000923  ODS_POS_1320         NaN  9999-12-31
27558   000923  2017-04-11      000923  FMT_POS_0130  2017-01-01  2017-04-30
27872   000923  2017-04-11      000923  ODS_POS_1330  2017-04-05  2017-04-05
28582   000923  2017-04-11      000923  ODS_POS_1320         NaN  9999-12-31

      is_period
26229      True
26230      True
26357      True
26358      True
26360      True
26392      True
27300      True
27398      True
27485      True
27486      True
27500      True
27558      True
27872      True
28582      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
26714   000923  2017-04-12      000923  FMT_POS_0020  2017-04-30  2017-04-30
26718   000923  2017-04-12      000923  FMT_POS_0020  2017-04-30  2017-04-30
26738   000923  2017-04-12      000923  ODS_POS_0990         NaN  9999-12-31
26739   000923  2017-04-12      000923  ODS_POS_0990         NaN  9999-12-31
26753   000923  2017-04-12      000923  ODS_POS_0430         NaN  9999-12-31
26847   000923  2017-04-12      000923  ODS_POS_1160         NaN  9999-12-31
26850   000923  2017-04-12      000923  ODS_POS_0430         NaN  9999-12-31
26851   000923  2017-04-12      000923  ODS_POS_0430         NaN  9999-12-31
26852   000923  2017-04-12      000923  ODS_POS_0430         NaN  9999-12-31
26853   000923  2017-04-12      000923  ODS_POS_0430         NaN  9999-12-31
27510   000923  2017-04-12      000923  ODS_POS_0430         NaN  9999-12-31
27511   000923  2017-04-12      000923  ODS_POS_0430         NaN  9999-12-31

      is_period
26714      True
26718      True
26738      True
26739      True
26753      True
26847      True
26850      True
26851      True
26852      True
26853      True
27510      True
27511      True
QQ
      username  query_date report_name           doc start_date    end_date  \
12332   000923  2017-03-17      000923  ODS_POS_0960        NaN  9999-12-31
12334   000923  2017-03-17      000923  ODS_POS_0960        NaN  9999-12-31
12336   000923  2017-03-17      000923  ODS_POS_0960        NaN  9999-12-31
13066   000923  2017-03-17      000923  ODS_POS_0760        NaN  9999-12-31
13067   000923  2017-03-17      000923  ODS_POS_0760        NaN  9999-12-31
13156   000923  2017-03-17      000923  ODS_POS_0760        NaN  9999-12-31
13160   000923  2017-03-17      000923  ODS_POS_0960        NaN  9999-12-31
13162   000923  2017-03-17      000923  ODS_POS_0960        NaN  9999-12-31
13173   000923  2017-03-17      000923  ODS_POS_0960        NaN  9999-12-31
13174   000923  2017-03-17      000923  ODS_POS_0960        NaN  9999-12-31

      is_period
12332      True
12334      True
12336      True
13066      True
13067      True
13156      True
13160      True
13162      True
13173      True
13174      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
23226   000923  2017-04-07      000923  ODS_POS_1320         NaN  9999-12-31
23304   000923  2017-04-07      000923  FMT_POS_0470  2017-01-01  2017-03-31
23590   000923  2017-04-07      000923  ODS_POS_1320         NaN  9999-12-31
23721   000923  2017-04-07      000923  ODS_POS_1320         NaN  9999-12-31
23850   000923  2017-04-07      000923  ODS_POS_1320         NaN  9999-12-31
23858   000923  2017-04-07      000923  FMT_POS_0470  2017-01-01  2017-03-31
24206   000923  2017-04-07      000923  FMT_POS_0470  2017-01-01  2017-03-31
25101   000923  2017-04-07      000923  FMT_POS_0470  2017-01-01  2017-04-05
25911   000923  2017-04-07      000923  ODS_POS_1330  2017-02-15  2017-02-15

      is_period
23226      True
23304      True
23590      True
23721      True
23850      True
23858      True
24206      True
25101      True
25911      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
12979   000923  2017-03-16      000923  ODS_POS_1010  2017-02-07  2017-02-07
13304   000923  2017-03-16      000923  ODS_POS_1160         NaN  9999-12-31
13305   000923  2017-03-16      000923  ODS_POS_1160         NaN  9999-12-31
13306   000923  2017-03-16      000923  ODS_POS_1160         NaN  9999-12-31
13312   000923  2017-03-16      000923  ODS_POS_0990         NaN  9999-12-31
13367   000923  2017-03-16      000923  ODS_POS_0760         NaN  9999-12-31
13384   000923  2017-03-16      000923  ODS_POS_1010  2017-01-26  2017-01-26
13454   000923  2017-03-16      000923  ODS_POS_0990         NaN  9999-12-31

      is_period
12979      True
13304      True
13305      True
13306      True
13312      True
13367      True
13384      True
13454      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17601   000923  2017-03-31      000923  ODS_POS_0960         NaN  9999-12-31
17602   000923  2017-03-31      000923  ODS_POS_0930         NaN  9999-12-31
17604   000923  2017-03-31      000923  ODS_POS_0930         NaN  9999-12-31
17629   000923  2017-03-31      000923  ODS_POS_0930         NaN  9999-12-31
21004   000923  2017-03-31      000923  ODS_POS_1330  2017-03-01  2017-03-01
21088   000923  2017-03-31      000923  ODS_POS_1330  2017-03-01  2017-03-01
21091   000923  2017-03-31      000923  ODS_POS_1010  2017-02-27  2017-02-27
21092   000923  2017-03-31      000923  ODS_POS_1010  2017-02-27  2017-02-27

      is_period
17601      True
17602      True
17604      True
17629      True
21004      True
21088      True
21091      True
21092      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
2749   000923  2017-02-20      000923  ODS_POS_0430         NaN  9999-12-31
2750   000923  2017-02-20      000923  ODS_POS_0430         NaN  9999-12-31
3711   000923  2017-02-20      000923  ODS_POS_1410  2017-01-03  2017-01-03
3718   000923  2017-02-20      000923  ODS_POS_0770  2017-01-03  2017-01-03
3871   000923  2017-02-20      000923  ODS_POS_1410  2017-01-03  2017-01-03
3876   000923  2017-02-20      000923  ODS_POS_1000  2017-01-03  2017-01-03
6495   000923  2017-02-20      000923  ODS_POS_0880  2017-01-03  2017-01-03

     is_period
2749      True
2750      True
3711      True
3718      True
3871      True
3876      True
6495      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
1703   000923  2017-02-15      000923  ODS_POS_1360  2017-12-31  2017-12-31
1705   000923  2017-02-15      000923  FMT_POS_0150  2016-12-31  2017-02-01
1708   000923  2017-02-15      000923  FMT_POS_0150  2016-12-31  2017-02-01
7128   000923  2017-02-15      000923  ODS_POS_1360  2018-12-31  2018-12-31
7129   000923  2017-02-15      000923  ODS_POS_1360  2017-12-31  2017-12-31
7131   000923  2017-02-15      000923  ODS_POS_1360  2023-12-31  2023-12-31

     is_period
1703      True
1705      True
1708      True
7128      True
7129      True
7131      True
QQ

      username  query_date report_name           doc  start_date    end_date  \
22364   000923  2017-04-06      000923  ODS_POS_1320         NaN  9999-12-31
23145   000923  2017-04-06      000923  ODS_POS_1320         NaN  9999-12-31
23146   000923  2017-04-06      000923  ODS_POS_1320         NaN  9999-12-31
23160   000923  2017-04-06      000923  ODS_POS_1330  2017-03-31  2017-03-31
24159   000923  2017-04-06      000923  ODS_POS_1010  2017-02-27  2017-02-27
24166   000923  2017-04-06      000923  ODS_POS_1010  2017-02-27  2017-02-27

      is_period
22364      True
23145      True
23146      True
23160      True
24159      True
24166      True
QQ
      username  query_date report_name           doc start_date    end_date  \
28103   000923  2017-04-14      000923  ODS_POS_0990        NaN  9999-12-31
28104   000923  2017-04-14      000923  ODS_POS_0990        NaN  9999-12-31
28122   000923  2017-04-14      000923  ODS_POS_0990        NaN  9999-12-31
29256   000923  2017-04-14      000923  ODS_POS_1400        NaN  9999-12-31
29359   000923  2017-04-14      000923  ODS_POS_1400        NaN  9999-12-31
29360   000923  2017-04-14      000923  ODS_POS_1400        NaN  9999-12-31

      is_period
28103      True
28104      True
28122      True
29256      True
29359      True
29360      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
20046   000923  2017-03-28      000923  ODS_POS_0770  2017-03-01  2017-03-01
20047   000923  2017-03-28      000923  ODS_POS_0770  2017-01-10  2017-01-10
20048   000923  2017-03-28      000923  ODS_POS_0770  2017-01-02  2017-01-02
20049   000923  2017-03-28      000923  ODS_POS_0770  2017-03-01  2017-03-01
20738   000923  2017-03-28      000923  FMT_POS_0250  2017-03-31  2017-03-31
20739   000923  2017-03-28      000923  FMT_POS_0250  2017-03-31  2017-03-31

      is_period
20046      True
20047      True
20048      True
20049      True
20738      True
20739      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
1163   000923  2017-02-14      000923  ODS_POS_0930         NaN  9999-12-31
1228   000923  2017-02-14      000923  ODS_POS_0940  2017-01-03  2017-01-03
1229   000923  2017-02-14      000923  ODS_POS_0940  2016-12-31  2016-12-31
1272   000923  2017-02-14      000923  ODS_POS_0430         NaN  9999-12-31
5651   000923  2017-02-14      000923  ODS_POS_0930         NaN  9999-12-31
5652   000923  2017-02-14      000923  ODS_POS_0930         NaN  9999-12-31

     is_period
1163      True
1228      True
1229      True
1272      True
5651      True
5652      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
4712    000923  2017-03-08      000923  ODS_POS_0760         NaN  9999-12-31
4713    000923  2017-03-08      000923  ODS_POS_0430         NaN  9999-12-31
4714    000923  2017-03-08      000923  ODS_POS_1160         NaN  9999-12-31
10028   000923  2017-03-08      000923  FMT_POS_0250  0106-01-27  2017-01-26
10029   000923  2017-03-08      000923  FMT_POS_0250  2017-01-26  2017-01-26

      is_period
4712       True
4713       True
4714       True
10028      True
10029      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
8329   000923  2017-03-02      000923  ODS_POS_0770  2017-01-10  2017-01-10
8335   000923  2017-03-02      000923  ODS_POS_0770  2017-01-03  2017-01-03
8340   000923  2017-03-02      000923  ODS_POS_0770  2017-01-10  2017-01-10
8385   000923  2017-03-02      000923  ODS_POS_0880  2017-01-10  2017-01-10
8392   000923  2017-03-02      000923  ODS_POS_0880  2017-01-13  2017-01-13

     is_period
8329      True
8335      True
8340      True
8385      True
8392      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4236   000923  2017-02-24      000923  ODS_POS_0430         NaN  9999-12-31
5280   000923  2017-02-24      000923  ODS_POS_0430         NaN  9999-12-31
6752   000923  2017-02-24      000923  ODS_POS_1390  2017-01-03  2017-01-03
7399   000923  2017-02-24      000923  ODS_POS_0770  2017-01-03  2017-01-03
7403   000923  2017-02-24      000923  ODS_POS_1080  2017-01-03  2017-01-03

     is_period
4236      True
5280      True
6752      True
7399      True
7403      True
QQ
     username  query_date report_name           doc start_date    end_date  \
2109   000923  2017-02-17      000923  ODS_POS_0990        NaN  9999-12-31
2110   000923  2017-02-17      000923  ODS_POS_0990        NaN  9999-12-31
2111   000923  2017-02-17      000923  ODS_POS_0990        NaN  9999-12-31
2112   000923  2017-02-17      000923  ODS_POS_0990        NaN  9999-12-31
2964   000923  2017-02-17      000923  ODS_POS_0430        NaN  9999-12-31

     is_period
2109      True
2110      True
2111      True
2112      True
2964      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
13890   000923  2017-03-20      000923  ODS_POS_1010  2017-02-07  2017-02-07
13893   000923  2017-03-20      000923  ODS_POS_1010  2017-02-27  2017-02-27
14132   000923  2017-03-20      000923  ODS_POS_1010  2017-02-28  2017-02-28
14133   000923  2017-03-20      000923  ODS_POS_1010  2017-03-01  2017-03-01
14190   000923  2017-03-20      000923  ODS_POS_1010  2017-02-27  2017-02-27

      is_period
13890      True
13893      True
14132      True
14133      True
14190      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
24900   000923  2017-04-10      000923  FMT_POS_0130  2017-04-05  2017-04-30
24901   000923  2017-04-10      000923  FMT_POS_0130  2017-03-01  2017-04-30
25990   000923  2017-04-10      000923  FMT_POS_0470  2017-01-01  2017-04-30
26866   000923  2017-04-10      000923  FMT_POS_0130  2017-04-05  2017-04-30

      is_period
24900      True
24901      True
25990      True
26866      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
1544    000923  2017-04-19      000923  FMT_POS_0130  2017-04-01  2017-04-30
1545    000923  2017-04-19      000923  ODS_POS_1320         NaN  9999-12-31
2785    000923  2017-04-19      000923  FMT_POS_0130  2017-04-01  2017-05-31
31690   000923  2017-04-19      000923  FMT_POS_0250  2017-05-31  2017-05-31

      is_period
1544       True
1545       True
2785       True
31690      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
28066   000923  2017-04-13      000923  FMT_POS_0250  2017-04-30  2017-04-30
30245   000923  2017-04-13      000923  FMT_POS_0250  2017-04-30  2017-04-30
30246   000923  2017-04-13      000923  FMT_POS_0250  2017-04-30  2017-04-30
30247   000923  2017-04-13      000923  FMT_POS_0250  2017-04-30  2017-04-30

      is_period
28066      True
30245      True
30246      True
30247      True
QQ
      username  query_date report_name           doc start_date    end_date  \
14897   000923  2017-03-22      000923  ODS_POS_1320        NaN  9999-12-31
17049   000923  2017-03-22      000923  ODS_POS_0430        NaN  9999-12-31
17054   000923  2017-03-22      000923  ODS_POS_0430        NaN  9999-12-31

      is_period
14897      True
17049      True
17054      True
QQ
      username  query_date report_name           doc start_date    end_date  \
31818   000923  2017-04-20      000923  ODS_POS_1320        NaN  9999-12-31
32133   000923  2017-04-20      000923  ODS_POS_1320        NaN  9999-12-31
32274   000923  2017-04-20      000923  ODS_POS_1320        NaN  9999-12-31

      is_period
31818      True
32133      True
32274      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
10702   000923  2017-03-13      000923  ODS_POS_0780  2017-01-03  2017-01-03
10703   000923  2017-03-13      000923  ODS_POS_0780  2017-03-06  2017-03-06

      is_period
10702      True
10703      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
8054   000923  2017-03-06      000923  ODS_POS_1390  2017-01-10  2017-01-10
9024   000923  2017-03-06      000923  ODS_POS_1160         NaN  9999-12-31

     is_period
8054      True
9024      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
31018   000923  2017-04-18      000923  ODS_POS_0780  2017-04-05  2017-04-05
31121   000923  2017-04-18      000923  ODS_POS_1320         NaN  9999-12-31

      is_period
31018      True
31121      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
7180   000923  2017-02-16      000923  ODS_POS_1330  2017-12-31  2017-12-31
7181   000923  2017-02-16      000923  ODS_POS_1330  2018-12-31  2018-12-31

     is_period
7180      True
7181      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4934   000923  2017-02-08      000923  ODS_POS_1360  2016-12-31  2016-12-31

     is_period
4934      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
31368   000923  2017-04-21      000923  FMT_POS_0020  2017-01-01  2017-04-30

      is_period
31368      True
QQ

     username  query_date report_name           doc  start_date    end_date  \
4160   000923  2017-02-23      000923  ODS_POS_0770  2017-01-03  2017-01-03

     is_period
4160      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4697   000923  2017-03-07      000923  ODS_POS_1390  2017-01-10  2017-01-10

     is_period
4697      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
5318   000923  2017-02-13      000923  ODS_POS_1360  2017-12-31  2017-12-31

     is_period
5318      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
15827   000923  2017-03-21      000923  ODS_POS_0770  2017-01-10  2017-01-10

      is_period
15827      True
QQ
      username  query_date report_name           doc start_date    end_date  \
19871   000923  2017-03-27      000923  ODS_POS_1320        NaN  9999-12-31

      is_period
19871      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
1      calvin  2017-02-10      calvin  ODS_PA_0500_P  2016-11-30  2016-11-30
2      calvin  2017-02-10      calvin   ODS_FIN_0573         NaN  9999-12-31
8      calvin  2017-02-10      calvin   ODS_FIN_0740         NaN  9999-12-31
9      calvin  2017-02-10      calvin   ODS_FIN_0741         NaN  9999-12-31
10     calvin  2017-02-10      calvin   ODS_FIN_0742         NaN  9999-12-31
11     calvin  2017-02-10      calvin   ODS_FIN_0743         NaN  9999-12-31
15     calvin  2017-02-10      calvin   ODS_FIN_0761         NaN  9999-12-31
17     calvin  2017-02-10      calvin   ODS_FIN_0783         NaN  9999-12-31
18     calvin  2017-02-10      calvin   ODS_FIN_0784         NaN  9999-12-31
19     calvin  2017-02-10      calvin   ODS_FIN_0785         NaN  9999-12-31
169    calvin  2017-02-10      calvin   ODS_FIN_0571         NaN  9999-12-31
235    calvin  2017-02-10      calvin   ODS_FIN_0570         NaN  9999-12-31
311    calvin  2017-02-10      calvin   ODS_FIN_0570         NaN  9999-12-31
312    calvin  2017-02-10      calvin   ODS_FIN_0571         NaN  9999-12-31
313    calvin  2017-02-10      calvin   ODS_FIN_0572         NaN  9999-12-31
314    calvin  2017-02-10      calvin   ODS_FIN_0573         NaN  9999-12-31
550    calvin  2017-02-10      calvin   ODS_FIN_0760         NaN  9999-12-31
553    calvin  2017-02-10      calvin   ODS_FIN_0762         NaN  9999-12-31
554    calvin  2017-02-10      calvin   ODS_FIN_0763         NaN  9999-12-31
555    calvin  2017-02-10      calvin   ODS_FIN_0764         NaN  9999-12-31
556    calvin  2017-02-10      calvin   ODS_FIN_0765         NaN  9999-12-31
1062   calvin  2017-02-10      calvin   ODS_FIN_0410         NaN  9999-12-31
1069   calvin  2017-02-10      calvin   ODS_FIN_0410         NaN  9999-12-31
1072   calvin  2017-02-10      calvin   ODS_FIN_0560         NaN  9999-12-31
1073   calvin  2017-02-10      calvin   ODS_FIN_0561         NaN  9999-12-31
1074   calvin  2017-02-10      calvin   ODS_FIN_0562         NaN  9999-12-31
1075   calvin  2017-02-10      calvin   ODS_FIN_0563         NaN  9999-12-31
5365   calvin  2017-02-10      calvin   ODS_FIN_0410         NaN  9999-12-31
5393   calvin  2017-02-10      calvin   ODS_FIN_0420         NaN  9999-12-31
5735   calvin  2017-02-10      calvin   ODS_FIN_0800         NaN  9999-12-31
5736   calvin  2017-02-10      calvin   ODS_FIN_0801         NaN  9999-12-31
5737   calvin  2017-02-10      calvin   ODS_FIN_0802         NaN  9999-12-31
5738   calvin  2017-02-10      calvin   ODS_FIN_0803         NaN  9999-12-31
5753   calvin  2017-02-10      calvin   ODS_FIN_0804         NaN  9999-12-31
5754   calvin  2017-02-10      calvin   ODS_FIN_0805         NaN  9999-12-31
5755   calvin  2017-02-10      calvin   ODS_FIN_0806         NaN  9999-12-31
5756   calvin  2017-02-10      calvin   ODS_FIN_0930         NaN  9999-12-31
5757   calvin  2017-02-10      calvin   ODS_FIN_0931         NaN  9999-12-31
5758   calvin  2017-02-10      calvin   ODS_FIN_0932         NaN  9999-12-31
5759   calvin  2017-02-10      calvin   ODS_FIN_0933         NaN  9999-12-31
5760   calvin  2017-02-10      calvin   ODS_FIN_0950         NaN  9999-12-31
5761   calvin  2017-02-10      calvin  ODS_PA_0500_P  2016-11-30  2016-11-30
5762   calvin  2017-02-10      calvin  ODS_PA_0501_P  2016-11-01  2016-11-30
5763   calvin  2017-02-10      calvin  ODS_PA_0500_P  2016-11-30  2016-11-30
5771   calvin  2017-02-10      calvin  ODS_PA_0501_P  2016-11-01  2016-11-30
5831   calvin  2017-02-10      calvin   ODS_FIN_0571         NaN  9999-12-31
6046   calvin  2017-02-10      calvin   ODS_FIN_0572         NaN  9999-12-31
6047   calvin  2017-02-10      calvin   ODS_FIN_0573         NaN  9999-12-31
6062   calvin  2017-02-10      calvin   ODS_FIN_0766         NaN  9999-12-31
6063   calvin  2017-02-10      calvin   ODS_FIN_0780         NaN  9999-12-31
6064   calvin  2017-02-10      calvin   ODS_FIN_0781         NaN  9999-12-31
6065   calvin  2017-02-10      calvin   ODS_FIN_0782         NaN  9999-12-31
6079   calvin  2017-02-10      calvin   ODS_FIN_0590         NaN  9999-12-31
6080   calvin  2017-02-10      calvin   ODS_FIN_0591         NaN  9999-12-31
6081   calvin  2017-02-10      calvin   ODS_FIN_0592         NaN  9999-12-31
6083   calvin  2017-02-10      calvin   ODS_FIN_0593         NaN  9999-12-31

     is_period
1         True
2         True
8         True
9         True
10        True
11        True
15        True
17        True
18        True
19        True
169       True
235       True
311       True
312       True
313       True
314       True
550       True
553       True
554       True
555       True
556       True
1062      True
1069      True
1072      True
1073      True
1074      True
1075      True
5365      True
5393      True
5735      True
5736      True
5737      True
5738      True
5753      True
5754      True
5755      True
5756      True
5757      True
5758      True
5759      True
5760      True
5761      True
5762      True
5763      True
5771      True
5831      True
6046      True
6047      True
6062      True
6063      True
6064      True
6065      True
6079      True
6080      True
6081      True
6083      True
QQ
     username  query_date report_name           doc start_date    end_date  \
5406   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
5408   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
5409   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
5410   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
5414   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
5448   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
5449   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
5450   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
5454   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
5455   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
5457   calvin  2017-02-13      calvin  ODS_FIN_1060        NaN  9999-12-31
5459   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
5507   calvin  2017-02-13      calvin  ODS_FIN_1060        NaN  9999-12-31
5508   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
6792   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
6794   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
6795   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
6798   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
6799   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
6847   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
6849   calvin  2017-02-13      calvin  ODS_FIN_1060        NaN  9999-12-31
6850   calvin  2017-02-13      calvin  ODS_FIN_1060        NaN  9999-12-31
6851   calvin  2017-02-13      calvin  ODS_FIN_1060        NaN  9999-12-31
6852   calvin  2017-02-13      calvin  ODS_FIN_1060        NaN  9999-12-31
6869   calvin  2017-02-13      calvin  ODS_FIN_1060        NaN  9999-12-31
6871   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
6872   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
6874   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
6922   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
6923   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
6924   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
6925   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
6926   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
6927   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
6929   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
6930   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
6932   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
6975   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
6977   calvin  2017-02-13      calvin  ODS_FIN_1060        NaN  9999-12-31
7020   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31
7021   calvin  2017-02-13      calvin  ODS_FIN_1040        NaN  9999-12-31

     is_period
5406      True
5408      True
5409      True
5410      True
5414      True
5448      True
5449      True
5450      True
5454      True
5455      True
5457      True
5459      True
5507      True
5508      True
6792      True
6794      True
6795      True
6798      True
6799      True
6847      True
6849      True
6850      True
6851      True
6852      True
6869      True
6871      True
6872      True
6874      True
6922      True
6923      True
6924      True
6925      True
6926      True
6927      True
6929      True
6930      True
6932      True
6975      True
6977      True
7020      True
7021      True
QQ
     username  query_date report_name           doc start_date    end_date  \
307    calvin  2017-02-14      calvin  ODS_FIN_1040        NaN  9999-12-31
308    calvin  2017-02-14      calvin  ODS_FIN_1040        NaN  9999-12-31
309    calvin  2017-02-14      calvin  ODS_FIN_1060        NaN  9999-12-31
310    calvin  2017-02-14      calvin  ODS_FIN_0910        NaN  9999-12-31
414    calvin  2017-02-14      calvin  ODS_FIN_0351        NaN  9999-12-31
558    calvin  2017-02-14      calvin  ODS_FIN_0351        NaN  9999-12-31
559    calvin  2017-02-14      calvin  ODS_FIN_0351        NaN  9999-12-31
560    calvin  2017-02-14      calvin  ODS_FIN_0351        NaN  9999-12-31
563    calvin  2017-02-14      calvin  ODS_FIN_0351        NaN  9999-12-31
1661   calvin  2017-02-14      calvin  ODS_FIN_0351        NaN  9999-12-31
1662   calvin  2017-02-14      calvin  ODS_FIN_0351        NaN  9999-12-31
1663   calvin  2017-02-14      calvin  ODS_FIN_0351        NaN  9999-12-31

     is_period
307       True
308       True
309       True
310       True
414       True
558       True
559       True
560       True
563       True
1661      True
1662      True
1663      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
27261   calvin  2017-04-11      calvin  ODS_POS_1460  2017-03-01  2017-03-01
27292   calvin  2017-04-11      calvin  ODS_POS_1460  2017-04-05  2017-04-05
27394   calvin  2017-04-11      calvin  ODS_POS_1460  2017-04-05  2017-04-05
27395   calvin  2017-04-11      calvin  ODS_POS_1460  2017-04-05  2017-04-05
27396   calvin  2017-04-11      calvin  ODS_POS_1460  2017-04-05  2017-04-05
27397   calvin  2017-04-11      calvin  ODS_POS_1460  2017-04-05  2017-04-05
27503   calvin  2017-04-11      calvin  ODS_POS_1460  2017-04-05  2017-04-05
27676   calvin  2017-04-11      calvin  ODS_POS_1460  2017-04-05  2017-04-05
27677   calvin  2017-04-11      calvin  ODS_POS_1460  2017-04-05  2017-04-05

      is_period
27261      True
27292      True
27394      True
27395      True
27396      True
27397      True
27503      True
27676      True
27677      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
31643   calvin  2017-04-20      calvin   ODS_PA_0400  2017-04-30  2017-04-30
31715   calvin  2017-04-20      calvin   ODS_SC_6230  2017-04-30  2017-04-30
31717   calvin  2017-04-20      calvin   ODS_SC_6230  2017-04-30  2017-04-30
31815   calvin  2017-04-20      calvin  ODS_INV_7100         NaN  9999-12-31
32187   calvin  2017-04-20      calvin   ODS_PA_0400  2017-04-30  2017-04-30
32210   calvin  2017-04-20      calvin  ODS_INV_7100         NaN  9999-12-31
32212   calvin  2017-04-20      calvin   ODS_PA_0400  2017-04-30  2017-04-30
32272   calvin  2017-04-20      calvin  ODS_POS_1460  2017-04-30  2017-04-30

      is_period
31643      True
31715      True
31717      True
31815      True
32187      True
32210      True
32212      True
32272      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
30807   calvin  2017-04-18      calvin  ODS_POS_1460  2017-04-05  2017-04-05
30809   calvin  2017-04-18      calvin  ODS_POS_1460  2017-04-30  2017-04-30
30923   calvin  2017-04-18      calvin  ODS_FIN_0730         NaN  9999-12-31
30963   calvin  2017-04-18      calvin  ODS_FIN_0730         NaN  9999-12-31
30971   calvin  2017-04-18      calvin  ODS_FIN_0730         NaN  9999-12-31
31032   calvin  2017-04-18      calvin  ODS_POS_1460  2017-04-30  2017-04-30
31098   calvin  2017-04-18      calvin  ODS_FIN_0730         NaN  9999-12-31

      is_period
30807      True
30809      True
30923      True
30963      True
30971      True
31032      True
31098      True
QQ
     username  query_date report_name           doc start_date    end_date  \
1424   calvin  2017-04-19      calvin  ODS_FIN_0730        NaN  9999-12-31
1541   calvin  2017-04-19      calvin  ODS_FIN_0730        NaN  9999-12-31
1596   calvin  2017-04-19      calvin  ODS_FIN_0770        NaN  9999-12-31
1598   calvin  2017-04-19      calvin  ODS_FIN_0770        NaN  9999-12-31
1599   calvin  2017-04-19      calvin  ODS_FIN_0770        NaN  9999-12-31

     is_period
1424      True
1541      True
1596      True
1598      True
1599      True
QQ
     username  query_date report_name           doc start_date    end_date  \
173    calvin  2017-02-08      calvin  ODS_CLM_0440        NaN  9999-12-31
5725   calvin  2017-02-08      calvin  ODS_CLM_0440        NaN  9999-12-31
5726   calvin  2017-02-08      calvin  ODS_CLM_0440        NaN  9999-12-31
5727   calvin  2017-02-08      calvin  ODS_CLM_0440        NaN  9999-12-31
5728   calvin  2017-02-08      calvin  ODS_CLM_0440        NaN  9999-12-31

     is_period
173       True
5725      True
5726      True
5727      True
5728      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
28861   calvin  2017-04-17      calvin   ODS_PA_0270  2017-04-30  2017-04-30
28862   calvin  2017-04-17      calvin   ODS_PA_0270  2017-04-30  2017-04-30
29506   calvin  2017-04-17      calvin  ODS_UNB_0050  2017-04-30  2017-04-30
29509   calvin  2017-04-17      calvin  ODS_UNB_0050  2017-04-30  2017-04-30

      is_period
28861      True
28862      True
29506      True
29509      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
3928   calvin  2017-02-21      calvin  ODS_PA_0610_P  2017-01-02  2017-01-02
3929   calvin  2017-02-21      calvin  ODS_PA_0610_P  2017-01-02  2017-01-02
3930   calvin  2017-02-21      calvin  ODS_PA_0610_P  2017-01-02  2017-01-02

     is_period
3928      True
3929      True
3930      True
QQ

     username  query_date report_name          doc  start_date    end_date  \
4252   calvin  2017-02-24      calvin  ODS_PA_0400  2017-01-03  2017-01-03
4254   calvin  2017-02-24      calvin  ODS_PA_0400  2017-01-03  2017-01-03
4374   calvin  2017-02-24      calvin  ODS_PA_0400  2016-12-30  2016-12-30

     is_period
4252      True
4254      True
4374      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
5469   calvin  2017-03-10      calvin  ODS_PA_0631_P  2017-01-03  2017-01-03
5558   calvin  2017-03-10      calvin  ODS_PA_0630_P  2017-01-03  2017-01-03
7649   calvin  2017-03-10      calvin   ODS_CLM_0510  2016-01-26  2016-01-26

     is_period
5469      True
5558      True
7649      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
28149   calvin  2017-04-15      calvin  ODS_CLM_0370  2017-04-05  2017-04-05
28402   calvin  2017-04-15      calvin  ODS_UNB_0510         NaN  9999-12-31

      is_period
28149      True
28402      True
QQ
    username  query_date report_name            doc  start_date    end_date  \
245   calvin  2017-02-09      calvin   ODS_CLM_0440         NaN  9999-12-31
466   calvin  2017-02-09      calvin  ODS_PA_0621_P  2017-01-31  2017-01-31

    is_period
245      True
466      True
QQ
      username  query_date report_name           doc start_date    end_date  \
23324   calvin  2017-04-07      calvin  ODS_FIN_0810        NaN  9999-12-31
25187   calvin  2017-04-07      calvin  ODS_FIN_0830        NaN  9999-12-31

      is_period
23324      True
25187      True
QQ
      username  query_date report_name           doc start_date    end_date  \
24366   calvin  2017-04-06      calvin  ODS_FIN_0860        NaN  9999-12-31

      is_period
24366      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
16425   calvin  2017-03-23      calvin  ODS_CLM_0360  2017-01-01  2017-03-01

      is_period
16425      True
QQ
      username  query_date report_name           doc start_date    end_date  \
31352   calvin  2017-04-21      calvin  ODS_POS_0670        NaN  9999-12-31

      is_period
31352      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
18174   calvin  2017-03-31      calvin  ODS_CLM_0370  2017-03-01  2017-03-01

      is_period
18174      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
2962   calvin  2017-02-18      calvin  ODS_PA_0550_P  2017-01-02  2017-01-02

     is_period
2962      True
QQ
      username  query_date report_name           doc start_date    end_date  \
15400   calvin  2017-03-21      calvin  ODS_FIN_0380        NaN  9999-12-31

      is_period
15400      True
QQ
      username  query_date report_name           doc start_date    end_date  \
14765   calvin  2017-03-22      calvin  ODS_INV_7200        NaN  9999-12-31

      is_period
14765      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17752   calvin  2017-03-30      calvin  ODS_INV_7230  2017-02-01  2017-03-30

      is_period
17752      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
6577   calvin  2017-02-20      calvin  ODS_PA_0680  2017-01-02  2017-01-02

     is_period
6577      True
QQ
     username  query_date report_name           doc start_date    end_date  \
3986   000316  2017-02-22      000316  ODS_INV_7320        NaN  9999-12-31
3987   000316  2017-02-22      000316  ODS_INV_7320        NaN  9999-12-31
3988   000316  2017-02-22      000316  ODS_INV_7320        NaN  9999-12-31
3989   000316  2017-02-22      000316  ODS_INV_7320        NaN  9999-12-31
3990   000316  2017-02-22      000316  ODS_INV_7320        NaN  9999-12-31
3991   000316  2017-02-22      000316  ODS_INV_7320        NaN  9999-12-31
3992   000316  2017-02-22      000316  ODS_INV_7320        NaN  9999-12-31
3993   000316  2017-02-22      000316  ODS_INV_7210        NaN  9999-12-31
3994   000316  2017-02-22      000316  ODS_INV_7210        NaN  9999-12-31
3995   000316  2017-02-22      000316  ODS_INV_7210        NaN  9999-12-31
4000   000316  2017-02-22      000316  ODS_INV_7210        NaN  9999-12-31
4032   000316  2017-02-22      000316  ODS_INV_7200        NaN  9999-12-31
4034   000316  2017-02-22      000316  ODS_INV_7200        NaN  9999-12-31
4035   000316  2017-02-22      000316  ODS_INV_7200        NaN  9999-12-31
4036   000316  2017-02-22      000316  ODS_INV_7200        NaN  9999-12-31
4037   000316  2017-02-22      000316  ODS_INV_7200        NaN  9999-12-31
4038   000316  2017-02-22      000316  ODS_INV_7200        NaN  9999-12-31
4039   000316  2017-02-22      000316  ODS_INV_7200        NaN  9999-12-31
4040   000316  2017-02-22      000316  ODS_INV_7200        NaN  9999-12-31
4041   000316  2017-02-22      000316  ODS_INV_7250        NaN  9999-12-31
4042   000316  2017-02-22      000316  ODS_INV_7250        NaN  9999-12-31
4044   000316  2017-02-22      000316  ODS_INV_7210        NaN  9999-12-31
4045   000316  2017-02-22      000316  ODS_INV_7210        NaN  9999-12-31
4050   000316  2017-02-22      000316  ODS_INV_7320        NaN  9999-12-31
4051   000316  2017-02-22      000316  ODS_INV_7320        NaN  9999-12-31
4052   000316  2017-02-22      000316  ODS_INV_7320        NaN  9999-12-31
4053   000316  2017-02-22      000316  ODS_INV_7320        NaN  9999-12-31
4054   000316  2017-02-22      000316  ODS_INV_7210        NaN  9999-12-31
4056   000316  2017-02-22      000316  ODS_INV_7210        NaN  9999-12-31
4058   000316  2017-02-22      000316  ODS_INV_7210        NaN  9999-12-31
4059   000316  2017-02-22      000316  ODS_INV_7210        NaN  9999-12-31
4060   000316  2017-02-22      000316  ODS_INV_7220        NaN  9999-12-31
4061   000316  2017-02-22      000316  ODS_INV_7220        NaN  9999-12-31
4062   000316  2017-02-22      000316  ODS_INV_7250        NaN  9999-12-31
4063   000316  2017-02-22      000316  ODS_INV_7250        NaN  9999-12-31
4064   000316  2017-02-22      000316  ODS_INV_7250        NaN  9999-12-31
4065   000316  2017-02-22      000316  ODS_INV_7250        NaN  9999-12-31
4066   000316  2017-02-22      000316  ODS_INV_7250        NaN  9999-12-31
4067   000316  2017-02-22      000316  ODS_INV_7250        NaN  9999-12-31
4068   000316  2017-02-22      000316  ODS_INV_7210        NaN  9999-12-31
4069   000316  2017-02-22      000316  ODS_INV_7210        NaN  9999-12-31
4077   000316  2017-02-22      000316  ODS_INV_7220        NaN  9999-12-31
4078   000316  2017-02-22      000316  ODS_INV_7250        NaN  9999-12-31
4079   000316  2017-02-22      000316  ODS_INV_7200        NaN  9999-12-31
4080   000316  2017-02-22      000316  ODS_INV_7200        NaN  9999-12-31
4081   000316  2017-02-22      000316  ODS_INV_7200        NaN  9999-12-31
4082   000316  2017-02-22      000316  ODS_INV_7200        NaN  9999-12-31
4084   000316  2017-02-22      000316  ODS_INV_7220        NaN  9999-12-31

     is_period
3986      True
3987      True
3988      True
3989      True
3990      True
3991      True
3992      True
3993      True
3994      True
3995      True
4000      True
4032      True
4034      True
4035      True
4036      True
4037      True
4038      True
4039      True
4040      True
4041      True
4042      True
4044      True
4045      True
4050      True
4051      True
4052      True
4053      True
4054      True
4056      True
4058      True
4059      True
4060      True
4061      True
4062      True
4063      True
4064      True
4065      True
4066      True
4067      True
4068      True
4069      True
4077      True
4078      True
4079      True
4080      True
4081      True
4082      True
4084      True
QQ
     username  query_date report_name           doc start_date    end_date  \
7424   000316  2017-03-06      000316  ODS_INV_7200        NaN  9999-12-31
7425   000316  2017-03-06      000316  ODS_INV_7230        NaN  9999-12-31
7426   000316  2017-03-06      000316  ODS_INV_7230        NaN  9999-12-31
7437   000316  2017-03-06      000316  ODS_INV_7230        NaN  9999-12-31
7461   000316  2017-03-06      000316  ODS_INV_7320        NaN  9999-12-31
7466   000316  2017-03-06      000316  ODS_INV_7320        NaN  9999-12-31
7501   000316  2017-03-06      000316  ODS_INV_7320        NaN  9999-12-31
7666   000316  2017-03-06      000316  ODS_INV_7230        NaN  9999-12-31
7669   000316  2017-03-06      000316  ODS_INV_7230        NaN  9999-12-31
7670   000316  2017-03-06      000316  ODS_INV_7230        NaN  9999-12-31
7682   000316  2017-03-06      000316  ODS_INV_7230        NaN  9999-12-31
7683   000316  2017-03-06      000316  ODS_INV_7200        NaN  9999-12-31
7684   000316  2017-03-06      000316  ODS_INV_7200        NaN  9999-12-31
7685   000316  2017-03-06      000316  ODS_INV_7200        NaN  9999-12-31
7686   000316  2017-03-06      000316  ODS_INV_7200        NaN  9999-12-31

     is_period
7424      True
7425      True
7426      True
7437      True
7461      True
7466      True
7501      True
7666      True
7669      True
7670      True
7682      True
7683      True
7684      True
7685      True
7686      True
QQ
      username  query_date report_name           doc start_date    end_date  \
11246   000316  2017-03-13      000316  ODS_POS_7030        NaN  9999-12-31
11247   000316  2017-03-13      000316  ODS_INV_7200        NaN  9999-12-31
11249   000316  2017-03-13      000316  ODS_INV_7200        NaN  9999-12-31
11251   000316  2017-03-13      000316  ODS_INV_7230        NaN  9999-12-31
11252   000316  2017-03-13      000316  ODS_INV_7230        NaN  9999-12-31
11253   000316  2017-03-13      000316  ODS_INV_7230        NaN  9999-12-31
11254   000316  2017-03-13      000316  ODS_INV_7230        NaN  9999-12-31
11255   000316  2017-03-13      000316  ODS_INV_7230        NaN  9999-12-31
11256   000316  2017-03-13      000316  ODS_INV_7230        NaN  9999-12-31
11257   000316  2017-03-13      000316  ODS_INV_7230        NaN  9999-12-31
11258   000316  2017-03-13      000316  ODS_INV_7230        NaN  9999-12-31
11259   000316  2017-03-13      000316  ODS_INV_7230        NaN  9999-12-31
11260   000316  2017-03-13      000316  ODS_INV_7250        NaN  9999-12-31

      is_period
11246      True
11247      True
11249      True
11251      True
11252      True
11253      True
11254      True
11255      True
11256      True
11257      True
11258      True
11259      True
11260      True
QQ
     username  query_date report_name           doc start_date    end_date  \
1080   000316  2017-02-10      000316  ODS_INV_7230        NaN  9999-12-31
5387   000316  2017-02-10      000316  ODS_INV_7200        NaN  9999-12-31
5394   000316  2017-02-10      000316  ODS_INV_7230        NaN  9999-12-31
5395   000316  2017-02-10      000316  ODS_INV_7230        NaN  9999-12-31
5396   000316  2017-02-10      000316  ODS_INV_7230        NaN  9999-12-31
5657   000316  2017-02-10      000316  ODS_INV_7230        NaN  9999-12-31
5658   000316  2017-02-10      000316  ODS_INV_7230        NaN  9999-12-31
5659   000316  2017-02-10      000316  ODS_INV_7230        NaN  9999-12-31
5661   000316  2017-02-10      000316  ODS_INV_7230        NaN  9999-12-31
5662   000316  2017-02-10      000316  ODS_INV_7230        NaN  9999-12-31
5697   000316  2017-02-10      000316  ODS_INV_7230        NaN  9999-12-31
5698   000316  2017-02-10      000316  ODS_INV_7230        NaN  9999-12-31

     is_period
1080      True
5387      True
5394      True
5395      True
5396      True
5657      True
5658      True
5659      True
5661      True
5662      True
5697      True
5698      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
30795   000316  2017-04-18      000316  LS_INV_0030  2017-04-30  2017-04-30
30796   000316  2017-04-18      000316  LS_INV_0030  2017-04-30  2017-04-30
30797   000316  2017-04-18      000316  LS_INV_0030  2017-04-05  2017-04-05
30798   000316  2017-04-18      000316  LS_INV_0010  2017-04-30  2017-04-30
30799   000316  2017-04-18      000316  LS_INV_0010  2017-04-30  2017-04-30
30801   000316  2017-04-18      000316  LS_INV_0030  2017-04-30  2017-04-30
30806   000316  2017-04-18      000316  LS_INV_0020  2017-04-30  2017-04-30

      is_period
30795      True
30796      True
30797      True
30798      True
30799      True
30801      True
30806      True
QQ

      username  query_date report_name           doc start_date    end_date  \
30393   000316  2017-04-21      000316  ODS_INV_7200        NaN  9999-12-31
30411   000316  2017-04-21      000316  ODS_INV_7200        NaN  9999-12-31
30412   000316  2017-04-21      000316  ODS_INV_7200        NaN  9999-12-31
30413   000316  2017-04-21      000316  ODS_INV_7200        NaN  9999-12-31
30439   000316  2017-04-21      000316  ODS_INV_7320        NaN  9999-12-31
30481   000316  2017-04-21      000316  ODS_INV_7320        NaN  9999-12-31

      is_period
30393      True
30411      True
30412      True
30413      True
30439      True
30481      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
24350   000316  2017-04-10      000316  ODS_INV_7210  2017-01-01  2017-03-31
24351   000316  2017-04-10      000316  ODS_INV_7210  2017-01-01  2017-03-31
26020   000316  2017-04-10      000316  ODS_INV_7200  2017-01-01  2017-04-05
26414   000316  2017-04-10      000316  ODS_INV_7200  2017-01-01  2017-04-05
27577   000316  2017-04-10      000316  ODS_INV_7200  2017-01-01  2017-04-05
28705   000316  2017-04-10      000316  ODS_INV_7200  2017-01-01  2017-04-05

      is_period
24350      True
24351      True
26020      True
26414      True
27577      True
28705      True
QQ
      username  query_date report_name           doc start_date    end_date  \
29033   000316  2017-04-13      000316  ODS_INV_7250        NaN  9999-12-31
29034   000316  2017-04-13      000316  ODS_INV_7250        NaN  9999-12-31
29038   000316  2017-04-13      000316  ODS_INV_7250        NaN  9999-12-31
29039   000316  2017-04-13      000316  ODS_INV_7250        NaN  9999-12-31
29040   000316  2017-04-13      000316  ODS_INV_7250        NaN  9999-12-31
29079   000316  2017-04-13      000316  ODS_INV_7250        NaN  9999-12-31

      is_period
29033      True
29034      True
29038      True
29039      True
29040      True
29079      True
QQ
     username  query_date report_name           doc start_date    end_date  \
7423   000316  2017-03-02      000316  ODS_INV_7160        NaN  9999-12-31
7435   000316  2017-03-02      000316  ODS_INV_7200        NaN  9999-12-31
7445   000316  2017-03-02      000316  ODS_INV_7200        NaN  9999-12-31
8314   000316  2017-03-02      000316  ODS_INV_7200        NaN  9999-12-31
8394   000316  2017-03-02      000316  ODS_INV_7160        NaN  9999-12-31

     is_period
7423      True
7435      True
7445      True
8314      True
8394      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
24220   000316  2017-04-07      000316  ODS_INV_7250  2017-03-31  2017-03-31
25533   000316  2017-04-07      000316  ODS_INV_7200  2017-03-31  2017-03-31
25534   000316  2017-04-07      000316  ODS_INV_7320  2017-03-31  2017-03-31
25863   000316  2017-04-07      000316  ODS_INV_7250  2017-01-01  2017-03-31

      is_period
24220      True
25533      True
25534      True
25863      True
QQ
      username  query_date report_name           doc start_date    end_date  \
11197   000316  2017-03-14      000316  ODS_INV_7230        NaN  9999-12-31
11484   000316  2017-03-14      000316  ODS_INV_7230        NaN  9999-12-31
11486   000316  2017-03-14      000316  ODS_INV_7230        NaN  9999-12-31
11488   000316  2017-03-14      000316  ODS_INV_7230        NaN  9999-12-31

      is_period
11197      True
11484      True
11486      True
11488      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4786   000316  2017-03-09      000316  ODS_INV_7200        NaN  9999-12-31
9427   000316  2017-03-09      000316  ODS_INV_7230        NaN  9999-12-31
9430   000316  2017-03-09      000316  ODS_INV_7230        NaN  9999-12-31
9431   000316  2017-03-09      000316  ODS_INV_7230        NaN  9999-12-31

     is_period
4786      True
9427      True
9430      True
9431      True
QQ
      username  query_date report_name           doc start_date    end_date  \
14568   000316  2017-03-21      000316  ODS_INV_7200        NaN  9999-12-31
14594   000316  2017-03-21      000316  ODS_INV_7230        NaN  9999-12-31
14660   000316  2017-03-21      000316  ODS_INV_7200        NaN  9999-12-31
15826   000316  2017-03-21      000316  ODS_INV_7200        NaN  9999-12-31

      is_period
14568      True
14594      True
14660      True
15826      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4981   000316  2017-03-10      000316  ODS_INV_7200        NaN  9999-12-31
5286   000316  2017-03-10      000316  ODS_INV_7230        NaN  9999-12-31
9441   000316  2017-03-10      000316  ODS_INV_7320        NaN  9999-12-31

     is_period
4981      True
5286      True
9441      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
21608   000316  2017-04-05      000316  ODS_INV_7200  2017-03-31  2017-03-31
25553   000316  2017-04-05      000316  ODS_INV_7320  2017-03-31  2017-03-31
25554   000316  2017-04-05      000316  ODS_INV_7320  2017-01-01  2017-03-31

      is_period
21608      True
25553      True
25554      True
QQ
     username  query_date report_name           doc start_date    end_date  \
6478   000316  2017-03-03      000316  ODS_INV_7320        NaN  9999-12-31
6479   000316  2017-03-03      000316  ODS_INV_7320        NaN  9999-12-31

     is_period
6478      True
6479      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17506   000316  2017-03-30      000316  ODS_INV_7230  2017-01-01  2017-03-31
20929   000316  2017-03-30      000316  ODS_INV_7200  2017-01-01  2017-03-31

      is_period
17506      True
20929      True
QQ
     username  query_date report_name           doc start_date    end_date  \
2620   000316  2017-02-20      000316  ODS_INV_7200        NaN  9999-12-31
2621   000316  2017-02-20      000316  ODS_INV_7250        NaN  9999-12-31

     is_period
2620      True
2621      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4161   000316  2017-02-23      000316  ODS_INV_7250        NaN  9999-12-31
5522   000316  2017-02-23      000316  ODS_INV_7200        NaN  9999-12-31

     is_period
4161      True
5522      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
27582   000316  2017-04-11      000316  ODS_INV_7230  2017-01-01  2017-04-05
27583   000316  2017-04-11      000316  ODS_INV_7230  2017-01-01  2017-04-05

      is_period
27582      True
27583      True
QQ
      username  query_date report_name           doc start_date    end_date  \
18297   000316  2017-03-29      000316  ODS_INV_7320        NaN  9999-12-31
21270   000316  2017-03-29      000316  ODS_INV_7171        NaN  9999-12-31

      is_period
18297      True
21270      True
QQ
      username  query_date report_name           doc start_date    end_date  \
28806   000316  2017-04-17      000316  ODS_INV_7200        NaN  9999-12-31

      is_period
28806      True
QQ
      username  query_date report_name           doc start_date    end_date  \
10037   000316  2017-03-08      000316  ODS_INV_7160        NaN  9999-12-31

      is_period
10037      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17535   000316  2017-03-31      000316  ODS_INV_7230  2017-03-01  2017-03-01

      is_period
17535      True
QQ
      username  query_date report_name           doc start_date    end_date  \
28146   000316  2017-04-14      000316  ODS_INV_7230        NaN  9999-12-31

      is_period
28146      True
QQ
     username  query_date report_name           doc start_date    end_date  \
7066   000316  2017-02-09      000316  ODS_INV_7220        NaN  9999-12-31

     is_period
7066      True
QQ
      username  query_date report_name           doc start_date    end_date  \
13633   000316  2017-03-20      000316  ODS_INV_7200        NaN  9999-12-31

      is_period
13633      True
QQ

     username  query_date report_name           doc start_date    end_date  \
5819   000316  2017-02-08      000316  ODS_INV_7320        NaN  9999-12-31

     is_period
5819      True
QQ
      username  query_date report_name           doc start_date    end_date  \
20757   000316  2017-03-28      000316  ODS_INV_7200        NaN  9999-12-31

      is_period
20757      True
QQ
      username  query_date report_name           doc start_date    end_date  \
13266   000316  2017-03-16      000316  ODS_INV_7200        NaN  9999-12-31

      is_period
13266      True
QQ
      username  query_date report_name       doc start_date    end_date  \
30374    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30375    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30421    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30424    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30425    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30467    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30468    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30469    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30473    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30475    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30476    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30477    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30513    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30514    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30515    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30565    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30566    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30567    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30568    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30570    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30571    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30572    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30578    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30580    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30581    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30583    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30584    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30586    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30587    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
30588    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
...        ...         ...         ...       ...        ...         ...
31814    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
31817    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
31850    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
31851    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
31855    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
31858    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
31859    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
31918    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
31921    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
31922    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
31923    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
31974    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
32014    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
32015    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
32016    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
32017    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
32018    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
32026    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
32028    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
32029    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
32077    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
32078    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
32079    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
32080    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
32081    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
32082    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
32127    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
32306    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
32308    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31
32313    user6  2017-04-20       user6  #POLICY#        NaN  9999-12-31

      is_period
30374      True
30375      True
30421      True
30424      True
30425      True
30467      True
30468      True
30469      True
30473      True
30475      True
30476      True
30477      True
30513      True
30514      True
30515      True
30565      True
30566      True
30567      True
30568      True
30570      True
30571      True
30572      True
30578      True
30580      True
30581      True
30583      True
30584      True
30586      True
30587      True
30588      True
...         ...
31814      True
31817      True
31850      True
31851      True
31855      True
31858      True
31859      True
31918      True
31921      True
31922      True
31923      True
31974      True
32014      True
32015      True
32016      True
32017      True
32018      True
32026      True
32028      True
32029      True
32077      True
32078      True
32079      True
32080      True
32081      True
32082      True
32127      True
32306      True
32308      True
32313      True

[111 rows x 7 columns]
QQ
      username  query_date report_name       doc start_date    end_date  \
30535    user6  2017-04-18       user6  #POLICY#        NaN  9999-12-31
30550    user6  2017-04-18       user6  #POLICY#        NaN  9999-12-31
30960    user6  2017-04-18       user6  #POLICY#        NaN  9999-12-31
30969    user6  2017-04-18       user6  #POLICY#        NaN  9999-12-31
30975    user6  2017-04-18       user6  #POLICY#        NaN  9999-12-31
31042    user6  2017-04-18       user6  #POLICY#        NaN  9999-12-31
31058    user6  2017-04-18       user6  #POLICY#        NaN  9999-12-31
31077    user6  2017-04-18       user6  #POLICY#        NaN  9999-12-31
31078    user6  2017-04-18       user6  #POLICY#        NaN  9999-12-31
31080    user6  2017-04-18       user6  #POLICY#        NaN  9999-12-31
31096    user6  2017-04-18       user6  #POLICY#        NaN  9999-12-31
31102    user6  2017-04-18       user6  #POLICY#        NaN  9999-12-31
31113    user6  2017-04-18       user6  #POLICY#        NaN  9999-12-31

      is_period
30535      True
30550      True
30960      True
30969      True
30975      True
31042      True
31058      True
31077      True
31078      True
31080      True
31096      True
31102      True
31113      True
QQ
     username  query_date report_name           doc start_date    end_date  \
5060    user6  2017-03-10       user6  ODS_POS_0990        NaN  9999-12-31
5358    user6  2017-03-10       user6  ODS_POS_0990        NaN  9999-12-31
5359    user6  2017-03-10       user6  ODS_POS_0990        NaN  9999-12-31
5360    user6  2017-03-10       user6  ODS_POS_0990        NaN  9999-12-31
5361    user6  2017-03-10       user6  ODS_POS_0990        NaN  9999-12-31
5362    user6  2017-03-10       user6  ODS_POS_0990        NaN  9999-12-31

     is_period
5060      True
5358      True
5359      True
5360      True
5361      True
5362      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
11052    user6  2017-03-14       user6  ODS_UNB_0220  2017-02-02  2017-02-02
11056    user6  2017-03-14       user6  FMT_UNB_0670         NaN  9999-12-31
11057    user6  2017-03-14       user6  FMT_UNB_0670         NaN  9999-12-31
11066    user6  2017-03-14       user6  ODS_UNB_0262  2017-02-06  2017-02-06

      is_period
11052      True
11056      True
11057      True
11066      True
QQ
      username  query_date report_name           doc start_date    end_date  \
1525     user6  2017-04-19       user6      #POLICY#        NaN  9999-12-31
31450    user6  2017-04-19       user6  FMT_POS_0250        NaN  9999-12-31
31639    user6  2017-04-19       user6  FMT_POS_0250        NaN  9999-12-31
31697    user6  2017-04-19       user6      #POLICY#        NaN  9999-12-31

      is_period
1525       True
31450      True
31639      True
31697      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
10523    user6  2017-03-11       user6  FMT_UNB_0130         NaN  9999-12-31
10549    user6  2017-03-11       user6  ODS_POS_1450         NaN  9999-12-31
10556    user6  2017-03-11       user6  ODS_POS_1440  2017-01-26  2017-01-26

      is_period
10523      True
10549      True
10556      True
QQ
      username  query_date report_name       doc  start_date    end_date  \
16044    user6  2017-03-24       user6  #POLICY#  2017-01-01  2017-03-31
16883    user6  2017-03-24       user6  #POLICY#  2017-01-01  2017-03-31

      is_period
16044      True
16883      True
QQ
      username  query_date report_name           doc start_date    end_date  \
14388    user6  2017-03-20       user6  ODS_UNB_0020        NaN  9999-12-31

      is_period
14388      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
1435    000279  2017-04-19      000279  FMT_PA_0910  2017-03-01  2017-04-30
1436    000279  2017-04-19      000279  FMT_PA_0900  2017-03-01  2017-04-30
1437    000279  2017-04-19      000279  FMT_PA_0910  2017-03-01  2017-04-30
1438    000279  2017-04-19      000279  FMT_PA_0710  2017-03-01  2017-04-30
1440    000279  2017-04-19      000279  FMT_PA_0900  2017-04-05  2017-04-05
1441    000279  2017-04-19      000279  FMT_PA_0910  2017-04-05  2017-04-05
1443    000279  2017-04-19      000279  FMT_PA_0910  2017-04-30  2017-04-05
1444    000279  2017-04-19      000279  FMT_PA_0910  2017-04-30  2017-04-05
1447    000279  2017-04-19      000279  FMT_PA_0910  2017-04-30  2017-04-30
1537    000279  2017-04-19      000279  FMT_PA_0910  2017-04-30  2017-04-30
1560    000279  2017-04-19      000279  FMT_PA_0910  2017-04-30  2017-04-30
1641    000279  2017-04-19      000279  FMT_PA_0900  2017-04-30  2017-04-30
1642    000279  2017-04-19      000279  FMT_PA_0900  2017-04-30  2017-04-30
1643    000279  2017-04-19      000279  FMT_PA_0900  2017-04-30  2017-04-30
1649    000279  2017-04-19      000279  FMT_PA_0900  2017-04-30  2017-04-30
1650    000279  2017-04-19      000279  FMT_PA_0910  2017-04-30  2017-04-30
2742    000279  2017-04-19      000279  FMT_PA_0900  2017-03-01  2017-04-30
2804    000279  2017-04-19      000279  FMT_PA_0910  2017-03-01  2017-04-30
2875    000279  2017-04-19      000279  FMT_PA_0910  2017-03-01  2017-04-30
2877    000279  2017-04-19      000279  FMT_PA_0900  2017-03-01  2017-04-30
31601   000279  2017-04-19      000279  FMT_PA_0900  2017-04-30  2017-04-30
31602   000279  2017-04-19      000279  FMT_PA_0900  2017-04-30  2017-04-30

      is_period
1435       True
1436       True
1437       True
1438       True
1440       True
1441       True
1443       True
1444       True
1447       True
1537       True
1560       True
1641       True
1642       True
1643       True
1649       True
1650       True
2742       True
2804       True
2875       True
2877       True
31601      True
31602      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
12257   000279  2017-03-16      000279  FMT_PA_0710  2017-01-02  2017-02-28
12728   000279  2017-03-16      000279  FMT_PA_0900  2017-01-02  2017-02-27
12729   000279  2017-03-16      000279  FMT_PA_0910  2017-01-02  2017-02-27
12901   000279  2017-03-16      000279  FMT_PA_0710  2017-01-02  2017-02-28
12902   000279  2017-03-16      000279  FMT_PA_0710  2017-01-02  2017-02-28
12903   000279  2017-03-16      000279  FMT_PA_0710  2017-01-02  2017-02-28
12912   000279  2017-03-16      000279  FMT_PA_0710  2017-01-02  2017-02-28
12913   000279  2017-03-16      000279  ODS_PA_0490  2017-01-26  2017-01-26
12916   000279  2017-03-16      000279  FMT_PA_0710  2017-01-02  2017-02-28
12948   000279  2017-03-16      000279  FMT_PA_0710  2017-01-02  2017-02-28
12949   000279  2017-03-16      000279  ODS_PA_0490  2017-02-07  2017-02-07
13196   000279  2017-03-16      000279  FMT_PA_0710  2017-01-02  2017-03-27

      is_period
12257      True
12728      True
12729      True
12901      True
12902      True
12903      True
12912      True
12913      True
12916      True
12948      True
12949      True
13196      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
5811   000279  2017-02-09      000279  ODS_PA_0630_P  2016-12-31  2016-12-31
6209   000279  2017-02-09      000279  ODS_PA_0630_P  2016-12-31  2016-12-31
6325   000279  2017-02-09      000279  ODS_PA_0630_P  2016-12-30  2016-12-30
6327   000279  2017-02-09      000279  ODS_PA_0630_P  2016-12-30  2016-12-30
6328   000279  2017-02-09      000279  ODS_PA_0630_P  2016-12-30  2016-12-30
6337   000279  2017-02-09      000279  ODS_PA_0630_P  2017-01-31  2017-01-31
6340   000279  2017-02-09      000279    FMT_PA_0961  0106-02-01  2017-01-31
6342   000279  2017-02-09      000279    FMT_PA_0961  2017-01-31  2017-01-31
7057   000279  2017-02-09      000279  ODS_PA_0630_P  2016-12-30  2016-12-30
7058   000279  2017-02-09      000279  ODS_PA_0630_P  2016-12-30  2016-12-30
7059   000279  2017-02-09      000279    FMT_PA_0961  2017-01-31  2017-01-31
7396   000279  2017-02-09      000279  ODS_PA_0630_P  2016-12-31  2016-12-31

     is_period
5811      True
6209      True
6325      True
6327      True
6328      True
6337      True
6340      True
6342      True
7057      True
7058      True
7059      True
7396      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
10567   000279  2017-04-12      000279  FMT_PA_0710         NaN  9999-12-31
11332   000279  2017-04-12      000279  FMT_PA_0710         NaN  9999-12-31
14399   000279  2017-04-12      000279  FMT_PA_0710         NaN  9999-12-31
14401   000279  2017-04-12      000279  FMT_PA_0710  2017-04-05  2017-04-05
14403   000279  2017-04-12      000279  FMT_PA_0710         NaN  9999-12-31
26666   000279  2017-04-12      000279  FMT_PA_0710  2017-02-02  2017-04-30
26667   000279  2017-04-12      000279  FMT_PA_0710  2017-02-02  2017-04-30
26827   000279  2017-04-12      000279  FMT_PA_0710  2017-02-02  2017-04-30
27669   000279  2017-04-12      000279  FMT_PA_0710         NaN  9999-12-31
27670   000279  2017-04-12      000279  FMT_PA_0710         NaN  9999-12-31
27671   000279  2017-04-12      000279  FMT_PA_0710  2017-02-27  2017-04-30

      is_period
10567      True
11332      True
14399      True
14401      True
14403      True
26666      True
26667      True
26827      True
27669      True
27670      True
27671      True
QQ

      username  query_date report_name          doc  start_date    end_date  \
4671    000279  2017-03-08      000279  ODS_PA_0450  2017-01-13  2017-01-13
4700    000279  2017-03-08      000279  ODS_PA_0460  2017-01-13  2017-01-13
4701    000279  2017-03-08      000279  ODS_PA_0490  2017-01-13  2017-01-13
4703    000279  2017-03-08      000279  ODS_PA_0490  2017-01-03  2017-01-03
4704    000279  2017-03-08      000279  ODS_PA_0490  2017-01-03  2017-01-03
4705    000279  2017-03-08      000279  ODS_PA_0460  2017-01-13  2017-01-13
9766    000279  2017-03-08      000279  ODS_PA_0490  2017-01-03  2017-01-03
10104   000279  2017-03-08      000279  ODS_PA_0460  2017-01-13  2017-01-13

      is_period
4671       True
4700       True
4701       True
4703       True
4704       True
4705       True
9766       True
10104      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
7410   000279  2017-03-02      000279  ODS_PA_0701_P  2017-01-02  2017-01-10
7520   000279  2017-03-02      000279  ODS_PA_0701_P  2017-01-03  2017-01-10
7577   000279  2017-03-02      000279  ODS_PA_0701_P  2017-01-02  2017-01-10
7579   000279  2017-03-02      000279  ODS_PA_0701_P  2017-01-02  2017-01-10
7581   000279  2017-03-02      000279  ODS_PA_0701_P  2017-01-03  2017-01-10
8075   000279  2017-03-02      000279  ODS_PA_0701_P  2017-01-03  2017-01-10
8225   000279  2017-03-02      000279  ODS_PA_0701_P  2017-01-03  2017-01-10

     is_period
7410      True
7520      True
7577      True
7579      True
7581      True
8075      True
8225      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
29475   000279  2017-04-17      000279  FMT_PA_0900  2017-04-05  2017-05-31
29544   000279  2017-04-17      000279  FMT_PA_1020         NaN  9999-12-31
29738   000279  2017-04-17      000279  FMT_PA_1020  2016-05-30  2016-05-30
30189   000279  2017-04-17      000279  FMT_PA_1020         NaN  9999-12-31
30239   000279  2017-04-17      000279  FMT_PA_0710  2017-04-30  2017-04-30
30240   000279  2017-04-17      000279  FMT_PA_0710  2017-04-05  2017-04-30

      is_period
29475      True
29544      True
29738      True
30189      True
30239      True
30240      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
15082   000279  2017-03-23      000279  FMT_PA_0900  2017-02-01  2017-02-27
15083   000279  2017-03-23      000279  FMT_PA_0910  2017-02-01  2017-02-27
15084   000279  2017-03-23      000279  FMT_PA_0910  2017-02-01  2017-02-27
15130   000279  2017-03-23      000279  FMT_PA_0900  2017-02-01  2017-03-01
15634   000279  2017-03-23      000279  FMT_PA_0900  2017-01-01  2017-03-01

      is_period
15082      True
15083      True
15084      True
15130      True
15634      True
QQ
      username  query_date report_name         doc  start_date    end_date  \
18201   000279  2017-03-29      000279  LS_PA_0180         NaN  9999-12-31
19062   000279  2017-03-29      000279  LS_PA_0180         NaN  9999-12-31
19560   000279  2017-03-29      000279  LS_PA_0180         NaN  9999-12-31
21224   000279  2017-03-29      000279  LS_PA_0160  2017-03-31  2017-03-31
21267   000279  2017-03-29      000279  LS_PA_0180         NaN  9999-12-31

      is_period
18201      True
19062      True
19560      True
21224      True
21267      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
21625   000279  2017-04-05      000279  FMT_PA_0900  2017-01-01  2017-04-05
21626   000279  2017-04-05      000279  FMT_PA_0910  2017-01-01  2017-04-05
21675   000279  2017-04-05      000279  FMT_PA_0900  2017-01-01  2017-04-05
24569   000279  2017-04-05      000279  FMT_PA_0900  2017-01-01  2017-04-05

      is_period
21625      True
21626      True
21675      True
24569      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
12250   000279  2017-03-17      000279  FMT_PA_0710  2017-01-26  2017-02-27
12251   000279  2017-03-17      000279  FMT_PA_0860  2017-01-26  2017-02-27
13129   000279  2017-03-17      000279  FMT_PA_0710  2017-01-26  2017-02-27

      is_period
12250      True
12251      True
13129      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
28958   000279  2017-04-14      000279  FMT_PA_0910  2017-02-07  2017-02-07
29524   000279  2017-04-14      000279  FMT_PA_1020         NaN  9999-12-31
29525   000279  2017-04-14      000279  FMT_PA_1020         NaN  9999-12-31

      is_period
28958      True
29524      True
29525      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
7958   000279  2017-03-04      000279  ODS_PA_0490  2017-01-03  2017-01-03
7959   000279  2017-03-04      000279  ODS_PA_0490  2017-01-10  2017-01-10
7960   000279  2017-03-04      000279  ODS_PA_0460  2017-01-10  2017-01-10

     is_period
7958      True
7959      True
7960      True
QQ
      username  query_date report_name         doc start_date    end_date  \
17834   000279  2017-03-31      000279  LS_PA_0180        NaN  9999-12-31
17971   000279  2017-03-31      000279  LS_PA_0180        NaN  9999-12-31

      is_period
17834      True
17971      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
13621   000279  2017-03-20      000279  ODS_PA_0490  2017-02-27  2017-02-27
13628   000279  2017-03-20      000279  ODS_PA_0460  2017-02-27  2017-02-27

      is_period
13621      True
13628      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
2516   000279  2017-02-16      000279  ODS_PA_0631_P  2017-01-02  2017-01-03
2517   000279  2017-02-16      000279  ODS_PA_0631_P  2016-12-31  2017-01-03

     is_period
2516      True
2517      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
7438   000279  2017-03-06      000279  ODS_PA_0490  2017-01-13  2017-01-13
7439   000279  2017-03-06      000279  ODS_PA_0460  2017-01-13  2017-01-13

     is_period
7438      True
7439      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
30253   000279  2017-04-15      000279  FMT_PA_1020  2017-04-05  2017-04-30
30254   000279  2017-04-15      000279  FMT_PA_1020  2017-04-05  2017-04-30

      is_period
30253      True
30254      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
11379   000279  2017-03-13      000279  ODS_PA_0460  2017-01-26  2017-01-26
11380   000279  2017-03-13      000279  ODS_PA_0490  2017-01-26  2017-01-26

      is_period
11379      True
11380      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
11857   000279  2017-03-15      000279  FMT_PA_0900  2017-02-01  2017-03-15
11858   000279  2017-03-15      000279  FMT_PA_0910  2017-02-01  2017-03-15

      is_period
11857      True
11858      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
30210   000279  2017-04-13      000279  FMT_PA_0710  2017-04-05  2017-04-05

      is_period
30210      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
4253   000279  2017-02-24      000279  ODS_PA_0631_P  2017-01-03  2017-01-03

     is_period
4253      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
25975   000279  2017-04-07      000279  FMT_PA_0910  2017-01-01  2017-04-05

      is_period
25975      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
5042   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
5045   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
5046   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
5047   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
5048   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
5049   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
5064   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
5065   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
5066   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
5067   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
5068   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
5413   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
5468   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
7610   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9130   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9131   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9132   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9133   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9134   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9135   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9149   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9150   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9151   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9152   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9153   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9154   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9155   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9156   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9157   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9158   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9159   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9160   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9200   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9201   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9202   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9203   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9204   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9205   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9206   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9207   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9208   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9209   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9437   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9608   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9610   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9646   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9648   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02
9649   user11  2017-03-10      user11  FMT_POS_0160  2017-02-02  2017-02-02

     is_period
5042      True
5045      True
5046      True
5047      True
5048      True
5049      True
5064      True
5065      True
5066      True
5067      True
5068      True
5413      True
5468      True
7610      True
9130      True
9131      True
9132      True
9133      True
9134      True
9135      True
9149      True
9150      True
9151      True
9152      True
9153      True
9154      True
9155      True
9156      True
9157      True
9158      True
9159      True
9160      True
9200      True
9201      True
9202      True
9203      True
9204      True
9205      True
9206      True
9207      True
9208      True
9209      True
9437      True
9608      True
9610      True
9646      True
9648      True
9649      True
QQ

      username  query_date report_name           doc  start_date    end_date  \
12671   user11  2017-03-18      user11  FMT_POS_0160  2017-02-07  2017-02-07
12672   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
12673   user11  2017-03-18      user11  FMT_POS_0160  2017-02-07  2017-02-07
13461   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13462   user11  2017-03-18      user11  FMT_POS_0160  2017-02-07  2017-02-07
13463   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13464   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13465   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13466   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13467   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13468   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13469   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13470   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13471   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13472   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13473   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13474   user11  2017-03-18      user11  FMT_POS_0160  2017-02-07  2017-02-07
13475   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13476   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13477   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13478   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13479   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13499   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13500   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13501   user11  2017-03-18      user11  FMT_POS_0160  2017-02-07  2017-02-07
13502   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13503   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13504   user11  2017-03-18      user11  FMT_POS_0160  2017-02-07  2017-02-07
13505   user11  2017-03-18      user11  FMT_POS_0160  2017-02-07  2017-02-07
13507   user11  2017-03-18      user11  FMT_POS_0160  2017-02-07  2017-02-07
13508   user11  2017-03-18      user11  FMT_POS_0160  2017-02-07  2017-02-07
13509   user11  2017-03-18      user11  FMT_POS_0160  2017-02-07  2017-02-07
13510   user11  2017-03-18      user11  FMT_POS_0160  2017-02-07  2017-02-07
13511   user11  2017-03-18      user11  FMT_POS_0160  2017-02-07  2017-02-07
13512   user11  2017-03-18      user11  FMT_POS_0160  2017-02-07  2017-02-07
13517   user11  2017-03-18      user11  FMT_POS_0160  2017-02-07  2017-02-07
13518   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13522   user11  2017-03-18      user11  FMT_POS_0160  2017-02-27  2017-02-27
13523   user11  2017-03-18      user11  FMT_POS_0160  2017-02-07  2017-02-07
13525   user11  2017-03-18      user11  FMT_POS_0470  2017-02-07  2017-02-07
13526   user11  2017-03-18      user11  FMT_POS_0470  2017-02-07  2017-02-07

      is_period
12671      True
12672      True
12673      True
13461      True
13462      True
13463      True
13464      True
13465      True
13466      True
13467      True
13468      True
13469      True
13470      True
13471      True
13472      True
13473      True
13474      True
13475      True
13476      True
13477      True
13478      True
13479      True
13499      True
13500      True
13501      True
13502      True
13503      True
13504      True
13505      True
13507      True
13508      True
13509      True
13510      True
13511      True
13512      True
13517      True
13518      True
13522      True
13523      True
13525      True
13526      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
12923   user11  2017-03-16      user11  ODS_POS_1660  2017-02-07  2017-02-07
12924   user11  2017-03-16      user11  ODS_POS_1660  2017-02-02  2017-02-02
12925   user11  2017-03-16      user11  ODS_POS_1660  2017-01-31  2017-01-31
12945   user11  2017-03-16      user11  ODS_POS_1660  2017-02-07  2017-02-07
13017   user11  2017-03-16      user11  ODS_POS_1660  2017-01-26  2017-01-26
13018   user11  2017-03-16      user11  ODS_POS_1660  2017-01-13  2017-01-13
13019   user11  2017-03-16      user11  ODS_POS_1660  2017-01-10  2017-01-10
13020   user11  2017-03-16      user11  ODS_POS_1660  2017-01-03  2017-01-03
13200   user11  2017-03-16      user11  ODS_POS_1320         NaN  9999-12-31

      is_period
12923      True
12924      True
12925      True
12945      True
13017      True
13018      True
13019      True
13020      True
13200      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
11199   user11  2017-03-14      user11  FMT_POS_0160  2017-02-07  2017-02-07
11434   user11  2017-03-14      user11  FMT_POS_0160  2017-02-07  2017-02-07
11491   user11  2017-03-14      user11  FMT_POS_0160  2017-02-07  2017-02-07
11492   user11  2017-03-14      user11  FMT_POS_0160  2017-02-07  2017-02-07
11493   user11  2017-03-14      user11  FMT_POS_0160  2017-02-07  2017-02-07
11494   user11  2017-03-14      user11  FMT_POS_0160  2017-02-07  2017-02-07
11495   user11  2017-03-14      user11  FMT_POS_0160  2017-02-07  2017-02-07

      is_period
11199      True
11434      True
11491      True
11492      True
11493      True
11494      True
11495      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4433   user11  2017-03-01      user11  FMT_POS_0250  2017-01-01  2017-03-01
4437   user11  2017-03-01      user11  FMT_POS_0250  2017-01-01  2017-03-01
4438   user11  2017-03-01      user11  FMT_POS_0250  2017-01-01  2017-03-01
4439   user11  2017-03-01      user11  FMT_POS_0250  2017-01-01  2017-03-01
7430   user11  2017-03-01      user11  FMT_POS_0250  2017-01-01  2017-03-01
7675   user11  2017-03-01      user11  FMT_POS_0250  2017-01-01  2017-03-01

     is_period
4433      True
4437      True
4438      True
4439      True
7430      True
7675      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
14646   user11  2017-03-22      user11  FMT_PA_0851  2017-02-27  2017-02-27
14647   user11  2017-03-22      user11  FMT_PA_0851  2017-02-26  2017-02-26
14648   user11  2017-03-22      user11  FMT_PA_0851  2017-03-19  2017-03-19

      is_period
14646      True
14647      True
14648      True
QQ
      username  query_date report_name           doc start_date    end_date  \
14346   user11  2017-03-20      user11  ODS_POS_0990        NaN  9999-12-31
14347   user11  2017-03-20      user11  ODS_POS_0990        NaN  9999-12-31

      is_period
14346      True
14347      True
QQ
     username  query_date report_name           doc start_date    end_date  \
7508   user11  2017-03-06      user11  FMT_POS_0190        NaN  9999-12-31

     is_period
7508      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
8393   user11  2017-03-02      user11  ODS_POS_1660  2017-01-10  2017-01-10

     is_period
8393      True
QQ
      username  query_date report_name            doc start_date    end_date  \
10559    jesse  2017-04-12       jesse  ODS_PA_0560_P        NaN  9999-12-31
14405    jesse  2017-04-12       jesse  ODS_PA_0560_P        NaN  9999-12-31
26665    jesse  2017-04-12       jesse    ODS_PA_0390        NaN  9999-12-31
26722    jesse  2017-04-12       jesse  ODS_PA_0590_P        NaN  9999-12-31
26730    jesse  2017-04-12       jesse  ODS_PA_0590_P        NaN  9999-12-31
26731    jesse  2017-04-12       jesse  ODS_PA_0590_P        NaN  9999-12-31
26761    jesse  2017-04-12       jesse  ODS_PA_0590_P        NaN  9999-12-31
26828    jesse  2017-04-12       jesse  ODS_PA_0590_P        NaN  9999-12-31
26829    jesse  2017-04-12       jesse  ODS_PA_0590_P        NaN  9999-12-31
26830    jesse  2017-04-12       jesse  ODS_PA_0590_P        NaN  9999-12-31
26870    jesse  2017-04-12       jesse  ODS_PA_0590_P        NaN  9999-12-31
26872    jesse  2017-04-12       jesse  ODS_PA_0590_P        NaN  9999-12-31
26874    jesse  2017-04-12       jesse  ODS_PA_0590_P        NaN  9999-12-31
27409    jesse  2017-04-12       jesse  ODS_PA_0560_P        NaN  9999-12-31
27410    jesse  2017-04-12       jesse  ODS_PA_0560_P        NaN  9999-12-31

      is_period
10559      True
14405      True
26665      True
26722      True
26730      True
26731      True
26761      True
26828      True
26829      True
26830      True
26870      True
26872      True
26874      True
27409      True
27410      True
QQ
      username  query_date report_name            doc start_date    end_date  \
28119    jesse  2017-04-14       jesse    ODS_PA_0391        NaN  9999-12-31
28120    jesse  2017-04-14       jesse    ODS_PA_0390        NaN  9999-12-31
28147    jesse  2017-04-14       jesse    ODS_PA_0390        NaN  9999-12-31
29030    jesse  2017-04-14       jesse  ODS_PA_0351_P        NaN  9999-12-31
29124    jesse  2017-04-14       jesse    ODS_PA_0390        NaN  9999-12-31
29125    jesse  2017-04-14       jesse    ODS_PA_0391        NaN  9999-12-31
29152    jesse  2017-04-14       jesse    ODS_PA_0391        NaN  9999-12-31
29153    jesse  2017-04-14       jesse    ODS_PA_0390        NaN  9999-12-31
29160    jesse  2017-04-14       jesse    ODS_PA_0391        NaN  9999-12-31
29609    jesse  2017-04-14       jesse    ODS_PA_0391        NaN  9999-12-31
29610    jesse  2017-04-14       jesse    ODS_PA_0391        NaN  9999-12-31
29930    jesse  2017-04-14       jesse    ODS_PA_0391        NaN  9999-12-31
29957    jesse  2017-04-14       jesse    ODS_PA_0390        NaN  9999-12-31

      is_period
28119      True
28120      True
28147      True
29030      True
29124      True
29125      True
29152      True
29153      True
29160      True
29609      True
29610      True
29930      True
29957      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
2740    jesse  2017-02-20       jesse  ODS_PA_0611_P  2018-01-02  2018-01-02
2741    jesse  2017-02-20       jesse  ODS_PA_0611_P  2017-01-02  2017-01-02
2751    jesse  2017-02-20       jesse  ODS_PA_0611_P  2017-01-02  2017-01-02
2753    jesse  2017-02-20       jesse  ODS_PA_0610_P  2016-08-15  2016-08-15
2754    jesse  2017-02-20       jesse  ODS_PA_0610_P  2016-08-15  2016-08-15
3657    jesse  2017-02-20       jesse  ODS_PA_0551_P  2016-09-01  2016-09-01
3660    jesse  2017-02-20       jesse  ODS_PA_0550_P  2016-09-01  2016-09-01
3843    jesse  2017-02-20       jesse  ODS_PA_0650_P  2016-11-30  2016-11-30
3844    jesse  2017-02-20       jesse  ODS_PA_0651_P  2016-11-30  2016-11-30
6747    jesse  2017-02-20       jesse  ODS_PA_0590_P  2016-08-15  2016-08-15
6748    jesse  2017-02-20       jesse  ODS_PA_0590_P  2016-08-15  2016-08-15

     is_period
2740      True
2741      True
2751      True
2753      True
2754      True
3657      True
3660      True
3843      True
3844      True
6747      True
6748      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
11855    jesse  2017-03-15       jesse  ODS_PA_0430  2017-01-03  2017-01-03
11981    jesse  2017-03-15       jesse  ODS_PA_0440  2017-01-03  2017-01-03
12024    jesse  2017-03-15       jesse  ODS_PA_0450  2017-01-16  2017-01-16
12059    jesse  2017-03-15       jesse  ODS_PA_0450  2017-01-10  2017-01-10
12086    jesse  2017-03-15       jesse  ODS_PA_0450  2017-01-26  2017-01-26
12087    jesse  2017-03-15       jesse  ODS_PA_0450  2017-02-02  2017-02-02
12088    jesse  2017-03-15       jesse  ODS_PA_0450  2017-02-02  2017-02-02
12090    jesse  2017-03-15       jesse  ODS_PA_0450  2017-01-26  2017-01-26
12125    jesse  2017-03-15       jesse  ODS_PA_0440  2017-01-03  2017-01-03

      is_period
11855      True
11981      True
12024      True
12059      True
12086      True
12087      True
12088      True
12090      True
12125      True
QQ
     username  query_date report_name             doc  start_date    end_date  \
170     jesse  2017-02-08       jesse    ODS_CLM_0360  2016-11-30  2016-11-30
4917    jesse  2017-02-08       jesse    ODS_CLM_0440         NaN  9999-12-31
4918    jesse  2017-02-08       jesse  ODS_CLM_0440_T         NaN  9999-12-31
4937    jesse  2017-02-08       jesse  ODS_CLM_0440_T         NaN  9999-12-31
5702    jesse  2017-02-08       jesse  ODS_CLM_0440_T         NaN  9999-12-31
5712    jesse  2017-02-08       jesse  ODS_CLM_0440_T         NaN  9999-12-31
5713    jesse  2017-02-08       jesse  ODS_CLM_0440_T         NaN  9999-12-31
5714    jesse  2017-02-08       jesse  ODS_CLM_0440_T         NaN  9999-12-31
5715    jesse  2017-02-08       jesse    ODS_CLM_0440         NaN  9999-12-31

     is_period
170       True
4917      True
4918      True
4937      True
5702      True
5712      True
5713      True
5714      True
5715      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
22843    jesse  2017-04-10       jesse  ODS_PA_0361_P  2017-03-01  2017-03-31
24287    jesse  2017-04-10       jesse  ODS_PA_0361_P  2017-03-01  2017-03-01
26226    jesse  2017-04-10       jesse  ODS_PA_0361_P  2017-03-01  2017-03-31
26281    jesse  2017-04-10       jesse  ODS_PA_0631_P  2017-03-01  2017-03-31
26976    jesse  2017-04-10       jesse  ODS_PA_0631_P  2017-03-01  2017-03-31
28195    jesse  2017-04-10       jesse  ODS_PA_0361_P  2017-03-01  2017-03-31
28777    jesse  2017-04-10       jesse  ODS_PA_0631_P  2017-03-01  2017-03-31

      is_period
22843      True
24287      True
26226      True
26281      True
26976      True
28195      True
28777      True
QQ

      username  query_date report_name          doc  start_date    end_date  \
27969    jesse  2017-04-13       jesse  ODS_PA_0480  2017-04-05  2017-04-05
27971    jesse  2017-04-13       jesse  ODS_PA_0480  2017-04-05  2017-04-05
28405    jesse  2017-04-13       jesse  ODS_PA_0430  2017-03-31  2017-03-31
29614    jesse  2017-04-13       jesse  ODS_PA_0430  2017-03-31  2017-03-31
29797    jesse  2017-04-13       jesse  ODS_PA_0430  2017-04-05  2017-04-05
30259    jesse  2017-04-13       jesse  ODS_PA_0430  2017-04-05  2017-04-05
30264    jesse  2017-04-13       jesse  ODS_PA_0430  2017-03-01  2017-03-01

      is_period
27969      True
27971      True
28405      True
29614      True
29797      True
30259      True
30264      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
12980    jesse  2017-03-16       jesse  ODS_PA_0430  2017-02-02  2017-02-02
13180    jesse  2017-03-16       jesse  ODS_PA_0580  2017-01-02  2017-01-02
13188    jesse  2017-03-16       jesse  ODS_PA_0580  2016-09-01  2016-09-01
13219    jesse  2017-03-16       jesse  ODS_PA_0580  2016-09-01  2016-09-01
13359    jesse  2017-03-16       jesse  ODS_PA_0430  2017-02-02  2017-02-02
13388    jesse  2017-03-16       jesse  ODS_PA_0430  2017-02-02  2017-02-02

      is_period
12980      True
13180      True
13188      True
13219      True
13359      True
13388      True
QQ
      username  query_date report_name            doc start_date    end_date  \
30474    jesse  2017-04-20       jesse  ODS_PA_0631_P        NaN  9999-12-31
31426    jesse  2017-04-20       jesse  ODS_PA_0631_P        NaN  9999-12-31
31430    jesse  2017-04-20       jesse  ODS_PA_0631_P        NaN  9999-12-31
31972    jesse  2017-04-20       jesse  ODS_PA_0631_P        NaN  9999-12-31
31973    jesse  2017-04-20       jesse  ODS_PA_0631_P        NaN  9999-12-31

      is_period
30474      True
31426      True
31430      True
31972      True
31973      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
6323    jesse  2017-02-09       jesse  ODS_PA_0521_P  2016-12-30  2016-12-30
6341    jesse  2017-02-09       jesse  ODS_PA_0521_P  2017-01-31  2017-01-31
7062    jesse  2017-02-09       jesse  ODS_PA_0521_P  2017-01-31  2017-01-31
7064    jesse  2017-02-09       jesse  ODS_PA_0521_P  2017-01-31  2017-01-31
7081    jesse  2017-02-09       jesse  ODS_PA_0501_P  2016-11-30  2016-11-30

     is_period
6323      True
6341      True
7062      True
7064      True
7081      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
12310    jesse  2017-03-17       jesse   ODS_CLM_0370  2017-02-02  2017-02-02
12312    jesse  2017-03-17       jesse   ODS_CLM_0350  2017-02-02  2017-02-02
12658    jesse  2017-03-17       jesse  ODS_PA_0551_P  2017-02-02  2017-02-02
13141    jesse  2017-03-17       jesse   ODS_CLM_0350  2017-02-02  2017-02-02
13142    jesse  2017-03-17       jesse   ODS_CLM_0350  2017-01-31  2017-01-31

      is_period
12310      True
12312      True
12658      True
13141      True
13142      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
21513    jesse  2017-04-06       jesse  ODS_PA_0430  2017-03-01  2017-03-01
22403    jesse  2017-04-06       jesse  ODS_PA_0460  2017-02-07  2017-02-07
22413    jesse  2017-04-06       jesse  ODS_PA_0450  2017-03-01  2017-03-01
22909    jesse  2017-04-06       jesse  ODS_PA_0430  2017-03-01  2017-03-01

      is_period
21513      True
22403      True
22413      True
22909      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
1157    jesse  2017-02-14       jesse  ODS_PA_0651_P  2016-09-01  2020-01-01
1178    jesse  2017-02-14       jesse  ODS_PA_0651_P  2016-09-01  2020-01-01
1227    jesse  2017-02-14       jesse  ODS_PA_0641_P  2016-01-01  2018-01-01

     is_period
1157      True
1178      True
1227      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
15006    jesse  2017-03-24       jesse  ODS_CLM_0350  2017-02-01  2017-02-01
15007    jesse  2017-03-24       jesse  ODS_CLM_0350  2017-02-14  2017-02-14
15118    jesse  2017-03-24       jesse  ODS_CLM_0350  2017-02-28  2017-02-28

      is_period
15006      True
15007      True
15118      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
29514    jesse  2017-04-17       jesse  ODS_PA_0270  2017-04-30  2017-04-30
30058    jesse  2017-04-17       jesse  ODS_PA_0390         NaN  9999-12-31

      is_period
29514      True
30058      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14573    jesse  2017-03-21       jesse  ODS_CLM_0430  2017-02-28  2017-02-28
14574    jesse  2017-03-21       jesse  ODS_CLM_0440         NaN  9999-12-31

      is_period
14573      True
14574      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
25916    jesse  2017-04-07       jesse  ODS_PA_0470_P  2017-03-31  2017-03-31

      is_period
25916      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
17014    jesse  2017-03-22       jesse  ODS_PA_0580  2016-09-01  2016-09-01

      is_period
17014      True
QQ
      username  query_date report_name          doc start_date    end_date  \
17136    jesse  2017-03-23       jesse  ODS_PA_0381        NaN  9999-12-31

      is_period
17136      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
20088    jesse  2017-03-30       jesse  ODS_PA_0270  2017-03-01  2017-03-01

      is_period
20088      True
QQ
     username  query_date report_name          doc start_date    end_date  \
2977    jesse  2017-02-17       jesse  ODS_PA_0390        NaN  9999-12-31

     is_period
2977      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
13612    user8  2017-03-20       user8  ODS_UNB_0570         NaN  9999-12-31
13827    user8  2017-03-20       user8  ODS_UNB_0220  2017-01-26  2017-01-26
13828    user8  2017-03-20       user8  ODS_UNB_0220  2017-01-31  2017-01-31
13829    user8  2017-03-20       user8  ODS_UNB_0220  2017-02-02  2017-02-02
13830    user8  2017-03-20       user8  ODS_UNB_0220  2017-02-03  2017-02-03
13831    user8  2017-03-20       user8  ODS_UNB_0220  2017-02-07  2017-02-07
13833    user8  2017-03-20       user8  ODS_UNB_0220  2017-02-27  2017-02-27
13834    user8  2017-03-20       user8  ODS_UNB_0220  2017-03-01  2017-03-01
13835    user8  2017-03-20       user8  ODS_UNB_0220  2017-01-03  2017-01-03
13836    user8  2017-03-20       user8  ODS_UNB_0220  2017-01-10  2017-01-10
13837    user8  2017-03-20       user8  ODS_UNB_0220  2017-01-13  2017-01-13
13838    user8  2017-03-20       user8  ODS_UNB_0220  2017-01-26  2017-01-26
13970    user8  2017-03-20       user8  ODS_UNB_0550  2017-01-10  2017-01-10
14073    user8  2017-03-20       user8  ODS_UNB_0510         NaN  9999-12-31
14074    user8  2017-03-20       user8  ODS_UNB_0510         NaN  9999-12-31
14075    user8  2017-03-20       user8  ODS_UNB_0510         NaN  9999-12-31
14076    user8  2017-03-20       user8  ODS_UNB_0510         NaN  9999-12-31
14274    user8  2017-03-20       user8  ODS_UNB_0020         NaN  9999-12-31
14325    user8  2017-03-20       user8  ODS_UNB_0410         NaN  9999-12-31
14331    user8  2017-03-20       user8  ODS_UNB_0220  2017-01-10  2017-01-10
14332    user8  2017-03-20       user8  ODS_UNB_0220  2017-01-13  2017-01-13
14340    user8  2017-03-20       user8  ODS_UNB_0550  2017-01-03  2017-01-03
14344    user8  2017-03-20       user8  ODS_UNB_0550  2017-01-10  2017-01-10

      is_period
13612      True
13827      True
13828      True
13829      True
13830      True
13831      True
13833      True
13834      True
13835      True
13836      True
13837      True
13838      True
13970      True
14073      True
14074      True
14075      True
14076      True
14274      True
14325      True
14331      True
14332      True
14340      True
14344      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
28984    user8  2017-04-17       user8   FMT_PA_0780         NaN  9999-12-31
29031    user8  2017-04-17       user8  FMT_UNB_0362         NaN  9999-12-31
29032    user8  2017-04-17       user8   LS_INV_0010         NaN  9999-12-31
29137    user8  2017-04-17       user8   FMT_PA_0890         NaN  9999-12-31
29366    user8  2017-04-17       user8  FMT_POS_0310         NaN  9999-12-31
29369    user8  2017-04-17       user8   FMT_PA_0854         NaN  9999-12-31
29370    user8  2017-04-17       user8   FMT_PA_0855         NaN  9999-12-31
29405    user8  2017-04-17       user8  FMT_POS_1670  2017-01-01  2017-04-30
29546    user8  2017-04-17       user8  FMT_POS_7210         NaN  9999-12-31
29548    user8  2017-04-17       user8  FMT_UNB_0372         NaN  9999-12-31
29549    user8  2017-04-17       user8   LS_INV_0020         NaN  9999-12-31
29552    user8  2017-04-17       user8   LS_INV_0030         NaN  9999-12-31
29555    user8  2017-04-17       user8   FMT_PA_0810         NaN  9999-12-31
29619    user8  2017-04-17       user8   FMT_PA_0970         NaN  9999-12-31
29739    user8  2017-04-17       user8   FMT_PA_0980         NaN  9999-12-31
29741    user8  2017-04-17       user8  FMT_POS_1571         NaN  9999-12-31
29742    user8  2017-04-17       user8  FMT_POS_1571         NaN  9999-12-31
29744    user8  2017-04-17       user8  FMT_POS_1670  2017-01-01  2017-04-30
29745    user8  2017-04-17       user8  FMT_UNB_0092         NaN  9999-12-31
29788    user8  2017-04-17       user8   LS_INV_0010         NaN  9999-12-31
30175    user8  2017-04-17       user8   FMT_PA_0800         NaN  9999-12-31
30176    user8  2017-04-17       user8   FMT_PA_0820         NaN  9999-12-31
30177    user8  2017-04-17       user8   FMT_PA_0830         NaN  9999-12-31

      is_period
28984      True
29031      True
29032      True
29137      True
29366      True
29369      True
29370      True
29405      True
29546      True
29548      True
29549      True
29552      True
29555      True
29619      True
29739      True
29741      True
29742      True
29744      True
29745      True
29788      True
30175      True
30176      True
30177      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
12850    user8  2017-03-16       user8  ODS_POS_1330  2017-02-07  2017-02-07
12896    user8  2017-03-16       user8  ODS_UNB_0750  2016-02-02  2016-02-02
12897    user8  2017-03-16       user8  ODS_UNB_0750  2016-01-03  2016-01-03
12898    user8  2017-03-16       user8  ODS_UNB_0750  2017-01-03  2017-01-03
12909    user8  2017-03-16       user8  ODS_UNB_0750  2017-01-03  2017-01-03
12910    user8  2017-03-16       user8  ODS_UNB_0221  2017-01-10  2017-01-10
12935    user8  2017-03-16       user8  ODS_UNB_0480  2017-01-10  2017-01-10
13033    user8  2017-03-16       user8  ODS_POS_1320         NaN  9999-12-31
13080    user8  2017-03-16       user8  ODS_POS_1330  2017-01-26  2017-01-26
13210    user8  2017-03-16       user8  ODS_POS_1330  2017-02-02  2017-02-02

      is_period
12850      True
12896      True
12897      True
12898      True
12909      True
12910      True
12935      True
13033      True
13080      True
13210      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4493    user8  2017-03-07       user8  ODS_UNB_0230        NaN  9999-12-31
4494    user8  2017-03-07       user8  ODS_UNB_0230        NaN  9999-12-31
4499    user8  2017-03-07       user8  ODS_UNB_0230        NaN  9999-12-31
4621    user8  2017-03-07       user8  ODS_UNB_0510        NaN  9999-12-31
4655    user8  2017-03-07       user8  ODS_UNB_0230        NaN  9999-12-31
4656    user8  2017-03-07       user8  ODS_UNB_0230        NaN  9999-12-31
4685    user8  2017-03-07       user8  ODS_UNB_0230        NaN  9999-12-31
4686    user8  2017-03-07       user8  ODS_UNB_0230        NaN  9999-12-31
4689    user8  2017-03-07       user8  ODS_UNB_0230        NaN  9999-12-31
5288    user8  2017-03-07       user8  ODS_UNB_0230        NaN  9999-12-31

     is_period
4493      True
4494      True
4499      True
4621      True
4655      True
4656      True
4685      True
4686      True
4689      True
5288      True
QQ
      username  query_date report_name           doc start_date    end_date  \
11963    user8  2017-03-15       user8  ODS_UNB_0430        NaN  9999-12-31
11964    user8  2017-03-15       user8  ODS_UNB_0430        NaN  9999-12-31
11965    user8  2017-03-15       user8  ODS_UNB_0430        NaN  9999-12-31
12062    user8  2017-03-15       user8  ODS_UNB_0430        NaN  9999-12-31
12081    user8  2017-03-15       user8  ODS_UNB_0430        NaN  9999-12-31
12082    user8  2017-03-15       user8  ODS_UNB_0430        NaN  9999-12-31
12093    user8  2017-03-15       user8  ODS_UNB_0430        NaN  9999-12-31
12094    user8  2017-03-15       user8  ODS_UNB_0430        NaN  9999-12-31
12111    user8  2017-03-15       user8  ODS_UNB_0430        NaN  9999-12-31

      is_period
11963      True
11964      True
11965      True
12062      True
12081      True
12082      True
12093      True
12094      True
12111      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
16389    user8  2017-03-23       user8  ODS_POS_0840         NaN  9999-12-31
16475    user8  2017-03-23       user8  ODS_POS_1660  2017-02-09  2017-02-09
16476    user8  2017-03-23       user8  ODS_POS_1660  2017-02-07  2017-02-07
16494    user8  2017-03-23       user8  ODS_POS_1660  2017-02-27  2017-02-27
16508    user8  2017-03-23       user8  ODS_POS_1660  2017-01-26  2017-01-26
16548    user8  2017-03-23       user8  ODS_POS_1660  2017-02-27  2017-02-27
17250    user8  2017-03-23       user8  ODS_POS_0840         NaN  9999-12-31

      is_period
16389      True
16475      True
16476      True
16494      True
16508      True
16548      True
17250      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
10479    user8  2017-03-11       user8  FMT_UNB_0771  2017-01-26  2017-01-26
10498    user8  2017-03-11       user8  FMT_UNB_0771  2017-01-26  2017-01-26
10506    user8  2017-03-11       user8  ODS_UNB_0460  2017-01-26  2017-01-26
10522    user8  2017-03-11       user8  ODS_UNB_0270  2017-01-26  2017-01-26
10557    user8  2017-03-11       user8  ODS_UNB_0270  2017-01-26  2017-01-26
10558    user8  2017-03-11       user8  ODS_UNB_0270  2017-01-25  2017-01-25

      is_period
10479      True
10498      True
10506      True
10522      True
10557      True
10558      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
11392    user8  2017-03-13       user8  ODS_UNB_0410         NaN  9999-12-31
11465    user8  2017-03-13       user8  ODS_UNB_0231  2017-01-26  2017-01-26
11499    user8  2017-03-13       user8  ODS_UNB_0231  2017-01-27  2017-01-27
11501    user8  2017-03-13       user8  ODS_UNB_0231  2017-01-25  2017-01-25
11502    user8  2017-03-13       user8  ODS_UNB_0231  2017-01-03  2017-01-03
11504    user8  2017-03-13       user8  ODS_UNB_0231  2017-01-27  2017-01-27

      is_period
11392      True
11465      True
11499      True
11501      True
11502      True
11504      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
5231    user8  2017-03-10       user8  ODS_UNB_0640         NaN  9999-12-31
5287    user8  2017-03-10       user8  ODS_UNB_0640         NaN  9999-12-31
7612    user8  2017-03-10       user8  ODS_UNB_0640         NaN  9999-12-31
8507    user8  2017-03-10       user8  ODS_UNB_0460  2017-01-26  2017-01-26

     is_period
5231      True
5287      True
7612      True
8507      True
QQ
     username  query_date report_name           doc start_date    end_date  \
5822    user8  2017-02-08       user8  ODS_POS_1320        NaN  9999-12-31
5823    user8  2017-02-08       user8  ODS_POS_1320        NaN  9999-12-31
5827    user8  2017-02-08       user8  ODS_POS_1320        NaN  9999-12-31

     is_period
5822      True
5823      True
5827      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
21597    user8  2017-04-05       user8  FMT_PA_0710  2017-01-01  2017-05-05
21604    user8  2017-04-05       user8  FMT_PA_0710         NaN  9999-12-31

      is_period
21597      True
21604      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
4813     user8  2017-03-08       user8  ODS_UNB_0220  2017-01-10  2017-01-10
10397    user8  2017-03-08       user8  ODS_UNB_0230         NaN  9999-12-31

      is_period
4813       True
10397      True
QQ
      username  query_date report_name           doc start_date    end_date  \
15419    user8  2017-03-24       user8  FMT_POS_1120        NaN  9999-12-31
16161    user8  2017-03-24       user8  FMT_POS_1120        NaN  9999-12-31

      is_period
15419      True
16161      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
7030    user8  2017-02-15       user8  FMT_POS_0250  2023-12-31  2023-12-31
7034    user8  2017-02-15       user8  FMT_POS_0250  2018-12-31  2018-12-31

     is_period
7030      True
7034      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
29021    user8  2017-04-13       user8  FMT_POS_1571  2017-04-07  2017-04-07

      is_period
29021      True
QQ
      username  query_date report_name           doc start_date    end_date  \
30982    user8  2017-04-18       user8  FMT_POS_0170        NaN  9999-12-31

      is_period
30982      True
QQ
      username  query_date report_name           doc start_date    end_date  \
12364   000718  2017-03-18      000718  ODS_FIN_0460        NaN  9999-12-31
12365   000718  2017-03-18      000718  ODS_FIN_0460        NaN  9999-12-31
12366   000718  2017-03-18      000718  ODS_FIN_0660        NaN  9999-12-31
12441   000718  2017-03-18      000718  ODS_FIN_0670        NaN  9999-12-31
12442   000718  2017-03-18      000718  ODS_FIN_0430        NaN  9999-12-31
12443   000718  2017-03-18      000718  ODS_FIN_0440        NaN  9999-12-31
12447   000718  2017-03-18      000718  ODS_FIN_0720        NaN  9999-12-31
12449   000718  2017-03-18      000718  ODS_FIN_0680        NaN  9999-12-31
12453   000718  2017-03-18      000718  ODS_FIN_0700        NaN  9999-12-31
12497   000718  2017-03-18      000718  ODS_FIN_0740        NaN  9999-12-31
12500   000718  2017-03-18      000718  ODS_FIN_0510        NaN  9999-12-31
12501   000718  2017-03-18      000718  ODS_FIN_0520        NaN  9999-12-31
12502   000718  2017-03-18      000718  ODS_FIN_0530        NaN  9999-12-31
12504   000718  2017-03-18      000718  ODS_FIN_0820        NaN  9999-12-31
12506   000718  2017-03-18      000718  ODS_FIN_0840        NaN  9999-12-31
12508   000718  2017-03-18      000718  ODS_FIN_0850        NaN  9999-12-31
12510   000718  2017-03-18      000718  ODS_FIN_0900        NaN  9999-12-31
12516   000718  2017-03-18      000718  ODS_FIN_0920        NaN  9999-12-31
12518   000718  2017-03-18      000718  ODS_FIN_1320        NaN  9999-12-31
12644   000718  2017-03-18      000718  ODS_FIN_0420        NaN  9999-12-31
13447   000718  2017-03-18      000718  ODS_FIN_0450        NaN  9999-12-31
13448   000718  2017-03-18      000718  ODS_FIN_0450        NaN  9999-12-31
13450   000718  2017-03-18      000718  ODS_FIN_0560        NaN  9999-12-31
13451   000718  2017-03-18      000718  ODS_FIN_0561        NaN  9999-12-31
13452   000718  2017-03-18      000718  ODS_FIN_0560        NaN  9999-12-31
13455   000718  2017-03-18      000718  ODS_FIN_0560        NaN  9999-12-31

      is_period
12364      True
12365      True
12366      True
12441      True
12442      True
12443      True
12447      True
12449      True
12453      True
12497      True
12500      True
12501      True
12502      True
12504      True
12506      True

      username  query_date report_name           doc start_date    end_date  \
10480   000718  2017-03-11      000718  ODS_FIN_1550        NaN  9999-12-31
10482   000718  2017-03-11      000718  ODS_FIN_1550        NaN  9999-12-31
10496   000718  2017-03-11      000718  ODS_FIN_1550        NaN  9999-12-31
10497   000718  2017-03-11      000718  ODS_FIN_1550        NaN  9999-12-31
10499   000718  2017-03-11      000718  ODS_FIN_1550        NaN  9999-12-31
10500   000718  2017-03-11      000718  ODS_FIN_1550        NaN  9999-12-31
10501   000718  2017-03-11      000718  ODS_FIN_0420        NaN  9999-12-31
10515   000718  2017-03-11      000718  ODS_FIN_1550        NaN  9999-12-31
10516   000718  2017-03-11      000718  ODS_FIN_1550        NaN  9999-12-31
10518   000718  2017-03-11      000718  ODS_FIN_1550        NaN  9999-12-31
10519   000718  2017-03-11      000718  ODS_FIN_1550        NaN  9999-12-31
10521   000718  2017-03-11      000718  ODS_FIN_0420        NaN  9999-12-31
10524   000718  2017-03-11      000718  ODS_FIN_0370        NaN  9999-12-31
10525   000718  2017-03-11      000718  ODS_FIN_0380        NaN  9999-12-31
10526   000718  2017-03-11      000718  ODS_FIN_0370        NaN  9999-12-31
10527   000718  2017-03-11      000718  ODS_FIN_0370        NaN  9999-12-31
10528   000718  2017-03-11      000718  ODS_FIN_0380        NaN  9999-12-31
10529   000718  2017-03-11      000718  ODS_FIN_0380        NaN  9999-12-31
10537   000718  2017-03-11      000718  ODS_FIN_0620        NaN  9999-12-31
10538   000718  2017-03-11      000718  ODS_FIN_0620        NaN  9999-12-31
10542   000718  2017-03-11      000718  ODS_FIN_0620        NaN  9999-12-31
10544   000718  2017-03-11      000718  ODS_FIN_0510        NaN  9999-12-31

      is_period
10480      True
10482      True
10496      True
10497      True
10499      True
10500      True
10501      True
10515      True
10516      True
10518      True
10519      True
10521      True
10524      True
10525      True
10526      True
10527      True
10528      True
10529      True
10537      True
10538      True
10542      True
10544      True
QQ
      username  query_date report_name           doc start_date    end_date  \
28782   000718  2017-04-18      000718  ODS_FIN_0510        NaN  9999-12-31
28810   000718  2017-04-18      000718  ODS_FIN_0430        NaN  9999-12-31
28811   000718  2017-04-18      000718  ODS_FIN_0510        NaN  9999-12-31
28851   000718  2017-04-18      000718  ODS_FIN_0510        NaN  9999-12-31
28868   000718  2017-04-18      000718  ODS_FIN_0510        NaN  9999-12-31
28869   000718  2017-04-18      000718  ODS_FIN_0430        NaN  9999-12-31
28871   000718  2017-04-18      000718  ODS_FIN_0510        NaN  9999-12-31
28872   000718  2017-04-18      000718  ODS_FIN_0510        NaN  9999-12-31
29486   000718  2017-04-18      000718  ODS_FIN_0510        NaN  9999-12-31
29516   000718  2017-04-18      000718  ODS_FIN_0510        NaN  9999-12-31
30953   000718  2017-04-18      000718  ODS_FIN_1550        NaN  9999-12-31
31107   000718  2017-04-18      000718  ODS_FIN_1550        NaN  9999-12-31
31108   000718  2017-04-18      000718  ODS_FIN_1550        NaN  9999-12-31
31109   000718  2017-04-18      000718  ODS_FIN_1550        NaN  9999-12-31
31111   000718  2017-04-18      000718  ODS_FIN_1550        NaN  9999-12-31

      is_period
28782      True
28810      True
28811      True
28851      True
28868      True
28869      True
28871      True
28872      True
29486      True
29516      True
30953      True
31107      True
31108      True
31109      True
31111      True
QQ
      username  query_date report_name           doc start_date    end_date  \
30517   000718  2017-04-20      000718  ODS_FIN_1550        NaN  9999-12-31
30518   000718  2017-04-20      000718  ODS_FIN_1550        NaN  9999-12-31
30519   000718  2017-04-20      000718  ODS_FIN_1550        NaN  9999-12-31
30520   000718  2017-04-20      000718  ODS_FIN_1550        NaN  9999-12-31
30521   000718  2017-04-20      000718  ODS_FIN_1550        NaN  9999-12-31
30576   000718  2017-04-20      000718  ODS_FIN_1550        NaN  9999-12-31
30577   000718  2017-04-20      000718  ODS_FIN_1550        NaN  9999-12-31
31434   000718  2017-04-20      000718  ODS_FIN_1550        NaN  9999-12-31
31435   000718  2017-04-20      000718  ODS_FIN_1550        NaN  9999-12-31
32022   000718  2017-04-20      000718  ODS_FIN_1550        NaN  9999-12-31
32023   000718  2017-04-20      000718  ODS_FIN_1550        NaN  9999-12-31
32024   000718  2017-04-20      000718  ODS_FIN_1550        NaN  9999-12-31
32025   000718  2017-04-20      000718  ODS_FIN_1550        NaN  9999-12-31
32310   000718  2017-04-20      000718  ODS_FIN_1550        NaN  9999-12-31

      is_period
30517      True
30518      True
30519      True
30520      True
30521      True
30576      True
30577      True
31434      True
31435      True
32022      True
32023      True
32024      True
32025      True
32310      True
QQ
      username  query_date report_name           doc start_date    end_date  \
30482   000718  2017-04-21      000718  ODS_FIN_1550        NaN  9999-12-31
30484   000718  2017-04-21      000718  ODS_FIN_0420        NaN  9999-12-31
30485   000718  2017-04-21      000718  ODS_FIN_0370        NaN  9999-12-31
30486   000718  2017-04-21      000718  ODS_FIN_0380        NaN  9999-12-31
30487   000718  2017-04-21      000718  ODS_FIN_0380        NaN  9999-12-31
30488   000718  2017-04-21      000718  ODS_FIN_0380        NaN  9999-12-31
30489   000718  2017-04-21      000718  ODS_FIN_0380        NaN  9999-12-31
30490   000718  2017-04-21      000718  ODS_FIN_0380        NaN  9999-12-31
30491   000718  2017-04-21      000718  ODS_FIN_0380        NaN  9999-12-31
30523   000718  2017-04-21      000718  ODS_FIN_0380        NaN  9999-12-31
30529   000718  2017-04-21      000718  ODS_FIN_0420        NaN  9999-12-31

      is_period
30482      True
30484      True
30485      True
30486      True
30487      True
30488      True
30489      True
30490      True
30491      True
30523      True
30529      True
QQ
      username  query_date report_name           doc start_date    end_date  \
23297   000718  2017-04-07      000718  ODS_FIN_0700        NaN  9999-12-31
23298   000718  2017-04-07      000718  ODS_FIN_0700        NaN  9999-12-31
23299   000718  2017-04-07      000718  ODS_FIN_0700        NaN  9999-12-31
23313   000718  2017-04-07      000718  ODS_FIN_0700        NaN  9999-12-31
23314   000718  2017-04-07      000718  ODS_FIN_0700        NaN  9999-12-31
23450   000718  2017-04-07      000718  ODS_FIN_0700        NaN  9999-12-31
23451   000718  2017-04-07      000718  ODS_FIN_0700        NaN  9999-12-31
23452   000718  2017-04-07      000718  ODS_FIN_0700        NaN  9999-12-31
23453   000718  2017-04-07      000718  ODS_FIN_0700        NaN  9999-12-31

      is_period
23297      True
23298      True
23299      True
23313      True
23314      True
23450      True
23451      True
23452      True
23453      True
QQ
      username  query_date report_name           doc start_date    end_date  \
28189   000718  2017-04-14      000718  ODS_FIN_0430        NaN  9999-12-31
28190   000718  2017-04-14      000718  ODS_FIN_0430        NaN  9999-12-31
28322   000718  2017-04-14      000718  ODS_FIN_1550        NaN  9999-12-31
28337   000718  2017-04-14      000718  ODS_FIN_0370        NaN  9999-12-31
29699   000718  2017-04-14      000718  ODS_FIN_0510        NaN  9999-12-31
29731   000718  2017-04-14      000718  ODS_FIN_1550        NaN  9999-12-31
29732   000718  2017-04-14      000718  ODS_FIN_1550        NaN  9999-12-31

      is_period
28189      True
28190      True
28322      True
28337      True
29699      True
29731      True
29732      True
QQ
      username  query_date report_name           doc start_date    end_date  \
18607   000718  2017-03-29      000718  ODS_FIN_1550        NaN  9999-12-31

      is_period
18607      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
5842   000868  2017-03-03      000868  ODS_POS_0880  2017-01-10  2017-01-10
5961   000868  2017-03-03      000868  ODS_POS_0880  2017-01-10  2017-01-10
5962   000868  2017-03-03      000868  ODS_POS_1330  2017-01-10  2017-01-10
5963   000868  2017-03-03      000868  ODS_POS_1330  2017-01-03  2017-01-03
6482   000868  2017-03-03      000868  ODS_POS_0430         NaN  9999-12-31
6486   000868  2017-03-03      000868  ODS_POS_0430         NaN  9999-12-31
6487   000868  2017-03-03      000868  ODS_POS_0430         NaN  9999-12-31
6488   000868  2017-03-03      000868  ODS_POS_0430         NaN  9999-12-31
6489   000868  2017-03-03      000868  ODS_POS_0430         NaN  9999-12-31
6490   000868  2017-03-03      000868  ODS_POS_0430         NaN  9999-12-31
6491   000868  2017-03-03      000868  ODS_POS_0430         NaN  9999-12-31
6492   000868  2017-03-03      000868  ODS_POS_0430         NaN  9999-12-31
6493   000868  2017-03-03      000868  ODS_POS_0430         NaN  9999-12-31
6496   000868  2017-03-03      000868  ODS_POS_0430         NaN  9999-12-31
6497   000868  2017-03-03      000868  ODS_POS_0430         NaN  9999-12-31
6498   000868  2017-03-03      000868  ODS_POS_0430         NaN  9999-12-31
6499   000868  2017-03-03      000868  ODS_POS_0430         NaN  9999-12-31
6500   000868  2017-03-03      000868  ODS_POS_0430         NaN  9999-12-31
6575   000868  2017-03-03      000868  ODS_POS_0430         NaN  9999-12-31
6587   000868  2017-03-03      000868  ODS_POS_0430         NaN  9999-12-31
6590   000868  2017-03-03      000868  ODS_POS_0430         NaN  9999-12-31

     is_period
5842      True
5961      True
5962      True
5963      True
6482      True
6486      True
6487      True
6488      True
6489      True
6490      True
6491      True
6492      True
6493      True
6496      True
6497      True
6498      True
6499      True
6500      True
6575      True
6587      True
6590      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
1412   000868  2017-02-13      000868  FMT_POS_0290  2015-12-01  2017-02-13
1413   000868  2017-02-13      000868  FMT_POS_0290  2015-12-01  2017-02-13
1415   000868  2017-02-13      000868  FMT_POS_0290  2015-12-01  2017-12-31
1474   000868  2017-02-13      000868  ODS_POS_0430         NaN  9999-12-31
5353   000868  2017-02-13      000868  ODS_POS_0430         NaN  9999-12-31
5354   000868  2017-02-13      000868  ODS_POS_0430         NaN  9999-12-31
5407   000868  2017-02-13      000868  ODS_POS_0950  2017-06-15  2017-06-15
5559   000868  2017-02-13      000868  ODS_POS_0430         NaN  9999-12-31
5560   000868  2017-02-13      000868  ODS_POS_0430         NaN  9999-12-31
5561   000868  2017-02-13      000868  ODS_POS_0430         NaN  9999-12-31
6800   000868  2017-02-13      000868  FMT_POS_0320  2016-06-06  2017-02-13
6834   000868  2017-02-13      000868  ODS_POS_0920         NaN  9999-12-31
6835   000868  2017-02-13      000868  ODS_POS_0920         NaN  9999-12-31
6873   000868  2017-02-13      000868  ODS_POS_0940  2017-06-15  2017-06-15

     is_period
1412      True
1413      True
1415      True
1474      True
5353      True
5354      True
5407      True
5559      True
5560      True
5561      True
6800      True
6834      True
6835      True
6873      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
1484   000868  2017-02-15      000868  ODS_POS_1340  2017-01-02  2017-01-02
1513   000868  2017-02-15      000868  ODS_POS_1240  2017-01-03  2017-01-03
1514   000868  2017-02-15      000868  ODS_POS_1240  2017-01-02  2017-01-02
1695   000868  2017-02-15      000868  ODS_POS_1330  2016-12-30  2016-12-30
1696   000868  2017-02-15      000868  ODS_POS_1330  2016-12-31  2016-12-31
1799   000868  2017-02-15      000868  ODS_POS_1340  2017-01-02  2017-01-02
1801   000868  2017-02-15      000868  ODS_POS_1340  2016-12-31  2016-12-31
7032   000868  2017-02-15      000868  ODS_POS_1330  2017-12-30  2017-12-30
7036   000868  2017-02-15      000868  ODS_POS_1330  2018-01-02  2018-01-02
7130   000868  2017-02-15      000868  FMT_POS_1570  2016-12-30  2017-02-15

     is_period
1484      True
1513      True
1514      True
1695      True
1696      True
1799      True
1801      True
7032      True
7036      True
7130      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
3880   000868  2017-02-22      000868  ODS_POS_1300  2017-01-03  2017-01-03
4019   000868  2017-02-22      000868  ODS_POS_1250  2017-01-03  2017-01-03
4020   000868  2017-02-22      000868  ODS_POS_1260  2017-01-03  2017-01-03
6053   000868  2017-02-22      000868  FMT_POS_1120  2017-01-03  2017-02-03
6054   000868  2017-02-22      000868  FMT_POS_0250  2017-01-03  2017-02-03
7266   000868  2017-02-22      000868  ODS_POS_1250  2017-01-02  2017-01-02
7267   000868  2017-02-22      000868  ODS_POS_1460  2017-01-03  2017-01-03
7312   000868  2017-02-22      000868  ODS_POS_1250  2017-01-03  2017-01-03
7315   000868  2017-02-22      000868  ODS_POS_1250  2017-01-02  2017-01-02

     is_period
3880      True
4019      True
4020      True
6053      True
6054      True
7266      True
7267      True
7312      True
7315      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
2193   000868  2017-02-16      000868  ODS_POS_1260  2017-01-02  2017-01-02
2236   000868  2017-02-16      000868  ODS_POS_1270  2017-01-02  2017-01-02
2237   000868  2017-02-16      000868  ODS_POS_1290  2017-01-02  2017-01-02
2638   000868  2017-02-16      000868  ODS_POS_1300  2017-01-02  2017-01-02
2654   000868  2017-02-16      000868  ODS_POS_1380  2017-01-02  2017-01-02
7183   000868  2017-02-16      000868  ODS_POS_1250  2017-01-02  2017-01-02
7184   000868  2017-02-16      000868  ODS_POS_1250  2017-01-02  2017-01-02
7193   000868  2017-02-16      000868  ODS_POS_1250  2017-01-02  2017-01-02

     is_period
2193      True
2236      True
2237      True
2638      True
2654      True
7183      True
7184      True
7193      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
7217   000868  2017-02-24      000868  ODS_POS_0880  2017-01-02  2017-01-02
7218   000868  2017-02-24      000868  ODS_POS_0880  2017-01-03  2017-01-03
7278   000868  2017-02-24      000868  ODS_POS_1300  2017-01-03  2017-01-03
7279   000868  2017-02-24      000868  ODS_POS_1290  2017-01-02  2017-01-02
7405   000868  2017-02-24      000868  ODS_POS_1300  2017-01-02  2017-01-02
7406   000868  2017-02-24      000868  ODS_POS_1300  2017-01-03  2017-01-03

     is_period
7217      True
7218      True
7278      True
7279      True
7405      True
7406      True
QQ
     username  query_date report_name           doc start_date    end_date  \
6096   000868  2017-02-09      000868  ODS_POS_1140        NaN  9999-12-31
6099   000868  2017-02-09      000868  ODS_POS_1140        NaN  9999-12-31
6100   000868  2017-02-09      000868  ODS_POS_1140        NaN  9999-12-31
6349   000868  2017-02-09      000868  ODS_POS_1140        NaN  9999-12-31
6384   000868  2017-02-09      000868  ODS_POS_1140        NaN  9999-12-31
6385   000868  2017-02-09      000868  ODS_POS_1140        NaN  9999-12-31

     is_period
6096      True
6099      True
6100      True
6349      True
6384      True
6385      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
1838   000868  2017-02-17      000868  ODS_POS_1140         NaN  9999-12-31
1971   000868  2017-02-17      000868  ODS_POS_1290  2017-11-30  2017-11-30
1972   000868  2017-02-17      000868  ODS_POS_1290  2018-11-30  2018-11-30
1973   000868  2017-02-17      000868  ODS_POS_1290  2018-12-30  2018-12-30
1974   000868  2017-02-17      000868  ODS_POS_1290  2018-12-31  2018-12-31
3016   000868  2017-02-17      000868  ODS_POS_1140         NaN  9999-12-31

     is_period
1838      True
1971      True
1972      True
1973      True
1974      True
3016      True
QQ
      username  query_date report_name           doc start_date    end_date  \
13228   000868  2017-03-16      000868  ODS_POS_0670        NaN  9999-12-31
13245   000868  2017-03-16      000868  ODS_POS_1400        NaN  9999-12-31
13258   000868  2017-03-16      000868  ODS_POS_0790        NaN  9999-12-31
13300   000868  2017-03-16      000868  ODS_POS_0800        NaN  9999-12-31
13406   000868  2017-03-16      000868  ODS_POS_1400        NaN  9999-12-31

      is_period
13228      True
13245      True
13258      True
13300      True
13406      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
8173   000868  2017-03-02      000868  ODS_POS_0430         NaN  9999-12-31
8174   000868  2017-03-02      000868  ODS_POS_0430         NaN  9999-12-31
8179   000868  2017-03-02      000868  ODS_POS_0430         NaN  9999-12-31
8311   000868  2017-03-02      000868  ODS_POS_1660  2017-01-10  2017-01-10

     is_period
8173      True
8174      True
8179      True
8311      True
QQ

     username  query_date report_name           doc  start_date    end_date  \
7680   000868  2017-03-01      000868  FMT_POS_0290  2017-01-01  2017-01-13
7734   000868  2017-03-01      000868  FMT_POS_0290  2017-01-01  2017-01-13
7735   000868  2017-03-01      000868  FMT_POS_0290  2017-01-01  2017-01-13

     is_period
7680      True
7734      True
7735      True
QQ
      username  query_date report_name           doc start_date    end_date  \
31641   000868  2017-04-20      000868  ODS_POS_1320        NaN  9999-12-31
31642   000868  2017-04-20      000868  ODS_POS_1320        NaN  9999-12-31
32035   000868  2017-04-20      000868  ODS_POS_0670        NaN  9999-12-31

      is_period
31641      True
31642      True
32035      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
16620   000868  2017-03-24      000868  ODS_POS_0780  2017-01-02  2017-01-02
16621   000868  2017-03-24      000868  ODS_POS_0780  2017-01-02  2017-01-02

      is_period
16620      True
16621      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
5730   000868  2017-02-10      000868  FMT_POS_0130  2016-10-28  2017-02-10
5731   000868  2017-02-10      000868  FMT_POS_1560  2016-10-28  2017-02-10

     is_period
5730      True
5731      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4148   000868  2017-02-23      000868  ODS_POS_1330  2017-01-03  2017-01-03

     is_period
4148      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
1451   000868  2017-04-19      000868  ODS_POS_1330  2017-02-28  2017-02-28

     is_period
1451      True
QQ
      username  query_date report_name           doc start_date    end_date  \
17695   000868  2017-03-31      000868  ODS_POS_0800        NaN  9999-12-31

      is_period
17695      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
6746   000868  2017-02-20      000868  ODS_POS_1330  2017-01-03  2017-01-03

     is_period
6746      True
QQ
      username  query_date report_name           doc start_date    end_date  \
31226   000868  2017-04-21      000868  ODS_POS_0670        NaN  9999-12-31

      is_period
31226      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
11561   user19  2017-03-15      user19  ODS_INV_7230         NaN  9999-12-31
11562   user19  2017-03-15      user19  ODS_INV_7230         NaN  9999-12-31
11715   user19  2017-03-15      user19  ODS_INV_7230         NaN  9999-12-31
11716   user19  2017-03-15      user19  ODS_INV_7230         NaN  9999-12-31
11717   user19  2017-03-15      user19  ODS_INV_7230         NaN  9999-12-31
11719   user19  2017-03-15      user19  FMT_POS_0170  2000-05-01  2027-03-31
11720   user19  2017-03-15      user19  FMT_POS_1540  2000-05-01  2027-03-31
11721   user19  2017-03-15      user19  FMT_POS_0370  2000-05-01  2027-03-31
11722   user19  2017-03-15      user19      #POLICY#  2000-05-01  2027-03-31
11723   user19  2017-03-15      user19  FMT_POS_0350  2000-05-01  2027-03-31
11724   user19  2017-03-15      user19  FMT_POS_0060  2000-05-01  2027-03-31
11725   user19  2017-03-15      user19  FMT_POS_0070  2000-05-01  2027-03-31
11726   user19  2017-03-15      user19  FMT_POS_0310  2000-05-01  2027-03-31
11727   user19  2017-03-15      user19  FMT_POS_0090  2000-05-01  2027-03-31
11728   user19  2017-03-15      user19  FMT_POS_0080  2000-05-01  2027-03-31
11729   user19  2017-03-15      user19  FMT_POS_0270  2000-05-01  2027-03-31
11730   user19  2017-03-15      user19  FMT_POS_0360  2000-05-01  2027-03-31
11731   user19  2017-03-15      user19  FMT_POS_0320  2000-05-01  2027-03-31
11732   user19  2017-03-15      user19  FMT_POS_0160  2000-05-01  2027-03-31
11733   user19  2017-03-15      user19  FMT_POS_0380  2000-05-01  2027-03-31
11734   user19  2017-03-15      user19  FMT_POS_0250  2000-05-01  2027-03-31
11735   user19  2017-03-15      user19  FMT_POS_0240  2000-05-01  2027-03-31
11736   user19  2017-03-15      user19  FMT_POS_0290  2000-05-01  2027-03-31
11737   user19  2017-03-15      user19  FMT_POS_0440  2000-05-01  2027-03-31
11738   user19  2017-03-15      user19  FMT_POS_7230  2000-05-01  2027-03-31
11739   user19  2017-03-15      user19  FMT_POS_7210  2000-05-01  2027-03-31
11740   user19  2017-03-15      user19  FMT_POS_1670  2000-05-01  2027-03-31
11741   user19  2017-03-15      user19  FMT_POS_1560  2000-05-01  2027-03-31
11742   user19  2017-03-15      user19  FMT_POS_0010  2000-05-01  2027-03-31
11743   user19  2017-03-15      user19  FMT_POS_0020  2000-05-01  2027-03-31
...        ...         ...         ...           ...         ...         ...
11766   user19  2017-03-15      user19   FMT_PA_0790  2000-05-01  2027-03-31
11767   user19  2017-03-15      user19   FMT_PA_0800  2000-05-01  2027-03-31
11768   user19  2017-03-15      user19   FMT_PA_0810  2000-05-01  2027-03-31
11769   user19  2017-03-15      user19   FMT_PA_0820  2000-05-01  2027-03-31
11770   user19  2017-03-15      user19   FMT_PA_0830  2000-05-01  2027-03-31
11771   user19  2017-03-15      user19   FMT_PA_0840  2000-05-01  2027-03-31
11772   user19  2017-03-15      user19   FMT_PA_0850  2000-05-01  2027-03-31
11773   user19  2017-03-15      user19   FMT_PA_0851  2000-05-01  2027-03-31
11774   user19  2017-03-15      user19   FMT_PA_0852  2000-05-01  2027-03-31
11775   user19  2017-03-15      user19   FMT_PA_0853  2000-05-01  2027-03-31
11776   user19  2017-03-15      user19   FMT_PA_0854  2000-05-01  2027-03-31
11777   user19  2017-03-15      user19   FMT_PA_0855  2000-05-01  2027-03-31
11778   user19  2017-03-15      user19   FMT_PA_0860  2000-05-01  2027-03-31
11779   user19  2017-03-15      user19   FMT_PA_0870  2000-05-01  2027-03-31
11780   user19  2017-03-15      user19   FMT_PA_0880  2000-05-01  2027-03-31
11781   user19  2017-03-15      user19   FMT_PA_0890  2000-05-01  2027-03-31
11782   user19  2017-03-15      user19   FMT_PA_0900  2000-05-01  2027-03-31
11783   user19  2017-03-15      user19   FMT_PA_0910  2000-05-01  2027-03-31
11784   user19  2017-03-15      user19   FMT_PA_0920  2000-05-01  2027-03-31
11785   user19  2017-03-15      user19   FMT_PA_0930  2000-05-01  2027-03-31
11786   user19  2017-03-15      user19   FMT_PA_0940  2000-05-01  2027-03-31
11787   user19  2017-03-15      user19   FMT_PA_0950  2000-05-01  2027-03-31
11788   user19  2017-03-15      user19   FMT_PA_0951  2000-05-01  2027-03-31
11789   user19  2017-03-15      user19   FMT_PA_0960  2000-05-01  2027-03-31
11790   user19  2017-03-15      user19   FMT_PA_0961  2000-05-01  2027-03-31
11791   user19  2017-03-15      user19   FMT_PA_0970  2000-05-01  2027-03-31
11792   user19  2017-03-15      user19   FMT_PA_0980  2000-05-01  2027-03-31
11793   user19  2017-03-15      user19   FMT_PA_0990  2000-05-01  2027-03-31
11794   user19  2017-03-15      user19   FMT_PA_1000  2000-05-01  2027-03-31
11795   user19  2017-03-15      user19   FMT_PA_0730  2000-05-01  2027-03-31

      is_period
11561      True
11562      True
11715      True
11716      True
11717      True
11719      True
11720      True
11721      True
11722      True
11723      True
11724      True
11725      True
11726      True
11727      True
11728      True
11729      True
11730      True
11731      True
11732      True
11733      True
11734      True
11735      True
11736      True
11737      True
11738      True
11739      True
11740      True
11741      True
11742      True
11743      True
...         ...
11766      True
11767      True
11768      True
11769      True
11770      True
11771      True
11772      True
11773      True
11774      True
11775      True
11776      True
11777      True
11778      True
11779      True
11780      True
11781      True
11782      True
11783      True
11784      True
11785      True
11786      True
11787      True
11788      True
11789      True
11790      True
11791      True
11792      True
11793      True
11794      True
11795      True

[82 rows x 7 columns]
QQ
     username  query_date report_name           doc  start_date    end_date  \
1231   user19  2017-02-14      user19  FMT_POS_0250  2017-01-01  2017-02-14
1236   user19  2017-02-14      user19  FMT_POS_0250  2017-01-01  2017-02-14
1241   user19  2017-02-14      user19  FMT_POS_0250  2017-01-01  2017-02-14
6864   user19  2017-02-14      user19  FMT_POS_0250  2017-01-01  2017-02-14
6938   user19  2017-02-14      user19  FMT_POS_0250  2017-01-01  2017-02-14
6939   user19  2017-02-14      user19  FMT_POS_0250  2017-01-01  2017-02-14
6940   user19  2017-02-14      user19  FMT_POS_0250  2017-01-01  2017-02-14
6941   user19  2017-02-14      user19  FMT_POS_0250  2017-01-01  2017-02-14

     is_period
1231      True
1236      True
1241      True
6864      True
6938      True
6939      True
6940      True
6941      True
QQ
      username  query_date report_name             doc  start_date  \
26372   user19  2017-04-11      user19    FMT_POS_0130  2017-01-01
27505   user19  2017-04-11      user19  ODS_POS_1350_P         NaN
27661   user19  2017-04-11      user19  ODS_POS_1350_E         NaN
27664   user19  2017-04-11      user19  ODS_POS_1350_E         NaN
27665   user19  2017-04-11      user19  ODS_POS_1350_P         NaN

         end_date is_period
26372  2017-04-30      True
27505  9999-12-31      True
27661  9999-12-31      True
27664  9999-12-31      True
27665  9999-12-31      True
QQ
      username  query_date report_name           doc start_date    end_date  \
31219   user19  2017-04-21      user19  ODS_POS_0670        NaN  9999-12-31
31327   user19  2017-04-21      user19  ODS_POS_0670        NaN  9999-12-31
31328   user19  2017-04-21      user19  ODS_POS_0790        NaN  9999-12-31
31633   user19  2017-04-21      user19  ODS_POS_0790        NaN  9999-12-31

      is_period
31219      True
31327      True
31328      True
31633      True
QQ
      username  query_date report_name           doc start_date    end_date  \
28144   user19  2017-04-14      user19  ODS_POS_0670        NaN  9999-12-31
29698   user19  2017-04-14      user19  ODS_POS_0670        NaN  9999-12-31

      is_period
28144      True
29698      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
27289   user19  2017-04-10      user19  FMT_POS_1120  2017-04-05  2017-04-05

      is_period
27289      True
QQ
      username  query_date report_name           doc start_date    end_date  \
12462   user19  2017-03-17      user19  ODS_FIN_0430        NaN  9999-12-31

      is_period
12462      True

QQ
      username  query_date report_name           doc  start_date    end_date  \
18613   002266  2017-03-28      002266  ODS_UNB_0270  2017-01-03  2017-01-03
18614   002266  2017-03-28      002266  ODS_UNB_0270  2017-02-28  2017-02-28
18615   002266  2017-03-28      002266  ODS_UNB_0270  2017-03-01  2017-03-01
19756   002266  2017-03-28      002266  FMT_UNB_0200         NaN  9999-12-31
19831   002266  2017-03-28      002266  FMT_UNB_0200         NaN  9999-12-31
19866   002266  2017-03-28      002266  FMT_UNB_0200         NaN  9999-12-31
19870   002266  2017-03-28      002266  ODS_UNB_0750  2017-03-01  2017-03-01
19874   002266  2017-03-28      002266  ODS_UNB_0270  2017-02-02  2017-02-02
19881   002266  2017-03-28      002266  ODS_UNB_0640         NaN  9999-12-31
19882   002266  2017-03-28      002266  ODS_UNB_0640         NaN  9999-12-31
20753   002266  2017-03-28      002266  ODS_UNB_0270  2017-02-03  2017-02-03
20754   002266  2017-03-28      002266  ODS_UNB_0270  2017-02-04  2017-02-04
20755   002266  2017-03-28      002266  ODS_UNB_0270  2017-01-10  2017-01-10
20756   002266  2017-03-28      002266  ODS_UNB_0270  2017-02-01  2017-02-01
21128   002266  2017-03-28      002266  FMT_UNB_0200         NaN  9999-12-31

      is_period
18613      True
18614      True
18615      True
19756      True
19831      True
19866      True
19870      True
19874      True
19881      True
19882      True
20753      True
20754      True
20755      True
20756      True
21128      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
454     002266  2017-04-19      002266  FMT_UNB_0201         NaN  9999-12-31
1519    002266  2017-04-19      002266  FMT_UNB_0201         NaN  9999-12-31
1655    002266  2017-04-19      002266  FMT_UNB_0201         NaN  9999-12-31
1660    002266  2017-04-19      002266  FMT_UNB_0201         NaN  9999-12-31
1676    002266  2017-04-19      002266  FMT_UNB_0201         NaN  9999-12-31
2873    002266  2017-04-19      002266  ODS_UNB_0640         NaN  9999-12-31
30466   002266  2017-04-19      002266  ODS_UNB_0460  2017-04-05  2017-04-05
30502   002266  2017-04-19      002266  ODS_UNB_0460  2017-02-02  2017-02-02
31620   002266  2017-04-19      002266  ODS_UNB_0460  2017-02-07  2017-02-07
31625   002266  2017-04-19      002266  ODS_UNB_0460  2017-04-05  2017-04-05
31691   002266  2017-04-19      002266  ODS_UNB_0460  2017-04-30  2017-04-30
31695   002266  2017-04-19      002266  ODS_UNB_0460  2017-02-07  2017-02-07

      is_period
454        True
1519       True
1655       True
1660       True
1676       True
2873       True
30466      True
30502      True
31620      True
31625      True
31691      True
31695      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
28053   002266  2017-04-13      002266  FMT_UNB_0200         NaN  9999-12-31
28068   002266  2017-04-13      002266  ODS_UNB_0750  2017-03-01  2017-03-01
28069   002266  2017-04-13      002266  ODS_UNB_0750  2017-04-05  2017-04-05
28070   002266  2017-04-13      002266  ODS_UNB_0750  2017-03-01  2017-03-01
29901   002266  2017-04-13      002266  FMT_UNB_0200         NaN  9999-12-31
29912   002266  2017-04-13      002266  FMT_UNB_0200         NaN  9999-12-31
29943   002266  2017-04-13      002266  FMT_UNB_0200         NaN  9999-12-31
30311   002266  2017-04-13      002266  FMT_UNB_0200         NaN  9999-12-31
30312   002266  2017-04-13      002266  FMT_UNB_0202         NaN  9999-12-31
30313   002266  2017-04-13      002266  FMT_UNB_0200         NaN  9999-12-31

      is_period
28053      True
28068      True
28069      True
28070      True
29901      True
29912      True
29943      True
30311      True
30312      True
30313      True
QQ
      username  query_date report_name           doc start_date    end_date  \
28127   002266  2017-04-14      002266  FMT_UNB_0770        NaN  9999-12-31
28130   002266  2017-04-14      002266  FMT_UNB_0770        NaN  9999-12-31
28138   002266  2017-04-14      002266  FMT_UNB_0770        NaN  9999-12-31
28145   002266  2017-04-14      002266  FMT_UNB_0770        NaN  9999-12-31
28375   002266  2017-04-14      002266  ODS_UNB_0640        NaN  9999-12-31
28949   002266  2017-04-14      002266  FMT_UNB_0200        NaN  9999-12-31
29627   002266  2017-04-14      002266  FMT_UNB_0770        NaN  9999-12-31
29631   002266  2017-04-14      002266  FMT_UNB_0770        NaN  9999-12-31

      is_period
28127      True
28130      True
28138      True
28145      True
28375      True
28949      True
29627      True
29631      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
15052   002266  2017-03-25      002266  ODS_UNB_0460  2017-02-28  2017-02-28
15053   002266  2017-03-25      002266  ODS_UNB_0460  2017-02-28  2017-02-28
15054   002266  2017-03-25      002266  ODS_UNB_0460  2017-03-01  2017-03-01
15055   002266  2017-03-25      002266  ODS_UNB_0460  2017-01-10  2017-01-10
15056   002266  2017-03-25      002266  ODS_UNB_0460  2017-01-03  2017-01-03
15057   002266  2017-03-25      002266  ODS_UNB_0460  2017-01-26  2017-01-26
15475   002266  2017-03-25      002266  FMT_UNB_0770         NaN  9999-12-31
15476   002266  2017-03-25      002266  FMT_UNB_0770         NaN  9999-12-31

      is_period
15052      True
15053      True
15054      True
15055      True
15056      True
15057      True
15475      True
15476      True
QQ
      username  query_date report_name           doc start_date    end_date  \
21347   002266  2017-04-05      002266  FMT_UNB_0770        NaN  9999-12-31
21348   002266  2017-04-05      002266  FMT_UNB_0770        NaN  9999-12-31
21526   002266  2017-04-05      002266  FMT_UNB_0771        NaN  9999-12-31
21595   002266  2017-04-05      002266  FMT_UNB_0770        NaN  9999-12-31
21712   002266  2017-04-05      002266  FMT_UNB_0771        NaN  9999-12-31
21736   002266  2017-04-05      002266  FMT_UNB_0771        NaN  9999-12-31
24226   002266  2017-04-05      002266  FMT_UNB_0771        NaN  9999-12-31
24227   002266  2017-04-05      002266  FMT_UNB_0771        NaN  9999-12-31

      is_period
21347      True
21348      True
21526      True
21595      True
21712      True
21736      True
24226      True
24227      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4940   002266  2017-03-10      002266  ODS_UNB_0460  2017-01-26  2017-01-26
5031   002266  2017-03-10      002266  FMT_UNB_0300         NaN  9999-12-31
5034   002266  2017-03-10      002266  ODS_UNB_0640         NaN  9999-12-31
5035   002266  2017-03-10      002266  ODS_UNB_0640         NaN  9999-12-31
5803   002266  2017-03-10      002266  ODS_UNB_0460  2017-01-26  2017-01-26
8650   002266  2017-03-10      002266  ODS_UNB_0460  2017-01-26  2017-01-26

     is_period
4940      True
5031      True
5034      True
5035      True
5803      True
8650      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
26387   002266  2017-04-11      002266  ODS_UNB_0750  2017-04-20  2017-04-20
26388   002266  2017-04-11      002266  ODS_UNB_0750  2017-04-05  2017-04-05
26389   002266  2017-04-11      002266  ODS_UNB_0750  2017-03-01  2017-03-01
28531   002266  2017-04-11      002266  FMT_UNB_0202         NaN  9999-12-31
28540   002266  2017-04-11      002266  FMT_UNB_0202         NaN  9999-12-31

      is_period
26387      True
26388      True
26389      True
28531      True
28540      True
QQ
     username  query_date report_name           doc start_date    end_date  \
3918   002266  2017-02-22      002266  FMT_UNB_0200        NaN  9999-12-31
4021   002266  2017-02-22      002266  FMT_UNB_0130        NaN  9999-12-31
7274   002266  2017-02-22      002266  FMT_UNB_0130        NaN  9999-12-31
7275   002266  2017-02-22      002266  FMT_UNB_0130        NaN  9999-12-31

     is_period
3918      True
4021      True
7274      True
7275      True
QQ
      username  query_date report_name           doc start_date    end_date  \
14572   002266  2017-03-21      002266  ODS_UNB_0640        NaN  9999-12-31
14575   002266  2017-03-21      002266  ODS_UNB_0640        NaN  9999-12-31
14882   002266  2017-03-21      002266  FMT_UNB_0300        NaN  9999-12-31

      is_period
14572      True
14575      True
14882      True
QQ
      username  query_date report_name           doc start_date    end_date  \
29147   002266  2017-04-17      002266  ODS_UNB_0510        NaN  9999-12-31
29522   002266  2017-04-17      002266  ODS_UNB_0640        NaN  9999-12-31
29786   002266  2017-04-17      002266  ODS_UNB_0640        NaN  9999-12-31

      is_period
29147      True
29522      True
29786      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14389   002266  2017-03-20      002266  ODS_UNB_0270  2017-02-02  2017-02-02
14390   002266  2017-03-20      002266  ODS_UNB_0750  2017-02-02  2017-02-02
14396   002266  2017-03-20      002266  ODS_UNB_0270  2017-02-02  2017-02-02

      is_period
14389      True
14390      True
14396      True
QQ
     username  query_date report_name           doc start_date    end_date  \
5293   002266  2017-02-23      002266  FMT_UNB_0200        NaN  9999-12-31
5465   002266  2017-02-23      002266  FMT_UNB_0200        NaN  9999-12-31

     is_period
5293      True
5465      True
QQ
      username  query_date report_name           doc start_date    end_date  \
30378   002266  2017-04-21      002266  FMT_UNB_0201        NaN  9999-12-31
30689   002266  2017-04-21      002266  FMT_UNB_0201        NaN  9999-12-31

      is_period
30378      True
30689      True
QQ
     username  query_date report_name           doc start_date    end_date  \
7523   002266  2017-03-02      002266  FMT_UNB_0770        NaN  9999-12-31
8469   002266  2017-03-02      002266  FMT_UNB_0200        NaN  9999-12-31

     is_period
7523      True
8469      True
QQ
      username  query_date report_name           doc start_date    end_date  \
17111   002266  2017-03-22      002266  ODS_UNB_0640        NaN  9999-12-31
17112   002266  2017-03-22      002266  ODS_UNB_0640        NaN  9999-12-31

      is_period
17111      True
17112      True
QQ
      username  query_date report_name           doc start_date    end_date  \
30879   002266  2017-04-18      002266  FMT_UNB_0770        NaN  9999-12-31
31603   002266  2017-04-18      002266  FMT_UNB_0770        NaN  9999-12-31

      is_period
30879      True
31603      True
QQ
      username  query_date report_name           doc start_date    end_date  \
19686   002266  2017-03-31      002266  ODS_UNB_0510        NaN  9999-12-31
19687   002266  2017-03-31      002266  ODS_UNB_0510        NaN  9999-12-31

      is_period
19686      True
19687      True
QQ

     username  query_date report_name           doc start_date    end_date  \
7144   002266  2017-02-18      002266  FMT_UNB_0300        NaN  9999-12-31

     is_period
7144      True
QQ
      username  query_date report_name           doc start_date    end_date  \
26638   002266  2017-04-12      002266  FMT_UNB_0200        NaN  9999-12-31

      is_period
26638      True
QQ
        username  query_date report_name         doc start_date    end_date  \
15067  esp.admin  2017-03-24   esp.admin  LS_SC_5530        NaN  9999-12-31
15068  esp.admin  2017-03-24   esp.admin  LS_SC_5540        NaN  9999-12-31
16046  esp.admin  2017-03-24   esp.admin  LS_SC_5530        NaN  9999-12-31
16931  esp.admin  2017-03-24   esp.admin  LS_SC_5530        NaN  9999-12-31
16959  esp.admin  2017-03-24   esp.admin  LS_SC_5530        NaN  9999-12-31
16976  esp.admin  2017-03-24   esp.admin  LS_SC_5530        NaN  9999-12-31
17115  esp.admin  2017-03-24   esp.admin  LS_SC_5530        NaN  9999-12-31
17116  esp.admin  2017-03-24   esp.admin  LS_SC_5530        NaN  9999-12-31
17124  esp.admin  2017-03-24   esp.admin  LS_SC_5530        NaN  9999-12-31
17131  esp.admin  2017-03-24   esp.admin  LS_SC_5530        NaN  9999-12-31
17132  esp.admin  2017-03-24   esp.admin  LS_SC_5540        NaN  9999-12-31
17168  esp.admin  2017-03-24   esp.admin  LS_SC_5530        NaN  9999-12-31
17245  esp.admin  2017-03-24   esp.admin  LS_SC_5530        NaN  9999-12-31
17443  esp.admin  2017-03-24   esp.admin  LS_SC_5530        NaN  9999-12-31
17460  esp.admin  2017-03-24   esp.admin  LS_SC_5530        NaN  9999-12-31
17461  esp.admin  2017-03-24   esp.admin  LS_SC_5540        NaN  9999-12-31
17467  esp.admin  2017-03-24   esp.admin  LS_SC_5530        NaN  9999-12-31
17469  esp.admin  2017-03-24   esp.admin  LS_SC_5540        NaN  9999-12-31
17473  esp.admin  2017-03-24   esp.admin  LS_SC_5530        NaN  9999-12-31
17474  esp.admin  2017-03-24   esp.admin  LS_SC_5530        NaN  9999-12-31

      is_period
15067      True
15068      True
16046      True
16931      True
16959      True
16976      True
17115      True
17116      True
17124      True
17131      True
17132      True
17168      True
17245      True
17443      True
17460      True
17461      True
17467      True
17469      True
17473      True
17474      True
QQ
        username  query_date report_name         doc start_date    end_date  \
18273  esp.admin  2017-03-27   esp.admin  LS_SC_5530        NaN  9999-12-31
18274  esp.admin  2017-03-27   esp.admin  LS_SC_5530        NaN  9999-12-31
18277  esp.admin  2017-03-27   esp.admin  LS_SC_5530        NaN  9999-12-31
18278  esp.admin  2017-03-27   esp.admin  LS_SC_5540        NaN  9999-12-31
18599  esp.admin  2017-03-27   esp.admin  LS_SC_5530        NaN  9999-12-31
18692  esp.admin  2017-03-27   esp.admin  LS_SC_5530        NaN  9999-12-31
19051  esp.admin  2017-03-27   esp.admin  LS_SC_5530        NaN  9999-12-31
20176  esp.admin  2017-03-27   esp.admin  LS_SC_5530        NaN  9999-12-31
20184  esp.admin  2017-03-27   esp.admin  LS_SC_5530        NaN  9999-12-31
20195  esp.admin  2017-03-27   esp.admin  LS_SC_5530        NaN  9999-12-31
20678  esp.admin  2017-03-27   esp.admin  LS_SC_5540        NaN  9999-12-31
20769  esp.admin  2017-03-27   esp.admin  LS_SC_5530        NaN  9999-12-31
21077  esp.admin  2017-03-27   esp.admin  LS_SC_5530        NaN  9999-12-31
21080  esp.admin  2017-03-27   esp.admin  LS_SC_5530        NaN  9999-12-31

      is_period
18273      True
18274      True
18277      True
18278      True
18599      True
18692      True
19051      True
20176      True
20184      True
20195      True
20678      True
20769      True
21077      True
21080      True
QQ
        username  query_date report_name         doc start_date    end_date  \
22844  esp.admin  2017-04-10   esp.admin  LS_SC_5530        NaN  9999-12-31
24928  esp.admin  2017-04-10   esp.admin  LS_SC_5530        NaN  9999-12-31
26245  esp.admin  2017-04-10   esp.admin  LS_SC_5530        NaN  9999-12-31
26261  esp.admin  2017-04-10   esp.admin  LS_SC_3220        NaN  9999-12-31
26412  esp.admin  2017-04-10   esp.admin  LS_SC_5530        NaN  9999-12-31
26515  esp.admin  2017-04-10   esp.admin  LS_SC_5530        NaN  9999-12-31
26568  esp.admin  2017-04-10   esp.admin  LS_SC_5530        NaN  9999-12-31
26951  esp.admin  2017-04-10   esp.admin  LS_SC_3220        NaN  9999-12-31
26969  esp.admin  2017-04-10   esp.admin  LS_SC_5530        NaN  9999-12-31
27016  esp.admin  2017-04-10   esp.admin  LS_SC_3220        NaN  9999-12-31
27017  esp.admin  2017-04-10   esp.admin  LS_SC_3220        NaN  9999-12-31
27829  esp.admin  2017-04-10   esp.admin  LS_SC_3220        NaN  9999-12-31
28748  esp.admin  2017-04-10   esp.admin  LS_SC_5530        NaN  9999-12-31

      is_period
22844      True
24928      True
26245      True
26261      True
26412      True
26515      True
26568      True
26951      True
26969      True
27016      True
27017      True
27829      True
28748      True
QQ
        username  query_date report_name         doc start_date    end_date  \
21352  esp.admin  2017-04-05   esp.admin  LS_SC_5540        NaN  9999-12-31
21500  esp.admin  2017-04-05   esp.admin  LS_SC_5540        NaN  9999-12-31
21501  esp.admin  2017-04-05   esp.admin  LS_SC_5540        NaN  9999-12-31
21530  esp.admin  2017-04-05   esp.admin  LS_SC_5540        NaN  9999-12-31
21531  esp.admin  2017-04-05   esp.admin  LS_SC_5540        NaN  9999-12-31
22713  esp.admin  2017-04-05   esp.admin  LS_SC_5530        NaN  9999-12-31
24792  esp.admin  2017-04-05   esp.admin  LS_SC_5540        NaN  9999-12-31

      is_period
21352      True
21500      True
21501      True
21530      True
21531      True
22713      True
24792      True
QQ
        username  query_date report_name           doc start_date    end_date  \
13046  esp.admin  2017-03-16   esp.admin   FMT_PA_0710        NaN  9999-12-31
13368  esp.admin  2017-03-16   esp.admin  FMT_UNB_0372        NaN  9999-12-31
13370  esp.admin  2017-03-16   esp.admin  FMT_UNB_0372        NaN  9999-12-31
13377  esp.admin  2017-03-16   esp.admin  FMT_UNB_0372        NaN  9999-12-31
13378  esp.admin  2017-03-16   esp.admin  FMT_UNB_0372        NaN  9999-12-31
13379  esp.admin  2017-03-16   esp.admin  FMT_UNB_0372        NaN  9999-12-31

      is_period
13046      True
13368      True
13370      True
13377      True
13378      True
13379      True
QQ
       username  query_date report_name            doc  start_date  \
1165  esp.admin  2017-02-14   esp.admin  ODS_PA_0521_P  2016-12-30
1167  esp.admin  2017-02-14   esp.admin  ODS_PA_0520_P  2016-12-30
1168  esp.admin  2017-02-14   esp.admin  ODS_PA_0520_P  2016-12-30
1169  esp.admin  2017-02-14   esp.admin  ODS_PA_0520_P  2016-12-30
1170  esp.admin  2017-02-14   esp.admin  ODS_PA_0520_P  2016-12-30
1172  esp.admin  2017-02-14   esp.admin  ODS_PA_0520_P  2016-12-30

        end_date is_period
1165  2016-12-30      True
1167  2016-12-30      True
1168  2016-12-30      True
1169  2016-12-30      True
1170  2016-12-30      True
1172  2016-12-30      True
QQ
        username  query_date report_name           doc start_date    end_date  \
28878  esp.admin  2017-04-17   esp.admin   FMT_PA_1020        NaN  9999-12-31
28915  esp.admin  2017-04-17   esp.admin   FMT_PA_1020        NaN  9999-12-31
29118  esp.admin  2017-04-17   esp.admin   FMT_PA_1020        NaN  9999-12-31
29519  esp.admin  2017-04-17   esp.admin   FMT_PA_1020        NaN  9999-12-31
30178  esp.admin  2017-04-17   esp.admin  FMT_POS_0010        NaN  9999-12-31

      is_period
28878      True
28915      True
29118      True
29519      True
30178      True
QQ
       username  query_date report_name           doc  start_date    end_date  \
5303  esp.admin  2017-02-15   esp.admin  ODS_CLM_0350  2016-01-01  2016-01-01
5304  esp.admin  2017-02-15   esp.admin  ODS_CLM_0350  2016-01-01  2016-01-01
5598  esp.admin  2017-02-15   esp.admin  ODS_CLM_0350  2016-01-01  2016-01-01
5604  esp.admin  2017-02-15   esp.admin  ODS_CLM_0350  2016-01-01  2016-01-01

     is_period
5303      True
5304      True
5598      True
5604      True
QQ
        username  query_date report_name         doc start_date    end_date  \
23572  esp.admin  2017-04-07   esp.admin  LS_SC_5540        NaN  9999-12-31
23573  esp.admin  2017-04-07   esp.admin  LS_SC_5540        NaN  9999-12-31
23574  esp.admin  2017-04-07   esp.admin  LS_SC_5540        NaN  9999-12-31
23625  esp.admin  2017-04-07   esp.admin  LS_SC_5540        NaN  9999-12-31

      is_period
23572      True
23573      True
23574      True
23625      True
QQ
        username  query_date report_name         doc start_date    end_date  \
14911  esp.admin  2017-03-21   esp.admin  LS_SC_5530        NaN  9999-12-31
14912  esp.admin  2017-03-21   esp.admin  LS_SC_5530        NaN  9999-12-31
15725  esp.admin  2017-03-21   esp.admin  LS_SC_5530        NaN  9999-12-31
17249  esp.admin  2017-03-21   esp.admin  LS_SC_5530        NaN  9999-12-31

      is_period
14911      True
14912      True
15725      True
17249      True
QQ
        username  query_date report_name           doc start_date    end_date  \
29954  esp.admin  2017-04-14   esp.admin  FMT_POS_0010        NaN  9999-12-31
29959  esp.admin  2017-04-14   esp.admin  FMT_POS_0010        NaN  9999-12-31
29961  esp.admin  2017-04-14   esp.admin  FMT_POS_0010        NaN  9999-12-31

      is_period
29954      True
29959      True
29961      True
QQ
       username  query_date report_name       doc start_date    end_date  \
3997  esp.admin  2017-02-22   esp.admin  #POLICY#        NaN  9999-12-31
4055  esp.admin  2017-02-22   esp.admin  #POLICY#        NaN  9999-12-31

     is_period
3997      True
4055      True
QQ
        username  query_date report_name          doc  start_date    end_date  \
11077  esp.admin  2017-03-14   esp.admin  FMT_PA_0770  2017-12-31  2017-12-31
11662  esp.admin  2017-03-14   esp.admin  FMT_PA_0770  2017-02-23  2017-02-23

      is_period
11077      True
11662      True
QQ
        username  query_date report_name         doc start_date    end_date  \
22369  esp.admin  2017-04-06   esp.admin  LS_SC_5540        NaN  9999-12-31

      is_period
22369      True
QQ
        username  query_date report_name         doc start_date    end_date  \
17038  esp.admin  2017-03-22   esp.admin  LS_SC_5530        NaN  9999-12-31

      is_period
17038      True
QQ
        username  query_date report_name         doc start_date    end_date  \
21234  esp.admin  2017-03-29   esp.admin  LS_SC_5530        NaN  9999-12-31

      is_period
21234      True
QQ
        username  query_date report_name          doc  start_date    end_date  \
12138  esp.admin  2017-03-15   esp.admin  FMT_PA_0770  2018-01-26  2018-01-26

      is_period
12138      True
QQ
        username  query_date report_name         doc start_date    end_date  \
29047  esp.admin  2017-04-13   esp.admin  LS_SC_5530        NaN  9999-12-31

      is_period
29047      True
QQ

      username  query_date report_name           doc  start_date    end_date  \
30493   001713  2017-04-18      001713  ODS_UNB_0260  2017-04-05  2017-04-05
30536   001713  2017-04-18      001713  ODS_UNB_0260  2017-03-31  2017-03-31
30742   001713  2017-04-18      001713  ODS_UNB_0260  2017-05-30  2017-05-30
30767   001713  2017-04-18      001713  ODS_UNB_0260  2017-05-31  2017-05-31
30770   001713  2017-04-18      001713  ODS_UNB_0260  2017-04-05  2017-04-05
30964   001713  2017-04-18      001713      #POLICY#         NaN  9999-12-31
30965   001713  2017-04-18      001713      #POLICY#         NaN  9999-12-31
30979   001713  2017-04-18      001713      #POLICY#         NaN  9999-12-31
31037   001713  2017-04-18      001713  ODS_UNB_0560  2017-05-31  2017-05-31
31039   001713  2017-04-18      001713  ODS_UNB_0560  2017-04-05  2017-04-05
31057   001713  2017-04-18      001713      #POLICY#         NaN  9999-12-31
31060   001713  2017-04-18      001713      #POLICY#         NaN  9999-12-31
31061   001713  2017-04-18      001713      #POLICY#         NaN  9999-12-31
31064   001713  2017-04-18      001713      #POLICY#         NaN  9999-12-31
31066   001713  2017-04-18      001713      #POLICY#         NaN  9999-12-31
31085   001713  2017-04-18      001713      #POLICY#         NaN  9999-12-31
31087   001713  2017-04-18      001713      #POLICY#         NaN  9999-12-31

      is_period
30493      True
30536      True
30742      True
30767      True
30770      True
30964      True
30965      True
30979      True
31037      True
31039      True
31057      True
31060      True
31061      True
31064      True
31066      True
31085      True
31087      True
QQ
      username  query_date report_name           doc start_date    end_date  \
14576   001713  2017-03-21      001713  FMT_UNB_0300        NaN  9999-12-31
14578   001713  2017-03-21      001713  FMT_UNB_0300        NaN  9999-12-31
14670   001713  2017-03-21      001713  FMT_UNB_0300        NaN  9999-12-31
15258   001713  2017-03-21      001713  FMT_UNB_0770        NaN  9999-12-31
15260   001713  2017-03-21      001713  FMT_UNB_0770        NaN  9999-12-31
15397   001713  2017-03-21      001713  FMT_UNB_0300        NaN  9999-12-31
15398   001713  2017-03-21      001713  FMT_UNB_0300        NaN  9999-12-31
15406   001713  2017-03-21      001713  FMT_UNB_0300        NaN  9999-12-31
15727   001713  2017-03-21      001713  FMT_UNB_0310        NaN  9999-12-31

      is_period
14576      True
14578      True
14670      True
15258      True
15260      True
15397      True
15398      True
15406      True
15727      True
QQ
      username  query_date report_name       doc start_date    end_date  \
17598   001713  2017-03-31      001713  #POLICY#        NaN  9999-12-31
17676   001713  2017-03-31      001713  #POLICY#        NaN  9999-12-31
17677   001713  2017-03-31      001713  #POLICY#        NaN  9999-12-31
17707   001713  2017-03-31      001713  #POLICY#        NaN  9999-12-31
21146   001713  2017-03-31      001713  #POLICY#        NaN  9999-12-31
21147   001713  2017-03-31      001713  #POLICY#        NaN  9999-12-31

      is_period
17598      True
17676      True
17677      True
17707      True
21146      True
21147      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
3977   001713  2017-02-22      001713  FMT_UNB_0771  2016-01-01  2016-01-01
3978   001713  2017-02-22      001713  FMT_UNB_0771  2016-02-13  2016-02-13
3979   001713  2017-02-22      001713  FMT_UNB_0771  2016-01-05  2016-01-05
4076   001713  2017-02-22      001713      #POLICY#         NaN  9999-12-31
7228   001713  2017-02-22      001713  FMT_UNB_0771  2016-01-05  2016-01-05
7229   001713  2017-02-22      001713  FMT_UNB_0771  2015-11-11  2015-11-11

     is_period
3977      True
3978      True
3979      True
4076      True
7228      True
7229      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
18521   001713  2017-03-27      001713  ODS_UNB_0050  2017-01-01  2017-01-01
18809   001713  2017-03-27      001713      #POLICY#         NaN  9999-12-31
18810   001713  2017-03-27      001713      #POLICY#         NaN  9999-12-31
19429   001713  2017-03-27      001713  ODS_UNB_0460  2017-03-01  2017-03-01
19432   001713  2017-03-27      001713  ODS_UNB_0050  2017-02-02  2017-02-02

      is_period
18521      True
18809      True
18810      True
19429      True
19432      True
QQ
      username  query_date report_name           doc start_date    end_date  \
18283   001713  2017-03-29      001713  ODS_UNB_0030        NaN  9999-12-31
18299   001713  2017-03-29      001713      #POLICY#        NaN  9999-12-31
18300   001713  2017-03-29      001713      #POLICY#        NaN  9999-12-31
18381   001713  2017-03-29      001713      #POLICY#        NaN  9999-12-31
21268   001713  2017-03-29      001713      #POLICY#        NaN  9999-12-31

      is_period
18283      True
18299      True
18300      True
18381      True
21268      True
QQ
      username  query_date report_name       doc start_date    end_date  \
26190   001713  2017-04-11      001713  #POLICY#        NaN  9999-12-31
26410   001713  2017-04-11      001713  #POLICY#        NaN  9999-12-31
27713   001713  2017-04-11      001713  #POLICY#        NaN  9999-12-31
28534   001713  2017-04-11      001713  #POLICY#        NaN  9999-12-31
28580   001713  2017-04-11      001713  #POLICY#        NaN  9999-12-31

      is_period
26190      True
26410      True
27713      True
28534      True
28580      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
22475   001713  2017-04-04      001713  ODS_UNB_0560  2017-03-31  2017-03-31
22476   001713  2017-04-04      001713  ODS_UNB_0560  2017-01-26  2017-01-26
22484   001713  2017-04-04      001713  ODS_UNB_0560  2014-02-02  2014-02-02
22485   001713  2017-04-04      001713  ODS_UNB_0560  2017-02-02  2017-02-02

      is_period
22475      True
22476      True
22484      True
22485      True
QQ
      username  query_date report_name       doc start_date    end_date  \
21440   001713  2017-04-05      001713  #POLICY#        NaN  9999-12-31
21503   001713  2017-04-05      001713  #POLICY#        NaN  9999-12-31
21506   001713  2017-04-05      001713  #POLICY#        NaN  9999-12-31

      is_period
21440      True
21503      True
21506      True
QQ
      username  query_date report_name           doc start_date    end_date  \
13031   001713  2017-03-16      001713  FMT_UNB_0441        NaN  9999-12-31
13050   001713  2017-03-16      001713  FMT_UNB_0771        NaN  9999-12-31
13051   001713  2017-03-16      001713  FMT_UNB_0771        NaN  9999-12-31

      is_period
13031      True
13050      True
13051      True
QQ
      username  query_date report_name       doc start_date    end_date  \
18170   001713  2017-03-30      001713  #POLICY#        NaN  9999-12-31
20087   001713  2017-03-30      001713  #POLICY#        NaN  9999-12-31
20090   001713  2017-03-30      001713  #POLICY#        NaN  9999-12-31

      is_period
18170      True
20087      True
20090      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
0      001713  2017-02-10      001713  ODS_UNB_0460  2016-08-31  2016-08-31
86     001713  2017-02-10      001713  ODS_UNB_0460  2016-08-31  2016-08-31
5770   001713  2017-02-10      001713  ODS_UNB_0460  2016-08-31  2016-08-31

     is_period
0         True
86        True
5770      True
QQ
      username  query_date report_name           doc start_date    end_date  \
21318   001713  2017-04-03      001713  ODS_UNB_0030        NaN  9999-12-31
23080   001713  2017-04-03      001713  ODS_UNB_0030        NaN  9999-12-31

      is_period
21318      True
23080      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
7608   001713  2017-03-04      001713  ODS_UNB_0560  2017-01-10  2017-01-10
8178   001713  2017-03-04      001713  ODS_UNB_0460  2017-01-10  2017-01-10

     is_period
7608      True
8178      True
QQ
      username  query_date report_name       doc start_date    end_date  \
16388   001713  2017-03-23      001713  #POLICY#        NaN  9999-12-31
17252   001713  2017-03-23      001713  #POLICY#        NaN  9999-12-31

      is_period
16388      True
17252      True
QQ
     username  query_date report_name       doc start_date    end_date  \
1445   001713  2017-04-19      001713  #POLICY#        NaN  9999-12-31
1631   001713  2017-04-19      001713  #POLICY#        NaN  9999-12-31

     is_period
1445      True
1631      True
QQ
      username  query_date report_name       doc start_date    end_date  \
29604   001713  2017-04-17      001713  #POLICY#        NaN  9999-12-31
29605   001713  2017-04-17      001713  #POLICY#        NaN  9999-12-31

      is_period
29604      True
29605      True
QQ
     username  query_date report_name           doc start_date    end_date  \
8053   001713  2017-03-06      001713  FMT_UNB_0300        NaN  9999-12-31

     is_period
8053      True
QQ
      username  query_date report_name           doc start_date    end_date  \
14273   001713  2017-03-20      001713  ODS_UNB_0020        NaN  9999-12-31

      is_period
14273      True
QQ

      username  query_date report_name       doc start_date    end_date  \
23924   001713  2017-04-06      001713  #POLICY#        NaN  9999-12-31

      is_period
23924      True
QQ
      username  query_date report_name           doc start_date    end_date  \
26543   001713  2017-04-10      001713  FMT_UNB_0300        NaN  9999-12-31

      is_period
26543      True
QQ
     username  query_date report_name           doc start_date    end_date  \
8434   001713  2017-03-02      001713  FMT_UNB_0200        NaN  9999-12-31

     is_period
8434      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4444   001713  2017-03-08      001713  ODS_UNB_0510        NaN  9999-12-31

     is_period
4444      True
QQ
      username  query_date report_name       doc start_date    end_date  \
17103   001713  2017-03-22      001713  #POLICY#        NaN  9999-12-31

      is_period
17103      True
QQ
      username  query_date report_name           doc start_date    end_date  \
27235   001713  2017-04-12      001713  ODS_UNB_0350        NaN  9999-12-31

      is_period
27235      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4681   001713  2017-03-07      001713  ODS_UNB_0230        NaN  9999-12-31

     is_period
4681      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
19230   user15  2017-03-27      user15   ODS_PA_0670  2017-03-01  2017-03-01
19232   user15  2017-03-27      user15   FMT_PA_0710  2014-03-01  2017-12-31
19233   user15  2017-03-27      user15   FMT_PA_1020  2014-03-01  2017-12-31
19234   user15  2017-03-27      user15   FMT_PA_0740  2014-03-01  2017-12-31
19235   user15  2017-03-27      user15   FMT_PA_0750  2014-03-01  2017-12-31
19236   user15  2017-03-27      user15   FMT_PA_0760  2014-03-01  2017-12-31
19237   user15  2017-03-27      user15   FMT_PA_0770  2014-03-01  2017-12-31
19238   user15  2017-03-27      user15   FMT_PA_0780  2014-03-01  2017-12-31
19239   user15  2017-03-27      user15   FMT_PA_0790  2014-03-01  2017-12-31
19240   user15  2017-03-27      user15   FMT_PA_0800  2014-03-01  2017-12-31
19241   user15  2017-03-27      user15   FMT_PA_0810  2014-03-01  2017-12-31
19242   user15  2017-03-27      user15   FMT_PA_0820  2014-03-01  2017-12-31
19243   user15  2017-03-27      user15   FMT_PA_0830  2014-03-01  2017-12-31
19244   user15  2017-03-27      user15   FMT_PA_0840  2014-03-01  2017-12-31
19245   user15  2017-03-27      user15   FMT_PA_0850  2014-03-01  2017-12-31
19246   user15  2017-03-27      user15   FMT_PA_0851  2014-03-01  2017-12-31
19247   user15  2017-03-27      user15   FMT_PA_0852  2014-03-01  2017-12-31
19248   user15  2017-03-27      user15   FMT_PA_0853  2014-03-01  2017-12-31
19249   user15  2017-03-27      user15   FMT_PA_0854  2014-03-01  2017-12-31
19250   user15  2017-03-27      user15   FMT_PA_0855  2014-03-01  2017-12-31
19251   user15  2017-03-27      user15   FMT_PA_0860  2014-03-01  2017-12-31
19252   user15  2017-03-27      user15   FMT_PA_0870  2014-03-01  2017-12-31
19253   user15  2017-03-27      user15   FMT_PA_0880  2014-03-01  2017-12-31
19254   user15  2017-03-27      user15   FMT_PA_0890  2014-03-01  2017-12-31
19255   user15  2017-03-27      user15   FMT_PA_0900  2014-03-01  2017-12-31
19256   user15  2017-03-27      user15   FMT_PA_0910  2014-03-01  2017-12-31
19257   user15  2017-03-27      user15   FMT_PA_0920  2014-03-01  2017-12-31
19258   user15  2017-03-27      user15   FMT_PA_0930  2014-03-01  2017-12-31
19259   user15  2017-03-27      user15   FMT_PA_0940  2014-03-01  2017-12-31
19260   user15  2017-03-27      user15   FMT_PA_0950  2014-03-01  2017-12-31
19261   user15  2017-03-27      user15   FMT_PA_0951  2014-03-01  2017-12-31
19262   user15  2017-03-27      user15   FMT_PA_0960  2014-03-01  2017-12-31
19263   user15  2017-03-27      user15   FMT_PA_0961  2014-03-01  2017-12-31
19264   user15  2017-03-27      user15   FMT_PA_0970  2014-03-01  2017-12-31
19265   user15  2017-03-27      user15   FMT_PA_0980  2014-03-01  2017-12-31
19266   user15  2017-03-27      user15   FMT_PA_0990  2014-03-01  2017-12-31
19267   user15  2017-03-27      user15   FMT_PA_1000  2014-03-01  2017-12-31
19268   user15  2017-03-27      user15   FMT_PA_0730  2014-03-01  2017-12-31
19269   user15  2017-03-27      user15  ODS_FIN_1340         NaN  9999-12-31
19347   user15  2017-03-27      user15  ODS_FIN_1340         NaN  9999-12-31

      is_period
19230      True
19232      True
19233      True
19234      True
19235      True
19236      True
19237      True
19238      True
19239      True
19240      True
19241      True
19242      True
19243      True
19244      True
19245      True
19246      True
19247      True
19248      True
19249      True
19250      True
19251      True
19252      True
19253      True
19254      True
19255      True
19256      True
19257      True
19258      True
19259      True
19260      True
19261      True
19262      True
19263      True
19264      True
19265      True
19266      True
19267      True
19268      True
19269      True
19347      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17623   user15  2017-03-31      user15  FMT_UNB_0370         NaN  9999-12-31
17696   user15  2017-03-31      user15  ODS_FIN_0980         NaN  9999-12-31
17857   user15  2017-03-31      user15  FMT_UNB_0781         NaN  9999-12-31
17936   user15  2017-03-31      user15  FMT_POS_0150  2017-01-01  2017-03-01
17937   user15  2017-03-31      user15  FMT_UNB_0372         NaN  9999-12-31
17967   user15  2017-03-31      user15  FMT_POS_0160  2017-01-01  2017-03-01
18115   user15  2017-03-31      user15  FMT_UNB_0781         NaN  9999-12-31
18173   user15  2017-03-31      user15  FMT_UNB_0781         NaN  9999-12-31
20167   user15  2017-03-31      user15  FMT_UNB_0370         NaN  9999-12-31
20815   user15  2017-03-31      user15  FMT_POS_0250  2017-03-31  2017-03-31
21005   user15  2017-03-31      user15  FMT_POS_0250  2017-03-31  2017-03-31
21009   user15  2017-03-31      user15  FMT_POS_0250  2017-03-31  2017-03-31
21013   user15  2017-03-31      user15  FMT_POS_0250  2017-03-31  2017-03-31
21014   user15  2017-03-31      user15  FMT_POS_0250  2017-02-01  2017-03-31
21117   user15  2017-03-31      user15  FMT_POS_0250  2017-03-31  2017-03-31
21119   user15  2017-03-31      user15  FMT_POS_0250  2017-03-31  2017-03-31

      is_period
17623      True
17696      True
17857      True
17936      True
17937      True
17967      True
18115      True
18173      True
20167      True
20815      True
21005      True
21009      True
21013      True
21014      True
21117      True
21119      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
7658   user15  2017-03-06      user15  ODS_POS_1460  2017-01-13  2017-01-13
7661   user15  2017-03-06      user15  ODS_POS_1530  2017-01-13  2017-01-13
7665   user15  2017-03-06      user15  FMT_POS_0250  2017-01-01  2017-03-06
7864   user15  2017-03-06      user15  ODS_POS_7170         NaN  9999-12-31
7866   user15  2017-03-06      user15  ODS_POS_1240  2017-01-13  2017-01-13
7867   user15  2017-03-06      user15  ODS_POS_1240  2017-01-13  2017-01-13
7870   user15  2017-03-06      user15  ODS_POS_1460  2017-01-13  2017-01-13

     is_period
7658      True
7661      True
7665      True
7864      True
7866      True
7867      True
7870      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
6093   user15  2017-02-22      user15  FMT_POS_0320  2017-01-03  2017-01-03
7313   user15  2017-02-22      user15  FMT_POS_0360  2017-01-01  2017-02-28
7314   user15  2017-02-22      user15  FMT_POS_0360  2017-01-01  2017-02-28
7316   user15  2017-02-22      user15  FMT_POS_0360  2017-01-03  2017-01-03

     is_period
6093      True
7313      True
7314      True
7316      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
15049   user15  2017-03-25      user15  ODS_POS_1460  2017-02-27  2017-02-27
15050   user15  2017-03-25      user15  ODS_POS_1460  2017-02-07  2017-02-07
15274   user15  2017-03-25      user15  FMT_POS_0250  2017-02-28  2017-03-28

      is_period
15049      True
15050      True
15274      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
29795   user15  2017-04-13      user15  FMT_PA_0850  1912-01-01  2017-12-31
29796   user15  2017-04-13      user15  FMT_PA_0851  1912-01-01  2017-12-31

      is_period
29795      True
29796      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
27434   user15  2017-04-11      user15  FMT_POS_0020         NaN  9999-12-31
27436   user15  2017-04-11      user15  FMT_POS_0190  2017-04-05  2017-04-05

      is_period
27434      True
27436      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
7997   user15  2017-03-04      user15  ODS_POS_1660  2017-01-10  2017-01-10
8087   user15  2017-03-04      user15  ODS_POS_0430         NaN  9999-12-31

     is_period
7997      True
8087      True
QQ
      username  query_date report_name           doc start_date    end_date  \
13126   user15  2017-03-17      user15  ODS_POS_0760        NaN  9999-12-31
13127   user15  2017-03-17      user15  ODS_POS_0760        NaN  9999-12-31

      is_period
13126      True
13127      True
QQ

      username  query_date report_name           doc start_date    end_date  \
20715   user15  2017-03-28      user15  FMT_POS_0190        NaN  9999-12-31

      is_period
20715      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4266   001076  2017-03-02      001076  ODS_CLM_0560  2016-12-31  2016-12-31
4267   001076  2017-03-02      001076  ODS_CLM_0560  2016-12-01  2016-12-01
4268   001076  2017-03-02      001076  ODS_CLM_0560  2016-12-02  2016-12-02
4269   001076  2017-03-02      001076  ODS_CLM_0561  2016-12-10  2016-12-10
4270   001076  2017-03-02      001076  ODS_CLM_0561  2016-12-11  2016-12-11
4271   001076  2017-03-02      001076  ODS_CLM_0561  2016-12-12  2016-12-12
4272   001076  2017-03-02      001076  ODS_CLM_0580  2016-01-06  2016-01-06
4273   001076  2017-03-02      001076  ODS_CLM_0580  2016-01-07  2016-01-07
4290   001076  2017-03-02      001076  ODS_CLM_0580  2016-01-08  2016-01-08
8184   001076  2017-03-02      001076  ODS_CLM_0570  2016-01-10  2016-01-10
8199   001076  2017-03-02      001076  ODS_CLM_0560  2016-01-10  2016-01-10
8200   001076  2017-03-02      001076  ODS_CLM_0560  2016-01-11  2016-01-11
8201   001076  2017-03-02      001076  ODS_CLM_0561  2016-01-11  2016-01-11
8202   001076  2017-03-02      001076  ODS_CLM_0580  2016-01-11  2016-01-11
8203   001076  2017-03-02      001076  ODS_CLM_0571  2016-01-11  2016-01-11
8204   001076  2017-03-02      001076  ODS_CLM_0570  2016-01-12  2016-01-12

     is_period
4266      True
4267      True
4268      True
4269      True
4270      True
4271      True
4272      True
4273      True
4290      True
8184      True
8199      True
8200      True
8201      True
8202      True
8203      True
8204      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17912   001076  2017-03-30      001076  ODS_CLM_0560  2017-03-01  2017-03-01
17913   001076  2017-03-30      001076  ODS_CLM_0561  2017-03-01  2017-03-01
17914   001076  2017-03-30      001076  ODS_CLM_0580  2017-03-01  2017-03-01
17915   001076  2017-03-30      001076  ODS_CLM_0571  2017-03-01  2017-03-01
17928   001076  2017-03-30      001076  ODS_CLM_0560  2017-03-31  2017-03-31
17929   001076  2017-03-30      001076  ODS_CLM_0560  2017-03-15  2017-03-15
18187   001076  2017-03-30      001076  ODS_CLM_0370  2017-02-27  2017-02-27
20040   001076  2017-03-30      001076  ODS_CLM_0571  2017-03-31  2017-03-31
20041   001076  2017-03-30      001076  ODS_CLM_0571  2017-03-01  2017-03-01
20043   001076  2017-03-30      001076  ODS_CLM_0570  2017-03-01  2017-03-01
20078   001076  2017-03-30      001076  ODS_CLM_0560  2017-03-31  2017-03-31
20079   001076  2017-03-30      001076  ODS_CLM_0561  2017-03-17  2017-03-17
20223   001076  2017-03-30      001076  ODS_CLM_0370  2017-02-27  2017-02-27

      is_period
17912      True
17913      True
17914      True
17915      True
17928      True
17929      True
18187      True
20040      True
20041      True
20043      True
20078      True
20079      True
20223      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
27359   001076  2017-04-11      001076  ODS_CLM_0370  2017-01-01  2017-01-01
27360   001076  2017-04-11      001076  ODS_CLM_0370  2017-03-19  2017-03-19
27490   001076  2017-04-11      001076  ODS_CLM_0370  2017-03-19  2017-03-19
27491   001076  2017-04-11      001076  ODS_CLM_0370  2017-03-15  2017-03-15
27492   001076  2017-04-11      001076  ODS_CLM_0370  2017-03-10  2017-03-10
27493   001076  2017-04-11      001076  ODS_CLM_0370  2017-03-17  2017-03-17
27494   001076  2017-04-11      001076  ODS_CLM_0370  2017-03-11  2017-03-11
27496   001076  2017-04-11      001076  ODS_CLM_0370  2017-02-27  2017-02-27
27587   001076  2017-04-11      001076  ODS_CLM_0370  2017-03-10  2017-03-10

      is_period
27359      True
27360      True
27490      True
27491      True
27492      True
27493      True
27494      True
27496      True
27587      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
29148   001076  2017-04-17      001076  ODS_CLM_0571  2017-04-30  2017-04-30
29325   001076  2017-04-17      001076  ODS_CLM_0580  2017-04-30  2017-04-30
29550   001076  2017-04-17      001076  ODS_CLM_0571  2017-04-30  2017-04-30
29560   001076  2017-04-17      001076  ODS_CLM_0560  2017-04-30  2017-04-30
29561   001076  2017-04-17      001076  ODS_CLM_0580  2017-04-30  2017-04-30
29597   001076  2017-04-17      001076  ODS_CLM_0571  2017-04-30  2017-04-30
29695   001076  2017-04-17      001076  ODS_CLM_0571  2017-04-30  2017-04-30
30185   001076  2017-04-17      001076  ODS_CLM_0580  2017-04-30  2017-04-30
30186   001076  2017-04-17      001076  ODS_CLM_0560  2017-04-30  2017-04-30

      is_period
29148      True
29325      True
29550      True
29560      True
29561      True
29597      True
29695      True
30185      True
30186      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
31240   001076  2017-04-20      001076  ODS_CLM_0561  2017-04-30  2017-04-30
31259   001076  2017-04-20      001076  ODS_CLM_0571  2017-04-30  2017-04-30
32199   001076  2017-04-20      001076  ODS_CLM_0570  2017-04-30  2017-04-30
32275   001076  2017-04-20      001076  ODS_CLM_0560  2017-02-27  2017-02-27
32276   001076  2017-04-20      001076  ODS_CLM_0560  2017-04-30  2017-04-30

      is_period
31240      True
31259      True
32199      True
32275      True
32276      True
QQ
      username  query_date report_name           doc start_date    end_date  \
26769   001076  2017-04-12      001076  ODS_CLM_0560        NaN  9999-12-31
26770   001076  2017-04-12      001076  ODS_CLM_0561        NaN  9999-12-31
26782   001076  2017-04-12      001076  ODS_CLM_0580        NaN  9999-12-31
26788   001076  2017-04-12      001076  ODS_CLM_0571        NaN  9999-12-31
26789   001076  2017-04-12      001076  ODS_CLM_0570        NaN  9999-12-31

      is_period
26769      True
26770      True
26782      True
26788      True
26789      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4224   001076  2017-02-24      001076  ODS_CLM_0561  2016-11-12  2016-11-12
4361   001076  2017-02-24      001076  ODS_CLM_0560  2016-12-12  2016-12-12
4362   001076  2017-02-24      001076  ODS_CLM_0560  2016-10-01  2016-10-01
4363   001076  2017-02-24      001076  ODS_CLM_0560  2016-10-30  2016-10-30

     is_period
4224      True
4361      True
4362      True
4363      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
11594   001076  2017-03-15      001076  ODS_CLM_0561  2016-03-06  2016-03-06
12204   001076  2017-03-15      001076  ODS_CLM_0580  2016-12-13  2016-12-13
12205   001076  2017-03-15      001076  ODS_CLM_0580  2016-01-06  2016-01-06
12208   001076  2017-03-15      001076  ODS_CLM_0561  2016-03-03  2016-03-03

      is_period
11594      True
12204      True
12205      True
12208      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
18595   001076  2017-03-27      001076  ODS_CLM_0580  2017-01-01  2017-01-01
18596   001076  2017-03-27      001076  ODS_CLM_0560  2017-01-01  2017-01-01
18597   001076  2017-03-27      001076  ODS_CLM_0561  2017-02-28  2017-02-28

      is_period
18595      True
18596      True
18597      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17520   001076  2017-03-31      001076  ODS_CLM_0370  2017-03-31  2017-03-31
17521   001076  2017-03-31      001076  ODS_CLM_0370  2017-03-01  2017-03-01
18093   001076  2017-03-31      001076  ODS_CLM_0370  2017-03-01  2017-03-01

      is_period
17520      True
17521      True
18093      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
30626   001076  2017-04-21      001076  ODS_CLM_0370  2017-05-31  2017-05-31
30627   001076  2017-04-21      001076  ODS_CLM_0370  2017-04-30  2017-04-30

      is_period
30626      True
30627      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
28410   001076  2017-04-15      001076  ODS_CLM_0370  2017-02-27  2017-02-27

      is_period
28410      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
18382   001076  2017-03-29      001076  ODS_CLM_0370  2017-02-27  2017-02-27

      is_period
18382      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
13035   001308  2017-03-16      001308  ODS_SC_6200  2017-02-28  2017-02-28
13036   001308  2017-03-16      001308  ODS_SC_6200  2017-02-28  2017-02-28
13037   001308  2017-03-16      001308  ODS_SC_6200  2017-02-28  2017-02-28
13038   001308  2017-03-16      001308  ODS_SC_6200  2017-01-31  2017-01-31
13039   001308  2017-03-16      001308  ODS_SC_6200  2017-01-31  2017-01-31
13040   001308  2017-03-16      001308  ODS_SC_6200  2017-01-31  2017-01-31
13041   001308  2017-03-16      001308  ODS_SC_6211  2017-02-28  2017-02-28
13042   001308  2017-03-16      001308  ODS_SC_6210  2017-02-28  2017-02-28
13043   001308  2017-03-16      001308  ODS_SC_6210  2017-02-28  2017-02-28
13045   001308  2017-03-16      001308  ODS_SC_6230  2017-02-28  2017-02-28
13355   001308  2017-03-16      001308  ODS_SC_6200  2017-02-28  2017-02-28
13356   001308  2017-03-16      001308  ODS_SC_6200  2017-02-28  2017-02-28
13357   001308  2017-03-16      001308  ODS_SC_6200  2017-02-28  2017-02-28
13358   001308  2017-03-16      001308  ODS_SC_6200  2017-02-28  2017-02-28
13371   001308  2017-03-16      001308  ODS_SC_6200  2017-02-28  2017-02-28
13372   001308  2017-03-16      001308  ODS_SC_6200  2017-03-01  2017-03-01
13373   001308  2017-03-16      001308  ODS_SC_6200  2017-02-28  2017-02-28

      is_period
13035      True
13036      True
13037      True
13038      True
13039      True
13040      True
13041      True
13042      True
13043      True
13045      True
13355      True
13356      True
13357      True
13358      True
13371      True
13372      True
13373      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
10781   001308  2017-03-14      001308  ODS_SC_6200  2017-02-28  2017-02-28
10782   001308  2017-03-14      001308  ODS_SC_6200  2017-02-28  2017-02-28
10783   001308  2017-03-14      001308  ODS_SC_6200  2017-02-28  2017-02-28
10784   001308  2017-03-14      001308  ODS_SC_6200  2017-02-28  2017-02-28
10899   001308  2017-03-14      001308  ODS_SC_6210  2017-02-28  2017-02-28
10900   001308  2017-03-14      001308  ODS_SC_6200  2017-02-28  2017-02-28
10901   001308  2017-03-14      001308  ODS_SC_6200  2017-02-28  2017-02-28
10902   001308  2017-03-14      001308  ODS_SC_6200  2017-02-28  2017-02-28
11704   001308  2017-03-14      001308  ODS_SC_6200  2017-02-28  2017-02-28
12219   001308  2017-03-14      001308  ODS_SC_6210  2017-02-28  2017-02-28

      is_period
10781      True
10782      True
10783      True
10784      True
10899      True
10900      True
10901      True
10902      True
11704      True
12219      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
12448   001308  2017-03-18      001308  ODS_SC_6260         NaN  9999-12-31
12503   001308  2017-03-18      001308  ODS_SC_6210  2017-02-28  2017-02-28
12509   001308  2017-03-18      001308  ODS_SC_6211  2017-02-28  2017-02-28
12511   001308  2017-03-18      001308  ODS_SC_6210  2017-02-28  2017-02-28
12512   001308  2017-03-18      001308  ODS_SC_6210  2017-02-28  2017-02-28
12513   001308  2017-03-18      001308  ODS_SC_6210  2017-02-28  2017-02-28
12514   001308  2017-03-18      001308  ODS_SC_6200  2017-02-28  2017-02-28
12515   001308  2017-03-18      001308  ODS_SC_6200  2017-02-28  2017-02-28
13458   001308  2017-03-18      001308  ODS_SC_6250         NaN  9999-12-31

      is_period
12448      True
12503      True
12509      True
12511      True
12512      True
12513      True
12514      True
12515      True
13458      True
QQ

      username  query_date report_name          doc  start_date    end_date  \
4442    001308  2017-03-08      001308  ODS_SC_6210  2017-02-28  2017-02-28
4684    001308  2017-03-08      001308  ODS_SC_6230  2017-02-26  2017-02-26
4710    001308  2017-03-08      001308  ODS_SC_6200  2017-02-28  2017-02-28
4711    001308  2017-03-08      001308  ODS_SC_6200  2017-02-28  2017-02-28
9654    001308  2017-03-08      001308  ODS_SC_6260         NaN  9999-12-31
9655    001308  2017-03-08      001308  ODS_SC_6260         NaN  9999-12-31
9775    001308  2017-03-08      001308  ODS_SC_6230  2017-02-26  2017-02-26
9776    001308  2017-03-08      001308  ODS_SC_6230  2017-02-26  2017-02-26
10351   001308  2017-03-08      001308  ODS_SC_6230  2017-02-26  2017-02-26

      is_period
4442       True
4684       True
4710       True
4711       True
9654       True
9655       True
9775       True
9776       True
10351      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
24537   001308  2017-04-08      001308  ODS_SC_6200  2017-03-31  2017-03-31
24538   001308  2017-04-08      001308  ODS_SC_6200  2017-04-05  2017-04-05
25788   001308  2017-04-08      001308  ODS_SC_6200  2017-04-05  2017-04-05
25789   001308  2017-04-08      001308  ODS_SC_6200  2017-03-31  2017-03-31
25790   001308  2017-04-08      001308  ODS_SC_6210  2017-03-31  2017-03-31
25791   001308  2017-04-08      001308  ODS_SC_6211  2017-03-31  2017-03-31
25792   001308  2017-04-08      001308  ODS_SC_6230  2017-03-31  2017-03-31

      is_period
24537      True
24538      True
25788      True
25789      True
25790      True
25791      True
25792      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
2790   001308  2017-02-16      001308  ODS_SC_6230  2016-01-31  2016-01-31
2791   001308  2017-02-16      001308  ODS_SC_6230  2017-01-31  2017-01-31
7163   001308  2017-02-16      001308  ODS_SC_6200  2016-01-31  2016-01-31
7168   001308  2017-02-16      001308  ODS_SC_6200  2016-01-31  2016-01-31
7171   001308  2017-02-16      001308  ODS_SC_6230  2016-01-31  2016-01-31
7172   001308  2017-02-16      001308  ODS_SC_6230  2016-01-31  2016-01-31

     is_period
2790      True
2791      True
7163      True
7168      True
7171      True
7172      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
7431   001308  2017-03-01      001308  ODS_SC_6200  2017-02-28  2017-02-28
7432   001308  2017-03-01      001308  ODS_SC_6200  2017-02-28  2017-02-28
7433   001308  2017-03-01      001308  ODS_SC_6200  2017-02-28  2017-02-28
7434   001308  2017-03-01      001308  ODS_SC_6200  2017-02-28  2017-02-28
7676   001308  2017-03-01      001308  ODS_SC_6200  2017-02-28  2017-02-28
7678   001308  2017-03-01      001308  ODS_SC_6200  2017-02-28  2017-02-28

     is_period
7431      True
7432      True
7433      True
7434      True
7676      True
7678      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
8221   001308  2017-03-02      001308  ODS_SC_6200  2017-02-28  2017-02-28
8222   001308  2017-03-02      001308  ODS_SC_6200  2017-02-28  2017-02-28
8223   001308  2017-03-02      001308  ODS_SC_6200  2017-02-28  2017-02-28
8224   001308  2017-03-02      001308  ODS_SC_6200  2017-02-28  2017-02-28

     is_period
8221      True
8222      True
8223      True
8224      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
29358   001308  2017-04-14      001308  ODS_SC_6210  2017-04-30  2017-04-30
29361   001308  2017-04-14      001308  ODS_SC_6210  2017-04-30  2017-04-30
29362   001308  2017-04-14      001308  ODS_SC_6210  2017-02-28  2017-02-28

      is_period
29358      True
29361      True
29362      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
17590   001308  2017-03-28      001308  ODS_SC_6210  2017-03-01  2017-03-01
17592   001308  2017-03-28      001308  ODS_SC_6210  2017-03-01  2017-03-01

      is_period
17590      True
17592      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
17641   001308  2017-03-31      001308  ODS_SC_6200  2017-03-31  2017-03-31

      is_period
17641      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
14901   001308  2017-03-22      001308  ODS_SC_6211  2017-02-28  2017-02-28

      is_period
14901      True
QQ
      username  query_date report_name           doc start_date    end_date  \
17510   001980  2017-03-30      001980  ODS_POS_1140        NaN  9999-12-31
17697   001980  2017-03-30      001980  ODS_POS_0930        NaN  9999-12-31
17906   001980  2017-03-30      001980  ODS_POS_0930        NaN  9999-12-31
17907   001980  2017-03-30      001980  ODS_POS_0930        NaN  9999-12-31
17909   001980  2017-03-30      001980  ODS_POS_0930        NaN  9999-12-31
17910   001980  2017-03-30      001980  ODS_POS_0930        NaN  9999-12-31
17926   001980  2017-03-30      001980  ODS_POS_0930        NaN  9999-12-31
17931   001980  2017-03-30      001980  ODS_POS_0930        NaN  9999-12-31
17960   001980  2017-03-30      001980  ODS_POS_0930        NaN  9999-12-31
18186   001980  2017-03-30      001980  ODS_POS_0930        NaN  9999-12-31
19681   001980  2017-03-30      001980  ODS_POS_1140        NaN  9999-12-31
19682   001980  2017-03-30      001980  ODS_POS_0930        NaN  9999-12-31
20004   001980  2017-03-30      001980  ODS_POS_0930        NaN  9999-12-31
20042   001980  2017-03-30      001980  ODS_POS_1140        NaN  9999-12-31
20044   001980  2017-03-30      001980  ODS_POS_0930        NaN  9999-12-31
20045   001980  2017-03-30      001980  ODS_POS_0930        NaN  9999-12-31
20077   001980  2017-03-30      001980  ODS_POS_0930        NaN  9999-12-31
20081   001980  2017-03-30      001980  ODS_POS_0930        NaN  9999-12-31
20092   001980  2017-03-30      001980  ODS_POS_1140        NaN  9999-12-31
20178   001980  2017-03-30      001980  ODS_POS_0930        NaN  9999-12-31
20181   001980  2017-03-30      001980  ODS_POS_1140        NaN  9999-12-31
20496   001980  2017-03-30      001980  ODS_POS_0930        NaN  9999-12-31

      is_period
17510      True
17697      True
17906      True
17907      True
17909      True
17910      True
17926      True
17931      True
17960      True
18186      True
19681      True
19682      True
20004      True
20042      True
20044      True
20045      True
20077      True
20081      True
20092      True
20178      True
20181      True
20496      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
13056   001980  2017-03-16      001980  ODS_POS_0940  2017-01-04  2017-01-04
13057   001980  2017-03-16      001980  ODS_POS_0940  2017-01-05  2017-01-05
13058   001980  2017-03-16      001980  ODS_POS_0940  2017-01-06  2017-01-06
13059   001980  2017-03-16      001980  ODS_POS_0940  2017-01-07  2017-01-07
13226   001980  2017-03-16      001980  ODS_POS_0940  2017-02-07  2017-02-07
13307   001980  2017-03-16      001980  ODS_POS_0940  2017-01-08  2017-01-08
13308   001980  2017-03-16      001980  ODS_POS_0940  2017-01-10  2017-01-10
13314   001980  2017-03-16      001980  ODS_POS_0940  2017-02-07  2017-02-07
13391   001980  2017-03-16      001980  ODS_POS_0940  2017-01-03  2017-01-03
13393   001980  2017-03-16      001980  ODS_POS_0940  2017-01-13  2017-01-13
13394   001980  2017-03-16      001980  ODS_POS_0940  2017-01-26  2017-01-26
13395   001980  2017-03-16      001980  ODS_POS_0940  2017-02-02  2017-02-02

      is_period
13056      True
13057      True
13058      True
13059      True
13226      True
13307      True
13308      True
13314      True
13391      True
13393      True
13394      True
13395      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4942   001980  2017-03-10      001980  ODS_POS_1320         NaN  9999-12-31
4975   001980  2017-03-10      001980  ODS_POS_1160         NaN  9999-12-31
5017   001980  2017-03-10      001980  ODS_POS_1360  2017-01-26  2017-01-26
5236   001980  2017-03-10      001980  ODS_POS_1360  2017-01-26  2017-01-26
5237   001980  2017-03-10      001980  ODS_POS_1360  2017-03-09  2017-03-09
5238   001980  2017-03-10      001980  FMT_POS_0150  2017-01-01  2017-03-10
5239   001980  2017-03-10      001980  FMT_POS_0150  2017-01-01  2017-03-10

     is_period
4942      True
4975      True
5017      True
5236      True
5237      True
5238      True
5239      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
11813   001980  2017-03-15      001980  ODS_POS_1360  2017-02-03  2017-02-03
11814   001980  2017-03-15      001980  ODS_POS_1360  2017-02-02  2017-02-02
11815   001980  2017-03-15      001980  FMT_POS_0150  2017-01-01  2017-03-15
12223   001980  2017-03-15      001980  ODS_POS_0940  2017-01-03  2017-01-03
12224   001980  2017-03-15      001980  ODS_POS_0950  2017-01-03  2017-01-03

      is_period
11813      True
11814      True
11815      True
12223      True
12224      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
23626   001980  2017-04-07      001980  ODS_POS_0940  2017-04-01  2017-04-01
25928   001980  2017-04-07      001980  ODS_POS_0940  2017-03-31  2017-03-31
25929   001980  2017-04-07      001980  ODS_POS_0950  2017-03-31  2017-03-31
25930   001980  2017-04-07      001980  ODS_POS_0950  2017-03-31  2017-03-31
25932   001980  2017-04-07      001980  ODS_POS_0950  2017-03-31  2017-03-31

      is_period
23626      True
25928      True
25929      True
25930      True
25932      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4500   001980  2017-03-07      001980  ODS_POS_1360  2017-01-10  2017-01-10
4502   001980  2017-03-07      001980  ODS_POS_1360  2017-01-11  2017-01-11
4503   001980  2017-03-07      001980  ODS_POS_1360  2017-01-12  2017-01-12
4504   001980  2017-03-07      001980  ODS_POS_1360  2017-01-13  2017-01-13

     is_period
4500      True
4502      True
4503      True
4504      True
QQ
      username  query_date report_name           doc start_date    end_date  \
10977   001980  2017-03-14      001980  ODS_POS_1320        NaN  9999-12-31
11106   001980  2017-03-14      001980  ODS_POS_1320        NaN  9999-12-31
11444   001980  2017-03-14      001980  ODS_POS_1320        NaN  9999-12-31

      is_period
10977      True
11106      True
11444      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14799   001980  2017-03-23      001980  ODS_POS_1010  2017-02-27  2017-02-27
14883   001980  2017-03-23      001980  ODS_POS_1010  2017-02-02  2017-02-02
14886   001980  2017-03-23      001980  ODS_POS_1010  2017-02-07  2017-02-07

      is_period
14799      True
14883      True
14886      True
QQ

     username  query_date report_name           doc  start_date    end_date  \
7457   001980  2017-03-06      001980  FMT_POS_0440  2017-01-01  2017-03-06
7763   001980  2017-03-06      001980  FMT_POS_0440  2017-01-01  2017-03-06
7764   001980  2017-03-06      001980  FMT_POS_0440  2017-01-01  2017-03-06

     is_period
7457      True
7763      True
7764      True
QQ
      username  query_date report_name           doc start_date    end_date  \
11382   001980  2017-03-13      001980  ODS_POS_1320        NaN  9999-12-31
11383   001980  2017-03-13      001980  ODS_POS_1320        NaN  9999-12-31

      is_period
11382      True
11383      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
23291   001980  2017-04-06      001980  ODS_POS_0940  2017-03-31  2017-03-31
25280   001980  2017-04-06      001980  ODS_POS_0950  2017-03-31  2017-03-31

      is_period
23291      True
25280      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
261    001980  2017-02-14      001980  FMT_POS_0160  2017-01-03  2017-01-03
1239   001980  2017-02-14      001980  FMT_POS_0290  2016-12-01  2017-02-01

     is_period
261       True
1239      True
QQ
      username  query_date report_name           doc start_date    end_date  \
19653   001980  2017-03-31      001980  ODS_POS_1140        NaN  9999-12-31

      is_period
19653      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
27316   001980  2017-04-11      001980  ODS_POS_1010  2017-02-07  2017-02-07

      is_period
27316      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
13588    user7  2017-03-20       user7  FMT_UNB_0130         NaN  9999-12-31
13591    user7  2017-03-20       user7  FMT_UNB_0130         NaN  9999-12-31
13801    user7  2017-03-20       user7  ODS_UNB_0481  2017-01-03  2017-01-03
13808    user7  2017-03-20       user7  FMT_POS_0160  2017-02-27  2017-02-27
13809    user7  2017-03-20       user7  FMT_POS_0160  2017-03-01  2017-03-01
13811    user7  2017-03-20       user7  FMT_POS_0290  2017-02-27  2017-02-27
13812    user7  2017-03-20       user7  FMT_POS_0290  2017-02-27  2017-02-27
13813    user7  2017-03-20       user7  FMT_POS_0290  2017-02-27  2017-02-27
13819    user7  2017-03-20       user7  FMT_POS_0160         NaN  9999-12-31
13820    user7  2017-03-20       user7  FMT_POS_0160         NaN  9999-12-31
13832    user7  2017-03-20       user7  ODS_UNB_0270  2017-02-02  2017-02-02
13847    user7  2017-03-20       user7  FMT_POS_0160         NaN  9999-12-31
13851    user7  2017-03-20       user7  ODS_POS_1330  2017-02-27  2017-02-27
13852    user7  2017-03-20       user7  ODS_POS_1330  2017-02-07  2017-02-07
13889    user7  2017-03-20       user7  ODS_POS_1330  2017-02-07  2017-02-07
13891    user7  2017-03-20       user7  ODS_POS_1330  2017-02-28  2017-02-28
13899    user7  2017-03-20       user7  ODS_POS_0840         NaN  9999-12-31
13903    user7  2017-03-20       user7  FMT_POS_0160  2017-03-01  2017-03-01
13904    user7  2017-03-20       user7  FMT_POS_0160  2017-03-01  2017-03-01
13905    user7  2017-03-20       user7  FMT_POS_0160  2017-03-01  2017-03-01
13906    user7  2017-03-20       user7  FMT_POS_0160  2017-03-01  2017-03-01
13907    user7  2017-03-20       user7  FMT_POS_0160  2017-03-01  2017-03-01
13908    user7  2017-03-20       user7  FMT_POS_0160  2017-03-01  2017-03-01
13909    user7  2017-03-20       user7  FMT_POS_0160  2017-03-01  2017-03-01
13910    user7  2017-03-20       user7  FMT_POS_0160  2017-03-01  2017-03-01
13947    user7  2017-03-20       user7  FMT_POS_0160  2017-02-27  2017-02-27
13948    user7  2017-03-20       user7  FMT_POS_0160  2017-02-07  2017-02-07
13949    user7  2017-03-20       user7  FMT_POS_0160  2017-03-01  2017-03-01
13950    user7  2017-03-20       user7  FMT_POS_0160  2017-03-01  2017-03-01
13951    user7  2017-03-20       user7  FMT_POS_0160  2017-02-27  2017-02-27
13952    user7  2017-03-20       user7  FMT_POS_0160  2017-03-01  2017-03-01
13953    user7  2017-03-20       user7  FMT_POS_0160  2017-03-01  2017-03-01
13954    user7  2017-03-20       user7  FMT_POS_0160  2017-03-01  2017-03-01
14333    user7  2017-03-20       user7  ODS_UNB_0270  2017-01-03  2017-01-03
14355    user7  2017-03-20       user7  FMT_UNB_0770         NaN  9999-12-31

      is_period
13588      True
13591      True
13801      True
13808      True
13809      True
13811      True
13812      True
13813      True
13819      True
13820      True
13832      True
13847      True
13851      True
13852      True
13889      True
13891      True
13899      True
13903      True
13904      True
13905      True
13906      True
13907      True
13908      True
13909      True
13910      True
13947      True
13948      True
13949      True
13950      True
13951      True
13952      True
13953      True
13954      True
14333      True
14355      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
10746    user7  2017-03-14       user7  FMT_UNB_0201         NaN  9999-12-31
11074    user7  2017-03-14       user7  ODS_UNB_0050  2017-02-02  2017-02-02
11076    user7  2017-03-14       user7  ODS_UNB_0050  2017-02-02  2017-02-02
11080    user7  2017-03-14       user7  ODS_UNB_0050  2017-02-02  2017-02-02
11081    user7  2017-03-14       user7  ODS_UNB_0050  2017-02-02  2017-02-02
11099    user7  2017-03-14       user7  ODS_UNB_0221  2017-02-02  2017-02-02
11102    user7  2017-03-14       user7  ODS_UNB_0050  2017-02-02  2017-02-02
11435    user7  2017-03-14       user7  FMT_UNB_0201         NaN  9999-12-31

      is_period
10746      True
11074      True
11076      True
11080      True
11081      True
11099      True
11102      True
11435      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
29367    user7  2017-04-17       user7  ODS_POS_0990         NaN  9999-12-31
29406    user7  2017-04-17       user7  ODS_POS_1250  2017-04-30  2017-04-30
29408    user7  2017-04-17       user7  ODS_POS_1250  2017-04-05  2017-04-05
29563    user7  2017-04-17       user7  ODS_POS_1250  2017-04-05  2017-04-05
29735    user7  2017-04-17       user7  ODS_POS_1250  2017-04-30  2017-04-30
29790    user7  2017-04-17       user7  ODS_POS_1250  2017-04-30  2017-04-30
29791    user7  2017-04-17       user7  ODS_POS_1250  2017-04-05  2017-04-05
29931    user7  2017-04-17       user7  ODS_POS_0990         NaN  9999-12-31

      is_period
29367      True
29406      True
29408      True
29563      True
29735      True
29790      True
29791      True
29931      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
12911    user7  2017-03-16       user7  ODS_UNB_0750  2017-01-03  2017-01-03
12914    user7  2017-03-16       user7  ODS_UNB_0050  2017-02-02  2017-02-02
12932    user7  2017-03-16       user7  ODS_UNB_0750  2016-02-02  2016-02-02
13024    user7  2017-03-16       user7  ODS_UNB_0750  2017-02-02  2017-02-02
13310    user7  2017-03-16       user7  ODS_UNB_0220  2016-02-02  2016-02-02
13311    user7  2017-03-16       user7  ODS_UNB_0220  2017-01-10  2017-01-10
13327    user7  2017-03-16       user7  ODS_UNB_0460  2017-01-26  2017-01-26
13328    user7  2017-03-16       user7  ODS_UNB_0460  2017-02-02  2017-02-02

      is_period
12911      True
12914      True
12932      True
13024      True
13310      True
13311      True
13327      True
13328      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4174    user7  2017-03-07       user7  ODS_UNB_0510        NaN  9999-12-31
8565    user7  2017-03-07       user7  ODS_UNB_0510        NaN  9999-12-31
9480    user7  2017-03-07       user7  ODS_UNB_0640        NaN  9999-12-31

     is_period
4174      True
8565      True
9480      True
QQ
      username  query_date report_name           doc start_date    end_date  \
13069    user7  2017-03-17       user7  FMT_UNB_0770        NaN  9999-12-31
13070    user7  2017-03-17       user7  FMT_UNB_0770        NaN  9999-12-31
13076    user7  2017-03-17       user7  FMT_UNB_0770        NaN  9999-12-31

      is_period
13069      True
13070      True
13076      True
QQ
      username  query_date report_name           doc start_date    end_date  \
20369    user7  2017-03-27       user7  ODS_POS_1320        NaN  9999-12-31

      is_period
20369      True
QQ
      username  query_date report_name           doc start_date    end_date  \
11418    user7  2017-03-13       user7  FMT_UNB_0201        NaN  9999-12-31

      is_period
11418      True
QQ
      username  query_date report_name           doc start_date    end_date  \
30810    user7  2017-04-18       user7  ODS_POS_0990        NaN  9999-12-31

      is_period
30810      True
QQ

     username  query_date report_name          doc  start_date    end_date  \
4789   000219  2017-03-09      000219  ODS_PA_0270  2016-01-03  2016-01-03
4790   000219  2017-03-09      000219  ODS_PA_0270  2016-01-13  2016-01-13
4794   000219  2017-03-09      000219  ODS_PA_0270  2016-01-03  2016-01-03
4795   000219  2017-03-09      000219  ODS_PA_0270  2016-01-03  2016-01-03
4796   000219  2017-03-09      000219  ODS_PA_0270  2016-01-03  2016-01-03
5801   000219  2017-03-09      000219  ODS_PA_0270  2016-01-13  2016-01-13
5802   000219  2017-03-09      000219  ODS_PA_0270  2016-01-03  2016-01-03
9693   000219  2017-03-09      000219  ODS_PA_0270  2016-01-13  2016-01-13

     is_period
4789      True
4790      True
4794      True
4795      True
4796      True
5801      True
5802      True
9693      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
19047   000219  2017-03-27      000219  FMT_PA_0850  2017-03-01  2017-03-01
19048   000219  2017-03-27      000219  FMT_PA_0850  2017-03-01  2017-03-01
19872   000219  2017-03-27      000219  ODS_PA_0270  2017-03-01  2017-03-01
19982   000219  2017-03-27      000219  FMT_PA_0770  2017-03-01  2017-03-01
19983   000219  2017-03-27      000219  FMT_PA_0770  2017-03-01  2017-03-01
19985   000219  2017-03-27      000219  FMT_PA_0770  2017-03-01  2017-03-01

      is_period
19047      True
19048      True
19872      True
19982      True
19983      True
19985      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
24461   000219  2017-04-08      000219  FMT_PA_0770  2017-03-31  2017-03-31
24462   000219  2017-04-08      000219  FMT_PA_0770  2017-03-31  2017-03-31
24463   000219  2017-04-08      000219  FMT_PA_0770  2017-03-31  2017-03-31
24530   000219  2017-04-08      000219  FMT_PA_0770  2017-03-31  2017-03-31
24531   000219  2017-04-08      000219  FMT_PA_0770  2017-03-31  2017-03-31
24532   000219  2017-04-08      000219  FMT_PA_0770  2017-03-31  2017-03-31

      is_period
24461      True
24462      True
24463      True
24530      True
24531      True
24532      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
4913   000219  2017-03-10      000219  FMT_PA_0730  2017-01-26  2017-01-26
4914   000219  2017-03-10      000219  FMT_PA_0770  2017-01-26  2017-01-26
5243   000219  2017-03-10      000219  FMT_PA_0750  2017-01-13  2017-01-13
5244   000219  2017-03-10      000219  FMT_PA_0730  2017-01-13  2017-01-13
5453   000219  2017-03-10      000219  FMT_PA_0770  2017-01-26  2017-01-26
7613   000219  2017-03-10      000219  FMT_PA_0770  2017-01-26  2017-01-26

     is_period
4913      True
4914      True
5243      True
5244      True
5453      True
7613      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
1230   000219  2017-02-14      000219  ODS_PA_0550_P  2016-11-30  2016-11-30
1232   000219  2017-02-14      000219    ODS_PA_0270  2016-01-01  2016-01-01
1233   000219  2017-02-14      000219    ODS_PA_0270  2016-11-30  2016-11-30
1259   000219  2017-02-14      000219    ODS_PA_0270  2016-11-30  2016-11-30
1261   000219  2017-02-14      000219    ODS_PA_0270  2016-11-30  2016-11-30
6946   000219  2017-02-14      000219  ODS_PA_0550_P  2016-11-30  2016-11-30

     is_period
1230      True
1232      True
1233      True
1259      True
1261      True
6946      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
15876   000219  2017-03-23      000219  FMT_PA_0770  2017-01-26  2017-01-26
17035   000219  2017-03-23      000219  FMT_PA_0770  2017-01-26  2017-01-26
17137   000219  2017-03-23      000219  FMT_PA_0770  2017-01-03  2017-02-26
17138   000219  2017-03-23      000219  FMT_PA_0770  2017-01-26  2017-01-26
17139   000219  2017-03-23      000219  FMT_PA_0770  2017-01-03  2017-02-02

      is_period
15876      True
17035      True
17137      True
17138      True
17139      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
30452   000219  2017-04-20      000219  FMT_PA_0760  2017-04-30  2017-04-30
31816   000219  2017-04-20      000219  ODS_PA_0270  2017-01-03  2017-01-03
31863   000219  2017-04-20      000219  FMT_PA_0760  2017-04-30  2017-04-30
31924   000219  2017-04-20      000219  ODS_PA_0270  2017-04-05  2017-04-05

      is_period
30452      True
31816      True
31863      True
31924      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
4695   000219  2017-03-07      000219  ODS_PA_0270  2017-01-13  2017-01-13
4696   000219  2017-03-07      000219  ODS_PA_0270  2017-01-13  2017-01-13
7586   000219  2017-03-07      000219  ODS_PA_0270  2017-01-13  2017-01-13

     is_period
4695      True
4696      True
7586      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
29401   000219  2017-04-17      000219  FMT_PA_0770  2017-04-30  2017-04-30
29411   000219  2017-04-17      000219  FMT_PA_0760  2017-04-30  2017-04-30
29784   000219  2017-04-17      000219  FMT_PA_0760  2017-04-30  2017-04-30

      is_period
29401      True
29411      True
29784      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
8341   000219  2017-03-02      000219  FMT_PA_0770  2017-01-03  2017-01-03
8346   000219  2017-03-02      000219  FMT_PA_0770  2017-01-03  2017-01-03
8391   000219  2017-03-02      000219  FMT_PA_0770  2017-01-03  2017-01-03

     is_period
8341      True
8346      True
8391      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
27506   000219  2017-04-11      000219  FMT_PA_0750  2016-12-01  2017-12-31
27593   000219  2017-04-11      000219  FMT_PA_0750  2016-12-01  2017-12-01
27660   000219  2017-04-11      000219  FMT_PA_0750  2016-12-01  2017-06-30

      is_period
27506      True
27593      True
27660      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
4026   000219  2017-02-22      000219  ODS_PA_0270  2017-01-03  2017-01-03
6050   000219  2017-02-22      000219  ODS_PA_0270  2016-01-03  2016-01-03
6051   000219  2017-02-22      000219  ODS_PA_0270  2017-01-03  2017-01-03

     is_period
4026      True
6050      True
6051      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
28113   000219  2017-04-15      000219  FMT_PA_0770  2017-03-31  2017-03-31
28114   000219  2017-04-15      000219  FMT_PA_0770  2017-04-05  2017-04-05

      is_period
28113      True
28114      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
23588   000219  2017-04-07      000219  ODS_PA_0270  2017-03-31  2017-03-31
25876   000219  2017-04-07      000219  ODS_PA_0270  2017-03-01  2017-03-01

      is_period
23588      True
25876      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
26618   000219  2017-04-12      000219  FMT_PA_0890  2017-04-01  2017-04-06

      is_period
26618      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
12137   000219  2017-03-15      000219  FMT_PA_0770  2017-01-26  2017-03-16

      is_period
12137      True
QQ
      username  query_date report_name          doc start_date    end_date  \
13364   000219  2017-03-16      000219  FMT_PA_0770        NaN  9999-12-31

      is_period
13364      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
14878   000219  2017-03-21      000219  ODS_PA_0270  2017-02-27  2017-02-27

      is_period
14878      True
QQ
      username  query_date report_name           doc start_date    end_date  \
28123   001867  2017-04-14      001867  ODS_FIN_0430        NaN  9999-12-31
28124   001867  2017-04-14      001867  ODS_FIN_0430        NaN  9999-12-31
28125   001867  2017-04-14      001867  ODS_FIN_0450        NaN  9999-12-31
28126   001867  2017-04-14      001867  ODS_FIN_0460        NaN  9999-12-31
28128   001867  2017-04-14      001867  ODS_FIN_0640        NaN  9999-12-31
28129   001867  2017-04-14      001867  ODS_FIN_0370        NaN  9999-12-31
28137   001867  2017-04-14      001867  ODS_FIN_0370        NaN  9999-12-31
28139   001867  2017-04-14      001867  ODS_FIN_0630        NaN  9999-12-31
28140   001867  2017-04-14      001867  ODS_FIN_0630        NaN  9999-12-31
28141   001867  2017-04-14      001867  ODS_FIN_0740        NaN  9999-12-31
28143   001867  2017-04-14      001867  ODS_FIN_0780        NaN  9999-12-31
29198   001867  2017-04-14      001867  ODS_FIN_0450        NaN  9999-12-31
29199   001867  2017-04-14      001867  ODS_FIN_0450        NaN  9999-12-31
29200   001867  2017-04-14      001867  ODS_FIN_0430        NaN  9999-12-31
29201   001867  2017-04-14      001867  ODS_FIN_0430        NaN  9999-12-31
29204   001867  2017-04-14      001867  ODS_FIN_0740        NaN  9999-12-31
29205   001867  2017-04-14      001867  ODS_FIN_0740        NaN  9999-12-31
29206   001867  2017-04-14      001867  ODS_FIN_0760        NaN  9999-12-31
29207   001867  2017-04-14      001867  ODS_FIN_0760        NaN  9999-12-31
29208   001867  2017-04-14      001867  ODS_FIN_0430        NaN  9999-12-31
29620   001867  2017-04-14      001867  ODS_FIN_1540        NaN  9999-12-31
29621   001867  2017-04-14      001867  ODS_FIN_1540        NaN  9999-12-31
29622   001867  2017-04-14      001867  ODS_FIN_0410        NaN  9999-12-31
29623   001867  2017-04-14      001867  ODS_FIN_1150        NaN  9999-12-31
29624   001867  2017-04-14      001867  ODS_FIN_0420        NaN  9999-12-31
29625   001867  2017-04-14      001867  ODS_FIN_0640        NaN  9999-12-31
29626   001867  2017-04-14      001867  ODS_FIN_0370        NaN  9999-12-31
29629   001867  2017-04-14      001867  ODS_FIN_0740        NaN  9999-12-31
29632   001867  2017-04-14      001867  ODS_FIN_0930        NaN  9999-12-31
29696   001867  2017-04-14      001867  ODS_FIN_0930        NaN  9999-12-31
29697   001867  2017-04-14      001867  ODS_FIN_0780        NaN  9999-12-31

      is_period
28123      True
28124      True
28125      True
28126      True
28128      True
28129      True
28137      True
28139      True
28140      True
28141      True
28143      True
29198      True
29199      True
29200      True
29201      True
29204      True
29205      True
29206      True
29207      True
29208      True
29620      True
29621      True
29622      True
29623      True
29624      True
29625      True
29626      True
29629      True
29632      True
29696      True
29697      True
QQ
      username  query_date report_name           doc start_date    end_date  \
10463   001867  2017-03-11      001867  ODS_FIN_0410        NaN  9999-12-31
10486   001867  2017-03-11      001867  ODS_FIN_0410        NaN  9999-12-31
10495   001867  2017-03-11      001867  ODS_FIN_0410        NaN  9999-12-31
10517   001867  2017-03-11      001867  ODS_FIN_0410        NaN  9999-12-31
10530   001867  2017-03-11      001867  ODS_FIN_0430        NaN  9999-12-31
10536   001867  2017-03-11      001867  ODS_FIN_0660        NaN  9999-12-31
10539   001867  2017-03-11      001867  ODS_FIN_0640        NaN  9999-12-31
10540   001867  2017-03-11      001867  ODS_FIN_0450        NaN  9999-12-31
10541   001867  2017-03-11      001867  ODS_FIN_0450        NaN  9999-12-31
10543   001867  2017-03-11      001867  ODS_FIN_0460        NaN  9999-12-31
10545   001867  2017-03-11      001867  ODS_FIN_0460        NaN  9999-12-31
10546   001867  2017-03-11      001867  ODS_FIN_0560        NaN  9999-12-31
10547   001867  2017-03-11      001867  ODS_FIN_0680        NaN  9999-12-31
10548   001867  2017-03-11      001867  ODS_FIN_0450        NaN  9999-12-31

      is_period
10463      True
10486      True
10495      True
10517      True
10530      True
10536      True
10539      True
10540      True
10541      True
10543      True
10545      True
10546      True
10547      True
10548      True
QQ
      username  query_date report_name           doc start_date    end_date  \
23591   001867  2017-04-07      001867  ODS_FIN_0430        NaN  9999-12-31
23631   001867  2017-04-07      001867  ODS_FIN_0430        NaN  9999-12-31
23635   001867  2017-04-07      001867  ODS_FIN_1550        NaN  9999-12-31
23641   001867  2017-04-07      001867  ODS_FIN_0930        NaN  9999-12-31
23642   001867  2017-04-07      001867  ODS_FIN_0370        NaN  9999-12-31
25205   001867  2017-04-07      001867  ODS_FIN_0950        NaN  9999-12-31

      is_period
23591      True
23631      True
23635      True
23641      True
23642      True
25205      True
QQ
      username  query_date report_name           doc start_date    end_date  \
15495   001867  2017-03-21      001867  ODS_FIN_0430        NaN  9999-12-31
15497   001867  2017-03-21      001867  ODS_FIN_0740        NaN  9999-12-31
15498   001867  2017-03-21      001867  ODS_FIN_0430        NaN  9999-12-31
15499   001867  2017-03-21      001867  ODS_FIN_0430        NaN  9999-12-31
15501   001867  2017-03-21      001867  ODS_FIN_0430        NaN  9999-12-31

      is_period
15495      True
15497      True
15498      True
15499      True
15501      True
QQ
      username  query_date report_name           doc start_date    end_date  \
18812   001867  2017-03-27      001867  ODS_FIN_0430        NaN  9999-12-31
18813   001867  2017-03-27      001867  ODS_FIN_0410        NaN  9999-12-31
18814   001867  2017-03-27      001867  ODS_FIN_0640        NaN  9999-12-31
19056   001867  2017-03-27      001867  ODS_FIN_0410        NaN  9999-12-31

      is_period
18812      True
18813      True
18814      True
19056      True
QQ
      username  query_date report_name           doc start_date    end_date  \
20682   001867  2017-03-28      001867  ODS_FIN_1540        NaN  9999-12-31
20683   001867  2017-03-28      001867  ODS_FIN_0410        NaN  9999-12-31

      is_period
20682      True
20683      True
QQ
      username  query_date report_name           doc start_date    end_date  \
17962   001867  2017-03-30      001867  ODS_FIN_1540        NaN  9999-12-31

      is_period
17962      True
QQ
      username  query_date report_name           doc start_date    end_date  \
22279   001867  2017-04-05      001867  ODS_FIN_0530        NaN  9999-12-31

      is_period
22279      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
21328   dennis  2017-04-05      dennis  ODS_UNB_0231  2017-02-07  2017-02-07
21329   dennis  2017-04-05      dennis  ODS_UNB_0231  2017-03-01  2017-03-01
21330   dennis  2017-04-05      dennis  ODS_UNB_0231  2017-03-31  2017-03-31
21332   dennis  2017-04-05      dennis  ODS_UNB_0232  2017-02-07  2017-02-07
21334   dennis  2017-04-05      dennis  ODS_UNB_0232  2017-03-01  2017-03-01
21335   dennis  2017-04-05      dennis  ODS_UNB_0232  2017-03-31  2017-03-31
21345   dennis  2017-04-05      dennis  ODS_INV_7150  2017-01-01  2017-04-01
21399   dennis  2017-04-05      dennis  ODS_INV_7150  2016-01-01  2016-04-01
21400   dennis  2017-04-05      dennis  ODS_INV_7150  2017-01-01  2017-04-01
21401   dennis  2017-04-05      dennis  ODS_INV_7150  2017-01-01  2017-04-01
21504   dennis  2017-04-05      dennis  ODS_INV_7250  2017-03-01  2017-04-01
21505   dennis  2017-04-05      dennis  ODS_INV_7250  2017-03-01  2017-04-01
21507   dennis  2017-04-05      dennis  ODS_INV_7250  2017-03-01  2017-06-01
21508   dennis  2017-04-05      dennis  ODS_INV_7250  2017-03-01  2017-06-01
21509   dennis  2017-04-05      dennis  ODS_INV_7250  2017-03-15  2017-05-01
21510   dennis  2017-04-05      dennis  ODS_INV_7250  2017-03-15  2017-05-01

      is_period
21328      True
21329      True
21330      True
21332      True
21334      True
21335      True
21345      True
21399      True
21400      True
21401      True
21504      True
21505      True
21507      True
21508      True
21509      True
21510      True
QQ
      username  query_date report_name           doc start_date    end_date  \
10566   dennis  2017-04-12      dennis  ODS_INV_7300        NaN  9999-12-31
14400   dennis  2017-04-12      dennis  ODS_INV_7300        NaN  9999-12-31
26401   dennis  2017-04-12      dennis   ODS_SC_6210        NaN  9999-12-31
26402   dennis  2017-04-12      dennis   ODS_SC_6211        NaN  9999-12-31
26592   dennis  2017-04-12      dennis   ODS_SC_6210        NaN  9999-12-31
26593   dennis  2017-04-12      dennis   ODS_SC_6211        NaN  9999-12-31
26594   dennis  2017-04-12      dennis   ODS_SC_6211        NaN  9999-12-31
26597   dennis  2017-04-12      dennis   ODS_SC_6210        NaN  9999-12-31
26613   dennis  2017-04-12      dennis   ODS_SC_6210        NaN  9999-12-31
26614   dennis  2017-04-12      dennis   ODS_SC_6211        NaN  9999-12-31
26621   dennis  2017-04-12      dennis   ODS_SC_6210        NaN  9999-12-31
27405   dennis  2017-04-12      dennis   ODS_SC_6210        NaN  9999-12-31

      is_period
10566      True
14400      True
26401      True
26402      True
26592      True
26593      True
26594      True
26597      True
26613      True
26614      True
26621      True
27405      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
28954   dennis  2017-04-17      dennis  ODS_UNB_0050  2017-04-05  2017-04-05
28955   dennis  2017-04-17      dennis  ODS_UNB_0050  2017-04-05  2017-04-05
28980   dennis  2017-04-17      dennis  ODS_UNB_0050  2017-04-05  2017-04-05
29134   dennis  2017-04-17      dennis  ODS_UNB_0050  2017-04-05  2017-04-05
29565   dennis  2017-04-17      dennis  ODS_UNB_0050  2017-04-05  2017-04-05
29748   dennis  2017-04-17      dennis  ODS_UNB_0050  2017-04-05  2017-04-05
29781   dennis  2017-04-17      dennis  ODS_UNB_0050  2017-04-05  2017-04-05
30174   dennis  2017-04-17      dennis  ODS_UNB_0050  2017-04-05  2017-04-05
30182   dennis  2017-04-17      dennis  ODS_UNB_0050  2017-04-05  2017-04-05
30183   dennis  2017-04-17      dennis  ODS_UNB_0050  2017-04-05  2017-04-05

      is_period
28954      True
28955      True
28980      True
29134      True
29565      True
29748      True
29781      True
30174      True
30182      True
30183      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14580   dennis  2017-03-21      dennis  ODS_POS_0880  2016-02-07  2016-02-07
14581   dennis  2017-03-21      dennis  ODS_POS_0880  2017-02-07  2017-02-07
14661   dennis  2017-03-21      dennis  ODS_POS_0880  2017-02-02  2017-02-02
15492   dennis  2017-03-21      dennis  ODS_POS_0880  2016-02-07  2016-02-07
15493   dennis  2017-03-21      dennis  ODS_POS_0880  2017-02-07  2017-02-07
15494   dennis  2017-03-21      dennis  ODS_POS_0880  2017-02-07  2017-02-07
15496   dennis  2017-03-21      dennis  ODS_POS_0880  2017-02-07  2017-02-07

      is_period
14580      True
14581      True
14661      True
15492      True
15493      True
15494      True
15496      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
28107   dennis  2017-04-15      dennis  ODS_POS_1400         NaN  9999-12-31
28112   dennis  2017-04-15      dennis  ODS_UNB_0050  2017-02-02  2017-02-02
28156   dennis  2017-04-15      dennis   ODS_SC_6030         NaN  9999-12-31
28573   dennis  2017-04-15      dennis   ODS_SC_6210  2017-04-05  2017-04-05
30260   dennis  2017-04-15      dennis   ODS_SC_6210  2017-04-05  2017-04-05
30262   dennis  2017-04-15      dennis   ODS_SC_6211  2017-04-05  2017-04-05

      is_period
28107      True
28112      True
28156      True
28573      True
30260      True
30262      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
29457   dennis  2017-04-14      dennis  ODS_SC_6211  2017-04-05  2017-04-05
29536   dennis  2017-04-14      dennis  ODS_SC_6211  2017-04-05  2017-04-05
29539   dennis  2017-04-14      dennis  ODS_SC_6211  2017-04-05  2017-04-05
29541   dennis  2017-04-14      dennis  ODS_SC_6211  2017-04-05  2017-04-05

      is_period
29457      True
29536      True
29539      True
29541      True
QQ

     username  query_date report_name           doc  start_date    end_date  \
244    000761  2017-02-09      000761  FMT_POS_1120  2016-04-04  2017-02-28
564    000761  2017-02-09      000761  FMT_POS_0010  2016-07-05  2017-02-28
565    000761  2017-02-09      000761  FMT_POS_0020  2016-07-05  2017-02-28
566    000761  2017-02-09      000761  FMT_POS_1120  2016-07-05  2017-02-28
567    000761  2017-02-09      000761  FMT_POS_0040  2016-07-05  2017-02-28
568    000761  2017-02-09      000761  FMT_POS_0260  2016-07-05  2017-02-28
569    000761  2017-02-09      000761  FMT_POS_0030  2016-07-05  2017-02-28
870    000761  2017-02-09      000761  FMT_POS_1120  2016-04-04  2017-02-28
956    000761  2017-02-09      000761  FMT_POS_1120  2016-04-04  2017-02-28
6288   000761  2017-02-09      000761  FMT_POS_0010  2016-03-07  2017-02-28
6289   000761  2017-02-09      000761  FMT_POS_0020  2016-03-07  2017-02-28
6290   000761  2017-02-09      000761  FMT_POS_1120  2016-03-07  2017-02-28
6291   000761  2017-02-09      000761  FMT_POS_0040  2016-03-07  2017-02-28
6292   000761  2017-02-09      000761  FMT_POS_0260  2016-03-07  2017-02-28
6293   000761  2017-02-09      000761  FMT_POS_0030  2016-03-07  2017-02-28
6294   000761  2017-02-09      000761  FMT_POS_0010  2016-05-05  2017-02-28
6295   000761  2017-02-09      000761  FMT_POS_0020  2016-05-05  2017-02-28
6296   000761  2017-02-09      000761  FMT_POS_1120  2016-05-05  2017-02-28
6297   000761  2017-02-09      000761  FMT_POS_0040  2016-05-05  2017-02-28
6298   000761  2017-02-09      000761  FMT_POS_0260  2016-05-05  2017-02-28
6299   000761  2017-02-09      000761  FMT_POS_0030  2016-05-05  2017-02-28
6302   000761  2017-02-09      000761  FMT_POS_0010  2016-07-05  2017-02-28
6303   000761  2017-02-09      000761  FMT_POS_0020  2016-07-05  2017-02-28
6304   000761  2017-02-09      000761  FMT_POS_1120  2016-07-05  2017-02-28
6305   000761  2017-02-09      000761  FMT_POS_0040  2016-07-05  2017-02-28
6306   000761  2017-02-09      000761  FMT_POS_0260  2016-07-05  2017-02-28
6307   000761  2017-02-09      000761  FMT_POS_0030  2016-07-05  2017-02-28
6319   000761  2017-02-09      000761  FMT_POS_0250  2016-07-04  2017-02-28
7185   000761  2017-02-09      000761  FMT_POS_0010  2016-04-04  2017-02-28
7186   000761  2017-02-09      000761  FMT_POS_0020  2016-04-04  2017-02-28
7187   000761  2017-02-09      000761  FMT_POS_1120  2016-04-04  2017-02-28
7188   000761  2017-02-09      000761  FMT_POS_0040  2016-04-04  2017-02-28
7189   000761  2017-02-09      000761  FMT_POS_0260  2016-04-04  2017-02-28
7190   000761  2017-02-09      000761  FMT_POS_0030  2016-04-04  2017-02-28

     is_period
244       True
564       True
565       True
566       True
567       True
568       True
569       True
870       True
956       True
6288      True
6289      True
6290      True
6291      True
6292      True
6293      True
6294      True
6295      True
6296      True
6297      True
6298      True
6299      True
6302      True
6303      True
6304      True
6305      True
6306      True
6307      True
6319      True
7185      True
7186      True
7187      True
7188      True
7189      True
7190      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
1473   000761  2017-02-13      000761  ODS_POS_0780  2016-09-30  2016-09-30
5317   000761  2017-02-13      000761  ODS_POS_0780  2016-12-30  2016-12-30
5326   000761  2017-02-13      000761  ODS_POS_0780  2016-12-30  2016-12-30
5328   000761  2017-02-13      000761  ODS_POS_0780  2016-09-01  2016-09-01
5329   000761  2017-02-13      000761  ODS_POS_0780  2016-09-30  2016-09-30
5330   000761  2017-02-13      000761  ODS_POS_0780  2016-09-30  2016-09-30
5397   000761  2017-02-13      000761  ODS_POS_0780  2016-10-28  2016-10-28
6842   000761  2017-02-13      000761  ODS_POS_0780  2016-10-30  2016-10-30
6843   000761  2017-02-13      000761  ODS_POS_0780  2016-10-28  2016-10-28

     is_period
1473      True
5317      True
5326      True
5328      True
5329      True
5330      True
5397      True
6842      True
6843      True
QQ
    username  query_date report_name           doc  start_date    end_date  \
881   000761  2017-02-10      000761  FMT_POS_0010  2016-04-04  2017-02-28
882   000761  2017-02-10      000761  FMT_POS_0020  2016-04-04  2017-02-28
883   000761  2017-02-10      000761  FMT_POS_1120  2016-04-04  2017-02-28
884   000761  2017-02-10      000761  FMT_POS_0040  2016-04-04  2017-02-28
885   000761  2017-02-10      000761  FMT_POS_0260  2016-04-04  2017-02-28
886   000761  2017-02-10      000761  FMT_POS_0030  2016-04-04  2017-02-28

    is_period
881      True
882      True
883      True
884      True
885      True
886      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
2105   000761  2017-02-16      000761  ODS_POS_1280  2017-01-02  2017-01-02
2106   000761  2017-02-16      000761  ODS_POS_1280  2017-01-02  2017-01-02
2107   000761  2017-02-16      000761  ODS_POS_1280  2017-01-02  2017-01-02
7194   000761  2017-02-16      000761  ODS_POS_1280  2017-01-02  2017-01-02
7195   000761  2017-02-16      000761  ODS_POS_1280  2017-01-02  2017-01-02

     is_period
2105      True
2106      True
2107      True
7194      True
7195      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
869    000761  2017-02-08      000761  ODS_POS_1330  2017-01-30  2017-01-30
4920   000761  2017-02-08      000761  ODS_POS_1340  2016-12-31  2016-12-31

     is_period
869       True
4920      True
QQ
      username  query_date report_name           doc start_date    end_date  \
26803   user12  2017-04-12      user12  FMT_POS_1120        NaN  9999-12-31
26804   user12  2017-04-12      user12  FMT_POS_1120        NaN  9999-12-31
26805   user12  2017-04-12      user12  FMT_POS_1120        NaN  9999-12-31
26815   user12  2017-04-12      user12  FMT_POS_1120        NaN  9999-12-31
26816   user12  2017-04-12      user12  FMT_POS_1120        NaN  9999-12-31
26817   user12  2017-04-12      user12  FMT_POS_1120        NaN  9999-12-31
26818   user12  2017-04-12      user12  FMT_POS_1120        NaN  9999-12-31
26819   user12  2017-04-12      user12  FMT_POS_1120        NaN  9999-12-31
26820   user12  2017-04-12      user12  FMT_POS_1120        NaN  9999-12-31
26821   user12  2017-04-12      user12  FMT_POS_1120        NaN  9999-12-31
26825   user12  2017-04-12      user12  FMT_POS_1120        NaN  9999-12-31

      is_period
26803      True
26804      True
26805      True
26815      True
26816      True
26817      True
26818      True
26819      True
26820      True
26821      True
26825      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
10721   user12  2017-03-13      user12  FMT_POS_0160  2017-01-26  2017-01-26
10722   user12  2017-03-13      user12  FMT_POS_0160  2017-02-02  2017-02-02
10728   user12  2017-03-13      user12  FMT_POS_0160  2017-02-07  2017-02-07
10729   user12  2017-03-13      user12  FMT_POS_0160  2017-02-07  2017-02-07
10730   user12  2017-03-13      user12  FMT_POS_0160  2017-02-07  2017-02-07
11402   user12  2017-03-13      user12  ODS_POS_1320         NaN  9999-12-31
11403   user12  2017-03-13      user12  ODS_POS_1320         NaN  9999-12-31
11427   user12  2017-03-13      user12  FMT_POS_0160  2017-02-07  2017-02-07
11524   user12  2017-03-13      user12  FMT_POS_0160  2017-02-07  2017-02-07

      is_period
10721      True
10722      True
10728      True
10729      True
10730      True
11402      True
11403      True
11427      True
11524      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
19182   user12  2017-03-28      user12  FMT_POS_0250  2017-03-01  2014-03-29
19183   user12  2017-03-28      user12  FMT_POS_0250  2017-03-01  2014-03-29
19184   user12  2017-03-28      user12  FMT_POS_0250  2017-03-01  2014-03-29
19187   user12  2017-03-28      user12  FMT_POS_0250  2017-03-01  2014-03-29
19827   user12  2017-03-28      user12  FMT_POS_0160         NaN  9999-12-31
19828   user12  2017-03-28      user12  FMT_POS_0160         NaN  9999-12-31
20741   user12  2017-03-28      user12  FMT_POS_0250  2017-03-01  2017-03-31

      is_period
19182      True
19183      True
19184      True
19187      True
19827      True
19828      True
20741      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
28118   user12  2017-04-14      user12  FMT_POS_0250  2017-04-14  2017-04-14
29611   user12  2017-04-14      user12  FMT_POS_0250  2017-04-01  2017-04-15
29612   user12  2017-04-14      user12  FMT_POS_0250  2017-04-01  2017-04-15
29613   user12  2017-04-14      user12  FMT_POS_0250  2017-04-01  2017-04-14
29628   user12  2017-04-14      user12  FMT_POS_0250  2017-04-01  2017-04-14
29630   user12  2017-04-14      user12  FMT_POS_0250  2017-04-01  2017-04-14

      is_period
28118      True
29611      True
29612      True
29613      True
29628      True
29630      True
QQ
      username  query_date report_name           doc start_date    end_date  \
14781   user12  2017-03-23      user12  FMT_POS_1120        NaN  9999-12-31
17152   user12  2017-03-23      user12  FMT_POS_0160        NaN  9999-12-31
17153   user12  2017-03-23      user12  FMT_POS_0160        NaN  9999-12-31
17368   user12  2017-03-23      user12  FMT_POS_0160        NaN  9999-12-31

      is_period
14781      True
17152      True
17153      True
17368      True
QQ
      username  query_date report_name           doc start_date    end_date  \
27262   user12  2017-04-11      user12  FMT_POS_0160        NaN  9999-12-31
27263   user12  2017-04-11      user12  FMT_POS_0160        NaN  9999-12-31
27275   user12  2017-04-11      user12  FMT_POS_0160        NaN  9999-12-31
27276   user12  2017-04-11      user12  FMT_POS_0160        NaN  9999-12-31

      is_period
27262      True
27263      True
27275      True
27276      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
13547   user12  2017-03-18      user12  ODS_POS_1330  2017-02-07  2017-02-07
13548   user12  2017-03-18      user12  ODS_POS_1330  2017-02-02  2017-02-02
13549   user12  2017-03-18      user12  ODS_POS_1330  2017-01-26  2017-01-26

      is_period
13547      True
13548      True
13549      True
QQ
     username  query_date report_name           doc start_date    end_date  \
5363   user12  2017-03-10      user12  ODS_POS_0990        NaN  9999-12-31
5364   user12  2017-03-10      user12  ODS_POS_0990        NaN  9999-12-31

     is_period
5363      True
5364      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
13717   user12  2017-03-20      user12  FMT_POS_0250  2017-02-27  2017-03-21
14397   user12  2017-03-20      user12  FMT_POS_0250  2017-03-01  2017-03-21

      is_period
13717      True
14397      True
QQ
      username  query_date report_name           doc start_date    end_date  \
19695   user12  2017-03-27      user12  ODS_POS_0990        NaN  9999-12-31
19696   user12  2017-03-27      user12  ODS_POS_0990        NaN  9999-12-31

      is_period
19695      True
19696      True
QQ
      username  query_date report_name           doc start_date    end_date  \
15715   user12  2017-03-22      user12  ODS_POS_0990        NaN  9999-12-31
15716   user12  2017-03-22      user12  ODS_POS_0990        NaN  9999-12-31

      is_period
15715      True
15716      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
5572   user12  2017-02-15      user12  FMT_POS_0250  2017-01-03  2017-01-03
6963   user12  2017-02-15      user12  FMT_POS_0250  2017-01-02  2017-01-04

     is_period
5572      True
6963      True
QQ

      username  query_date report_name           doc start_date    end_date  \
26413   user12  2017-04-10      user12  FMT_POS_1120        NaN  9999-12-31

      is_period
26413      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
6857   user12  2017-02-14      user12  FMT_POS_0290  2017-01-03  2017-01-03

     is_period
6857      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
1346   user13  2017-02-13      user13  FMT_POS_0160  2017-01-03  2017-01-03
1347   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1348   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1349   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1350   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1351   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1352   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1353   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1354   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1355   user13  2017-02-13      user13  FMT_POS_0160  2017-01-03  2017-01-03
1356   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1357   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1358   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1359   user13  2017-02-13      user13  FMT_POS_0160  2017-01-03  2017-01-03
1360   user13  2017-02-13      user13  FMT_POS_0160  2017-01-03  2017-01-03
1361   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1362   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1363   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1364   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1365   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1366   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1367   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1368   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1369   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1370   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1371   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1372   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1373   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
1376   user13  2017-02-13      user13  FMT_POS_0370  2017-01-03  2017-01-03
6875   user13  2017-02-13      user13  FMT_POS_0160  2017-01-03  2017-01-03
6880   user13  2017-02-13      user13  FMT_POS_0160  2017-01-03  2017-01-03
6881   user13  2017-02-13      user13  FMT_POS_0160  2017-01-03  2017-01-03
6882   user13  2017-02-13      user13  FMT_POS_0160  2017-01-03  2017-01-03
6883   user13  2017-02-13      user13  FMT_POS_0160  2017-01-03  2017-01-03
6884   user13  2017-02-13      user13  FMT_POS_0160  2017-01-03  2017-01-03

     is_period
1346      True
1347      True
1348      True
1349      True
1350      True
1351      True
1352      True
1353      True
1354      True
1355      True
1356      True
1357      True
1358      True
1359      True
1360      True
1361      True
1362      True
1363      True
1364      True
1365      True
1366      True
1367      True
1368      True
1369      True
1370      True
1371      True
1372      True
1373      True
1376      True
6875      True
6880      True
6881      True
6882      True
6883      True
6884      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4941   user13  2017-03-10      user13  ODS_POS_1320         NaN  9999-12-31
5230   user13  2017-03-10      user13  FMT_POS_0160  2017-02-02  2017-02-02
5234   user13  2017-03-10      user13  FMT_POS_0160  2017-02-02  2017-02-02
5235   user13  2017-03-10      user13  FMT_POS_0160  2017-02-02  2017-02-02
8498   user13  2017-03-10      user13  ODS_POS_0990         NaN  9999-12-31
9337   user13  2017-03-10      user13  FMT_POS_0160  2017-01-26  2017-01-26
9338   user13  2017-03-10      user13  FMT_POS_0160  2017-01-13  2017-01-13
9339   user13  2017-03-10      user13  FMT_POS_0160  2017-02-02  2017-02-02
9340   user13  2017-03-10      user13  FMT_POS_0160  2017-02-02  2017-02-02

     is_period
4941      True
5230      True
5234      True
5235      True
8498      True
9337      True
9338      True
9339      True
9340      True
QQ
     username  query_date report_name           doc start_date    end_date  \
8658   user13  2017-03-06      user13  ODS_POS_7030        NaN  9999-12-31
8679   user13  2017-03-06      user13  ODS_POS_7030        NaN  9999-12-31
8997   user13  2017-03-06      user13  ODS_POS_7150        NaN  9999-12-31
8998   user13  2017-03-06      user13  ODS_POS_7150        NaN  9999-12-31
9028   user13  2017-03-06      user13  ODS_POS_7150        NaN  9999-12-31
9081   user13  2017-03-06      user13  ODS_POS_7030        NaN  9999-12-31

     is_period
8658      True
8679      True
8997      True
8998      True
9028      True
9081      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
415    user13  2017-02-14      user13  FMT_POS_0190         NaN  9999-12-31
416    user13  2017-02-14      user13  FMT_POS_0190         NaN  9999-12-31
562    user13  2017-02-14      user13  FMT_POS_0190         NaN  9999-12-31
6858   user13  2017-02-14      user13  FMT_POS_0290  2017-01-03  2017-01-03

     is_period
415       True
416       True
562       True
6858      True
QQ
     username  query_date report_name           doc start_date    end_date  \
7856   000124  2017-03-06      000124  ODS_FIN_0810        NaN  9999-12-31
7860   000124  2017-03-06      000124  ODS_FIN_0891        NaN  9999-12-31
7861   000124  2017-03-06      000124  ODS_FIN_0880        NaN  9999-12-31
8008   000124  2017-03-06      000124  ODS_FIN_0880        NaN  9999-12-31
8009   000124  2017-03-06      000124  ODS_FIN_0860        NaN  9999-12-31
8010   000124  2017-03-06      000124  ODS_FIN_0770        NaN  9999-12-31
8011   000124  2017-03-06      000124  ODS_FIN_0830        NaN  9999-12-31
8046   000124  2017-03-06      000124  ODS_FIN_0810        NaN  9999-12-31
8067   000124  2017-03-06      000124  ODS_FIN_0610        NaN  9999-12-31
8068   000124  2017-03-06      000124  ODS_FIN_0860        NaN  9999-12-31
8069   000124  2017-03-06      000124  ODS_FIN_0860        NaN  9999-12-31
8070   000124  2017-03-06      000124  ODS_FIN_0892        NaN  9999-12-31
8072   000124  2017-03-06      000124  ODS_FIN_0890        NaN  9999-12-31
8169   000124  2017-03-06      000124  ODS_FIN_0830        NaN  9999-12-31
8171   000124  2017-03-06      000124  ODS_FIN_0830        NaN  9999-12-31

     is_period
7856      True
7860      True
7861      True
8008      True
8009      True
8010      True
8011      True
8046      True
8067      True
8068      True
8069      True
8070      True
8072      True
8169      True
8171      True
QQ
     username  query_date report_name           doc start_date    end_date  \
467    000124  2017-02-09      000124  ODS_FIN_0830        NaN  9999-12-31
471    000124  2017-02-09      000124  ODS_FIN_0810        NaN  9999-12-31
5294   000124  2017-02-09      000124  ODS_FIN_0810        NaN  9999-12-31
6208   000124  2017-02-09      000124  ODS_FIN_0830        NaN  9999-12-31
6210   000124  2017-02-09      000124  ODS_FIN_0810        NaN  9999-12-31
6211   000124  2017-02-09      000124  ODS_FIN_0810        NaN  9999-12-31
6212   000124  2017-02-09      000124  ODS_FIN_0810        NaN  9999-12-31
6279   000124  2017-02-09      000124  ODS_FIN_0830        NaN  9999-12-31
6345   000124  2017-02-09      000124  ODS_FIN_0880        NaN  9999-12-31

     is_period
467       True
471       True
5294      True
6208      True
6210      True
6211      True
6212      True
6279      True
6345      True
QQ
     username  query_date report_name           doc start_date    end_date  \
178    000124  2017-02-08      000124  ODS_FIN_0810        NaN  9999-12-31
179    000124  2017-02-08      000124  ODS_FIN_0810        NaN  9999-12-31
180    000124  2017-02-08      000124  ODS_FIN_0810        NaN  9999-12-31
4927   000124  2017-02-08      000124  ODS_FIN_0860        NaN  9999-12-31
4931   000124  2017-02-08      000124  ODS_FIN_0860        NaN  9999-12-31
5703   000124  2017-02-08      000124  ODS_FIN_0860        NaN  9999-12-31
5707   000124  2017-02-08      000124  ODS_FIN_0860        NaN  9999-12-31

     is_period
178       True
179       True
180       True
4927      True
4931      True
5703      True
5707      True
QQ
     username  query_date report_name           doc start_date    end_date  \
8489   000124  2017-03-10      000124  ODS_FIN_0810        NaN  9999-12-31
8497   000124  2017-03-10      000124  ODS_FIN_0860        NaN  9999-12-31
8506   000124  2017-03-10      000124  ODS_FIN_0892        NaN  9999-12-31
9223   000124  2017-03-10      000124  ODS_FIN_0830        NaN  9999-12-31
9229   000124  2017-03-10      000124  ODS_FIN_0770        NaN  9999-12-31
9230   000124  2017-03-10      000124  ODS_FIN_0880        NaN  9999-12-31
9231   000124  2017-03-10      000124  ODS_FIN_0770        NaN  9999-12-31

     is_period
8489      True
8497      True
8506      True
9223      True
9229      True
9230      True
9231      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4192   000124  2017-02-23      000124  ODS_FIN_0770        NaN  9999-12-31
4193   000124  2017-02-23      000124  ODS_FIN_0810        NaN  9999-12-31
4204   000124  2017-02-23      000124  ODS_FIN_0830        NaN  9999-12-31
4205   000124  2017-02-23      000124  ODS_FIN_0880        NaN  9999-12-31
4246   000124  2017-02-23      000124  ODS_FIN_0770        NaN  9999-12-31
6421   000124  2017-02-23      000124  ODS_FIN_0860        NaN  9999-12-31

     is_period
4192      True
4193      True
4204      True
4205      True
4246      True
6421      True
QQ
     username  query_date report_name           doc start_date    end_date  \
3996   000124  2017-02-22      000124  ODS_FIN_0810        NaN  9999-12-31
4007   000124  2017-02-22      000124  ODS_FIN_0810        NaN  9999-12-31
4008   000124  2017-02-22      000124  ODS_FIN_0810        NaN  9999-12-31
4057   000124  2017-02-22      000124  ODS_FIN_0830        NaN  9999-12-31

     is_period
3996      True
4007      True
4008      True
4057      True
QQ
      username  query_date report_name           doc start_date    end_date  \
12255   000124  2017-03-17      000124  ODS_FIN_0860        NaN  9999-12-31
12305   000124  2017-03-17      000124  ODS_FIN_0860        NaN  9999-12-31
13131   000124  2017-03-17      000124  ODS_FIN_0860        NaN  9999-12-31

      is_period
12255      True
12305      True
13131      True
QQ
      username  query_date report_name           doc start_date    end_date  \
10837   000124  2017-03-14      000124  ODS_FIN_0810        NaN  9999-12-31
12220   000124  2017-03-14      000124  ODS_FIN_0830        NaN  9999-12-31
12221   000124  2017-03-14      000124  ODS_FIN_0830        NaN  9999-12-31

      is_period
10837      True
12220      True
12221      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
16932    jimmy  2017-03-24       jimmy  ODS_CLM_0370  2017-02-28  2017-02-28
16933    jimmy  2017-03-24       jimmy  ODS_CLM_0370  2017-02-28  2017-02-28
16934    jimmy  2017-03-24       jimmy  ODS_CLM_0370  2017-02-28  2017-02-28
16952    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2031-01-01
16953    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2031-01-01
17117    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2031-01-01
17118    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2031-01-01
17119    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2031-01-01
17120    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2031-01-01
17121    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2031-01-01
17127    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2031-01-01
17164    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2031-01-01
17165    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2031-01-01
17166    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2031-01-01
17167    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2031-01-01
17169    jimmy  2017-03-24       jimmy  ODS_CLM_0400  2016-01-01  2016-01-01
17170    jimmy  2017-03-24       jimmy   ODS_PA_0720         NaN  9999-12-31
17171    jimmy  2017-03-24       jimmy  ODS_POS_1290  2016-01-01  2016-01-01
17345    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2021-01-01
17369    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2021-01-01
17370    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2021-01-01
17371    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2021-01-01
17372    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2021-01-01
17373    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2021-01-01
17374    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2021-01-01
17391    jimmy  2017-03-24       jimmy  ODS_FIN_0940         NaN  9999-12-31
17442    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2031-01-01
17459    jimmy  2017-03-24       jimmy  ODS_FIN_0310         NaN  9999-12-31
17462    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2031-01-01
17463    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2031-01-01
17464    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2031-01-01
17466    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2031-01-01
17468    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2031-01-01
17470    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2031-01-01
17471    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2031-01-01
17472    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2031-01-01
17475    jimmy  2017-03-24       jimmy   FMT_PA_1000  2011-01-01  2031-01-01

      is_period
16932      True
16933      True
16934      True
16952      True
16953      True
17117      True
17118      True
17119      True
17120      True
17121      True
17127      True
17164      True
17165      True
17166      True
17167      True
17169      True
17170      True
17171      True
17345      True
17369      True
17370      True
17371      True
17372      True
17373      True
17374      True
17391      True
17442      True
17459      True
17462      True
17463      True
17464      True
17466      True
17468      True
17470      True
17471      True
17472      True
17475      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4196    jimmy  2017-03-07       jimmy  ODS_FIN_1350        NaN  9999-12-31
4197    jimmy  2017-03-07       jimmy  ODS_FIN_1350        NaN  9999-12-31
4506    jimmy  2017-03-07       jimmy  ODS_FIN_1350        NaN  9999-12-31
4508    jimmy  2017-03-07       jimmy  ODS_FIN_1350        NaN  9999-12-31
5398    jimmy  2017-03-07       jimmy  ODS_FIN_1350        NaN  9999-12-31

     is_period
4196      True
4197      True
4506      True
4508      True
5398      True
QQ
      username  query_date report_name          doc start_date    end_date  \
17027    jimmy  2017-03-23       jimmy  ODS_PA_0391        NaN  9999-12-31
17135    jimmy  2017-03-23       jimmy  ODS_PA_0381        NaN  9999-12-31

      is_period
17027      True
17135      True
QQ
      username  query_date report_name           doc start_date    end_date  \
11050    jimmy  2017-03-14       jimmy  ODS_INV_7230        NaN  9999-12-31
11664    jimmy  2017-03-14       jimmy  ODS_INV_7230        NaN  9999-12-31

      is_period
11050      True
11664      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
5809    jimmy  2017-03-03       jimmy  ODS_CLM_0510  2017-01-10  2017-01-10
6002    jimmy  2017-03-03       jimmy  ODS_CLM_0510  2017-01-10  2017-01-10

     is_period
5809      True
6002      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
8643    jimmy  2017-03-10       jimmy  ODS_CLM_0571  2016-01-01  2016-01-01

     is_period
8643      True
QQ

      username  query_date report_name           doc start_date    end_date  \
24157    jimmy  2017-04-06       jimmy  ODS_FIN_1140        NaN  9999-12-31

      is_period
24157      True
QQ
      username  query_date report_name           doc start_date    end_date  \
11384    jimmy  2017-03-13       jimmy  ODS_FIN_1000        NaN  9999-12-31

      is_period
11384      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4238    jimmy  2017-02-23       jimmy  ODS_POS_0770  2017-01-02  2017-01-02

     is_period
4238      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
26386    jimmy  2017-04-11       jimmy  ODS_POS_1460  2017-04-05  2017-04-05

      is_period
26386      True
QQ
     username  query_date report_name           doc start_date    end_date  \
1476   000232  2017-02-15      000232  ODS_FIN_0330        NaN  9999-12-31
1477   000232  2017-02-15      000232  ODS_FIN_0340        NaN  9999-12-31
1478   000232  2017-02-15      000232  ODS_FIN_0341        NaN  9999-12-31
1479   000232  2017-02-15      000232  ODS_FIN_0910        NaN  9999-12-31
1480   000232  2017-02-15      000232  ODS_FIN_0990        NaN  9999-12-31
1481   000232  2017-02-15      000232  ODS_FIN_0991        NaN  9999-12-31
1482   000232  2017-02-15      000232  ODS_FIN_1000        NaN  9999-12-31
1483   000232  2017-02-15      000232  ODS_FIN_1090        NaN  9999-12-31
1485   000232  2017-02-15      000232  ODS_FIN_1250        NaN  9999-12-31
1486   000232  2017-02-15      000232  ODS_FIN_1251        NaN  9999-12-31
1487   000232  2017-02-15      000232  ODS_FIN_1040        NaN  9999-12-31
1488   000232  2017-02-15      000232  ODS_FIN_0271        NaN  9999-12-31
1489   000232  2017-02-15      000232  ODS_FIN_0350        NaN  9999-12-31
1490   000232  2017-02-15      000232  ODS_FIN_0351        NaN  9999-12-31
1491   000232  2017-02-15      000232  ODS_FIN_1010        NaN  9999-12-31
1494   000232  2017-02-15      000232  ODS_FIN_1280        NaN  9999-12-31
1497   000232  2017-02-15      000232  ODS_FIN_1180        NaN  9999-12-31
1498   000232  2017-02-15      000232  ODS_FIN_1190        NaN  9999-12-31
1499   000232  2017-02-15      000232  ODS_FIN_1160        NaN  9999-12-31
1503   000232  2017-02-15      000232  ODS_FIN_0610        NaN  9999-12-31
1505   000232  2017-02-15      000232  ODS_FIN_0860        NaN  9999-12-31
1507   000232  2017-02-15      000232  ODS_FIN_0892        NaN  9999-12-31
1508   000232  2017-02-15      000232  ODS_FIN_0890        NaN  9999-12-31
1509   000232  2017-02-15      000232  ODS_FIN_0892        NaN  9999-12-31
1510   000232  2017-02-15      000232  ODS_FIN_0891        NaN  9999-12-31
1511   000232  2017-02-15      000232  ODS_FIN_0880        NaN  9999-12-31
5699   000232  2017-02-15      000232  ODS_FIN_0311        NaN  9999-12-31
5700   000232  2017-02-15      000232  ODS_FIN_1140        NaN  9999-12-31
5701   000232  2017-02-15      000232  ODS_FIN_1130        NaN  9999-12-31
7086   000232  2017-02-15      000232  ODS_FIN_1020        NaN  9999-12-31
7087   000232  2017-02-15      000232  ODS_FIN_0980        NaN  9999-12-31
7088   000232  2017-02-15      000232  ODS_FIN_0940        NaN  9999-12-31
7089   000232  2017-02-15      000232  ODS_FIN_0940        NaN  9999-12-31
7090   000232  2017-02-15      000232  ODS_FIN_0270        NaN  9999-12-31
7091   000232  2017-02-15      000232  ODS_FIN_1060        NaN  9999-12-31
7092   000232  2017-02-15      000232  ODS_FIN_0310        NaN  9999-12-31

     is_period
1476      True
1477      True
1478      True
1479      True
1480      True
1481      True
1482      True
1483      True
1485      True
1486      True
1487      True
1488      True
1489      True
1490      True
1491      True
1494      True
1497      True
1498      True
1499      True
1503      True
1505      True
1507      True
1508      True
1509      True
1510      True
1511      True
5699      True
5700      True
5701      True
7086      True
7087      True
7088      True
7089      True
7090      True
7091      True
7092      True
QQ
     username  query_date report_name           doc start_date    end_date  \
7500   000232  2017-03-02      000232  ODS_FIN_0980        NaN  9999-12-31
7532   000232  2017-03-02      000232  ODS_FIN_1020        NaN  9999-12-31
7541   000232  2017-03-02      000232  ODS_FIN_0980        NaN  9999-12-31
7543   000232  2017-03-02      000232  ODS_FIN_0980        NaN  9999-12-31
7578   000232  2017-03-02      000232  ODS_FIN_0310        NaN  9999-12-31
8430   000232  2017-03-02      000232  ODS_FIN_0610        NaN  9999-12-31
8437   000232  2017-03-02      000232  ODS_FIN_0610        NaN  9999-12-31
8471   000232  2017-03-02      000232  ODS_FIN_1020        NaN  9999-12-31
8475   000232  2017-03-02      000232  ODS_FIN_0270        NaN  9999-12-31

     is_period
7500      True
7532      True
7541      True
7543      True
7578      True
8430      True
8437      True
8471      True
8475      True
QQ
      username  query_date report_name           doc start_date    end_date  \
26795   000232  2017-04-12      000232  ODS_FIN_0270        NaN  9999-12-31
26796   000232  2017-04-12      000232  ODS_FIN_1140        NaN  9999-12-31
26797   000232  2017-04-12      000232  ODS_FIN_0270        NaN  9999-12-31
26798   000232  2017-04-12      000232  ODS_FIN_0270        NaN  9999-12-31
26810   000232  2017-04-12      000232  ODS_FIN_0270        NaN  9999-12-31

      is_period
26795      True
26796      True
26797      True
26798      True
26810      True
QQ
     username  query_date report_name           doc start_date    end_date  \
7846   000232  2017-03-06      000232  ODS_FIN_0270        NaN  9999-12-31

     is_period
7846      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
28877   000443  2017-04-17      000443  ODS_SC_6010_E  2017-01-20  2017-01-20
29080   000443  2017-04-17      000443  ODS_SC_6000_E  2017-01-20  2017-01-20
29145   000443  2017-04-17      000443  ODS_SC_6050_E  2017-01-20  2017-01-20
29365   000443  2017-04-17      000443    ODS_SC_6030         NaN  9999-12-31
29403   000443  2017-04-17      000443  ODS_SC_6000_E  2017-04-08  2017-04-08
29409   000443  2017-04-17      000443  ODS_SC_6000_E  2017-01-31  2017-01-31
29410   000443  2017-04-17      000443  ODS_SC_6000_E  2017-01-31  2017-01-31
29520   000443  2017-04-17      000443  ODS_SC_6010_E  2017-01-20  2017-01-20
29554   000443  2017-04-17      000443  ODS_SC_6020_E  2017-01-20  2017-01-20
29734   000443  2017-04-17      000443    ODS_SC_6030         NaN  9999-12-31
29736   000443  2017-04-17      000443  ODS_SC_6000_P  2017-01-20  2017-01-20
29737   000443  2017-04-17      000443  ODS_SC_6000_P  2017-01-20  2017-01-20
29785   000443  2017-04-17      000443  ODS_SC_6000_E  2017-01-31  2017-01-31
29792   000443  2017-04-17      000443  ODS_SC_6000_E  2017-01-31  2017-01-31
29793   000443  2017-04-17      000443  ODS_SC_6000_E  2017-01-31  2017-01-31

      is_period
28877      True
29080      True
29145      True
29365      True
29403      True
29409      True
29410      True
29520      True
29554      True
29734      True
29736      True
29737      True
29785      True
29792      True
29793      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
1546    000443  2017-04-19      000443  ODS_SC_6020_P  2017-04-30  2017-04-30
1548    000443  2017-04-19      000443  ODS_SC_6050_E  2017-04-30  2017-04-30
1552    000443  2017-04-19      000443  ODS_SC_6050_P  2017-04-30  2017-04-30
1557    000443  2017-04-19      000443  ODS_SC_6050_P  2017-04-30  2017-04-30
1603    000443  2017-04-19      000443  ODS_SC_6010_E  2017-04-30  2017-04-30
1634    000443  2017-04-19      000443  ODS_SC_6010_P  2017-04-30  2017-04-30
1654    000443  2017-04-19      000443  ODS_SC_6000_P  2017-04-30  2017-04-30
30549   000443  2017-04-19      000443  ODS_SC_6000_P  2017-05-31  2017-05-31
31448   000443  2017-04-19      000443  ODS_SC_6010_E  2017-04-30  2017-04-30
31451   000443  2017-04-19      000443  ODS_SC_6010_P  2017-04-30  2017-04-30
31453   000443  2017-04-19      000443  ODS_SC_6010_P  2017-04-30  2017-04-30
31555   000443  2017-04-19      000443  ODS_SC_6010_P  2017-04-30  2017-04-30

      is_period
1546       True
1548       True
1552       True
1557       True
1603       True
1634       True
1654       True
30549      True
31448      True
31451      True
31453      True
31555      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
29848   000443  2017-04-13      000443    ODS_SC_6030         NaN  9999-12-31
29850   000443  2017-04-13      000443    ODS_SC_6030         NaN  9999-12-31
29863   000443  2017-04-13      000443  ODS_SC_6000_E  2017-03-31  2017-03-31
29864   000443  2017-04-13      000443  ODS_SC_6000_E  2017-03-31  2017-03-31
29865   000443  2017-04-13      000443  ODS_SC_6000_E  2017-03-10  2017-03-10
29866   000443  2017-04-13      000443  ODS_SC_6000_E  2017-03-10  2017-03-10
29867   000443  2017-04-13      000443  ODS_SC_6000_E  2017-01-30  2017-01-30
29868   000443  2017-04-13      000443  ODS_SC_6020_E  2017-01-31  2017-01-31
30243   000443  2017-04-13      000443    ODS_SC_6030         NaN  9999-12-31

      is_period
29848      True
29850      True
29863      True
29864      True
29865      True
29866      True
29867      True
29868      True
30243      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
30961   000443  2017-04-18      000443  ODS_SC_6000_P  2017-04-30  2017-04-30
31070   000443  2017-04-18      000443  ODS_SC_6000_P  2017-04-30  2017-04-30
31071   000443  2017-04-18      000443  ODS_SC_6010_P  2017-04-30  2017-04-30
31192   000443  2017-04-18      000443  ODS_SC_6000_P  2017-04-30  2017-04-30
31194   000443  2017-04-18      000443  ODS_SC_6000_E  2017-04-21  2017-04-21
31195   000443  2017-04-18      000443  ODS_SC_6000_E  2017-04-30  2017-04-30
31196   000443  2017-04-18      000443  ODS_SC_6000_P  2017-04-30  2017-04-30
31218   000443  2017-04-18      000443  ODS_SC_6000_P  2017-04-30  2017-04-30

      is_period
30961      True
31070      True
31071      True
31192      True
31194      True
31195      True
31196      True
31218      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
26211   000443  2017-04-11      000443    ODS_SC_6030         NaN  9999-12-31
26407   000443  2017-04-11      000443  ODS_SC_6000_P  2017-03-31  2017-03-31
26408   000443  2017-04-11      000443  ODS_SC_6000_P  2128-03-31  2128-03-31
26436   000443  2017-04-11      000443  ODS_SC_6000_P  2017-03-31  2017-03-31

      is_period
26211      True
26407      True
26408      True
26436      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
29444   000443  2017-04-14      000443  ODS_SC_6000_E  2017-03-31  2017-03-31
29445   000443  2017-04-14      000443  ODS_SC_6000_E  2017-03-31  2017-03-31

      is_period
29444      True
29445      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
31360   000443  2017-04-21      000443  ODS_SC_6020_E  2017-03-30  2017-03-30

      is_period
31360      True
QQ
      username  query_date report_name           doc start_date    end_date  \
10568   000791  2017-04-12      000791  FMT_UNB_0372        NaN  9999-12-31
10571   000791  2017-04-12      000791  FMT_UNB_0372        NaN  9999-12-31
10572   000791  2017-04-12      000791  FMT_UNB_0372        NaN  9999-12-31
26464   000791  2017-04-12      000791  FMT_UNB_0372        NaN  9999-12-31
26465   000791  2017-04-12      000791  FMT_UNB_0372        NaN  9999-12-31
26466   000791  2017-04-12      000791  FMT_UNB_0372        NaN  9999-12-31
26467   000791  2017-04-12      000791  FMT_UNB_0372        NaN  9999-12-31
26468   000791  2017-04-12      000791  FMT_UNB_0372        NaN  9999-12-31
26469   000791  2017-04-12      000791  FMT_UNB_0372        NaN  9999-12-31
26470   000791  2017-04-12      000791  FMT_UNB_0372        NaN  9999-12-31
26471   000791  2017-04-12      000791  FMT_UNB_0372        NaN  9999-12-31
26473   000791  2017-04-12      000791  FMT_UNB_0372        NaN  9999-12-31
26670   000791  2017-04-12      000791  FMT_UNB_0660        NaN  9999-12-31
26671   000791  2017-04-12      000791  FMT_UNB_0660        NaN  9999-12-31
26672   000791  2017-04-12      000791  FMT_UNB_0660        NaN  9999-12-31
26673   000791  2017-04-12      000791  FMT_UNB_0660        NaN  9999-12-31
26674   000791  2017-04-12      000791  FMT_UNB_0650        NaN  9999-12-31
26688   000791  2017-04-12      000791  FMT_UNB_0381        NaN  9999-12-31
26708   000791  2017-04-12      000791  FMT_UNB_0650        NaN  9999-12-31
26740   000791  2017-04-12      000791  FMT_UNB_0660        NaN  9999-12-31
26756   000791  2017-04-12      000791  FMT_UNB_0781        NaN  9999-12-31
26762   000791  2017-04-12      000791  FMT_UNB_0441        NaN  9999-12-31
26763   000791  2017-04-12      000791  FMT_UNB_0441        NaN  9999-12-31
26764   000791  2017-04-12      000791  FMT_UNB_0441        NaN  9999-12-31
26765   000791  2017-04-12      000791  FMT_UNB_0441        NaN  9999-12-31
26772   000791  2017-04-12      000791  FMT_UNB_0100        NaN  9999-12-31
26779   000791  2017-04-12      000791  FMT_UNB_0651        NaN  9999-12-31
26780   000791  2017-04-12      000791  FMT_UNB_0091        NaN  9999-12-31
26839   000791  2017-04-12      000791  FMT_UNB_0381        NaN  9999-12-31
26840   000791  2017-04-12      000791  FMT_UNB_0650        NaN  9999-12-31
27712   000791  2017-04-12      000791  FMT_UNB_0361        NaN  9999-12-31

      is_period
10568      True
10571      True
10572      True
26464      True
26465      True
26466      True
26467      True
26468      True
26469      True
26470      True
26471      True
26473      True
26670      True
26671      True
26672      True
26673      True
26674      True
26688      True
26708      True
26740      True
26756      True
26762      True
26763      True
26764      True
26765      True
26772      True
26779      True
26780      True
26839      True
26840      True
27712      True

QQ
      username  query_date report_name           doc start_date    end_date  \
29011   000791  2017-04-13      000791  FMT_UNB_0651        NaN  9999-12-31
29018   000791  2017-04-13      000791  FMT_UNB_0660        NaN  9999-12-31
29019   000791  2017-04-13      000791  FMT_UNB_0660        NaN  9999-12-31
29037   000791  2017-04-13      000791  FMT_UNB_0660        NaN  9999-12-31
29117   000791  2017-04-13      000791  FMT_UNB_0361        NaN  9999-12-31
29193   000791  2017-04-13      000791  FMT_UNB_0362        NaN  9999-12-31
29213   000791  2017-04-13      000791  FMT_UNB_0363        NaN  9999-12-31

      is_period
29011      True
29018      True
29019      True
29037      True
29117      True
29193      True
29213      True
QQ
      username  query_date report_name           doc start_date    end_date  \
30496   000791  2017-04-20      000791  FMT_UNB_0091        NaN  9999-12-31
30564   000791  2017-04-20      000791  FMT_UNB_0120        NaN  9999-12-31
31716   000791  2017-04-20      000791  FMT_UNB_0291        NaN  9999-12-31
31823   000791  2017-04-20      000791  FMT_UNB_0091        NaN  9999-12-31
32141   000791  2017-04-20      000791  FMT_UNB_0120        NaN  9999-12-31
32185   000791  2017-04-20      000791  FMT_UNB_0361        NaN  9999-12-31
32186   000791  2017-04-20      000791  FMT_UNB_0361        NaN  9999-12-31

      is_period
30496      True
30564      True
31716      True
31823      True
32141      True
32185      True
32186      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4674   000791  2017-03-07      000791  ODS_UNB_0470        NaN  9999-12-31
4675   000791  2017-03-07      000791  ODS_UNB_0470        NaN  9999-12-31

     is_period
4674      True
4675      True
QQ
     username  query_date report_name           doc start_date    end_date  \
1549   000791  2017-04-19      000791  FMT_UNB_0090        NaN  9999-12-31

     is_period
1549      True
QQ
      username  query_date report_name           doc start_date    end_date  \
15295   000791  2017-03-22      000791  ODS_UNB_0470        NaN  9999-12-31

      is_period
15295      True
QQ
      username  query_date report_name           doc start_date    end_date  \
31605   000791  2017-04-21      000791  FMT_UNB_0120        NaN  9999-12-31

      is_period
31605      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
18520   user14  2017-03-27      user14      #POLICY#  2017-01-01  2017-03-31
18600   user14  2017-03-27      user14  FMT_POS_0250  2017-02-28  2017-03-31
18702   user14  2017-03-27      user14  ODS_FIN_1000         NaN  9999-12-31
18703   user14  2017-03-27      user14  ODS_FIN_1000         NaN  9999-12-31
19195   user14  2017-03-27      user14  FMT_POS_0250  2017-02-28  2017-03-31
19433   user14  2017-03-27      user14  FMT_POS_0350  2017-01-01  2017-03-31
19434   user14  2017-03-27      user14  FMT_POS_0060  2017-01-01  2017-03-31
19435   user14  2017-03-27      user14  FMT_POS_0070  2017-01-01  2017-03-31
19436   user14  2017-03-27      user14  FMT_POS_0310  2017-01-01  2017-03-31
19437   user14  2017-03-27      user14  FMT_POS_0090  2017-01-01  2017-03-31
19438   user14  2017-03-27      user14  FMT_POS_0080  2017-01-01  2017-03-31
19439   user14  2017-03-27      user14  FMT_POS_0270  2017-01-01  2017-03-31
19440   user14  2017-03-27      user14  FMT_POS_0360  2017-01-01  2017-03-31
19441   user14  2017-03-27      user14  FMT_POS_0320  2017-01-01  2017-03-31
19442   user14  2017-03-27      user14  FMT_POS_0160  2017-01-01  2017-03-31
19443   user14  2017-03-27      user14  FMT_POS_0380  2017-01-01  2017-03-31
19444   user14  2017-03-27      user14  FMT_POS_0250  2017-01-01  2017-03-31
19445   user14  2017-03-27      user14  FMT_POS_0240  2017-01-01  2017-03-31
19446   user14  2017-03-27      user14  FMT_POS_0290  2017-01-01  2017-03-31
19447   user14  2017-03-27      user14  FMT_POS_0440  2017-01-01  2017-03-31
19448   user14  2017-03-27      user14  FMT_POS_7230  2017-01-01  2017-03-31
19449   user14  2017-03-27      user14  FMT_POS_7210  2017-01-01  2017-03-31
19450   user14  2017-03-27      user14  FMT_POS_1670  2017-01-01  2017-03-31
19451   user14  2017-03-27      user14  FMT_POS_1560  2017-01-01  2017-03-31
19452   user14  2017-03-27      user14  FMT_POS_0010  2017-01-01  2017-03-31
19453   user14  2017-03-27      user14  FMT_POS_0020  2017-01-01  2017-03-31
19454   user14  2017-03-27      user14  FMT_POS_1120  2017-01-01  2017-03-31
19455   user14  2017-03-27      user14  FMT_POS_0040  2017-01-01  2017-03-31
19456   user14  2017-03-27      user14  FMT_POS_0260  2017-01-01  2017-03-31
19457   user14  2017-03-27      user14  FMT_POS_0030  2017-01-01  2017-03-31
19458   user14  2017-03-27      user14  FMT_POS_0100  2017-01-01  2017-03-31
19459   user14  2017-03-27      user14  FMT_POS_0110  2017-01-01  2017-03-31
19460   user14  2017-03-27      user14  FMT_POS_0130  2017-01-01  2017-03-31
19461   user14  2017-03-27      user14  FMT_POS_0140  2017-01-01  2017-03-31
19462   user14  2017-03-27      user14  FMT_POS_1571  2017-01-01  2017-03-31
19463   user14  2017-03-27      user14  FMT_POS_0180  2017-01-01  2017-03-31
19464   user14  2017-03-27      user14  FMT_POS_0340  2017-01-01  2017-03-31
19465   user14  2017-03-27      user14  FMT_POS_0470  2017-01-01  2017-03-31
19466   user14  2017-03-27      user14  FMT_POS_1570  2017-01-01  2017-03-31
19467   user14  2017-03-27      user14  FMT_POS_0150  2017-01-01  2017-03-31

      is_period
18520      True
18600      True
18702      True
18703      True
19195      True
19433      True
19434      True
19435      True
19436      True
19437      True
19438      True
19439      True
19440      True
19441      True
19442      True
19443      True
19444      True
19445      True
19446      True
19447      True
19448      True
19449      True
19450      True
19451      True
19452      True
19453      True
19454      True
19455      True
19456      True
19457      True
19458      True
19459      True
19460      True
19461      True
19462      True
19463      True
19464      True
19465      True
19466      True
19467      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
13490   user14  2017-03-17      user14  FMT_POS_1570  2017-02-07  2017-02-07
13491   user14  2017-03-17      user14  FMT_POS_1570  2017-02-02  2017-02-02
13492   user14  2017-03-17      user14  FMT_POS_1570  2017-01-26  2017-01-26
13493   user14  2017-03-17      user14  FMT_POS_1570  2017-01-23  2017-01-23
13494   user14  2017-03-17      user14  FMT_POS_1570  2017-01-10  2017-01-10

      is_period
13490      True
13491      True
13492      True
13493      True
13494      True
QQ
      username  query_date report_name           doc start_date    end_date  \
17606   user14  2017-03-30      user14  ODS_POS_7030        NaN  9999-12-31
17607   user14  2017-03-30      user14  ODS_POS_7030        NaN  9999-12-31
17961   user14  2017-03-30      user14  ODS_POS_7030        NaN  9999-12-31

      is_period
17606      True
17607      True
17961      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
8278   user14  2017-03-02      user14  ODS_POS_1660  2017-01-10  2017-01-10

     is_period
8278      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4465   user14  2017-03-08      user14  ODS_POS_7150        NaN  9999-12-31

     is_period
4465      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
1152    000802  2017-04-19      000802  ODS_RI_0170  2017-01-31  2017-01-31
1153    000802  2017-04-19      000802  ODS_RI_0170  2017-01-03  2017-01-03
1154    000802  2017-04-19      000802  ODS_RI_0170  2017-01-03  2017-01-03
1516    000802  2017-04-19      000802  ODS_RI_0170  2017-04-30  2017-04-30
1524    000802  2017-04-19      000802  ODS_RI_0170  2017-01-03  2017-01-03
1527    000802  2017-04-19      000802  ODS_RI_0180  2017-01-31  2017-01-31
1531    000802  2017-04-19      000802  ODS_RI_0170  2017-01-31  2017-01-31
1532    000802  2017-04-19      000802  ODS_RI_0170  2017-01-31  2017-01-31
1533    000802  2017-04-19      000802  ODS_RI_0170         NaN  9999-12-31
2743    000802  2017-04-19      000802  ODS_RI_0030         NaN  9999-12-31
2748    000802  2017-04-19      000802  ODS_RI_0020         NaN  9999-12-31
2766    000802  2017-04-19      000802  ODS_RI_0170  2017-01-03  2017-01-03
2778    000802  2017-04-19      000802  ODS_RI_0020         NaN  9999-12-31
2780    000802  2017-04-19      000802  ODS_RI_0170  2017-01-03  2017-01-03
2797    000802  2017-04-19      000802  ODS_RI_0170  2017-04-30  2017-04-30
2799    000802  2017-04-19      000802  ODS_RI_0170  2017-01-03  2017-01-03
2801    000802  2017-04-19      000802  ODS_RI_0170  2017-01-31  2017-01-31
2805    000802  2017-04-19      000802  ODS_RI_0180  2017-01-31  2017-01-31
30462   000802  2017-04-19      000802  ODS_RI_0170  2017-04-30  2017-04-30
30464   000802  2017-04-19      000802  ODS_RI_0440  2017-01-03  2017-01-03
30465   000802  2017-04-19      000802  ODS_RI_0440  2017-01-03  2017-01-03
31684   000802  2017-04-19      000802  ODS_RI_0170  2017-01-10  2017-01-10
31685   000802  2017-04-19      000802  ODS_RI_0030         NaN  9999-12-31
31686   000802  2017-04-19      000802  ODS_RI_0080         NaN  9999-12-31
31687   000802  2017-04-19      000802  ODS_RI_0080         NaN  9999-12-31
31688   000802  2017-04-19      000802  ODS_RI_0400  2017-04-30  2017-04-30
31689   000802  2017-04-19      000802  ODS_RI_0400  2017-03-31  2017-03-31
31692   000802  2017-04-19      000802  ODS_RI_0080         NaN  9999-12-31
31693   000802  2017-04-19      000802  ODS_RI_0080         NaN  9999-12-31
31703   000802  2017-04-19      000802  ODS_RI_0180  2017-04-01  2017-04-01
31704   000802  2017-04-19      000802  ODS_RI_0180  2017-04-01  2017-04-01
31745   000802  2017-04-19      000802  ODS_RI_0170  2017-01-31  2017-01-31

      is_period
1152       True
1153       True
1154       True
1516       True
1524       True
1527       True
1531       True
1532       True
1533       True
2743       True
2748       True
2766       True
2778       True
2780       True
2797       True
2799       True
2801       True
2805       True
30462      True
30464      True
30465      True
31684      True
31685      True
31686      True
31687      True
31688      True
31689      True
31692      True
31693      True
31703      True
31704      True
31745      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
30445   000802  2017-04-20      000802  ODS_RI_0380  2017-01-31  2017-01-31
30447   000802  2017-04-20      000802  ODS_RI_0390  2017-01-03  2017-01-03
30449   000802  2017-04-20      000802  ODS_RI_0390  2017-02-28  2017-02-28
30451   000802  2017-04-20      000802  ODS_RI_0390  2017-01-10  2017-01-10
30453   000802  2017-04-20      000802  ODS_RI_0390  2017-02-27  2017-02-27
30454   000802  2017-04-20      000802  ODS_RI_0400  2017-01-03  2017-01-03
30455   000802  2017-04-20      000802  ODS_RI_0400  2017-01-10  2017-01-10
30458   000802  2017-04-20      000802  ODS_RI_0400  2017-03-01  2017-03-01
31819   000802  2017-04-20      000802  ODS_RI_0380  2017-01-10  2017-01-10
31820   000802  2017-04-20      000802  ODS_RI_0380  2017-04-30  2017-04-30
31821   000802  2017-04-20      000802  ODS_RI_0380  2017-03-31  2017-03-31
31861   000802  2017-04-20      000802  ODS_RI_0380  2017-02-28  2017-02-28
32207   000802  2017-04-20      000802  ODS_RI_0380  2017-01-03  2017-01-03

      is_period
30445      True
30447      True
30449      True
30451      True
30453      True
30454      True
30455      True
30458      True
31819      True
31820      True
31821      True
31861      True
32207      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
12017   000802  2017-03-15      000802  ODS_RI_0450  2017-01-30  2017-01-30
12065   000802  2017-03-15      000802  ODS_RI_0450  2017-01-30  2017-01-30

      is_period
12017      True
12065      True
QQ
     username  query_date report_name           doc start_date    end_date  \
1839  weiting  2017-02-17     weiting  ODS_ACT_0300        NaN  9999-12-31
2276  weiting  2017-02-17     weiting  ODS_INV_7210        NaN  9999-12-31
3031  weiting  2017-02-17     weiting  ODS_ACT_0280        NaN  9999-12-31
3032  weiting  2017-02-17     weiting  ODS_ACT_0300        NaN  9999-12-31
3037  weiting  2017-02-17     weiting  ODS_ACT_0300        NaN  9999-12-31
3038  weiting  2017-02-17     weiting  ODS_ACT_0280        NaN  9999-12-31
3041  weiting  2017-02-17     weiting  ODS_ACT_0300        NaN  9999-12-31
3042  weiting  2017-02-17     weiting  ODS_ACT_0300        NaN  9999-12-31
3045  weiting  2017-02-17     weiting  ODS_ACT_0300        NaN  9999-12-31
3085  weiting  2017-02-17     weiting  ODS_INV_7170        NaN  9999-12-31

     is_period
1839      True
2276      True
3031      True
3032      True
3037      True
3038      True
3041      True
3042      True
3045      True
3085      True
QQ
     username  query_date report_name             doc  start_date    end_date  \
2070  weiting  2017-02-16     weiting  ODS_POS_1350_E         NaN  9999-12-31
2624  weiting  2017-02-16     weiting    ODS_POS_0780  2016-10-28  2016-10-28
2625  weiting  2017-02-16     weiting    ODS_POS_0780  2017-01-02  2017-01-02
2626  weiting  2017-02-16     weiting    ODS_POS_0780  2016-10-28  2016-10-28
2632  weiting  2017-02-16     weiting    ODS_POS_0780  2017-10-28  2017-10-28
2633  weiting  2017-02-16     weiting    ODS_POS_0780  2016-10-28  2016-10-28
2634  weiting  2017-02-16     weiting    ODS_POS_0780  2017-01-02  2017-01-02
2840  weiting  2017-02-16     weiting    ODS_POS_0780  2016-10-28  2016-10-28
2841  weiting  2017-02-16     weiting    ODS_POS_0780  2016-10-28  2016-10-28

     is_period
2070      True
2624      True
2625      True
2626      True
2632      True
2633      True
2634      True
2840      True
2841      True

QQ
     username  query_date report_name             doc start_date    end_date  \
227   weiting  2017-02-10     weiting    ODS_FIN_1340        NaN  9999-12-31
239   weiting  2017-02-10     weiting    ODS_FIN_1340        NaN  9999-12-31
551   weiting  2017-02-10     weiting    ODS_INV_7200        NaN  9999-12-31
552   weiting  2017-02-10     weiting    ODS_INV_7200        NaN  9999-12-31
1060  weiting  2017-02-10     weiting    ODS_FIN_0730        NaN  9999-12-31
1064  weiting  2017-02-10     weiting    ODS_FIN_0730        NaN  9999-12-31
1076  weiting  2017-02-10     weiting    ODS_FIN_0730        NaN  9999-12-31
5743  weiting  2017-02-10     weiting  ODS_POS_1350_E        NaN  9999-12-31

     is_period
227       True
239       True
551       True
552       True
1060      True
1064      True
1076      True
5743      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
5319  weiting  2017-02-13     weiting   ODS_RI_0380  2017-01-31  2017-01-31
5320  weiting  2017-02-13     weiting   ODS_RI_0390  2017-01-31  2017-01-31
5321  weiting  2017-02-13     weiting   ODS_RI_0400  2017-01-31  2017-01-31
5322  weiting  2017-02-13     weiting   ODS_RI_0260  2017-01-31  2017-01-31
5323  weiting  2017-02-13     weiting   ODS_RI_0410  2017-01-31  2017-01-31
5324  weiting  2017-02-13     weiting   ODS_RI_0420  2017-01-31  2017-01-31
6979  weiting  2017-02-13     weiting  ODS_POS_1140         NaN  9999-12-31

     is_period
5319      True
5320      True
5321      True
5322      True
5323      True
5324      True
6979      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
465   weiting  2017-02-09     weiting   ODS_RI_0330  2017-01-31  2017-01-31
6335  weiting  2017-02-09     weiting  ODS_FIN_0730         NaN  9999-12-31
7164  weiting  2017-02-09     weiting   ODS_RI_0340  2017-01-31  2017-01-31
7198  weiting  2017-02-09     weiting   ODS_RI_0280  2017-02-09  2017-02-09
7199  weiting  2017-02-09     weiting   ODS_RI_0280  2017-01-31  2017-01-31
7204  weiting  2017-02-09     weiting   ODS_RI_0300  2017-01-31  2017-01-31

     is_period
465       True
6335      True
7164      True
7198      True
7199      True
7204      True
QQ
     username  query_date report_name             doc start_date    end_date  \
1699  weiting  2017-02-15     weiting  ODS_POS_1350_P        NaN  9999-12-31
1702  weiting  2017-02-15     weiting  ODS_POS_1350_P        NaN  9999-12-31
1884  weiting  2017-02-15     weiting  ODS_POS_1350_E        NaN  9999-12-31

     is_period
1699      True
1702      True
1884      True
QQ
     username  query_date report_name           doc start_date    end_date  \
5918  weiting  2017-02-08     weiting  ODS_FIN_0750        NaN  9999-12-31

     is_period
5918      True
QQ
    username  query_date report_name           doc start_date    end_date  \
557  weiting  2017-02-14     weiting  ODS_INV_7200        NaN  9999-12-31

    is_period
557      True
QQ
     username  query_date report_name           doc start_date    end_date  \
2893  weiting  2017-02-18     weiting  ODS_UNB_0510        NaN  9999-12-31

     is_period
2893      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
30829   jessie  2017-04-18      jessie    ODS_SC_6800         NaN  9999-12-31
30955   jessie  2017-04-18      jessie  ODS_SC_6050_E  2017-01-20  2017-01-20
30956   jessie  2017-04-18      jessie  ODS_SC_6050_E  2017-04-30  2017-04-30
31017   jessie  2017-04-18      jessie    ODS_SC_6211  2017-04-30  2017-04-30
31044   jessie  2017-04-18      jessie    ODS_SC_6200  2017-04-30  2017-04-30
31104   jessie  2017-04-18      jessie    ODS_SC_6210  2017-04-30  2017-04-30
31118   jessie  2017-04-18      jessie  ODS_SC_6050_E  2017-07-11  2017-07-11
31119   jessie  2017-04-18      jessie  ODS_SC_6050_E  2016-09-01  2016-09-01
31193   jessie  2017-04-18      jessie  ODS_SC_6000_P  2017-04-30  2017-04-30
31212   jessie  2017-04-18      jessie  ODS_SC_6020_P  2017-04-30  2017-04-30
31216   jessie  2017-04-18      jessie  ODS_SC_6010_E  2017-04-30  2017-04-30
31381   jessie  2017-04-18      jessie  ODS_SC_6050_E  2016-07-11  2016-07-11
31382   jessie  2017-04-18      jessie  ODS_SC_6050_E  2016-07-11  2016-07-11
31604   jessie  2017-04-18      jessie  ODS_SC_6050_E  2017-04-30  2017-04-30
31615   jessie  2017-04-18      jessie  ODS_SC_6050_P         NaN  9999-12-31
32316   jessie  2017-04-18      jessie    ODS_SC_6500  2016-07-11  2016-07-11

      is_period
30829      True
30955      True
30956      True
31017      True
31044      True
31104      True
31118      True
31119      True
31193      True
31212      True
31216      True
31381      True
31382      True
31604      True
31615      True
32316      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
23283   jessie  2017-04-07      jessie  ODS_SC_6200  2017-03-31  2017-03-31
23321   jessie  2017-04-07      jessie  ODS_SC_6200  2017-03-31  2017-03-31
23723   jessie  2017-04-07      jessie  ODS_SC_6211  2017-01-31  2017-01-31
23726   jessie  2017-04-07      jessie  ODS_SC_6211  2017-03-31  2017-03-31
23727   jessie  2017-04-07      jessie  ODS_SC_6211  2017-03-01  2017-03-01
23728   jessie  2017-04-07      jessie  ODS_SC_6210  2017-03-31  2017-03-31
23729   jessie  2017-04-07      jessie  ODS_SC_6211  2017-03-31  2017-03-31
23731   jessie  2017-04-07      jessie  ODS_SC_6200  2017-01-02  2017-01-02
25182   jessie  2017-04-07      jessie  ODS_SC_6200  2017-01-02  2017-01-02
25188   jessie  2017-04-07      jessie  ODS_SC_6200  2017-03-31  2017-03-31
25190   jessie  2017-04-07      jessie  ODS_SC_6200  2017-03-31  2017-03-31

      is_period
23283      True
23321      True
23723      True
23726      True
23727      True
23728      True
23729      True
23731      True
25182      True
25188      True
25190      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
28133   jessie  2017-04-15      jessie  ODS_SC_6210  2017-04-05  2017-04-05
28136   jessie  2017-04-15      jessie  ODS_SC_6030         NaN  9999-12-31
28150   jessie  2017-04-15      jessie  ODS_SC_6030         NaN  9999-12-31
28151   jessie  2017-04-15      jessie  ODS_SC_6030         NaN  9999-12-31
28152   jessie  2017-04-15      jessie  ODS_SC_6030         NaN  9999-12-31
28153   jessie  2017-04-15      jessie  ODS_SC_6030         NaN  9999-12-31
28400   jessie  2017-04-15      jessie  ODS_SC_6030         NaN  9999-12-31

      is_period
28133      True
28136      True
28150      True
28151      True
28152      True
28153      True
28400      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
28325   jessie  2017-04-13      jessie  ODS_SC_6180  2016-12-31  2016-12-31
28326   jessie  2017-04-13      jessie  ODS_SC_6180  2016-12-31  2016-12-31
28327   jessie  2017-04-13      jessie  ODS_SC_6180  2017-12-31  2017-12-31
28328   jessie  2017-04-13      jessie  ODS_SC_6180  2017-04-05  2017-04-05
29020   jessie  2017-04-13      jessie  ODS_SC_6800         NaN  9999-12-31
29138   jessie  2017-04-13      jessie  ODS_SC_6170         NaN  9999-12-31

      is_period
28325      True
28326      True
28327      True
28328      True
29020      True
29138      True
QQ
      username  query_date report_name          doc start_date    end_date  \
29154   jessie  2017-04-14      jessie  ODS_SC_6030        NaN  9999-12-31

      is_period
29154      True
QQ
      username  query_date report_name          doc start_date    end_date  \
27407   jessie  2017-04-12      jessie  ODS_SC_6211        NaN  9999-12-31

      is_period
27407      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
26321   jessie  2017-04-11      jessie  ODS_SC_6210  2017-03-01  2017-03-01

      is_period
26321      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
31273   jessie  2017-04-21      jessie  ODS_SC_6230  2017-04-30  2017-04-30

      is_period
31273      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14861   002178  2017-03-25      002178      #POLICY#         NaN  9999-12-31
14862   002178  2017-03-25      002178      #POLICY#         NaN  9999-12-31
14863   002178  2017-03-25      002178      #POLICY#         NaN  9999-12-31
15133   002178  2017-03-25      002178      #POLICY#         NaN  9999-12-31
15134   002178  2017-03-25      002178      #POLICY#         NaN  9999-12-31
15208   002178  2017-03-25      002178      #POLICY#         NaN  9999-12-31
15209   002178  2017-03-25      002178      #POLICY#         NaN  9999-12-31
15210   002178  2017-03-25      002178      #POLICY#         NaN  9999-12-31
15231   002178  2017-03-25      002178      #POLICY#         NaN  9999-12-31
15233   002178  2017-03-25      002178      #POLICY#         NaN  9999-12-31
15234   002178  2017-03-25      002178      #POLICY#         NaN  9999-12-31
15235   002178  2017-03-25      002178      #POLICY#         NaN  9999-12-31
15246   002178  2017-03-25      002178      #POLICY#         NaN  9999-12-31
15272   002178  2017-03-25      002178      #POLICY#         NaN  9999-12-31
15275   002178  2017-03-25      002178      #POLICY#         NaN  9999-12-31
15474   002178  2017-03-25      002178      #POLICY#         NaN  9999-12-31
15477   002178  2017-03-25      002178      #POLICY#         NaN  9999-12-31
15478   002178  2017-03-25      002178      #POLICY#         NaN  9999-12-31
15479   002178  2017-03-25      002178      #POLICY#         NaN  9999-12-31
15480   002178  2017-03-25      002178      #POLICY#         NaN  9999-12-31
15482   002178  2017-03-25      002178      #POLICY#         NaN  9999-12-31
15703   002178  2017-03-25      002178  ODS_UNB_0020         NaN  9999-12-31
15704   002178  2017-03-25      002178  ODS_UNB_0240         NaN  9999-12-31
15705   002178  2017-03-25      002178  ODS_UNB_0430         NaN  9999-12-31
15706   002178  2017-03-25      002178  ODS_UNB_0550  2017-01-26  2017-01-26
15707   002178  2017-03-25      002178      #POLICY#         NaN  9999-12-31

      is_period
14861      True
14862      True
14863      True
15133      True
15134      True
15208      True
15209      True
15210      True
15231      True
15233      True
15234      True
15235      True
15246      True
15272      True
15275      True
15474      True
15477      True
15478      True
15479      True
15480      True
15482      True
15703      True
15704      True
15705      True
15706      True
15707      True
QQ

      username  query_date report_name           doc  start_date    end_date  \
14758   002178  2017-03-22      002178  ODS_UNB_0020         NaN  9999-12-31
14766   002178  2017-03-22      002178  ODS_UNB_0570         NaN  9999-12-31
14767   002178  2017-03-22      002178  ODS_UNB_0550  2017-01-10  2017-01-10
15257   002178  2017-03-22      002178  ODS_UNB_0220  2017-02-07  2017-02-07
15281   002178  2017-03-22      002178  ODS_UNB_0220  2017-02-07  2017-02-07
15282   002178  2017-03-22      002178  ODS_UNB_0220  2017-02-07  2017-02-07
17051   002178  2017-03-22      002178  ODS_UNB_0220  2017-02-02  2017-02-02
17053   002178  2017-03-22      002178  ODS_UNB_0220  2017-02-07  2017-02-07
17095   002178  2017-03-22      002178  ODS_UNB_0220  2017-01-10  2017-01-10
17096   002178  2017-03-22      002178  ODS_UNB_0020         NaN  9999-12-31
17101   002178  2017-03-22      002178  ODS_UNB_0570         NaN  9999-12-31

      is_period
14758      True
14766      True
14767      True
15257      True
15281      True
15282      True
17051      True
17053      True
17095      True
17096      True
17101      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17539   002178  2017-03-31      002178  ODS_UNB_0550  2017-03-01  2017-03-01
17917   002178  2017-03-31      002178      #POLICY#         NaN  9999-12-31
17932   002178  2017-03-31      002178      #POLICY#         NaN  9999-12-31
20786   002178  2017-03-31      002178  ODS_UNB_0550  2017-03-01  2017-03-01
21090   002178  2017-03-31      002178      #POLICY#         NaN  9999-12-31
21118   002178  2017-03-31      002178      #POLICY#         NaN  9999-12-31
21143   002178  2017-03-31      002178      #POLICY#         NaN  9999-12-31

      is_period
17539      True
17917      True
17932      True
20786      True
21090      True
21118      True
21143      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4492   000759  2017-03-07      000759  ODS_INV_7170        NaN  9999-12-31
4496   000759  2017-03-07      000759  ODS_INV_7170        NaN  9999-12-31
4514   000759  2017-03-07      000759  ODS_INV_7170        NaN  9999-12-31
4515   000759  2017-03-07      000759  ODS_INV_7170        NaN  9999-12-31
4692   000759  2017-03-07      000759  ODS_INV_7260        NaN  9999-12-31
9351   000759  2017-03-07      000759  ODS_INV_7170        NaN  9999-12-31

     is_period
4492      True
4496      True
4514      True
4515      True
4692      True
9351      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
23254   000759  2017-04-07      000759   LS_INV_0030  2017-03-31  2017-03-31
23818   000759  2017-04-07      000759  ODS_INV_7200  2017-03-01  2017-03-01
25030   000759  2017-04-07      000759  ODS_INV_7040  2016-03-01  2016-03-01
25103   000759  2017-04-07      000759   LS_INV_0030  2017-03-31  2017-03-31
25532   000759  2017-04-07      000759  ODS_INV_7040  2017-03-01  2017-03-01

      is_period
23254      True
23818      True
25030      True
25103      True
25532      True
QQ
      username  query_date report_name           doc start_date    end_date  \
32034   000759  2017-04-20      000759  ODS_INV_7260        NaN  9999-12-31
32214   000759  2017-04-20      000759  ODS_INV_7040        NaN  9999-12-31
32215   000759  2017-04-20      000759  ODS_INV_7040        NaN  9999-12-31
32216   000759  2017-04-20      000759  ODS_INV_7040        NaN  9999-12-31

      is_period
32034      True
32214      True
32215      True
32216      True
QQ
      username  query_date report_name           doc start_date    end_date  \
14642   000759  2017-03-22      000759  ODS_INV_7220        NaN  9999-12-31
14643   000759  2017-03-22      000759  ODS_INV_7220        NaN  9999-12-31
14644   000759  2017-03-22      000759  ODS_INV_7220        NaN  9999-12-31
14926   000759  2017-03-22      000759  ODS_INV_7200        NaN  9999-12-31

      is_period
14642      True
14643      True
14644      True
14926      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
14910   000759  2017-03-21      000759   LS_INV_0030  2016-02-07  2016-02-07
14933   000759  2017-03-21      000759   LS_INV_0030  2017-02-07  2017-02-07
15833   000759  2017-03-21      000759  ODS_INV_7200         NaN  9999-12-31
15836   000759  2017-03-21      000759   LS_INV_0030  2016-02-07  2016-02-07

      is_period
14910      True
14933      True
15833      True
15836      True
QQ
      username  query_date report_name           doc start_date    end_date  \
10061   000759  2017-03-08      000759  ODS_INV_7170        NaN  9999-12-31
10386   000759  2017-03-08      000759  ODS_INV_7180        NaN  9999-12-31
10389   000759  2017-03-08      000759  ODS_INV_7260        NaN  9999-12-31

      is_period
10061      True
10386      True
10389      True
QQ
      username  query_date report_name           doc start_date    end_date  \
17033   000759  2017-03-23      000759  ODS_INV_7170        NaN  9999-12-31
17034   000759  2017-03-23      000759  ODS_INV_7170        NaN  9999-12-31
17433   000759  2017-03-23      000759  ODS_INV_7180        NaN  9999-12-31

      is_period
17033      True
17034      True
17433      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
27015   000759  2017-04-10      000759  ODS_INV_7200  2017-04-05  2017-04-05
27139   000759  2017-04-10      000759  ODS_INV_7200  2017-03-31  2017-03-31
27412   000759  2017-04-10      000759   LS_INV_0030  2017-03-31  2017-03-31

      is_period
27015      True
27139      True
27412      True
QQ
      username  query_date report_name           doc start_date    end_date  \
13715   000759  2017-03-20      000759  ODS_INV_7190        NaN  9999-12-31
14124   000759  2017-03-20      000759  ODS_INV_7040        NaN  9999-12-31

      is_period
13715      True
14124      True
QQ
      username  query_date report_name           doc start_date    end_date  \
18598   000759  2017-03-27      000759  ODS_INV_7170        NaN  9999-12-31

      is_period
18598      True
QQ
     username  query_date report_name           doc start_date    end_date  \
5464   000759  2017-02-23      000759  ODS_INV_7200        NaN  9999-12-31

     is_period
5464      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17998   000759  2017-03-30      000759  ODS_INV_7200  2017-02-07  2017-03-01

      is_period
17998      True
QQ
      username  query_date report_name           doc start_date    end_date  \
26463   000759  2017-04-12      000759  ODS_INV_7260        NaN  9999-12-31

      is_period
26463      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
27438   000759  2017-04-11      000759  ODS_INV_7200  2017-04-05  2017-04-05

      is_period
27438      True
QQ
     username  query_date report_name           doc start_date    end_date  \
8680   000759  2017-03-06      000759  ODS_INV_7200        NaN  9999-12-31

     is_period
8680      True
QQ
      username  query_date report_name           doc start_date    end_date  \
29143   000759  2017-04-13      000759  ODS_INV_7170        NaN  9999-12-31

      is_period
29143      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
12541   000759  2017-03-17      000759  LS_INV_0030  2017-01-10  2017-01-10

      is_period
12541      True
QQ
     username  query_date report_name           doc start_date    end_date  \
5716   000598  2017-02-08      000598  ODS_INV_7100        NaN  9999-12-31
5717   000598  2017-02-08      000598  ODS_INV_7140        NaN  9999-12-31
5718   000598  2017-02-08      000598  ODS_INV_7130        NaN  9999-12-31
5719   000598  2017-02-08      000598  ODS_INV_7110        NaN  9999-12-31
5723   000598  2017-02-08      000598  ODS_INV_7110        NaN  9999-12-31
5724   000598  2017-02-08      000598  ODS_INV_7110        NaN  9999-12-31

     is_period
5716      True
5717      True
5718      True
5719      True
5723      True
5724      True
QQ
     username  query_date report_name           doc start_date    end_date  \
8486   000598  2017-03-07      000598  ODS_INV_7100        NaN  9999-12-31
8546   000598  2017-03-07      000598  ODS_INV_7110        NaN  9999-12-31
8548   000598  2017-03-07      000598  ODS_INV_7140        NaN  9999-12-31
9532   000598  2017-03-07      000598  ODS_INV_7140        NaN  9999-12-31
9796   000598  2017-03-07      000598  ODS_INV_7130        NaN  9999-12-31
9831   000598  2017-03-07      000598  ODS_INV_7110        NaN  9999-12-31

     is_period
8486      True
8546      True
8548      True
9532      True
9796      True
9831      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
27260   000598  2017-04-11      000598  ODS_INV_7100  2017-03-01  2017-03-31
27512   000598  2017-04-11      000598  ODS_INV_7100  2017-03-01  2017-04-30
27514   000598  2017-04-11      000598   LS_INV_0030  2017-03-01  2017-03-01
27515   000598  2017-04-11      000598   LS_INV_0030  2017-04-05  2017-04-05
27516   000598  2017-04-11      000598  ODS_INV_7110  2017-03-01  2017-04-30
28579   000598  2017-04-11      000598   LS_INV_0030  2017-04-05  2017-04-05

      is_period
27260      True
27512      True
27514      True
27515      True
27516      True
28579      True
QQ
      username  query_date report_name           doc start_date    end_date  \
10704   000598  2017-03-13      000598  ODS_INV_7100        NaN  9999-12-31
10705   000598  2017-03-13      000598  ODS_INV_7140        NaN  9999-12-31
11239   000598  2017-03-13      000598  ODS_INV_7140        NaN  9999-12-31
11240   000598  2017-03-13      000598  ODS_INV_7130        NaN  9999-12-31
11241   000598  2017-03-13      000598  ODS_INV_7110        NaN  9999-12-31

      is_period
10704      True
10705      True
11239      True
11240      True
11241      True
QQ
      username  query_date report_name           doc start_date    end_date  \
4717    000598  2017-03-08      000598  ODS_INV_7110        NaN  9999-12-31
9651    000598  2017-03-08      000598  ODS_INV_7100        NaN  9999-12-31
9652    000598  2017-03-08      000598  ODS_INV_7100        NaN  9999-12-31
9653    000598  2017-03-08      000598  ODS_INV_7100        NaN  9999-12-31
10062   000598  2017-03-08      000598  ODS_INV_7110        NaN  9999-12-31

      is_period
4717       True
9651       True
9652       True
9653       True
10062      True
QQ

      username  query_date report_name           doc start_date    end_date  \
30397   000598  2017-04-21      000598  ODS_INV_7110        NaN  9999-12-31
30501   000598  2017-04-21      000598  ODS_INV_7140        NaN  9999-12-31
31306   000598  2017-04-21      000598  ODS_INV_7130        NaN  9999-12-31
31373   000598  2017-04-21      000598  ODS_INV_7100        NaN  9999-12-31

      is_period
30397      True
30501      True
31306      True
31373      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4992   000598  2017-03-09      000598  ODS_INV_7130        NaN  9999-12-31
4993   000598  2017-03-09      000598  ODS_INV_7130        NaN  9999-12-31
7752   000598  2017-03-09      000598  ODS_INV_7130        NaN  9999-12-31

     is_period
4992      True
4993      True
7752      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
23315   000598  2017-04-07      000598  ODS_INV_7130  2017-03-01  2017-03-31
25189   000598  2017-04-07      000598  ODS_INV_7140  2017-03-01  2017-03-31

      is_period
23315      True
25189      True
QQ
      username  query_date report_name           doc start_date    end_date  \
28807   000598  2017-04-17      000598  ODS_INV_7100        NaN  9999-12-31

      is_period
28807      True
QQ
     username  query_date report_name           doc start_date    end_date  \
2787   000598  2017-04-19      000598  ODS_INV_7100        NaN  9999-12-31

     is_period
2787      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
20083   000598  2017-03-30      000598  LS_INV_0030  2017-03-01  2017-03-01

      is_period
20083      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
1517    001340  2017-04-19      001340  ODS_RI_0170  2017-04-30  2017-04-30
1520    001340  2017-04-19      001340  ODS_RI_0170  2017-04-30  2017-04-30
1521    001340  2017-04-19      001340  ODS_RI_0170  2017-04-30  2017-04-30
1522    001340  2017-04-19      001340  ODS_RI_0400  2017-04-30  2017-04-30
1526    001340  2017-04-19      001340  ODS_RI_0280  2017-04-30  2017-04-30
1530    001340  2017-04-19      001340  ODS_RI_0280  2017-04-30  2017-04-30
1534    001340  2017-04-19      001340  ODS_RI_0390  2017-04-30  2017-04-30
2798    001340  2017-04-19      001340  ODS_RI_0400  2017-01-30  2017-01-30
2802    001340  2017-04-19      001340  ODS_RI_0420  2017-04-30  2017-04-30
2858    001340  2017-04-19      001340  ODS_RI_0180  2017-04-30  2017-04-30
30461   001340  2017-04-19      001340  ODS_RI_0400  2017-01-30  2017-01-30
30463   001340  2017-04-19      001340  ODS_RI_0180  2017-04-30  2017-04-30
31683   001340  2017-04-19      001340  ODS_RI_0180  2017-04-30  2017-04-30
31694   001340  2017-04-19      001340  ODS_RI_0340  2017-04-30  2017-04-30
31705   001340  2017-04-19      001340  ODS_RI_0280  2017-04-30  2017-04-30
31744   001340  2017-04-19      001340  ODS_RI_0400  2017-01-30  2017-01-30

      is_period
1517       True
1520       True
1521       True
1522       True
1526       True
1530       True
1534       True
2798       True
2802       True
2858       True
30461      True
30463      True
31683      True
31694      True
31705      True
31744      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
30977   001340  2017-04-18      001340  ODS_RI_0390  2017-04-30  2017-04-30
30978   001340  2017-04-18      001340  ODS_RI_0390  2017-03-30  2017-03-30
31088   001340  2017-04-18      001340  ODS_RI_0390  2017-03-31  2017-03-31
31089   001340  2017-04-18      001340  ODS_RI_0420  2017-04-05  2017-04-05
31091   001340  2017-04-18      001340  ODS_RI_0400  2017-04-10  2017-04-10
31092   001340  2017-04-18      001340  ODS_RI_0400  2017-03-31  2017-03-31

      is_period
30977      True
30978      True
31088      True
31089      True
31091      True
31092      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
14784   001340  2017-03-23      001340  ODS_RI_0170  2017-02-28  2017-02-28
14785   001340  2017-03-23      001340  ODS_RI_0170  2017-02-28  2017-02-28
14786   001340  2017-03-23      001340  ODS_RI_0170  2017-02-28  2017-02-28
16588   001340  2017-03-23      001340  ODS_RI_0400  2017-02-28  2017-02-28

      is_period
14784      True
14785      True
14786      True
16588      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
11437   001340  2017-03-14      001340  ODS_RI_0400  2017-02-04  2017-02-04
11438   001340  2017-03-14      001340  ODS_RI_0400  2017-02-04  2017-02-04
11439   001340  2017-03-14      001340  ODS_RI_0400  2017-01-26  2017-01-26
11441   001340  2017-03-14      001340  ODS_RI_0390  2017-01-26  2017-01-26

      is_period
11437      True
11438      True
11439      True
11441      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
11334   001340  2017-03-13      001340  ODS_RI_0400  2017-01-26  2017-01-26
11335   001340  2017-03-13      001340  ODS_RI_0400  2017-01-10  2017-01-10
11368   001340  2017-03-13      001340  ODS_RI_0400  2017-01-31  2017-01-31

      is_period
11334      True
11335      True
11368      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
17617   001340  2017-03-28      001340  ODS_RI_0390  2017-03-31  2017-03-31
17618   001340  2017-03-28      001340  ODS_RI_0390  2017-03-01  2017-03-01
17619   001340  2017-03-28      001340  ODS_RI_0390  2017-03-01  2017-03-01

      is_period
17617      True
17618      True
17619      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
13352   001340  2017-03-16      001340  ODS_RI_0210  2017-02-07  2017-02-07
13353   001340  2017-03-16      001340  ODS_RI_0210  2017-02-07  2017-02-07

      is_period
13352      True
13353      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
11978   001340  2017-03-15      001340  ODS_RI_0170  2017-02-02  2017-02-02

      is_period
11978      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
26411   001340  2017-04-11      001340  ODS_RI_0390  2017-03-31  2017-03-31

      is_period
26411      True
QQ
      username  query_date report_name           doc start_date    end_date  \
14657   001751  2017-03-22      001751  FMT_UNB_0650        NaN  9999-12-31
15290   001751  2017-03-22      001751  FMT_UNB_0362        NaN  9999-12-31
16969   001751  2017-03-22      001751  FMT_UNB_0650        NaN  9999-12-31
16971   001751  2017-03-22      001751  FMT_UNB_0660        NaN  9999-12-31
17039   001751  2017-03-22      001751  FMT_UNB_0362        NaN  9999-12-31
17040   001751  2017-03-22      001751  FMT_UNB_0362        NaN  9999-12-31
17045   001751  2017-03-22      001751  FMT_UNB_0090        NaN  9999-12-31
17063   001751  2017-03-22      001751  ODS_UNB_0470        NaN  9999-12-31

      is_period
14657      True
15290      True
16969      True
16971      True
17039      True
17040      True
17045      True
17063      True
QQ
     username  query_date report_name           doc start_date    end_date  \
5601   001751  2017-02-15      001751  ODS_UNB_0320        NaN  9999-12-31
5602   001751  2017-02-15      001751  ODS_UNB_0320        NaN  9999-12-31
5603   001751  2017-02-15      001751  ODS_UNB_0320        NaN  9999-12-31
5613   001751  2017-02-15      001751  ODS_UNB_0320        NaN  9999-12-31
5624   001751  2017-02-15      001751  ODS_UNB_0320        NaN  9999-12-31
5625   001751  2017-02-15      001751  ODS_UNB_0320        NaN  9999-12-31
5628   001751  2017-02-15      001751  ODS_UNB_0320        NaN  9999-12-31

     is_period
5601      True
5602      True
5603      True
5613      True
5624      True
5625      True
5628      True
QQ
      username  query_date report_name           doc start_date    end_date  \
29849   001751  2017-04-13      001751  FMT_UNB_0781        NaN  9999-12-31
29856   001751  2017-04-13      001751  ODS_UNB_0690        NaN  9999-12-31
29857   001751  2017-04-13      001751  ODS_UNB_0690        NaN  9999-12-31
29858   001751  2017-04-13      001751  ODS_UNB_0690        NaN  9999-12-31
30217   001751  2017-04-13      001751  ODS_UNB_0690        NaN  9999-12-31

      is_period
29849      True
29856      True
29857      True
29858      True
30217      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
21636   001751  2017-04-05      001751  FMT_UNB_0170  2017-03-31  2017-03-31
23222   001751  2017-04-05      001751  ODS_UNB_0260  2017-03-31  2017-03-31
23611   001751  2017-04-05      001751  ODS_UNB_0260  2017-03-30  2017-03-30

      is_period
21636      True
23222      True
23611      True
QQ
      username  query_date report_name           doc start_date    end_date  \
12444   001751  2017-03-18      001751  FMT_UNB_0091        NaN  9999-12-31
12445   001751  2017-03-18      001751  FMT_UNB_0362        NaN  9999-12-31

      is_period
12444      True

12445      True
QQ
    username  query_date report_name           doc  start_date    end_date  \
247   001751  2017-02-09      001751  ODS_UNB_0260  2017-01-31  2017-01-31
875   001751  2017-02-09      001751  ODS_UNB_0260  2017-01-31  2017-01-31

    is_period
247      True
875      True
QQ
      username  query_date report_name           doc start_date    end_date  \
24539   001751  2017-04-08      001751  ODS_UNB_0690        NaN  9999-12-31
25921   001751  2017-04-08      001751  ODS_UNB_0690        NaN  9999-12-31

      is_period
24539      True
25921      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
12543   001751  2017-03-17      001751  ODS_UNB_0450  2017-02-27  2017-02-27
12549   001751  2017-03-17      001751  ODS_UNB_0450  2017-02-27  2017-02-27

      is_period
12543      True
12549      True
QQ
      username  query_date report_name           doc start_date    end_date  \
26726   001751  2017-04-12      001751  FMT_UNB_0180        NaN  9999-12-31

      is_period
26726      True
QQ
      username  query_date report_name           doc start_date    end_date  \
28142   001751  2017-04-14      001751  ODS_UNB_0690        NaN  9999-12-31

      is_period
28142      True
QQ
   username  query_date report_name           doc start_date    end_date  \
12   001751  2017-02-10      001751  ODS_UNB_0680        NaN  9999-12-31

   is_period
12      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
7507    user9  2017-03-06       user9  FMT_POS_1120  2017-01-13  2017-01-13
7511    user9  2017-03-06       user9  FMT_POS_0470  2017-01-13  2017-01-13
7514    user9  2017-03-06       user9  ODS_POS_1360  2017-01-13  2017-01-13
7862    user9  2017-03-06       user9  FMT_POS_0250  2017-03-06  2017-03-06
8012    user9  2017-03-06       user9  FMT_POS_0250  2017-03-06  2017-03-06
8020    user9  2017-03-06       user9  FMT_POS_0250  2017-03-06  2017-03-06
8021    user9  2017-03-06       user9  FMT_POS_0250  2017-03-06  2017-03-06
8045    user9  2017-03-06       user9  FMT_POS_0250  2017-03-06  2017-03-06

     is_period
7507      True
7511      True
7514      True
7862      True
8012      True
8020      True
8021      True
8045      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
29222    user9  2017-04-17       user9  ODS_POS_1440  2017-04-30  2017-04-30
29518    user9  2017-04-17       user9   FMT_PA_0870         NaN  9999-12-31
29545    user9  2017-04-17       user9   FMT_PA_0730         NaN  9999-12-31
29608    user9  2017-04-17       user9   FMT_PA_0730         NaN  9999-12-31
29743    user9  2017-04-17       user9   FMT_PA_0730         NaN  9999-12-31
30154    user9  2017-04-17       user9   FMT_PA_0730         NaN  9999-12-31
30162    user9  2017-04-17       user9   FMT_PA_0730         NaN  9999-12-31

      is_period
29222      True
29518      True
29545      True
29608      True
29743      True
30154      True
30162      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
23307    user9  2017-04-07       user9  FMT_PA_0750  2017-03-31  2017-03-31
23308    user9  2017-04-07       user9  FMT_PA_0750  2017-03-31  2017-03-31
23309    user9  2017-04-07       user9  FMT_PA_0750  2017-03-31  2017-03-31
25873    user9  2017-04-07       user9  FMT_PA_0730         NaN  9999-12-31
25874    user9  2017-04-07       user9  FMT_PA_0730         NaN  9999-12-31

      is_period
23307      True
23308      True
23309      True
25873      True
25874      True
QQ
      username  query_date report_name           doc start_date    end_date  \
22752    user9  2017-04-05       user9  FMT_UNB_0670        NaN  9999-12-31
24744    user9  2017-04-05       user9  FMT_UNB_0670        NaN  9999-12-31
24745    user9  2017-04-05       user9  FMT_UNB_0670        NaN  9999-12-31

      is_period
22752      True
24744      True
24745      True
QQ
      username  query_date report_name          doc start_date    end_date  \
29513    user9  2017-04-18       user9  FMT_PA_0730        NaN  9999-12-31
30865    user9  2017-04-18       user9  FMT_PA_0854        NaN  9999-12-31
31056    user9  2017-04-18       user9  FMT_PA_0730        NaN  9999-12-31

      is_period
29513      True
30865      True
31056      True
QQ
      username  query_date report_name          doc start_date    end_date  \
10551    user9  2017-04-12       user9  FMT_PA_0730        NaN  9999-12-31
10552    user9  2017-04-12       user9  FMT_PA_0730        NaN  9999-12-31
10555    user9  2017-04-12       user9  FMT_PA_0730        NaN  9999-12-31

      is_period
10551      True
10552      True
10555      True
QQ
      username  query_date report_name          doc start_date    end_date  \
22358    user9  2017-04-06       user9  FMT_PA_0710        NaN  9999-12-31
22359    user9  2017-04-06       user9  FMT_PA_0710        NaN  9999-12-31

      is_period
22358      True
22359      True
QQ
      username  query_date report_name           doc start_date    end_date  \
20642    user9  2017-03-27       user9  ODS_POS_1320        NaN  9999-12-31

      is_period
20642      True
QQ
      username  query_date report_name           doc start_date    end_date  \
20060    user9  2017-03-28       user9  FMT_POS_0160        NaN  9999-12-31

      is_period
20060      True
QQ
      username  query_date report_name           doc start_date    end_date  \
11536   001689  2017-03-15      001689  ODS_ACT_0270        NaN  9999-12-31
11537   001689  2017-03-15      001689  ODS_ACT_0270        NaN  9999-12-31
11538   001689  2017-03-15      001689  ODS_ACT_0270        NaN  9999-12-31
11539   001689  2017-03-15      001689  ODS_ACT_0270        NaN  9999-12-31
11540   001689  2017-03-15      001689  ODS_ACT_0270        NaN  9999-12-31
11541   001689  2017-03-15      001689  ODS_ACT_0270        NaN  9999-12-31
11542   001689  2017-03-15      001689  ODS_ACT_0270        NaN  9999-12-31
11544   001689  2017-03-15      001689  ODS_ACT_0270        NaN  9999-12-31
11706   001689  2017-03-15      001689  ODS_ACT_0270        NaN  9999-12-31
11707   001689  2017-03-15      001689  ODS_ACT_0270        NaN  9999-12-31
11708   001689  2017-03-15      001689  ODS_ACT_0270        NaN  9999-12-31
11819   001689  2017-03-15      001689  ODS_ACT_0270        NaN  9999-12-31
11820   001689  2017-03-15      001689  ODS_ACT_0270        NaN  9999-12-31
11821   001689  2017-03-15      001689  ODS_ACT_0270        NaN  9999-12-31
11822   001689  2017-03-15      001689  ODS_ACT_0270        NaN  9999-12-31

      is_period
11536      True
11537      True
11538      True
11539      True
11540      True
11541      True
11542      True
11544      True
11706      True
11707      True
11708      True
11819      True
11820      True
11821      True
11822      True
QQ
      username  query_date report_name           doc start_date    end_date  \
12915   001689  2017-03-16      001689  ODS_ACT_0270        NaN  9999-12-31
13054   001689  2017-03-16      001689  ODS_ACT_0270        NaN  9999-12-31
13055   001689  2017-03-16      001689  ODS_ACT_0270        NaN  9999-12-31
13189   001689  2017-03-16      001689  ODS_ACT_0270        NaN  9999-12-31
13190   001689  2017-03-16      001689  ODS_ACT_0270        NaN  9999-12-31
13191   001689  2017-03-16      001689  ODS_ACT_0270        NaN  9999-12-31
13192   001689  2017-03-16      001689  ODS_ACT_0300        NaN  9999-12-31
13389   001689  2017-03-16      001689  ODS_ACT_0270        NaN  9999-12-31
13390   001689  2017-03-16      001689  ODS_ACT_0270        NaN  9999-12-31

      is_period
12915      True
13054      True
13055      True
13189      True
13190      True
13191      True
13192      True
13389      True
13390      True
QQ
      username  query_date report_name           doc start_date    end_date  \
28859   001689  2017-04-17      001689  ODS_ACT_0270        NaN  9999-12-31
28981   001689  2017-04-17      001689  ODS_ACT_0280        NaN  9999-12-31
29135   001689  2017-04-17      001689  ODS_ACT_0270        NaN  9999-12-31
29740   001689  2017-04-17      001689  ODS_ACT_0290        NaN  9999-12-31
29825   001689  2017-04-17      001689  ODS_ACT_0270        NaN  9999-12-31
30173   001689  2017-04-17      001689  ODS_ACT_0300        NaN  9999-12-31

      is_period
28859      True
28981      True
29135      True
29740      True
29825      True
30173      True
QQ
      username  query_date report_name           doc start_date    end_date  \
30954   001689  2017-04-18      001689  ODS_ACT_0290        NaN  9999-12-31

      is_period
30954      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4489   001129  2017-03-03      001129  ODS_FIN_0830        NaN  9999-12-31
4491   001129  2017-03-03      001129  ODS_FIN_0830        NaN  9999-12-31
4519   001129  2017-03-03      001129  ODS_FIN_0810        NaN  9999-12-31
4520   001129  2017-03-03      001129  ODS_FIN_0810        NaN  9999-12-31
4521   001129  2017-03-03      001129  ODS_FIN_0830        NaN  9999-12-31
4522   001129  2017-03-03      001129  ODS_FIN_0810        NaN  9999-12-31
5919   001129  2017-03-03      001129  ODS_FIN_0810        NaN  9999-12-31
5921   001129  2017-03-03      001129  ODS_FIN_0810        NaN  9999-12-31

     is_period
4489      True
4491      True
4519      True
4520      True
4521      True
4522      True
5919      True
5921      True
QQ
      username  query_date report_name           doc start_date    end_date  \
17740   001129  2017-03-28      001129  ODS_FIN_0830        NaN  9999-12-31
17837   001129  2017-03-28      001129  ODS_FIN_0830        NaN  9999-12-31
18334   001129  2017-03-28      001129  ODS_FIN_0830        NaN  9999-12-31
19178   001129  2017-03-28      001129  ODS_FIN_0830        NaN  9999-12-31

      is_period
17740      True
17837      True
18334      True
19178      True
QQ
      username  query_date report_name           doc start_date    end_date  \
26867   001129  2017-04-10      001129  ODS_FIN_0830        NaN  9999-12-31
27579   001129  2017-04-10      001129  ODS_FIN_0830        NaN  9999-12-31
28157   001129  2017-04-10      001129  ODS_FIN_0810        NaN  9999-12-31

      is_period
26867      True
27579      True
28157      True
QQ
     username  query_date report_name           doc start_date    end_date  \
3081   001129  2017-02-17      001129  ODS_FIN_0810        NaN  9999-12-31
3083   001129  2017-02-17      001129  ODS_FIN_0830        NaN  9999-12-31
6461   001129  2017-02-17      001129  ODS_FIN_0810        NaN  9999-12-31

     is_period
3081      True
3083      True
6461      True
QQ
      username  query_date report_name           doc start_date    end_date  \
18671   001129  2017-03-27      001129  ODS_FIN_0830        NaN  9999-12-31
18674   001129  2017-03-27      001129  ODS_FIN_0830        NaN  9999-12-31

      is_period
18671      True
18674      True
QQ
      username  query_date report_name           doc start_date    end_date  \
25683   001129  2017-04-07      001129  ODS_FIN_0830        NaN  9999-12-31
25684   001129  2017-04-07      001129  ODS_FIN_0810        NaN  9999-12-31

      is_period
25683      True
25684      True
QQ
      username  query_date report_name           doc start_date    end_date  \
21615   001129  2017-04-05      001129  ODS_FIN_0830        NaN  9999-12-31
25556   001129  2017-04-05      001129  ODS_FIN_0810        NaN  9999-12-31

      is_period
21615      True
25556      True
QQ
      username  query_date report_name           doc start_date    end_date  \
26363   001129  2017-04-11      001129  ODS_FIN_0830        NaN  9999-12-31
26364   001129  2017-04-11      001129  ODS_FIN_0830        NaN  9999-12-31

      is_period
26363      True
26364      True
QQ
      username  query_date report_name           doc start_date    end_date  \
20374   001129  2017-03-30      001129  ODS_FIN_0810        NaN  9999-12-31

      is_period
20374      True
QQ
      username  query_date report_name           doc start_date    end_date  \
25279   001129  2017-04-06      001129  ODS_FIN_0830        NaN  9999-12-31

      is_period
25279      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
26283   001231  2017-04-11      001231    LS_SC_5730  2017-04-05  2017-04-05
26284   001231  2017-04-11      001231   ODS_SC_6211  2017-04-05  2017-04-05
26285   001231  2017-04-11      001231   ODS_SC_6210  2017-04-05  2017-04-05
26286   001231  2017-04-11      001231  FMT-POS-0010  2017-04-05  2017-04-05
26287   001231  2017-04-11      001231  ODS_CLM_0580  2017-04-05  2017-04-05
26292   001231  2017-04-11      001231  FMT-POS-0030  2017-04-05  2017-04-05
26293   001231  2017-04-11      001231  FMT-POS-0040  2017-04-05  2017-04-05
26294   001231  2017-04-11      001231  FMT-POS-0260  2017-04-05  2017-04-05
26295   001231  2017-04-11      001231  FMT-POS-1120  2017-04-05  2017-04-05
26296   001231  2017-04-11      001231  ODS-POS-0930  2017-04-05  2017-04-05
26297   001231  2017-04-11      001231  ODS-POS-0950  2017-04-05  2017-04-05
26298   001231  2017-04-11      001231  ODS-POS-0970  2017-04-05  2017-04-05
26299   001231  2017-04-11      001231  ODS-POS-1160  2017-04-05  2017-04-05
26300   001231  2017-04-11      001231  ODS_POS_1350  2017-04-05  2017-04-05
26301   001231  2017-04-11      001231  ODS_POS_1380  2017-04-05  2017-04-05
26302   001231  2017-04-11      001231  ODS_POS_1250  2017-04-05  2017-04-05
26303   001231  2017-04-11      001231  ODS_POS_1260  2017-04-05  2017-04-05
26304   001231  2017-04-11      001231  FMT_POS_0430  2017-04-05  2017-04-05
26305   001231  2017-04-11      001231  ODS_POS_7150  2017-04-05  2017-04-05
26306   001231  2017-04-11      001231  ODS_POS_1360  2017-04-05  2017-04-05
26307   001231  2017-04-11      001231  ODS_POS_1310  2017-04-05  2017-04-05
26308   001231  2017-04-11      001231  ODS_POS_1580  2017-04-05  2017-04-05
26309   001231  2017-04-11      001231  ODS_POS_1722  2017-04-05  2017-04-05
26310   001231  2017-04-11      001231  ODS_CLM_0560  2017-04-05  2017-04-05
26311   001231  2017-04-11      001231  ODS_CLM_0561  2017-04-05  2017-04-05
26312   001231  2017-04-11      001231  ODS_CLM_0570  2017-04-05  2017-04-05
26313   001231  2017-04-11      001231  ODS_CLM_0571  2017-04-05  2017-04-05
26314   001231  2017-04-11      001231  FMT-POS-0020  2017-04-05  2017-04-05

      is_period
26283      True
26284      True
26285      True
26286      True
26287      True
26292      True
26293      True
26294      True
26295      True
26296      True
26297      True
26298      True
26299      True
26300      True
26301      True
26302      True
26303      True
26304      True
26305      True
26306      True
26307      True
26308      True
26309      True
26310      True
26311      True
26312      True
26313      True
26314      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
12963   001698  2017-03-16      001698  ODS_RI_0170  2017-03-01  2017-03-01
13220   001698  2017-03-16      001698  ODS_RI_0450  2017-03-01  2017-03-01
13231   001698  2017-03-16      001698  ODS_RI_0170  2017-02-02  2017-02-02
13232   001698  2017-03-16      001698  ODS_RI_0230  2017-02-02  2017-02-02
13233   001698  2017-03-16      001698  ODS_RI_0230  2017-01-31  2017-01-31
13248   001698  2017-03-16      001698  ODS_RI_0230  2017-02-02  2017-02-02
13249   001698  2017-03-16      001698  ODS_RI_0230  2017-02-05  2017-02-05
13340   001698  2017-03-16      001698  ODS_RI_0170  2017-02-24  2017-02-24
13341   001698  2017-03-16      001698  ODS_RI_0170  2017-02-24  2017-02-24
13345   001698  2017-03-16      001698  ODS_RI_0170  2017-01-03  2017-01-03
13346   001698  2017-03-16      001698  ODS_RI_0390  2017-01-03  2017-01-03

      is_period
12963      True
13220      True
13231      True
13232      True
13233      True
13248      True
13249      True
13340      True
13341      True
13345      True
13346      True
QQ

     username  query_date report_name          doc  start_date    end_date  \
1430   001698  2017-04-19      001698  ODS_RI_0440  2017-03-31  2017-03-31
1431   001698  2017-04-19      001698  ODS_RI_0210  2017-04-30  2017-04-30
1432   001698  2017-04-19      001698  ODS_RI_0180  2017-04-28  2017-04-28
1433   001698  2017-04-19      001698  ODS_RI_0180  2017-04-30  2017-04-30
1434   001698  2017-04-19      001698  ODS_RI_0280  2017-03-31  2017-03-31
1600   001698  2017-04-19      001698  ODS_RI_0220  2017-03-31  2017-03-31
1632   001698  2017-04-19      001698  ODS_RI_0220  2017-03-31  2017-03-31

     is_period
1430      True
1431      True
1432      True
1433      True
1434      True
1600      True
1632      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
31827   001698  2017-04-20      001698  ODS_RI_0170  2017-03-31  2017-03-31
31828   001698  2017-04-20      001698  ODS_RI_0170  2017-05-31  2017-05-31
31829   001698  2017-04-20      001698  ODS_RI_0170  2017-04-30  2017-04-30
31830   001698  2017-04-20      001698  ODS_RI_0170  2017-03-31  2017-03-31
32208   001698  2017-04-20      001698  ODS_RI_0170  2017-05-31  2017-05-31

      is_period
31827      True
31828      True
31829      True
31830      True
32208      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
17750   001698  2017-03-30      001698  ODS_RI_0170  2017-03-31  2017-03-31
17751   001698  2017-03-30      001698  ODS_RI_0170  2017-02-28  2017-02-28
17841   001698  2017-03-30      001698  ODS_RI_0170  2017-02-28  2017-02-28
17842   001698  2017-03-30      001698  ODS_RI_0170  2017-02-28  2017-02-28

      is_period
17750      True
17751      True
17841      True
17842      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
3860   001039  2017-02-22      001039  ODS_CLM_0560  2016-12-31  2016-12-31
3861   001039  2017-02-22      001039  ODS_CLM_0560  2017-01-31  2017-01-31
3862   001039  2017-02-22      001039  ODS_CLM_0560  2016-10-01  2016-10-01
3863   001039  2017-02-22      001039  ODS_CLM_0560  2017-03-01  2017-03-01
3864   001039  2017-02-22      001039  ODS_CLM_0561  2017-01-31  2017-01-31
3980   001039  2017-02-22      001039  ODS_CLM_0570  2017-01-31  2017-01-31
3981   001039  2017-02-22      001039  ODS_CLM_0580  2017-01-31  2017-01-31
3982   001039  2017-02-22      001039  ODS_CLM_0430  2017-01-01  2017-01-01
3983   001039  2017-02-22      001039  ODS_CLM_0430  2017-01-31  2017-01-31
6086   001039  2017-02-22      001039  ODS_CLM_0560  2016-10-01  2016-10-01
6087   001039  2017-02-22      001039  ODS_CLM_0560  2016-10-31  2016-10-31
6088   001039  2017-02-22      001039  ODS_CLM_0560  2016-01-31  2016-01-31
6089   001039  2017-02-22      001039  ODS_CLM_0560  2017-03-01  2017-03-01

     is_period
3860      True
3861      True
3862      True
3863      True
3864      True
3980      True
3981      True
3982      True
3983      True
6086      True
6087      True
6088      True
6089      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17850   001039  2017-03-30      001039  ODS_CLM_0370  2017-03-31  2017-03-31
17851   001039  2017-03-30      001039  ODS_CLM_0370  2017-03-31  2017-03-31
17852   001039  2017-03-30      001039  ODS_CLM_0370  2017-03-31  2017-03-31
17853   001039  2017-03-30      001039  ODS_CLM_0370  2017-02-01  2017-02-01
17854   001039  2017-03-30      001039  ODS_CLM_0370  2017-02-01  2017-02-01
19989   001039  2017-03-30      001039  ODS_CLM_0370  2017-03-31  2017-03-31
19993   001039  2017-03-30      001039  ODS_CLM_0370  2017-03-31  2017-03-31
19994   001039  2017-03-30      001039  ODS_CLM_0370  2017-03-31  2017-03-31
19995   001039  2017-03-30      001039  ODS_CLM_0370  2017-02-01  2017-02-01
19996   001039  2017-03-30      001039  ODS_CLM_0370  2017-02-01  2017-02-01
19997   001039  2017-03-30      001039  ODS_CLM_0370  2017-02-01  2017-02-01
19999   001039  2017-03-30      001039  ODS_CLM_0370  2017-02-01  2017-02-01
20000   001039  2017-03-30      001039  ODS_CLM_0370  2017-02-01  2017-02-01

      is_period
17850      True
17851      True
17852      True
17853      True
17854      True
19989      True
19993      True
19994      True
19995      True
19996      True
19997      True
19999      True
20000      True
QQ
      username  query_date report_name           doc start_date    end_date  \
17911   000166  2017-03-30      000166  ODS_INV_7300        NaN  9999-12-31
18195   000166  2017-03-30      000166  ODS_INV_7290        NaN  9999-12-31
18196   000166  2017-03-30      000166  ODS_INV_7300        NaN  9999-12-31
20005   000166  2017-03-30      000166  ODS_INV_7290        NaN  9999-12-31
20039   000166  2017-03-30      000166  ODS_INV_7300        NaN  9999-12-31

      is_period
17911      True
18195      True
18196      True
20005      True
20039      True
QQ
      username  query_date report_name           doc start_date    end_date  \
26619   000166  2017-04-12      000166  ODS_INV_7290        NaN  9999-12-31
26626   000166  2017-04-12      000166  ODS_INV_7300        NaN  9999-12-31
26744   000166  2017-04-12      000166  ODS_INV_7290        NaN  9999-12-31
26745   000166  2017-04-12      000166  ODS_INV_7300        NaN  9999-12-31
27403   000166  2017-04-12      000166  ODS_INV_7290        NaN  9999-12-31

      is_period
26619      True
26626      True
26744      True
26745      True
27403      True
QQ
      username  query_date report_name           doc start_date    end_date  \
15284   000166  2017-03-22      000166  ODS_INV_7290        NaN  9999-12-31
15287   000166  2017-03-22      000166  ODS_INV_7300        NaN  9999-12-31
17060   000166  2017-03-22      000166  ODS_INV_7290        NaN  9999-12-31

      is_period
15284      True
15287      True
17060      True
QQ
      username  query_date report_name           doc start_date    end_date  \
10715   000166  2017-03-13      000166  ODS_INV_7290        NaN  9999-12-31
10716   000166  2017-03-13      000166  ODS_INV_7300        NaN  9999-12-31
10732   000166  2017-03-13      000166  ODS_INV_7290        NaN  9999-12-31

      is_period
10715      True
10716      True
10732      True
QQ
     username  query_date report_name           doc start_date    end_date  \
9026   000166  2017-03-06      000166  ODS_INV_7290        NaN  9999-12-31
9027   000166  2017-03-06      000166  ODS_INV_7300        NaN  9999-12-31

     is_period
9026      True
9027      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4101   000166  2017-02-23      000166  ODS_INV_7290        NaN  9999-12-31
4102   000166  2017-02-23      000166  ODS_INV_7300        NaN  9999-12-31

     is_period
4101      True
4102      True
QQ
      username  query_date report_name           doc start_date    end_date  \
23715   000166  2017-04-07      000166  ODS_INV_7300        NaN  9999-12-31
23716   000166  2017-04-07      000166  ODS_INV_7290        NaN  9999-12-31

      is_period
23715      True
23716      True
QQ
      username  query_date report_name           doc start_date    end_date  \
27498   000166  2017-04-11      000166  ODS_INV_7290        NaN  9999-12-31
27499   000166  2017-04-11      000166  ODS_INV_7300        NaN  9999-12-31

      is_period
27498      True
27499      True
QQ
     username  query_date report_name           doc start_date    end_date  \
1796   000166  2017-02-15      000166  ODS_INV_7290        NaN  9999-12-31

     is_period
1796      True
QQ
      username  query_date report_name           doc start_date    end_date  \
30688   000166  2017-04-21      000166  ODS_INV_7290        NaN  9999-12-31

      is_period
30688      True
QQ
     username  query_date report_name           doc start_date    end_date  \
5722   001332  2017-02-08      001332  ODS_FIN_0750        NaN  9999-12-31
5833   001332  2017-02-08      001332  ODS_FIN_0880        NaN  9999-12-31
5834   001332  2017-02-08      001332  ODS_FIN_0860        NaN  9999-12-31
5835   001332  2017-02-08      001332  ODS_FIN_0860        NaN  9999-12-31
5836   001332  2017-02-08      001332  ODS_FIN_0860        NaN  9999-12-31
5837   001332  2017-02-08      001332  ODS_FIN_0860        NaN  9999-12-31
5838   001332  2017-02-08      001332  ODS_FIN_0750        NaN  9999-12-31
5839   001332  2017-02-08      001332  ODS_FIN_0610        NaN  9999-12-31
5840   001332  2017-02-08      001332  ODS_FIN_0610        NaN  9999-12-31
5841   001332  2017-02-08      001332  ODS_FIN_0610        NaN  9999-12-31
5915   001332  2017-02-08      001332  ODS_FIN_1340        NaN  9999-12-31
5927   001332  2017-02-08      001332  ODS_FIN_0750        NaN  9999-12-31
6959   001332  2017-02-08      001332  ODS_FIN_0750        NaN  9999-12-31

     is_period
5722      True
5833      True
5834      True
5835      True
5836      True
5837      True
5838      True
5839      True
5840      True
5841      True
5915      True
5927      True
6959      True
QQ
     username  query_date report_name           doc start_date    end_date  \
6591   001332  2017-03-03      001332  ODS_FIN_0750        NaN  9999-12-31
6592   001332  2017-03-03      001332  ODS_FIN_0750        NaN  9999-12-31
7890   001332  2017-03-03      001332  ODS_FIN_0750        NaN  9999-12-31

     is_period
6591      True
6592      True
7890      True
QQ
     username  query_date report_name           doc start_date    end_date  \
8168   001332  2017-03-06      001332  ODS_FIN_0750        NaN  9999-12-31
9030   001332  2017-03-06      001332  ODS_FIN_0750        NaN  9999-12-31

     is_period
8168      True
9030      True
QQ
    username  query_date report_name           doc start_date    end_date  \
417   001332  2017-02-10      001332  ODS_FIN_0860        NaN  9999-12-31
418   001332  2017-02-10      001332  ODS_FIN_0860        NaN  9999-12-31

    is_period
417      True
418      True
QQ
     username  query_date report_name           doc start_date    end_date  \
1756   001332  2017-02-17      001332  ODS_FIN_0880        NaN  9999-12-31
2478   001332  2017-02-17      001332  ODS_FIN_0610        NaN  9999-12-31

     is_period
1756      True
2478      True
QQ
      username  query_date report_name           doc start_date    end_date  \
12201   001332  2017-03-15      001332  ODS_FIN_0860        NaN  9999-12-31

      is_period
12201      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4587   001332  2017-03-07      001332  ODS_FIN_0750        NaN  9999-12-31

     is_period
4587      True
QQ
      username  query_date report_name           doc start_date    end_date  \
12940   001332  2017-03-16      001332  ODS_FIN_0860        NaN  9999-12-31

      is_period
12940      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
1700   user20  2017-02-15      user20  FMT_POS_0250  2017-07-09  2017-07-11
1886   user20  2017-02-15      user20  FMT_POS_0250  2017-01-02  2017-01-04
5563   user20  2017-02-15      user20  FMT_POS_0250  2017-01-01  2017-02-15
5564   user20  2017-02-15      user20  FMT_POS_0250  2017-01-01  2017-02-15
5567   user20  2017-02-15      user20  FMT_POS_0250  2017-01-01  2017-02-15
5590   user20  2017-02-15      user20  FMT_POS_0250  2017-01-01  2017-02-15
5591   user20  2017-02-15      user20  FMT_POS_0250  2017-01-01  2017-02-15
5593   user20  2017-02-15      user20  FMT_POS_0250  2017-01-01  2017-02-15
6950   user20  2017-02-15      user20  FMT_POS_0250  2017-01-01  2017-02-15
6951   user20  2017-02-15      user20  FMT_POS_0250  2017-01-01  2017-02-15
6952   user20  2017-02-15      user20  FMT_POS_0250  2017-01-01  2017-02-15
6953   user20  2017-02-15      user20  FMT_POS_0250  2017-01-03  2017-01-04

     is_period
1700      True
1886      True
5563      True
5564      True
5567      True
5590      True
5591      True
5593      True
6950      True
6951      True
6952      True
6953      True
QQ

      username  query_date report_name           doc  start_date    end_date  \
2851    user20  2017-04-19      user20  FMT_POS_0180  2017-04-30  2017-04-30
2865    user20  2017-04-19      user20  FMT_POS_0180  2017-04-30  2017-04-30
2866    user20  2017-04-19      user20  ODS_POS_1580  2017-04-30  2017-04-30
30511   user20  2017-04-19      user20  ODS_POS_0920         NaN  9999-12-31
31619   user20  2017-04-19      user20  ODS_POS_1610  2017-04-30  2017-04-30
31629   user20  2017-04-19      user20  FMT_POS_0180  2017-04-30  2017-04-30
31631   user20  2017-04-19      user20  ODS_POS_1580  2017-04-30  2017-04-30

      is_period
2851       True
2865       True
2866       True
30511      True
31619      True
31629      True
31631      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
30972   user20  2017-04-18      user20  FMT_POS_0250  2017-04-18  2017-04-18
31090   user20  2017-04-18      user20  FMT_POS_0250  2017-04-18  2017-04-18

      is_period
30972      True
31090      True
QQ
      username  query_date report_name           doc start_date    end_date  \
16957   user20  2017-03-24      user20  ODS_POS_0840        NaN  9999-12-31
16958   user20  2017-03-24      user20  ODS_POS_0840        NaN  9999-12-31

      is_period
16957      True
16958      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
15051   user20  2017-03-25      user20  FMT_POS_0160  2017-03-01  2017-03-01

      is_period
15051      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
2898   user20  2017-02-18      user20  FMT_POS_0250  2017-01-01  2017-01-04

     is_period
2898      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
12229   001993  2017-03-16      001993  ODS_RI_0390  2017-01-03  2017-01-03
12831   001993  2017-03-16      001993  ODS_RI_0390  2017-01-03  2017-01-03
12857   001993  2017-03-16      001993  ODS_RI_0030         NaN  9999-12-31
12858   001993  2017-03-16      001993  ODS_RI_0020         NaN  9999-12-31
12859   001993  2017-03-16      001993  ODS_RI_0440  2017-01-03  2017-01-03
12860   001993  2017-03-16      001993  ODS_RI_0440  2017-01-03  2017-01-03
12861   001993  2017-03-16      001993  ODS_RI_0030         NaN  9999-12-31
12862   001993  2017-03-16      001993  ODS_RI_0390  2017-01-03  2017-01-03
13187   001993  2017-03-16      001993  ODS_RI_0390  2017-01-03  2017-01-03
13336   001993  2017-03-16      001993  ODS_RI_0440  2017-01-03  2017-01-03
13337   001993  2017-03-16      001993  ODS_RI_0440  2017-01-03  2017-01-03
13338   001993  2017-03-16      001993  ODS_RI_0030         NaN  9999-12-31
13339   001993  2017-03-16      001993  ODS_RI_0050  2017-01-03  2017-01-03
13347   001993  2017-03-16      001993  ODS_RI_0390  2017-01-03  2017-01-03
13348   001993  2017-03-16      001993  ODS_RI_0390  2017-01-03  2017-01-03
13349   001993  2017-03-16      001993  ODS_RI_0390  2017-01-03  2017-01-03

      is_period
12229      True
12831      True
12857      True
12858      True
12859      True
12860      True
12861      True
12862      True
13187      True
13336      True
13337      True
13338      True
13339      True
13347      True
13348      True
13349      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
1528    001993  2017-04-19      001993  ODS_RI_0110         NaN  9999-12-31
2747    001993  2017-04-19      001993  ODS_RI_0390  2017-01-31  2017-01-31
2767    001993  2017-04-19      001993  ODS_RI_0230  2017-01-31  2017-01-31
2777    001993  2017-04-19      001993  ODS_RI_0030         NaN  9999-12-31
2779    001993  2017-04-19      001993  ODS_RI_0020         NaN  9999-12-31
2781    001993  2017-04-19      001993  ODS_RI_0020         NaN  9999-12-31
30460   001993  2017-04-19      001993  ODS_RI_0450  2017-01-31  2017-01-31

      is_period
1528       True
2747       True
2767       True
2777       True
2779       True
2781       True
30460      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
11248   001993  2017-03-13      001993  ODS_RI_0390  2017-01-03  2017-01-03
11250   001993  2017-03-13      001993  ODS_RI_0390  2017-01-03  2017-01-03

      is_period
11248      True
11250      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4179   001383  2017-03-07      001383  FMT_POS_0270  2017-01-01  2017-01-01
4180   001383  2017-03-07      001383  FMT_POS_0270  2017-01-02  2017-01-02
4181   001383  2017-03-07      001383  FMT_POS_0270  2017-01-03  2017-01-03
4182   001383  2017-03-07      001383  FMT_POS_0270  2017-01-04  2017-01-04
4183   001383  2017-03-07      001383  FMT_POS_0270  2017-01-05  2017-01-05
4184   001383  2017-03-07      001383  FMT_POS_0270  2017-01-06  2017-01-06
4185   001383  2017-03-07      001383  FMT_POS_0270  2017-01-07  2017-01-07
4186   001383  2017-03-07      001383  FMT_POS_0270  2017-01-08  2017-01-08
4187   001383  2017-03-07      001383  FMT_POS_0270  2017-01-09  2017-01-09
4188   001383  2017-03-07      001383  FMT_POS_0270  2017-01-10  2017-01-10
4189   001383  2017-03-07      001383  FMT_POS_0270  2017-01-11  2017-01-11
4190   001383  2017-03-07      001383  FMT_POS_0270  2017-01-12  2017-01-12
4191   001383  2017-03-07      001383  FMT_POS_0270  2017-01-13  2017-01-13

     is_period
4179      True
4180      True
4181      True
4182      True
4183      True
4184      True
4185      True
4186      True
4187      True
4188      True
4189      True
4190      True
4191      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
27293   001383  2017-04-11      001383  ODS_POS_0880  2017-04-01  2017-04-01
27294   001383  2017-04-11      001383  ODS_POS_0880  2017-03-01  2017-03-01
27295   001383  2017-04-11      001383  ODS_POS_0880  2017-03-25  2017-03-25
27517   001383  2017-04-11      001383  ODS_POS_0880  2017-04-01  2017-04-01

      is_period
27293      True
27294      True
27295      True
27517      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
7739   001383  2017-03-01      001383  ODS_POS_0950  2017-01-10  2017-01-10
7740   001383  2017-03-01      001383  ODS_POS_0950  2017-01-03  2017-01-03
7741   001383  2017-03-01      001383  ODS_POS_0950  2078-12-31  2078-12-31

     is_period
7739      True
7740      True
7741      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
12114   001383  2017-03-15      001383  FMT_POS_0250  2017-02-07  2017-02-07

      is_period
12114      True
QQ
     username  query_date report_name           doc start_date    end_date  \
8325   001383  2017-03-02      001383  ODS_POS_1140        NaN  9999-12-31

     is_period
8325      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
7756   001414  2017-03-06      001414  ODS_PA_0630_P  2017-01-03  2017-01-03
7757   001414  2017-03-06      001414  ODS_PA_0630_P  2017-01-13  2017-01-13
7758   001414  2017-03-06      001414  ODS_PA_0630_P  2017-01-03  2017-01-03
7759   001414  2017-03-06      001414  ODS_PA_0630_P  2017-01-26  2017-01-26
7761   001414  2017-03-06      001414  ODS_PA_0631_P  2017-01-03  2017-01-26

     is_period
7756      True
7757      True
7758      True
7759      True
7761      True
QQ
      username  query_date report_name         doc start_date    end_date  \
30444   001414  2017-04-20      001414  LS_PA_0180        NaN  9999-12-31
30446   001414  2017-04-20      001414  LS_PA_0180        NaN  9999-12-31
30457   001414  2017-04-20      001414  LS_PA_0180        NaN  9999-12-31
31864   001414  2017-04-20      001414  LS_PA_0180        NaN  9999-12-31
31982   001414  2017-04-20      001414  LS_PA_0180        NaN  9999-12-31

      is_period
30444      True
30446      True
30457      True
31864      True
31982      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
24533   001414  2017-04-08      001414  ODS_PA_0630_P  2017-03-31  2017-03-31
24534   001414  2017-04-08      001414  ODS_PA_0630_P  2017-03-31  2017-03-31
24535   001414  2017-04-08      001414  ODS_PA_0630_P  2017-03-31  2017-03-31
24536   001414  2017-04-08      001414  ODS_PA_0640_P  2017-03-31  2017-03-31

      is_period
24533      True
24534      True
24535      True
24536      True
QQ
      username  query_date report_name         doc start_date    end_date  \
30414   001414  2017-04-21      001414  LS_PA_0180        NaN  9999-12-31
31315   001414  2017-04-21      001414  LS_PA_0180        NaN  9999-12-31
31316   001414  2017-04-21      001414  LS_PA_0180        NaN  9999-12-31

      is_period
30414      True
31315      True
31316      True
QQ

     username  query_date report_name            doc  start_date    end_date  \
455    001414  2017-04-19      001414  ODS_PA_0630_P  2017-03-31  2017-03-31
1645   001414  2017-04-19      001414  ODS_PA_0630_P  2017-03-31  2017-03-31

     is_period
455       True
1645      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
7961   001414  2017-03-04      001414  ODS_PA_0630_P  2017-01-03  2017-01-03
7971   001414  2017-03-04      001414  ODS_PA_0631_P  2017-01-03  2017-01-03

     is_period
7961      True
7971      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
12552  CSIS-R5  2017-03-17     CSIS-R5  FMT_POS_0150  2015-03-17  2017-03-17
12553  CSIS-R5  2017-03-17     CSIS-R5  FMT_POS_0270  2015-03-17  2017-03-17
12554  CSIS-R5  2017-03-17     CSIS-R5  FMT_POS_0130  2015-03-17  2017-03-17
12555  CSIS-R5  2017-03-17     CSIS-R5  FMT_POS_0360  2015-03-17  2017-03-17
12556  CSIS-R5  2017-03-17     CSIS-R5  FMT_POS_0470  2015-03-17  2017-03-17
12557  CSIS-R5  2017-03-17     CSIS-R5  FMT_POS_1570  2015-03-17  2017-03-17
12558  CSIS-R5  2017-03-17     CSIS-R5  FMT_POS_0110  2015-03-17  2017-03-17
12559  CSIS-R5  2017-03-17     CSIS-R5  FMT_POS_0340  2015-03-17  2017-03-17
12560  CSIS-R5  2017-03-17     CSIS-R5  FMT_POS_0310  2015-03-17  2017-03-17
12561  CSIS-R5  2017-03-17     CSIS-R5  FMT_POS_0100  2015-03-17  2017-03-17
12562  CSIS-R5  2017-03-17     CSIS-R5  FMT_POS_0320  2015-03-17  2017-03-17
12563  CSIS-R5  2017-03-17     CSIS-R5  FMT_POS_7230  2015-03-17  2017-03-17
12564  CSIS-R5  2017-03-17     CSIS-R5  FMT_POS_7220  2015-03-17  2017-03-17
12565  CSIS-R5  2017-03-17     CSIS-R5  FMT_POS_7210  2015-03-17  2017-03-17
12566  CSIS-R5  2017-03-17     CSIS-R5  FMT_POS_0080  2015-03-17  2017-03-17
12567  CSIS-R5  2017-03-17     CSIS-R5  FMT_POS_0090  2015-03-17  2017-03-17
12568  CSIS-R5  2017-03-17     CSIS-R5  FMT_POS_0060  2015-03-17  2017-03-17
12569  CSIS-R5  2017-03-17     CSIS-R5  FMT_POS_0070  2015-03-17  2017-03-17
12570  CSIS-R5  2017-03-17     CSIS-R5  FMT_POS_0180  2015-03-17  2017-03-17
12571  CSIS-R5  2017-03-17     CSIS-R5  FMT_POS_0290  2015-03-17  2017-03-17

      is_period
12552      True
12553      True
12554      True
12555      True
12556      True
12557      True
12558      True
12559      True
12560      True
12561      True
12562      True
12563      True
12564      True
12565      True
12566      True
12567      True
12568      True
12569      True
12570      True
12571      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
181    user16  2017-02-10      user16  FMT_POS_0250  2017-12-31  2017-12-31
182    user16  2017-02-10      user16  FMT_POS_0250  2016-11-30  2016-11-30
183    user16  2017-02-10      user16  FMT_POS_0250  2016-12-31  2016-12-31
1155   user16  2017-02-10      user16  FMT_POS_0250  2017-12-31  2017-12-31
1156   user16  2017-02-10      user16  FMT_POS_0250  2017-01-01  2017-01-01
6077   user16  2017-02-10      user16  FMT_POS_0250  2017-01-03  2017-01-03

     is_period
181       True
182       True
183       True
1155      True
1156      True
6077      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
14868   user16  2017-03-22      user16  LS_INV_0030  2017-02-27  2017-02-27
14871   user16  2017-03-22      user16  LS_INV_0030  2017-02-27  2017-02-27
15872   user16  2017-03-22      user16  LS_INV_0030  2017-02-28  2017-02-28
17247   user16  2017-03-22      user16  LS_INV_0030  2017-02-27  2017-02-27

      is_period
14868      True
14871      True
15872      True
17247      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
17029   user16  2017-03-23      user16  FMT_POS_0160  2017-02-27  2017-02-27
17030   user16  2017-03-23      user16  FMT_POS_0160  2017-02-27  2017-02-27
17031   user16  2017-03-23      user16  FMT_POS_0160  2017-03-01  2017-03-01

      is_period
17029      True
17030      True
17031      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
1164   user16  2017-02-14      user16  FMT_POS_0380  2017-01-03  2017-01-03
1166   user16  2017-02-14      user16  FMT_POS_0380  2016-10-01  2017-12-31
5653   user16  2017-02-14      user16  FMT_POS_0250  2016-01-01  2017-12-30

     is_period
1164      True
1166      True
5653      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
30967   user16  2017-04-18      user16  FMT_POS_0250  2017-04-18  2017-04-18

      is_period
30967      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
27734   user16  2017-04-12      user16  FMT_POS_0250  2017-04-30  2017-04-30

      is_period
27734      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
27873   user16  2017-04-11      user16  FMT_POS_0250  2017-04-30  2017-04-30

      is_period
27873      True
QQ
      username  query_date report_name           doc start_date    end_date  \
26702   001883  2017-04-12      001883  ODS_FIN_0311        NaN  9999-12-31
26703   001883  2017-04-12      001883  ODS_FIN_0310        NaN  9999-12-31
26742   001883  2017-04-12      001883  ODS_FIN_0311        NaN  9999-12-31
26743   001883  2017-04-12      001883  ODS_FIN_0310        NaN  9999-12-31
26768   001883  2017-04-12      001883  ODS_FIN_0980        NaN  9999-12-31
26773   001883  2017-04-12      001883  ODS_FIN_0310        NaN  9999-12-31
26783   001883  2017-04-12      001883  ODS_FIN_0311        NaN  9999-12-31
26784   001883  2017-04-12      001883  ODS_FIN_0311        NaN  9999-12-31
26785   001883  2017-04-12      001883  ODS_FIN_0311        NaN  9999-12-31
26786   001883  2017-04-12      001883  ODS_FIN_0311        NaN  9999-12-31
26791   001883  2017-04-12      001883  ODS_FIN_0270        NaN  9999-12-31
26792   001883  2017-04-12      001883  ODS_FIN_0270        NaN  9999-12-31
26811   001883  2017-04-12      001883  ODS_FIN_0270        NaN  9999-12-31
26812   001883  2017-04-12      001883  ODS_FIN_0311        NaN  9999-12-31
26813   001883  2017-04-12      001883  ODS_FIN_0311        NaN  9999-12-31
26834   001883  2017-04-12      001883  ODS_FIN_0350        NaN  9999-12-31

      is_period
26702      True
26703      True
26742      True
26743      True
26768      True
26773      True
26783      True
26784      True
26785      True
26786      True
26791      True
26792      True
26811      True
26812      True
26813      True
26834      True
QQ
      username  query_date report_name           doc start_date    end_date  \
31063   001883  2017-04-18      001883  ODS_FIN_0310        NaN  9999-12-31

      is_period
31063      True
QQ
     username  query_date report_name           doc start_date    end_date  \
4924   AGYYEE  2017-02-08      AGYYEE  ODS_INV_7300        NaN  9999-12-31
4925   AGYYEE  2017-02-08      AGYYEE  ODS_INV_7300        NaN  9999-12-31
4929   AGYYEE  2017-02-08      AGYYEE  ODS_INV_7290        NaN  9999-12-31
4930   AGYYEE  2017-02-08      AGYYEE  ODS_INV_7290        NaN  9999-12-31
4932   AGYYEE  2017-02-08      AGYYEE  ODS_INV_7290        NaN  9999-12-31
4933   AGYYEE  2017-02-08      AGYYEE  ODS_INV_7290        NaN  9999-12-31
4936   AGYYEE  2017-02-08      AGYYEE  ODS_INV_7300        NaN  9999-12-31
5706   AGYYEE  2017-02-08      AGYYEE  ODS_INV_7300        NaN  9999-12-31
5708   AGYYEE  2017-02-08      AGYYEE  ODS_INV_7300        NaN  9999-12-31
5709   AGYYEE  2017-02-08      AGYYEE  ODS_INV_7300        NaN  9999-12-31
5710   AGYYEE  2017-02-08      AGYYEE  ODS_INV_7290        NaN  9999-12-31
5711   AGYYEE  2017-02-08      AGYYEE  ODS_INV_7290        NaN  9999-12-31

     is_period
4924      True
4925      True
4929      True
4930      True
4932      True
4933      True
4936      True
5706      True
5708      True
5709      True
5710      True
5711      True
QQ
     username  query_date report_name           doc start_date    end_date  \
7200   AGYYEE  2017-02-09      AGYYEE  ODS_INV_7300        NaN  9999-12-31
7201   AGYYEE  2017-02-09      AGYYEE  ODS_INV_7290        NaN  9999-12-31
7202   AGYYEE  2017-02-09      AGYYEE  ODS_INV_7290        NaN  9999-12-31
7203   AGYYEE  2017-02-09      AGYYEE  ODS_INV_7300        NaN  9999-12-31

     is_period
7200      True
7201      True
7202      True
7203      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
7509   001416  2017-03-06      001416  ODS_PA_0700_P  2017-01-26  2017-01-26
7510   001416  2017-03-06      001416  ODS_PA_0700_P  2017-01-25  2017-01-25
7515   001416  2017-03-06      001416  ODS_PA_0700_P  2017-01-26  2017-01-26
7516   001416  2017-03-06      001416  ODS_PA_0700_P  2017-01-25  2017-01-25
7517   001416  2017-03-06      001416  ODS_PA_0700_P  2017-01-24  2017-01-24
7849   001416  2017-03-06      001416  ODS_PA_0700_P  2017-01-26  2017-01-26
7850   001416  2017-03-06      001416  ODS_PA_0700_P  2017-01-25  2017-01-25
7851   001416  2017-03-06      001416  ODS_PA_0700_P  2017-01-24  2017-01-24
7876   001416  2017-03-06      001416  ODS_PA_0701_P  2017-01-24  2017-01-26
7877   001416  2017-03-06      001416  ODS_PA_0701_P  2017-01-24  2017-01-26
7878   001416  2017-03-06      001416  ODS_PA_0701_P  2017-01-24  2017-01-26
7879   001416  2017-03-06      001416  ODS_PA_0701_P  2017-01-24  2017-01-26

     is_period
7509      True
7510      True
7515      True
7516      True
7517      True
7849      True
7850      True
7851      True
7876      True
7877      True
7878      True
7879      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
7158   001416  2017-02-16      001416  ODS_PA_0631_P  2017-01-01  2017-02-13

     is_period
7158      True
QQ

     username  query_date report_name          doc  start_date    end_date  \
4022   001416  2017-02-22      001416  FMT_PA_0980  2017-01-01  2017-02-28

     is_period
4022      True
QQ
       username  query_date report_name           doc start_date    end_date  \
3886  invdaphne  2017-02-23   invdaphne  ODS_INV_7230        NaN  9999-12-31
3887  invdaphne  2017-02-23   invdaphne  ODS_INV_7320        NaN  9999-12-31
3888  invdaphne  2017-02-23   invdaphne  ODS_INV_7320        NaN  9999-12-31
4242  invdaphne  2017-02-23   invdaphne  ODS_INV_7230        NaN  9999-12-31
4243  invdaphne  2017-02-23   invdaphne  ODS_INV_7230        NaN  9999-12-31

     is_period
3886      True
3887      True
3888      True
4242      True
4243      True
QQ
       username  query_date report_name           doc start_date    end_date  \
6097  invdaphne  2017-02-09   invdaphne  ODS_INV_7200        NaN  9999-12-31
6098  invdaphne  2017-02-09   invdaphne  ODS_INV_7200        NaN  9999-12-31
6336  invdaphne  2017-02-09   invdaphne  ODS_INV_7220        NaN  9999-12-31

     is_period
6097      True
6098      True
6336      True
QQ
       username  query_date report_name           doc start_date    end_date  \
7191  invdaphne  2017-02-16   invdaphne  ODS_INV_7180        NaN  9999-12-31

     is_period
7191      True
QQ
      username  query_date report_name           doc start_date    end_date  \
264  invdaphne  2017-02-14   invdaphne  ODS_INV_7200        NaN  9999-12-31

    is_period
264      True
QQ
       username  query_date report_name           doc start_date    end_date  \
6837  invdaphne  2017-02-13   invdaphne  ODS_INV_7260        NaN  9999-12-31

     is_period
6837      True
QQ
       username  query_date report_name           doc start_date    end_date  \
1754  invdaphne  2017-02-15   invdaphne  ODS_INV_7260        NaN  9999-12-31

     is_period
1754      True
QQ
       username  query_date report_name           doc start_date    end_date  \
2108  invdaphne  2017-02-17   invdaphne  ODS_INV_7170        NaN  9999-12-31

     is_period
2108      True
QQ
     username  query_date report_name            doc  start_date    end_date  \
7210   000217  2017-02-24      000217  ODS_PA_0631_P  2017-01-03  2017-01-03
7231   000217  2017-02-24      000217  ODS_PA_0501_P  2017-01-03  2017-01-03
7243   000217  2017-02-24      000217  ODS_PA_0501_P  2017-01-03  2017-01-03
7284   000217  2017-02-24      000217  ODS_PA_0600_P  2017-01-03  2017-01-03
7291   000217  2017-02-24      000217  ODS_PA_0630_P  2017-01-03  2017-01-03
7311   000217  2017-02-24      000217  ODS_PA_0630_P  2017-01-03  2017-01-03

     is_period
7210      True
7231      True
7243      True
7284      True
7291      True
7311      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
28413   000217  2017-04-15      000217  FMT_PA_0710  2017-04-05  2017-04-05
28415   000217  2017-04-15      000217  FMT_PA_0860  2017-03-01  2017-03-01
28416   000217  2017-04-15      000217  FMT_PA_0750  2017-03-01  2017-03-01

      is_period
28413      True
28415      True
28416      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
19049   000217  2017-03-27      000217  FMT_PA_0850  2017-03-01  2017-03-01
19055   000217  2017-03-27      000217  FMT_PA_0850  2017-03-01  2017-03-01
19427   000217  2017-03-27      000217  FMT_PA_0850         NaN  9999-12-31

      is_period
19049      True
19055      True
19427      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
24460   000217  2017-04-08      000217  ODS_PA_0640_P  2017-03-31  2017-03-31

      is_period
24460      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
871   NBJENIA  2017-02-09     NBJENIA  ODS_UNB_0260  2017-02-08  2017-02-08
872   NBJENIA  2017-02-09     NBJENIA  ODS_UNB_0260  2017-02-08  2017-02-08
873   NBJENIA  2017-02-09     NBJENIA  ODS_UNB_0260  2017-02-07  2017-02-07
874   NBJENIA  2017-02-09     NBJENIA  ODS_UNB_0260  2017-01-01  2017-01-01
876   NBJENIA  2017-02-09     NBJENIA  ODS_UNB_0260  2017-01-31  2017-01-31
1217  NBJENIA  2017-02-09     NBJENIA  ODS_UNB_0260  2016-01-31  2016-01-31
1218  NBJENIA  2017-02-09     NBJENIA  ODS_UNB_0260  2017-01-01  2017-01-01
1219  NBJENIA  2017-02-09     NBJENIA  ODS_UNB_0260  2017-01-31  2017-01-31

     is_period
871       True
872       True
873       True
874       True
876       True
1217      True
1218      True
1219      True
QQ
    username  query_date report_name           doc start_date    end_date  \
13   NBJENIA  2017-02-10     NBJENIA  ODS_UNB_0680        NaN  9999-12-31
237  NBJENIA  2017-02-10     NBJENIA  ODS_UNB_0680        NaN  9999-12-31

    is_period
13       True
237      True
QQ
     username  query_date report_name           doc start_date    end_date  \
5704  NBJENIA  2017-02-08     NBJENIA  ODS_UNB_0470        NaN  9999-12-31
5705  NBJENIA  2017-02-08     NBJENIA  ODS_UNB_0470        NaN  9999-12-31

     is_period
5704      True
5705      True
QQ
      username  query_date report_name           doc  start_date end_date  \
15131     test  2017-03-24        test  ODS_INV_7010  2015-10-03      NaN
15132     test  2017-03-24        test  ODS_INV_7010  2015-10-03      NaN
15638     test  2017-03-24        test  ODS_INV_7010  2015-10-03      NaN

      is_period
15131      True
15132      True
15638      True
QQ
      username  query_date report_name           doc  start_date end_date  \
16229     test  2017-03-21        test  ODS_CLM_0430  2015-10-03      NaN
16230     test  2017-03-21        test  ODS_INV_7010  2015-10-03      NaN

      is_period
16229      True
16230      True
QQ
     username  query_date report_name           doc start_date end_date  \
8382     test  2017-03-02        test  ODS_UNB_0232        NaN      NaN
8473     test  2017-03-02        test  ODS_UNB_0232        NaN      NaN

     is_period
8382     False
8473     False
QQ
     username  query_date report_name           doc start_date end_date  \
6481     test  2017-03-03        test  ODS_UNB_0232        NaN      NaN
6633     test  2017-03-03        test  ODS_UNB_0232        NaN      NaN

     is_period
6481     False
6633     False
QQ
     username  query_date report_name           doc start_date end_date  \
7436     test  2017-03-06        test  ODS_UNB_0232        NaN      NaN

     is_period
7436     False
QQ
      username  query_date report_name           doc start_date end_date  \
11505     test  2017-03-13        test  ODS_UNB_0232        NaN      NaN

      is_period
11505     False
QQ
      username  query_date report_name           doc  start_date end_date  \
11330     test  2017-04-12        test  ODS_POS_0430  2015-10-03      NaN

      is_period
11330      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
11512     LIFE  2017-03-13        LIFE  FMT_PA_0710  2017-01-26  2017-01-26
11513     LIFE  2017-03-13        LIFE  FMT_PA_0750  2016-01-26  2016-01-26
11514     LIFE  2017-03-13        LIFE  FMT_PA_0750  2016-01-13  2016-01-13
11515     LIFE  2017-03-13        LIFE  FMT_PA_0750  2016-01-03  2016-01-03
11516     LIFE  2017-03-13        LIFE  FMT_PA_0750  2017-01-03  2017-01-03
11517     LIFE  2017-03-13        LIFE  FMT_PA_0750  2017-01-10  2017-01-10
11518     LIFE  2017-03-13        LIFE  FMT_PA_0750  2017-01-13  2017-01-13
11519     LIFE  2017-03-13        LIFE     #POLICY#         NaN  9999-12-31

      is_period
11512      True
11513      True
11514      True
11515      True
11516      True
11517      True
11518      True
11519      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
11432     LIFE  2017-03-14        LIFE  FMT_PA_0970  2017-01-26  2017-01-26
11433     LIFE  2017-03-14        LIFE  FMT_PA_0970  2017-01-26  2017-01-26

      is_period
11432      True
11433      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
28796    janus  2017-04-17       janus  ODS_POS_1340  2016-04-30  2016-04-30
28797    janus  2017-04-17       janus  ODS_POS_0970         NaN  9999-12-31
28799    janus  2017-04-17       janus  ODS_POS_0970         NaN  9999-12-31
28800    janus  2017-04-17       janus  ODS_POS_0970         NaN  9999-12-31
28802    janus  2017-04-17       janus  ODS_POS_0970         NaN  9999-12-31

      is_period
28796      True
28797      True
28799      True
28800      True
28802      True
QQ
      username  query_date report_name            doc  start_date    end_date  \
17963    janus  2017-03-30       janus  ODS_PA_0570_P  2017-03-01  2017-03-01
20089    janus  2017-03-30       janus   ODS_FIN_0610         NaN  9999-12-31

      is_period
17963      True
20089      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
30936    janus  2017-04-18       janus  ODS_UNB_0560  2016-04-30  2016-04-30

      is_period
30936      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
25682    janus  2017-04-07       janus  ODS_PA_0460  2017-03-31  2017-03-31

      is_period
25682      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
30973   000551  2017-04-18      000551  ODS_SC_6200  2017-03-31  2017-03-31
31052   000551  2017-04-18      000551  ODS_SC_6200  2017-03-01  2017-03-01
31082   000551  2017-04-18      000551  ODS_SC_6200  2017-03-31  2017-03-31
31103   000551  2017-04-18      000551  ODS_SC_6230  2017-04-30  2017-04-30

      is_period
30973      True
31052      True
31082      True
31103      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
18808   000551  2017-03-27      000551  ODS_SC_6211  2017-03-01  2017-03-01
18811   000551  2017-03-27      000551  ODS_SC_6200  2017-03-02  2017-03-02
19136   000551  2017-03-27      000551  ODS_SC_6210  2017-03-01  2017-03-01
19137   000551  2017-03-27      000551  ODS_SC_6211  2017-03-01  2017-03-01

      is_period
18808      True
18811      True
19136      True
19137      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
29006   000270  2017-04-17      000270  ODS_POS_1410         NaN  9999-12-31
29326   000270  2017-04-17      000270  ODS_POS_1410  2017-04-05  2017-04-05
29368   000270  2017-04-17      000270  FMT_POS_0250  2017-04-17  2017-05-31
29449   000270  2017-04-17      000270  ODS_POS_1410  2017-04-30  2017-04-30
29794   000270  2017-04-17      000270  ODS_POS_1410  2017-04-05  2017-04-05

      is_period
29006      True
29326      True
29368      True
29449      True
29794      True

QQ
      username  query_date report_name           doc  start_date    end_date  \
23627   000270  2017-04-07      000270  ODS_POS_1410  2017-03-31  2017-03-31
23713   000270  2017-04-07      000270  FMT_POS_0290  2017-03-17  2017-03-31
23714   000270  2017-04-07      000270  FMT_POS_0290  2017-03-17  2017-03-31

      is_period
23627      True
23713      True
23714      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
4434   000323  2017-03-01      000323  ODS_CLM_0400  2017-01-31  2017-01-31
7428   000323  2017-03-01      000323  ODS_CLM_0370  2017-01-31  2017-01-31
7429   000323  2017-03-01      000323  ODS_CLM_0360  2017-01-31  2017-01-31
7677   000323  2017-03-01      000323  ODS_CLM_0350  2017-01-31  2017-01-31

     is_period
4434      True
7428      True
7429      True
7677      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
12960   000323  2017-03-16      000323  ODS_CLM_0400  2017-01-26  2017-01-26
12962   000323  2017-03-16      000323  ODS_CLM_0370  2017-02-02  2017-02-02
13211   000323  2017-03-16      000323  ODS_CLM_0400  2017-02-02  2017-02-02

      is_period
12960      True
12962      True
13211      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
8319   000323  2017-03-02      000323  ODS_CLM_0370  2017-01-10  2017-01-10

     is_period
8319      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
6472  allencha  2017-03-03    allencha  ODS_CLM_0510  2017-01-20  2017-01-20
6473  allencha  2017-03-03    allencha  ODS_CLM_0400  2017-01-20  2017-01-20
6474  allencha  2017-03-03    allencha  ODS_INV_7200         NaN  9999-12-31
6475  allencha  2017-03-03    allencha  ODS_FIN_1150         NaN  9999-12-31
6476  allencha  2017-03-03    allencha  ODS_POS_1140         NaN  9999-12-31
6477  allencha  2017-03-03    allencha  ODS_POS_1140         NaN  9999-12-31

     is_period
6472      True
6473      True
6474      True
6475      True
6476      True
6477      True
QQ
       username  query_date report_name           doc start_date    end_date  \
10742  allencha  2017-03-13    allencha  ODS_ESP_0203        NaN  9999-12-31

      is_period
10742      True
QQ
      username  query_date report_name          doc start_date    end_date  \
31277   001420  2017-04-21      001420  ODS_SC_6170        NaN  9999-12-31
31330   001420  2017-04-21      001420  ODS_SC_6170        NaN  9999-12-31
31331   001420  2017-04-21      001420  ODS_SC_6170        NaN  9999-12-31
31621   001420  2017-04-21      001420  ODS_SC_6170        NaN  9999-12-31
31622   001420  2017-04-21      001420  ODS_SC_6170        NaN  9999-12-31
31624   001420  2017-04-21      001420  ODS_SC_6140        NaN  9999-12-31

      is_period
31277      True
31330      True
31331      True
31621      True
31622      True
31624      True
QQ
    username  query_date report_name           doc  start_date    end_date  \
262   000622  2017-02-14      000622  FMT_POS_0160  2017-01-03  2017-01-03
263   000622  2017-02-14      000622  FMT_POS_0160  2017-01-03  2017-01-03
265   000622  2017-02-14      000622  FMT_POS_0160  2017-01-03  2017-01-03
266   000622  2017-02-14      000622  FMT_POS_0160  2017-01-03  2017-01-03
267   000622  2017-02-14      000622  FMT_POS_0160  2017-01-03  2017-01-03
268   000622  2017-02-14      000622  FMT_POS_0160  2017-01-03  2017-01-03

    is_period
262      True
263      True
265      True
266      True
267      True
268      True
QQ
      username  query_date report_name           doc start_date    end_date  \
18603    Cheng  2017-03-29       Cheng  ODS_FIN_0830        NaN  9999-12-31
19200    Cheng  2017-03-29       Cheng  ODS_FIN_0830        NaN  9999-12-31
19550    Cheng  2017-03-29       Cheng     report001        NaN         NaN

      is_period
18603      True
19200      True
19550     False
QQ
      username  query_date report_name           doc  start_date end_date  \
14402    Cheng  2017-04-12       Cheng  ODS_POS_0430  2015-10-03      NaN
26790    Cheng  2017-04-12       Cheng  ODS_POS_0430  2015-10-03      NaN

      is_period
14402      True
26790      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
5521   user17  2017-02-15      user17  FMT_POS_0190         NaN  9999-12-31
5565   user17  2017-02-15      user17  FMT_POS_0250  2017-01-03  2017-01-03
5566   user17  2017-02-15      user17  FMT_POS_0250  2017-01-03  2017-01-03
5571   user17  2017-02-15      user17  FMT_POS_0250  2017-01-03  2017-01-03

     is_period
5521      True
5565      True
5566      True
5571      True
QQ
      username  query_date report_name           doc  start_date    end_date  \
29535   user17  2017-04-14      user17  FMT_POS_0250  2017-04-01  2017-04-14

      is_period
29535      True
QQ
        username  query_date report_name           doc start_date end_date  \
1425  CFtestUser  2017-04-19  CFtestUser  FMT_POS_0290        NaN      NaN
1426  CFtestUser  2017-04-19  CFtestUser  FMT_POS_0290        NaN      NaN
1555  CFtestUser  2017-04-19  CFtestUser  FMT_POS_0290        NaN      NaN
1556  CFtestUser  2017-04-19  CFtestUser  FMT_POS_0290        NaN      NaN
1559  CFtestUser  2017-04-19  CFtestUser  FMT_POS_0290        NaN      NaN

     is_period
1425     False
1426     False
1555     False
1556     False
1559     False
QQ
      username  query_date report_name          doc start_date    end_date  \
29852   001158  2017-04-13      001158  ODS_SC_6750        NaN  9999-12-31
29853   001158  2017-04-13      001158  ODS_SC_6750        NaN  9999-12-31
29854   001158  2017-04-13      001158  ODS_SC_6750        NaN  9999-12-31
29855   001158  2017-04-13      001158  ODS_SC_6750        NaN  9999-12-31

      is_period
29852      True
29853      True
29854      True
29855      True
QQ
     username  query_date report_name           doc start_date    end_date  \
878    001726  2017-02-10      001726  ODS_FIN_0770        NaN  9999-12-31
5732   001726  2017-02-10      001726  ODS_FIN_1340        NaN  9999-12-31

     is_period
878       True
5732      True
QQ
      username  query_date report_name           doc start_date    end_date  \
26799   001726  2017-04-12      001726  ODS_FIN_0750        NaN  9999-12-31
26802   001726  2017-04-12      001726  ODS_FIN_0750        NaN  9999-12-31

      is_period
26799      True
26802      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
8428   001101  2017-03-02      001101  ODS_CLM_0430  2017-01-10  2017-01-10
8435   001101  2017-03-02      001101  ODS_CLM_0440         NaN  9999-12-31

     is_period
8428      True
8435      True
QQ
     username  query_date report_name           doc  start_date    end_date  \
8833   001101  2017-03-06      001101  ODS_CLM_0510  2017-01-31  2017-01-31

     is_period
8833      True
QQ
     username  query_date report_name          doc  start_date    end_date  \
1523   000257  2017-04-19      000257  ODS_RI_0170  2017-01-03  2017-01-03
2800   000257  2017-04-19      000257  ODS_RI_0170  2017-01-31  2017-01-31
2803   000257  2017-04-19      000257  ODS_RI_0170  2017-03-31  2017-03-31

     is_period
1523      True
2800      True
2803      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
28106   001735  2017-04-15      001735  ODS_SC_6530  2017-03-01  2017-03-01
28108   001735  2017-04-15      001735  ODS_SC_6390         NaN  9999-12-31
28131   001735  2017-04-15      001735  ODS_SC_6530  2017-03-01  2017-03-01

      is_period
28106      True
28108      True
28131      True
QQ
      username  query_date report_name          doc  start_date    end_date  \
11059  yenchin  2017-03-14     yenchin  ODS_RI_0390  2016-02-01  2016-02-01
11060  yenchin  2017-03-14     yenchin  ODS_RI_0390  2016-01-10  2016-01-10
11062  yenchin  2017-03-14     yenchin  ODS_RI_0400  2017-01-26  2017-01-26

      is_period
11059      True
11060      True
11062      True
QQ
      username  query_date report_name           doc start_date    end_date  \
29262   EVOICE  2017-04-13      EVOICE  FMT_CLM_0010        NaN  2017-04-13
29294   EVOICE  2017-04-13      EVOICE  FMT_CLM_0010        NaN  2017-04-13

      is_period
29262      True
29294      True
QQ
      username  query_date report_name           doc start_date    end_date  \
11710   001336  2017-03-15      001336  ODS_ACT_0270        NaN  9999-12-31

      is_period
11710      True
QQ
     username  query_date report_name           doc start_date    end_date  \
1220   000606  2017-02-09      000606  ODS_INV_7100        NaN  9999-12-31

     is_period
1220      True
QQ

KeyError: 'the label [1] is not in the [index]'

In [8]:
# for doc type
DocFolderpath = '/Doc_statistic/'
DocClickFolderpath = '/DocClick_statistic/'

for doc_i in each_doc:
    
    csvName = cwd + DocFolderpath + str(doc_i) + csvFinalName
    csvClickName = cwd + DocClickFolderpath + str(doc_i) + csvFinalName
    check_file_path_exist(csvName)
    check_file_path_exist(csvClickName)
    
    docDF = df.loc[df['doc'] == doc_i]
#     print(doc_i)
    docDF_counter = docDF['username'].value_counts(0)
#     print(doc_i)
    docDF.to_csv(csvName)
    docDF_counter.to_csv(csvClickName)

'/Users/MH/SourceTreeproject/PredictSheetAction/Doc_statistic/ODS_FIN_0781_statistic.csv'