In [1]:
# Quake Forecast: Predict Time, Location and Magnitude of a Quake
import pandas as pd
import time
from datetime import datetime
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [2]:
username = 'mPOS'
query_date_year = 2017
query_date_month = 5
query_date_day = 5
query_date_weekday = 5

In [3]:
trainDF = pd.read_csv('TrainingFeature.csv', index_col=False )

In [4]:
feature = ['username',  'query_date_year' , 'query_date_month'  ,'query_date_day', 'query_date_weekday'  ]

In [5]:
# Predict Location
targetDoc = 'FMT_POS_190'
targetDF = pd.read_csv(targetDoc + '_Target.csv' )

Pre_data = trainDF[feature]
target = targetDF[targetDoc]
# print(target)
Pre_data

,username,query_date_year,query_date_month,query_date_day,query_date_weekday
0,001713,2017,2,10,5
1,calvin,2017,2,10,5
2,calvin,2017,2,10,5
3,user1,2017,2,10,5
4,user1,2017,2,10,5
5,user1,2017,2,10,5
6,user1,2017,2,10,5
7,user1,2017,2,10,5
8,calvin,2017,2,10,5
9,calvin,2017,2,10,5
10,calvin,2017,2,10,5
11,calvin,2017,2,10,5
12,001751,2017,2,10,5
13,NBJENIA,2017,2,10,5
14,roxana,2017,2,10,5
15,calvin,2017,2,10,5
16,roxana,2017,2,10,5
17,calvin,2017,2,10,5
18,calvin,2017,2,10,5
19,calvin,2017,2,10,5
20,mPOS,2017,2,10,5
21,mPOS,2017,2,10,5
22,mPOS,2017,2,10,5
23,mPOS,2017,2,10,5
24,mPOS,2017,2,10,5
25,mPOS,2017,2,10,5
26,mPOS,2017,2,10,5
27,mPOS,2017,2,10,5
28,mPOS,2017,2,10,5
29,mPOS,2017,2,10,5
...,...,...,...,...,...
32293,mPOS,2017,4,20,4
32294,mPOS,2017,4,20,4
32295,mPOS,2017,4,20,4
32296,mPOS,2017,4,20,4
32297,mPOS,2017,4,20,4
32298,mPOS,2017,4,20,4
32299,mPOS,2017,4,20,4
32300,mPOS,2017,4,20,4
32301,mPOS,2017,4,20,4
32302,mPOS,2017,4,20,4
32303,mPOS,2017,4,20,4
32304,roxana,2017,4,20,4
32305,roxana,2017,4,20,4
32306,user6,2017,4,20,4
32307,mPOS,2017,4,20,4
32308,user6,2017,4,20,4
32309,mPOS,2017,4,18,2
32310,000718,2017,4,20,4
32311,mPOS,2017,4,20,4
32312,yusiang,2017,4,20,4
32313,user6,2017,4,20,4
32314,yusiang,2017,4,20,4
32315,user4,2017,4,18,2
32316,jessie,2017,4,18,2
32317,yusiang,2017,4,20,4
32318,mPOS,2017,4,18,2
32319,mPOS,2017,4,18,2
32320,mPOS,2017,4,18,2
32321,mPOS,2017,4,18,2
32322,user4,2017,4,18,2

In [7]:
data = pd.get_dummies(Pre_data)

In [8]:
data.shape

(32323, 105)

In [9]:
data.head(5)

,query_date_year,query_date_month,query_date_day,query_date_weekday,username_000124,username_000166,username_000217,username_000219,username_000232,username_000257,...,username_user3,username_user4,username_user5,username_user6,username_user7,username_user8,username_user9,username_weiting,username_yenchin,username_yusiang
0,2017,2,10,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2017,2,10,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2017,2,10,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,2017,2,10,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,2017,2,10,5,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
featureHead = data.axes[1]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.33, random_state=42)

In [12]:
X_train.shape, y_train.shape

((21656, 105), (21656,))

In [13]:
X_test.shape, y_test.shape

((10667, 105), (10667,))

In [14]:
model = RandomForestClassifier(n_estimators=20)
model.fit(data, target)
model.score(X_test, y_test)

0.98134433298959411

In [15]:
from calendar import Calendar

month = Calendar().itermonthdates(2017,3)
allday =[day for day in month if day.month == 3]
# print(allday) # this function will pad to make up full weeks, so filter it by month

In [17]:
print("Predic Doc Name: " + targetDoc )
ClickDoc_Prob = 0.2

for predic_month in range(12):
    predic_month = predic_month + 1 
    month = Calendar().itermonthdates(2017,predic_month)
    allday =[day for day in month if day.month == predic_month]

    for day in allday:
        query_date_year = 2017
        query_date_month = day.month
        query_date_day = day.day
        query_date_weekday = day.weekday()+1
        pre_Data = [query_date_year,query_date_month,query_date_day,query_date_weekday]
#         print(day," weekday: ", query_date_weekday)
        predicAll = 0
        for i in range(101):
            listofzeros = [0] * (105 - 4)
            listofzeros[i] = 1
            predicData = pre_Data + listofzeros
            doc_predict = model.predict([predicData])
            doc_predict_proba = model.predict_proba([predicData])
            if (doc_predict_proba[0][1] >= ClickDoc_Prob):
                print(day," weekday: ", query_date_weekday)
                print("user feature: ", featureHead[i+4], " click prob: ", doc_predict_proba)
            if (doc_predict != 0):
                
                print("user click: ", featureHead[i+4])
                predicAll = predicAll + doc_predict
    #     print("all user click counter: ",predicAll, "\n")

Predic Doc Name: FMT_POS_190
2017-02-22  weekday:  3
user feature:  username_mPOS  click prob:  [[ 0.78130538  0.21869462]]
2017-03-06  weekday:  1
user feature:  username_mPOS  click prob:  [[ 0.66370892  0.33629108]]
2017-03-09  weekday:  4
user feature:  username_mPOS  click prob:  [[ 0.74637452  0.25362548]]
2017-04-12  weekday:  3
user feature:  username_mPOS  click prob:  [[ 0.64685965  0.35314035]]
2017-05-10  weekday:  3
user feature:  username_mPOS  click prob:  [[ 0.7924713  0.2075287]]
2017-06-14  weekday:  3
user feature:  username_mPOS  click prob:  [[ 0.69203946  0.30796054]]
2017-07-12  weekday:  3
user feature:  username_mPOS  click prob:  [[ 0.64685965  0.35314035]]
2017-09-12  weekday:  2
user feature:  username_mPOS  click prob:  [[ 0.79774644  0.20225356]]
2017-09-13  weekday:  3
user feature:  username_mPOS  click prob:  [[ 0.69143027  0.30856973]]
2017-10-11  weekday:  3
user feature:  username_mPOS  click prob:  [[ 0.65223563  0.34776437]]
2017-11-15  weekday:  3
user feature:  username_mPOS  click prob:  [[ 0.79439842  0.20560158]]
2017-12-12  weekday:  2
user feature:  username_mPOS  click prob:  [[ 0.79774644  0.20225356]]
2017-12-13  weekday:  3
user feature:  username_mPOS  click prob:  [[ 0.69143027  0.30856973]]

In [57]:
model.predict_proba([predicData])

array([[ 1.,  0.]])